﻿@inject IOptions<AppSettings> AppSettings
@{
    // See Index.cshtml for full comments.
    ViewBag.Title = "About";
    ViewBag.Description = "The NITA MIS about page.";
}

@section head
{
    @* See Index.cshtml for full comments. *@
    <meta name="author" content="ABNO Softwares Int.">
    <twitter-card-summary-large-image username="@@ABNO">
    <open-graph-business site-name="@AppSettings.Value.SiteTitle"
                         title="@ViewBag.Title"
                         main-image="@(new OpenGraphImage(
                             Url.AbsoluteContent("~/img/icons/open-graph-1200x630.png"),
                             ContentType.Png,
                             1200,
                             630))"
                         contact-data="@(new OpenGraphContactData("1 Street Name", "City", "SW1 1SW", "United Kingdom")
                             {
                                 Email = "email@example.com",
                                 Phone = "111-222-333-444",
                                 Website = Url.AbsoluteRouteUrl(HomeControllerRoute.GetIndex)
                             })"
                         location="@(new OpenGraphLocation(51.5286417, -0.1015987))"
                         determiner="Blank">
    <meta asp-referrer="OriginWhenCrossOrigin">
}

<header class="page-header">
    <h1><span aria-hidden="true" class="fa fa-users"></span> @ViewBag.Title</h1>
</header>

<p>@ViewBag.Description</p>