﻿@inject IOptions<AppSettings> AppSettings
@{
    // See Index.cshtml for full comments.
    ViewBag.Title = "Contact";
    ViewBag.Description = "The NITA MIS contact page.";
}

@section head
{
    @* See Index.cshtml for full comments. *@
    <meta name="author" content="ABNO Softwares Int.">
    <twitter-card-summary-large-image username="@@ABNO">
    <open-graph-profile site-name="@AppSettings.Value.SiteTitle"
                        title="@ViewBag.Title"
                        main-image="@(new OpenGraphImage(
                            Url.AbsoluteContent("~/img/icons/open-graph-1200x630.png"),
                            ContentType.Png,
                            1200,
                            630))"
                        first-name="Muhammad Rehan"
                        gender="OpenGraphGender.Male"
                        last-name="Saeed"
                        username="ABNO Softwares Int."
                        determiner="Blank">
    <meta asp-referrer="OriginWhenCrossOrigin">
}

<header class="page-header">
    <h1><span aria-hidden="true" class="fa fa-phone"></span> @ViewBag.Title</h1>
</header>

<div class="row">
    <section class="col-md-9" role="region">
        <p>@ViewBag.Description</p>
    </section>
    <aside class="col-md-3" role="complementary">
        <address>
            One Microsoft Way<br>
            Redmond, WA 98052-6399<br>
            <abbr title="Phone">P:</abbr>
            425.555.0100
        </address>
        <address>
            <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
        </address>
    </aside>
</div>