﻿@inject IOptions<AppSettings> AppSettings

@inject IHostingEnvironment hostingEnvironment

@{
    // title - The title of the page which appears in the browser window title. Aim for the title to be less than 70
    //         characters. The site name appears at the end for better SEO.
    ViewBag.Title = "Home";
    // Description - Used by search engines. Aim for more than 160 characters.
    ViewBag.Description = "A professional ASP.NET MVC template for building secure, fast, robust and adaptable web applications or sites. It provides the minimum amount of code required on top of the default MVC template provided by Microsoft.";
    
}

@* Code in the head section below gets added at the bottom of the HTML head element. This section can be used to enter
    custom meta tags specific to this page. *@
@section head
    {
    @* See Index.cshtml for full comments. *@
    <meta name="author" content="ABNO Softwares Int.">
    @* Author - (Optional) Used by search engines. The author of the page. *@
    <meta name="author" content="ABNO Softwares Int.">
    @* Add Twitter Card social meta tags so we can customize what happens when our page is shared on Twitter. There are
        several different Twitter Card types we could add, a different one is added on each page as an example.
        These helpers make it very easy to add the meta tags. For best performance, see what tags are generated and
        hand-code them yourself instead of using these helpers. *@
    <twitter-card-summary-large-image username="@@ABNO">
        @* Add Open Graph social meta tags so we can customize what happens when our page is shared on Facebook, Google+,
            Pintrest and other social media websites. There are dozens of Open Graph types, a different one is added on
            each page as an example. These helpers make it very easy to add the meta tags. For best performance, see what
            tags are generated and hand-code them yourself instead of using these helpers. *@
        <open-graph-website site-name="@AppSettings.Value.SiteTitle"
                            title="@ViewBag.Title"
                            main-image="@(new OpenGraphImage(
                            Url.AbsoluteContent("~/img/icons/open-graph-1200x630.png"),
                            ContentType.Png,
                            1200,
                            630))"
                            determiner="Blank">
            @* referrer - Controls what is sent in the HTTP referrer header when a client navigates to an external site. *@
            <meta asp-referrer="OriginWhenCrossOrigin">

            <!-- This page CSS -->
            <link href="~/lib/plugins/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet" asp-append-version="true">
            <!-- chartist CSS -->
            <link href="~/lib/plugins/chartist-js/dist/chartist.min.css" rel="stylesheet" asp-append-version="true">
            <link href="~/lib/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css" rel="stylesheet" asp-append-version="true">
            <!--c3 CSS -->
            <link href="~/lib/plugins/c3-master/c3.min.css" rel="stylesheet" asp-append-version="true">
            <!-- Dashboard 1 Page CSS -->
            <link href="~/lib/css/pages/dashboard1.css" rel="stylesheet" asp-append-version="true">

        }

        @*
    Page Content
        *@

        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-themecolor">Dashboard 1</h3>
                </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item active">Dashboard 1</li>
                    </ol>
                </div>
                <div class="">
                    <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Sales overview chart -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        @*<div class="card-body">*@
                            <!-- ============================================================== -->
                            <!-- Stats box -->
                            <!-- ============================================================== -->
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="card bg-info">
                                        <div class="card-body">
                                            <div class="d-flex no-block">
                                                <div class="m-r-20 align-self-center"><img src="~/lib/images/icon/income-w.png" alt="Income" /></div>
                                                <div class="align-self-center">
                                                    <h6 class="text-white m-t-10 m-b-0">Total Income</h6>
                                                    <h2 class="m-t-0 text-white">953,000</h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="card bg-success">
                                        <div class="card-body">
                                            <div class="d-flex no-block">
                                                <div class="m-r-20 align-self-center"><img src="~/lib/images/icon/expense-w.png" alt="Income" /></div>
                                                <div class="align-self-center">
                                                    <h6 class="text-white m-t-10 m-b-0">Total Expense</h6>
                                                    <h2 class="m-t-0 text-white">236,000</h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="card bg-primary">
                                        <div class="card-body">
                                            <div class="d-flex no-block">
                                                <div class="m-r-20 align-self-center"><img src="~/lib/images/icon/assets-w.png" alt="Income" /></div>
                                                <div class="align-self-center">
                                                    <h6 class="text-white m-t-10 m-b-0">Total Assets</h6>
                                                    <h2 class="m-t-0 text-white">987,563</h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="card bg-danger">
                                        <div class="card-body">
                                            <div class="d-flex no-block">
                                                <div class="m-r-20 align-self-center"><img src="~/lib/images/icon/staff-w.png" alt="Income" /></div>
                                                <div class="align-self-center">
                                                    <h6 class="text-white m-t-10 m-b-0">Total Staff</h6>
                                                    <h2 class="m-t-0 text-white">987,563</h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        @*</div>*@
                    </div>
                </div>
            </div>
           
            <!-- ============================================================== -->
            <!-- End Right sidebar -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->

      

        @section scripts{
        @*Optional View specific scripts**@
        <!-- ============================================================== -->
        <!-- This page plugins -->
        <!-- ============================================================== -->
        <!--sparkline JavaScript -->
        <script src="~/lib/plugins/sparkline/jquery.sparkline.min.js"></script>
        <!--morris JavaScript -->
        <script src="~/lib/plugins/chartist-js/dist/chartist.min.js"></script>
        <script src="~/lib/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js"></script>
        <!--c3 JavaScript -->
        <script src="~/lib/plugins/d3/d3.min.js"></script>
        <script src="~/lib/plugins/c3-master/c3.min.js"></script>
        <!-- Chart JS -->
        <script src="~/lib/js/dashboard1.js"></script>
        <!-- ============================================================== -->
        }
