﻿@inject IOptions<AppSettings> AppSettings
@inject IOptions<MpesaSettings> MpesaSettings

@inject IHostingEnvironment hostingEnvironment

@{
    // See Index.cshtml for full comments.
    ViewBag.Title = "Mpesa API";
    ViewBag.Description = "The NITA MIS about page.";
}

@section head
{
    @* See Index.cshtml for full comments. *@
    <meta name="author" content="ABNO Softwares Int.">
    <twitter-card-summary-large-image username="@@ABNO">
    <open-graph-business site-name="@AppSettings.Value.SiteTitle"
                         title="@ViewBag.Title"
                         main-image="@(new OpenGraphImage(
                             Url.AbsoluteContent("~/img/icons/open-graph-1200x630.png"),
                             ContentType.Png,
                             1200,
                             630))"
                         contact-data="@(new OpenGraphContactData("1 Street Name", "City", "SW1 1SW", "United Kingdom")
                             {
                                 Email = "email@example.com",
                                 Phone = "111-222-333-444",
                                 Website = Url.AbsoluteRouteUrl(HomeControllerRoute.GetIndex)
                             })"
                         location="@(new OpenGraphLocation(51.5286417, -0.1015987))"
                         determiner="Blank">
    <meta asp-referrer="OriginWhenCrossOrigin">
}

<header class="page-header">
    <h1><span aria-hidden="true" class="fa fa-money"></span> @ViewBag.Title</h1>
</header>
<header  class="page-header">
    <h3><span aria-hidden="true" class="fa fa-key"></span> M-Pesa Crdentials</h3>
</header>
<div style="border:solid thin #888;border-radius:2px 4px;margin:4px;padding:5px">
    <div class="row">
        <div class="col-sm-4">
            <div class="col-sm-6">
                Initiator Name :
            </div>
            <div class="col-sm-6">
                @if (MpesaSettings.Value.InitiatorName.Trim().Length == 0)
                {
                    if (hostingEnvironment.IsDevelopment())
                    {
                        <text>@Portal.Middlewares.Handlers.Mpesa.ShortCode1.InitiatorName (Devt.)</text>

                    }
                    else
                    {
                        <text>Not Set</text>

                    }

                }
                else
                {
                    <text>@MpesaSettings.Value.InitiatorName</text>
                }
            </div>
        </div>
        <div class="col-sm-4">
            <div class="col-sm-6">
                Short Code :
            </div>
            <div class="col-sm-6">
                @if(MpesaSettings.Value.ShortCode.Trim().Length == 0)
                {
                    if (hostingEnvironment.IsDevelopment())
                    {
                        <text>@Portal.Middlewares.Handlers.Mpesa.ShortCode1.Value (Devt.)</text>

                    }
                    else
                    {
                        <text>Not Set</text>

                    }

                }else{
                    <text>@MpesaSettings.Value.ShortCode</text>
                }
            </div>
        </div>
        <div class="col-sm-4">
            <div class="col-sm-6">
                Security Passcode :
            </div>
            <div class="col-sm-6">
                @if (MpesaSettings.Value.SecurityCredential.Trim().Length == 0)
                {
                    if (hostingEnvironment.IsDevelopment())
                    {
                        <text>@Portal.Middlewares.Handlers.Mpesa.ShortCode1.SecurityCredential (Devt.)</text>

                    }
                    else
                    {
                        <text>Not Set</text>

                    }

                }
                else
                {
                    <text>@MpesaSettings.Value.SecurityCredential</text>
                }
            </div>
        </div>
    </div>
    @if (hostingEnvironment.IsDevelopment())
    {
        <div class="row">
            <div class="col-sm-4">
                <div class="col-sm-6">
                    Receiving Shortcode :
                </div>
                <div class="col-sm-6">
                   60000 (Devt.)
                </div>
            </div>
            <div class="col-sm-4">
                <div class="col-sm-6">
                    Customer Phone Number :
                </div>
                <div class="col-sm-6">
                    254708374149 (Devt.)
                </div>
            </div>
            <div class="col-sm-4">
                <div class="col-sm-6">
                    Online Shortcode :
                </div>
                <div class="col-sm-6">
                    174379 (Devt.)
                </div>
            </div>
        </div>
}
    <hr />
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-4">
                Callback URL :
            </div>
            <div class="col-sm-8">
                @if (MpesaSettings.Value.CallbackUrl.Trim().Length == 0)
                {
                    if (hostingEnvironment.IsDevelopment())
                    {
                        <text>https://197.232.37.110:8080/mpesa.api (Devt.)</text>

                    }
                    else
                    {
                        <text>Not Set</text>

                    }

                }
                else
                {
                    <text>@MpesaSettings.Value.CallbackUrl</text>
                }
            </div>
        </div>
    </div>
</div>

<header class="page-header">
    <h3><span aria-hidden="true" class="fa fa-exchange"></span> M-Pesa Actions/Commands</h3>
</header>
<div style="border:solid thin #888;border-radius:2px 4px;margin:4px;padding:5px">
    <h3 style="border-bottom:solid thin #ccc;margin:5px">Business To Customer Transactions</h3>
    @*<form asp-controller="Home" asp-action="Mpesa" asp-route-q="bal" method="post" id="">*@
    <div class="row">
       
        <div class="col-sm-4">
            <form action="/mpesa.api?q=buy" method="post" id="" class="text-center">
                <p>
                    Make Business Payment from shortcode @MpesaSettings.Value.ShortCode to test customer 254708374149
                </p>
                <input type="submit" value="Bussiness Payment" class="btn btn-info" />
            </form>
        </div>
        <div class="col-sm-4">
            <form action="/mpesa.api?q=paysalary" method="post" id="" class="text-center">
                <p>
                    Make Salary Payment from shortcode @MpesaSettings.Value.ShortCode to test customer/staff 254708374149
                </p>
                <input type="submit" value="Pay Salary" class="btn btn-info" />
            </form>
        </div>
        <div class="col-sm-4">
            <form action="/mpesa.api?q=promotion" method="post" id="" class="text-center">
                <p>
                    Make Promotional Payment from shortcode @MpesaSettings.Value.ShortCode to test customer/staff 254708374149
                </p>
                <input type="submit" value="Pay Promotion" class="btn btn-info" />
            </form>
        </div>
    </div>
</div>

<div style="border:solid thin #888;border-radius:2px 4px;margin:4px;padding:5px">
    <h3 style="border-bottom:solid thin #ccc;margin:5px">Business To Business Transactions</h3>
    @*<form asp-controller="Home" asp-action="Mpesa" asp-route-q="bal" method="post" id="">*@
    <div class="row">
        <div class="col-sm-3">
            <form action="/mpesa.api?q=buygoods" method="post" id="" class="text-center">
                <p>
                    Buy goods with shortcode @MpesaSettings.Value.ShortCode form a Business with shortcode 60000
                </p>
                <input type="submit" value="Buy Goods" class="btn btn-info" />
            </form>
        </div>
        <div class="col-sm-3">
            <form action="/mpesa.api?q=merchanttrans" method="post" id="" class="text-center">
                <p>
                    Transfer money from merchat(business) with shortcode @MpesaSettings.Value.ShortCode to merchant with shortcode 60000
                </p>
                <input type="submit" value="Bussiness Payment" class="btn btn-info" />
            </form>
        </div>
        <div class="col-sm-3">
            <form action="/mpesa.api?q=paybill" method="post" id="" class="text-center">
                <p>
                    Pay Bill with shortcode @MpesaSettings.Value.ShortCode to business with shortcode 60000
                </p>
                <input type="submit" value="Pay Bill" class="btn btn-info" />
            </form>
        </div>
        <div class="col-sm-3">
            <form action="/mpesa.api?q=merchanttoworking" method="post" id="" class="text-center">
                <p>
                    Transer money from merchant/business shortcode @MpesaSettings.Value.ShortCode to working account/shortcode 254708374149 for institutional use.
                </p>
                <input type="submit" value="Pay Promotion" class="btn btn-info" />
            </form>
        </div>
    </div>
</div>

    <div style="border:solid thin #888;border-radius:2px 4px;margin:4px;padding:5px">
        <h3 style="border-bottom:solid thin #ccc;margin:5px">Customer To Business Transactions</h3>
        @*<form asp-controller="Home" asp-action="Mpesa" asp-route-q="bal" method="post" id="">*@
        <div class="row">
            <div class="col-sm-6">
                <form action="/mpesa.api?q=register" method="post" id="" class="text-center">
                    <p>
                        Register business URL to be called once a payment/diposit is made to your shortcode (@MpesaSettings.Value.ShortCode)
                    </p>
                    <input type="submit" value="Register URL" class="btn btn-info" />
                </form>
            </div>
            <div class="col-sm-6">
                <form action="/mpesa.api?q=payonline" method="post" id="" class="text-center">
                    <p>
                        Make online payments with shortcode @MpesaSettings.Value.ShortCode
                    </p>
                    <input type="submit" value="Pay Online" class="btn btn-info" />
                </form>
            </div>
            @*<div class="col-sm-3">
                <form action="/mpesa.api?q=buy" method="post" id="" class="text-center">
                    <p>
                        Make Business Payment from shortcode @MpesaSettings.Value.ShortCode to test customer 254708374149
                    </p>
                    <input type="submit" value="Bussiness Payment" class="btn btn-info" />
                </form>
            </div>*@
                
        </div>
    </div>
        <div style="border:solid thin #888;border-radius:2px 4px;margin:4px;padding:5px">
            <h3 style="border-bottom:solid thin #ccc;margin:5px">Online Transactions</h3>
            @*<form asp-controller="Home" asp-action="Mpesa" asp-route-q="bal" method="post" id="">*@
            <div class="row">
                <div class="col-sm-4">
                    <form action="/mpesa.api?q=payonlinereq" method="post" id="" class="text-center">
                        <p>
                            Lipa na M-Pesa online query request with shortcode (@MpesaSettings.Value.ShortCode)
                        </p>
                        <input type="submit" value="Pay Online Request" class="btn btn-info" />
                    </form>
                </div>
                <div class="col-sm-4">
                    <form action="/mpesa.api?q=payonline" method="post" id="" class="text-center">
                        <p>
                            Make online payments with shortcode @MpesaSettings.Value.ShortCode
                        </p>
                        <input type="submit" value="Make Online Payment" class="btn btn-info" />
                    </form>
                </div>
                <div class="col-sm-4">
                    <form action="/mpesa.api?q=simulate" method="post" id="" class="text-center">
                        <p>
                            Simulate transaction to shortcode @MpesaSettings.Value.ShortCode from test customer 254708374149
                        </p>
                        <input type="submit" value="Simulate Payment" class="btn btn-info" />
                    </form>
                </div>

            </div>
        </div>
        <div style="border:solid thin #888;border-radius:2px 4px;margin:4px;padding:5px">
            <h3 style="border-bottom:solid thin #ccc;margin:5px">Transactions Actions</h3>
            @*<form asp-controller="Home" asp-action="Mpesa" asp-route-q="bal" method="post" id="">*@
            <div class="row">
                <div class="col-sm-4">
                    <form action="/mpesa.api?q=bal" method="post" id="" class="text-center">
                        <p>
                            Get Account balance for shortcode @MpesaSettings.Value.ShortCode
                        </p>
                        <input type="submit" value="Get Balance" class="btn btn-info" />
                    </form>
                </div>
                <div class="col-sm-4">
                    <form action="/mpesa.api?q=tstatus" method="post" id="" class="text-center">
                        <p>
                            Get status of the last transaction made to shortcode @MpesaSettings.Value.ShortCode
                        </p>
                        <input type="submit" value="Get Transaction Status" class="btn btn-info" />
                    </form>
                </div>
                <div class="col-sm-4">
                    <form action="/mpesa.api?q=reverse" method="post" id="" class="text-center">
                        <p>
                            Reverse the last payment transaction made to shortcode @MpesaSettings.Value.ShortCode
                        </p>
                        <input type="submit" value="Do Reversal" class="btn btn-info" />
                    </form>
                </div>
                @*<div class="col-sm-3">
                    <form action="/mpesa.api?q=promotion" method="post" id="" class="text-center">
                        <p>
                            Make Promotional Payment from shortcode @MpesaSettings.Value.ShortCode to test customer/staff 254708374149
                        </p>
                        <input type="submit" value="Pay Promotion" class="btn btn-info" />
                    </form>
                </div>*@
            </div>
        </div>