﻿@using Nita.ViewModels.ContractViewModels;
<!-- Favicon icon -->
<link rel="icon" type="image/png" sizes="16x16" href="~/lib/images/favicon.png">
<!-- Bootstrap Core CSS -->
<link href="~/lib/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<!-- Custom CSS -->
<link href="~/lib/css/style.css" rel="stylesheet">
<!-- You can change the theme colors from here -->
<link href="~/lib/css/colors/default-dark.css" id="theme" rel="stylesheet">
<div class="row"><div class="col-md-12 card"><h2>Internship Providers (Employers)</h2></div></div>
<div class="card">
    <div class="card-body">
        <h4>Step 4</h4>
        <div class="row">
            <div class="col-md-6">
                <div class="card-body">
                    <label class="control-label">Register Internship Provider:</label><br><hr>
                    <form asp-controller="Providers" asp-action="SaveEmployer" method="post">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">Business Name </label>
                                    <input type="text" id="BusinessName" name="BusinessName" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">Industry </label>
                                    <input type="text" id="Industry" name="Industry" class="form-control">
                                </div>
                            </div>
                        </div>
                        <input type="number" hidden="hidden" value="@ViewBag.Id" id="Id" name="Id">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">Notes </label>
                                    <input type="text" class="form-control" id="Notes" name="Notes" placeholder="Enter Notes" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">Choose a County </label>
                                <select class="form-control" id="CountyId" name="CountyId">
                                    @foreach (var county in @ViewBag.Counties)
                                    {
                                        <option value=@county.Id>@county.Name</option>
                                    }
                                </select>
                            </div>
                            </div>
                        </div>
                            <div class="row">
                                <div class="col-md-12" style="text-align:right"><button type="submit" class="btn btn-primary"><i class="fa fa-plus">Add</i></button></div>
                            </div>
                            <hr>
                        </form>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <label class="control-label">Added Employer(s):</label><br><hr>
                    <div class="table-responsive">
                        <table class="table color-table primary-table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Employer Name</th>
                                    <th>Industry</th>
                                    <th><i class="fa fa-bolt"></i></th>
                                </tr>
                            </thead>
                            @if (@ViewBag.Employers != null)
                            {
                                <tbody>
                                    @foreach (var employer in @ViewBag.Employers)
                                    {
                                        <tr>
                                            <td>@employer.Id</td>
                                            <td>@employer.Name</td>
                                            <td>@employer.Industry</td>
                                            <td><a href="@Url.Action("removeEmployer","Providers",new {contractId = ViewBag.Id})" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></a></td>
                                        </tr>
                                    }
                                </tbody>
                            }
                            else
                            {
                                <tbody>
                                    <tr><td><h6>There are no employers</h6></td></tr>
                                </tbody>

                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="text-align:right;">
                <a href="@Url.Action("Index","Providers")" class="btn btn-primary">Finish</a>
            </div>
        </div>
    </div>

</div>


@section Scripts
    {
    <script>
    </script>
    <script src="~/lib/plugins/bootstrap/js/bootstrap.min.js"></script>
    @*<script src="~/lib/plugins/jquery/jquery.min.js"></script>*@
    <script src="~/lib/plugins/bootstrap/js/popper.min.js"></script>
}
