﻿@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Identity;
@model ProviderModels;
@{
    ViewData["Title"] = "Add a Training provider";
}
<link rel="icon" type="image/png" sizes="16x16" href="~/lib/images/favicon.png">
<!-- Bootstrap Core CSS -->
<link href="~/lib/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<!-- Custom CSS -->
<link href="css/style.css" rel="stylesheet">
<!-- You can change the theme colors from here -->
<link href="css/colors/default-dark.css" id="theme" rel="stylesheet">

<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Enter the training provider details</h4>
            <h6 class="card-subtitle">TP registration</h6>
            <form asp-controller="Providers" asp-action="CreateAsync" class="form p-t-20" method="post" role="form">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="FullName">Provider Name</label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-user"></i></div>
                                <input asp-for="FullName" class="form-control" placeholder="Enter Provider Name" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="TrainerType" class="control-label">Type of Training Provider</label>
                            <select asp-for="TrainerType" class="form-control custom-select" data-placeholder="Choose a Type of Provider">
                                <option value="Institution">Training Institution</option>
                                <option value="MasterCraftsMan">Master Craftsman</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="StreetRoad">Street/Road Name</label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-road"></i></div>
                                <input asp-for="StreetRoad" class="form-control" id="StreetRoad" placeholder="Enter Street/Road" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="BuildingName">Building Name</label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-building"></i></div>
                                <input asp-for="BuildingName" class="form-control" id="BuildingName" placeholder="Enter Building Name" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="LandMark">Nearby Landmark Description</label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-map-marker"></i></div>
                                <input asp-for="LandMark" class="form-control" id="Landmark" placeholder="Enter Landmark Description" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CountyId" class="control-label">County</label>
                            <select asp-for="CountyId" class="form-control custom-select" data-placeholder="Choose a County">
                                @foreach (var county in @ViewBag.Counties)
                                {
                                    <option value=@county.Id>@county.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="ContactPersonName">Contact Person Name</label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-id-card"></i></div>
                                <input asp-for="ContactPersonName" class="form-control" id="ContactName" placeholder="Enter Contact Name" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="ContactEmail">Contact Email address</label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
                                <input asp-for="ContactEmail" class="form-control" id="ContactEmail" placeholder="Enter email" required>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="ContactPersonPosition">Contact Person Position</label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-certificate"></i></div>
                                <input asp-for="ContactPersonPosition" class="form-control" id="Position" placeholder="Enter Position" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Telephone">Telephone Number</label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-phone"></i></div>
                                <input asp-for="Telephone" class="form-control" id="Telephone" placeholder="Enter Telephone" required>
                            </div>
                        </div>
                    </div>
                    </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="PostalAddress">Postal Address</label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-address-book"></i></div>
                                <input asp-for="PostalAddress" class="form-control" id="pwd2" placeholder="Enter Postal Address" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Submit</button>
                        <button type="submit" class="btn btn-inverse waves-effect waves-light">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

