﻿@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Identity;
@using Nita.ViewModels.ProviderViewModels;
@model McModel;
@{
    ViewData["Title"] = "Institution Registration";
}
<link rel="icon" type="image/png" sizes="16x16" href="~/lib/images/favicon.png">
<!-- Bootstrap Core CSS -->
<link href="~/lib/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<!-- Custom CSS -->
<link href="css/style.css" rel="stylesheet">
<!-- You can change the theme colors from here -->
<link href="css/colors/default-dark.css" id="theme" rel="stylesheet">
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-lg-8">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Institution Registration</h4>
                <h6 class="card-subtitle">Institution Registration</h6>
                <form asp-controller="Providers" asp-action="SaveFiAsync" method="post">
                    <div id="biz-info">
                        <h4>Step 1</h4><hr>
                        <h5>Institution General Infomation</h5><hr>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="EnterpriseName">Institution Name</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-building"></i></div>
                                        <input asp-for="EnterpriseName" class="form-control" id="EnterpriseName" placeholder="Enter Institution Name" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="PostalAddressBiz">Postal Address</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
                                        <input asp-for="PostalAddressBiz" class="form-control" placeholder="Enter Postal Address" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="PhysicalLocation">Physical Location</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-map-marker"></i></div>
                                        <input asp-for="PhysicalLocation" class="form-control" placeholder="Enter Physical Location" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="CountyId" class="control-label">County</label>
                                    <select asp-for="CountyId" class="form-control custom-select" data-placeholder="Choose a County">
                                        @foreach (var county in @ViewBag.Counties)
                                        {
                                            <option value=@county.Id>@county.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12" style="text-align:right">
                                <button class="btn btn-success nxt1">Next</button>
                            </div>
                        </div>
                    </div>
                    <div id="pers-info">
                        <h4>Step 2</h4><hr>
                        <h5>Contact Person Information</h5><hr>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="McFullName.FirstName">First Name</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-address-card-o"></i></div>
                                        <input asp-for="McFullName.FirstName" class="form-control" placeholder="Enter Contact person FirstName" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="McFullName.MiddleName">Middle Name</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-address-card-o"></i></div>
                                        <input asp-for="McFullName.MiddleName" class="form-control" placeholder="Enter Contact person MiddleName" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="McFullName.SurName">SurName</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-address-card-o"></i></div>
                                        <input asp-for="McFullName.SurName" class="form-control" placeholder="Enter Contact person Surname" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="IdNo">ID Number</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-id-card"></i></div>
                                        <input asp-for="IdNo" type="text" class="form-control" placeholder="Enter ID Number" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="PostalAddressMc">Postal Address</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
                                        <input asp-for="PostalAddressMc" class="form-control" placeholder="Enter Postal Address" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Telephone">Telephone No</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-phone"></i></div>
                                        <input asp-for="Telephone" type="text" class="form-control" placeholder="Enter Telephone No." required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Email">Email Address</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-envelope-o"></i></div>
                                        <input asp-for="Email" class="form-control" placeholder="Enter Email Address" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Position">Position</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-list-ol"></i></div>
                                        <input asp-for="Position" type="text" class="form-control" placeholder="Enter Designation" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="text-align:right">
                                <button class="btn btn-warning prev1">Previous</button>
                                <button class="btn btn-success nxt2">Next</button>
                            </div>
                        </div>
                    </div>
                    <div id="bnk-info">
                        <h4>Step 3</h4><hr>
                        <h5>Banking Details</h5><hr>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="AccountName">A/C Name</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-tag"></i></div>
                                        <input asp-for="AccountName" class="form-control" id="AccountName" placeholder="Enter Account Name" readonly="readonly" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="AccountNo">Account Number</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-list-ol"></i></div>
                                        <input asp-for="AccountNo" type="text" class="form-control" placeholder="Enter A/C No." required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="BankId" class="control-label">Bank</label>
                                    <select asp-for="BankId" class="form-control bank" data-placeholder="Choose a Bank">
                                        @foreach (var bank in @ViewBag.Banks)
                                        {
                                            <option value=@bank.Id>@bank.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="BranchId" class="control-label">Branch</label>
                                    <select asp-for="BranchId" class="form-control branch" data-placeholder="Choose a Branch"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="text-align:right">
                                <button class="btn btn-warning prev2">Previous</button>
                                <button type="submit" class="btn btn-success">Next</button>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <div class="col-md-5"></div>
</div>
@section Scripts
    {

    <script>
        $(document).ready(function () {
            $("#pers-info").hide();
            $("#bnk-info").hide();
            $(".prev1").click(function () {
                $("#biz-info").show();
                $("#bnk-info").hide();
                $("#pers-info").hide();
            });

            $(".prev2").click(function () {
                $("#biz-info").hide();
                $("#bnk-info").hide();
                $("#pers-info").show();
            });

            $(".nxt1").click(function () {
                $("#biz-info").hide();
                $("#bnk-info").hide();
                $("#pers-info").show();
                var acName = $("#EnterpriseName").val();
                $("#AccountName").val(acName);
            });

            $(".nxt2").click(function () {
                $("#biz-info").hide();
                $("#bnk-info").show();
                $("#pers-info").hide();
            });

            $('.bank').change(function () {
                var item = $(this);
                //alert(item.val());
                $.ajax({
                type: 'GET',
                url: '@Url.Action("GetBranches", "Providers")',
                dataType: 'json',
                data: {
                    id: $(this).val()
                },
                success: function (data) {
                    //alert("meeh");
                    //console.log(data);
                    var brachSelect = $('.branch');
                    brachSelect.empty();
                    var branches = data.list;
                    for (var i = 0; i < branches.length; i++) {
                        brachSelect.append(
                            $('<option></option>').val(branches[i].id).html(branches[i].name)
                        );
                        //console.log(branches[i]);
                    }
                },
                error: function (data) {
                    alert("There was problems there");
                }
                });
                });
        });
    </script>
    <script src="~/lib/plugins/bootstrap/js/bootstrap.min.js"></script>
    @*<script src="~/lib/plugins/jquery/jquery.min.js"></script>*@
    <script src="~/lib/plugins/bootstrap/js/popper.min.js"></script>
}

