﻿@model TrainerProfile;
@{
    ViewData["Title"] = "Training Providers";
}
<!-- Favicon icon -->
<link rel="icon" type="image/png" sizes="16x16" href="~/lib/images/favicon.png">
<!-- Bootstrap Core CSS -->
<link href="~/lib/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<!-- Custom CSS -->
<link href="~/lib/css/style.css" rel="stylesheet">
<!-- You can change the theme colors from here -->
<link href="~/lib/css/colors/default-dark.css" id="theme" rel="stylesheet">

<div class="row"><div class="col-md-12 card"><h2>Institutions Management</h2></div></div>
<div class="col-lg-12">
    <div class="card">
        <form asp-controller="Providers" asp-action="Index" class="form p-t-20" method="get" role="form">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-7">
                    <div class="form-group">
                        <label class="control-label">Choose a County </label>
                        <select class="form-control" id="countyId" name="countyId">
                            <option value="all">All</option>
                            @foreach (var county in @ViewBag.Counties)
                            {
                                <option value=@county.Id>@county.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Search </label><br />
                        <button type="submit" class="btn btn-primary" id="addTp"><i class="fa fa-search"></i> Search</button>
                    </div>
                </div>

            </div>
        </form>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12" style="text-align: right">
                    <button type="button" class="btn btn-primary" id="addTp"><i class="fa fa-plus"></i> Import Institutions</button>
                    <a href="@Url.Action("Create", "Providers")" class="btn btn-primary"><i class="fa fa-plus">Add Institution</i></a>

                </div>
            </div><br>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-striped table-bordered" id="editable-datatable">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Institution Name</th>
                            <th>Contact Name</th>
                            <th>Telephone</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        @if (ViewBag.Trainers != null)
                        {
                            <tbody>
                            @foreach (var trainer in @ViewBag.Trainers)
                            {
                                <tr>
                                    <td>@trainer.Id</td>
                                    <td>@trainer.FullName</td>
                                    <td>@trainer.ContactPersonName</td>
                                    <td>@trainer.Telephone</td>
                                    <td>@trainer.Status</td>
                                    <td>
                                        @if (trainer.Status == TrainerStatus.Terminated)
                                        {
                                            <span style="pointer-events: none;">
                                                @if (@trainer.Status == TrainerStatus.Active)
                                                {
                                                    <a href="@Url.Action("LockTrainer", "Providers", new {id = @trainer.Id})" class="btn btn-secondary btn-sharp-corners btn-xs lock" data-toggle="tooltip" title="Lock this Trainer">
                                                        <i class="fa fa-lock"></i>
                                                    </a>
                                                }
                                                else if (@trainer.Status == TrainerStatus.Inactive)
                                                {
                                                    <a href="@Url.Action("UnLockTrainer", "Providers", new {id = @trainer.Id})" class="btn btn-secondary btn-sharp-corners btn-xs lock" data-toggle="tooltip" title="Unlock this Trainer">
                                                        <i class="fa fa-unlock"></i>
                                                    </a>
                                                }
                                                else
                                                {
                                                    <a href="#" class="btn btn-secondary btn-sharp-corners btn-xs lock" data-toggle="tooltip" title="Trainer is terminated">
                                                        <i class="fa fa-ban"></i>
                                                    </a>
                                                }
                                                <a href="@Url.Action("Edit", "Providers", new {id = @trainer.Id})" class="btn btn-warning  btn-sharp-corners btn-xs" data-toggle="tooltip" title="Edit Training Provider"><i class="fa fa-edit"></i></a>
                                                @*<a href="@Url.Action("TerminateTrainer", "Providers", new { id = @trainer.Id })" class="btn btn-danger btn-sharp-corners btn-xs" data-toggle="tooltip" title="Terminate Training Provider"><i class="fa fa-times"></i></a>*@

                                                @*<button type="button" class="btn btn-secondary btn-circle btn-sm lock" id=@trainer.Id><i class="fa fa-lock"></i> </button>
                                                    <button type="button" class="btn btn-warning btn-circle btn-sm edit" id=@trainer.Id><i class="fa fa-edit"></i> </button>
                                                    <button type="button" class="btn btn-danger btn-circle btn-sm terminate" id=@trainer.Id><i class="fa fa-times"></i> </button>*@
                                            </span><a href="@Url.Action("ViewProfile", "Providers", new {id = @trainer.Id})" class="btn btn-success btn-sharp-corners btn-xs" data-toggle="tooltip" title="View Profile"><i class="fa fa-user-circle"></i></a>}
                                        else
                                        {
                                            @if (@trainer.Status == TrainerStatus.Active)
                                             {
                                                 <a href="@Url.Action("LockTrainer", "Providers", new {id = @trainer.Id})" class="btn btn-secondary btn-btn-sharp-corners btn-xs" data-toggle="tooltip" title="Lock this Trainer">
                                                     <i class="fa fa-lock"></i>
                                                 </a>
                                             }
                                             else if (@trainer.Status == TrainerStatus.Inactive)
                                             {
                                                 <a href="@Url.Action("UnLockTrainer", "Providers", new {id = @trainer.Id})" class="btn btn-secondary btn-sharp-corners btn-xs" data-toggle="tooltip" title="Unlock this Trainer">
                                                     <i class="fa fa-unlock"></i>
                                                 </a>
                                             }
                                             else
                                             {
                                                 <a href="#" class="btn btn-secondary btn-sharp-corners btn-xs" data-toggle="tooltip" title="Trainer is terminated">
                                                     <i class="fa fa-ban"></i>
                                                 </a>
                                             }
                                            <a href="@Url.Action("Edit", "Providers", new {id = @trainer.Id})" class="btn btn-warning btn-sharp-corners btn-xs" data-toggle="tooltip" title="Edit Training Provider"><i class="fa fa-edit"></i></a>
                                            @*<a href="@Url.Action("TerminateTrainer", "Providers", new { id = @trainer.Id })" class="btn btn-danger btn-sharp-corners btn-xs" data-toggle="tooltip" title="Terminate Training Provider"><i class="fa fa-times"></i></a>*@
                                            <a href="@Url.Action("CreateEmployer", "Providers", new {id = @trainer.Id})" class="btn btn-success btn-sharp-corners btn-xs" data-toggle="tooltip" title="View Employers"><i class="fa fa-eye"></i></a>
                                            <a href="@Url.Action("ViewProfile", "Providers", new {id = @trainer.Id})" class="btn btn-success btn-sharp-corners btn-xs" data-toggle="tooltip" title="View Profile"><i class="fa fa-user-circle"></i></a>

                                        }
                                    </td>
                                </tr>
                            }
                            </tbody>
                        }
                        else
                        {
                            <tbody><tr><td><span class="card">No Providers Matching that criteria</span></td></tr></tbody>
                        }
                    </table>
                    </div>
            </div>
        </div>
    </div>
</div>
<!--training provider modal-->
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

@section Scripts
    {

    <script>
            @*$(document).ready(function () {
                //$("#addTp").click(function () {
                //   // alert("this was meeh");
                //    $('#myModal').show();
                //});
                $(".edit").click(function () {
                    alert("WE should be working");
            $.ajax({
                type: 'GET',
                url: '@Url.Action("Edit", "Providers")',
                dataType: 'json',
                data: {
                    id: this.id
                },
                success: function (data) {
                    alert("We are back again");
                },
                error: function (data) {
                    alert("There was problems there");
                }
            });
        });
            });*@
    </script>

    <script src="~/lib/plugins/bootstrap/js/bootstrap.min.js"></script>
    @*<script src="~/lib/plugins/jquery/jquery.min.js"></script>*@
    <script src="~/lib/plugins/bootstrap/js/popper.min.js"></script>
    <!-- Footable -->
    <script src="~/lib/plugins/footable/js/footable.all.min.js"></script>
    <script src="~/lib/plugins/bootstrap-select/bootstrap-select.min.js" type="text/javascript"></script>
    <!--FooTable init-->
    <script src="~/lib/js/footable-init.js"></script>
    <!-- Editable -->
    <script src="~/lib/plugins/jquery-datatables-editable/jquery.dataTables.js"></script>
    <script src="~/lib/plugins/datatables/dataTables.bootstrap.js"></script>
    <script src="~/lib/plugins/tiny-editable/mindmup-editabletable.js"></script>
    <script src="~/lib/plugins/tiny-editable/numeric-input-example.js"></script>
    <script>
        jQuery('#mainTable').editableTableWidget().numericInputExample().find('td:first').focus();
        jQuery('#editable-datatable').editableTableWidget().numericInputExample().find('td:first').focus();
        jQuery(document).ready(function () {
            jQuery('#editable-datatable').DataTable();
        });
    </script>
    <script>
        jQuery('#add-yr').click(function () {
            window.location = jQuery(this).data('target');
        })
        jQuery('#add-q-yr').click(function () {
            window.location = jQuery(this).data('target');
        })
    </script>
    <script type="text/javascript">
        $(function () {
            $(".preloader").fadeOut();
        });

    </script>
}