﻿body {
}

.btn-sharp-corners {
    border-radius: 0px !important;
}
.bottom-bordered {
    border-bottom: 1px solid lightgrey;
    padding-bottom: 10px;
}
.no-padding-sides {
    padding: 0px 0px 0px 0px;
}

.extra-info {
    color: lightgrey;
    font-size: 10px;
}