﻿@inject IOptionsSnapshot<AppSettings> AppSettings

@using Microsoft.EntityFrameworkCore;

@inject ApplicationDbContext db
@{

    //
    var AccountList = db.FinanceAccounts.Include(j => j.Classification).Include(j => j.Group).Include(k => k.Parent).Include(k => k.Children).Where(p => p.Parent == null).ToList();

}


<div class="card-body">
    @*<h4 class="card-title">Row Toggler</h4>*@
    @*<h6 class="card-subtitle">An overview of NITA finance accounts</h6>*@
    @*<h4 class="card-title">Kitchen Sink</h4>
        <h6 class="card-subtitle">Swipe Mode, ModeSwitch, Minimap, Sortable, SortableSwitch</h6>*@
    <table class="tablesaw  table-striped table-bordered table-hover table" data-tablesaw-mode="swipe" data-tablesaw-sortable data-tablesaw-sortable-switch data-tablesaw-minimap data-tablesaw-mode-switch>
        <thead>
            <tr style="background:#333;font-weight:bold;color:#fff">
                <th style="font-weight:bold" width="1">#</th>
                <th style="font-weight:bold" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="1">Type</th>
                <th style="font-weight:bold" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist">Acc. No.</th>
                <th style="font-weight:bold" scope="col" data-tablesaw-sortable-col data-tablesaw-sortable-default-col data-tablesaw-priority="2">Acc. Name</th>
                <th style="font-weight:bold" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="3">
                    <abbr title="GL Account Has a Burget">Budget Item ?</abbr>
                </th>
                @*<th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4">Sub-Group</th>*@
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        @foreach (var typ in AccountList.Select(l => l.Type).Distinct())
        {
            foreach (var par in AccountList.Where(l => l.Type == typ))
            {
                <tbody style="border-bottom:solid 2px #333;">
                    <tr style="font-weight:bold;background:#0094ff;color:#fff">
                        <td><i class="fa fa-plus-circle"></i></td>
                        <td style="width:50px">@par.Type</td>
                        <td class="title">@par.Number</td>
                        <td>@par.Name</td>
                        <td><i class=""></i></td>
                        @*<td>Not Available</td>*@
                        <td><span class="label label-table label-success">@par.Status</span></td>
                        <td class="text-nowrap">
                            <a href="@Url.RouteUrl(FinanceUtilsControllerRoute.UpdateAccount,new { aid=par.Id})" data-toggle="tooltip" data-original-title="Update"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                            <a href="javascript:void(0)" data-toggle="tooltip" data-original-title="Preview"> <i class="fa fa-eye text-inverse m-r-10"></i> </a>
                            <a href="javascript:void(0)" data-toggle="tooltip" class="suspend-acc" data-id="@par.Id" data-original-title="Suspend"> <i class="fa fa-close text-danger"></i> </a>
                        </td>
                    </tr>
                    @if (par.Children.Count > 0)
                    {

                        @foreach (var child in par.Children)
                        {
                            <tr>
                                <td style="max-width:5px">↪ </td>
                                <td style="max-width:5px;text-align:center">↔ </td>
                                <td class="title">@child.Number</td>
                                <td colspan="2">@child.Name</td>
                                @*<td>@(p.Group?.Name ?? "Not Available")</td>
                                    <td>Not Available</td>
                                    <td>@(p.Classification?.Name ?? "Not Available")</td>*@
                                <td>
                                    @if (child.HasBudget)
                                    {<i class="fa fa-check text-success"></i>}
                                    else
                                    {<i class="fa fa-close text-danger"></i>}
                                </td>
                                <td><span class="label label-table label-success">@child.Status</span></td>
                                <td class="text-nowrap">
                                    <a href="@Url.RouteUrl(FinanceUtilsControllerRoute.UpdateAccount,new { aid=child.Id})" data-toggle="tooltip" data-original-title="Update"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                    <a href="javascript:void(0)" data-toggle="tooltip" data-original-title="Preview"> <i class="fa fa-eye text-inverse m-r-10"></i> </a>
                                    <a href="javascript:void(0)" data-toggle="tooltip" class="suspend-acc" data-id="@child.Id" data-original-title="Suspend"> <i class="fa fa-close text-danger"></i> </a>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td class="text-center" colspan="8"> ~ No Child Accounts ~</td>
                        </tr>
                    }

                    <tr>
                        <td colspan="8"><hr /></td>
                    </tr>

                </tbody>

            }
        }
    </table>
</div>
