﻿@inject IOptionsSnapshot<AppSettings> AppSettings

@using Microsoft.EntityFrameworkCore;
@inject IOptionsSnapshot<AppSettings> AppSettings
@inject ApplicationDbContext db

@model PrintChequeModel

@*Will be used by print iFrame*@
<link type="text/css" rel="stylesheet" href="~/lib/css/print.css" />
<div style="display:none">
    @{
        var amountPayable = await Utils.CalculatePayableAmount(Model.Payments);
    }
    <div class="print-cheque cheque-@Model.Id" style="background:url(/img/samples/cheque.png) top no-repeat;background-size:100% auto;border:solid thin transparent;color:#222;width:100% !important;">
        <div class="cheque-date" style="margin-bottom:22%">
            <span class="pull-right" style="margin-right:22%;padding-top:5%;font-size:10px;font-weight:bold">@DateTime.Now.ToString("dd MMM yyyy")</span>
        </div>
        <div style="margin-left:12%;font-weight:bold;">
            <span class="pull-right" style="margin-right:22%">@string.Format("{0:n0}", amountPayable) /=</span>
            <p style="max-width:55%;margin-bottom:15px;padding-top:7px;font-size:11px;">@Model.PayeeName</p>
            <p style="max-width:55%;white-space:pre-line;font-size:11px;line-height:28px;text-indent:8%;">@Utils.DecimalToWords(Convert.ToDecimal(amountPayable)).ToUpper() ONLY /=</p>
        </div>
    </div>
</div>
