﻿@using Microsoft.EntityFrameworkCore;

@inject IOptionsSnapshot<AppSettings> AppSettings
@inject ApplicationDbContext db
@{
    // title - The title of the page which appears in the browser window title. Aim for the title to be less than 70
    //         characters. The site name appears at the end for better SEO.
    ViewBag.Title = "Add Finance Account";
    // Description - Used by search engines. Aim for more than 160 characters.
    ViewBag.Description = "Create a new Finance Account";
    

    //
    var ParentList = new List<SelectListItem>();

    foreach(var f in db.FinanceAccounts.Include(p=>p.Parent).Where(l=>l.Parent == null))
    {

        ParentList.Add(new SelectListItem() { Text = "" + f.Name, Value = f.Id + "" });
    }
    //
    ParentList.Add(new SelectListItem() { Text = "None", Value = "0" });
}
@model AddFinanceAccountViewModel
@* Code in the head section below gets added at the bottom of the HTML head element. This section can be used to enter
    custom meta tags specific to this page. *@
@section head
    {
    @* Author - (Optional) Used by search engines. The author of the page. *@
    <meta name="author" content="ABNO Softwares Int.">
    @* Add Twitter Card social meta tags so we can customize what happens when our page is shared on Twitter. There are
        several different Twitter Card types we could add, a different one is added on each page as an example.
        These helpers make it very easy to add the meta tags. For best performance, see what tags are generated and
        hand-code them yourself instead of using these helpers. *@
    <twitter-card-summary-large-image username="@@ABNO">
        @* Add Open Graph social meta tags so we can customize what happens when our page is shared on Facebook, Google+,
            Pintrest and other social media websites. There are dozens of Open Graph types, a different one is added on
            each page as an example. These helpers make it very easy to add the meta tags. For best performance, see what
            tags are generated and hand-code them yourself instead of using these helpers. *@
        <open-graph-website site-name="@AppSettings.Value.SiteTitle"
                            title="@ViewBag.Title"
                            main-image="@(new OpenGraphImage(
                            Url.AbsoluteContent("~/img/icons/open-graph-1200x630.png"),
                            ContentType.Png,
                            1200,
                            630))"
                            determiner="Blank">
            @* referrer - Controls what is sent in the HTTP referrer header when a client navigates to an external site. *@
            <meta asp-referrer="OriginWhenCrossOrigin">
            <!-- page CSS -->
            <link href="~/lib/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
            <link href="~/lib/plugins/select2/dist/css/select2.min.css" rel="stylesheet" type="text/css" />
            <link href="~/lib/plugins/switchery/dist/switchery.min.css" rel="stylesheet" />
            <link href="~/lib/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
            <link href="~/lib/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.css" rel="stylesheet" />
            <link href="~/lib/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
            <link href="~/lib/plugins/multiselect/css/multi-select.css" rel="stylesheet" type="text/css" />
            <style>
                .gray-box {
                    border: solid thin #ccc;
                    border-radius: 2px 2px;
                    margin: 5px;
                    padding: 4px
                }
            </style>
        }
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-themecolor">@ViewBag.Title</h3>
                    </div>
                    <div class="col-md-7 align-self-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Finance</a></li>
                            <li class="breadcrumb-item">Utilities</li>
                            <li class="breadcrumb-item">GL Accounts</li>
                            <li class="breadcrumb-item active">Add GL Account</li>
                        </ol>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">@ViewBag.Title</h4>
                            <h6 class="card-subtitle">Create a new finance account</h6>
                            <form asp-route="@FinanceUtilsControllerRoute.AddAccount" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form p-t-20" role="form">
                                <hr />
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="Number"></label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="ti-key"></i></div>
                                        <input asp-for="Number" class="form-control" placeholder="Account Number">
                                    </div>
                                    <span asp-validation-for="Number" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Name"></label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="ti-user"></i></div>
                                        <input class="form-control" asp-for="Name" placeholder="Account Name">
                                    </div>
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                                @*<div class="form-group">
                            <label asp-for="Type" class=""></label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-link"></i></div>
                                @Html.DropDownListFor(p => p.Type, AccountTypeList, "-- Select Account --", new { @class = "form-control" })
                                <span asp-validation-for="Type" class="text-danger"></span>
                            </div>
                        </div>*@
                                <div class="form-group">
                                    <label asp-for="Type" class=""></label>
                                    <div class="icheck-list gray-box">
                                        <span style="padding:5px">
                                            <input type="radio" class="check" id="square-radio-1" name="Type" data-radio="iradio_square-red" value="@((int)FAccountType.Asset)">
                                            <label for="square-radio-1">@FAccountType.Asset</label>
                                        </span>
                                        <span style="padding:5px">
                                            <input type="radio" class="check" id="square-radio-2" name="Type" data-radio="iradio_square-red" value="@((int)FAccountType.Equity)">
                                            <label for="square-radio-2">@FAccountType.Equity</label>
                                        </span>
                                        <span style="padding:5px">
                                            <input type="radio" class="check" id="square-radio-3" name="Type" data-radio="iradio_square-red" value="@((int)FAccountType.Expense)">
                                            <label for="square-radio-3">@FAccountType.Expense</label>
                                        </span>
                                        <span style="padding:5px">
                                            <input type="radio" class="check" id="square-radio-4" name="Type" data-radio="iradio_square-red" value="@((int)FAccountType.Income)">
                                            <label for="square-radio-4">@FAccountType.Income</label>
                                        </span>
                                        <span style="padding:5px">
                                            <input type="radio" class="check" id="square-radio-5" name="Type" data-radio="iradio_square-red" value="@((int)FAccountType.Liability)">
                                            <label for="square-radio-5">@FAccountType.Liability</label>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="checkbox checkbox-success" style="margin:4px">
                                        @*<input asp-for="IsChild" type="checkbox">*@
                                        <div class="switch">
                                            <label>
                                                <label asp-for="IsChild"> </label>
                                                <input asp-for="IsChild" type="checkbox"><span class="lever"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div id="parent-wrapper" style="display:none">
                                    <div class="form-group">
                                        <label asp-for="Parent" class=""></label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="ti-anchor"></i></div>
                                            @Html.DropDownListFor(p => p.Parent, ParentList, "-- Select Parent --", new { @class = "select2 form-control custom-select", @style = "width: 100%; height:36px;" })
                                            <span asp-validation-for="Parent" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row gray-box">
                                        <div class="form-group col-md-6">

                                            <div class="checkbox checkbox-success" style="margin:4px">
                                                @*<input asp-for="IsBudgetItem" type="checkbox">*@
                                                <label asp-for="IsBudgetItem"> </label>
                                                <div class="switch">
                                                    <label>
                                                        No
                                                        <input asp-for="IsBudgetItem" type="checkbox" checked><span class="lever"></span>Yes
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <div class="checkbox checkbox-success" style="margin:4px">
                                                @*<input asp-for="IsClosed" type="checkbox">*@
                                                <label asp-for="IsClosed"> </label>
                                                <div class="switch">
                                                    <label>
                                                        No
                                                        <input asp-for="IsClosed" type="checkbox"><span class="lever"></span>Yes
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="col-md-offset-5 col-md-10">
                                    <button type="submit" class="btn btn-info waves-effect waves-ripple m-r-10">Submit</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

            </div>

        @* Code in the scripts section below gets added at the bottom of the HTML body element, below other scripts. This
    section can be used to enter custom scripts specific to this page. *@
        @section scripts
        {
        <!-- jQuery peity -->
        <script src="/lib/plugins/peity/jquery.peity.min.js"></script>
        <script src="/lib/plugins/peity/jquery.peity.init.js"></script>
        <!-- jQuery peity -->
        <script type="text/javascript">
            $(function () {
                $(".preloader").fadeOut();
            });

        </script>
        <!-- This page plugins -->
        <!-- ============================================================== -->
        <script src="~/lib/plugins/switchery/dist/switchery.min.js"></script>
        <script src="~/lib/plugins/select2/dist/js/select2.full.min.js" type="text/javascript"></script>
        <script src="~/lib/plugins/bootstrap-select/bootstrap-select.min.js" type="text/javascript"></script>
        <script src="~/lib/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
        <script src="~/lib/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="~/lib/plugins/multiselect/js/jquery.multi-select.js"></script>

        <script>
            // For select 2
            $(".select2").select2();
            $('.selectpicker').selectpicker();
        </script>

        <script>
            jQuery('#IsChild').on('change', function () {
                if ($(this).is(":checked")) {
                    jQuery("#parent-wrapper").show();
                    //
                    jQuery('select[name^="Type"]').attr('readonly', 'readonly')
                    //
                    jQuery('select[name^="Type"] option[value="0"]').attr("selected", "selected");
                    //jQuery('#Type option[value="0"]').attr("selected", "selected");
                } else {
                    jQuery("#parent-wrapper").hide();
                    //
                    jQuery('select[name^="Type"]').removeAttr('readonly')
                    //
                    jQuery('select[name^="Type"] option[value=""]').attr("selected", "selected");
                }
            })
        </script>
        }
