﻿@using Microsoft.EntityFrameworkCore;

@inject IOptionsSnapshot<AppSettings> AppSettings
@inject ApplicationDbContext db
@{
    // title - The title of the page which appears in the browser window title. Aim for the title to be less than 70
    //         characters. The site name appears at the end for better SEO.
    ViewBag.Title = "Add Currency";
    // Description - Used by search engines. Aim for more than 160 characters.
    ViewBag.Description = "Create a new Finance Currency";


}
@model AddCurrencyViewModel
@* Code in the head section below gets added at the bottom of the HTML head element. This section can be used to enter
    custom meta tags specific to this page. *@
@section head
    {
    @* Author - (Optional) Used by search engines. The author of the page. *@
    <meta name="author" content="ABNO Softwares Int.">
    @* Add Twitter Card social meta tags so we can customize what happens when our page is shared on Twitter. There are
        several different Twitter Card types we could add, a different one is added on each page as an example.
        These helpers make it very easy to add the meta tags. For best performance, see what tags are generated and
        hand-code them yourself instead of using these helpers. *@
    <twitter-card-summary-large-image username="@@ABNO">
        @* Add Open Graph social meta tags so we can customize what happens when our page is shared on Facebook, Google+,
            Pintrest and other social media websites. There are dozens of Open Graph types, a different one is added on
            each page as an example. These helpers make it very easy to add the meta tags. For best performance, see what
            tags are generated and hand-code them yourself instead of using these helpers. *@
        <open-graph-website site-name="@AppSettings.Value.SiteTitle"
                            title="@ViewBag.Title"
                            main-image="@(new OpenGraphImage(
                            Url.AbsoluteContent("~/img/icons/open-graph-1200x630.png"),
                            ContentType.Png,
                            1200,
                            630))"
                            determiner="Blank">
            @* referrer - Controls what is sent in the HTTP referrer header when a client navigates to an external site. *@
            <meta asp-referrer="OriginWhenCrossOrigin">

        }
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-themecolor">@ViewBag.Title</h3>
                    </div>
                    <div class="col-md-7 align-self-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Finance</a></li>
                            <li class="breadcrumb-item">Utilities</li>
                            <li class="breadcrumb-item">Currency</li>
                            <li class="breadcrumb-item active">Add Currency</li>
                        </ol>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">@ViewBag.Title</h4>
                            <h6 class="card-subtitle">Create a new currency</h6>
                            <form asp-route="@FinanceUtilsControllerRoute.AddCurrency" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form p-t-20" role="form">
                                <hr />
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="Name"></label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="ti-key"></i></div>
                                        <input asp-for="Name" class="form-control" placeholder="Currency Name">
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Code"></label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="ti-key"></i></div>
                                        <input asp-for="Code" class="form-control" placeholder="Currency Code">
                                        <span asp-validation-for="Code" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Alias"></label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="ti-key"></i></div>
                                        <input asp-for="Alias" class="form-control" placeholder="Currency Alis">
                                        <span asp-validation-for="Alias" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="checkbox checkbox-success">
                                        <input asp-for="IsBase" type="checkbox">
                                        <label asp-for="IsBase"> </label>
                                    </div>
                                </div>
                                <hr />
                                <div class="col-md-offset-5 col-md-10">
                                    <button type="submit" class="btn btn-info waves-effect waves-ripple m-r-10">Submit</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

            </div>

        @* Code in the scripts section below gets added at the bottom of the HTML body element, below other scripts. This
    section can be used to enter custom scripts specific to this page. *@
        @section scripts
        {
        <!-- jQuery peity -->
        <script src="/lib/plugins/peity/jquery.peity.min.js"></script>
        <script src="/lib/plugins/peity/jquery.peity.init.js"></script>
        <!-- jQuery peity -->
        <script type="text/javascript">
            $(function () {
                $(".preloader").fadeOut();
            });

        </script>
        }
