﻿@using Microsoft.EntityFrameworkCore;

@inject IOptionsSnapshot<AppSettings> AppSettings
@inject ApplicationDbContext db
@{
    // title - The title of the page which appears in the browser window title. Aim for the title to be less than 70
    //         characters. The site name appears at the end for better SEO.
    ViewBag.Title = "Add Expense Claim Disbursement";
    // Description - Used by search engines. Aim for more than 160 characters.
    ViewBag.Description = "Create a new Expense Disbursement";

    //
    var StaffList = new List<SelectListItem>();

    foreach (var s in db.HrStaff.Include(k => k.ExpenseClaims).ThenInclude(k => k.Disbursement).Where(l => l.ExpenseClaims.Any(k => k.Disbursement == null)))
    {
        StaffList.Add(new SelectListItem() { Text = "" + s.FullName, Value = s.Id + "" });

    }
    var BaseCurrency = db.FCurrencies.Single(p => p.IsBase);
}
@model AddExpenseDisbursementViewModel
@* Code in the head section below gets added at the bottom of the HTML head element. This section can be used to enter
    custom meta tags specific to this page. *@
@section head
    {
    @* Author - (Optional) Used by search engines. The author of the page. *@
    <meta name="author" content="ABNO Softwares Int.">
    @* Add Twitter Card social meta tags so we can customize what happens when our page is shared on Twitter. There are
        several different Twitter Card types we could add, a different one is added on each page as an example.
        These helpers make it very easy to add the meta tags. For best performance, see what tags are generated and
        hand-code them yourself instead of using these helpers. *@
    <twitter-card-summary-large-image username="@@ABNO">
        @* Add Open Graph social meta tags so we can customize what happens when our page is shared on Facebook, Google+,
            Pintrest and other social media websites. There are dozens of Open Graph types, a different one is added on
            each page as an example. These helpers make it very easy to add the meta tags. For best performance, see what
            tags are generated and hand-code them yourself instead of using these helpers. *@
        <open-graph-website site-name="@AppSettings.Value.SiteTitle"
                            title="@ViewBag.Title"
                            main-image="@(new OpenGraphImage(
                            Url.AbsoluteContent("~/img/icons/open-graph-1200x630.png"),
                            ContentType.Png,
                            1200,
                            630))"
                            determiner="Blank">
            @* referrer - Controls what is sent in the HTTP referrer header when a client navigates to an external site. *@
            <meta asp-referrer="OriginWhenCrossOrigin">

            <link href="~/lib/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
            <link href="~/lib/plugins/select2/dist/css/select2.min.css" rel="stylesheet" type="text/css" />
            <link href="~/lib/plugins/switchery/dist/switchery.min.css" rel="stylesheet" />
            <link href="~/lib/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
            <link href="~/lib/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.css" rel="stylesheet" />
            <link href="~/lib/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
            <link href="~/lib/plugins/multiselect/css/multi-select.css" rel="stylesheet" type="text/css" />

            <style>
                ul#claim-ent-wrapper {
                    min-height: 80px;
                    padding-left: 0;
                }

                    ul#claim-ent-wrapper > li {
                        list-style: none;
                        padding-left: 0
                    }

                        ul#claim-ent-wrapper > li > div {
                            /*min-height: 80px;*/
                        }

                div.claim-ent-row {
                    box-shadow: 2px 2px #eee;
                }

                    div.claim-ent-row > div.form-group {
                        max-height: 28px !important
                    }

                    div.claim-ent-row label, div.claim-ent-row > div > label {
                        font-size: 11px;
                        font-weight: bold
                    }

                    div.claim-ent-row > div {
                        padding: 2px;
                    }

                        div.claim-ent-row > div > div.input-group {
                            height: 32px
                        }
            </style>
}
<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">@ViewBag.Title</h3>
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Finance</a></li>
                <li class="breadcrumb-item">Expense Claim</li>
                <li class="breadcrumb-item active">Add Disbursements</li>
            </ol>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">@ViewBag.Title</h4>
                    <h6 class="card-subtitle">Create a new Expense Disbursement</h6>
                    <form asp-route="@FinanceControllerRoute.GetAddExpenseDisbursement" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form p-t-20" role="form" id="ec-dis-form">
                        <hr />
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Staff"></label>
                            <div class="input-group">
                                @if (Model.Claim != null)
    {
                            <div class="input-group-addon"><i class="ti-key"></i></div>
                            <input class="form-control" value="@Model.Claim?.Staff.FullName" type="text" readonly>
                            <input asp-for="Staff" class="form-control" value="@Model.Claim?.Staff.Id" type="hidden">
}
else
{

                            <div class="input-group-addon"><i class="ti-key"></i></div>
                            @Html.DropDownListFor(p => p.Staff, StaffList, "-- Select Staff --", new { @class = "select2 form-control custom-select", @style = "width: 100%; height:36px;" })
}
                                <input id="staff-info" class="form-control" type="hidden">
                            </div>
                        </div>

                        <div class="gray-box" style="background:#eee">
                            <div class="form-group">
                                <label asp-for="ClaimId"></label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="ti-key"></i></div>
                                    @if (Model.Claim != null)
                                    {
                                        <input class="form-control" id="kl" name="kl" placeholder="Expense Claim ~ EC@(Model.Claim.Ref.ToString("0000"))" readonly>
                                        <input class="form-control" asp-for="ClaimId" placeholder="" value="@Model.Claim.Id" type="hidden" readonly>

                                    }
                                    else
                                    {
                                        <select class="select2 form-control custom-select" id="ClaimId" name="ClaimId" style="width: 100%; height:36px;">
                                            <option value=""> -- Select  Expense Claim -- </option>
                                        </select>
                                    }
                                </div>
                                <span asp-validation-for="ClaimId" class="text-danger"></span>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label>Applicant Name</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="ti-key"></i></div>
                                        <input id="staff-name" class="form-control" placeholder="Not Available" value="@Model.Claim?.Staff.FullName" readonly>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label>Employee Number</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="ti-key"></i></div>
                                        <input id="staff-no" class="form-control" placeholder="Not Available" value="@Model.Claim?.Staff.EmplNo" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label>Ledger</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="ti-key"></i></div>
                                        <input id="lgr" class="form-control" placeholder="Not Available" value="@Model.Claim?.Ledger.Name" readonly>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label>Project</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="ti-key"></i></div>
                                        <input id="proj" class="form-control" placeholder="Not Available" value="@Model.Claim?.Project?.Name" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                    <label>Duty Called</label>
                                    <div class="input-group">
                                        <textarea id="duty" class="form-control" placeholder="Not Available..." readonly>@Model?.Claim?.DutyCalled</textarea>
                                    </div>
                                </div>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label>Amount</label>
                                    <div class="input-group">
                                        @{
                                            var cur = db.FCurrencies.Single(p => p.IsBase);
                                            var total = 0.0;
                                            if (Model?.Claim != null)
                                            {
                                                foreach (var p in Model?.Claim?.Payments)
                                                {
                                                    var payment = db.FWallet.Include(l => l.CurrencyUsed).Single(l => l.Id == p.Id);
                                                    total += p.GrossAmount;
                                                    if (cur.Id != payment.CurrencyUsed.Id)
                                                    {
                                                        cur = payment.CurrencyUsed;
                                                    }
                                                }
                                            }
                                        }
                                        <div class="input-group-addon"><i class="" id="cur">@cur.Alias</i></div>
                                        <input class="form-control" id="amt" placeholder="Not Available..." value="@total.ToString("#,##0")" readonly>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label>Expense Claim Date</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="ti-key"></i></div>
                                        <input id="imp-date" class="form-control" placeholder="" value="@Model.Claim?.DateCreated.ToString("yyyy-MM-dd")" readonly type="date">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="form-group">
                            <label asp-for="PaymentEntries"></label>
                            <ul style="" id="claim-ent-wrapper">
                                @if (Model.Claim != null && Model.Claim.Payments.Count > 0)
                                {
                                    foreach (var p in Model.Claim.Payments.Select(l => l.GLAccount).Distinct())//Distinct GL Accounts
                                    {
                                        <li class="gray-box">
                                            <label style="font-size:12px;font-weight:bold">GL Account @p.Name</label>
                                            <input class="pay-acc" value="@p.Id" type="hidden" />
                                            @foreach (var a in Model.Claim.Payments.Where(k => k.AccountId == p.Id))//Payments tied to this GL Account
                                            {
                                                var payment = db.FWallet.Include(l => l.GLAccount).Single(l => l.Id == a.Id);


                                                <ul class="" style="padding-left: 0;" id="claim-ent-content">
                                                    <li class="claim-ent" style="list-style:none;">
                                                        <div class="row gray-box claim-ent-row" style="min-height:80px">
                                                            <div class="form-group col-sm-1" style="" title="Payment Account">
                                                                <label>Payment No.</label>
                                                                <div class="input-group" style="">
                                                                    <input class="form-control pay-no" placeholder="" value="EP@(payment.Id.ToString("0000"))" readonly>
                                                                </div>
                                                            </div>
                                                            <div class="form-group col-sm-2" style="padding:2px" title="Recipient Name..">
                                                                <label>Payee No.</label>
                                                                <div class="input-group">
                                                                    <input class="form-control" placeholder="" value="@(payment.PayeeName ?? Model.Claim.Staff.FullName)" readonly>
                                                                </div>
                                                            </div>
                                                            <div class="form-group col-sm-1" title="Net Amount">
                                                                <label>Amount</label>
                                                                <div class="input-group">
                                                                    <input class="form-control pay-amt" placeholder="" value="@((await Utils.ComputeAmountPayable(payment)).ToString("#,##0"))" min="1" readonly>
                                                                </div>
                                                            </div>
                                                            <div class="form-group col-sm-3" title="Payment Mode">
                                                                <label>Ledger Bank Acc.</label>
                                                                <div class="input-group">

                                                                    <select class="select2 form-control custom-select pay-mode" style="width: 100%; height:36px;">
                                                                        <option value=""> -- Select Mode -- </option>
                                                                        @foreach (var pm in Model.Claim.Ledger.PaymentAccounts)
                                                                        {
                                                                            <option value="@pm.Id"> @pm.Name </option>

                                                                        }
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="form-group col-sm-3" style="" title="Total amount paid.">
                                                                <label>Cheque No.</label>
                                                                <div class="input-group">
                                                                    <input class="form-control pay-chk-no" placeholder="Cheque No..." value="">
                                                                </div>
                                                            </div>
                                                            <div class="checkbox checkbox-success" style="margin-left:3px">
                                                                <label> Pay EFT ? </label>
                                                                <div class="switch">
                                                                    <label>
                                                                        No
                                                                        <input class="pay-eft" type="checkbox"><span class="lever"></span>Yes
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            }
                                        </li>
                                    }

                                }
                                else
                                {
                                <li>
                                    <div class="empty">
                                        <hr />
                                        <p style="text-align:center;width:100%">No Entries...</p>
                                    </div>
                                </li>
                                }
                            </ul>
                            @Html.HiddenFor(l => l.PaymentEntries)
                            <span asp-validation-for="PaymentEntries" class="text-danger"></span>
                        </div>
                        <hr />
                        <div class="col-md-offset-5 col-md-10">
                            <button type="button" id="add-ec-dis" class="btn btn-info waves-effect waves-ripple m-r-10">Submit</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>

    </div>
</div>
@* Code in the scripts section below gets added at the bottom of the HTML body element, below other scripts. This
    section can be used to enter custom scripts specific to this page. *@
@section scripts
    {
    <script src="/lib/plugins/peity/jquery.peity.min.js"></script>
    <script src="/lib/plugins/peity/jquery.peity.init.js"></script>
    <script src="~/lib/plugins/switchery/dist/switchery.min.js"></script>
    <script src="~/lib/plugins/select2/dist/js/select2.full.min.js" type="text/javascript"></script>
    <script src="~/lib/plugins/bootstrap-select/bootstrap-select.min.js" type="text/javascript"></script>
    <script src="~/lib/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
    <script src="~/lib/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/lib/plugins/multiselect/js/jquery.multi-select.js"></script>

    <script type="text/javascript">
        $(function () {
            $(".preloader").fadeOut();
        });
        // For select 2
        $(".select2").select2();
        $('.selectpicker').selectpicker();
    </script>

    <script>
        jQuery('#Staff').on('change', function () {
            var sid = jQuery(this).val();
            sid && jQuery.getJSON('/staffec?sid=' + sid, function (res) {
                console && console.log(res), res.s === "1" && (data = JSON.parse(res.data),
                    typeof (NITA.StaffClaims === "undefined" && (NITA.StaffClaims = [])), NITA.StaffClaims = data.ecs, jQuery('#staff-info').data('sname', data.sname),jQuery('#staff-info').data('sno', data.sno),
                    wrapper = jQuery('#ClaimId'), wrapper.empty(), wrapper.append('<option value=""> -- Select Expense Claim -- </option>'), jQuery.each(NITA.StaffClaims, function (index, item) {
                     wrapper.append(jQuery('<option>', { value: item.cid, text: 'EC' + (item.cref + '0000').slice(-5) + ' ~ ' + item.camt }));
                }))
            })
        }),
        jQuery('#ClaimId').on('change', function () {
            var cid = jQuery(this).val();
            cid && typeof (NITA.StaffClaims) !== "undefined" && NITA.StaffClaims.length > 0 ? (jQuery.each(NITA.StaffClaims, function (i, obj) {
                jQuery.each(NITA.StaffClaims, function (i, obj) {
                    obj.cid === cid && updateClaimDetails(obj)
                })
            })) : (sid = JQuery('#StaffId').val(), jQuery.getJSON('/staffec?sid=' + sid, function (res) {
                    console && console.log(res), res.s === "1" && (data = JSON.parse(res.data), NITA.StaffClaims = data, jQuery.each(NITA.StaffClaims, function (i, obj) {
                        obj.cid === cid && updateClaimDetails(obj)
                     }))
            }))
            }),
            jQuery('body').on('change', '.pay-mode', function () {
            var eft = jQuery(this).closest('li').find('input.pay-eft'),mid = jQuery(this).val();
            jQuery.each(NITA.FLedgers, function (i, lgr) {
                jQuery.each(lgr.pmodes, function (j, mode) {                    
                    mode.id === mid && JQuery(eft).prop('disabled', mode.eft);
                })
            })
             }),
            jQuery('#add-ec-dis').click(function () {
            var pys = [];
            jQuery('#claim-ent-wrapper').children("li").children('p').length == 0 && (acc = jQuery('#claim-ent-wrapper').find("input.pay-acc").val(),jQuery.each(jQuery('#claim-ent-wrapper').children('li'), function (i, o) {
                var g = jQuery(o).find("input.pay-no").data('id'), h = jQuery(o).find("select.pay-mode").val(), chk = jQuery(o).find('input.pay-chk-no').val(),eft = jQuery(o).find('input.pay-eft').is(':checked');
                typeof (h) !== "undefined" && (Number(acc) > 0 && Number(h) > 0 && (
                    pys.push({ 'AccId': acc, 'PId': g, 'Mode': h, 'Cheque': chk, 'EFT': eft })))
            })), console && console.log('Payment Entries = ' + JSON.stringify(pys)), pys.length > 0 ? ( jQuery('#PaymentEntries').val(JSON.stringify(pys)), jQuery('#ec-dis-form').submit()):(alert('No payment entries found...'))
            }),
            updateClaimDetails = function (claim) {
            jQuery('#staff-name').val(jQuery('#staff-info').data('sname')), jQuery('#staff-no').val(jQuery('#staff-info').data('sno')), jQuery('#lgr').val(claim.lgr), jQuery('#proj').val(claim.proj), jQuery('#amt').val(claim.camt), jQuery('#cdate').val(claim.cdate), jQuery('#duty').val(claim.duty);
                var wrapper = JQuery('#claim-ent-wrapper');
                wrapper.empty(), claim.accs.length > 0 ? JQuery.each(claim.accs, function (i, itm) {
                    var b = '<li class="gray-box"> <label style="font-size:12px;font-weight:bold">GL Account "' + itm.gl + '"</label><input class="pay-acc" value="'+itm.id+'" type="hidden" /><ul class="" style="padding-left: 0;">';
                            jQuery.each(itm.pys, function (g, h) {
                            b += '<li class="claim-ent" style="list-style:none;"><div class="row gray-box claim-ent-row" style="min-height:80px"><div class="form-group col-sm-1" style="" title="">',
                                b += '<label>Payment No.</label><div class="input-group" style=""><input class="form-control pay-no" placeholder="" value="EP' + ('000' + h.id).slice(-3) + '" data-id="' + h.id+'" readonly></div></div>',
                                b += '<div class="form-group col-sm-2" style="padding:2px" title="Recipient Name.."><label>Payee No.</label><div class="input-group"><input class="form-control" placeholder="" value="' + jQuery('#staff-info').data('sno')+'" readonly></div></div>',
                                b += '<div class="form-group col-sm-1" title="Net Amount"><label>Amount</label><div class="input-group"><input class="form-control pay-amt" placeholder="" value="' + h.amt+'" min="1" readonly></div></div>',
                                b += '<div class="form-group col-sm-3" title="Payment Mode"><label>Ledger Bank Acc.</label><div class="input-group"><select class="select2 form-control custom-select pay-mode" style="width: 100%; height:36px;"><option value=""> -- Select Mode -- </option>',
                                jQuery.each(NITA.FLedgers, function (i, lgr) {
                                lgr.id === claim.lid && jQuery.each(lgr.pmodes, function (j, mode) {
                                    b += '<option value="'+mode.id+'"> '+mode.name+' </option>';
                                })
                                })
                                b += '</select>',
                            b+='</div></div><div class="form-group col-sm-3" style="" title=""><label>Cheque No.</label><div class="input-group"><input class="form-control pay-chk-no" placeholder="Cheque No..." value="">',
                            b+='</div></div><div class="checkbox checkbox-success" style="margin-left:3px"><label> Pay EFT ? </label><div class="switch"><label>No<input class="pay-eft" type="checkbox"><span class="lever"></span>Yes</label></div></div></div></li>';
                            }),
                        b += '</ul>';
                            b += "</li>", JQuery('#claim-ent-wrapper').append(b), jQuery(".select2").select2();
                }) : (JQuery('#claim-ent-wrapper').append('<li><div class="empty"><hr /><p style="text-align:center;width:100%">No Entries...</p></div></li>'))
            }
    </script>
}
