﻿@using Microsoft.EntityFrameworkCore;

@inject IOptionsSnapshot<AppSettings> AppSettings
@inject ApplicationDbContext db
@{
    // title - The title of the page which appears in the browser window title. Aim for the title to be less than 70
    //         characters. The site name appears at the end for better SEO.
    ViewBag.Title = "Add Expense Claim";
    // Description - Used by search engines. Aim for more than 160 characters.
    ViewBag.Description = "Create a new Expense Claim";

    var LedgerList = new List<SelectListItem>();
    foreach (var j in db.FLedgers.ToList())
    {
        LedgerList.Add(new SelectListItem() { Text = j.Name, Value = j.Id + "" });
    }
    //
    var ProjectList = new List<SelectListItem>();
    foreach (var j in db.FProjects.ToList())
    {
        ProjectList.Add(new SelectListItem() { Text = j.Name, Value = j.Id + "" });
    }
    //
    var StaffList = new List<SelectListItem>();
    foreach (var j in db.HrStaff.ToList())
    {
        StaffList.Add(new SelectListItem() { Text = j.FullName, Value = j.Id + "" });
    }
    //
    var WarrantList = new List<SelectListItem>();
}
@model AddExpenseClaimViewModel
@* Code in the head section below gets added at the bottom of the HTML head element. This section can be used to enter
    custom meta tags specific to this page. *@
@section head
    {
    @* Author - (Optional) Used by search engines. The author of the page. *@
    <meta name="author" content="ABNO Softwares Int.">
    @* Add Twitter Card social meta tags so we can customize what happens when our page is shared on Twitter. There are
        several different Twitter Card types we could add, a different one is added on each page as an example.
        These helpers make it very easy to add the meta tags. For best performance, see what tags are generated and
        hand-code them yourself instead of using these helpers. *@
    <twitter-card-summary-large-image username="@@ABNO">
        @* Add Open Graph social meta tags so we can customize what happens when our page is shared on Facebook, Google+,
            Pintrest and other social media websites. There are dozens of Open Graph types, a different one is added on
            each page as an example. These helpers make it very easy to add the meta tags. For best performance, see what
            tags are generated and hand-code them yourself instead of using these helpers. *@
        <open-graph-website site-name="@AppSettings.Value.SiteTitle"
                            title="@ViewBag.Title"
                            main-image="@(new OpenGraphImage(
                            Url.AbsoluteContent("~/img/icons/open-graph-1200x630.png"),
                            ContentType.Png,
                            1200,
                            630))"
                            determiner="Blank">
            @* referrer - Controls what is sent in the HTTP referrer header when a client navigates to an external site. *@
            <meta asp-referrer="OriginWhenCrossOrigin">

            <!-- page CSS -->
            <link href="~/lib/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
            <link href="~/lib/plugins/select2/dist/css/select2.min.css" rel="stylesheet" type="text/css" />
            <link href="~/lib/plugins/switchery/dist/switchery.min.css" rel="stylesheet" />
            <link href="~/lib/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
            <link href="~/lib/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.css" rel="stylesheet" />
            <link href="~/lib/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
            <link href="~/lib/plugins/multiselect/css/multi-select.css" rel="stylesheet" type="text/css" />

            <style>
                ul#claim-ent-wrapper {
                    min-height: 80px;
                    padding-left:0;
                }
                ul#claim-ent-wrapper > li {
                    list-style: none;
                    padding-left: 0
                }
                    ul#claim-ent-wrapper > li > div {
                        /*min-height: 80px;*/
                    }
                div.claim-ent-row {
                    box-shadow: 2px 2px #eee;
                }
                    div.claim-ent-row > div > label {
                        font-size: 11px;
                        font-weight: bold
                    }
                        div.claim-ent-row > div {
                            padding: 2px
                        }
                div.claim-ent-row > div > div.input-group {
                    height: 32px
                }
            </style>

        }
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-themecolor">@ViewBag.Title</h3>
                    </div>
                    <div class="col-md-7 align-self-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Finance</a></li>
                            <li class="breadcrumb-item">Expense Claims</li>
                            <li class="breadcrumb-item active">Add New </li>
                        </ol>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-11">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">@ViewBag.Title</h4>
                                <h6 class="card-subtitle">Create a new Expense Claim</h6>
                                <form asp-route="@FinanceControllerRoute.GetAddExpenseClaim" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form p-t-20" role="form" id="ec-form">
                                    <hr />
                                    <div asp-validation-summary="All" class="text-danger"></div>

                                    <div class="row">
                                        <div class="form-group col-md-6" id="parent-wrapper">
                                            <div>
                                                <label asp-for="Staff" class=""></label>
                                                <div class="input-group">
                                                    <div class="input-group-addon"><i class="ti-anchor"></i></div>
                                                    @Html.DropDownListFor(p => p.Staff, StaffList, "-- Select Staff --", new { @class = "select2 form-control custom-select", style = "width: 100%; height:48px !important;" })
                                                </div>
                                                <span asp-validation-for="Staff" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label>Staff Info.</label>
                                                <div class="input-group">
                                                    <textarea id="staff-info" style="width:100%;font-size:11px;font-weight:bold;min-height:100px;background:#eee" readonly></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label asp-for="Ref"></label>
                                                <div class="input-group">
                                                    <div class="input-group-addon"><i class="ti-key"></i></div>
                                                    <input asp-for="Ref" class="form-control" placeholder="~ Ref. No. ~" value="EC@(Model?.Ref)" readonly>
                                                </div>
                                                <span asp-validation-for="Ref" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="OrderNo"></label>
                                                <div class="input-group">
                                                    <div class="input-group-addon"><i class="ti-key"></i></div>
                                                    <input asp-for="OrderNo" class="form-control" placeholder="Order number..." value="">
                                                </div>
                                                <span asp-validation-for="OrderNo" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Ledger"></label>
                                                <div class="input-group">
                                                    <div class="input-group-addon"><i class="ti-key"></i></div>
                                                    @Html.DropDownListFor(p => p.Ledger, LedgerList, "-- Select Ledger --", new { @class = "select2 form-control custom-select", @style = "width: 100%; height:48px !important;" })
                                                </div>
                                                <span asp-validation-for="Ledger" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Project"></label>
                                                <div class="input-group">
                                                    <div class="input-group-addon"><i class="ti-key"></i></div>
                                                    @Html.DropDownListFor(p => p.Project, ProjectList, "-- Select Project --", new { @class = "select2 form-control custom-select", @style = "width: 100%; height:48px !important;" })
                                                </div>
                                                <span asp-validation-for="Project" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gray-box">
                                        <!-- Nav tabs -->
                                        <ul class="nav nav-tabs customtab" role="tablist">
                                            <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#home2" role="tab"><span class="hidden-sm-up"><i class="ti-home"></i></span> <span class="hidden-xs-down">Claim Details </span></a> </li>
                                            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile2" role="tab"><span class="hidden-sm-up"><i class="ti-user"></i></span> <span class="hidden-xs-down">Imprest Warrant </span></a> </li>
                                        </ul>
                                        <!-- Tab panes -->
                                        <div class="tab-content">
                                            <div class="tab-pane p-20 active" id="home2" role="tabpanel">
                                                <div class="">
                                                    <div class="row">
                                                        <div class="form-group col-sm-6">
                                                            <label asp-for="Mileage"></label>
                                                            <div class="form-group gray-box">
                                                                <div class="row">
                                                                    <div class="form-group col-md-6">
                                                                        <label>Dest. From :</label>
                                                                        <div class="input-group">
                                                                            <div class="input-group-addon"><i class="ti-key"></i></div>
                                                                            <input asp-for="Mileage.DestFrom" class="form-control" placeholder="Details...">
                                                                        </div>
                                                                        <span asp-validation-for="Mileage.DestFrom" class="text-danger"></span>
                                                                    </div>
                                                                    <div class="form-group col-md-6">
                                                                        <label>Dest. To :</label>
                                                                        <div class="input-group">
                                                                            <div class="input-group-addon"><i class="ti-key"></i></div>
                                                                            <input asp-for="Mileage.DesTo" class="form-control" placeholder="Details...">
                                                                        </div>
                                                                        <span asp-validation-for="Mileage.DesTo" class="text-danger"></span>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="form-group col-md-6">
                                                                        <label>Vehicle Reg. No. :</label>
                                                                        <div class="input-group">
                                                                            <div class="input-group-addon"><i class="ti-key"></i></div>
                                                                            <input asp-for="Mileage.RegNo" class="form-control" placeholder="Details...">
                                                                        </div>
                                                                        <span asp-validation-for="Mileage.RegNo" class="text-danger"></span>
                                                                    </div>
                                                                    <div class="form-group col-md-6">
                                                                        <label>Distance Covered :</label>
                                                                        <div class="input-group">
                                                                            <div class="input-group-addon"><i class="ti-key"></i></div>
                                                                            <input asp-for="Mileage.Distance" class="form-control" placeholder="Details...">
                                                                        </div>
                                                                        <span asp-validation-for="Mileage.Distance" class="text-danger"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-sm-6">
                                                            <label asp-for="Substainance"></label>
                                                            <div class="form-group gray-box">
                                                                <div class="row">
                                                                    <div class="form-group col-md-6">
                                                                        <label>Days :</label>
                                                                        <div class="input-group">
                                                                            <div class="input-group-addon"><i class="ti-key"></i></div>
                                                                            <input asp-for="Substainance.Days" class="form-control" placeholder="Details...">
                                                                        </div>
                                                                        <span asp-validation-for="Substainance.Days" class="text-danger"></span>
                                                                    </div>
                                                                    <div class="form-group col-md-6">
                                                                        <label>Rates (@@) :</label>
                                                                        <div class="input-group">
                                                                            <div class="input-group-addon"><i class="ti-key"></i></div>
                                                                            <input asp-for="Substainance.Rate" class="form-control" placeholder="Details...">
                                                                        </div>
                                                                        <span asp-validation-for="Substainance.Days" class="text-danger"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <hr />
                                                    <div class="form-group">
                                                        <label asp-for="DutyCalled"></label>
                                                        <div class="input-group">
                                                            <textarea asp-for="DutyCalled" class="form-control" placeholder="Purpose(Nature of duty)..."></textarea>
                                                        </div>
                                                        <span asp-validation-for="DutyCalled" class="text-danger"></span>
                                                    </div>

                                                    <hr />
                                                    <div class="form-group">
                                                        <label asp-for="ClaimEntries"></label>
                                                        <div style="">
                                                            <ul id="claim-ent-wrapper" style="">
                                                                <li class="claim-ent" style="list-style:none;">
                                                                    <div class="empty">
                                                                        <hr /> 
                                                                        <p style="text-align:center;width:100%">No Entries...</p>
                                                                    </div>
                                                                </li>
                                                                    @*<li class="claim-ent" style="list-style:none;">
                                                                        <div class="row gray-box claim-ent-row" style="min-height:80px">
                                                                            <div class="form-group col-sm-2" style="" title="Quantity Used">
                                                                                <label>Qty. Spent</label>
                                                                                <div class="input-group" style="">
                                                                                    <div class="input-group-addon"><i class="ti-key"></i></div>
                                                                                    <input class="form-control ent-qty" placeholder="Quantity.." value="0.0">
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group col-sm-3" style="padding:2px" title="Unit of measurement, E.G Litres, Meters...">
                                                                                <label>Unit</label>
                                                                                <div class="input-group">
                                                                                    <div class="input-group-addon"><i class="ti-key"></i></div>
                                                                                    <input class="form-control ent-unit" placeholder="Units... E.g Litres, Meters..." value="">
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group col-sm-2" title="Price per Unit">
                                                                                <label>@@ (Price per Unit)</label>
                                                                                <div class="input-group">
                                                                                    <div class="input-group-addon"><i class="ti-key"></i></div>
                                                                                    <input class="form-control ent-price" placeholder="Unit Cost..." value="1.0" min="1">
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group col-sm-2" style="" title="Total amount paid.">
                                                                                <label>Amount</label>
                                                                                <div class="input-group">
                                                                                    <div class="input-group-addon"><i class="ti-key"></i></div>
                                                                                    <input class="form-control ent-cost" placeholder="Total Cost.." value="0.0" readonly>
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group" style="width:22%" title="Date this expense was done.">
                                                                                <label>Date</label>
                                                                                <div class="input-group">
                                                                                    <div class="input-group-addon"><i class="ti-key"></i></div>
                                                                                    <input class="form-control ent-cost" placeholder="Date Paid" value="@DateTime.Now.ToString("yyyy-MM-dd")" type="date">
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label class="btn btn-danger btn-circle fa fa-close btn-remove" style="height:16px;width:16px;padding:1px"></label>
                                                                            </div>
                                                                        </div>
                                                                    </li>*@
                                                            </ul>
                                                            <hr />
                                                            <p style="text-align:center;"><input type="button" class="btn btn-info" id="add-claim-ent" style="height:26px;padding:4px" value="Add Claim Entry" data-toggle="tooltip" data-original-title="Append a new claim entry" /></p>
                                                        </div>
                                                        @Html.HiddenFor(l=>l.ClaimEntries)
                                                        <span asp-validation-for="ClaimEntries" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane  p-20" id="profile2" role="tabpanel">
                                                <div class="row">
                                                    <div class="gray-box col-sm-12" style="background:#eee">
                                                        <div class="form-group">
                                                            <label asp-for="Imprest"></label>
                                                            <div class="input-group">
                                                                <div class="input-group-addon"><i class="ti-key"></i></div>
                                                                @if (Model.Warrant != null)
                {
                                                <input class="form-control" id="kl" name="kl" placeholder="Imprest Warrant ~ IW@(Model.Warrant.Ref.ToString("0000"))" readonly>
                                                <input class="form-control" asp-for="Imprest" placeholder="" value="@Model.Warrant.Id" type="hidden" readonly>

}
else
{
                                                @Html.DropDownListFor(p => p.Imprest, WarrantList, "-- Select Warrant --", new { @class = "select2 form-control custom-select", @style = "width: 100%; height:36px;" })
}
                                                            </div>
                                                            <span asp-validation-for="Imprest" class="text-danger"></span>
                                                        </div>
                                                        <div class="row">
                                                            <div class="form-group col-sm-6">
                                                                <label>Applicant Name</label>
                                                                <div class="input-group">
                                                                    <div class="input-group-addon"><i class="ti-key"></i></div>
                                                                    <input id="staff-name" class="form-control" placeholder="Not Available" value="@Model.Warrant?.Staff.FullName" readonly>
                                                                </div>
                                                            </div>
                                                            <div class="form-group col-sm-6">
                                                                <label>Employee Number</label>
                                                                <div class="input-group">
                                                                    <div class="input-group-addon"><i class="ti-key"></i></div>
                                                                    <input id="staff-no" class="form-control" placeholder="Not Available" value="@Model.Warrant?.Staff.EmplNo" readonly>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="form-group col-sm-6">
                                                                <label>Ledger</label>
                                                                <div class="input-group">
                                                                    <div class="input-group-addon"><i class="ti-key"></i></div>
                                                                    <input id="lgr" class="form-control" placeholder="Not Available" value="@Model.Warrant?.Ledger.Name" readonly>
                                                                </div>
                                                            </div>
                                                            <div class="form-group col-sm-6">
                                                                <label>Project</label>
                                                                <div class="input-group">
                                                                    <div class="input-group-addon"><i class="ti-key"></i></div>
                                                                    <input id="proj" class="form-control" placeholder="Not Available" value="@Model.Warrant?.Project?.Name" readonly>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Description</label>
                                                            <div class="input-group">
                                                                <div class="input-group-addon"><i class="ti-key"></i></div>
                                                                <textarea id="desc" class="form-control" placeholder="Not Available" readonly>@Model?.Warrant?.Description</textarea>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="form-group col-sm-4">
                                                                <label>Amount</label>
                                                                <div class="input-group">
                                                                    @{
                        var cur = db.FCurrencies.Single(p => p.IsBase);
                        var total = 0.0;
                        if (Model?.Warrant != null)
                        {
                            foreach (var p in Model?.Warrant?.Payments)
                            {
                                var payment = db.FWallet.Include(l => l.CurrencyUsed).Single(l => l.Id == p.Id);
                                total += p.GrossAmount;
                                if (cur.Id != payment.CurrencyUsed.Id)
                                {
                                    cur = payment.CurrencyUsed;
                                }
                            }
                        }
                                                                    }
                                                                    <div class="input-group-addon"><i class="" id="cur">@cur.Alias</i></div>
                                                                    <input class="form-control" id="amt" placeholder="Not Available" value="@total.ToString("#,##0")" readonly>
                                                                </div>
                                                            </div>
                                                            <div class="form-group col-sm-4">
                                                                <label>Imprest Date</label>
                                                                <div class="input-group">
                                                                    <div class="input-group-addon"><i class="ti-key"></i></div>
                                                                    <input id="imp-date" class="form-control" placeholder="" value="@Model.Warrant?.CreateDate.ToString("yyyy-MM-dd")" readonly type="date">
                                                                </div>
                                                            </div>
                                                            <div class="form-group col-sm-4">
                                                                <label>Surrender Date</label>
                                                                <div class="input-group">
                                                                    <div class="input-group-addon"><i class="ti-key"></i></div>
                                                                    <input id="sur-date" class="form-control" placeholder="" value="@Model.Warrant?.SurrenderDate.ToString("yyyy-MM-dd")" readonly type="date">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr />
                                                                      
                                    <br />
                                    <div class="form-group">
                                        <label asp-for="Payables"></label>
                                        <div class="form-group gray-box">
                                            <div class="accs-wrapper">
                                                <ul style="" class="ar-new" id="ec-payables">
                                                    <li style="">
                                                        <p class="" id="hld" style="text-align:center;line-height:100px">
                                                            No New Entries...
                                                        </p>
                                                    </li>
                                                </ul>
                                                @Html.HiddenFor(l => l.Payables)
                                            </div>
                                            <hr />
                                            <p style="text-align:center"><input type="button" class="btn btn-success" id="add-ec" style="height:26px;padding:4px" value="Add New Row" data-toggle="tooltip" data-original-title="Append a new GL Account payable entry" /></p>

                                        </div>
                                    </div>
                                    <hr />
                                    <div class="form-group">
                                        <label>Total Amount</label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="ti-key"></i></div>
                                            <input id="NetAmount" class="form-control" placeholder="Total Amount..." value="0.0" readonly>
                                        </div>
                                    </div>
                                    @*<div class="form-group">
            <label asp-for="Description"></label>
            <div class="input-group">
                <textarea asp-for="Description" class="form-control" placeholder="Details..."></textarea>
            </div>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>*@
                                    <hr />
                                    <div class="col-md-offset-5 col-md-10">
                                        <button type="button" class="btn btn-info waves-effect waves-ripple m-r-10" id="submit-ec">Submit</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        @* Code in the scripts section below gets added at the bottom of the HTML body element, below other scripts. This
    section can be used to enter custom scripts specific to this page. *@
        @section scripts
        {
        <!-- jQuery peity -->
        <script src="/lib/plugins/peity/jquery.peity.min.js"></script>
        <script src="/lib/plugins/peity/jquery.peity.init.js"></script>

        <script src="~/lib/plugins/switchery/dist/switchery.min.js"></script>
        <script src="~/lib/plugins/select2/dist/js/select2.full.min.js" type="text/javascript"></script>
        <script src="~/lib/plugins/bootstrap-select/bootstrap-select.min.js" type="text/javascript"></script>
        <script src="~/lib/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
        <script src="~/lib/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="~/lib/plugins/multiselect/js/jquery.multi-select.js"></script>

        <script type="text/javascript">
            $(function () {
                $(".preloader").fadeOut();
            });
            // For select 2
            $(".select2").select2();
            $('.selectpicker').selectpicker();
        </script>

        <script>
            jQuery('#Staff').on('change', function () {
                var sid = jQuery(this).val();
                sid && jQuery.getJSON('/stprof?sid=' + sid, function (res) {
                    console && console.log(res), res.s === "1" && (data = JSON.parse(res.data), jQuery('#staff-info').val('Name : ' + data.name + '\nEmp. No. : ' + data.eno + '\nSect. : ' + data.sect + '\nLoc. : ' + data.loc),updateImprest(sid))
                })
            }),
                jQuery('#Imprest').on('change', function () { 
                var wid = jQuery(this).val();
                    wid && jQuery.each(NITA.StaffWarrants, function (index,item) {
                        jQuery.each(item.winf, function (j, obj) { 
                            obj.wid === wid && (jQuery('#staff-name').val(item.sname), jQuery('#staff-no').val(item.sno), jQuery('#lgr').val(obj.lgr), jQuery('#proj').val(obj.proj), jQuery('#desc').val(), jQuery('#amt').val(obj.damt), jQuery('#imp-date').val(obj.wdate), jQuery('#sur-date').val(obj.surd))
                        })
                    })
                })
                //ce
                jQuery('#add-claim-ent').click(function () {
                    //
                jQuery('#claim-ent-wrapper').children("li").children('div.empty').length > 0 && (jQuery('#claim-ent-wrapper').empty()), b = '<li class="claim-ent" style="list-style:none;"><div class="row gray-box claim-ent-row" style="min-height:80px">',
                b+='<div class="form-group col-sm-2" style="" title="Quantity Used"><label>Qty. Spent</label><div class="input-group" style=""><div class="input-group-addon"><i class="ti-key"></i></div><input class="form-control ent-qty" placeholder="Quantity.." value="0.0" type="number" step="any" min="0"></div></div>',
                b+='<div class="form-group col-sm-3" style="padding:2px" title="Unit of measurement, E.G Litres, Meters..."><label>Unit</label><div class="input-group"><div class="input-group-addon"><i class="ti-key"></i></div><input class="form-control ent-unit" placeholder="Units... E.g Litres, Meters..." value=""></div></div>',
                    b += '<div class="form-group col-sm-2" title="Price per Unit"><label>@@ (Price per Unit)</label><div class="input-group"><div class="input-group-addon"><i class="">' + NITA.BaseCurrency.alias + '</i></div><input class="form-control ent-price" placeholder="Unit Cost..." type="number" step="any" value="1.0" min="1"></div></div>',
                    b += '<div class="form-group col-sm-2" style="" title="Total amount paid."><label>Amount</label><div class="input-group"><div class="input-group-addon"><i class="">' + NITA.BaseCurrency.alias + '</i></div><input class="form-control ent-cost" placeholder="Total Cost.." value="0.0" readonly></div></div>',
                    b += '<div class="form-group" style="width:22%" title="Date this expense was done."><label>Date</label><div class="input-group"><div class="input-group-addon"><i class="ti-calendar"></i></div><input class="form-control ent-date" placeholder="Date Paid" value="' + convertDate(new Date())+ '" type="date"></div></div>',
                    b +='<div class="form-group"><label class="btn btn-danger btn-circle fa fa-close btn-rm-ce" style="height:16px;width:16px;padding:1px"></label></div></div></li>',
                jQuery('#claim-ent-wrapper').append(b);
                }), jQuery('body').on('click', '.btn-rm-ce', function () {
                    jQuery(this).closest("li").remove(),
                        jQuery('#claim-ent-wrapper').children('li').length == 0 && (jQuery('#claim-ent-wrapper').append('<li class="claim-ent" style="list-style:none;"><div class=""><hr /><p style="text-align:center;width:100%">No Entries...</p></div></li>'))
                }),
                jQuery('body').on('keyup input', '.ent-qty', function () {
                    updateAmount(this)
                }),
                jQuery('body').on('keyup input', '.ent-price', function () {
                    updateAmount(this)
                }),
                //ar
                jQuery('#add-ec').click(function () {
                    //
                    var b = '<li style="margin-top:5px;margin-left:5px" id="" ><div class="row acc-row-cont"><div class="form-group col-sm-4">';
                    b += '<label style="font-weight:bold;font-size:10px;margin:0;">GL Account</label><select class="select2 form-control custom-select ec-acc"  style="width:100%" data-placeholder="-- Select An Asset GL Account --">', wrapper = jQuery('#ec-payables'),
                        wrapper.children("li").children('p').length > 0 && (wrapper.empty()),
                        jQuery.each(NITA.FAccounts, function (index, item) {
                            item.typ !== "Income" && (b += '<optgroup label="🏠 ' + item.typ + ' Accounts" style="font-weight:bold"><optgroup label="⤵  ' + item.name + '">',
                                jQuery.each(item.childs, function (i, child) {
                                    b += '<option value="' + child.id + '">    ↪ ' + child.name + '</option>'
                                }), b += '</optgroup></optgroup>')
                        }),
                        b += '</select></div><div class="form-group col-sm-4" data-toggle="tooltip"  data-original-title="Select An Department">',
                        b += '<label style="font-weight:bold;font-size:10px;margin:0;">Department</label>',
                        b += '<label style="font-weight:bold;font-size:10px;margin:0;display:none" class="flag pull-right" title="This Department is missing a budget allocation for selected account.."><i class="fa fa-exclamation-circle" style="font-size:16px;color:#ff6400"></i></label>',
                        b += '<select class="select2 form-control custom-select ec-dept" style="width:100%" data-placeholder="-- Select A Department --">';
                    jQuery.each(NITA.Departments, function (index, item) {
                        b += '<option value="' + item.id + '">' + item.name + '</option>';
                    })
                    b += '</select></div>',
                        b += '<div class="form-group" style="width:28%"><label style="font-weight:bold;font-size:10px;margin:0;">Amount</label><div class="input-group" data-toggle="tooltip"  data-original-title="Enter amount for this GL Account">',
                        b += '<div class="input-group-addon" style="height:28px"><i class="">' + NITA.BaseCurrency.alias + '</i></div>',
                        b += '<input name="imprest-amt" id="imprest-amt" class="form-control ec-amt" placeholder="Amount" value="0.0" style="height:28px"></div></div>',
                        b += '<button class="bnt btn-sm btn-danger btn-rounded btn-rm-imprest" type="button" data-toggle="tooltip" style="padding:2px;margin:2px;height:22px" data-original-title="Remove Entry"><i class="ti-close"></i></button></div></li>',
                        //jQuery('#ar-accs').empty(),
                        wrapper.append(b), $(".select2").select2();
                }), jQuery('body').on('click', '.btn-rm-imprest', function () {
                    jQuery(this).closest("li").remove(),
                        jQuery('#ec-payables').children('li').length == 0 && (jQuery('#ec-payables').append('<li><p class="" id="hld" style="text-align:center;line-height:100px">No Entries....</p></li>'))
                }),
                jQuery('body').on('keyup', '.ec-amt', function () {
                    checkBudget(this)
                }),
                jQuery('body').on('change', '.ec-acc', function () {
                    checkBudget(this)
                }),
                jQuery('body').on('change', '.ec-dept', function () {
                    checkBudget(this)
                }),
                jQuery('body').on('click', '#submit-ec', function () {
                    var impaccs = [], ce = [], amt = 0.0;
                    jQuery('.ent-cost').length > 0 && jQuery.each(jQuery('.ent-cost'), function (i, j) { 
                    n = jQuery(j).val(),amt += Number(n.replace(',',''))
                }), x = Number(jQuery('#NetAmount').val()),x != amt ? (alert('Claim entries do not match account payables total amount.')) :
                    (jQuery('#ec-payables').children("li").children('p').length == 0 && (jQuery.each(jQuery('#ec-payables').children('li'), function (i, o) {
                        var g = jQuery(o).find("select.ec-acc").val(), h = jQuery(o).find("select.ec-dept").val(), amt = jQuery(o).find('input.ec-amt').val();
                        typeof (g) !== "undefined" && (Number(g) > 0 && (
                            impaccs.push({ 'AccId': g, 'Dept': h, 'GrossAmount': amt })))
                    })),
                        jQuery('#claim-ent-wrapper').children("li").children('p').length == 0 && (jQuery.each(jQuery('#claim-ent-wrapper').children('li'), function (i, o) {
                        var g = jQuery(o).find("input.ent-qty").val(), h = jQuery(o).find("input.ent-unit").val(), j = jQuery(o).find('input.ent-price').val(), k = jQuery(o).find('input.ent-date').val();
                            typeof (g) !== "undefined" && (Number(g) > 0 && (
                                ce.push({ 'Qty': g, 'UnitName': h, 'UnitPrice': j ,'Date':k})))
                            })), impaccs.length > 0 ? (console && console.log('Payables = ' + JSON.stringify(impaccs)), jQuery('#Payables').val(JSON.stringify(impaccs)), console && console.log('Claim Entries = ' + JSON.stringify(ce)), jQuery('#ClaimEntries').val(JSON.stringify(ce)),
                            jQuery('#ec-form').submit()) : (alert('Please specify a GL payable account..')))
                }),
                checkBudget = function (e) {
                    var li = jQuery(e).closest('li'), aid = jQuery(li).find('select.ec-acc').val(), did = jQuery(li).find('select.ec-dept').val(), obj = li.find('input.ec-amt'), flag = li.find('label.flag');
                    flag.hide(),aid && jQuery.each(NITA.FAccounts, function (j, par) {
                        jQuery.each(par.childs, function (i, child) {
                            child.id === aid && child.bitem && jQuery.getJSON('/deptbudget?aid=' + aid + '&did=' + did, function (res) {
                                console && console.log('Received Dept Budget = ' + JSON.stringify(res))
                                var data = JSON.parse(res.data);
                                res.s === "1" && (updateNet(), amt = jQuery('#NetAmount').val(), Number(data.bamt) > 0 ? ((Number(data.rem) - Number(amt)) < 0 ? (alert('There is no sufficient funds in the selected department to fund this payment.'), jQuery(obj).val('0.0'), updateNet(), flag.hide()) : (flag.hide(), console && console.log('Budget exists..'), updateNet())) : (child.bitem === "1" && flag.show(),console && console.log("Selected GL Account does not have a budget allocation")))
                            })
                        })
                    })

                },
                updateImprest = function (sid) {
                    (typeof (sid) === "undefined" ||!(Number(sid) > 0)) && (sid = jQuery('Staff').val());
                console && console.log('Update Imprest, sid = '+sid)
                sid && jQuery.getJSON('/staffwars?sid=' + sid, function (res) {
                    console && console.log(res), res.s === "1" && (data = JSON.parse(res.data),  typeof (NITA.StaffWarrants) === "undefined" && (NITA.StaffWarrants = []), NITA.StaffWarrants.length > 0 ? (x = "0", jQuery.each(NITA.StaffWarrants, function (i, obj) { obj.sid === sid && (x = sid) }), x !== sid && (NITA.StaffWarrants.push(data))) : NITA.StaffWarrants.push(data), jQuery('#Imprest').empty(), jQuery('#Imprest').append('<option value=""> -- Select Imprest --</option>'), jQuery.each(data.winf, function (k, item) {
                        jQuery('#Imprest').append($('<option>', {
                            value: item.wid,
                            text: 'IW'+(('0000'+item.war).slice(-4))+' ~ '+item.cur+' '+item.damt
                        }));
                    }))
                })
                    }, updateNet = function () { 
                    var tt = 0.0;
                    jQuery.each(jQuery('.ec-amt'), function (j, k) {
                        tt += parseInt(jQuery(k).val());
                    }), jQuery('#NetAmount').val(tt.toFixed(2))
                },
                updateAmount = function (e) {
                var li = jQuery(e).closest('li');
                var q = jQuery(li).find('input.ent-qty').val(), p = jQuery(li).find('input.ent-price').val(), h = Number(q) * Number(p);
                jQuery(li).find('input.ent-cost').val(h.toLocaleString(undefined, { maximumFractionDigits: 2 }))
                },
                    convertDate = function(date) {
                    
                        var yyyy = date.getFullYear().toString();
                        var mm = (date.getMonth() + 1).toString();
                        var dd = date.getDate().toString();

                        var mmChars = mm.split('');
                        var ddChars = dd.split('');

                        return yyyy + '-' + (mmChars[1] ? mm : "0" + mmChars[0]) + '-' + (ddChars[1] ? dd : "0" + ddChars[0]);
                    }
        </script>
        }
