﻿@using Microsoft.EntityFrameworkCore;

@inject IOptionsSnapshot<AppSettings> AppSettings
@inject ApplicationDbContext db
@{
    // title - The title of the page which appears in the browser window title. Aim for the title to be less than 70
    //         characters. The site name appears at the end for better SEO.
    ViewBag.Title = "Add Tax";
    // Description - Used by search engines. Aim for more than 160 characters.
    ViewBag.Description = "Create a new Finance Tax";


    //
    var RoundoffTypeList = new List<SelectListItem>();
    RoundoffTypeList.Add(new SelectListItem() { Text = "Round UP", Value = ((int)RoundOffType.Round_Up) + "" });
    RoundoffTypeList.Add(new SelectListItem() { Text = "Round DOWN", Value = ((int)RoundOffType.Round_Down) + "" });
    RoundoffTypeList.Add(new SelectListItem() { Text = "Round", Value = ((int)RoundOffType.Round) + "" });

    //
    var AccountList = new List<SelectListItem>();

    foreach (var f in db.FinanceAccounts.Include(p => p.Parent).Where(l => l.Parent != null && l.Type == FAccountType.Liability))//Only Child Accounts
    {

        AccountList.Add(new SelectListItem() { Text = "" + f.Name, Value = f.Id + "" });
    }
}
@model AddTaxViewModel
@* Code in the head section below gets added at the bottom of the HTML head element. This section can be used to enter
    custom meta tags specific to this page. *@
@section head
    {
    @* Author - (Optional) Used by search engines. The author of the page. *@
    <meta name="author" content="ABNO Softwares Int.">
    @* Add Twitter Card social meta tags so we can customize what happens when our page is shared on Twitter. There are
        several different Twitter Card types we could add, a different one is added on each page as an example.
        These helpers make it very easy to add the meta tags. For best performance, see what tags are generated and
        hand-code them yourself instead of using these helpers. *@
    <twitter-card-summary-large-image username="@@ABNO">
        @* Add Open Graph social meta tags so we can customize what happens when our page is shared on Facebook, Google+,
            Pintrest and other social media websites. There are dozens of Open Graph types, a different one is added on
            each page as an example. These helpers make it very easy to add the meta tags. For best performance, see what
            tags are generated and hand-code them yourself instead of using these helpers. *@
        <open-graph-website site-name="@AppSettings.Value.SiteTitle"
                            title="@ViewBag.Title"
                            main-image="@(new OpenGraphImage(
                            Url.AbsoluteContent("~/img/icons/open-graph-1200x630.png"),
                            ContentType.Png,
                            1200,
                            630))"
                            determiner="Blank">
            @* referrer - Controls what is sent in the HTTP referrer header when a client navigates to an external site. *@
            <meta asp-referrer="OriginWhenCrossOrigin">
            <!-- page CSS -->
            <link href="~/lib/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
            <link href="~/lib/plugins/select2/dist/css/select2.min.css" rel="stylesheet" type="text/css" />
            <link href="~/lib/plugins/switchery/dist/switchery.min.css" rel="stylesheet" />
            <link href="~/lib/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
            <link href="~/lib/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.css" rel="stylesheet" />
            <link href="~/lib/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
            <link href="~/lib/plugins/multiselect/css/multi-select.css" rel="stylesheet" type="text/css" />
            <style>
                .gray-box {
                    border: solid thin #ccc;
                    border-radius: 2px 2px;
                    margin: 5px;
                    padding: 4px
                }
            </style>
}
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-themecolor">@ViewBag.Title</h3>
                    </div>
                    <div class="col-md-7 align-self-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Finance</a></li>
                            <li class="breadcrumb-item">Utilities</li>
                            <li class="breadcrumb-item">Taxes</li>
                            <li class="breadcrumb-item active">Add Tax</li>
                        </ol>
                    </div>
                </div>

                <div class="col-lg-8">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">@ViewBag.Title</h4>
                            <h6 class="card-subtitle">Create a new tax</h6>
                            <form asp-route="@FinanceUtilsControllerRoute.AddFinanceTax" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form p-t-20" role="form">
                                <hr />
                                <div asp-validation-summary="All" class="text-danger"></div>

                                <div class="form-group">
                                    <label asp-for="Name"></label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="ti-user"></i></div>
                                        <input class="form-control" asp-for="Name" placeholder="Tax Name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Rate"></label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="ti-key"></i></div>
                                        <input asp-for="Rate" class="form-control" placeholder="Rates.. E.G 18%">
                                        <div class="input-group-addon"><i class="">%</i></div>
                                    </div>
                                    <span asp-validation-for="Rate" class="text-danger"></span>
                                </div>
                                @*<div class="form-group">
                            <label asp-for="Account" class=""></label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-link"></i></div>
                                @Html.DropDownListFor(p => p.Account, AccountList, "-- Select Account --", new { @class = "form-control" })
                                <span asp-validation-for="Account" class="text-danger"></span>
                            </div>
                        </div>*@
                                <div class="form-group">
                                    <label asp-for="Account"></label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="ti-anchor"></i></div>
                                        @*@Html.DropDownListFor(p => p.Account, AccountList, "-- Select Account --", new { @class = "form-control" })*@
                                        <select class="select2 custom-select" id="Account" name="Account" style="width: 100%; height:48px !important;">
                                            <option> -- Select Account -- </option>

                                            @foreach (var parent in db.FinanceAccounts.Include(k => k.Children).Where(l => l.Parent == null && l.Type == FAccountType.Liability).OrderBy(k => k.Type).ToList())
                                {
                                    <optgroup label="🏠 @parent.Type Accounts" style="font-weight:bold">

                                        <optgroup label="    ⤵  @parent.Name">

                                            @foreach (var child in parent.Children)
                                {
                                    <option value="@child.Id">    ↪ @child.Name</option>
                    }
                                        </optgroup>
                                    </optgroup>


                    }
                                            }


                                        </select>
                                    </div>
                                    <span asp-validation-for="Account" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="RoundType" class=""></label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="ti-link"></i></div>
                                        @Html.DropDownListFor(p => p.RoundType, RoundoffTypeList, "-- Select Round-Off --", new { @class = "form-control" })
                                    </div>
                                    <span asp-validation-for="RoundType" class="text-danger"></span>
                                </div>

                                <div class="form-group" id="parent-wrapper" style="">
                                    <label class="">Group As:</label>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-check bd-example-indeterminate">
                                                <label class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" name="types" value="@((int)TaxType.Full_V_A_T)">
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-description">Full V.A.T</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-check bd-example-indeterminate">
                                                <label class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" name="types" value="@((int)TaxType.IncomeTaxWithholding)">
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-description">Income Tax Withholding</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-check bd-example-indeterminate">
                                                <label class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" name="types" value="@((int)TaxType.Retention)">
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-description">Retention</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-check bd-example-indeterminate">
                                                <label class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" name="types" value="@((int)TaxType.V_A_T_Withholding)">
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-description">V.A.T Withholding</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="col-md-offset-5 col-md-10">
                                    <button type="submit" class="btn btn-info waves-effect waves-ripple m-r-10">Submit</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

            </div>

@* Code in the scripts section below gets added at the bottom of the HTML body element, below other scripts. This
    section can be used to enter custom scripts specific to this page. *@
@section scripts
    {
    <!-- jQuery peity -->
    <script src="/lib/plugins/peity/jquery.peity.min.js"></script>
    <script src="/lib/plugins/peity/jquery.peity.init.js"></script>
    <!-- jQuery peity -->
    <!-- ============================================================== -->
    <script src="~/lib/plugins/switchery/dist/switchery.min.js"></script>
    <script src="~/lib/plugins/select2/dist/js/select2.full.min.js" type="text/javascript"></script>
    <script src="~/lib/plugins/bootstrap-select/bootstrap-select.min.js" type="text/javascript"></script>
    <script src="~/lib/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
    <script src="~/lib/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/lib/plugins/multiselect/js/jquery.multi-select.js"></script>
    <script>
        // For select 2
        $(".select2").select2();
        $('.selectpicker').selectpicker();
    </script>
    <script type="text/javascript">
        $(function () {
            $(".preloader").fadeOut();
        });

    </script>
}
