﻿@using Microsoft.EntityFrameworkCore;

@inject IOptionsSnapshot<AppSettings> AppSettings
@inject ApplicationDbContext db
@{
    // title - The title of the page which appears in the browser window title. Aim for the title to be less than 70
    //         characters. The site name appears at the end for better SEO.
    ViewBag.Title = "Add Imprest Warrant";
    // Description - Used by search engines. Aim for more than 160 characters.
    ViewBag.Description = "Create a new Imprest Warrant";

    //
    var LedgerList = new List<SelectListItem>();

    foreach (var f in db.FLedgers.ToList())
    {

        LedgerList.Add(new SelectListItem() { Text = "" + f.Name, Value = f.Id + "" });
    }
    //
    var ProjectList = new List<SelectListItem>();

    foreach (var f in db.FProjects.ToList())
    {

        ProjectList.Add(new SelectListItem() { Text = "" + f.Name, Value = f.Id + "" });
    }
    ProjectList.Add(new SelectListItem() { Text = "None", Value = "0" });

    //
    var StaffList = new List<SelectListItem>();

    foreach (var f in db.HrStaff.ToList())
    {

        StaffList.Add(new SelectListItem() { Text = "" + f.FullName, Value = f.Id + "" });
    }

    //
    var DepartmentList = new List<SelectListItem>();

    foreach (var f in db.HrDepartments.ToList())
    {

        DepartmentList.Add(new SelectListItem() { Text = "" + f.Name, Value = f.Id + "" });
    }

    //
    var AccountList = new List<SelectListItem>();

    foreach (var f in db.FinanceAccounts.Where(l => l.Type != FAccountType.Income).ToList())
    {

        AccountList.Add(new SelectListItem() { Text = "" + f.Name, Value = f.Id + "" });
    }

    var BaseCurrency = db.FCurrencies.Single(p => p.IsBase);

}
@model AddImprestWarrantViewModel
@* Code in the head section below gets added at the bottom of the HTML head element. This section can be used to enter
    custom meta tags specific to this page. *@
@section head
    {
    @* Author - (Optional) Used by search engines. The author of the page. *@
    <meta name="author" content="ABNO Softwares Int.">
    @* Add Twitter Card social meta tags so we can customize what happens when our page is shared on Twitter. There are
        several different Twitter Card types we could add, a different one is added on each page as an example.
        These helpers make it very easy to add the meta tags. For best performance, see what tags are generated and
        hand-code them yourself instead of using these helpers. *@
    <twitter-card-summary-large-image username="@@ABNO">
        @* Add Open Graph social meta tags so we can customize what happens when our page is shared on Facebook, Google+,
            Pintrest and other social media websites. There are dozens of Open Graph types, a different one is added on
            each page as an example. These helpers make it very easy to add the meta tags. For best performance, see what
            tags are generated and hand-code them yourself instead of using these helpers. *@
        <open-graph-website site-name="@AppSettings.Value.SiteTitle"
                            title="@ViewBag.Title"
                            main-image="@(new OpenGraphImage(
                            Url.AbsoluteContent("~/img/icons/open-graph-1200x630.png"),
                            ContentType.Png,
                            1200,
                            630))"
                            determiner="Blank">
            @* referrer - Controls what is sent in the HTTP referrer header when a client navigates to an external site. *@
            <meta asp-referrer="OriginWhenCrossOrigin">

            <!-- page CSS -->
            <link href="~/lib/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
            <link href="~/lib/plugins/select2/dist/css/select2.min.css" rel="stylesheet" type="text/css" />
            <link href="~/lib/plugins/switchery/dist/switchery.min.css" rel="stylesheet" />
            <link href="~/lib/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
            <link href="~/lib/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.css" rel="stylesheet" />
            <link href="~/lib/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
            <link href="~/lib/plugins/multiselect/css/multi-select.css" rel="stylesheet" type="text/css" />
            <style>
                .gray-box {
                    border: solid thin #ccc;
                    border-radius: 4px 2px;
                    margin: 3px;
                    padding: 4px
                }
            </style>

}
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-themecolor">@ViewBag.Title</h3>
                    </div>
                    <div class="col-md-7 align-self-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Finance</a></li>
                            <li class="breadcrumb-item">Payables</li>
                            <li class="breadcrumb-item">Imprest Warrant</li>
                            <li class="breadcrumb-item active">Create</li>
                        </ol>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">@ViewBag.Title</h4>
                            <h6 class="card-subtitle">Create a new Imprest Warrant</h6>
                            <form asp-route="@FinanceControllerRoute.GetAddImprestWarrant" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form p-t-20" role="form" id="imprest-form">
                                <hr />
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label asp-for="Ref"></label>
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="ti-key"></i></div>
                                                <input asp-for="Ref" class="form-control" placeholder="" value="IW@(Model.Ref)" readonly>
                                            </div>
                                            <span asp-validation-for="Ref" class="text-danger"></span>
                                        </div>
                                        <div class="form-group" id="parent-wrapper">
                                            <label asp-for="Staff" class=""></label>
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="ti-anchor"></i></div>
                                                @Html.DropDownListFor(p => p.Staff, StaffList, "-- Select Staff --", new { @class = "select2 form-control custom-select", style = "width: 100%; height:48px !important;" })
                                            </div>
                                            <span asp-validation-for="Staff" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label>Staff Info.</label>
                                            <div class="input-group">
                                                <textarea id="staff-info" style="width:100%;font-size:11px;font-weight:bold;min-height:100px;background:#eee" readonly></textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12 col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label asp-for="OrderNo"></label>
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="ti-key"></i></div>
                                                <input asp-for="OrderNo" class="form-control" placeholder="">
                                            </div>
                                            <span asp-validation-for="OrderNo" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Ledger"></label>
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="ti-key"></i></div>
                                                @Html.DropDownListFor(p => p.Ledger, LedgerList, "-- Select Ledger --", new { @class = "select2 form-control custom-select", @style = "width: 100%; height:36px;" })
                                                <span asp-validation-for="Ledger" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Project"></label>
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="ti-key"></i></div>
                                                @Html.DropDownListFor(p => p.Project, ProjectList, "-- Select Project --", new { @class = "select2 form-control custom-select", @style = "width: 100%; height:36px;" })
                                                <span asp-validation-for="Project" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <label asp-for="NatureOfDuty"></label>
                                        <div class="input-group">
                                            <textarea asp-for="NatureOfDuty" class="form-control mce-min" placeholder=""></textarea>
                                        </div>
                                        <span asp-validation-for="NatureOfDuty" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label asp-for="ProposedItinerary"></label>
                                        <div class="input-group">
                                            <textarea asp-for="ProposedItinerary" class="form-control mce-min" placeholder=""></textarea>
                                        </div>
                                        <span asp-validation-for="ProposedItinerary" class="text-danger"></span>
                                    </div>
                                </div>

                                @*<div class="form-group">
            <label asp-for="PayeeNo"></label>
            <div class="input-group">
                <div class="input-group-addon"><i class="ti-key"></i></div>
                @Html.DropDownListFor(p => p.PayeeNo, StaffList, "-- Select Payee by Name --", new { @class = "select2 form-control custom-select", @style = "width: 100%; height:36px;" })
            </div>
            <span asp-validation-for="PayeeNo" class="text-danger"></span>
        </div>*@
                                <hr />
                                <br />
                                <label>Amount Payable</label>
                                <div class="gray-box">

                                    <div class="form-group">
                                        <label asp-for="Payables"></label>
                                        <div class="form-group gray-box">
                                            <div class="accs-wrapper">

                                                <ul style="" class="ar-new" id="imprest-payables">
                                                    <li style="">
                                                        <p class="" id="hld" style="text-align:center;line-height:100px">
                                                            No New Entries...
                                                        </p>
                                                    </li>
                                                </ul>
                                                @Html.HiddenFor(l => l.Payables)
                                            </div>
                                            <hr />
                                            <p style="text-align:center"><input type="button" class="btn btn-success" id="add-imprest" style="height:26px;padding:4px" value="Add New Row" data-toggle="tooltip" data-original-title="Append a new entry" /></p>

                                        </div>
                                    </div>
                                </div>
                                @*<br />
        <label>Multiple Payee</label>
        <div class="gray-box">
            <div class="form-group">
                <label asp-for="PayeeNo"></label>
                <div class="input-group">
                    <div class="input-group-addon"><i class="ti-key"></i></div>
                    @Html.DropDownListFor(p => p.Staff, StaffList, "-- Select Payee by Name --", new { @class = "select2 form-control custom-select", @style = "width: 100%; height:36px;" })
                </div>
                <span asp-validation-for="PayeeNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Payee Name</label>
                <div class="input-group">
                    <div class="input-group-addon"><i class="ti-key"></i></div>
                    <input id="payee-name" class="form-control" placeholder="Payee Name..." readonly>
                </div>
            </div>
        </div>*@
                                <hr />

                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <label asp-for="EstimatedDaysAway"></label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="ti-key"></i></div>
                                            <input asp-for="EstimatedDaysAway" class="form-control" placeholder="" min="1">
                                        </div>
                                        <span asp-validation-for="EstimatedDaysAway" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label>Amount</label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="">@BaseCurrency.Alias</i></div>
                                            <input id="Amount" class="form-control" placeholder="" readonly value="0.0">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <label>Create Date</label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="ti-calendar"></i></div>
                                            <input id="c-date" class="form-control" placeholder="" readonly type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")">
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label asp-for="SurrenderDate"></label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="ti-calendar"></i></div>
                                            <input asp-for="SurrenderDate" class="form-control" placeholder="" type="date" value="@DateTime.Now.AddDays(2).ToString("yyyy-MM-dd")">
                                        </div>
                                        <span asp-validation-for="SurrenderDate" class="text-danger"></span>
                                    </div>
                                </div>
                                <hr />

                                <div class="form-group">
                                    <label asp-for="Description"></label>
                                    <div class="input-group">
                                        <textarea asp-for="Description" class="form-control mce-min" placeholder=""></textarea>
                                    </div>
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                                <hr />

                                <div class="col-md-offset-5 col-md-10">
                                    <button type="button" class="btn btn-info waves-effect waves-ripple m-r-10" id="submit-imprest">Submit</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

            </div>

@* Code in the scripts section below gets added at the bottom of the HTML body element, below other scripts. This
    section can be used to enter custom scripts specific to this page. *@
@section scripts
    {
    <!-- jQuery peity -->
    <script src="/lib/plugins/peity/jquery.peity.min.js"></script>
    <script src="/lib/plugins/peity/jquery.peity.init.js"></script>
    <!-- jQuery peity -->
    <script type="text/javascript">
        $(function () {
            $(".preloader").fadeOut();
        });

    </script>
    <!--This page plugins -- >
    <!-- ============================================================== -->
    <script src="~/lib/plugins/switchery/dist/switchery.min.js"></script>
    <script src="~/lib/plugins/select2/dist/js/select2.full.min.js" type="text/javascript"></script>
    <script src="~/lib/plugins/bootstrap-select/bootstrap-select.min.js" type="text/javascript"></script>
    <script src="~/lib/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
    <script src="~/lib/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/lib/plugins/multiselect/js/jquery.multi-select.js"></script>

    <script>
        // For select 2
        $(".select2").select2();
        $('.selectpicker').selectpicker();
    </script>

    <script>
        typeof (NITA.Departments) === "undefined" && (NITA.Departments = []),
            jQuery.getJSON('/hrdepts', function (res) {
                console && console.log(res)
                typeof (res.s) !== "undefined" && res.s === "1" && (NITA.Departments = JSON.parse(res.data));
            }),
            jQuery.getJSON('/basecur', function (res) {
                console && console.log(res)
                typeof (res.s) !== "undefined" && res.s === "1" && (NITA.BaseCurrency = JSON.parse(res.data));
            }),
            //ar
            jQuery('#add-imprest').click(function () {
                //
                var b = '<li style="margin-top:5px" id="" ><div class="row acc-row-cont" style="margin-left:5px"><div class="form-group col-sm-4">';
                b += '<label style="font-weight:bold;font-size:10px;margin:0;">GL Account</label><select class="select2 form-control custom-select imprest-acc"  style="width:100%" data-placeholder="-- Select An Asset GL Account --">', wrapper = jQuery('#imprest-payables'),
                    wrapper.children("li").children('p').length > 0 && (wrapper.empty()),
                    jQuery.each(NITA.FAccounts, function (index, item) {
                        item.typ !== "Income" && (b += '<optgroup label="🏠 ' + item.typ + ' Accounts" style="font-weight:bold"><optgroup label="⤵  ' + item.name + '">',
                            jQuery.each(item.childs, function (i, child) {
                                b += '<option value="' + child.id + '">    ↪ ' + child.name + '</option>'
                            }), b += '</optgroup></optgroup>')
                    }),
                    b += '</select></div><div class="form-group col-sm-4" data-toggle="tooltip"  data-original-title="Select An Department">',
                    b += '<label style="font-weight:bold;font-size:10px;margin:0;">Department</label>',
                    b += '<label style="font-weight:bold;font-size:10px;margin:0;display:none" class="flag pull-right" title="This Department is missing a budget allocation for selected account.."><i class="fa fa-exclamation-circle" style="font-size:16px;color:#ff6400"></i></label>',
                     b+='<select class="select2 form-control custom-select imprest-dept" style="width:100%" data-placeholder="-- Select A Department --">';
                jQuery.each(NITA.Departments, function (index, item) {
                    b += '<option value="' + item.id + '">' + item.name + '</option>';
                })
                b += '</select></div>',
                    b += '<div class="form-group" style="width:28%"><label style="font-weight:bold;font-size:10px;margin:0;">Amount</label><div class="input-group" data-toggle="tooltip"  data-original-title="Enter amount for this GL Account">',
                    b += '<div class="input-group-addon" style="height:28px"><i class="">' + NITA.BaseCurrency.alias + '</i></div>',
                    b += '<input name="imprest-amt" id="imprest-amt" class="form-control imprest-amt" placeholder="Amount" value="0.0" style="height:28px"></div></div>',
                    b += '<button class="bnt btn-sm btn-danger btn-rounded btn-rm-imprest" type="button" data-toggle="tooltip" style="padding:2px;margin:2px;height:22px" data-original-title="Remove Entry"><i class="ti-close"></i></button></div></li>',
                    //jQuery('#ar-accs').empty(),
                    wrapper.append(b), $(".select2").select2();
            }), jQuery('body').on('click', '.btn-rm-imprest', function () {
                jQuery(this).closest("li").remove(),
                    jQuery('#imprest-payables').children('li').length == 0 && (jQuery('#imprest-payables').append('<li><p class="" id="hld" style="text-align:center;line-height:100px">No Entries....</p></li>'))
            }),
            jQuery('body').on('keyup', '.imprest-amt', function () {
                checkBudget(this)
            }),
            jQuery('body').on('change', '.imprest-acc', '.imprest-dept', function () {
                checkBudget(this)
            }),
            jQuery('body').on('change','.imprest-dept', function () {
                checkBudget(this)
            }),
            jQuery('body').on('click', '#submit-imprest', function () {
                var impaccs = [];
                jQuery('#imprest-payables').children("li").children('p').length == 0 && (jQuery.each(jQuery('#imprest-payables').children('li'), function (i, o) {
                    var g = jQuery(o).find("select.imprest-acc").val(), h = jQuery(o).find("select.imprest-dept").val(), amt = jQuery(o).find('input.imprest-amt').val();
                    //alert('Acc = '+g+', Dept = '+h+', amt = '+amt)
                    typeof (g) !== "undefined" && (Number(g) > 0 && (
                        impaccs.push({ 'AccId': g, 'Dept': h, 'GrossAmount': amt })))
                })), console && console.log('Payables = ' + JSON.stringify(impaccs)), jQuery('#Payables').val(JSON.stringify(impaccs)), jQuery('#imprest-form').submit()
            }),
            checkBudget = function (e) {
                var li = jQuery(e).closest('li'), aid = jQuery(li).find('select.imprest-acc').val(), did = jQuery(li).find('select.imprest-dept').val(), obj = li.find('input.imprest-amt'), flag = li.find('label.flag');
                flag.hide(),aid && jQuery.each(NITA.FAccounts, function (j, par) {
                    jQuery.each(par.childs, function (i, child) {
                        child.id === aid && child.bitem && jQuery.getJSON('/deptbudget?aid=' + aid + '&did=' + did, function (res) {
                            console && console.log('Received Dept Budget = ' + JSON.stringify(res))
                            var data = JSON.parse(res.data);
                            res.s === "1" && (updateNet(), amt = jQuery('#Amount').val(), Number(data.bamt) > 0 ? ((Number(data.rem) - Number(amt)) < 0 ? (alert('There is no sufficient funds in the selected department to fund this payment.'), jQuery(obj).val('0.0'), updateNet(), flag.hide()) : (flag.hide(), console && console.log('Budget exists..'), updateNet())) : (child.bitem === "1" && flag.show(),console && console.log("Selected GL Account does not have a budget allocation")))
                        })
                    })
                })

            }, updateNet = function () {
            var tt = 0.0;
            jQuery.each(jQuery('.imprest-amt'), function (j, k) {
                tt += parseInt(jQuery(k).val());
            }), jQuery('#Amount').val(tt.toFixed(2))
            }
    </script>
}
