﻿@using Microsoft.EntityFrameworkCore;

@inject IOptionsSnapshot<AppSettings> AppSettings
@inject ApplicationDbContext db
@{
    // title - The title of the page which appears in the browser window title. Aim for the title to be less than 70
    //         characters. The site name appears at the end for better SEO.
    ViewBag.Title = "Add Imprest Surrender";
    // Description - Used by search engines. Aim for more than 160 characters.
    ViewBag.Description = "Create a new Imprest Surrender";

    var StaffList = new List<SelectListItem>();
    foreach(var h in db.HrStaff.Include(l => l.ImprestWarrants).ToList()){
        StaffList.Add(new SelectListItem() { Text = ""+h.FullName, Value = ""+h.Id });
    }
    var LedgerList = new List<SelectListItem>();
    foreach (var h in db.FLedgers.ToList())
    {
        LedgerList.Add(new SelectListItem() { Text = "" + h.Name, Value = "" + h.Id });
    }
}
@model AddImprestSurrenderViewModel
@* Code in the head section below gets added at the bottom of the HTML head element. This section can be used to enter
    custom meta tags specific to this page. *@
@section head
    {
    @* Author - (Optional) Used by search engines. The author of the page. *@
    <meta name="author" content="ABNO Softwares Int.">
    @* Add Twitter Card social meta tags so we can customize what happens when our page is shared on Twitter. There are
        several different Twitter Card types we could add, a different one is added on each page as an example.
        These helpers make it very easy to add the meta tags. For best performance, see what tags are generated and
        hand-code them yourself instead of using these helpers. *@
    <twitter-card-summary-large-image username="@@ABNO">
        @* Add Open Graph social meta tags so we can customize what happens when our page is shared on Facebook, Google+,
            Pintrest and other social media websites. There are dozens of Open Graph types, a different one is added on
            each page as an example. These helpers make it very easy to add the meta tags. For best performance, see what
            tags are generated and hand-code them yourself instead of using these helpers. *@
        <open-graph-website site-name="@AppSettings.Value.SiteTitle"
                            title="@ViewBag.Title"
                            main-image="@(new OpenGraphImage(
                            Url.AbsoluteContent("~/img/icons/open-graph-1200x630.png"),
                            ContentType.Png,
                            1200,
                            630))"
                            determiner="Blank">
            @* referrer - Controls what is sent in the HTTP referrer header when a client navigates to an external site. *@
            <meta asp-referrer="OriginWhenCrossOrigin">

            <!-- page CSS -->
            <link href="~/lib/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
            <link href="~/lib/plugins/select2/dist/css/select2.min.css" rel="stylesheet" type="text/css" />
            <link href="~/lib/plugins/switchery/dist/switchery.min.css" rel="stylesheet" />
            <link href="~/lib/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
            <link href="~/lib/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.css" rel="stylesheet" />
            <link href="~/lib/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
            <link href="~/lib/plugins/multiselect/css/multi-select.css" rel="stylesheet" type="text/css" />
        }
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-themecolor">@ViewBag.Title</h3>
                    </div>
                    <div class="col-md-7 align-self-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Finance</a></li>
                            <li class="breadcrumb-item">Payables</li>
                            <li class="breadcrumb-item">Imprest Warrant</li>
                            <li class="breadcrumb-item active">Surrender</li>
                        </ol>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">@ViewBag.Title</h4>
                            <h6 class="card-subtitle">Create a new Imprest Surrender</h6>
                            <form asp-route="@FinanceControllerRoute.GetAddImprestSurrender" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form p-t-20" role="form" id="surrender-form">
                                <hr />
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="Staff"></label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="ti-key"></i></div>
                                        @if (Model.Disbursement != null)
                            {
                                <input class="form-control" type="text" placeholder="@Model.Disbursement.Warrant.Staff.FullName" readonly>
                                <input asp-for="Staff" value="@Model.Disbursement.Warrant.Staff.Id" type="hidden">


                }
                else
                {
                    @Html.DropDownListFor(p => p.Staff, StaffList, "-- Select Staff--", new { @class = "select2 form-control custom-select staff-list", @style = "width: 100%; height:36px;" })
    }
                                    </div>
                                    <span asp-validation-for="Staff" class="text-danger"></span>
                                </div>
                                <hr />
                                <div class="gray-box" style="background:#eee">
                                    <div class="form-group">
                                        <label asp-for="IWDisbursementId"></label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="ti-key"></i></div>
                                            @if (Model.Disbursement != null)
                                {
                                    <input class="form-control" placeholder="Imprest Warrant ~ IW@(Model.Disbursement.Ref.ToString("0000"))" readonly>
                                    <input class="form-control" asp-for="IWDisbursementId" placeholder="" value="@Model.Disbursement.Id" type="hidden" readonly>

                    }
                    else
                    {
                        <select name="IWDisbursementId" id="IWDisbursementId" class="form-control">
                            <option value="0">-- Select Disbursement -- </option>
                        </select>
        }
                                        </div>
                                        <span asp-validation-for="IWDisbursementId" class="text-danger"></span>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm-6">
                                            <label>Applicant Name</label>
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="ti-key"></i></div>
                                                <input id="staff-name" class="form-control" placeholder="Not Available" value="@Model.Disbursement?.Warrant.Staff.FullName" readonly>
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label>Employee Number</label>
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="ti-key"></i></div>
                                                <input id="staff-no" class="form-control" placeholder="Not Available" value="@Model.Disbursement?.Warrant.Staff.EmplNo" readonly>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm-6">
                                            <label>Ledger</label>
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="ti-key"></i></div>
                                                <input id="lgr" class="form-control" placeholder="Not Available" value="@Model.Disbursement?.Warrant.Ledger.Name" data-id="@Model.Disbursement?.Warrant.Ledger.Id" readonly>
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label>Project</label>
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="ti-key"></i></div>
                                                <input id="proj" class="form-control" placeholder="Not Available" value="@Model.Disbursement?.Warrant?.Project?.Name" data-id="@Model.Disbursement?.Warrant?.Project?.Id" readonly>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Description</label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="ti-key"></i></div>
                                            <textarea id="desc" class="form-control" placeholder="Not Available" readonly>@Model.Disbursement?.Description</textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm-4">
                                            <label>Imprest Amount</label>
                                            <div class="input-group">
                                                @{
                                        var cur = db.FCurrencies.Single(p => p.IsBase);
                                        var total = 0.0;
                                        if (Model.Disbursement?.Warrant.Payments != null)
                                        {
                                            foreach (var p in Model.Disbursement?.Warrant.Payments)
                                            {
                                                var payment = db.FWallet.Include(l => l.CurrencyUsed).Single(l => l.Id == p.Id);
                                                total += p.GrossAmount;
                                                if (cur.Id != payment.CurrencyUsed.Id)
                                                {
                                                    cur = payment.CurrencyUsed;
                                                }
                                            }
                                        }
                                                }
                                                <div class="input-group-addon"><i class="cur">@cur.Alias</i></div>
                                                <input class="form-control" id="amt-dis" placeholder="Not Available" value="@total.ToString("#,##0")" readonly>
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label>Amount Spent</label>
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="cur">@cur.Alias</i></div>
                                                <input id="amt-spent" class="form-control" placeholder="" readonly>
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label>Not Surrendered</label>
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="cur">@cur.Alias</i></div>
                                                <input id="amt-rem" class="form-control" type="number" placeholder="" readonly>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm-6">
                                            <label>Date Disbursed</label>
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="ti-key"></i></div>
                                                <input id="imp-date" class="form-control" placeholder="" readonly type="date">
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label>Surrender Date</label>
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="ti-key"></i></div>
                                                <input id="sur-date" class="form-control" placeholder="" readonly type="date">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="">
                                    <label asp-for="Payables"></label>
                                    <div class="form-group gray-box">
                                        <div class="accs-wrapper">

                                            <ul style="" class="ap-new" id="payables-wrapper">
                                                @if (Model.Disbursement != null && Model.Disbursement.Warrant.Payments.Count > 0)
                                    {
                                        @foreach (var p in Model.Disbursement.Warrant.Payments)
                            {
                                try
                                {
                                    var payment = db.FWallet.Include(l => l.CurrencyUsed).Include(l => l.Department).Include(l => l.GLAccount).SingleOrDefault(k => k.Id == p.Id);
                                    if (payment != null)
                                    {
                                        var dd = payment.Department?.Name;
                                        <li style="margin-top:5px" id="">
                                            <div class="row acc-row-cont">
                                                <div class="input-group col-sm-3">
                                                    <div class="input-group-addon"><i class="ti-key"></i></div>
                                                    <input class="form-control acc-dept" data-id="@payment.DeptId" value="@dd" placeholder="Department..." style="height:38px" readonly />
                                                </div>
                                                <div class="input-group col-sm-4">
                                                    <div class="input-group-addon"><i class="ti-key"></i></div>
                                                    <input class="form-control acc-id" data-id="@payment.GLAccount.Id" value="@payment.GLAccount.Name" placeholder="GL Account Name..." style="height:38px" readonly />
                                                </div>
                                                <div class="input-group col-sm-3">

                                                    <div class="input-group-addon"><i class="cur">@payment.CurrencyUsed.Alias</i></div>
                                                    <input class="form-control" value="@payment.GrossAmount.ToString("#,##0")" placeholder="Amount Allocated..." style="height:38px" readonly />
                                                </div>
                                                <div class="input-group col-sm-2">
                                                    <input class="form-control amt-spent" value="" placeholder="Amount Spent...(@payment.CurrencyUsed.Alias)" style="height:38px" />
                                                </div>
                                            </div>
                                        </li>

                        }
                    }
                    catch { }


                }
                                        <hr />
                        }
                        else
                        {

                            <li style="">
                                <p class="" id="hld" style="text-align:center;line-height:100px">
                                    No Entries...
                                </p>
                            </li>
            }
                                            </ul>
                                            @Html.HiddenFor(l => l.Payables)
                                        </div>
                                    </div>
                                </div>
                                <label>Underspent Amount Settlement</label>
                                <div class="gray-box">
                                    <div class="row">
                                        <div class="form-group col-sm-6">
                                            <label>Payment Mode</label>
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="ti-key"></i></div>
                                                <select id="ModeId" name="ModeId" class="select2 form-control custom-select" , style="width: 100%; height:36px;">
                                                    @if (Model.Disbursement != null && Model.Disbursement.Warrant != null && Model.Disbursement.Warrant.Ledger != null)
                                        {

                                            foreach (var d in Model.Disbursement.Warrant.Ledger.PaymentAccounts)
                                            {
                                                <option value="@d.Id"> @d.Name</option>
                                }
                            }
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group col-sm-6">
                                            <label>Payment Mode Account Number</label>
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="ti-key"></i></div>
                                                <input asp-for="ModeAccNumber" class="form-control" placeholder="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="col-md-offset-5 col-md-10">
                                    <button type="button" class="btn btn-info waves-effect waves-ripple m-r-10" id="surrender">Submit</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

            </div>

        @* Code in the scripts section below gets added at the bottom of the HTML body element, below other scripts. This
    section can be used to enter custom scripts specific to this page. *@
        @section scripts
        {
        <!-- jQuery peity -->
        <script src="/lib/plugins/peity/jquery.peity.min.js"></script>
        <script src="/lib/plugins/peity/jquery.peity.init.js"></script>
        <!-- jQuery peity -->
        <script type="text/javascript">
            $(function () {
                $(".preloader").fadeOut();
            });

        </script>
        <!--This page plugins -- >
<!-- ============================================================== -->
        <script src="~/lib/plugins/switchery/dist/switchery.min.js"></script>
        <script src="~/lib/plugins/select2/dist/js/select2.full.min.js" type="text/javascript"></script>
        <script src="~/lib/plugins/bootstrap-select/bootstrap-select.min.js" type="text/javascript"></script>
        <script src="~/lib/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
        <script src="~/lib/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="~/lib/plugins/multiselect/js/jquery.multi-select.js"></script>

        <script>
            // For select 2
            $(".select2").select2();
            $('.selectpicker').selectpicker();
        </script>

        <script>
            jQuery('#lgr').change(function () {
                loadAccs();
            }),
                jQuery('.staff-list').change(function () { 
                var sid = jQuery(this).val();
                sid && jQuery.getJSON('/staffdis?sid='+sid, function (res) { 

                })
            });
            function loadAccs() {
                var lid = jQuery('#lgr').data('id');
                Number(lid) > 0 && jQuery.getJSON('/lpaccs?lid=' + lid, function (res) {
                    console && console.log(res), res.s === "1" && (x = jQuery('#ModeId'), x.empty(), data = JSON.parse(res.data), data.length > 0 && (x.empty, x.append('<option value="0"> -- Select Payment Mode --</option>'), jQuery.each(data, function (i, item) {
                        x.append(jQuery('<option>', {
                            value: item.id,
                            text: item.name
                        }));
                    })))
                })
            }
            jQuery(document).ready(function () {
                loadAccs();
            })
        </script>
        }
