﻿@using Microsoft.EntityFrameworkCore;

@inject IOptionsSnapshot<AppSettings> AppSettings
@inject ApplicationDbContext db
@{
    // title - The title of the page which appears in the browser window title. Aim for the title to be less than 70
    //         characters. The site name appears at the end for better SEO.
    ViewBag.Title = "Add Imprest Disbursement";
    // Description - Used by search engines. Aim for more than 160 characters.
    ViewBag.Description = "Create a new Imprest Disbursement";

    //
    var WarrantList = new List<SelectListItem>();

    foreach (var f in db.FImprestWarrants.Include(k=>k.Staff).ToList())
    {

        WarrantList.Add(new SelectListItem() { Text = "IW" + f.Ref.ToString("0000") +" ~ for "+f.Staff.FullName, Value = f.Id + "" });
    }
    var o = Model.Ref;

    var Ref = o.Value.ToString("0000");
}
@model AddImprestDisbursementViewModel
@* Code in the head section below gets added at the bottom of the HTML head element. This section can be used to enter
    custom meta tags specific to this page. *@
@section head
    {
    @* Author - (Optional) Used by search engines. The author of the page. *@
    <meta name="author" content="ABNO Softwares Int.">
    @* Add Twitter Card social meta tags so we can customize what happens when our page is shared on Twitter. There are
        several different Twitter Card types we could add, a different one is added on each page as an example.
        These helpers make it very easy to add the meta tags. For best performance, see what tags are generated and
        hand-code them yourself instead of using these helpers. *@
    <twitter-card-summary-large-image username="@@ABNO">
        @* Add Open Graph social meta tags so we can customize what happens when our page is shared on Facebook, Google+,
            Pintrest and other social media websites. There are dozens of Open Graph types, a different one is added on
            each page as an example. These helpers make it very easy to add the meta tags. For best performance, see what
            tags are generated and hand-code them yourself instead of using these helpers. *@
        <open-graph-website site-name="@AppSettings.Value.SiteTitle"
                            title="@ViewBag.Title"
                            main-image="@(new OpenGraphImage(
                                Url.AbsoluteContent("~/img/icons/open-graph-1200x630.png"),
                                ContentType.Png,
                                1200,
                                630))"
                            determiner="Blank">
            @* referrer - Controls what is sent in the HTTP referrer header when a client navigates to an external site. *@
            <meta asp-referrer="OriginWhenCrossOrigin">

            <!-- page CSS -->
            <link href="~/lib/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
            <link href="~/lib/plugins/select2/dist/css/select2.min.css" rel="stylesheet" type="text/css" />
            <link href="~/lib/plugins/switchery/dist/switchery.min.css" rel="stylesheet" />
            <link href="~/lib/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
            <link href="~/lib/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.css" rel="stylesheet" />
            <link href="~/lib/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
            <link href="~/lib/plugins/multiselect/css/multi-select.css" rel="stylesheet" type="text/css" />
        }
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-themecolor">@ViewBag.Title</h3>
                    </div>
                    <div class="col-md-7 align-self-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Finance</a></li>
                            <li class="breadcrumb-item">Payables</li>
                            <li class="breadcrumb-item">Imprest Warrant</li>
                            <li class="breadcrumb-item active">Disburse</li>
                        </ol>
                    </div>
                </div>
                <div class="col-lg-11">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">@ViewBag.Title</h4>
                            <h6 class="card-subtitle">Create a new imprest disbursement</h6>
                            <form asp-route="@FinanceControllerRoute.GetAddImprestDisbursement" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form p-t-20" role="form">
                                <hr />
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="Ref"></label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="ti-key"></i></div>
                                        <input class="form-control" value="IWD@(Ref)" readonly>
                                        <input asp-for="Ref" class="form-control" value="@Model.Imprest?.Id" type="hidden" readonly>
                                    </div>
                                </div>


                                <div class="gray-box" style="background:#eee">
                                    <div class="form-group">
                                        <label asp-for="WarrantId"></label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="ti-key"></i></div>
                                            @if (Model.Imprest != null)
                                {
                                    <input class="form-control" id="kl" name="kl" placeholder="Imprest Warrant ~ IW@(Model.Imprest.Ref.ToString("0000"))" readonly>
                                    <input class="form-control" asp-for="WarrantId" placeholder="" value="@Model.Imprest.Id" type="hidden" readonly>

                    }
                    else
                    {
                        @Html.DropDownListFor(p => p.WarrantId, WarrantList, "-- Select Warrant --", new { @class = "select2 form-control custom-select", @style = "width: 100%; height:36px;" })
        }
                                        </div>
                                        <span asp-validation-for="WarrantId" class="text-danger"></span>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm-6">
                                            <label>Applicant Name</label>
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="ti-key"></i></div>
                                                <input id="staff-name" class="form-control" placeholder="Not Available" value="@Model.Imprest?.Staff.FullName" readonly>
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label>Employee Number</label>
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="ti-key"></i></div>
                                                <input id="staff-no" class="form-control" placeholder="Not Available" value="@Model.Imprest?.Staff.EmplNo" readonly>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm-6">
                                            <label>Ledger</label>
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="ti-key"></i></div>
                                                <input id="lgr" class="form-control" placeholder="Not Available" value="@Model.Imprest?.Ledger.Name" readonly>
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label>Project</label>
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="ti-key"></i></div>
                                                <input id="proj" class="form-control" placeholder="Not Available" value="@Model.Imprest?.Project?.Name" readonly>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Description</label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="ti-key"></i></div>
                                            <textarea id="desc" class="form-control" placeholder="Not Available" readonly>@Model?.Imprest?.Description</textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm-4">
                                            <label>Amount</label>
                                            <div class="input-group">
                                                @{
                                        var cur = db.FCurrencies.Single(p => p.IsBase);
                                        var total = 0.0;
                                        if (Model?.Imprest != null)
                                        {
                                            foreach (var p in Model?.Imprest?.Payments)
                                            {
                                                var payment = db.FWallet.Include(l => l.CurrencyUsed).Single(l => l.Id == p.Id);
                                                total += p.GrossAmount;
                                                if (cur.Id != payment.CurrencyUsed.Id)
                                                {
                                                    cur = payment.CurrencyUsed;
                                                }
                                            }
                                        }
                                                }
                                                <div class="input-group-addon"><i class="" id="cur">@cur.Alias</i></div>
                                                <input class="form-control" id="amt" placeholder="Not Available" value="@total.ToString("#,##0")" readonly>
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label>Imprest Date</label>
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="ti-key"></i></div>
                                                <input id="imp-date" class="form-control" placeholder="" value="@Model.Imprest?.CreateDate.ToString("yyyy-MM-dd")" readonly type="date">
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label>Surrender Date</label>
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="ti-key"></i></div>
                                                <input id="sur-date" class="form-control" placeholder="" value="@Model.Imprest?.SurrenderDate.ToString("yyyy-MM-dd")" readonly type="date">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Description"></label>
                                    <div class="input-group">
                                        <textarea asp-for="Description" class="form-control" placeholder=""></textarea>
                                    </div>
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                                @*<div class="form-group">
                            <div class="checkbox checkbox-success">
                                <input asp-for="IsBase" type="checkbox">
                                <label asp-for="IsBase"> </label>
                            </div>
                        </div>*@
                                <hr />
                                <div class="col-md-offset-5 col-md-10">
                                    <button type="submit" class="btn btn-info waves-effect waves-ripple m-r-10">Submit</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

            </div>

        @* Code in the scripts section below gets added at the bottom of the HTML body element, below other scripts. This
    section can be used to enter custom scripts specific to this page. *@
        @section scripts
        {
        <!-- jQuery peity -->
        <script src="/lib/plugins/peity/jquery.peity.min.js"></script>
        <script src="/lib/plugins/peity/jquery.peity.init.js"></script>
        <!-- jQuery peity -->
        <script type="text/javascript">
            $(function () {
                $(".preloader").fadeOut();
            });

        </script>
        <!--This page plugins -- >
<!-- ============================================================== -->
        <script src="~/lib/plugins/switchery/dist/switchery.min.js"></script>
        <script src="~/lib/plugins/select2/dist/js/select2.full.min.js" type="text/javascript"></script>
        <script src="~/lib/plugins/bootstrap-select/bootstrap-select.min.js" type="text/javascript"></script>
        <script src="~/lib/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
        <script src="~/lib/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="~/lib/plugins/multiselect/js/jquery.multi-select.js"></script>

        <script>
            // For select 2
            $(".select2").select2();
            $('.selectpicker').selectpicker();
        </script>

            <script>
                jQuery('#WarrantId').on('change', function () {
                    jQuery.getJSON("/warinfo?wid=" + this.value, function (res) {
                        console && console.log(JSON.stringify(res))
                        var data = JSON.parse(res.data);
                        res.s === "1" && (jQuery('#staff-name').val(data.sname),
                            jQuery('#staff-name').val(data.sname),
                            jQuery('#staff-no').val(data.sno),
                            jQuery('#lgr').val(data.lgr),
                            jQuery('#proj').val(data.proj),
                            jQuery('#desc').val(data.desc),
                            jQuery('#amt').val(data.amt),
                            jQuery('#imp-date').val(data.impd),
                            jQuery('#sur-date').val(data.surd),
                            jQuery('#cur').text(data.cur))
                        //
                    })
                })
            </script>
        }
