﻿@using Microsoft.EntityFrameworkCore;

@inject IOptionsSnapshot<AppSettings> AppSettings
@inject ApplicationDbContext db
@{
    // title - The title of the page which appears in the browser window title. Aim for the title to be less than 70
    //         characters. The site name appears at the end for better SEO.
    ViewBag.Title = "Add a Payables Journal";
    // Description - Used by search engines. Aim for more than 160 characters.
    ViewBag.Description = "Create a new Payables Journal";
    //
    var LedgerList = new List<SelectListItem>();
    foreach (var j in db.FLedgers.ToList())
    {
        LedgerList.Add(new SelectListItem() { Text = j.Name, Value = j.Id + "" });
    }
    //
    var ProjectList = new List<SelectListItem>();
    foreach (var j in db.FProjects.ToList())
    {
        ProjectList.Add(new SelectListItem() { Text = j.Name, Value = j.Id + "" });
    }
    //
    var DeptList = new List<SelectListItem>();
    foreach (var f in db.HrDepartments.ToList())//All child account
    {

        DeptList.Add(new SelectListItem() { Text = f.Name, Value = f.Id + "" });
    }
}
@model AddPayableJournalViewModel
@* Code in the head section below gets added at the bottom of the HTML head element. This section can be used to enter
    custom meta tags specific to this page. *@
@section head
    {
    @* Author - (Optional) Used by search engines. The author of the page. *@
    <meta name="author" content="ABNO Softwares Int.">
    @* Add Twitter Card social meta tags so we can customize what happens when our page is shared on Twitter. There are
        several different Twitter Card types we could add, a different one is added on each page as an example.
        These helpers make it very easy to add the meta tags. For best performance, see what tags are generated and
        hand-code them yourself instead of using these helpers. *@
    <twitter-card-summary-large-image username="@@ABNO">
        @* Add Open Graph social meta tags so we can customize what happens when our page is shared on Facebook, Google+,
            Pintrest and other social media websites. There are dozens of Open Graph types, a different one is added on
            each page as an example. These helpers make it very easy to add the meta tags. For best performance, see what
            tags are generated and hand-code them yourself instead of using these helpers. *@
        <open-graph-website site-name="@AppSettings.Value.SiteTitle"
                            title="@ViewBag.Title"
                            main-image="@(new OpenGraphImage(
                            Url.AbsoluteContent("~/img/icons/open-graph-1200x630.png"),
                            ContentType.Png,
                            1200,
                            630))"
                            determiner="Blank">
            @* referrer - Controls what is sent in the HTTP referrer header when a client navigates to an external site. *@
            <meta asp-referrer="OriginWhenCrossOrigin">
            <!-- page CSS -->
            <link href="~/lib/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
            <link href="~/lib/plugins/select2/dist/css/select2.min.css" rel="stylesheet" type="text/css" />
            <link href="~/lib/plugins/switchery/dist/switchery.min.css" rel="stylesheet" />
            <link href="~/lib/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
            <link href="~/lib/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.css" rel="stylesheet" />
            <link href="~/lib/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
            <link href="~/lib/plugins/multiselect/css/multi-select.css" rel="stylesheet" type="text/css" />
}
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-themecolor">@ViewBag.Title</h3>
                    </div>
                    <div class="col-md-7 align-self-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Finance</a></li>
                            <li class="breadcrumb-item">General Ledger</li>
                            <li class="breadcrumb-item">Payable Journals</li>
                            <li class="breadcrumb-item active">Add Journal</li>
                        </ol>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">@ViewBag.Title</h4>
                            <h6 class="card-subtitle">Create a new Payables Journal</h6>
                            <form asp-route="@FinanceControllerRoute.GetAddPayablesJournal" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form p-t-20" role="form" id="pc-form">
                                <hr />
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <label asp-for="Ref"></label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="ti-key"></i></div>
                                            <input asp-for="Ref" class="form-control" placeholder="~ Ref. No. ~" value="JV@(Model?.Ref)" readonly>
                                        </div>
                                        <span asp-validation-for="Ref" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label asp-for="LedgerId"></label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="ti-key"></i></div>
                                            @Html.DropDownListFor(p => p.LedgerId, LedgerList, "-- Select Ledger --", new { @class = "select2 form-control custom-select", @style = "width: 100%; height:48px !important;" })
                                        </div>
                                        <span asp-validation-for="LedgerId" class="text-danger"></span>
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label style="font-weight:bold">Debit</label>
                                        <div class="gray-box">
                                            <div class="form-group">
                                                <label asp-for="DebitProjectId"></label>
                                                <div class="input-group">
                                                    <div class="input-group-addon"><i class="ti-key"></i></div>
                                                    @Html.DropDownListFor(p => p.DebitProjectId, ProjectList, "-- Select Project --", new { @class = "select2 form-control custom-select", @style = "width: 100%; height:48px !important;" })
                                                </div>
                                                <span asp-validation-for="DebitProjectId" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="DebitAccountId"></label>
                                                <div class="input-group">
                                                    <div class="input-group-addon"><i class="ti-anchor"></i></div>
                                                    @*@Html.DropDownListFor(p => p.Account, AccountList, "-- Select Account --", new { @class = "form-control" })*@
                                                    <select class="select2 form-control custom-select" id="DebitAccountId" name="DebitAccountId" style="width: 100%; height:48px !important;">
                                                        <option value="0"> -- Select GL Account -- </option>
                                                        @foreach (var parent in db.FinanceAccounts.Include(k => k.Children).Where(l => l.Parent == null).ToList())
                                            {
                                                @*<optgroup label="@parent.Name">
                                            @foreach (var child in parent.Children)
                                            {
                                                <option value="@child.Id">↪ @child.Name</option>
                                            }
                                        </optgroup>*@
                                                <optgroup label="🏠 @parent.Type Accounts" style="font-weight:bold">

                                                    <optgroup label="    ⤵  @parent.Name">

                                                        @foreach (var child in parent.Children)
                                            {
                                                <option value="@child.Id">    ↪ @child.Name</option>
                                }
                                                    </optgroup>
                                                </optgroup>

                                }

                                                    </select>
                                                </div>
                                                <span asp-validation-for="DebitAccountId" class="text-danger"></span>
                                            </div>

                                            <div class="form-group">
                                                <label asp-for="DebitDeptId"></label>
                                                <div class="input-group">
                                                    <div class="input-group-addon"><i class="ti-anchor"></i></div>
                                                    @Html.DropDownListFor(p => p.DebitDeptId, DeptList, "-- Select Department --", new { @class = "select2 form-control custom-select", @style = "width: 100%; height:48px !important;" })
                                                </div>
                                                <span asp-validation-for="DebitDeptId" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class=" col-sm-6">
                                        <label style="font-weight:bold">Credit</label>
                                        <div class="gray-box">
                                            <div class="form-group">
                                                <label asp-for="CreditProjectId"></label>
                                                <div class="input-group">
                                                    <div class="input-group-addon"><i class="ti-key"></i></div>
                                                    @Html.DropDownListFor(p => p.CreditProjectId, ProjectList, "-- Select Project --", new { @class = "select2 form-control custom-select", @style = "width: 100%; height:48px !important;" })

                                                </div>
                                                <span asp-validation-for="CreditProjectId" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="CreditAccountId"></label>
                                                <div class="input-group">
                                                    <div class="input-group-addon"><i class="ti-anchor"></i></div>
                                                    @*@Html.DropDownListFor(p => p.Account, AccountList, "-- Select Account --", new { @class = "form-control" })*@
                                                    <select class="select2 form-control custom-select" id="CreditAccountId" name="CreditAccountId" style="width: 100%; height:48px !important;">
                                                        <option value="0"> -- Select GL Account -- </option>
                                                        @foreach (var parent in db.FinanceAccounts.Include(k => k.Children).Where(l => l.Parent == null).ToList())
                                            {
                                                @*<optgroup label="@parent.Name">
                                        @foreach (var child in parent.Children)
                                        {
                                        <option value="@child.Id">↪ @child.Name</option>
                                        }
                                        </optgroup>*@
                                                <optgroup label="🏠 @parent.Type Accounts" style="font-weight:bold">

                                                    <optgroup label="    ⤵  @parent.Name">

                                                        @foreach (var child in parent.Children)
                                            {
                                                <option value="@child.Id">    ↪ @child.Name</option>
                                }
                                                    </optgroup>
                                                </optgroup>

                                }

                                                    </select>
                                                </div>
                                                <span asp-validation-for="CreditAccountId" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="CreditDeptId"></label>
                                                <div class="input-group">
                                                    <div class="input-group-addon"><i class="ti-anchor"></i></div>
                                                    @Html.DropDownListFor(p => p.CreditDeptId, DeptList, "-- Select Department --", new { @class = "select2 form-control custom-select", @style = "width: 100%; height:48px !important;" })
                                                </div>
                                                <span asp-validation-for="CreditDeptId" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <label asp-for="Amount"></label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="ti-key"></i></div>
                                            <input asp-for="Amount" class="form-control" placeholder="Amount..." value="0.0">
                                        </div>
                                        <span asp-validation-for="Amount" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <div class="checkbox checkbox-success" style="margin:4px">
                                            <label asp-for="Revaluation"> </label>
                                            <div class="switch">
                                                <label>
                                                    No
                                                    <input asp-for="Revaluation" type="checkbox" checked><span class="lever"></span>Yes
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Reference"></label>
                                    <div class="input-group">
                                        <textarea asp-for="Reference" class="form-control" placeholder="Details..."></textarea>
                                    </div>
                                    <span asp-validation-for="Reference" class="text-danger"></span>
                                </div>
                                <hr />
                                <div class="col-md-offset-5 col-md-10">
                                    <button type="button" id="submit-pc" class="btn btn-info waves-effect waves-ripple m-r-10">Submit</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

            </div>

@* Code in the scripts section below gets added at the bottom of the HTML body element, below other scripts. This
    section can be used to enter custom scripts specific to this page. *@
@section scripts
    {
    <!-- jQuery peity -->
    <script src="/lib/plugins/peity/jquery.peity.min.js"></script>
    <script src="/lib/plugins/peity/jquery.peity.init.js"></script>
    <!-- ============================================================== -->
    <script src="~/lib/plugins/switchery/dist/switchery.min.js"></script>
    <script src="~/lib/plugins/select2/dist/js/select2.full.min.js" type="text/javascript"></script>
    <script src="~/lib/plugins/bootstrap-select/bootstrap-select.min.js" type="text/javascript"></script>
    <script src="~/lib/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
    <script src="~/lib/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/lib/plugins/multiselect/js/jquery.multi-select.js"></script>

    <script type="text/javascript">
        $(function () {
            $(".preloader").fadeOut();
        });
        // For select 2
        $(".select2").select2();
        $('.selectpicker').selectpicker();
    </script>

    <script>
        jQuery('#StaffId').on('change', function () {
            var sid = jQuery(this).val();
            sid && jQuery.getJSON('/stprof?sid=' + sid, function (res) {
                console && console.log(res), res.s === "1" && (data = JSON.parse(res.data), jQuery('#staff-info').val('Name : ' + data.name + '\nEmp. No. : ' + data.eno + '\nSect. : ' + data.sect))
            })
        }),
            jQuery('#TraineeId').on('change', function () {
                var sid = jQuery(this).val();
                sid && jQuery.getJSON('/trprof?tid=' + sid, function (res) {
                    console && console.log(res), res.s === "1" && (data = JSON.parse(res.data), jQuery('#ben-info').val('Name : ' + data.name + '\nArea : ' + data.prog + '\nCounty : ' + data.loc + '\nM.C. : ' + data.trainer))
                })
            }),
            jQuery('#TrainerId').on('change', function () {
                var sid = jQuery(this).val();
                sid && jQuery.getJSON('/mcprof?mid=' + sid, function (res) {
                    console && console.log(res), res.s === "1" && (data = JSON.parse(res.data), jQuery('#mc-info').val('Name : ' + data.name + '\nEnt. Name : ' + data.ent + '\nCounty : ' + data.loc))
                })
            }),
            //ar
            jQuery('#add-pc').click(function () {
                //
                var b = '<li style="margin-top:5px" id="" ><div class="row acc-row-cont"><div class="input-group col-sm-4">';
                b += '<select class="select2 form-control custom-select pc-acc"  style="width:100%" data-placeholder="-- Select An Asset GL Account --">', wrapper = jQuery('#pc-payables'),
                    wrapper.children("li").children('p').length > 0 && (wrapper.empty()),
                    jQuery.each(NITA.FAccounts, function (index, item) {
                        item.typ !== "Income" && (b += '<optgroup label="🏠 ' + item.typ + ' Accounts" style="font-weight:bold"><optgroup label="⤵  ' + item.name + '">',
                            jQuery.each(item.childs, function (i, child) {
                                b += '<option value="' + child.id + '">    ↪ ' + child.name + '</option>'
                            }), b += '</optgroup></optgroup>')
                    }),
                    b += '</select></div><div class="input-group col-sm-4" data-toggle="tooltip"  data-original-title="Select An Department">',
                    b += '<select class="select2 form-control custom-select pc-dept" style="width:100%" data-placeholder="-- Select A Department --">';
                jQuery.each(NITA.Departments, function (index, item) {
                    b += '<option value="' + item.id + '">' + item.name + '</option>';
                })
                b += '</select></div>',
                    b += '<div class="input-group col-sm-3"><div class="input-group" data-toggle="tooltip"  data-original-title="Enter amount for this GL Account">',
                    b += '<div class="input-group-addon" style="height:28px"><i class="">' + NITA.BaseCurrency.alias + '</i></div>',
                    b += '<input name="imprest-amt" id="imprest-amt" class="form-control pc-amt" placeholder="Amount" value="0.0" style="height:28px"></div></div>',
                    b += '<button class="bnt btn-sm btn-danger btn-rounded btn-rm-imprest" type="button" data-toggle="tooltip" style="padding:2px;margin:2px;height:22px" data-original-title="Remove Entry"><i class="ti-close"></i></button></div></li>',
                    //jQuery('#ar-accs').empty(),
                    wrapper.append(b), $(".select2").select2();
            }), jQuery('body').on('click', '.btn-rm-imprest', function () {
                jQuery(this).closest("li").remove(),
                    jQuery('#pc-payables').children('li').length == 0 && (jQuery('#pc-payables').append('<li><p class="" id="hld" style="text-align:center;line-height:100px">No Entries....</p></li>'))
            }),
            jQuery('body').on('keyup', '.pc-amt', function () {
                checkBudget(this)
            }),
            jQuery('body').on('change', '.pc-acc', function () {
                checkBudget(this)
            }),
            jQuery('body').on('change', '.pc-dept', function () {
                checkBudget(this)
            }),
            jQuery('body').on('click', '#submit-pc', function () {
                var impaccs = [];
                jQuery('#pc-payables').children("li").children('p').length == 0 && (jQuery.each(jQuery('#pc-payables').children('li'), function (i, o) {
                    var g = jQuery(o).find("select.pc-acc").val(), h = jQuery(o).find("select.pc-dept").val(), amt = jQuery(o).find('input.pc-amt').val();
                    //alert('Acc = '+g+', Dept = '+h+', amt = '+amt)
                    typeof (g) !== "undefined" && (Number(g) > 0 && (
                        impaccs.push({ 'AccId': g, 'Dept': h, 'GrossAmount': amt })))
                })), console && console.log('Payables = ' + JSON.stringify(impaccs)), jQuery('#Payables').val(JSON.stringify(impaccs)), jQuery('#pc-form').submit()
            }),
            checkBudget = function (e) {
                var li = jQuery(e).closest('li'), aid = jQuery(li).find('select.pc-acc').val(), did = jQuery(li).find('select.pc-dept').val(), obj = li.find('input.pc-amt');
                aid && jQuery.each(NITA.FAccounts, function (j, par) {
                    jQuery.each(par.childs, function (i, child) {
                        child.id === aid && child.bitem && jQuery.getJSON('/deptbudget?aid=' + aid + '&did=' + did, function (res) {
                            console && console.log('Received Dept Budget = ' + JSON.stringify(res))
                            var data = JSON.parse(res.data);
                            res.s === "1" && (updateNet(), amt = jQuery('#Amount').val(), Number(data.bamt) > 0 ? ((Number(data.rem) - Number(amt)) < 0 ? (alert('There is no sufficient funds in the selected department to fund this payment.'), jQuery(obj).val('0.0'), updateNet()) : (console && console.log('Budget exists..'), updateNet())) : (console && console.log("Selected GL Account does not have a budget allocation")))
                        })
                    })
                })

            }, updateNet = function () {
                var tt = 0.0;
                jQuery.each(jQuery('.pc-amt'), function (j, k) {
                    tt += parseInt(jQuery(k).val());
                }), jQuery('#Amount').val(tt.toFixed(2))
            }
    </script>
}
