﻿@using Microsoft.EntityFrameworkCore;

@inject IOptionsSnapshot<AppSettings> AppSettings
@inject ApplicationDbContext db
@{
    // title - The title of the page which appears in the browser window title. Aim for the title to be less than 70
    //         characters. The site name appears at the end for better SEO.
    ViewBag.Title = "Add Payment/Receipt Account";
    // Description - Used by search engines. Aim for more than 160 characters.
    ViewBag.Description = "Create a new Financial Payment/Receipt Account";


    //
    var LedgerList = new List<SelectListItem>();
    foreach (var f in db.FLedgers.ToList())
    {

        LedgerList.Add(new SelectListItem() { Text = f.Name, Value = f.Id + "" });
    }
    //
    var AccountList = new List<SelectListItem>();
    foreach (var f in db.FinanceAccounts.Include(k => k.Parent).Where(k => k.Parent != null).ToList())//All child account
    {

        AccountList.Add(new SelectListItem() { Text = f.Name, Value = f.Id + "" });
    }
    //
    var TypeList = new List<SelectListItem>();
    TypeList.Add(new SelectListItem() { Text = "Mobile Banking", Value = (int)PayMode.MobileBanking + "" });
    TypeList.Add(new SelectListItem() { Text = "Cheque", Value = (int)PayMode.Cheque + "" });
    TypeList.Add(new SelectListItem() { Text = "Cash", Value = (int)PayMode.Cash + "" });
    //TypeList.Add(new SelectListItem() { Text = "EFT", Value = (int)PayMode.EFT + "" });
    TypeList.Add(new SelectListItem() { Text = "FOSA", Value = (int)PayMode.FOSA + "" });
    TypeList.Add(new SelectListItem() { Text = "Other", Value = (int)PayMode.Other + "" });

}
@model AddPaymentAccountViewModel
@* Code in the head section below gets added at the bottom of the HTML head element. This section can be used to enter
    custom meta tags specific to this page. *@
@section head
    {
    @* Author - (Optional) Used by search engines. The author of the page. *@
    <meta name="author" content="ABNO Softwares Int.">
    @* Add Twitter Card social meta tags so we can customize what happens when our page is shared on Twitter. There are
        several different Twitter Card types we could add, a different one is added on each page as an example.
        These helpers make it very easy to add the meta tags. For best performance, see what tags are generated and
        hand-code them yourself instead of using these helpers. *@
    <twitter-card-summary-large-image username="@@ABNO">
        @* Add Open Graph social meta tags so we can customize what happens when our page is shared on Facebook, Google+,
            Pintrest and other social media websites. There are dozens of Open Graph types, a different one is added on
            each page as an example. These helpers make it very easy to add the meta tags. For best performance, see what
            tags are generated and hand-code them yourself instead of using these helpers. *@
        <open-graph-website site-name="@AppSettings.Value.SiteTitle"
                            title="@ViewBag.Title"
                            main-image="@(new OpenGraphImage(
                            Url.AbsoluteContent("~/img/icons/open-graph-1200x630.png"),
                            ContentType.Png,
                            1200,
                            630))"
                            determiner="Blank">
            @* referrer - Controls what is sent in the HTTP referrer header when a client navigates to an external site. *@
            <meta asp-referrer="OriginWhenCrossOrigin">

            <!-- page CSS -->
            <link href="~/lib/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
            <link href="~/lib/plugins/select2/dist/css/select2.min.css" rel="stylesheet" type="text/css" />
            <link href="~/lib/plugins/switchery/dist/switchery.min.css" rel="stylesheet" />
            <link href="~/lib/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
            <link href="~/lib/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.css" rel="stylesheet" />
            <link href="~/lib/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
            <link href="~/lib/plugins/multiselect/css/multi-select.css" rel="stylesheet" type="text/css" />
}
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-themecolor">@ViewBag.Title</h3>
                    </div>
                    <div class="col-md-7 align-self-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Finance</a></li>
                            <li class="breadcrumb-item">Utilities</li>
                            <li class="breadcrumb-item">Payment Account</li>
                            <li class="breadcrumb-item active">Add Mode</li>
                        </ol>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">@ViewBag.Title</h3>
                        <h6 class="card-subtitle">Create a new payment/receipt account</h6>
                        <form asp-route="@FinanceUtilsControllerRoute.AddPaymentAccount" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form p-t-20" role="form">
                            <hr />
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <h4>Account Info.</h4>
                                    <div class="form-group">
                                        <label asp-for="Name"></label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="ti-key"></i></div>
                                            <input asp-for="Name" class="form-control" placeholder="Account Name... E.G KCBACC. NAME, KPLC TILL ACC.">
                                            <span asp-validation-for="Name" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="AccNo"></label>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="ti-key"></i></div>
                                                <input asp-for="AccNo" class="form-control" placeholder="Account Number... E.G a Bank Acc. No., MPESA Paybill">
                                            </div>
                                            <span asp-validation-for="AccNo" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="PayeeName"></label>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="ti-key"></i></div>
                                                <input asp-for="PayeeName" class="form-control" placeholder="Pay to.." data-toggle="tooltip" data-original-title="Used when preparing EFT Cheques">
                                            </div>
                                            <span asp-validation-for="PayeeName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Description"></label>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <textarea asp-for="Description" class="form-control" placeholder="More info.." rows="4"></textarea>
                                            </div>
                                            <span asp-validation-for="Description" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">

                                    <div class="form-group" id="parent-wrapper">
                                        <label asp-for="Account" class=""></label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="ti-anchor"></i></div>
                                            @*@Html.DropDownListFor(p => p.Account, AccountList, "-- Select Account --", new { @class = "form-control" })*@
                                            <select class="select2 form-control custom-select" id="Account" name="Account" style="width: 100%; height:48px !important;">
                                                <option value="0"> -- Select Account -- </option>
                                                @foreach (var parent in db.FinanceAccounts.Include(k => k.Children).Where(l => l.Parent == null && l.Type != FAccountType.Expense).ToList())
                                    {
                                        <optgroup label="@parent.Name">
                                            @if (parent.Children.Count > 0)
                                {
                                    foreach (var child in parent.Children)
                                    {
                                        <option value="@child.Id">↪ @child.Name</option>
                        }
                    }
                                        </optgroup>

                        }

                                            </select>
                                            <span asp-validation-for="Account" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group" id="parent-wrapper">
                                        <label asp-for="Ledger" class=""></label>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="ti-anchor"></i></div>
                                                @Html.DropDownListFor(p => p.Ledger, LedgerList, "-- Select Ledger --", new { @class = "select2 form-control custom-select", @style = "width: 100%; height:36px;" })
                                            </div>
                                            <span asp-validation-for="Ledger" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm-12" id="mode-wrapper">
                                            <label asp-for="Mode" class=""></label>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="input-group-addon"><i class="ti-anchor"></i></div>
                                                    @Html.DropDownListFor(p => p.Mode, TypeList, "-- Select Pay Mode --", new { @class = "select2 form-control custom-select", @style = "width: 100%; height:36px;" })
                                                </div>
                                                <span asp-validation-for="Mode" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-3">
                                            <div class="checkbox checkbox-success" style="margin:4px;display:none" id="eft-wrapper">
                                                @*<input asp-for="IsClosed" type="checkbox">*@
                                                <label asp-for="HasEFT"> </label>
                                                <div class="switch">
                                                    <label>
                                                        No
                                                        <input asp-for="HasEFT" type="checkbox"><span class="lever"></span>Yes
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <hr />
                                    <h4>SOAP/REST Credentials</h4>
                                    <div class="gray-box">
                                        <div class="form-group">
                                            <label asp-for="SOAPUserId"></label>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="input-group-addon"><i class="ti-key"></i></div>
                                                    <input asp-for="SOAPUserId" class="form-control" placeholder="SOAP Login User Name">
                                                </div>
                                                <span asp-validation-for="SOAPUserId" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="SOAPPassword"></label>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="input-group-addon"><i class="ti-key"></i></div>
                                                    <input asp-for="SOAPPassword" class="form-control" placeholder="SOAP Login Password">
                                                </div>
                                                <span asp-validation-for="SOAPPassword" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="form-group" id="parent-wrapper" style="">
                                <label class="" style="text-decoration:underline;font-weight:bold">Approved Uses:</label>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-check bd-example-indeterminate">
                                            <label class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" name="actions" value="@((int)PaymentType.MakePayments)">
                                                <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description">Make Payments</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-check bd-example-indeterminate">
                                            <label class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" name="actions" value="@((int)PaymentType.ReceivePayments)">
                                                <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description">Receive Payments</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-check bd-example-indeterminate">
                                            <label class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" name="actions" value="@((int)PaymentType.AvailbleForBanking)">
                                                <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description">Available for Banking</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="col-md-offset-5 col-md-10">
                                <button type="submit" class="btn btn-info waves-effect waves-ripple m-r-10">Submit</button>
                            </div>
                        </form>

                    </div>
                </div>

            </div>

@* Code in the scripts section below gets added at the bottom of the HTML body element, below other scripts. This
    section can be used to enter custom scripts specific to this page. *@
@section scripts
    {
    <!-- jQuery peity -->
    <script src="/lib/plugins/peity/jquery.peity.min.js"></script>
    <script src="/lib/plugins/peity/jquery.peity.init.js"></script>
    <!-- jQuery peity -->
    <script type="text/javascript">
        $(function () {
            $(".preloader").fadeOut();
        });

    </script>

    <!-- This page plugins -->
    <!-- ============================================================== -->
    <script src="~/lib/plugins/switchery/dist/switchery.min.js"></script>
    <script src="~/lib/plugins/select2/dist/js/select2.full.min.js" type="text/javascript"></script>
    <script src="~/lib/plugins/bootstrap-select/bootstrap-select.min.js" type="text/javascript"></script>
    <script src="~/lib/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
    <script src="~/lib/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/lib/plugins/multiselect/js/jquery.multi-select.js"></script>

    <script>
        jQuery(document).ready(function () {
            // Switchery
            var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));
            $('.js-switch').each(function () {
                new Switchery($(this)[0], $(this).data());
            });
            // For select 2
            $(".select2").select2();
            $('.selectpicker').selectpicker();
            
        });
    </script>
            <script>
                jQuery('#Mode').change(function () { 
                    var id = jQuery(this).val();
                    id && id === "547" ? (jQuery('#mode-wrapper').removeClass('col-sm-12'), jQuery('#mode-wrapper').addClass('col-sm-9'), jQuery('#eft-wrapper').show()) : (jQuery('#mode-wrapper').removeClass('col-sm-9'), jQuery('#mode-wrapper').addClass('col-sm-12'),jQuery('#eft-wrapper').hide())
                })
            </script>
}
