﻿@using Microsoft.EntityFrameworkCore;

@inject IOptionsSnapshot<AppSettings> AppSettings
@inject ApplicationDbContext db
@{
    // title - The title of the page which appears in the browser window title. Aim for the title to be less than 70
    //         characters. The site name appears at the end for better SEO.
    ViewBag.Title = "Add Petty-Cash Cashier Office";
    // Description - Used by search engines. Aim for more than 160 characters.
    ViewBag.Description = "Create a new Petty-Cash Cashier Office";


    //
    var DeptList = new List<SelectListItem>();

    foreach(var f in db.HrDepartments.ToList())
    {

        DeptList.Add(new SelectListItem() { Text = "" + f.Name, Value = f.Id + "" });
    }

    //
    var LedgerList = new List<SelectListItem>();
    foreach (var f in db.FLedgers.ToList())
    {

        LedgerList.Add(new SelectListItem() { Text = f.Name, Value = f.Id + "" });
    }

    //
    var LocationList = new List<SelectListItem>();
    foreach (var f in db.Locations.ToList())
    {
        LocationList.Add(new SelectListItem() { Text = f.Name, Value = f.Id + "" });
    }
}
@model AddCashierOfficeViewModel
@* Code in the head section below gets added at the bottom of the HTML head element. This section can be used to enter
    custom meta tags specific to this page. *@
@section head
    {
    @* Author - (Optional) Used by search engines. The author of the page. *@
    <meta name="author" content="ABNO Softwares Int.">
    @* Add Twitter Card social meta tags so we can customize what happens when our page is shared on Twitter. There are
        several different Twitter Card types we could add, a different one is added on each page as an example.
        These helpers make it very easy to add the meta tags. For best performance, see what tags are generated and
        hand-code them yourself instead of using these helpers. *@
    <twitter-card-summary-large-image username="@@ABNO">
        @* Add Open Graph social meta tags so we can customize what happens when our page is shared on Facebook, Google+,
            Pintrest and other social media websites. There are dozens of Open Graph types, a different one is added on
            each page as an example. These helpers make it very easy to add the meta tags. For best performance, see what
            tags are generated and hand-code them yourself instead of using these helpers. *@
        <open-graph-website site-name="@AppSettings.Value.SiteTitle"
                            title="@ViewBag.Title"
                            main-image="@(new OpenGraphImage(
                            Url.AbsoluteContent("~/img/icons/open-graph-1200x630.png"),
                            ContentType.Png,
                            1200,
                            630))"
                            determiner="Blank">
            @* referrer - Controls what is sent in the HTTP referrer header when a client navigates to an external site. *@
            <meta asp-referrer="OriginWhenCrossOrigin">

            <!-- page CSS -->
            <link href="~/lib/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
            <link href="~/lib/plugins/select2/dist/css/select2.min.css" rel="stylesheet" type="text/css" />
            <link href="~/lib/plugins/switchery/dist/switchery.min.css" rel="stylesheet" />
            <link href="~/lib/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
            <link href="~/lib/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.css" rel="stylesheet" />
            <link href="~/lib/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
            <link href="~/lib/plugins/multiselect/css/multi-select.css" rel="stylesheet" type="text/css" />
            <style>
                .gray-box {
                    border: solid thin #ccc;
                    border-radius: 4px 2px;
                    margin: 3px;
                    padding: 4px
                }
            </style>
        }
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-themecolor">@ViewBag.Title</h3>
                    </div>
                    <div class="col-md-7 align-self-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Finance</a></li>
                            <li class="breadcrumb-item">Settings</li>
                            <li class="breadcrumb-item">Petty Cash</li>
                            <li class="breadcrumb-item active">Add Office</li>
                        </ol>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">@ViewBag.Title</h4>
                            <form asp-route="@FinanceControllerRoute.GetAddPCCashierOffice" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form p-t-20" role="form">
                                <hr />
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label asp-for="RefNo"></label>
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="ti-key"></i></div>
                                                <input asp-for="RefNo" class="form-control" placeholder="Reference No." value="#@(int.Parse(Model.RefNo).ToString("0000"))" readonly>
                                            </div>
                                            <span asp-validation-for="RefNo" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Name"></label>
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="ti-key"></i></div>
                                                <input asp-for="Name" class="form-control" placeholder="Office Name...">
                                            </div>
                                            <span asp-validation-for="Name" class="text-danger"></span>
                                        </div>
                                        <div class="form-group" id="">
                                            <label asp-for="DeptId" class=""></label>
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="ti-anchor"></i></div>
                                                @Html.DropDownListFor(p => p.DeptId, DeptList, "-- Select Department --", new { @class = "select2 form-control custom-select", @style = "width: 100%; height:36px;" })
                                            </div>
                                            <span asp-validation-for="DeptId" class="text-danger"></span>

                                        </div>
                                        <div class="form-group">
                                            <label asp-for="LocationId"></label>
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="ti-key"></i></div>
                                                @Html.DropDownListFor(p => p.LocationId, LocationList, "-- Select Location --", new { @class = "select2 form-control custom-select", @style = "width: 100%; height:36px;" })
                                            </div>
                                            <span asp-validation-for="LocationId" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group" id="">
                                            <label asp-for="LedgerId" class=""></label>
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="ti-anchor"></i></div>
                                                @Html.DropDownListFor(p => p.LedgerId, LedgerList, "-- Select Ledger --", new { @class = "select2 form-control custom-select", @style = "width: 100%; height:36px;" })
                                            </div>
                                            <span asp-validation-for="LedgerId" class="text-danger"></span>
                                        </div>
                                        <label style="font-weight:bold;font-size:11px">Payment Mode</label>
                                        <div class="gray-box">
                                            <div class="form-group" id="">
                                                <label asp-for="Mode" class=""></label>
                                                <div class="input-group">
                                                    <div class="input-group-addon"><i class="ti-anchor"></i></div>
                                                    <select name="Mode" id="Mode" class="select2 form-control custom-select" style="width: 100%; height:48px !important;">
                                                        <option value="0">-- Select Ledger Mode -- </option>
                                                    </select>
                                                </div>
                                                <span asp-validation-for="Mode" class="text-danger"></span>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-sm-8">
                                                    <label>Acc. Name</label>
                                                    <div class="input-group">
                                                        <input id="acc-name" class="form-control" placeholder="~ Account Name ~" value="" readonly>
                                                    </div>
                                                </div>
                                                <div class="form-group col-sm-4">
                                                    <label>Pay Method</label>
                                                    <div class="input-group">
                                                        <input id="pay-typ" class="form-control" placeholder="~ Pay Mode ~" value="" readonly>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr />
                                            <div class="form-group" id="parent-wrapper" style="">
                                                <label class="">Approved Uses:</label>
                                                <div class="row" id="actions">
                                                    <p style="width:100%;text-align:center"> No Approved Actions...</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="checkbox checkbox-success" style="margin:4px">
                                    @*<input asp-for="IsClosed" type="checkbox">*@
                                    <label asp-for="IsActive"> </label>
                                    <div class="switch">
                                        <label>
                                            No
                                            <input asp-for="IsActive" type="checkbox"><span class="lever"></span>Yes
                                        </label>
                                    </div>
                                </div>
                                <hr />
                                <div class="col-md-offset-5 col-md-10">
                                    <button type="submit" class="btn btn-info waves-effect waves-ripple m-r-10">Submit</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

            </div>

        @* Code in the scripts section below gets added at the bottom of the HTML body element, below other scripts. This
    section can be used to enter custom scripts specific to this page. *@
        @section scripts
        {
        <!-- jQuery peity -->
        <script src="/lib/plugins/peity/jquery.peity.min.js"></script>
        <script src="/lib/plugins/peity/jquery.peity.init.js"></script>
        <!-- jQuery peity -->
        <script type="text/javascript">
            $(function () {
                $(".preloader").fadeOut();
            });

        </script>
        <!--This page plugins -- >
   <!-- ============================================================== -->
        <script src="~/lib/plugins/switchery/dist/switchery.min.js"></script>
        <script src="~/lib/plugins/select2/dist/js/select2.full.min.js" type="text/javascript"></script>
        <script src="~/lib/plugins/bootstrap-select/bootstrap-select.min.js" type="text/javascript"></script>
        <script src="~/lib/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
        <script src="~/lib/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="~/lib/plugins/multiselect/js/jquery.multi-select.js"></script>

        <script>
            // For select 2
            $(".select2").select2();
            $('.selectpicker').selectpicker();
        </script>

        <script>
                jQuery('#LedgerId').change(function () {
                    var lid = jQuery(this).val();
                    jQuery('#Mode').empty(), jQuery('#Mode').append('<option value="0">-- Select Ledger Mode -- </option>'), lid && jQuery.each(NITA.FLedgers, function (i, lgr) {
                        lgr.id === lid && jQuery.each(lgr.pmodes, function (j, mode) {
                            mode.typ === "cash" && jQuery('#Mode').append(jQuery('<option>', { value: mode.id, text: mode.name }))
                         })
                    })
                }),
                    jQuery('#Mode').on('change', function () {
                    var mid = jQuery(this).val();
                    mid && jQuery.each(NITA.FLedgers, function (i, lgr) {
                        jQuery.each(lgr.pmodes, function (j, mode) {
                            mode.id === mid && (jQuery('#acc-name').val(mode.name), jQuery('#pay-typ').val(mode.typ), jQuery('#actions').empty(), mode.acts.length > 0 ? (jQuery.each(mode.acts, function (k, act) {
                                var b = '<div class="col-lg-4 col-md-12 col-sm-12"><div class="form-check bd-example-indeterminate" title="'+act.cap+'"><label class="custom-control custom-checkbox">';
                                b = b+'<input type="checkbox" class="custom-control-input" name="Actions" checked value="'+act.typ+'" disabled><span class="custom-control-indicator"></span>',
                                b = b+'<span class="custom-control-description">'+act.cap+'</span></label></div></div>'
                                jQuery('#actions').append(b)
                            })) : (jQuery('#actions').append('<p style="width:100%;text-align:center"> No Approved Actions...</p>')))
                        })
                    })
                })
        </script>
        }
