﻿@using Microsoft.EntityFrameworkCore;

@inject IOptionsSnapshot<AppSettings> AppSettings
@inject ApplicationDbContext db
@{
    // title - The title of the page which appears in the browser window title. Aim for the title to be less than 70
    //         characters. The site name appears at the end for better SEO.
    ViewBag.Title = "Add Project";
    // Description - Used by search engines. Aim for more than 160 characters.
    ViewBag.Description = "Create a new Finance Project";

    //
    var LedgerList = new List<SelectListItem>();

    foreach (var f in db.FLedgers.ToList())
    {

        LedgerList.Add(new SelectListItem() { Text = "" + f.Name, Value = f.Id + "" });
    }
    //
    var TraineeList = new List<SelectListItem>();

    foreach (var f in db.Trainees.ToList())
    {

        TraineeList.Add(new SelectListItem() { Text = "" + f.FullName, Value = f.Id + "" });
    }
    //
    var TrainerList = new List<SelectListItem>();

    foreach (var f in db.Trainers.Where(l => l.Type == TrainerType.MasterCraftman).ToList())
    {

        TrainerList.Add(new SelectListItem() { Text = "" + f.FullName, Value = f.Id + "" });
    }

}
@model AddProjectViewModel
@* Code in the head section below gets added at the bottom of the HTML head element. This section can be used to enter
    custom meta tags specific to this page. *@
@section head
    {
    @* Author - (Optional) Used by search engines. The author of the page. *@
    <meta name="author" content="ABNO Softwares Int.">
    @* Add Twitter Card social meta tags so we can customize what happens when our page is shared on Twitter. There are
        several different Twitter Card types we could add, a different one is added on each page as an example.
        These helpers make it very easy to add the meta tags. For best performance, see what tags are generated and
        hand-code them yourself instead of using these helpers. *@
    <twitter-card-summary-large-image username="@@ABNO">
        @* Add Open Graph social meta tags so we can customize what happens when our page is shared on Facebook, Google+,
            Pintrest and other social media websites. There are dozens of Open Graph types, a different one is added on
            each page as an example. These helpers make it very easy to add the meta tags. For best performance, see what
            tags are generated and hand-code them yourself instead of using these helpers. *@
        <open-graph-website site-name="@AppSettings.Value.SiteTitle"
                            title="@ViewBag.Title"
                            main-image="@(new OpenGraphImage(
                            Url.AbsoluteContent("~/img/icons/open-graph-1200x630.png"),
                            ContentType.Png,
                            1200,
                            630))"
                            determiner="Blank">
            @* referrer - Controls what is sent in the HTTP referrer header when a client navigates to an external site. *@
            <meta asp-referrer="OriginWhenCrossOrigin">

            <!-- page CSS -->
            <link href="~/lib/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
            <link href="~/lib/plugins/select2/dist/css/select2.min.css" rel="stylesheet" type="text/css" />
            <link href="~/lib/plugins/switchery/dist/switchery.min.css" rel="stylesheet" />
            <link href="~/lib/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
            <link href="~/lib/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.css" rel="stylesheet" />
            <link href="~/lib/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
            <link href="~/lib/plugins/multiselect/css/multi-select.css" rel="stylesheet" type="text/css" />

        }
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-themecolor">@ViewBag.Title</h3>
                    </div>
                    <div class="col-md-7 align-self-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Finance</a></li>
                            <li class="breadcrumb-item">Utilities</li>
                            <li class="breadcrumb-item">Projects</li>
                            <li class="breadcrumb-item active">Create</li>
                        </ol>
                    </div>
                </div>
                <div class="col-lg-11">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">@ViewBag.Title</h4>
                            <h6 class="card-subtitle">Create a new nita project</h6>
                            <form asp-route="@FinanceUtilsControllerRoute.AddCurrency" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form p-t-20" role="form">
                                <hr />
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="Name"></label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="ti-key"></i></div>
                                        <input asp-for="Name" class="form-control" placeholder="Name">
                                    </div>
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Ledger"></label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="ti-key"></i></div>
                                        @Html.DropDownListFor(p => p.Ledger, LedgerList, "-- Select Ledger --", new { @class = "form-control" })
                                    </div>
                                    <span asp-validation-for="Ledger" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Description"></label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="ti-key"></i></div>
                                        <input asp-for="Description" class="form-control" placeholder="Description...">
                                    </div>
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Location"></label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="ti-key"></i></div>
                                        <input asp-for="Location" class="form-control" placeholder="Location..">
                                    </div>
                                    <span asp-validation-for="Location" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ProjectNo"></label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="ti-key"></i></div>
                                        <input asp-for="ProjectNo" class="form-control" placeholder="Project Number...">
                                    </div>
                                    <span asp-validation-for="ProjectNo" class="text-danger"></span>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-8">
                                        <label asp-for="ProjectNo"></label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="ti-key"></i></div>
                                            <input asp-for="ProjectNo" class="form-control" placeholder="Project Number...">
                                        </div>
                                        <span asp-validation-for="ProjectNo" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-sm-4">
                                        <label asp-for="Amount"></label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="ti-key"></i></div>
                                            <input asp-for="Amount" class="form-control" placeholder="Project Amount..." readonly>
                                        </div>
                                        <span asp-validation-for="Amount" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <label asp-for="StartDate"></label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="ti-key"></i></div>
                                            <input asp-for="StartDate" class="form-control" placeholder="Effective Date..." value="@DateTime.Now.AddYears(1).ToString("yyyy-MM-dd")" type="date">
                                        </div>
                                        <span asp-validation-for="StartDate" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label asp-for="EndDate"></label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="ti-key"></i></div>
                                            <input asp-for="EndDate" class="form-control" placeholder="End Date..." value="@DateTime.Now.AddYears(1).ToString("yyyy-MM-dd")" type="date">
                                        </div>
                                        <span asp-validation-for="EndDate" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-group row">
                                        <label asp-for="CompletedPercentage" class="col-2 col-form-label"></label>
                                        <div class="col-10 range-slider">
                                            <input type="range" asp-for="CompletedPercentage" class="form-control" min="0" max="100" step="1" />
                                            <div class="range-badge"></div>
                                        </div>
                                    </div>
                                </div>

                                <hr />

                                <div class="form-group" id="parent-wrapper">
                                    <label asp-for="Coordinators"></label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="ti-anchor"></i></div>
                                        @Html.DropDownListFor(p => p.Coordinators, TraineeList, "-- Select Coordinators --", new { @class = "select2 form-control custom-select", @style = "width: 100%; height:36px;" })
                                    </div>
                                    <span asp-validation-for="Coordinators" class="text-danger"></span>
                                </div>
                                <div class="form-group" id="parent-wrapper">
                                    <label asp-for="Beneficiaries"></label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="ti-anchor"></i></div>
                                        @Html.DropDownListFor(p => p.Beneficiaries, TraineeList, "-- Select Beneficiary --", new { @class = "select2 form-control custom-select", @style = "width: 100%; height:36px;" })
                                    </div>
                                    <span asp-validation-for="Beneficiaries" class="text-danger"></span>
                                </div>
                                <hr />
                                <div class="col-md-offset-5 col-md-10">
                                    <button type="submit" class="btn btn-info waves-effect waves-ripple m-r-10">Submit</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

            </div>

        @* Code in the scripts section below gets added at the bottom of the HTML body element, below other scripts. This
    section can be used to enter custom scripts specific to this page. *@
        @section scripts
        {
        <!-- jQuery peity -->
        <script src="/lib/plugins/peity/jquery.peity.min.js"></script>
        <script src="/lib/plugins/peity/jquery.peity.init.js"></script>
        <!-- This page plugins -->
        <!-- ============================================================== -->
        <script src="~/lib/plugins/switchery/dist/switchery.min.js"></script>
        <script src="~/lib/plugins/select2/dist/js/select2.full.min.js" type="text/javascript"></script>
        <script src="~/lib/plugins/bootstrap-select/bootstrap-select.min.js" type="text/javascript"></script>
        <script src="~/lib/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
        <script src="~/lib/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="~/lib/plugins/multiselect/js/jquery.multi-select.js"></script>
        <script>
            // For select 2
            $(".select2").select2();
            $('.selectpicker').selectpicker();
        </script>

        <script type="text/javascript">
            $(function () {
                $(".preloader").fadeOut();
            });

        </script>
        }
