﻿@using Microsoft.EntityFrameworkCore;

@inject IOptionsSnapshot<AppSettings> AppSettings
@inject ApplicationDbContext db
@{
    // title - The title of the page which appears in the browser window title. Aim for the title to be less than 70
    //         characters. The site name appears at the end for better SEO.
    ViewBag.Title = "Add Supplier";
    // Description - Used by search engines. Aim for more than 160 characters.
    ViewBag.Description = "Create a new Supplier";


    //
    var TypeList = new List<SelectListItem>();

    foreach(var f in db.FVendorTypes.ToList())
    {

        TypeList.Add(new SelectListItem() { Text = "" + f.Name, Value = f.Id + "" });
    }
    //
    var BankList = new List<SelectListItem>();

    foreach (var f in db.PBanks.ToList())
    {

        BankList.Add(new SelectListItem() { Text = "" + f.Name, Value = f.Id + "" });
    }
    BankList.Add(new SelectListItem() { Text = "None", Value = "0" });

    var CountyList = new List<SelectListItem>();

    foreach (var h in db.Counties.ToList())
    {
        CountyList.Add(new SelectListItem() { Text = h.Name, Value = "" + h.Id });
    }
}
@model AddSupplierViewModel
@* Code in the head section below gets added at the bottom of the HTML head element. This section can be used to enter
    custom meta tags specific to this page. *@
@section head
    {
    @* Author - (Optional) Used by search engines. The author of the page. *@
    <meta name="author" content="ABNO Softwares Int.">
    @* Add Twitter Card social meta tags so we can customize what happens when our page is shared on Twitter. There are
        several different Twitter Card types we could add, a different one is added on each page as an example.
        These helpers make it very easy to add the meta tags. For best performance, see what tags are generated and
        hand-code them yourself instead of using these helpers. *@
    <twitter-card-summary-large-image username="@@ABNO">
        @* Add Open Graph social meta tags so we can customize what happens when our page is shared on Facebook, Google+,
            Pintrest and other social media websites. There are dozens of Open Graph types, a different one is added on
            each page as an example. These helpers make it very easy to add the meta tags. For best performance, see what
            tags are generated and hand-code them yourself instead of using these helpers. *@
        <open-graph-website site-name="@AppSettings.Value.SiteTitle"
                            title="@ViewBag.Title"
                            main-image="@(new OpenGraphImage(
                            Url.AbsoluteContent("~/img/icons/open-graph-1200x630.png"),
                            ContentType.Png,
                            1200,
                            630))"
                            determiner="Blank">
            @* referrer - Controls what is sent in the HTTP referrer header when a client navigates to an external site. *@
            <meta asp-referrer="OriginWhenCrossOrigin">

            <!-- page CSS -->
            <link href="~/lib/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
            <link href="~/lib/plugins/select2/dist/css/select2.min.css" rel="stylesheet" type="text/css" />
            <link href="~/lib/plugins/switchery/dist/switchery.min.css" rel="stylesheet" />
            <link href="~/lib/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
            <link href="~/lib/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.css" rel="stylesheet" />
            <link href="~/lib/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
            <link href="~/lib/plugins/multiselect/css/multi-select.css" rel="stylesheet" type="text/css" />
            <style>
                .gray-box {
                    border: solid thin #ccc;
                    border-radius: 4px 2px;
                    margin: 3px;
                    padding: 4px
                }
            </style>
        }
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-themecolor">@ViewBag.Title</h3>
                </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Finance</a></li>
                        <li class="breadcrumb-item">Suppliers/Vendors</li>
                        <li class="breadcrumb-item active">Create</li>
                    </ol>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">@ViewBag.Title</h4>
                        <form asp-route="@FinanceControllerRoute.GetAddSupplier" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form p-t-20" role="form">
                            <hr />
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Ref. No.</label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="ti-key"></i></div>
                                            <input name="ref" class="form-control" placeholder="Reference No." value="SUP@((await Utils.GenerateSupplierRef(db)).ToString("0000"))" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Name"></label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="ti-key"></i></div>
                                            <input asp-for="Name" class="form-control" placeholder="Supplier Name">
                                        </div>
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                    <div class="form-group" id="">
                                        <label asp-for="VendorType" class=""></label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="ti-anchor"></i></div>
                                            @Html.DropDownListFor(p => p.VendorType, TypeList, "-- Select Vendor Type --", new { @class = "select2 form-control custom-select", @style = "width: 100%; height:36px;" })
                                        </div>
                                        <span asp-validation-for="VendorType" class="text-danger"></span>

                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Address"></label>
                                        <div class="input-group">
                                            <textarea asp-for="Address" class="form-control" placeholder="Supplier address..."></textarea>
                                        </div>
                                        <span asp-validation-for="Address" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div>
                                        <div class="gray-box">
                                            <label>Physical Location : </label>
                                            <div class="addr-card" id="addr-card">
                                                <div id="addr-container">
                                                    <input id="addr-input" name="Address" type="text" class="form-control" placeholder="Enter Address...">
                                                    <input asp-for="LatLng" type="hidden" />
                                                </div>
                                            </div>
                                            <div id="map" style="min-height:200px"></div>
                                            <div id="infowindow-content">
                                                <img src="" width="16" height="16" id="place-icon">
                                                <span id="place-name" class="title"></span><br>
                                                <span id="place-address"></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-sm-6">
                                                <label asp-for="Loc"></label>
                                                <div class="input-group">
                                                    <div class="input-group-addon"><i class="ti-key"></i></div>
                                                    <input asp-for="Loc" class="form-control" placeholder="Location Name...">
                                                </div>
                                                <span asp-validation-for="Loc" class="text-danger"></span>
                                            </div>
                                            <div class="form-group col-sm-6">
                                                <label asp-for="County"></label>
                                                <div class="input-group">
                                                    <div class="input-group-addon"><i class="ti-key"></i></div>
                                                    @Html.DropDownListFor(p => p.County, CountyList, "-- Select County --", new { @class = "select2 form-control custom-select", @style = "width: 100%; height:36px;" })
                                                </div>
                                                <span asp-validation-for="County" class="text-danger"></span>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="TelNo"></label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="ti-key"></i></div>
                                            <input asp-for="TelNo" class="form-control" placeholder="Telephone No....">
                                        </div>
                                        <span asp-validation-for="TelNo" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Ext"></label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="ti-key"></i></div>
                                            <input asp-for="Ext" class="form-control" placeholder="Telephone Extention..">
                                        </div>
                                        <span asp-validation-for="Ext" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="CellNo"></label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="ti-key"></i></div>
                                            <input asp-for="CellNo" class="form-control" placeholder="Mobile Phone Number...">
                                        </div>
                                        <span asp-validation-for="CellNo" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="FaxNo"></label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="ti-key"></i></div>
                                            <input asp-for="FaxNo" class="form-control" placeholder="Fax Number..">
                                        </div>
                                        <span asp-validation-for="FaxNo" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Email"></label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="ti-key"></i></div>
                                    <input asp-for="Email" class="form-control" placeholder="Supplier Email..">
                                </div>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="KRAPIN"></label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="ti-key"></i></div>
                                            <input asp-for="KRAPIN" class="form-control" placeholder="Supplier KRA PIN...">
                                        </div>
                                        <span asp-validation-for="KRAPIN" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="VATNo"></label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="ti-key"></i></div>
                                            <input asp-for="VATNo" class="form-control" placeholder="Supplier VAT No...">
                                        </div>
                                        <span asp-validation-for="VATNo" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="gray-box">
                                <div class="form-group" id="parent-wrapper">
                                    <label asp-for="BankCode" class=""></label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="ti-anchor"></i></div>
                                        @Html.DropDownListFor(p => p.BankCode, BankList, "-- Select Bank --", new { @class = "select2 form-control custom-select", @style = "width: 100%; height:36px;" })
                                    </div>
                                    <span asp-validation-for="BankCode" class="text-danger"></span>

                                </div>
                                <div class="row">
                                    <div class="form-group col-md-8">
                                        <label asp-for="BankAccount"></label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="ti-key"></i></div>
                                            <input asp-for="BankAccount" class="form-control" placeholder="Supplier Bank Acc..">
                                        </div>
                                        <span asp-validation-for="BankAccount" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <div class="checkbox checkbox-success" style="margin:4px">
                                            @*<input asp-for="IsBudgetItem" type="checkbox">*@
                                            <label asp-for="IsActive"> </label>
                                            <div class="switch">
                                                <label>
                                                    No
                                                    <input asp-for="IsActive" type="checkbox" checked><span class="lever"></span>Yes
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group" id="parent-wrapper">
                                <label asp-for="PaymentTerm" class=""></label>
                                <div class="icheck-list gray-box">

                                    <span style="padding:5px">
                                        <input type="radio" class="check" id="square-radio-1" name="Term" data-radio="iradio_square-red" value="@((int)InvoiceTerm.Due_In_30_Days)">
                                        <label for="square-radio-1">Due in 30 days</label>
                                    </span>
                                    <span style="padding:5px">
                                        <input type="radio" class="check" id="square-radio-2" name="Term" data-radio="iradio_square-red" value="@((int)InvoiceTerm.Due_In_45_Days)">
                                        <label for="square-radio-2">Due in 45 days</label>
                                    </span>
                                    <span style="padding:5px">
                                        <input type="radio" class="check" id="square-radio-3" name="Term" data-radio="iradio_square-red" value="@((int)InvoiceTerm.Due_In_60_Days)">
                                        <label for="square-radio-3">Due in 60 days</label>
                                    </span>
                                    <span style="padding:5px">
                                        <input type="radio" class="check" id="square-radio-4" name="Term" data-radio="iradio_square-red" value="@((int)InvoiceTerm.Due_At_The_End_Of_Month)">
                                        <label for="square-radio-4">Due at the end of the month</label>
                                    </span>
                                    <span style="padding:5px">
                                        <input type="radio" class="check" id="square-radio-5" name="Term" data-radio="iradio_square-red" value="@((int)InvoiceTerm.Due_On_Day_Of_Next_Month)">
                                        <label for="square-radio-5">Due on day of next month</label>
                                    </span>
                                    <span style="padding:5px">
                                        <input type="radio" class="check" id="square-radio-6" name="Term" data-radio="iradio_square-red" value="@((int)InvoiceTerm.Due_On_Receipt)">
                                        <label for="square-radio-6">Due on day of next month</label>
                                    </span>
                                </div>
                            </div>
                            <hr />
                            <div class="form-group">
                                <label asp-for="Discount"></label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="ti-key"></i></div>
                                    <input asp-for="Discount" class="form-control" placeholder="Supplier Discount...">
                                </div>
                                <span asp-validation-for="Discount" class="text-danger"></span>
                            </div>
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="checkbox checkbox-success">
                                                <input asp-for="ExemptFromTax" type="checkbox">
                                                <label asp-for="ExemptFromTax"> </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="checkbox checkbox-success">
                                                <input asp-for="HoldPayments" type="checkbox">
                                                <label asp-for="HoldPayments"> </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="col-md-offset-5 col-md-10">
                                <button type="submit" class="btn btn-info waves-effect waves-ripple m-r-10">Submit</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

        </div>

        @* Code in the scripts section below gets added at the bottom of the HTML body element, below other scripts. This
    section can be used to enter custom scripts specific to this page. *@
        @section scripts
        {
        <!-- jQuery peity -->
        <script src="/lib/plugins/peity/jquery.peity.min.js"></script>
        <script src="/lib/plugins/peity/jquery.peity.init.js"></script>
        <!-- jQuery peity -->
        <script type="text/javascript">
            $(function () {
                $(".preloader").fadeOut();
            });

        </script>
        <!--This page plugins -- >
<!-- ============================================================== -->
        <script src="~/lib/plugins/switchery/dist/switchery.min.js"></script>
        <script src="~/lib/plugins/select2/dist/js/select2.full.min.js" type="text/javascript"></script>
        <script src="~/lib/plugins/bootstrap-select/bootstrap-select.min.js" type="text/javascript"></script>
        <script src="~/lib/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
        <script src="~/lib/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="~/lib/plugins/multiselect/js/jquery.multi-select.js"></script>

        <script>
            // For select 2
            $(".select2").select2();
            $('.selectpicker').selectpicker();
        </script>

        <script src="https://maps.googleapis.com/maps/api/js?&libraries=places&callback=initMap" async defer></script>

        <script>

            // This example requires the Places library. Include the libraries=places
            // parameter when you first load the API. For example:
            // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

            function initMap() {
                var map = new google.maps.Map(document.getElementById('map'), {
                    center: { lat: -33.8688, lng: 151.2195 },
                    zoom: 13
                });
                //
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function (position) {
                        initialLocation = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
                        map.setCenter(initialLocation);
                    });
                }
                //
                var card = document.getElementById('addr-card');
                var coords = document.getElementById('LatLng');
                var input = document.getElementById('addr-input');
                var types = document.getElementById('type-selector');
                var strictBounds = document.getElementById('strict-bounds-selector');

                map.controls[google.maps.ControlPosition.TOP_RIGHT].push(card);

                var autocomplete = new google.maps.places.Autocomplete(input);

                // Bind the map's bounds (viewport) property to the autocomplete object,
                // so that the autocomplete requests use the current map bounds for the
                // bounds option in the request.
                autocomplete.bindTo('bounds', map);

                var infowindow = new google.maps.InfoWindow();
                var infowindowContent = document.getElementById('infowindow-content');
                infowindow.setContent(infowindowContent);
                var marker = new google.maps.Marker({
                    map: map,
                    anchorPoint: new google.maps.Point(0, -29)
                });

                autocomplete.addListener('place_changed', function () {
                    infowindow.close();
                    marker.setVisible(false);
                    var place = autocomplete.getPlace();
                    if (!place.geometry) {
                        // User entered the name of a Place that was not suggested and
                        // pressed the Enter key, or the Place Details request failed.
                        window.alert("No details available for input: '" + place.name + "'");
                        return;
                    }
                    //
                    updateAddress(place)
                });

                var geocoder = new google.maps.Geocoder();

                google.maps.event.addListener(map, 'click', function (event) {
                    geocoder.geocode({
                        'latLng': event.latLng
                    }, function (results, status) {
                        if (status == google.maps.GeocoderStatus.OK) {
                            if (results[0]) {
                                input.value = results[0].formatted_address;
                            }
                            //
                            updateAddress(results[0])
                        }
                    });
                });

                document.getElementById('use-strict-bounds')
                    .addEventListener('click', function () {
                        console.log('Checkbox clicked! New state=' + this.checked);
                        autocomplete.setOptions({ strictBounds: this.checked });
                    });
                ///
                function updateAddress(place) {
                    // If the place has a geometry, then present it on a map.
                    if (place.geometry.viewport) {
                        map.fitBounds(place.geometry.viewport);
                    } else {
                        map.setCenter(place.geometry.location);
                        map.setZoom(17);  // Why 17? Because it looks good.
                    }
                    //
                    coords.value = JSON.stringify(place.geometry.location)
                    //
                    marker.setPosition(place.geometry.location);
                    marker.setVisible(true);

                    var address = '';
                    if (place.address_components) {
                        address = [
                            (place.address_components[0] && place.address_components[0].short_name || ''),
                            (place.address_components[1] && place.address_components[1].short_name || ''),
                            (place.address_components[2] && place.address_components[2].short_name || '')
                        ].join(' ');
                    }

                    infowindowContent.children['place-icon'].src = place.icon;
                    infowindowContent.children['place-name'].textContent = place.name;
                    infowindowContent.children['place-address'].textContent = address;
                    infowindow.open(map, marker);

                }
            }
        </script>
        }
