﻿@using Microsoft.EntityFrameworkCore;

@inject IOptionsSnapshot<AppSettings> AppSettings
@inject ApplicationDbContext db
@{
    // title - The title of the page which appears in the browser window title. Aim for the title to be less than 70
    //         characters. The site name appears at the end for better SEO.
    ViewBag.Title = "Add Supplier Invoice Waiver";
    // Description - Used by search engines. Aim for more than 160 characters.
    ViewBag.Description = "Create a new Supplier Invoice Waiver";

    var InvoiceList = new List<SelectListItem>();

    foreach (var f in db.FInvoices.Where(p=>p.DueDate.CompareTo(DateTime.Now)>=0).ToList())
    {

        InvoiceList.Add(new SelectListItem() { Text = "INV" + f.DocNo+" ~ "+f.Amount.ToString("#,##0"), Value = f.Id + "" });
    }
    //
    var DeptList = new List<SelectListItem>();

    foreach (var f in db.HrDepartments.ToList())//Children only
    {

        DeptList.Add(new SelectListItem() { Text = "" + f.Name, Value = f.Id + "" });
    }
    //
    var ProjectList = new List<SelectListItem>();

    foreach (var f in db.FProjects.ToList())//Children only
    {

        ProjectList.Add(new SelectListItem() { Text = "" + f.Name, Value = f.Id + "" });
    }
}
@model AddSupplierInvoiceWaiverViewModel
@* Code in the head section below gets added at the bottom of the HTML head element. This section can be used to enter
    custom meta tags specific to this page. *@
@section head
    {
    @* Author - (Optional) Used by search engines. The author of the page. *@
    <meta name="author" content="ABNO Softwares Int.">
    @* Add Twitter Card social meta tags so we can customize what happens when our page is shared on Twitter. There are
        several different Twitter Card types we could add, a different one is added on each page as an example.
        These helpers make it very easy to add the meta tags. For best performance, see what tags are generated and
        hand-code them yourself instead of using these helpers. *@
    <twitter-card-summary-large-image username="@@ABNO">
        @* Add Open Graph social meta tags so we can customize what happens when our page is shared on Facebook, Google+,
            Pintrest and other social media websites. There are dozens of Open Graph types, a different one is added on
            each page as an example. These helpers make it very easy to add the meta tags. For best performance, see what
            tags are generated and hand-code them yourself instead of using these helpers. *@
        <open-graph-website site-name="@AppSettings.Value.SiteTitle"
                            title="@ViewBag.Title"
                            main-image="@(new OpenGraphImage(
                            Url.AbsoluteContent("~/img/icons/open-graph-1200x630.png"),
                            ContentType.Png,
                            1200,
                            630))"
                            determiner="Blank">
            @* referrer - Controls what is sent in the HTTP referrer header when a client navigates to an external site. *@
            <meta asp-referrer="OriginWhenCrossOrigin">
            <!-- page CSS -->
            <link href="~/lib/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
            <link href="~/lib/plugins/select2/dist/css/select2.min.css" rel="stylesheet" type="text/css" />
            <link href="~/lib/plugins/switchery/dist/switchery.min.css" rel="stylesheet" />
            <link href="~/lib/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
            <link href="~/lib/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.css" rel="stylesheet" />
            <link href="~/lib/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
            <link href="~/lib/plugins/multiselect/css/multi-select.css" rel="stylesheet" type="text/css" />
        }
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-themecolor">@ViewBag.Title</h3>
                    </div>
                    <div class="col-md-7 align-self-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Finance</a></li>
                            <li class="breadcrumb-item">Payables</li>
                            <li class="breadcrumb-item">Supplier Invoices</li>
                            <li class="breadcrumb-item active">Create Waiver</li>
                        </ol>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">@ViewBag.Title</h4>
                            <h6 class="card-subtitle">Create a new Supplier Invoice Waiver</h6>
                            <form asp-route="@FinanceControllerRoute.GetAddInvoiceWaiver" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form p-t-20" role="form">
                                <hr />
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="row">
                                    <div class="form-group col-md-6" id="parent-wrapper">
                                        <div>
                                            <label asp-for="InvoiceId" class=""></label>
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="ti-anchor"></i></div>
                                                @Html.DropDownListFor(p => p.InvoiceId, InvoiceList, "-- Select Invoice --", new { @class = "select2 form-control custom-select", style = "width: 100%; height:48px !important;" })
                                            </div>
                                            <span asp-validation-for="InvoiceId" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label>Supplier Info.</label>
                                            <div class="input-group">
                                                <textarea id="sup-info" style="width:100%;font-size:11px;font-weight:bold;min-height:100px;background:#eee" readonly></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <label>Inv. DOC</label>
                                                <div class="input-group">
                                                    <div class="input-group-addon"><i class="ti-key"></i></div>
                                                    <input id="inv-doc" class="form-control" placeholder="~ Ref. No. ~" value="" readonly>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label>Inv. Order</label>
                                                <div class="input-group">
                                                    <div class="input-group-addon"><i class="ti-key"></i></div>
                                                    <input id="inv-ord" class="form-control" placeholder="~ Order No ~" value="" readonly>
                                                </div>
                                                <span class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <label>Invoice Date :</label>
                                                <div class="input-group">
                                                    <div class="input-group-addon"><i class="ti-key"></i></div>
                                                    <input id="inv-date" class="form-control" placeholder="~ Inv. Date ~" type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" readonly>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label>Invoice Due</label>
                                                <div class="input-group">
                                                    <div class="input-group-addon"><i class="ti-key"></i></div>
                                                    <input id="inv-idue" class="form-control" placeholder="~ Inv. Due ~" type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Gross Amount (<code style="">Including <span id="w-count"> </span>previous waivers</code>)</label>
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="ti-key"></i></div>
                                                <input id="inv-amt" class="form-control" placeholder="~ Amount ~" readonly>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <label asp-for="Ref"></label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="ti-key"></i></div>
                                            <input asp-for="Ref" class="form-control" placeholder="~ Waiver Reference ~" value="WP@(Model?.Ref)">
                                        </div>
                                        <span asp-validation-for="Ref" class="text-danger"></span>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label asp-for="Project"></label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="ti-key"></i></div>
                                            @*@Html.DropDownListFor(p => p.Project, ProjectList, "-- Select Project --", new { @class = "select2 form-control custom-select", @style = "width: 100%; height:48px !important;" })*@
                                            <input id="inv-proj" class="form-control" placeholder="~ Project ~" readonly>
                                        </div>
                                        <span asp-validation-for="Project" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label asp-for="AccountId"></label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="ti-key"></i></div>
                                            <select class="select2 form-control custom-select" asp-for="AccountId" style="width:100%" data-placeholder="-- GL Account --">
                                                <option value=""> -- GL Account --</option>
                                            </select>
                                        </div>
                                        <span asp-validation-for="AccountId" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-md-6">

                                        <label asp-for="DeptId"></label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="ti-key"></i></div>
                                            <select class="select2 form-control custom-select" asp-for="DeptId" style="width:100%" data-placeholder="-- Department --">
                                                <option value="">-- Department --</option>
                                            </select>
                                        </div>
                                        <span asp-validation-for="DeptId" class="text-danger"></span>
                                    </div>

                                </div>
                                <hr />
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label asp-for="Amount"></label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="ti-key"></i></div>
                                            <input asp-for="Amount" class="form-control" placeholder="0.0" min="1">
                                        </div>
                                        <span asp-validation-for="Amount" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>New Inv. Amount</label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="ti-key"></i></div>
                                            <input id="n-inv-amt" class="form-control" placeholder="0.0" min="1" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-4">
                                        <label>Date</label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="ti-calendar"></i></div>
                                            <input id="waiver-date" class="form-control" placeholder="" value="@DateTime.Now.ToString("yyyy-MM-dd")" type="date" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Details"></label>
                                    <div class="input-group">
                                        <textarea asp-for="Details" class="form-control" placeholder=""></textarea>
                                    </div>
                                    <span asp-validation-for="Details" class="text-danger"></span>
                                </div>
                                <hr />
                                <div class="col-md-offset-5 col-md-10">
                                    <button type="submit" class="btn btn-info waves-effect waves-ripple m-r-10">Submit</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

            </div>

        @* Code in the scripts section below gets added at the bottom of the HTML body element, below other scripts. This
    section can be used to enter custom scripts specific to this page. *@
        @section scripts
        {
        <!-- jQuery peity -->
        <script src="/lib/plugins/peity/jquery.peity.min.js"></script>
        <script src="/lib/plugins/peity/jquery.peity.init.js"></script>
        <!-- jQuery peity -->
        <script type="text/javascript">
            $(function () {
                $(".preloader").fadeOut();
            });
        </script>
        <!-- ============================================================== -->
        <script src="~/lib/plugins/switchery/dist/switchery.min.js"></script>
        <script src="~/lib/plugins/select2/dist/js/select2.full.min.js" type="text/javascript"></script>
        <script src="~/lib/plugins/bootstrap-select/bootstrap-select.min.js" type="text/javascript"></script>
        <script src="~/lib/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
        <script src="~/lib/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="~/lib/plugins/multiselect/js/jquery.multi-select.js"></script>

        <script>
            // For select 2
            $(".select2").select2();
            $('.selectpicker').selectpicker();
        </script>

            <script>
                var id = jQuery('#InvoiceId').val();
                id && loadInvoice(id),
                jQuery('#InvoiceId').change(function () {
                    var id = jQuery(this).val();
                    id && loadInvoice(id)
                }), jQuery('#Amount').on('input', function () {
                    updateNet()
                }),
                    loadInvoice = function (id) {
                    jQuery.getJSON('/invinfo?id=' + id, function (res) {
                        console && console.log(res), res.s === "1" && (data = JSON.parse(res.data), jQuery('#sup-info').val('Name : ' + data.sup.name + '\nType : ' + (data.sup.typ.length > 0 ? data.sup.typ : '(Not Available)') + '\nAddress : ' + (data.sup.addr.length > 0 ? data.sup.addr : '(Not Available)')),
                            jQuery('#inv-doc').val('INV' + data.dno), jQuery('#inv-ord').val(data.ord), jQuery('#inv-date').val(data.idate), jQuery('#inv-idue').val(data.idue), jQuery('#inv-proj').val(data.proj.length > 0 ? data.proj : 'None'), amt = Number(data.amt.replace(',', '')), jQuery('#w-count').text(data.iws.length+' '), jQuery.each(data.iws, function (i, itm) {
                            amt -= Number(itm.wamt)
                            }), jQuery('#inv-amt').val(amt.toFixed(2)), jQuery('#DeptId').empty(), jQuery('#DeptId').append('<option value=""> -- Department --</option>'), jQuery('#AccountId').empty(), jQuery('#AccountId').append('<option value=""> -- GL Account --</option>'),  jQuery.each(data.pys, function (i, itm) {
                                jQuery('#AccountId').append(jQuery('<option>', { value: itm.aid, text: itm.aname }))
                                jQuery('#DeptId').append(jQuery('<option>', { value: itm.did, text: itm.dname }))
                            }), updateNet())
                    })

                    },
                    updateNet = function () {
                    var amt = Number(jQuery('#inv-amt').val()), n_amt = (amt - Number(jQuery('#Amount').val()))
                        jQuery('#n-inv-amt').val(n_amt.toFixed(2))
                    }
            </script>
        }
