﻿@inject IOptionsSnapshot<AppSettings> AppSettings

@using Microsoft.EntityFrameworkCore;

@inject ApplicationDbContext db
@{
    // title - The title of the page which appears in the browser window title. Aim for the title to be less than 70
    //         characters. The site name appears at the end for better SEO.
    ViewBag.Title = "All GL Accounts";
    // Description - Used by search engines. Aim for more than 160 characters.
    ViewBag.Description = "";

    //
    var AccountList = db.FinanceAccounts.Include(j => j.Classification).Include(j => j.Group).Include(k => k.Parent).Include(k => k.Children).Where(p => p.Parent == null).ToList();

}

@* Code in the head section below gets added at the bottom of the HTML head element. This section can be used to enter
    custom meta tags specific to this page. *@
@section head
    {
    @* Author - (Optional) Used by search engines. The author of the page. *@
    <meta name="author" content="ABNO Softwares Int.">
    @* Add Twitter Card social meta tags so we can customize what happens when our page is shared on Twitter. There are
        several different Twitter Card types we could add, a different one is added on each page as an example.
        These helpers make it very easy to add the meta tags. For best performance, see what tags are generated and
        hand-code them yourself instead of using these helpers. *@
    <twitter-card-summary-large-image username="@@ABNO">
        @* Add Open Graph social meta tags so we can customize what happens when our page is shared on Facebook, Google+,
            Pintrest and other social media websites. There are dozens of Open Graph types, a different one is added on
            each page as an example. These helpers make it very easy to add the meta tags. For best performance, see what
            tags are generated and hand-code them yourself instead of using these helpers. *@
        <open-graph-website site-name="@AppSettings.Value.SiteTitle"
                            title="@ViewBag.Title"
                            main-image="@(new OpenGraphImage(
                            Url.AbsoluteContent("~/img/icons/open-graph-1200x630.png"),
                            ContentType.Png,
                            1200,
                            630))"
                            determiner="Blank">
            @* referrer - Controls what is sent in the HTTP referrer header when a client navigates to an external site. *@
            <meta asp-referrer="OriginWhenCrossOrigin">


            <!-- Bootstrap responsive table CSS -->
            <link href="~/lib/plugins/tablesaw-master/dist/tablesaw-3.0.4.css" rel="stylesheet">
            @if (ViewData["Message"] != null)
    {
        <script>
                 var msg = '@ViewData["Message"]'
        </script>
}
        }
        <div class="container-fluid">

            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-themecolor">@ViewBag.Title</h3>
                </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Finance</a></li>
                        <li class="breadcrumb-item">Utilities</li>
                        <li class="breadcrumb-item">GL Accounts</li>
                        <li class="breadcrumb-item active">All Accounts</li>
                    </ol>
                </div>
                <div>
                    <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <div class="card">
                <div class="p-20">
                    <div class="pull-right">
                        <button type="button" class="btn btn-info btn-rounded" id="add-acc" data-toggle="tooltip" data-original-title="Create A new GL Account" data-target="@Url.RouteUrl(FinanceUtilsControllerRoute.AddAccount,new {})">Add New GL Account</button>
                        <button type="button" class="btn btn-danger btn-rounded" id="export-accs" data-toggle="tooltip" data-original-title="Export GL Accounts as Spreadsheet(xlsx)" data-target="">Export GL Accounts</button>
                    </div>
                    <p>An overview of registered gl accounts </p>
                </div>
                @await Html.PartialAsync("_AllAccountsGrid")
            </div>
        </div>

        @* Code in the scripts section below gets added at the bottom of the HTML body element, below other scripts. This
    section can be used to enter custom scripts specific to this page. *@
        @section scripts
        {
        <!-- Footable -->
        <script src="~/lib/plugins/footable/js/footable.all.min.js"></script>
        <script src="~/lib/plugins/bootstrap-select/bootstrap-select.min.js" type="text/javascript"></script>

        <!--FooTable init-->
        <script src="~/lib/js/footable-init.js"></script>
        <!-- -->
        <script src="~/lib/plugins/tablesaw-master/dist/tablesaw-3.0.6.js"></script>
        <script src="~/lib/plugins/tablesaw-master/dist/tablesaw-init-3.0.6.js"></script>
        <script>
            jQuery('#add-acc').click(function () {
                window.location = jQuery(this).data('target');
            })
        </script>
        <script type="text/javascript">
            $(function () {
                $(".preloader").fadeOut();
            });

        </script>

        }
