﻿@inject IOptionsSnapshot<AppSettings> AppSettings

@using Microsoft.EntityFrameworkCore;

@inject ApplicationDbContext db
@{
    // title - The title of the page which appears in the browser window title. Aim for the title to be less than 70
    //         characters. The site name appears at the end for better SEO.
    ViewBag.Title = "All Expense Disbursements";
    // Description - Used by search engines. Aim for more than 160 characters.
    ViewBag.Description = "";

    //
    var DisList = db.FEDisbursements.Include(l => l.PaymentAccount).Include(l => l.Claim).ThenInclude(l => l.Payments).ThenInclude(l => l.CurrencyUsed)
        .Include(l => l.Personnel).Include(l => l.Claim).ThenInclude(l => l.Mileage).Include(l => l.Claim).ThenInclude(l => l.Substainance)
        .Include(l => l.Claim).ThenInclude(l => l.Ledger).ToList();

}

@* Code in the head section below gets added at the bottom of the HTML head element. This section can be used to enter
    custom meta tags specific to this page. *@
@section head
    {
    @* Author - (Optional) Used by search engines. The author of the page. *@
    <meta name="author" content="ABNO Softwares Int.">
    @* Add Twitter Card social meta tags so we can customize what happens when our page is shared on Twitter. There are
        several different Twitter Card types we could add, a different one is added on each page as an example.
        These helpers make it very easy to add the meta tags. For best performance, see what tags are generated and
        hand-code them yourself instead of using these helpers. *@
    <twitter-card-summary-large-image username="@@ABNO">
        @* Add Open Graph social meta tags so we can customize what happens when our page is shared on Facebook, Google+,
            Pintrest and other social media websites. There are dozens of Open Graph types, a different one is added on
            each page as an example. These helpers make it very easy to add the meta tags. For best performance, see what
            tags are generated and hand-code them yourself instead of using these helpers. *@
        <open-graph-website site-name="@AppSettings.Value.SiteTitle"
                            title="@ViewBag.Title"
                            main-image="@(new OpenGraphImage(
                            Url.AbsoluteContent("~/img/icons/open-graph-1200x630.png"),
                            ContentType.Png,
                            1200,
                            630))"
                            determiner="Blank">
            @* referrer - Controls what is sent in the HTTP referrer header when a client navigates to an external site. *@
            <meta asp-referrer="OriginWhenCrossOrigin">

            <!-- Footable CSS -->
            <link href="~/lib/plugins/footable/css/footable.core.css" rel="stylesheet">
            <link href="~/lib/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
            <!-- Custom CSS -->
            <link href="~/lib/css/style.css" rel="stylesheet">
            <!-- page css -->
            <link href="~/lib/css/pages/footable-page.css" rel="stylesheet">
            <!-- You can change the theme colors from here -->
            <link href="~/lib/css/colors/default-dark.css" id="theme" rel="stylesheet">

            @if (ViewData["Message"] != null)
            {
                <script>
                 var msg = '@ViewData["Message"]'
                </script>
            }
}
<div class="container-fluid">

    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">@ViewBag.Title</h3>
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Finance</a></li>
                <li class="breadcrumb-item">Expense Claims</li>
                <li class="breadcrumb-item">All Disbursements</li>
            </ol>
        </div>
        <div>
            <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-12">
            <!-- Column -->
            <div class="card">
                <div class="card-body">
                    <button type="button" class="btn btn-info btn-rounded pull-right" id="add-cur" data-toggle="tooltip" data-original-title="Create A New Expense Disbursements" data-target="@Url.RouteUrl(FinanceControllerRoute.GetAddExpenseDisbursement,new {})">Add New Expense Disbursements</button>

                    @*<h4 class="card-title">Row Toggler</h4>*@
                    <h6 class="card-subtitle">An overview of Expense Disbursements</h6>
                    <div class="clearfix"></div>
                    <table class="table table-striped table-bordered" id="editable-datatable">
                        <thead>
                            <tr>
                                <th>Ref. Claim</th>
                                <th>Staff</th>
                                <th>Amount</th>
                                <th>Date Claimed</th>
                                <th>Date Dsibursed</th>
                                <th> Status </th>
                                <th> Actions </th>
                            </tr>
                        </thead>
                        <tbody>

                            @if (DisList.Count > 0)
                            {
                                foreach (var dis in DisList)
                                {
                                    <tr>
                                        <td>EC@(dis.Claim.Ref.ToString("0000"))</td>
                                        <td>@(dis.Claim.Staff.FullName)</td>
                                        @{
                                            var cur = dis.Claim.Payments.First().CurrencyUsed;
                                        }
                                        <td>@cur.Alias @(await Utils.CalculatePayableAmount(dis.Claim.Payments.ToList()))</td>
                                        <td>@(dis.Claim.DateCreated.ToString("dd MMM yyyy"))</td>
                                        <td>@dis.DateDisbursed.ToString("dd MMM yyyy")</td>

                                        <td>
                                            @if (dis.Status == EntityStatus.Active)
                                            {<span class="label label-table label-success">Processed</span> }
                                            else
                                            {<span class="label label-table label-warning">@dis.Status</span>}
                                        </td>
                                        <td class="text-nowrap">
                                            <a href="javascript:void(0)" data-toggle="modal" data-target="#dis-prev-@dis.Id" class="ec-prev"> <i class="fa fa-eye text-inverse m-r-10"></i> </a>


                                            @*Preview Wrapper*@
                                            <div class="modal fade" id="dis-prev-@dis.Id" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
                                                <div class="modal-dialog modal-lg">
                                                    <div class="modal-content">
                                                        <div class="modal-header modal-title-wrapper">

                                                            <span class="pull-left">
                                                                <i class="fa fa-eye"></i>
                                                            </span>
                                                            <h4 class="modal-title" id="">
                                                                Expense Claim Disbursement Preview
                                                            </h4>
                                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                        </div>
                                                        <div class="modal-body" style="overflow-y:scroll;max-height:400px;width:100%">
                                                            <div class="printableArea card card-body">
                                                                <h4 style="font-weight:bold;width:100%">
                                                                    Staff Expense Claim Disbursement:
                                                                    <span class="pull-right">
                                                                        @if (dis.Status == EntityStatus.Active)
                                                                        {<span class="label label-table label-success">Processed</span> }
                                                                        else
                                                                        {<span class="label label-table label-warning">@dis.Status</span>}
                                                                    </span>
                                                                </h4>
                                                                <div class="gray-box">
                                                                    <p class="">
                                                                        <span style="font-weight:bold">Amount Disbursed : </span> @dis.Claim.Payments.First().CurrencyUsed.Alias @((await Utils.CalculatePayableAmount(dis.Claim.Payments.ToList())).ToString("0000"))<br />
                                                                        <span style="font-weight:bold">Date Disbursed: </span> @dis.DateDisbursed.ToString("dd MMM yyyy") />
                                                                        <hr />
                                                                        <span style="font-weight:bold">Paid Via : </span> @dis.PaymentAccount.Name
                                                                    </p>
                                                                </div>
                                                                <hr />
                                                                <h4 style="font-weight:bold">The Claim:</h4>
                                                                <div class="gray-box" style="">
                                                                    <span style="font-weight:bold">REF. : </span><span>EC@((dis.Claim.Ref).ToString("0000"))</span><br />
                                                                    <span style="font-weight:bold">Order NO. : </span><span>@dis.Claim.OrderNo</span><br />
                                                                    <span style="font-weight:bold">Date Created : </span> @dis.Claim.DateCreated.ToString("dd MMM yyyy")<br />
                                                                    <hr />
                                                                    <span style="font-weight:bold">Ledger: </span> @dis.Claim.Ledger.Name<br />
                                                                    <span style="font-weight:bold">Project : </span> @(dis.Claim.Project?.Name ?? "Not Available")
                                                                    <hr />
                                                                    <span style="font-weight:bold">NAME : </span> @dis.Claim.Staff.FullName<br />
                                                                    <span style="font-weight:bold">Duty Called : </span>
                                                                    <p style="white-space: pre-line;"> @(dis.Claim.DutyCalled ?? "Not Available")</p>
                                                                    <hr />
                                                                    <div class="row">
                                                                        <div class="col-sm-6">
                                                                            <span style="font-weight:bold">Millage : </span>
                                                                            <p class="gray-box">
                                                                                <span style="font-weight:bold">Voyage : </span><span>
                                                                                    @if (dis.Claim.Mileage != null)
                                                                                    {<text>Vehicle - @dis.Claim.Mileage.RegNo</text>}
                                                                                    else
                                                                                    {<text>Not Available</text>}
                                                                                </span><br />
                                                                                <span style="font-weight:bold">Dest. From : </span><span>@(dis.Claim.Mileage?.DestFrom ?? "Not Available")</span><br />
                                                                                <span style="font-weight:bold">Dest. To : </span><span>@(dis.Claim.Mileage?.DesTo ?? "Not Available")</span><br />
                                                                                <span style="font-weight:bold">Distance : </span> @dis.Claim.Mileage?.Distance<br />
                                                                            </p>
                                                                        </div>
                                                                        <div class="col-sm-6">
                                                                            <span style="font-weight:bold">Substainance : </span>
                                                                            <p style="overflow-y:scroll;white-space: pre-line;" class="gray-box">
                                                                                <span style="font-weight:bold">Days : </span><span>Not Available</span><br />
                                                                                <span style="font-weight:bold">Each @@ : </span><span>Not Available</span>
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                    <hr />

                                                                    <h5 style="font-weight:bold">Payments:</h5>
                                                                    <div style="">
                                                                        <table style="width:100%">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th>#</th>
                                                                                    <td style="font-weight:bold">Gross Amount</td>
                                                                                    <td style="font-weight:bold">Department</td>
                                                                                    <td style="font-weight:bold">GL Account</td>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                @if (dis.Claim.Payments.Count > 0)
                                                                                {
                                                                                    var index = 0;
                                                                                    @foreach (var py in dis.Claim.Payments)
                                                                                    {
                                                                                        var payment = db.FWallet.Include(k => k.GLAccount).Include(l => l.Department).Include(l => l.CurrencyUsed).Single(k => k.Id == py.Id);
                                                                                        index++;
                                                                                        <tr>
                                                                                            <td>@index</td>
                                                                                            <td>@payment.CurrencyUsed.Alias @py.GrossAmount.ToString("#,##0")</td>
                                                                                            <td>@payment.Department.Name</td>
                                                                                            <td><code>< @payment.GLAccount.Type ></code> @payment.GLAccount.Name</td>
                                                                                        </tr>

                                                                                    }
                                                                                }
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                    <br />
                                                                    <h5 style="font-weight:bold">Claim Entries:</h5>
                                                                    <div style="">
                                                                        <table style="width:100%">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th>#</th>
                                                                                    <td style="font-weight:bold">Qty Spent</td>
                                                                                    <td style="font-weight:bold">Of <code>(Unit)</code></td>
                                                                                    <td style="font-weight:bold">@@ <code>(at price)</code></td>
                                                                                    <td style="font-weight:bold">On <code>(Date paid)</code></td>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                @if (dis.Claim.ClaimEntries.Count > 0)
                                                                                {
                                                                                    var index = 0;
                                                                                    @foreach (var py in dis.Claim.ClaimEntries)
                                                                                    {
                                                                                        index++;
                                                                                        <tr>
                                                                                            <td>@index</td>
                                                                                            <td>@py.Quantity</td>
                                                                                            <td>@(py.UnitName ?? "Not Available")</td>
                                                                                            <td>@py.UnitCost</td>
                                                                                            <td>@(py.DateIncured?.ToString("dd MMM yyyy") ?? "Not Available")</td>
                                                                                        </tr>

                                                                                    }
                                                                                }
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                                <hr />

                                                                <p><span style="font-weight:bold">Prepared By: </span> @dis.Claim.Personnel.FullName (@dis.Claim.Personnel.EmplNo)</p>
                                                                <p><span style="font-weight:bold">Disbursed By: </span> @dis.Personnel.FullName (@dis.Personnel.EmplNo)</p>
                                                            </div>
                                                            @{ Html.RenderPartial("_PrintChequePartial", new PrintChequeModel() { Id = dis.Id, PayeeName = dis.Claim.Staff.FullName, Payments = dis.Claim.Payments.ToList() });}
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button class="btn btn-outline-secondary waves-effect mr-auto print-cheque" data-toggle="tooltip" data-id="@dis.Id" data-original-title="Print Cheque"> <i class="fa fa-print m-r-10"> Print Cheque</i></button>
                                                            <button class="btn btn-outline-info waves-effect text-left pull-left print" data-toggle="tooltip" data-id="@dis.Id" data-original-title="Print Claim"> <i class="fa fa-print m-r-10 text-danger"> Print Claim</i></button>
                                                            <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">Close</button>
                                                        </div>
                                                    </div>
                                                    <!-- /.modal-content -->
                                                </div>
                                                <!-- /.modal-dialog -->
                                            </div>
                                        </td>
                                    </tr>

                                }
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Ref. Claim</th>
                                <th>Staff</th>
                                <th>Amount</th>
                                <th>Date Claimed</th>
                                <th>Date Dsibursed</th>
                                <th> Status </th>
                                <th> Actions </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@* Code in the scripts section below gets added at the bottom of the HTML body element, below other scripts. This
    section can be used to enter custom scripts specific to this page. *@
@section scripts
    {
    <!-- Footable -->
    <script src="~/lib/plugins/footable/js/footable.all.min.js"></script>
    <script src="~/lib/plugins/bootstrap-select/bootstrap-select.min.js" type="text/javascript"></script>
    <!--FooTable init-->
    <script src="~/lib/js/footable-init.js"></script>
    <script>
        jQuery('#add-cur').click(function () {
            window.location = jQuery(this).data('target');
        })
    </script>
    <script type="text/javascript">
        $(function () {
            $(".preloader").fadeOut();
        });

    </script>
    <!-- Editable -->
    <script src="~/lib/plugins/jquery-datatables-editable/jquery.dataTables.js"></script>
    <script src="~/lib/plugins/datatables/dataTables.bootstrap.js"></script>
    <script src="~/lib/plugins/tiny-editable/mindmup-editabletable.js"></script>
    <script src="~/lib/plugins/tiny-editable/numeric-input-example.js"></script>
    <script>
        jQuery(document).ready(function () {
            jQuery('#editable-datatable').DataTable();
        });
    </script>
}
