﻿@inject IOptionsSnapshot<AppSettings> AppSettings

@using Microsoft.EntityFrameworkCore;

@inject ApplicationDbContext db
@{
    // title - The title of the page which appears in the browser window title. Aim for the title to be less than 70
    //         characters. The site name appears at the end for better SEO.
    ViewBag.Title = "All Imprest Warrants";
    // Description - Used by search engines. Aim for more than 160 characters.
    ViewBag.Description = "An overview of received Imprest Warrants";

    //
    var WarrantList = db.FImprestWarrants.Include(l => l.Staff).ThenInclude(l => l.Location).Include(l => l.Staff).ThenInclude(l => l.JobCatalogue)
        .Include(l => l.Project).Include(l => l.Ledger).Include(l => l.Payments).Include(l => l.Disbursement).Include(l=>l.Personnel).ToList();

}

@* Code in the head section below gets added at the bottom of the HTML head element. This section can be used to enter
    custom meta tags specific to this page. *@
@section head
    {
    @* Author - (Optional) Used by search engines. The author of the page. *@
    <meta name="author" content="ABNO Softwares Int.">
    @* Add Twitter Card social meta tags so we can customize what happens when our page is shared on Twitter. There are
        several different Twitter Card types we could add, a different one is added on each page as an example.
        These helpers make it very easy to add the meta tags. For best performance, see what tags are generated and
        hand-code them yourself instead of using these helpers. *@
    <twitter-card-summary-large-image username="@@ABNO">
        @* Add Open Graph social meta tags so we can customize what happens when our page is shared on Facebook, Google+,
            Pintrest and other social media websites. There are dozens of Open Graph types, a different one is added on
            each page as an example. These helpers make it very easy to add the meta tags. For best performance, see what
            tags are generated and hand-code them yourself instead of using these helpers. *@
        <open-graph-website site-name="@AppSettings.Value.SiteTitle"
                            title="@ViewBag.Title"
                            main-image="@(new OpenGraphImage(
                            Url.AbsoluteContent("~/img/icons/open-graph-1200x630.png"),
                            ContentType.Png,
                            1200,
                            630))"
                            determiner="Blank">
            @* referrer - Controls what is sent in the HTTP referrer header when a client navigates to an external site. *@
            <meta asp-referrer="OriginWhenCrossOrigin">

            <!-- Footable CSS -->
            <link href="~/lib/plugins/footable/css/footable.core.css" rel="stylesheet">
            <link href="~/lib/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
            <!-- Custom CSS -->
            <link href="~/lib/css/style.css" rel="stylesheet">
            <!-- page css -->
            <link href="~/lib/css/pages/footable-page.css" rel="stylesheet">
            <!-- You can change the theme colors from here -->
            <link href="~/lib/css/colors/default-dark.css" id="theme" rel="stylesheet">

            @if (ViewData["Message"] != null)
            {
                <script>
                 var msg = '@ViewData["Message"]'
                </script>
            }
}
<div class="container-fluid">

    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">@ViewBag.Title</h3>
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Finance</a></li>
                <li class="breadcrumb-item">Imprest Warrants</li>
                <li class="breadcrumb-item">All Warrants</li>
            </ol>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-12">
            <!-- Column -->
            <div class="card">
                <div class="card-body">
                    <div class="pull-right">
                        <div class="pull-right">
                            <button type="button" class="btn btn-info btn-rounded" style="display:none" id="post-sel" data-toggle="tooltip" data-original-title="Create Imprest Warrant Payment Voucher" data-target="@Url.RouteUrl(FinanceControllerRoute.GetAddImprestPVoucher,new {})">Create Payment Voucher</button>
                            <button type="button" class="btn btn-success btn-rounded " id="add-branch" data-toggle="tooltip" data-original-title="Create A new Imprest Warrant" data-target="@Url.RouteUrl(FinanceControllerRoute.GetAddImprestWarrant,new {})">Add New Imprest Warrant</button>
                        </div>
                        @*<button type="button" class="btn btn-danger btn-rounded" id="add-branch" data-toggle="tooltip" data-original-title="Add an new bank branch" data-target="@Url.RouteUrl(FinanceUtilsControllerRoute.GetAddBankBranch,new {})">Add New Bank Branch</button>*@
                    </div>
                    <div class="clear"></div>
                    @*<h4 class="card-title">Row Toggler</h4>*@
                    <h6 class="card-subtitle">An overview of Imprest Warrants</h6>

                    <div class="clearfix"></div>

                    <table class="table table-striped table-bordered" id="editable-datatable">
                        <thead>
                            <tr>
                                <td class="sorting_asc_disabled">
                                    <div class="form-check bd-example-indeterminate">
                                        <label class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input select-all-chks" value="">
                                            <span class="custom-control-indicator"></span>
                                        </label>
                                    </div>
                                </td>
                                <th style="font-weight:bold">REF. NO.</th>
                                <th style="font-weight:bold">Staff</th>
                                <th style="font-weight:bold">Order No.</th>
                                <th style="font-weight:bold">Nature Of Duty</th>
                                <th style="font-weight:bold">Date Created</th>
                                <th style="font-weight:bold">Days Away</th>
                                <th style="font-weight:bold">Amount</th>
                                <th style="font-weight:bold">Status</th>
                                <th style="font-weight:bold"> Actions </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (WarrantList.Count > 0)
                            {
                                foreach (var bk in WarrantList)
                                {
                                    var state = await Utils.GetPaymentState(bk.Payments.ToList(), db);
                                    <tr>
                                        <td>
                                            <div class="form-check bd-example-indeterminate">
                                                <label class="custom-control custom-checkbox">
                                                    @if (bk.Status == EntityStatus.Deleted) { <input type="checkbox" class="custom-control-input select-chks" value="" disabled>} else { <input type="checkbox" class="custom-control-input select-chks" value="@bk.Id">}
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-description"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td class="iw-ref">IW@(bk.Ref.ToString("0000"))</td>
                                        <td class="iw-staff">@bk.Staff.FullName</td>
                                        <td>@bk.OrderNo</td>
                                        <td>
                                            <p style="max-height:80px;overflow-y:hidden;white-space: pre-line;">
                                            @bk.NatureOfDuty</p>
                                        </td>
                                        <td>@bk.CreateDate.ToString("dd MMM yyyy")</td>
                                        <td>@bk.EstimatedDaysAway</td>
                                        <td>
                                            @{
                                                var total = 0.0;
                                                var cur = db.FCurrencies.Single(l => l.IsBase);
                                                <ul style="display:none">
                                                    @foreach (var p in bk.Payments)
                                                    {
                                                        var payment = db.FWallet.Include(l => l.CurrencyUsed).Include(l => l.Taxes).Single(j => j.Id == p.Id);
                                                        total += payment.GrossAmount;
                                                        if (cur.Id != payment.CurrencyId)
                                                        {
                                                            cur = payment.CurrencyUsed;
                                                        }
                                                        <li style="list-style:none">
                                                            @payment.CurrencyUsed.Alias @p.GrossAmount.ToString("#,##0")
                                                            @if (p.Taxes.Count > 0)
                                                            {
                                                                <p>
                                                                    <strong>TAXES :</strong><br />
                                                                    @foreach (var t in payment.Taxes)
                                                                    {
                                                                        <text> →  @t.Name <br /></text>
                                                                    }
                                                                </p>

                                                            }
                                                        </li>
                                                    }
                                                </ul>
                                            }
                                            <a href="javacript:void(0)" title="Click to view more payment details...">@cur.Alias @total.ToString("#,##0")</a>
                                        </td>
                                        <td>
                                            @if (bk.Disbursement != null && state == PaymentState.FullyPaid)
    {<span class="label label-table label-success">Disbursed</span>}
else if (state == PaymentState.HalfPaid)
{<span class="label label-table label-info">Half-Disbursed</span>}
else if (bk.Status == EntityStatus.Deleted)
{
                                        <span class="label label-table label-danger">DELETED</span>
}
else
{
                                        <span class="label label-table label-warning">Un-Disbursed</span>
}
                                        </td>
                                        <td class="text-nowrap">
                                            <a href="javascript:void(0)" data-toggle="modal" data-target="#iw-prev-@bk.Id" class="iw-prev"> <i class="fa fa-eye text-inverse m-r-10"></i> </a>
                                            @if (bk.Disbursement == null && state != PaymentState.FullyPaid && bk.Payments.Any(l => l.VoucherId > 0))
                                            {
                                                //we have a unpaid voucher
                                                <a href="@Url.RouteUrl(FinanceControllerRoute.GetPreviewPVoucher,new { vid=bk.Payments.First(k=>k.VoucherId > 0).VoucherId})" data-toggle="tooltip" data-original-title="View &amp; Post Voucher"> <i class="fa fa-shopping-bag text-inverse m-r-10"></i> </a>
                                            }
                                            else if (bk.Disbursement == null && bk.Status != EntityStatus.Deleted)
                                            {
                                                <a href="javascript:void(0)" data-toggle="tooltip" data-original-title="Update"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                                <a href="@Url.RouteUrl(FinanceControllerRoute.GetAddImprestDisbursement, new { iid = bk.Id })" data-toggle="tooltip" data-original-title="Disburse this Imprest"> <i class="fa fa-send-o text-inverse m-r-10"></i> </a>
                                                <form asp-controller="Finance" asp-action="DropImprestWarrant" method="POST" class="form-horizontal" style="display:inline">
                                                    <input value="@bk.Id" type="hidden" name="wid" id="wid" />
                                                    <a href="javascript:void(0)" id="" data-toggle="tooltip" class="iw-del" data-id="@bk.Id" data-original-title="Delete Imprest Warrant"> <i class="fa fa-close m-r-10 text-danger"></i></a>
                                                </form>
                                            }

                                            @*Preview Wrapper*@
                                            <div class="modal fade" id="iw-prev-@bk.Id" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
                                                <div class="modal-dialog modal-lg">
                                                    <div class="modal-content">
                                                        <div class="modal-header modal-title-wrapper">

                                                            <span class="pull-left">
                                                               <i class="fa fa-eye"></i>
                                                            </span>
                                                            <h4 class="modal-title" id="">
                                                                Imprest Warrant Preview
                                                            </h4>
                                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                        </div>
                                                        <div class="modal-body" style="overflow-y:scroll;max-height:400px;width:100%">
                                                            <div class="printableArea card card-body">
                                                                <h4 style="font-weight:bold;width:100%">
                                                                    Staff Imprest Warrant:
                                                                    <span class="pull-right">
                                                                        @if (bk.Disbursement != null && state == PaymentState.FullyPaid)
            {<span class="label label-table label-success">Disbursed</span>}
else if (state == PaymentState.HalfPaid)
{<span class="label label-table label-info">Half-Disbursed</span>}
else if (bk.Status == EntityStatus.Deleted)
{
                                                            <span class="label label-table label-danger">DELETED</span>
}
else
{
                                                            <span class="label label-table label-warning">Un-Disbursed</span>
}
                                                                    </span>
                                                                </h4>
                                                                <div class="gray-box" style="">
                                                                    <p>
                                                                        <span style="font-weight:bold">REF. NO. : </span><span>IW@((bk.Ref).ToString("0000"))</span><br />
                                                                        <span style="font-weight:bold">Order NO. : </span><span>@bk.OrderNo</span>
                                                                        <hr />
                                                                        <span style="font-weight:bold">Date Created : </span> @bk.CreateDate.ToString("dd MMM yyyy")<br />
                                                                        <span style="font-weight:bold">Surrender Date : </span> @bk.SurrenderDate.ToString("dd MMM yyyy")<br />
                                                                        <hr />
                                                                        <span style="font-weight:bold">Ledger: </span> @bk.Ledger.Name<br />
                                                                        <span style="font-weight:bold">Project : </span> @(bk.Project?.Name ?? "Not Available")
                                                                        <hr />
                                                                        <span style="font-weight:bold">Days Away : </span> @bk.EstimatedDaysAway day(s)<br />
                                                                        <span style="font-weight:bold">Proposed Itinerary: </span><p style="overflow-y:scroll;white-space: pre-line;"class="gray-box">@(bk.ProposedItinerary ?? "< Not Available >")</p>
                                                                        <span style="font-weight:bold">Nature of Duty: </span><p style="overflow-y:scroll;white-space: pre-line;" class="gray-box">@(bk.NatureOfDuty ?? "< Not Available >")</p>
                                                                    </p>
                                                                    <hr />

                                                                    <h5 style="font-weight:bold">Payments:</h5>
                                                                    <div style="">
                                                                        <table style="width:100%">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th>#</th>
                                                                                    <td style="font-weight:bold">Gross Amount</td>
                                                                                    <td style="font-weight:bold">Department</td>
                                                                                    <td style="font-weight:bold">GL Account</td>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                @if (bk.Payments.Count > 0)
                    {
                        var index = 0;
                                                            @foreach (var py in bk.Payments)
{
    var payment = db.FWallet.Include(k => k.GLAccount).Include(l => l.Department).Include(l => l.CurrencyUsed).Single(k => k.Id == py.Id);
    index++;
                                                            <tr>
                                                                <td>@index</td>
                                                                <td>@payment.CurrencyUsed.Alias @py.GrossAmount.ToString("#,##0")</td>
                                                                <td>@payment.Department.Name</td>
                                                                <td><span class="label label-table label-info">@payment.GLAccount.Type</span> @payment.GLAccount.Name</td>
                                                            </tr>

}
}
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                                <br />
                                                                <h4 style="font-weight:bold">Description:</h4>
                                                                <p class="gray-box" style="text-align:center;white-space: pre-line;overflow-y:scroll">@(bk.Description ?? "Not Available")</p>
                                                                <hr />
                                                                <h4 style="font-weight:bold">Staff:</h4>
                                                                <div class="gray-box">
                                                                    <p class="">
                                                                        <span style="font-weight:bold">NAME : </span> @bk.Staff.FullName<br />
                                                                        <span style="font-weight:bold">EMP. No.: </span> @bk.Staff.EmplNo<br />
                                                                        <hr />
                                                                        <span style="font-weight:bold">Job Title : </span> @bk.Staff.JobCatalogue.Name<br />
                                                                        <span style="font-weight:bold">Location : </span> @(bk.Staff.Location.Name ?? "Not Set")
                                                                    </p>
                                                                </div>
                                                                <hr />
                                                                <span style="font-weight:bold">Prepared By: </span> @bk.Personnel.FullName
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button class="btn btn-outline-info waves-effect text-left pull-left print" data-toggle="tooltip" data-id="@bk.Id" data-original-title="Print Warrant"> <i class="fa fa-print m-r-10 text-danger"> Print Warrant</i></button>
                                                            <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">Close</button>
                                                        </div>
                                                    </div>
                                                    <!-- /.modal-content -->
                                                </div>
                                                <!-- /.modal-dialog -->
                                            </div>
                                        </td>
                                    </tr>

                                }
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td>
                                    <div class="form-check bd-example-indeterminate">
                                        <label class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input select-all-chks" value="">
                                            <span class="custom-control-indicator"></span>
                                        </label>
                                    </div>
                                </td>
                                <th style="font-weight:bold">REF. NO.</th>
                                <th style="font-weight:bold">Staff</th>
                                <th style="font-weight:bold">Order No.</th>
                                <th style="font-weight:bold">Nature Of Duty</th>
                                <th style="font-weight:bold">Date Created</th>
                                <th style="font-weight:bold">Days Away</th>
                                <th style="font-weight:bold">Amount</th>
                                <th style="font-weight:bold">Status</th>
                                <th style="font-weight:bold"> Actions </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@* Code in the scripts section below gets added at the bottom of the HTML body element, below other scripts. This
    section can be used to enter custom scripts specific to this page. *@
@section scripts
    {
    <!-- Footable -->
    <script src="~/lib/plugins/footable/js/footable.all.min.js"></script>
    <script src="~/lib/plugins/bootstrap-select/bootstrap-select.min.js" type="text/javascript"></script>
    <!-- Editable -->
    <script src="~/lib/plugins/jquery-datatables-editable/jquery.dataTables.js"></script>
    <script src="~/lib/plugins/datatables/dataTables.bootstrap.js"></script>
    <script src="~/lib/plugins/tiny-editable/mindmup-editabletable.js"></script>
    <script src="~/lib/plugins/tiny-editable/numeric-input-example.js"></script>
    <script>
        jQuery(document).ready(function () {
            jQuery('#editable-datatable').DataTable();
        });
    </script>
    <script>
        jQuery('#add-bank').click(function () {
            window.location = jQuery(this).data('target');
        })
        jQuery('#add-branch').click(function () {
            window.location = jQuery(this).data('target');
        })
    </script>
    <script type="text/javascript">
        $(function () {
            $(".preloader").fadeOut();
        });
        jQuery('body').on('change', '.select-all-chks', function () {
            if (jQuery(this).is(':checked')) {
                jQuery('#post-sel').show()
            } else {
                jQuery('#post-sel').hide()
            }
        })
        jQuery('body').on('change', '.select-chks', function () {
            var any = false;
            jQuery.each(jQuery('.select-chks'), function (s, obj) {
                if (jQuery(obj).is(':checked')) {
                    any = true
                }
            })
            //
            if (any || jQuery('.select-all-chks').is(':checked'))
                jQuery('#post-sel').show()
            else
                jQuery('#post-sel').hide()
        })
    </script>

    <script src="~/lib/js/jquery.PrintArea.js" type="text/JavaScript"></script>
    @*Print *@
    <script>
            jQuery(document).ready(function () {
                jQuery('.iw-del').on('click', function () {
                    var staff = jQuery(this).closest('tr').find('td.iw-staff').text(), ref = jQuery(this).closest('tr').find('td.iw-ref').text();
                    var form = jQuery(this).closest('form');
                    if (confirm('You are about to delete imprest warrant "' + ref + '" prepared for "' + staff + '".\n Click OK to continue...')) {
                        var url = form.prop('action'); //
                        jQuery.ajax({
                            type: "POST",
                            url: url,
                            data: jQuery(form).serialize(), // serializes the form's elements.
                            success: function (data) {
                                data.s == 1 ? (alert(data.msg), window.location = '@Url.Action()') : (alert(data.err))
                            },
                            error: function (e) {
                                console && console.log("Delete Failed." + JSON.stringify(e));
                            }
                        });

                        return false;
                    }
                }),
            jQuery('#post-sel').click(function () {
            var sel = [];
            jQuery.each(jQuery('.select-chks'), function (i, obj) {
                var id = jQuery(obj).val();
                id && Number(id) > 0 && sel.push(id);
            }),
                sel.length > 0 && (iws = JSON.stringify(sel),window.location = '@Url.RouteUrl(FinanceControllerRoute.GetAddImprestPVoucher)' + '?iws=' + iws)
            }),
                jQuery(".print").click(function () {
                    var printableArea = jQuery(this).closest('td').find('div.printableArea');
                    var mode = 'iframe'; //popup
                    var close = mode == "popup";
                    var options = {
                        popTitle: 'Print Imprest Warrant',
                        mode: mode,
                        popClose: close,
                        popHt: 500,   // popup window height
                        popWd: 400,  // popup window width
                        extraCss: "margin:20px;border:solid thick red",
                    };
                    jQuery(printableArea).printArea(options);
                });
            });
    </script>
}
