﻿@inject IOptionsSnapshot<AppSettings> AppSettings

@using Microsoft.EntityFrameworkCore;

@inject ApplicationDbContext db
@{
    // title - The title of the page which appears in the browser window title. Aim for the title to be less than 70
    //         characters. The site name appears at the end for better SEO.
    ViewBag.Title = "All Imprest Disbursements";
    // Description - Used by search engines. Aim for more than 160 characters.
    ViewBag.Description = "";

    //
    var DisList = db.FImprestDisbursements.Include(l => l.Warrant).ThenInclude(l => l.Staff).Include(l => l.Surrender).Include(p => p.Personnel).Include(l => l.Warrant).ThenInclude(l => l.Payments).ToList();
}

@* Code in the head section below gets added at the bottom of the HTML head element. This section can be used to enter
    custom meta tags specific to this page. *@
@section head
    {
    @* Author - (Optional) Used by search engines. The author of the page. *@
    <meta name="author" content="ABNO Softwares Int.">
    @* Add Twitter Card social meta tags so we can customize what happens when our page is shared on Twitter. There are
        several different Twitter Card types we could add, a different one is added on each page as an example.
        These helpers make it very easy to add the meta tags. For best performance, see what tags are generated and
        hand-code them yourself instead of using these helpers. *@
    <twitter-card-summary-large-image username="@@ABNO">
        @* Add Open Graph social meta tags so we can customize what happens when our page is shared on Facebook, Google+,
            Pintrest and other social media websites. There are dozens of Open Graph types, a different one is added on
            each page as an example. These helpers make it very easy to add the meta tags. For best performance, see what
            tags are generated and hand-code them yourself instead of using these helpers. *@
        <open-graph-website site-name="@AppSettings.Value.SiteTitle"
                            title="@ViewBag.Title"
                            main-image="@(new OpenGraphImage(
                            Url.AbsoluteContent("~/img/icons/open-graph-1200x630.png"),
                            ContentType.Png,
                            1200,
                            630))"
                            determiner="Blank">
            @* referrer - Controls what is sent in the HTTP referrer header when a client navigates to an external site. *@
            <meta asp-referrer="OriginWhenCrossOrigin">

            <!-- Footable CSS -->
            <link href="~/lib/plugins/footable/css/footable.core.css" rel="stylesheet">
            <link href="~/lib/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
            <!-- Custom CSS -->
            <link href="~/lib/css/style.css" rel="stylesheet">
            <!-- page css -->
            <link href="~/lib/css/pages/footable-page.css" rel="stylesheet">
            <!-- You can change the theme colors from here -->
            <link href="~/lib/css/colors/default-dark.css" id="theme" rel="stylesheet">

            @if (ViewData["Message"] != null)
            {
                <script>
                 var msg = '@ViewData["Message"]'
                </script>
            }
}
<div class="container-fluid">

    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">@ViewBag.Title</h3>
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Finance</a></li>
                <li class="breadcrumb-item">Imprest Warrant</li>
                <li class="breadcrumb-item">All Disbursements</li>
            </ol>
        </div>
        <div>
            <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-12">
            <!-- Column -->
            <div class="card">
                <div class="card-body">
                    <button type="button" class="btn btn-info btn-rounded pull-right" id="add-cur" data-toggle="tooltip" data-original-title="Create A new Imprest Disbursements" data-target="@Url.RouteUrl(FinanceControllerRoute.GetAddImprestDisbursement,new {})">Add New Imprest Disbursement</button>
                    <div class="clearfix"></div>
                    @*<h4 class="card-title">Row Toggler</h4>*@
                    <h6 class="card-subtitle">An overview of Imprest Disbursements</h6>
                    <table class="table table-striped table-bordered" id="editable-datatable">
                        <thead>
                            <tr>
                                <th style="font-weight:bold"> REF. NO.</th>
                                <th style="font-weight:bold">Description</th>
                                <th style="font-weight:bold">Disbursed on</th>
                                <th style="font-weight:bold">Staff</th>
                                <th style="font-weight:bold">Surrender Before</th>
                                @*<th>Recovery Policy</th>*@
                                <th style="font-weight:bold">Status</th>
                                <th style="font-weight:bold"> Actions </th>
                            </tr>
                        </thead>
                        <tbody>

                            @if (DisList.Count > 0)
                            {
                                foreach (var dis in DisList)
                                {
                                    <tr>
                                        <td class="iwd-ref">IWD@(dis.Ref.ToString("0000"))</td>
                                        <td>@(dis.Description ?? "Not Available")</td>
                                        <td>@dis.DateCreated.ToString("dd MMM yyyy")</td>
                                        <td class="iwd-staff">@dis.Warrant.Staff.FullName</td>
                                        <td>@dis.Warrant.SurrenderDate.ToString("dd MMM yyyy")</td>
                                        <td>
                                            @if (dis.Surrender != null)
                                            {<span class="label label-table label-success">Surrendered</span> }
                                            else
                                            {<span class="label label-table label-warning">Not-Surrendered</span>}
                                        </td>
                                        @*<td>@dis.RecoveryPolicy</td>*@
                                        <td class="text-nowrap">
                                            <a href="javascript:void(0)" data-toggle="modal" data-target="#iwd-prev-@dis.Id"> <i class="fa fa-eye text-inverse m-r-10"></i> </a>
                                            @if (dis.Surrender == null)
                                            {@*<a href="javascript:void(0)" data-toggle="tooltip" data-original-title="Post This Warrant"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>*@
                                            <a href="@Url.RouteUrl(FinanceControllerRoute.GetAddImprestSurrender,new { did=dis.Id})" data-toggle="tooltip" data-original-title="Surrender Imprest"> <i class="fa fa-send-o text-inverse m-r-10"></i> </a>}


                                        @*Preview Wrapper*@
                                            <div class="modal fade" id="iwd-prev-@dis.Id" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
                                                <div class="modal-dialog modal-lg">
                                                    <div class="modal-content">
                                                        <div class="modal-header modal-title-wrapper">

                                                            <span class="pull-left">
                                                                <i class="fa fa-eye"></i>
                                                            </span>
                                                            <h4 class="modal-title" id="">
                                                                Imprest Warrant Disbursement Preview
                                                            </h4>
                                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                        </div>
                                                        <div class="modal-body" style="overflow-y:scroll;max-height:400px;width:100%">
                                                            <div class="printableArea card card-body">
                                                                <h4 style="font-weight:bold;width:100%">
                                                                    Imprest Warrant Disbursement:
                                                                    <span class="pull-right">
                                                                        @if (dis.Surrender != null)
                    {<span class="label label-table label-success">Surrendered</span> }
else
{<span class="label label-table label-warning">Not-Surrendered</span>}
                                                                    </span>
                                                                </h4>
                                                                <div class="gray-box">
                                                                    <p>
                                                                        <span style="font-weight:bold">REF. : </span><span>IWD@(dis.Ref.ToString("0000"))</span><br />
                                                                        <span style="font-weight:bold">Date Created : </span> @dis.DateCreated.ToString("dd MMM yyyy")<br />
                                                                        <hr />
                                                                        <span style="font-weight:bold">Disbursement Notes : </span><address class="gray-box">@(dis.Description ?? "< Not Available >")</address>
                                                                        <span style="font-weight:bold">Processed By: </span> @dis.Personnel.FullName
                                                                    </p>
                                                                </div>
                                                                <br />

                                                                <h5 style="font-weight:bold">The Imprest Warrant:</h5>
                                                                <div class="gray-box" style="">
                                                                    <p>
                                                                        <span style="font-weight:bold">REF. : </span><span>IWD@(dis.Ref.ToString("0000"))</span><br />
                                                                        <span style="font-weight:bold">Order NO. : </span><span>@dis.Warrant.OrderNo</span>
                                                                        <hr />
                                                                        <span style="font-weight:bold">Date Created : </span> @dis.Warrant.CreateDate.ToString("dd MMM yyyy")<br />
                                                                        <span style="font-weight:bold">Surrender Date : </span> @dis.Warrant.SurrenderDate.ToString("dd MMM yyyy")<br />
                                                                        <hr />
                                                                        <span style="font-weight:bold">Days Away : </span> @dis.Warrant.EstimatedDaysAway day(s)<br />
                                                                        <span style="font-weight:bold">Proposed Itinerary: </span>
                                                                    <p style="overflow-y:scroll;white-space: pre-line;" class="gray-box">@(dis.Warrant.ProposedItinerary ?? "< Not Available >")</p>
                                                                    <span style="font-weight:bold">Nature of Duty: </span><p style="overflow-y:scroll;white-space: pre-line;" class="gray-box">@(dis.Warrant.NatureOfDuty ?? "< Not Available >")</p>

                                                                    </p>
                                                                    <hr />

                                                                    <h5 style="font-weight:bold">Payments:</h5>
                                                                    <div style="">
                                                                        <table style="width:100%">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th>#</th>
                                                                                    <td style="font-weight:bold">Gross Amount</td>
                                                                                    <td style="font-weight:bold">Department</td>
                                                                                    <td style="font-weight:bold">GL Account</td>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                @if (dis.Warrant.Payments.Count > 0)
                            {
                                var index = 0;
                                                    @foreach (var py in dis.Warrant.Payments)
{
    var payment = db.FWallet.Include(k => k.GLAccount).Include(l => l.Department).Include(l => l.CurrencyUsed).Single(k => k.Id == py.Id);
    index++;
                                                    <tr>
                                                        <td>@index</td>
                                                        <td>@payment.CurrencyUsed.Alias @py.GrossAmount.ToString("N0")</td>
                                                        <td>@payment.Department.Name</td>
                                                        <td><span class="label label-table label-info">@payment.GLAccount.Type</span> @payment.GLAccount.Name</td>
                                                    </tr>

}

}
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>

                                                        @{ Html.RenderPartial("_PrintChequePartial", new PrintChequeModel() { Id = dis.Id, PayeeName = dis.Warrant.Staff.FullName, Payments = dis.Warrant.Payments.ToList() });}
                                                        <div class="modal-footer">
                                                            <button class="btn btn-outline-secondary waves-effect mr-auto print-cheque" data-toggle="tooltip" data-id="@dis.Id" data-original-title="Print Cheque"> <i class="fa fa-print m-r-10"> Print Cheque</i></button>
                                                            <button class="btn btn-outline-info waves-effect text-left pull-left print" data-toggle="tooltip" data-id="@dis.Id" data-original-title="Print Disbursement"> <i class="fa fa-print m-r-10 text-info"> Print Disbursement</i></button>
                                                            <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">Close</button>
                                                        </div>
                                                    </div>
                                                    <!-- /.modal-content -->
                                                </div>
                                                <!-- /.modal-dialog -->

                                            </div>

                                        </td>
                                    </tr>

                                }
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th style="font-weight:bold"> REF. NO.</th>
                                <th style="font-weight:bold">Description</th>
                                <th style="font-weight:bold">Disbursed on</th>
                                <th style="font-weight:bold">Staff</th>
                                <th style="font-weight:bold">Surrender Before</th>
                                @*<th>Recovery Policy</th>*@
                                <th style="font-weight:bold">Status</th>
                                <th style="font-weight:bold"> Actions </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@* Code in the scripts section below gets added at the bottom of the HTML body element, below other scripts. This
    section can be used to enter custom scripts specific to this page. *@
@section scripts
    {
    <!-- Footable -->
    <script src="~/lib/plugins/footable/js/footable.all.min.js"></script>
    <script src="~/lib/plugins/bootstrap-select/bootstrap-select.min.js" type="text/javascript"></script>
    <!--FooTable init-->
    <script src="~/lib/js/footable-init.js"></script>
    <script>
        jQuery('#add-cur').click(function () {
            window.location = jQuery(this).data('target');
        })
    </script>
    <script type="text/javascript">
        $(function () {
            $(".preloader").fadeOut();
        });

    </script>
    <!-- Editable -->
    <script src="~/lib/plugins/jquery-datatables-editable/jquery.dataTables.js"></script>
    <script src="~/lib/plugins/datatables/dataTables.bootstrap.js"></script>
    <script src="~/lib/plugins/tiny-editable/mindmup-editabletable.js"></script>
    <script src="~/lib/plugins/tiny-editable/numeric-input-example.js"></script>
    <script>
        jQuery('#mainTable').editableTableWidget().numericInputExample().find('td:first').focus();
        jQuery('#editable-datatable').editableTableWidget().numericInputExample().find('td:first').focus();
        jQuery(document).ready(function () {
            jQuery('#editable-datatable').DataTable();
        });
    </script>
    <script src="~/lib/js/jquery.PrintArea.js" type="text/JavaScript"></script>
    @*Print *@
    <script>
        jQuery(document).ready(function () {
            jQuery(".print").click(function () {
                var printableArea = jQuery(this).closest('td').find('div.printableArea');
                var mode = 'iframe'; //popup
                var close = mode == "popup";
                var options = {
                    popTitle: 'Print Invoice',
                    mode: mode,
                    popClose: close,
                    popHt: 500,   // popup window height
                    popWd: 400,  // popup window width
                    extraCss: "margin:20px;border:solid thick red",
                };
                jQuery(printableArea).printArea(options);
            }), jQuery(".print-cheque").click(function () {
                var printableArea = jQuery(this).closest('td').find('div.print-cheque');
                var mode = 'iframe'; //popup
                var close = mode == "popup";
                var options = {
                    popTitle: 'Print Cheque',
                    mode: mode,
                    popClose: close,
                    popHt: 500,   // popup window height
                    popWd: 400  // popup window width
                };
                jQuery(printableArea).printArea(options);
            });
        });
    </script>
}
