﻿@inject IOptionsSnapshot<AppSettings> AppSettings

@using Microsoft.EntityFrameworkCore;

@inject ApplicationDbContext db
@{
    // title - The title of the page which appears in the browser window title. Aim for the title to be less than 70
    //         characters. The site name appears at the end for better SEO.
    ViewBag.Title = "All Invoices";
    // Description - Used by search engines. Aim for more than 160 characters.
    ViewBag.Description = "All invoices";

    //
    var InvoiceList = db.FInvoices.Include(k => k.Supplier).ThenInclude(l => l.VendorType).Include(o => o.Project).Include(o => o.Ledger)
        .Include(k => k.Payments).Include(k=>k.Personnel).ToList();

    var BaseCurrency = db.FCurrencies.Single(l => l.IsBase);
}

@* Code in the head section below gets added at the bottom of the HTML head element. This section can be used to enter
    custom meta tags specific to this page. *@
@section head
    {
    @* Author - (Optional) Used by search engines. The author of the page. *@
    <meta name="author" content="ABNO Softwares Int.">
    @* Add Twitter Card social meta tags so we can customize what happens when our page is shared on Twitter. There are
        several different Twitter Card types we could add, a different one is added on each page as an example.
        These helpers make it very easy to add the meta tags. For best performance, see what tags are generated and
        hand-code them yourself instead of using these helpers. *@
    <twitter-card-summary-large-image username="@@ABNO">
        @* Add Open Graph social meta tags so we can customize what happens when our page is shared on Facebook, Google+,
            Pintrest and other social media websites. There are dozens of Open Graph types, a different one is added on
            each page as an example. These helpers make it very easy to add the meta tags. For best performance, see what
            tags are generated and hand-code them yourself instead of using these helpers. *@
        <open-graph-website site-name="@AppSettings.Value.SiteTitle"
                            title="@ViewBag.Title"
                            main-image="@(new OpenGraphImage(
                            Url.AbsoluteContent("~/img/icons/open-graph-1200x630.png"),
                            ContentType.Png,
                            1200,
                            630))"
                            determiner="Blank">
            @* referrer - Controls what is sent in the HTTP referrer header when a client navigates to an external site. *@
            <meta asp-referrer="OriginWhenCrossOrigin">

            <!-- Footable CSS -->
            <link href="~/lib/plugins/footable/css/footable.core.css" rel="stylesheet">
            <link href="~/lib/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
            <!-- Custom CSS -->
            <link href="~/lib/css/style.css" rel="stylesheet">
            <!-- page css -->
            <link href="~/lib/css/pages/footable-page.css" rel="stylesheet">
            <link type="text/css" rel="stylesheet" href="~/lib/css/print.css" />

            @if (ViewData["Message"] != null)
            {
                <script>
                 var msg = '@ViewData["Message"]'
                </script>
            }
            <style>
                @@media print {
                    printableArea {
                        margin-left: 25px;
                        margin-right: 10px;
                        margin-top: 10px;
                        margin-bottom: 10px
                    }

                    .modal-header button.close {
                        display: none;
                    }

                    .modal-footer {
                        display: none;
                    }

                    .print-header {
                        display: block;
                    }
                }
            </style>
}
<div class="container-fluid">

    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">@ViewBag.Title</h3>
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Finance</a></li>
                <li class="breadcrumb-item">Supplier Invoices</li>
                <li class="breadcrumb-item">All Invoices</li>
            </ol>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-12">
            <!-- Column -->
            <div class="card">
                <div class="card-body">
                    <div class="pull-right">
                        <button type="button" class="btn btn-success btn-rounded" style="display:none" id="post-sel" data-toggle="tooltip" data-original-title="Create Imprest Warrant Payment Voucher" data-target="@Url.RouteUrl(FinanceControllerRoute.GetAddImprestPVoucher,new {})">Create Payment Voucher</button>
                        <button type="button" class="btn btn-info btn-rounded" id="add-inv" data-toggle="tooltip" data-original-title="Create A new Invoice" data-target="@Url.RouteUrl(FinanceControllerRoute.GetAddInvoice,new {})">Create New Invoice</button>
                    </div>
                    <div class="clearfix"></div>
                    @*<h4 class="card-title">Row Toggler</h4>*@
                    <h6 class="card-subtitle">An overview of invoices</h6>
                    <table class="table table-striped table-bordered" id="editable-datatable">
                        <thead>
                            <tr>
                                <td class="sorting_asc_disabled">
                                    <div class="form-check bd-example-indeterminate">
                                        <label class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input select-all-chks" value="">
                                            <span class="custom-control-indicator"></span>
                                        </label>
                                    </div>
                                </td>
                                <th style="font-weight:bold">Doc. No.</th>
                                <th style="font-weight:bold">Supplier</th>
                                <th style="font-weight:bold">Gross Amount</th>
                                <th style="font-weight:bold">Date</th>
                                <th style="font-weight:bold">Status</th>
                                <th style="font-weight:bold"> Actions </th>
                            </tr>
                        </thead>
                        <tbody>

                            @if (InvoiceList.Count > 0)
                            {
                                foreach (var inv in InvoiceList)
                                {
                                    var state = await Utils.GetPaymentState(inv.Payments.ToList(), db);
                                    var CurrencyUsed = inv.Payments.First().CurrencyUsed;
                                    var c = inv.Payments.Any(l => l.VoucherId > 0);
                                    <tr>
                                        <td>
                                            @if (inv.Status != EntityStatus.Deleted && state != PaymentState.FullyPaid)
                                            {
                                                <div class="form-check bd-example-indeterminate">
                                                    <label class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input select-chks" value="@inv.Id">
                                                        <span class="custom-control-indicator"></span>
                                                        <span class="custom-control-description"></span>
                                                    </label>
                                                </div>

                                            }
                                            else
                                            {
                                                <div class="form-check bd-example-indeterminate">
                                                    <label class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input select-chks" value="" disabled>
                                                        <span class="custom-control-indicator"></span>
                                                        <span class="custom-control-description"></span>
                                                    </label>
                                                </div>
                                            }
                                        </td>
                                        <td class="inv-ref">VIN@((inv.DocNo).ToString("0000"))</td>
                                        <td class="inv-sup">@inv.Supplier.Name</td>

                                        <td>@CurrencyUsed.Alias @((await Utils.CalculatePayableAmount(inv.Payments.ToList())).ToString("#,##0"))</td>
                                        <td>@inv.InvoiceDate.ToString("dd MMMM yyyy")</td>
                                        <td>
                                            @if (state == PaymentState.FullyPaid)
                                            {<span class="label label-table label-success">Paid</span>}
                                            else if (state == PaymentState.HalfPaid)
                                            { <span class="label label-table label-warning">Half-Paid</span>}
                                            else if (inv.Status == EntityStatus.Active)
                                            {<span class="label label-table label-purple">Un-Paid</span>}
                                            else if (inv.Status == EntityStatus.Deleted)
                                            {<span class="label label-table label-danger">Deleted</span>}
                                            else
                                            {
                                                <span class="label label-table label-info">@inv.Status</span>
                                            }
                                        </td>
                                        <td class="text-nowrap">
                                            <a href="javascript:void(0)" data-toggle="modal" data-target="#inv-prev-@inv.Id" class="inv-prev" data-id="@inv.Id" data-original-title="Preview Invoice"> <i class="fa fa-eye text-inverse m-r-10"></i></a>
                                            @if (inv.Status != EntityStatus.Deleted && !inv.Payments.Any(l => l.VoucherId > 0))
                                            {
                                                <a href="@Url.RouteUrl(FinanceControllerRoute.UpdateInvoice,new { iid=inv.Id})" data-toggle="tooltip" data-original-title="Update"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>

                                                <form asp-controller="Finance" asp-action="DropInvoice" method="POST" class="form-horizontal" style="display:inline">
                                                    <input value="@inv.Id" type="hidden" name="inv" id="inv" />
                                                    <a href="javascript:void(0)" id="" data-toggle="tooltip" class="inv-del" data-id="@inv.Id" data-original-title="Suspend Invoice"> <i class="fa fa-close m-r-10 text-danger"></i></a>
                                                </form>
                                            }
                                            else if (inv.Status != EntityStatus.Deleted)
                                            {
                                                <a href="@Url.RouteUrl(FinanceControllerRoute.GetPreviewPVoucher,new { vid=inv.Payments.First(k=>k.VoucherId > 0).VoucherId})" data-toggle="tooltip" data-original-title="View &amp; Post Voucher"> <i class="fa fa-shopping-bag text-inverse m-r-10"></i> </a>
                                            }


                                            @*Preview Wrapper*@
                                            <div class="modal fade" id="inv-prev-@inv.Id" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
                                                <div class="modal-dialog modal-lg">
                                                    <div class="modal-content">
                                                        <div class="modal-header modal-title-wrapper">

                                                            <span class="pull-left">
                                                                <i class="fa fa-eye"></i>
                                                            </span>
                                                            <h4 class="modal-title" id="">
                                                                Supplier Invoice Preview
                                                            </h4>
                                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                        </div>
                                                        <div class="modal-body" style="overflow-y:scroll;max-height:400px;width:100%">
                                                            <div class="printableArea card card-body">
                                                                <h4 style="font-weight:bold">
                                                                    Invoice:
                                                                    <span class="pull-right">
                                                                        @if (state == PaymentState.FullyPaid)
            {<span class="label label-table label-success">Paid</span>}
else if (state == PaymentState.HalfPaid)
{ <span class="label label-table label-warning">Half-Paid</span>}
else if (inv.Status == EntityStatus.Active)
{<span class="label label-table label-purple">Un-Paid</span>}
else
{
                                                            <span class="label label-table label-danger">@inv.Status</span>
}
                                                                    </span>
                                                                </h4>
                                                                <div class="gray-box" style="">
                                                                    <p>
                                                                        <span style="font-weight:bold">Inv. NO. : </span><span>VIN@((inv.DocNo).ToString("0000"))</span><br />
                                                                        <span style="font-weight:bold">Order NO. : </span><span>@inv.OrderNo</span>
                                                                        <hr />
                                                                        <span style="font-weight:bold">Inv. Date : </span> @inv.InvoiceDate.ToString("dd MMM yyyy")<br />
                                                                        <span style="font-weight:bold">Due By : </span> @inv.DueDate.ToString("dd MMM yyyy")<br />
                                                                        <hr />
                                                                        <span style="font-weight:bold">Inv.  Ledger: </span> @inv.Ledger.Name<br />
                                                                        <span style="font-weight:bold">Inv. Project : </span> @(inv.Project?.Name ?? "Not Available")
                                                                    </p>
                                                                    <hr />

                                                                    <h5 style="font-weight:bold">Payments:</h5>
                                                                    <div style="">
                                                                        <table style="width:100%">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th>#</th>
                                                                                    <td style="font-weight:bold">Gross Amount</td>
                                                                                    <td style="font-weight:bold">Discount</td>
                                                                                    <td style="font-weight:bold">Department</td>
                                                                                    <td style="font-weight:bold">GL Account</td>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                @if (inv.Payments.Count > 0)
                    {
                        var index = 0;
                                                            @foreach (var py in inv.Payments)
{
    var payment = db.FWallet.Include(k => k.GLAccount).Include(l => l.Department).Include(l => l.CurrencyUsed).Single(k => k.Id == py.Id);
    index++;
                                                            <tr>
                                                                <td>@index</td>
                                                                <td>@payment.CurrencyUsed.Alias @py.GrossAmount.ToString("#,##0")</td>
                                                                <td>@payment.CurrencyUsed.Alias @py.Discount.ToString("#,##0")</td>
                                                                <td>@payment.Department.Name</td>
                                                                <td><span class="label label-table label-success">@payment.GLAccount.Type</span> @payment.GLAccount.Name</td>
                                                            </tr>

}
}
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                                <br />
                                                                <h4 style="font-weight:bold">Description:</h4>
                                                                <p class="gray-box"style="overflow-y:scroll;white-space: pre-line;">Not Available</p>
                                                                <hr />
                                                                <h4 style="font-weight:bold">Supplier:</h4>
                                                                <div class="gray-box">
                                                                    <p class="">
                                                                        <span style="font-weight:bold">NAME : </span> @inv.Supplier.Name<br />
                                                                        <span style="font-weight:bold">TYPE : </span> @inv.Supplier.VendorType.Name<br />
                                                                        <hr />
                                                                        <span style="font-weight:bold">Bank Code : </span> @inv.Supplier.BankCode<br />
                                                                        <span style="font-weight:bold">Bank Account : </span> @(inv.Supplier.BankAccount ?? "Not Set")
                                                                    </p>
                                                                    <address>@(inv.Supplier.Address ?? "ADDRESS : < Not Available >")</address>
                                                                </div>
                                                                <hr />
                                                                <span style="font-weight:bold">Created By: </span> @inv.Personnel.FullName
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button class="btn btn-outline-info waves-effect text-left mr-auto print" data-toggle="tooltip" data-id="@inv.Id" data-original-title="Print Invoice"> <i class="fa fa-print m-r-10 text-danger"> Print Invoice</i></button>
                                                            <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">Close</button>
                                                        </div>
                                                    </div>
                                                    <!-- /.modal-content -->
                                                </div>
                                                <!-- /.modal-dialog -->
                                            </div>
                                        </td>
                                    </tr>

                                }
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td>
                                    <div class="form-check bd-example-indeterminate">
                                        <label class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input select-all-chks" value="">
                                            <span class="custom-control-indicator"></span>
                                        </label>
                                    </div>
                                </td>
                                <th style="font-weight:bold">Doc. No.</th>
                                <th style="font-weight:bold">Supplier</th>
                                <th style="font-weight:bold">Gross Amount</th>
                                <th style="font-weight:bold">Date</th>
                                <th style="font-weight:bold">Status</th>
                                <th style="font-weight:bold"> Actions </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@* Code in the scripts section below gets added at the bottom of the HTML body element, below other scripts. This
    section can be used to enter custom scripts specific to this page. *@
@section scripts
    {
    <!-- Footable -->
    <script src="~/lib/plugins/footable/js/footable.all.min.js"></script>
    <script src="~/lib/plugins/bootstrap-select/bootstrap-select.min.js" type="text/javascript"></script>
    <!-- Editable -->
    <script src="~/lib/plugins/jquery-datatables-editable/jquery.dataTables.js"></script>
    <script src="~/lib/plugins/datatables/dataTables.bootstrap.js"></script>
    <script src="~/lib/plugins/tiny-editable/mindmup-editabletable.js"></script>
    <script src="~/lib/plugins/tiny-editable/numeric-input-example.js"></script>
    <script>
        jQuery(document).ready(function () {
            jQuery('#editable-datatable').DataTable();
        });
    </script>

    <script>
        jQuery('#add-inv').click(function () {
            window.location = jQuery(this).data('target');
        })
    </script>

    <script type="text/javascript">
        $(function () {
            $(".preloader").fadeOut();
        });
        jQuery('body').on('change', '.select-all-chks', function () {
            if (jQuery(this).is(':checked')) {
                jQuery('#post-sel').show()
            } else {
                jQuery('#post-sel').hide()
            }
        })
        jQuery('body').on('change', '.select-chks', function () {
            var any = false;
            jQuery.each(jQuery('.select-chks'), function (s, obj) {
                if (jQuery(obj).is(':checked')) {
                    any = true
                }
            })
            //
            if (any || jQuery('.select-all-chks').is(':checked'))
                jQuery('#post-sel').show()
            else
                jQuery('#post-sel').hide()
        })
        ////
        jQuery('.inv-del').on('click', function () {
            var sup = jQuery(this).closest('tr').find('td.inv-sup').text(), inv = jQuery(this).closest('tr').find('td.inv-ref').text();
            var form = jQuery(this).closest('form');
            if (confirm('You are about to delete invoice "' + inv + '" by "' + sup + '".\n Click OK to continue...')) {
                var url = form.prop('action'); //
                jQuery.ajax({
                    type: "POST",
                    url: url,
                    data: jQuery(form).serialize(), // serializes the form's elements.
                    success: function (data) {
                        data.s == 1 ? (alert(data.msg), window.location = '@Url.Action()') : (alert(data.err))
                    },
                    error: function (e) {
                        console && console.log("Delete Failed." + JSON.stringify(e));
                    }
                });

                return false;
            }
        }),
            jQuery('#post-sel').click(function () {
            var sel = [];
            jQuery.each(jQuery('.select-chks'), function (i, obj) {
                var id = jQuery(obj).val();
                id && Number(id) > 0 && sel.push(id);
            }),
                sel.length > 0 && (invs = JSON.stringify(sel),window.location = '@Url.RouteUrl(FinanceControllerRoute.GetAddRegularPVoucher)' + '?invs=' + invs)
            })

    </script>
    <script src="~/lib/js/jquery.PrintArea.js" type="text/JavaScript"></script>
    @*Print *@
    <script>
        jQuery(document).ready(function () {
            jQuery(".print").click(function () {
                var printableArea = jQuery(this).closest('td').find('div.printableArea');
                var mode = 'iframe'; //popup
                var close = mode == "popup";
                var options = {
                    popTitle: 'Print Invoice',
                    mode: mode,
                    popClose: close,
                    popHt: 500,   // popup window height
                    popWd: 400,  // popup window width
                    extraCss: "margin:20px;border:solid thick red",
                };
                jQuery(printableArea).printArea(options);
            });
        });
    </script>
}
