﻿@inject IOptionsSnapshot<AppSettings> AppSettings

@using Microsoft.EntityFrameworkCore;

@inject ApplicationDbContext db
@{
    // title - The title of the page which appears in the browser window title. Aim for the title to be less than 70
    //         characters. The site name appears at the end for better SEO.
    ViewBag.Title = "All Petty Cash Requests";
    // Description - Used by search engines. Aim for more than 160 characters.
    ViewBag.Description = "";

    //
    var PcList = db.FPettyCashReqs.Include(k => k.Staff).ThenInclude(l => l.JobCatalogue).Include(k => k.Trainee).Include(k => k.Trainer)
        .Include(k => k.Payments).ThenInclude(l => l.CurrencyUsed).Include(l => l.Ledger).Include(l => l.Staff).ThenInclude(l => l.Location)
        .Include(l => l.Personnel).Include(l => l.Disbursement).ToList();

}

@* Code in the head section below gets added at the bottom of the HTML head element. This section can be used to enter
    custom meta tags specific to this page. *@
@section head
    {
    @* Author - (Optional) Used by search engines. The author of the page. *@
    <meta name="author" content="ABNO Softwares Int.">
    @* Add Twitter Card social meta tags so we can customize what happens when our page is shared on Twitter. There are
        several different Twitter Card types we could add, a different one is added on each page as an example.
        These helpers make it very easy to add the meta tags. For best performance, see what tags are generated and
        hand-code them yourself instead of using these helpers. *@
    <twitter-card-summary-large-image username="@@ABNO">
        @* Add Open Graph social meta tags so we can customize what happens when our page is shared on Facebook, Google+,
            Pintrest and other social media websites. There are dozens of Open Graph types, a different one is added on
            each page as an example. These helpers make it very easy to add the meta tags. For best performance, see what
            tags are generated and hand-code them yourself instead of using these helpers. *@
        <open-graph-website site-name="@AppSettings.Value.SiteTitle"
                            title="@ViewBag.Title"
                            main-image="@(new OpenGraphImage(
                            Url.AbsoluteContent("~/img/icons/open-graph-1200x630.png"),
                            ContentType.Png,
                            1200,
                            630))"
                            determiner="Blank">
            @* referrer - Controls what is sent in the HTTP referrer header when a client navigates to an external site. *@
            <meta asp-referrer="OriginWhenCrossOrigin">

            <!-- Footable CSS -->
            <link href="~/lib/plugins/footable/css/footable.core.css" rel="stylesheet">
            <link href="~/lib/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
            <!-- Custom CSS -->
            <link href="~/lib/css/style.css" rel="stylesheet">
            <!-- page css -->
            <link href="~/lib/css/pages/footable-page.css" rel="stylesheet">
            <!-- You can change the theme colors from here -->
            <link href="~/lib/css/colors/default-dark.css" id="theme" rel="stylesheet">

            @if (ViewData["Message"] != null)
            {
                <script>
                 var msg = '@ViewData["Message"]'
                </script>
            }
}
<div class="container-fluid">

    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">@ViewBag.Title</h3>
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Finance</a></li>
                <li class="breadcrumb-item">Petty Cash</li>
                <li class="breadcrumb-item active"> Requests</li>
            </ol>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-12">
            <!-- Column -->
            <div class="card">
                <div class="card-body">
                    <div class="pull-right">
                        <button type="button" class="btn btn-success btn-rounded" style="display:none" id="post-sel" data-toggle="tooltip" data-original-title="Create A new Petty-Cash Voucher" data-target="@Url.RouteUrl(FinanceControllerRoute.GetAddPettyCashPVoucher,new {})">Create Payment Voucher</button>
                        <button type="button" class="btn btn-info btn-rounded" id="add-cur" data-toggle="tooltip" data-original-title="Create A new Petty Cash Request" data-target="@Url.RouteUrl(FinanceControllerRoute.GetAddPettycashItem,new {})">Add New Petty Cash Request</button>
                    </div>

                    @*<h4 class="card-title">Row Toggler</h4>*@
                    <h6 class="card-subtitle">An overview of Petty Cash Requests</h6>
                    <div class="clearfix"></div>
                    <table class="table table-striped table-bordered" id="editable-datatable">
                        <thead>
                            <tr>
                                <td>
                                    <div class="form-check bd-example-indeterminate">
                                        <label class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input select-all-chks" value="">
                                            <span class="custom-control-indicator"></span>
                                        </label>
                                    </div>
                                </td>
                                <th style="font-weight:bold">Ref. No.</th>
                                <th style="font-weight:bold">Entitled To</th>
                                <th style="font-weight:bold">Amount</th>
                                <th style="font-weight:bold">Ledger</th>
                                <th style="font-weight:bold">Status</th>
                                <th style="font-weight:bold"> Actions </th>
                            </tr>
                        </thead>
                        <tbody>

                            @if (PcList.Count > 0)
                            {
                                foreach (var pc in PcList)
                                {
                                    var state = await Utils.GetPaymentState(pc.Payments.ToList(), db);
                                    <tr>
                                        <td>
                                            <div class="form-check bd-example-indeterminate">
                                                <label class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input select-chks" value="@pc.Id">
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-description"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td class="pc-ref">PC@(pc.Ref.ToString("0000"))</td>
                                        <td class="pc-staff">@(pc.Staff != null ? pc.Staff.FullName : pc.Trainee != null ? pc.Trainee.FullName : pc.Trainer.FullName)</td>
                                        <td>@pc.Payments.First().CurrencyUsed.Alias @((await Utils.CalculatePayableAmount(pc.Payments.ToList())).ToString("#,##0"))</td>
                                        <td>@pc.Ledger.Name</td>
                                        <td>
                                            @if (state != PaymentState.NotPaid)
                                            {<span class="label label-table label-success">@state</span>}
                                        else if (pc.Status == EntityStatus.Active && pc.Disbursement != null)
                                        {<span class="label label-table label-success">Disbursed (Un-Paid)</span>}
                                        else if (pc.Disbursement == null)
                                        {
                                            <span class="label label-table label-warning">Un-Disbursed</span>
                                        }
                                        else if (pc.Status == EntityStatus.Deleted)
                                        {
                                            <span class="label label-table label-danger">DELETED</span>
                                        }
                                        else
                                        {<span class="label label-table label-info">@pc.Status</span>}
                                        </td>
                                        <td class="text-nowrap">
                                            <span  data-toggle="tooltip" data-original-title="Preview Petty Cash">
                                                <a href="javascript:void(0)" data-toggle="modal" data-target="#pc-prev-@pc.Id" class="pc-prev"> <i class="fa fa-eye text-inverse m-r-10"></i> </a>
                                            </span>
                                            @if (state != PaymentState.FullyPaid && pc.Status != EntityStatus.Deleted)
                                            {
                                                <a href="@Url.RouteUrl(FinanceControllerRoute.GetAddPettyCashPVoucher, new { pid = pc.Id })" data-toggle="tooltip" data-id="@pc.Id" data-original-title="Create Payment Voucher"> <i class="fa fa-shopping-bag text-inverse  m-r-10"></i> </a>

                                                @if (pc.Disbursement == null)
                                                {
                                                    <a href="javascript:void(0)" data-toggle="tooltip" data-original-title="Update"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                                    <a href="@Url.RouteUrl(FinanceControllerRoute.GetAddPettycashDisbursement, new { pid = pc.Id })" data-toggle="tooltip" class="suspend-ledger" data-id="@pc.Id" data-original-title="Disburse Petty Cash"> <i class="fa fa-send text-inverse  m-r-10"></i> </a>
                                                    <form asp-controller="Finance" asp-action="DropPettyCash" method="POST" class="form-horizontal" style="display:inline">
                                                        <input value="@pc.Id" type="hidden" name="pid" id="pid" />
                                                        <a href="javascript:void(0)" id="" data-toggle="tooltip" class="pc-del" data-id="@pc.Id" data-original-title="Delete Petty Cash Request"> <i class="fa fa-close m-r-10 text-danger"></i></a>
                                                    </form>
                                                }

                                            }


                                            @*Preview Wrapper*@
                                            <div class="modal fade" id="pc-prev-@pc.Id" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
                                                <div class="modal-dialog modal-lg">
                                                    <div class="modal-content">
                                                        <div class="modal-header modal-title-wrapper">

                                                            <span class="pull-left">
                                                                <i class="fa fa-eye"></i>
                                                            </span>
                                                            <h4 class="modal-title" id="">
                                                                Petty Cash Preview
                                                            </h4>
                                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                        </div>
                                                        <div class="modal-body" style="overflow-y:scroll;max-height:400px;width:100%">
                                                            <div class="printableArea card card-body">
                                                                <h4 style="font-weight:bold;width:100%">
                                                                    Staff Petty Cash Request:
                                                                    <span class="pull-right">
                                                                        @if (state != PaymentState.NotPaid)
                                                                        {<span class="label label-table label-success">@state</span>}
                                                                    else if (pc.Status == EntityStatus.Active && pc.Disbursement != null)
                                                                    {<span class="label label-table label-success">Disbursed (Un-Paid)</span>}
                                                                    else if (pc.Disbursement == null)
                                                                    {
                                                                        <span class="label label-table label-warning">Un-Disbursed</span>
                                                                    }
                                                                    else if (pc.Status == EntityStatus.Deleted)
                                                                    {
                                                                        <span class="label label-table label-danger">DELETED</span>
                                                                    }
                                                                    else
                                                                    {<span class="label label-table label-info">@pc.Status</span>}
                                                                    </span>
                                                                </h4>
                                                                <div class="gray-box" style="">
                                                                    <span style="font-weight:bold">REF. NO. : </span><span>PC@((pc.Ref).ToString("0000"))</span><br />
                                                                    <span style="font-weight:bold">Date Created : </span> @pc.DateCreated.ToString("dd MMM yyyy")<br />
                                                                    <hr />
                                                                    <span style="font-weight:bold">Ledger: </span> @pc.Ledger.Name<br />
                                                                    <span style="font-weight:bold">Project : </span> @(pc.Project?.Name ?? "Not Available")
                                                                    <hr />
                                                                    <span style="font-weight:bold">Description : </span>
                                                                    <p style="white-space: pre-line;"> @(pc.Description ?? "Not Available")</p>
                                                                    <hr />

                                                                    <h5 style="font-weight:bold">Payments:</h5>
                                                                    <div style="">
                                                                        <table style="width:100%">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th>#</th>
                                                                                    <td style="font-weight:bold">Gross Amount</td>
                                                                                    <td style="font-weight:bold">Department</td>
                                                                                    <td style="font-weight:bold">GL Account</td>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                @if (pc.Payments.Count > 0)
                                                                                {
                                                                                    var index = 0;
                                                                                    @foreach (var py in pc.Payments)
                                                                                    {
                                                                                        var payment = db.FWallet.Include(k => k.GLAccount).Include(l => l.Department).Include(l => l.CurrencyUsed).Single(k => k.Id == py.Id);
                                                                                        index++;
                                                                                        <tr>
                                                                                            <td>@index</td>
                                                                                            <td>@payment.CurrencyUsed.Alias @py.GrossAmount.ToString("#,##0")</td>
                                                                                            <td>@payment.Department.Name</td>
                                                                                            <td><code>< @payment.GLAccount.Type ></code> @payment.GLAccount.Name</td>
                                                                                        </tr>

                                                                                    }
                                                                                }
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                                <hr />
                                                                <h4 style="font-weight:bold">Staff:</h4>
                                                                <div class="gray-box">
                                                                    <p class="">
                                                                        <span style="font-weight:bold">NAME : </span> @pc.Staff.FullName<br />
                                                                        <span style="font-weight:bold">EMP. No.: </span> @pc.Staff.EmplNo<br />
                                                                        <hr />
                                                                        <span style="font-weight:bold">Job Title : </span> @pc.Staff.JobCatalogue.Name<br />
                                                                        <span style="font-weight:bold">Location : </span> @(pc.Staff.Location.Name ?? "Not Set")
                                                                    </p>
                                                                </div>
                                                                <hr />
                                                                <p><span style="font-weight:bold">Prepared By: </span> @pc.Personnel.FullName (@pc.Personnel.EmplNo)</p>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button class="btn btn-outline-secondary waves-effect mr-auto print" data-toggle="tooltip" data-id="@pc.Id" data-original-title="Print Petty Cash"> <i class="fa fa-print m-r-10"> Print Petty Cash</i></button>

                                                            <button class="btn btn-info waves-effect approve-pc" data-toggle="tooltip" data-id="@pc.Id" data-original-title="Send For Approval"> <i class="fa fa-send-o"> Send For Approval</i></button>
                                                            <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">Close</button>
                                                        </div>
                                                    </div>
                                                    <!-- /.modal-content -->
                                                </div>
                                                <!-- /.modal-dialog -->
                                            </div>
                                        </td>
                                    </tr>

                                }
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td>
                                    <div class="form-check bd-example-indeterminate">
                                        <label class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input select-all-chks" value="">
                                            <span class="custom-control-indicator"></span>
                                        </label>
                                    </div>
                                </td>
                                <th style="font-weight:bold">Ref. No.</th>
                                <th style="font-weight:bold">Entitled To</th>
                                <th style="font-weight:bold">Amount</th>
                                <th style="font-weight:bold">Ledger</th>
                                <th style="font-weight:bold">Status</th>
                                <th style="font-weight:bold"> Actions </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@* Code in the scripts section below gets added at the bottom of the HTML body element, below other scripts. This
    section can be used to enter custom scripts specific to this page. *@
@section scripts
    {
    <!-- Footable -->
    <script src="~/lib/plugins/footable/js/footable.all.min.js"></script>
    <script src="~/lib/plugins/bootstrap-select/bootstrap-select.min.js" type="text/javascript"></script>
    <!--FooTable init-->
    <script src="~/lib/js/footable-init.js"></script>
    <script>
        jQuery('#add-cur').click(function () {
            window.location = jQuery(this).data('target');
        })
    </script>
    <script type="text/javascript">
        $(function () {
            $(".preloader").fadeOut();
        });
        jQuery('body').on('change', '.select-all-chks', function () {
            if (jQuery(this).is(':checked')) {
                jQuery('#post-sel').show()
            } else {
                jQuery('#post-sel').hide()
            }
        })
        jQuery('body').on('change', '.select-chks', function () {
            var any = false;
            jQuery.each(jQuery('.select-chks'), function (s, obj) {
                if (jQuery(obj).is(':checked')) {
                    any = true
                }
            })
            //
            if (any || jQuery('.select-all-chks').is(':checked'))
                jQuery('#post-sel').show()
            else
                jQuery('#post-sel').hide()
        })
    </script>
    <!-- Editable -->
    <script src="~/lib/plugins/jquery-datatables-editable/jquery.dataTables.js"></script>
    <script src="~/lib/plugins/datatables/dataTables.bootstrap.js"></script>
    <script src="~/lib/plugins/tiny-editable/mindmup-editabletable.js"></script>
    <script src="~/lib/plugins/tiny-editable/numeric-input-example.js"></script>
    <script>
        jQuery(document).ready(function () {
            jQuery('#editable-datatable').DataTable();
        });
    </script>

    <script src="~/lib/js/jquery.PrintArea.js" type="text/JavaScript"></script>
    @*Print *@
    <script>
            jQuery(document).ready(function () {
                jQuery('.pc-del').on('click', function () {
                    var staff = jQuery(this).closest('tr').find('td.pc-staff').text(), ref = jQuery(this).closest('tr').find('td.pc-ref').text();
                    var form = jQuery(this).closest('form');
                    if (confirm('You are about to delete petty cash request "' + ref + '" prepared for "' + staff + '".\n Click OK to continue...')) {
                        var url = form.prop('action'); //
                        jQuery.ajax({
                            type: "POST",
                            url: url,
                            data: jQuery(form).serialize(), // serializes the form's elements.
                            success: function (data) {
                                data.s == 1 ? (alert(data.msg), window.location = '@Url.Action()') : (alert(data.err))
                            },
                            error: function (e) {
                                console && console.log("Delete Failed." + JSON.stringify(e));
                            }
                        });

                        return false;
                    }
                }),
                    jQuery('#post-sel').click(function () {
                        var sel = [];
                        jQuery.each(jQuery('.select-chks'), function (i, obj) {
                            var id = jQuery(obj).val();
                            id && Number(id) > 0 && sel.push(id);
                        }),
                            /**/
                            sel.length > 0 && (pcs = JSON.stringify(sel), window.location = '@Url.RouteUrl(FinanceControllerRoute.GetAddPettyCashPVoucher)' + '?pcs=' + pcs)
                        /**/
                    }),
                jQuery(".print").click(function () {
                    var printableArea = jQuery(this).closest('td').find('div.printableArea');
                    var mode = 'iframe'; //popup
                    var close = mode == "popup";
                    var options = {
                        popTitle: 'Print Imprest Warrant',
                        mode: mode,
                        popClose: close,
                        popHt: 500,   // popup window height
                        popWd: 400,  // popup window width
                        extraCss: "margin:20px;border:solid thick red",
                    };
                    jQuery(printableArea).printArea(options);
                    }), jQuery('.approve-pc').click(function () {

                    });
            });
    </script>
}
