﻿@inject IOptionsSnapshot<AppSettings> AppSettings

@using Microsoft.EntityFrameworkCore;

@inject ApplicationDbContext db
@{
    // title - The title of the page which appears in the browser window title. Aim for the title to be less than 70
    //         characters. The site name appears at the end for better SEO.
    ViewBag.Title = "All Petty-Cash Cashier Offices";
    // Description - Used by search engines. Aim for more than 160 characters.
    ViewBag.Description = ".";

    //
    var CashierList = db.FCashierOffices.Include(j=>j.Attendants).Include(j=>j.Department).Include(j=>j.PaymentAccounts).ToList();

}

@* Code in the head section below gets added at the bottom of the HTML head element. This section can be used to enter
    custom meta tags specific to this page. *@
@section head
    {
    @* Author - (Optional) Used by search engines. The author of the page. *@
    <meta name="author" content="ABNO Softwares Int.">
    @* Add Twitter Card social meta tags so we can customize what happens when our page is shared on Twitter. There are
        several different Twitter Card types we could add, a different one is added on each page as an example.
        These helpers make it very easy to add the meta tags. For best performance, see what tags are generated and
        hand-code them yourself instead of using these helpers. *@
    <twitter-card-summary-large-image username="@@ABNO">
        @* Add Open Graph social meta tags so we can customize what happens when our page is shared on Facebook, Google+,
            Pintrest and other social media websites. There are dozens of Open Graph types, a different one is added on
            each page as an example. These helpers make it very easy to add the meta tags. For best performance, see what
            tags are generated and hand-code them yourself instead of using these helpers. *@
        <open-graph-website site-name="@AppSettings.Value.SiteTitle"
                            title="@ViewBag.Title"
                            main-image="@(new OpenGraphImage(
                            Url.AbsoluteContent("~/img/icons/open-graph-1200x630.png"),
                            ContentType.Png,
                            1200,
                            630))"
                            determiner="Blank">
            @* referrer - Controls what is sent in the HTTP referrer header when a client navigates to an external site. *@
            <meta asp-referrer="OriginWhenCrossOrigin">

            <!-- Footable CSS -->
            <link href="~/lib/plugins/footable/css/footable.core.css" rel="stylesheet">
            <link href="~/lib/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
            <!-- Custom CSS -->
            <link href="~/lib/css/style.css" rel="stylesheet">
            <!-- page css -->
            <link href="~/lib/css/pages/footable-page.css" rel="stylesheet">
            <!-- You can change the theme colors from here -->
            <link href="~/lib/css/colors/default-dark.css" id="theme" rel="stylesheet">

            @if (ViewData["Message"] != null)
            {
                <script>
                 var msg = '@ViewData["Message"]'
                </script>
            }
}
<div class="container-fluid">

    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">@ViewBag.Title</h3>
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Finance</a></li>
                <li class="breadcrumb-item">Petty-Cash Cashier Offices</li>
                <li class="breadcrumb-item">All Offices</li>
            </ol>
        </div>
        <div>
            <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-12">
            <!-- Column -->
            <div class="card">
                <div class="card-body">
                    <div class="pull-right">
                        <button type="button" class="btn btn-info btn-rounded" id="add-office" data-toggle="tooltip" data-original-title="Create A Cashier Officer" data-target="@Url.RouteUrl(FinanceControllerRoute.GetAddPCCashierOffice,new {})">Add New Cashier Office</button>
                        <button type="button" class="btn btn-success btn-rounded" id="add-attendant" data-toggle="tooltip" data-original-title="Create A Cashier Office Attendant" data-target="@Url.RouteUrl(FinanceControllerRoute.GetAddPCCashierOfficeAttendant,new {})">Add Cashier Office Attendant</button>
                    </div>
                    @*<h4 class="card-title">Row Toggler</h4>*@
                    <h6 class="card-subtitle">An overview of Petty-Cash Cashier Offices</h6>
                    <div class="clearfix"></div>
                    <table class="table table-striped table-bordered" id="editable-datatable">
                        <thead>
                            <tr>
                                <th>REF. NO.</th>
                                <th>NAME</th>
                                <th>ATTENDANTS</th>
                                <th>DATE CREATED</th>
                                <th>PAYMENT MODES</th>
                                <th>Status</th>
                                <th> Actions </th>
                            </tr>
                        </thead>
                        <tbody>

                            @if (CashierList.Count > 0)
            {
                foreach (var cashier in CashierList)
                {
                    <tr>

                        <td>FC@(cashier.RefNo.ToString("0000"))</td>
                        <td>@cashier.Name</td>
                        <td><a href="javascript:void(0)">@cashier.Attendants.Count() officer(s)</a></td>
                        <td>@cashier.DateCreated.ToString("dd MMM yyyy")</td>
                        <td><a href="javascript:void(0)">@cashier.PaymentAccounts.Count() accounts(s)</a></td>
                        <td>
                            @if (cashier.Status == EntityStatus.Active)
            {
                <span class="label label-table label-success">Active</span>
}
else
{
                <span class="label label-table label-danger">In-Active</span>
}
                        </td>
                        <td class="text-nowrap">
                            <a href="javascript:void(0)" data-toggle="tooltip" data-original-title="Update"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                            <a href="@Url.RouteUrl(FinanceControllerRoute.GetAddPCCashierOfficeAttendant,new { oid=cashier.Id})" data-toggle="tooltip" data-original-title="Add new Attendant"> <i class="fa fa-plus text-inverse m-r-10"></i> </a>
                            <a href="javascript:void(0)" data-toggle="tooltip" class="suspend-sup" data-id="@cashier.Id" data-original-title="Suspend Office"> <i class="fa fa-close text-danger"></i> </a>
                        </td>
                    </tr>

}
}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>REF. NO.</th>
                                <th>NAME</th>
                                <th>ATTENDANTS</th>
                                <th>DATE CREATED</th>
                                <th>PAYMENT MODES</th>
                                <th>Status</th>
                                <th> Actions </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@* Code in the scripts section below gets added at the bottom of the HTML body element, below other scripts. This
    section can be used to enter custom scripts specific to this page. *@
@section scripts
    {
    <!-- Footable -->
    <script src="~/lib/plugins/footable/js/footable.all.min.js"></script>
    <script src="~/lib/plugins/bootstrap-select/bootstrap-select.min.js" type="text/javascript"></script>
    <!-- Editable -->
    <script src="~/lib/plugins/jquery-datatables-editable/jquery.dataTables.js"></script>
    <script src="~/lib/plugins/datatables/dataTables.bootstrap.js"></script>
    <script src="~/lib/plugins/tiny-editable/mindmup-editabletable.js"></script>
    <script src="~/lib/plugins/tiny-editable/numeric-input-example.js"></script>
    <script>
        jQuery('#mainTable').editableTableWidget().numericInputExample().find('td:first').focus();
        jQuery('#editable-datatable').editableTableWidget().numericInputExample().find('td:first').focus();
        jQuery(document).ready(function () {
            jQuery('#editable-datatable').DataTable();
        });
    </script>
    <script>
        jQuery('#add-office').click(function () {
            window.location = jQuery(this).data('target');
        })
        jQuery('#add-attendant').click(function () {
            window.location = jQuery(this).data('target');
        })
    </script>
    <script type="text/javascript">
        $(function () {
            $(".preloader").fadeOut();
        });

    </script>
}
