﻿@inject IOptionsSnapshot<AppSettings> AppSettings

@using Microsoft.EntityFrameworkCore;

@inject ApplicationDbContext db
@{
    // title - The title of the page which appears in the browser window title. Aim for the title to be less than 70
    //         characters. The site name appears at the end for better SEO.
    ViewBag.Title = "All Regular Payment Vouchers";
    // Description - Used by search engines. Aim for more than 160 characters.
    ViewBag.Description = "";

    //
    var VoucherList = db.FPaymentVouchers.Include(k => k.Supplier).Include(k => k.Payments).ThenInclude(k => k.Invoice)
        .Include(l => l.Payments).ThenInclude(l => l.GLAccount).Include(l => l.Payments).ThenInclude(l => l.Taxes)
        .Include(l => l.Ledger).ThenInclude(l => l.PVoucherPrefixes).Where(l=>l.Type == PVType.Regular).ToList();

    //
    var BaseCurrency = db.FCurrencies.Single(k => k.IsBase);
}


@* Code in the head section below gets added at the bottom of the HTML head element. This section can be used to enter
    custom meta tags specific to this page. *@
@section head
    {
    @* Author - (Optional) Used by search engines. The author of the page. *@
    <meta name="author" content="ABNO Softwares Int.">
    @* Add Twitter Card social meta tags so we can customize what happens when our page is shared on Twitter. There are
        several different Twitter Card types we could add, a different one is added on each page as an example.
        These helpers make it very easy to add the meta tags. For best performance, see what tags are generated and
        hand-code them yourself instead of using these helpers. *@
    <twitter-card-summary-large-image username="@@ABNO">
        @* Add Open Graph social meta tags so we can customize what happens when our page is shared on Facebook, Google+,
            Pintrest and other social media websites. There are dozens of Open Graph types, a different one is added on
            each page as an example. These helpers make it very easy to add the meta tags. For best performance, see what
            tags are generated and hand-code them yourself instead of using these helpers. *@
        <open-graph-website site-name="@AppSettings.Value.SiteTitle"
                            title="@ViewBag.Title"
                            main-image="@(new OpenGraphImage(
                            Url.AbsoluteContent("~/img/icons/open-graph-1200x630.png"),
                            ContentType.Png,
                            1200,
                            630))"
                            determiner="Blank">
            @* referrer - Controls what is sent in the HTTP referrer header when a client navigates to an external site. *@
            <meta asp-referrer="OriginWhenCrossOrigin">

            <!-- Footable CSS -->
            <link href="~/lib/plugins/footable/css/footable.core.css" rel="stylesheet">
            <link href="~/lib/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
            <!-- Custom CSS -->
            <link href="~/lib/css/style.css" rel="stylesheet">
            <!-- page css -->
            <link href="~/lib/css/pages/footable-page.css" rel="stylesheet">
            <!-- You can change the theme colors from here -->
            <link href="~/lib/css/colors/default-dark.css" id="theme" rel="stylesheet">
}
<div class="container-fluid">

    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">@ViewBag.Title</h3>
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Finance</a></li>
                <li class="breadcrumb-item">All Regular Vouchers</li>
            </ol>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-12">
            <!-- Column -->
            <div class="card">
                <div class="card-body">
                    <button type="button" class="btn btn-info btn-rounded pull-right" id="add-pv" data-toggle="tooltip" data-original-title="Create A new Payment Voucher" data-target="@Url.RouteUrl(FinanceControllerRoute.GetAddRegularPVoucher,new {})">Create Regular New Voucher</button>

                    @*<h4 class="card-title">Row Toggler</h4>*@
                    <h6 class="card-subtitle">An overview of Regular Payment Vouchers</h6>
                    <div class="clearfix"></div>
                    <table class="table table-striped table-bordered" id="editable-datatable">
                        <thead>
                            <tr>
                                <th style="font-weight:bold">Voucher No.</th>
                                <th style="font-weight:bold">Net Amount</th>
                                <th style="font-weight:bold">Supplier/Payee</th>
                                <th style="font-weight:bold">Voucher Date</th>
                                <th style="font-weight:bold">Status</th>
                                <th style="font-weight:bold"> Actions </th>
                            </tr>
                        </thead>

                        <tbody>

                            @if (VoucherList.Count > 0)
            {
                foreach (var pv in VoucherList)
                {
                    <tr>
                        <td>@(pv.Ledger.PVoucherPrefixes.OrderByDescending(j => j.DateCreated).First()?.Code ?? " ? ")@pv.VoucherNo</td>
                        @{
            var curId = pv.Payments.First().CurrencyId;
            var cur = db.FCurrencies.Single(l => l.Id == curId);
                        }
                        <td>@cur.Alias @((await Utils.CalculatePayableAmount(pv.Payments.ToList())).ToString("#,##0"))</td>
                        <td>@(pv.Supplier?.Name ?? pv.Payments.First().PayableTo)</td>
                        <td>@pv.VoucherDate.ToString("dd MMM yyyy")</td>
                        <td>
                            @if (pv.Status == PVStatus.Pending)
            {<span class="label label-table label-warning">Pending</span>}
else
{<span class="label label-table label-success">Posted</span>}
                        </td>
                        <td class="text-nowrap">
                            <a href="@Url.RouteUrl(FinanceControllerRoute.GetPreviewPVoucher,new { pid=pv.Id})" data-toggle="tooltip" data-original-title="Preview Voucher"> <i class="fa fa-eye text-inverse m-r-10"></i> </a>
                            @if (pv.Status == PVStatus.Pending)
    {
                        <a href="@Url.RouteUrl(FinanceControllerRoute.GetUpdateRegularPVoucher,new { pid=pv.Id})" data-toggle="tooltip" data-original-title="Update"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                        <a href="@Url.RouteUrl(FinanceControllerRoute.GetPostPaymentVoucher,new { pid=pv.Id})" data-toggle="tooltip" data-original-title="Post this Voucher"> <i class="fa fa-send text-inverse m-r-10"></i> </a>

                        <a href="javascript:void(0)" data-toggle="tooltip" class="suspend-ledger" data-id="@pv.Id" data-original-title="Delete"> <i class="fa fa-close text-danger"></i> </a>

}
                        </td>
                    </tr>

}
}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th style="font-weight:bold">Voucher No.</th>
                                <th style="font-weight:bold">Net Amount</th>
                                <th style="font-weight:bold">Supplier/Payee</th>
                                <th style="font-weight:bold">Voucher Date</th>
                                <th style="font-weight:bold">Status</th>
                                <th style="font-weight:bold"> Actions </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@* Code in the scripts section below gets added at the bottom of the HTML body element, below other scripts. This
    section can be used to enter custom scripts specific to this page. *@
@section scripts
    {
    <!-- Footable -->
    <script src="~/lib/plugins/footable/js/footable.all.min.js"></script>
    <script src="~/lib/plugins/bootstrap-select/bootstrap-select.min.js" type="text/javascript"></script>
    <!--FooTable init-->
    <script src="~/lib/js/footable-init.js"></script>
    <script>
        jQuery('#add-pv').click(function () {
            window.location = jQuery(this).data('target');
        })
    </script>
    <script type="text/javascript">
        $(function () {
            $(".preloader").fadeOut();
        });

    </script>
    <!-- Editable -->
    <script src="~/lib/plugins/jquery-datatables-editable/jquery.dataTables.js"></script>
    <script src="~/lib/plugins/datatables/dataTables.bootstrap.js"></script>
    <script src="~/lib/plugins/tiny-editable/mindmup-editabletable.js"></script>
    <script src="~/lib/plugins/tiny-editable/numeric-input-example.js"></script>
    <script>
        jQuery(document).ready(function () {
            jQuery('#editable-datatable').DataTable();
        });
    </script>
}
