﻿@inject IOptionsSnapshot<AppSettings> AppSettings

@using Microsoft.EntityFrameworkCore;

@inject ApplicationDbContext db
@{
    // title - The title of the page which appears in the browser window title. Aim for the title to be less than 70
    //         characters. The site name appears at the end for better SEO.
    ViewBag.Title = "All Supplier Invoice Waivers";
    // Description - Used by search engines. Aim for more than 160 characters.
    ViewBag.Description = "";

    //
    var DisList = db.FSIWaivers.Include(k => k.Invoice).ThenInclude(l => l.SupplierInvoiceWaivers).ThenInclude(l => l.Payment).ThenInclude(l => l.CurrencyUsed).Include(k => k.Invoice).ThenInclude(k => k.Supplier).ThenInclude(l => l.VendorType)
        .Include(k => k.Invoice).ThenInclude(k => k.Payments).ThenInclude(k => k.CurrencyUsed).Include(k => k.Payment).ThenInclude(l => l.Taxes).Include(k=>k.Personnel).ToList();

}

@* Code in the head section below gets added at the bottom of the HTML head element. This section can be used to enter
    custom meta tags specific to this page. *@
@section head
    {
    @* Author - (Optional) Used by search engines. The author of the page. *@
    <meta name="author" content="ABNO Softwares Int.">
    @* Add Twitter Card social meta tags so we can customize what happens when our page is shared on Twitter. There are
        several different Twitter Card types we could add, a different one is added on each page as an example.
        These helpers make it very easy to add the meta tags. For best performance, see what tags are generated and
        hand-code them yourself instead of using these helpers. *@
    <twitter-card-summary-large-image username="@@ABNO">
        @* Add Open Graph social meta tags so we can customize what happens when our page is shared on Facebook, Google+,
            Pintrest and other social media websites. There are dozens of Open Graph types, a different one is added on
            each page as an example. These helpers make it very easy to add the meta tags. For best performance, see what
            tags are generated and hand-code them yourself instead of using these helpers. *@
        <open-graph-website site-name="@AppSettings.Value.SiteTitle"
                            title="@ViewBag.Title"
                            main-image="@(new OpenGraphImage(
                            Url.AbsoluteContent("~/img/icons/open-graph-1200x630.png"),
                            ContentType.Png,
                            1200,
                            630))"
                            determiner="Blank">
            @* referrer - Controls what is sent in the HTTP referrer header when a client navigates to an external site. *@
            <meta asp-referrer="OriginWhenCrossOrigin">

            <!-- Footable CSS -->
            <link href="~/lib/plugins/footable/css/footable.core.css" rel="stylesheet">
            <link href="~/lib/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
            <!-- Custom CSS -->
            <link href="~/lib/css/style.css" rel="stylesheet">
            <!-- page css -->
            <link href="~/lib/css/pages/footable-page.css" rel="stylesheet">

            <link type="text/css" rel="stylesheet" href="~/lib/css/print.css" />

            @if (ViewData["Message"] != null)
    {
        <script>
                 var msg = '@ViewData["Message"]'
        </script>
}
        }
        <div class="container-fluid">

            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-themecolor">@ViewBag.Title</h3>
                </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Finance</a></li>
                        <li class="breadcrumb-item">
                            Supplier Invoice Waiver
                        </li>
                        <li class="breadcrumb-item">All Waivers</li>
                    </ol>
                </div>
                <div>
                    <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-12">
                    <!-- Column -->
                    <div class="card">
                        <div class="card-body">

                            @*<h4 class="card-title">Row Toggler</h4>*@
                            <h6 class="card-subtitle">An overview of Supplier Invoice Waivers</h6>
                            <button type="button" class="btn btn-info btn-rounded pull-right" id="add-cur" data-toggle="tooltip" data-original-title="Create A new Supplier Invoice Waiver" data-target="@Url.RouteUrl(FinanceControllerRoute.GetAddInvoiceWaiver,new {})">Add New Supplier Invoice Waiver</button>
                            <div class="clearfix"></div>
                            <table class="table table-striped table-bordered" id="editable-datatable">
                                <thead>
                                    <tr>
                                        <th style="font-weight:bold"> Inv. DOC</th>
                                        <th style="font-weight:bold">Supplier</th>
                                        <th style="font-weight:bold">Inv. Amount</th>
                                        <th style="font-weight:bold">Waiver Amount</th>
                                        <th style="font-weight:bold">Date Created</th>
                                        <th style="font-weight:bold">Waiver Amount</th>
                                        <th style="font-weight:bold">Status</th>
                                        <th style="font-weight:bold"> Actions </th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @if (DisList.Count > 0)
                            {
                                foreach (var dis in DisList)
                                {
                                    <tr>
                                        <td class="iw-inv">INV@(dis.Invoice.DocNo.ToString("0000"))</td>
                                        <td class="iw-sup">@dis.Invoice.Supplier.Name</td>

                                        <td class="iw-amt">@dis.Invoice.Payments.First().CurrencyUsed.Alias @dis.Invoice.Amount.ToString("#,##0")</td>
                                        <td>@dis.Payment.CurrencyUsed.Alias @dis.GrossAmount.ToString("#,##0")</td>
                                        <td>@dis.DateCreated.ToString("dd MMM yyyy")</td>
                                        <td>@dis.Payment.CurrencyUsed.Alias @dis.GrossAmount.ToString("#,##0")</td>
                                        <td>
                                            @if (dis.Status == EntityStatus.Active)
                                    {
                                        <span class="label label-table label-success">Applied</span>
                            }
                            else if (dis.Status == EntityStatus.Deleted)
                            {
                                <span class="label label-table label-danger">DELETED</span>
                    }
                    else
                    {
                        <span class="label label-table label-warning">@dis.Status</span>
            }
                                        </td>
                                        <td class="text-nowrap">

                                            <a href="javascript:void(0)" class="suspend-ledger" data-toggle="modal" data-target="#iw-prev-@dis.Id"> <i class="fa fa-eye text-inverse m-r-10"></i> </a>
                                            @if ((await Utils.GetPaymentState(dis.Invoice.Payments.ToList(), db)) != PaymentState.FullyPaid)
                                    {

                                        @if (dis.Status != EntityStatus.Deleted)
                                {
                                    <a href="@Url.RouteUrl(FinanceUtilsControllerRoute.UpdateCurrency, new { cid = dis.Id })" data-toggle="tooltip" data-original-title="Update"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>

                                    <form asp-controller="Finance" asp-action="DropInvoiceWaiver" method="POST" class="form-horizontal" style="display:inline">
                                        <input value="@dis.Id" type="hidden" name="wid" id="wid" />
                                        <a href="javascript:void(0)" id="" data-toggle="tooltip" class="iw-del" data-id="@dis.Id" data-original-title="Suspend Invoice"> <i class="fa fa-close text-danger"></i></a>
                                    </form>

                        }
                            }
                            @*Preview Wrapper*@
                                            <div class="modal fade" id="iw-prev-@dis.Id" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
                                                <div class="modal-dialog modal-lg">
                                                    <div class="modal-content">
                                                        <div class="modal-header modal-title-wrapper">
                                                            <span class="pull-left">
                                                                <i class="fa fa-eye"></i>
                                                            </span>
                                                            <h4 class="modal-title" id="">
                                                                Invoice Waiver for invoice 'VIN@((dis.Invoice.DocNo).ToString("0000"))' ~ Preview
                                                            </h4>
                                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                        </div>
                                                        <div class="modal-body" style="overflow-y:scroll;max-height:400px;width:100%">
                                                            <div class="printableArea card card-body">
                                                                <h4 style="font-weight:bold">Waiver:</h4>
                                                                <div class="gray-box">
                                                                    <h5 style="font-weight:bold">Details:</h5>
                                                                    <div>
                                                                        <p>
                                                                            <span style="font-weight:bold">REF. No. : </span> SIW@(dis.RefNo.ToString("0000"))<br />
                                                                            <span style="font-weight:bold">Amount : </span> @(dis.Payment.CurrencyUsed.Alias + " " + (dis.Payment.GrossAmount.ToString("#,##0")))<br />
                                                                            <span style="font-weight:bold">Waiver Date : </span> @dis.DateCreated.ToString("dd MMM yyyy")<br />
                                                                        </p>
                                                                    </div>
                                                                    <hr />
                                                                    <h5 style="font-weight:bold">Other Waivers:</h5>
                                                                    <div class="">
                                                                        <table style="width:100%">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th>#</th>
                                                                                    <td style="font-weight:bold">Ref. No.</td>
                                                                                    <td style="font-weight:bold">Amount</td>
                                                                                    <td style="font-weight:bold">Date</td>
                                                                                    <td style="font-weight:bold">Status</td>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                @if (dis.Invoice.SupplierInvoiceWaivers.Where(l => l.Id != dis.Id).Count() > 0)
                    {
                        var index = 0;
                                                            @foreach (var waiver in dis.Invoice.SupplierInvoiceWaivers.Where(l => l.Id != dis.Id).ToList())
{
    //var payment = db.FWallet.Include(k => k.GLAccount).Include(l => l.Department).Include(l => l.CurrencyUsed).Single(k => k.Id == waiver.PaymentId);
    if (waiver.Id != dis.Id)
    {
        index++;
                                                            <tr style="color:#fff;@(waiver.Id == dis.Id ? "background:" + (AppSettings.Value.Theme.AccentColor ?? "#ccc") : "")">
                                                                <td>@index</td>
                                                                <td>SIW@(waiver.RefNo.ToString("0000"))</td>
                                                                <td>@waiver.Payment.CurrencyUsed.Alias @waiver.Payment.GrossAmount.ToString("#,##0")</td>
                                                                <td>@waiver.DateCreated.ToString("dd MMM yyyy")</td>
                                                                <td><span class="label label-table label-default">@waiver.Status</span></td>
                                                            </tr>

}

}
}
else
{
                                                            <tr><td colspan="5" style="text-align:center">No Other Waivers...</td></tr>
}
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                    <br />
                                                                    <h4 style="font-weight:bold">Description:</h4>
                                                                    <p class="gray-box" style="text-align:center">Not Available</p>
                                                                </div>
                                                                <br />
                                                                <h4 style="font-weight:bold">The Invoice:</h4>
                                                                <div class="gray-box">
                                                                    <p class="">
                                                                        <span style="font-weight:bold">Invoice Date : </span> @dis.Invoice.InvoiceDate.ToString("dd MMM yyyy")<br />
                                                                        <span style="font-weight:bold">Invoice Amount : </span> @(dis.Invoice.Payments.First().CurrencyUsed.Alias + " " + ((await Utils.CalculatePayableAmount(dis.Invoice.Payments.ToList())).ToString("#,##0")))<br />
                                                                        <span style="font-weight:bold">Due By : </span> @dis.Invoice.InvoiceDate.ToString("dd MMM yyyy")<br />

                                                                    </p>
                                                                    <hr />
                                                                    <div class="">
                                                                        <span style="font-weight:bold">Supplier : </span> @dis.Invoice.Supplier.Name<br />
                                                                        <span style="font-weight:bold">Type : </span> @dis.Invoice.Supplier.VendorType.Name<br />
                                                                        <address class="">@(dis.Invoice.Supplier.Address ?? "ADDRESS : < Not Available >")</address>
                                                                    </div>
                                                                    <hr />
                                                                    <h4 style="font-weight:bold">Invoice Payments:</h4>
                                                                    <div style="">
                                                                        <table style="width:100%">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th>#</th>
                                                                                    <td style="font-weight:bold">Gross Amount</td>
                                                                                    <td style="font-weight:bold">Discount</td>
                                                                                    <td style="font-weight:bold">Department</td>
                                                                                    <td style="font-weight:bold">GL Account</td>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                @if (dis.Invoice.Payments.Count > 0)
                    {
                        var index = 0;
                                                            @foreach (var py in dis.Invoice.Payments)
{
    var payment = db.FWallet.Include(k => k.GLAccount).Include(l => l.Department).Include(l => l.CurrencyUsed).Single(k => k.Id == py.Id);
    index++;
                                                            <tr>
                                                                <td>@index</td>
                                                                <td>@payment.CurrencyUsed.Alias @py.GrossAmount.ToString("#,##0")</td>
                                                                <td>@payment.CurrencyUsed.Alias @py.Discount.ToString("#,##0")</td>
                                                                <td>@payment.Department.Name</td>
                                                                <td><span class="label label-table label-success">@payment.GLAccount.Type</span> @payment.GLAccount.Name</td>
                                                            </tr>

}
}
else
{
                                                            <tr><td colspan="5" style="text-align:center">No Payments Found..</td></tr>
}
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                                <hr />
                                                                <span style="font-weight:bold">Processed By: </span> @dis.Personnel.FullName
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-outline-info waves-effect text-left pull-left print"><i class="fa fa-print">Print Waiver</i></button>
                                                            <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">Close</button>
                                                        </div>
                                                    </div>
                                                    <!-- /.modal-content -->
                                                </div>
                                                <!-- /.modal-dialog -->
                                            </div>

                                        </td>
                                    </tr>

                        }
                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th style="font-weight:bold"> Inv. DOC</th>
                                        <th style="font-weight:bold">Supplier</th>
                                        <th style="font-weight:bold">Inv. Amount</th>
                                        <th style="font-weight:bold">Waiver Amount</th>
                                        <th style="font-weight:bold">Date Created</th>
                                        <th style="font-weight:bold">Waiver Amount</th>
                                        <th style="font-weight:bold">Status</th>
                                        <th style="font-weight:bold"> Actions </th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @* Code in the scripts section below gets added at the bottom of the HTML body element, below other scripts. This
    section can be used to enter custom scripts specific to this page. *@
        @section scripts
        {
        <!-- Footable -->
        <script src="~/lib/plugins/footable/js/footable.all.min.js"></script>
        <script src="~/lib/plugins/bootstrap-select/bootstrap-select.min.js" type="text/javascript"></script>
        <!--FooTable init-->
        <script src="~/lib/js/footable-init.js"></script>
        <script>
            jQuery('#add-cur').click(function () {
                window.location = jQuery(this).data('target');
            })
        </script>
        <script type="text/javascript">
            $(function () {
                $(".preloader").fadeOut();
            });

        </script>
        <!-- Editable -->
        <script src="~/lib/plugins/jquery-datatables-editable/jquery.dataTables.js"></script>
        <script src="~/lib/plugins/datatables/dataTables.bootstrap.js"></script>
        <script src="~/lib/plugins/tiny-editable/mindmup-editabletable.js"></script>
        <script src="~/lib/plugins/tiny-editable/numeric-input-example.js"></script>
        <script>
            jQuery(document).ready(function () {
                jQuery('#editable-datatable').DataTable();
            });
        </script>
        <script>
                jQuery('.iw-del').click(function () {
                    var sup = jQuery(this).closest('tr').find('td.iw-sup').text(), inv = jQuery(this).closest('tr').find('td.iw-inv').text();
                    var form = jQuery(this).closest('form');
                    if (confirm('You are about to delete invoice waiver for invoice "' + inv + '" by "' + sup + '".\n\n Click OK to continue...')) {
                        var url = form.prop('action'); //
                        jQuery.ajax({
                            type: "POST",
                            url: url,
                            data: jQuery(form).serialize(), // serializes the form's elements.
                            success: function (data) {
                                data.s == 1 ? (alert(data.msg), window.location = '@Url.Action()') : (alert(data.err))
                            },
                            error: function (e) {
                                console && console.log("Delete Failed." + JSON.stringify(e));
                            }
                        });

                        return false;
                    }
                })
        </script>
        @*Print *@
        <script src="~/lib/js/jquery.PrintArea.js" type="text/JavaScript"></script>
        <script>
            jQuery(document).ready(function () {
                jQuery(".print").click(function () {
                    var printableArea = jQuery(this).closest('td').find('div.printableArea');
                    var mode = 'iframe'; //popup
                    var close = mode == "popup";
                    var options = {
                        popTitle: 'Print Invoice Waiver',
                        mode: mode,
                        popClose: close,
                        popHt: 500,   // popup window height
                        popWd: 400,  // popup window width
                        extraCss: "margin:20px;border:solid thick red",
                    };
                    jQuery(printableArea).printArea(options);
                });
            });
        </script>
        }
