﻿@inject IOptionsSnapshot<AppSettings> AppSettings

@using Microsoft.EntityFrameworkCore;

@inject ApplicationDbContext db
@{
    // title - The title of the page which appears in the browser window title. Aim for the title to be less than 70
    //         characters. The site name appears at the end for better SEO.
    ViewBag.Title = "All Suppliers";
    // Description - Used by search engines. Aim for more than 160 characters.
    ViewBag.Description = ".";

    //
    var SupplierList = db.FSuppliers.Include(j => j.VendorType).ToList();

}

@* Code in the head section below gets added at the bottom of the HTML head element. This section can be used to enter
    custom meta tags specific to this page. *@
@section head
    {
    @* Author - (Optional) Used by search engines. The author of the page. *@
    <meta name="author" content="ABNO Softwares Int.">
    @* Add Twitter Card social meta tags so we can customize what happens when our page is shared on Twitter. There are
        several different Twitter Card types we could add, a different one is added on each page as an example.
        These helpers make it very easy to add the meta tags. For best performance, see what tags are generated and
        hand-code them yourself instead of using these helpers. *@
    <twitter-card-summary-large-image username="@@ABNO">
        @* Add Open Graph social meta tags so we can customize what happens when our page is shared on Facebook, Google+,
            Pintrest and other social media websites. There are dozens of Open Graph types, a different one is added on
            each page as an example. These helpers make it very easy to add the meta tags. For best performance, see what
            tags are generated and hand-code them yourself instead of using these helpers. *@
        <open-graph-website site-name="@AppSettings.Value.SiteTitle"
                            title="@ViewBag.Title"
                            main-image="@(new OpenGraphImage(
                            Url.AbsoluteContent("~/img/icons/open-graph-1200x630.png"),
                            ContentType.Png,
                            1200,
                            630))"
                            determiner="Blank">
            @* referrer - Controls what is sent in the HTTP referrer header when a client navigates to an external site. *@
            <meta asp-referrer="OriginWhenCrossOrigin">

            <!-- Footable CSS -->
            <link href="~/lib/plugins/footable/css/footable.core.css" rel="stylesheet">
            <link href="~/lib/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
            <!-- Custom CSS -->
            <link href="~/lib/css/style.css" rel="stylesheet">
            <!-- page css -->
            <link href="~/lib/css/pages/footable-page.css" rel="stylesheet">
            <!-- You can change the theme colors from here -->
            <link href="~/lib/css/colors/default-dark.css" id="theme" rel="stylesheet">

            @if (ViewData["Message"] != null)
            {
                <script>
                 var msg = '@ViewData["Message"]'
                </script>
            }
}
<div class="container-fluid">

    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">@ViewBag.Title</h3>
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Finance</a></li>
                <li class="breadcrumb-item">Suppliers</li>
                <li class="breadcrumb-item">All Suppliers</li>
            </ol>
        </div>
        <div>

            <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-12">
            <!-- Column -->
            <div class="card">
                <div class="card-body">
                   <button type="button" class="btn btn-info btn-rounded pull-right" id="add-sup" data-toggle="tooltip" data-original-title="Create A Supplier" data-target="@Url.RouteUrl(FinanceControllerRoute.GetAddSupplier,new {})">Add New Supplier</button>
                    <div class="clearfix"></div>
                    @*<h4 class="card-title">Row Toggler</h4>*@
                    <h6 class="card-subtitle">An overview of NITA suppliers</h6>
                    <table class="table table-striped table-bordered" id="editable-datatable">
                        <thead>
                            <tr>
                                <th style="font-weight:bold">REFERENCE</th>
                                <th style="font-weight:bold"> NAME</th>
                                <th style="font-weight:bold">TYPE</th>
                                <th style="font-weight:bold">DISCOUNT</th>
                                <th style="font-weight:bold">Status</th>
                                <th style="font-weight:bold"> Actions </th>
                            </tr>
                        </thead>
                        <tbody>

                            @if (SupplierList.Count > 0)
                            {
                                foreach (var sup in SupplierList)
                                {
                                    <tr>

                                        <td>SUP@(sup.RefNo.ToString("0000"))</td>
                                        <td>@sup.Name</td>
                                        <td>@sup.VendorType.Name</td>
                                        <td>@sup.Discount %</td>
                                        <td>
                                            @if (sup.IsActive)
                                            {
                                                <span class="label label-table label-success">Active</span>
                                            }
                                            else
                                            {
                                                <span class="label label-table label-danger">In-Active</span>
                                            }
                                        </td>
                                        <td class="text-nowrap">
                                            <span data-toggle="tooltip"  data-original-title="Preview Supplier">
                                                <a href="javascript:void(0)" data-toggle="modal" data-target="#sup-prev-@sup.Id" data-whatever="@@getbootstrap"> <i class="fa fa-eye text-inverse m-r-10"></i> </a>
                                            </span>
                                            <a href="@Url.RouteUrl(FinanceControllerRoute.UpdateSupplier,new { sid=sup.Id})" data-toggle="tooltip" data-original-title="Update"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                            <a href="@Url.RouteUrl(FinanceControllerRoute.GetAddTaxPVoucher,new { sid=sup.Id})" data-toggle="tooltip" data-original-title="Add Tax Voucher"> <i class="fa fa-shopping-bag text-inverse m-r-10"></i> </a>
                                            <form asp-controller="Finance" asp-action="DropSupplier" method="POST" class="form-horizontal" style="display:inline">
                                                <input value="@sup.Id" type="hidden" name="sid" id="sid" />
                                                <a href="javascript:void(0)" id="" data-toggle="tooltip" class="sup-del" data-id="@sup.Id" data-original-title="Delete Supplier"> <i class="fa fa-close m-r-10 text-danger"></i></a>
                                            </form>

                                            @*Preview *@

                                            <div class="modal fade bs-example-modal-lg" id="sup-prev-@sup.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header modal-title-wrapper">
                                                            <h4 class="modal-title" id="exampleModalLabel1">
                                                                Supplier 'SUP@(sup.RefNo)' ~ Preview
                                                            </h4>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                        </div>
                                                        <div class="modal-body" style="overflow-y:scroll;max-height:400px;width:100%">
                                                            <div class="gray-box">
                                                                <p class="">
                                                                    <span style="font-weight:bold">NAME : </span> @sup.Name<br />
                                                                    <span style="font-weight:bold">TYPE : </span> @sup.VendorType.Name<br />
                                                                    <hr />
                                                                    <span style="font-weight:bold">Bank Code : </span> @sup.BankCode<br />
                                                                    <span style="font-weight:bold">Bank Account : </span> @(sup.BankAccount ?? "Not Set")
                                                                </p>
                                                                <hr />
                                                                <p>
                                                                    <span style="font-weight:bold">EMAIL :</span>
                                                                    <a href="mailto:@(sup.Email)">@(sup.Email ?? "< Not Available >")</a><br />
                                                                    <span style="font-weight:bold">CELL :</span>
                                                                    <a href="tel:@(sup.CellNo)">@(sup.CellNo ?? "< Not Available >")</a><br />
                                                                    <span style="font-weight:bold">TEL :</span>
                                                                    <a href="tel:@(sup.TelNo)-@(sup.Ext)">@(sup.TelNo)-@(sup.Ext)</a><br />
                                                                    <span style="font-weight:bold">FAX :</span>
                                                                    <a href="fax:@(sup.FaxNo)">@(sup.FaxNo)</a><br />
                                                                    <span style="font-weight:bold">ADDRESS :</span>
                                                                    <address class="gray-box">@(sup.Address ?? "< Not Available >")</address>
                                                                </p>
                                                                <hr />
                                                                <p>
                                                                    <span style="font-weight:bold">KRA PIN :</span>@(sup.KRAPIN ?? "< Not Available >")<br />
                                                                    <span style="font-weight:bold">VAT NO. :</span>@(sup.VATNo ?? "< Not Available >")<br />
                                                                    <span style="font-weight:bold">EXEMPT FROM TAX :</span>@(sup.ExemptFromTax ? "YES" : "NO") <br />
                                                                    <span style="font-weight:bold">HOLD PAYMENTS :</span>@(sup.HoldPayments ? "YES" : "NO")<br />
                                                                    <span style="font-weight:bold">DISCOUNTS :</span>@sup.Discount % <br />
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                }
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th style="font-weight:bold">REFERENCE</th>
                                <th style="font-weight:bold"> NAME</th>
                                <th style="font-weight:bold">TYPE</th>
                                <th style="font-weight:bold">DISCOUNT</th>
                                <th style="font-weight:bold">Status</th>
                                <th style="font-weight:bold"> Actions </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


@* Code in the scripts section below gets added at the bottom of the HTML body element, below other scripts. This
    section can be used to enter custom scripts specific to this page. *@
@section scripts
    {
    <!-- Footable -->
    <script src="~/lib/plugins/footable/js/footable.all.min.js"></script>
    <script src="~/lib/plugins/bootstrap-select/bootstrap-select.min.js" type="text/javascript"></script>
    <!-- Editable -->
    <script src="~/lib/plugins/jquery-datatables-editable/jquery.dataTables.js"></script>
    <script src="~/lib/plugins/datatables/dataTables.bootstrap.js"></script>
    <script src="~/lib/plugins/tiny-editable/mindmup-editabletable.js"></script>
    <script src="~/lib/plugins/tiny-editable/numeric-input-example.js"></script>
    <script>
        jQuery('#mainTable').editableTableWidget().numericInputExample().find('td:first').focus();
        jQuery('#editable-datatable').editableTableWidget().numericInputExample().find('td:first').focus();
        jQuery(document).ready(function () {
            jQuery('#editable-datatable').DataTable();
        });
    </script>
    <script>
        jQuery('#add-sup').click(function () {
            window.location = jQuery(this).data('target');
        })

    </script>
    <script type="text/javascript">
        $(function () {
            $(".preloader").fadeOut();
        });

    </script>
}
