﻿@inject IOptionsSnapshot<AppSettings> AppSettings
@{
    // title - The title of the page which appears in the browser window title. Aim for the title to be less than 70
    //         characters. The site name appears at the end for better SEO.
    ViewBag.Title = "Basic Finance Reports";
    // Description - Used by search engines. Aim for more than 160 characters.
    ViewBag.Description = "";

    var ComparatorList = new List<SelectListItem>();

    ComparatorList.Add(new SelectListItem() { Text = "All", Value = "" + Comparator.ALL, Selected = true });
    ComparatorList.Add(new SelectListItem() { Text = "Equal To :", Value = "" + Comparator.EQUALTO });
    ComparatorList.Add(new SelectListItem() { Text = "Less Than :", Value = "" + Comparator.LESSTHAN });
    ComparatorList.Add(new SelectListItem() { Text = "Geater Than :", Value = "" + Comparator.GREATERTHAN });
    ComparatorList.Add(new SelectListItem() { Text = "Between :", Value = "" + Comparator.BETWEEN });

    //Students
    var StudentsList = new List<SelectListItem>();
    //Class Code
    var ClassCodeList = new List<SelectListItem>();
    //Domicile
    var DomicileList = new List<SelectListItem>();
    //StudyMode
    var StudyModeList = new List<SelectListItem>();
    //StudyType
    var StudyTypeList = new List<SelectListItem>();
    //
    var AIDList = new List<SelectListItem>();
    //
    var ProgrammeList = new List<SelectListItem>();
    //
    var SchoolList = new List<SelectListItem>();
    //
    var SponsorList = new List<SelectListItem>();
    //
    var SessionList = new List<SelectListItem>();
    //
    var StaffList = new List<SelectListItem>();
    //
    var EmpTypeList = new List<SelectListItem>();
    //
    var JobsList = new List<SelectListItem>();
    //
    var LocationList = new List<SelectListItem>();
    //
    var CustomerList = new List<SelectListItem>();
    //
    var CustomerTypeList = new List<SelectListItem>();
    //
    var PayeeList = new List<SelectListItem>();
    //
    var SupplierList = new List<SelectListItem>();

    //
    var CampusList = new List<SelectListItem>();
    //
    var YearsList = new List<SelectListItem>();
    //
    var LedgerList = new List<SelectListItem>();
    //
    var DeptList = new List<SelectListItem>();
    //
    var AccountList = new List<SelectListItem>();
    //
    var ProjectList = new List<SelectListItem>();
    //
    var PayModeList = new List<SelectListItem>();
    //
    var CurrencyList = new List<SelectListItem>();
    //
    var CPersonnelList = new List<SelectListItem>();
    //
    var APersonnelList = new List<SelectListItem>();
}
@model ReportsViewModel
@* Code in the head section below gets added at the bottom of the HTML head element. This section can be used to enter
    custom meta tags specific to this page. *@
@section head
    {
    @* Author - (Optional) Used by search engines. The author of the page. *@
    <meta name="author" content="ABNO Softwares Int.">
    @* Add Twitter Card social meta tags so we can customize what happens when our page is shared on Twitter. There are
        several different Twitter Card types we could add, a different one is added on each page as an example.
        These helpers make it very easy to add the meta tags. For best performance, see what tags are generated and
        hand-code them yourself instead of using these helpers. *@
    <twitter-card-summary-large-image username="@@ABNO">
        @* Add Open Graph social meta tags so we can customize what happens when our page is shared on Facebook, Google+,
            Pintrest and other social media websites. There are dozens of Open Graph types, a different one is added on
            each page as an example. These helpers make it very easy to add the meta tags. For best performance, see what
            tags are generated and hand-code them yourself instead of using these helpers. *@
        <open-graph-website site-name="@AppSettings.Value.SiteTitle"
                            title="@ViewBag.Title"
                            main-image="@(new OpenGraphImage(
                            Url.AbsoluteContent("~/img/icons/open-graph-1200x630.png"),
                            ContentType.Png,
                            1200,
                            630))"
                            determiner="Blank">
            @* referrer - Controls what is sent in the HTTP referrer header when a client navigates to an external site. *@
            <meta asp-referrer="OriginWhenCrossOrigin">
            <!-- page CSS -->
            <link href="~/lib/plugins/wizard/steps.css" rel="stylesheet">
            <link href="~/lib/plugins/icheck/skins/all.css" rel="stylesheet">
            <!--alerts CSS -->
            <link href="~/lib/plugins/sweetalert/sweetalert.css" rel="stylesheet" type="text/css">
            <link href="~/lib/css/pages/form-icheck.css" rel="stylesheet">


            <link href="~/lib/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
            <link href="~/lib/plugins/select2/dist/css/select2.min.css" rel="stylesheet" type="text/css" />
            <link href="~/lib/plugins/switchery/dist/switchery.min.css" rel="stylesheet" />
            <link href="~/lib/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
            <link href="~/lib/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.css" rel="stylesheet" />
            <link href="~/lib/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
            <link href="~/lib/plugins/multiselect/css/multi-select.css" rel="stylesheet" type="text/css" />
}

<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Basic Reports</h3>
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Finance</a></li>
                <li class="breadcrumb-item">Reports</li>
                <li class="breadcrumb-item active">Basic Reports</li>
            </ol>
        </div>
    </div>
    <!-- Validation wizard -->
    <div class="row" id="validation">
        <div class="col-12">
            <div class="card wizard-content">
                <div class="card-body">
                    <h4 class="card-title">Basic Report Generation wizard</h4>
                    <h6 class="card-subtitle">A configuration wizard to help you prepare your report.</h6>
                    <form asp-action="@Url.RouteUrl(FinanceControllerRoute.GetBasicReports)" class="validation-wizard wizard-circle" method="post">
                        <!-- Step 1 -->
                        <h6>Report Type</h6>
                        <section>
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Select the report you wish to prepare</h4>
                                    <h6 class="card-subtitle"></h6>

                                    <div class="skin skin-square">
                                        <div class="input-group">
                                            @*General*@
                                            <div class="gray-box col-sm-4">
                                                <div class="gray-box-caption">
                                                    <label style="">GENERAL REPORTS</label>
                                                </div>
                                                <ul class="icheck-list" id="general">
                                                    <li>
                                                        <input type="radio" class="check" id="square-radio-1" asp-for="FinanceReport" value="@FinanceReports.DailyCashReturn" data-radio="iradio_square-red">
                                                        <label for="square-radio-1">Daily Cash Return</label>
                                                    </li>
                                                    <li>
                                                        <input type="radio" class="check" id="square-radio-2" asp-for="FinanceReport" value="@FinanceReports.SummarizedIncome" data-radio="iradio_square-red">
                                                        <label for="square-radio-2">Summarized Income</label>
                                                    </li>
                                                </ul>
                                            </div>
                                            @*Student*@
                                            <div class="gray-box col-sm-4">
                                                <div class="gray-box-caption">
                                                    <label style="">STUDENT REPORTS</label>
                                                </div>
                                                <ul class="icheck-list" id="student">

                                                    <li>
                                                        <input type="radio" class="check" id="square-radio-3" asp-for="FinanceReport" value="@FinanceReports.FeesColection" data-radio="iradio_square-red">
                                                        <label for="square-radio-3">Fee Collection</label>
                                                    </li>
                                                    <li>
                                                        <input type="radio" class="check" id="square-radio-4" asp-for="FinanceReport" value="@FinanceReports.SponsorshipAllocation" data-radio="iradio_square-red">
                                                        <label for="square-radio-4">Sponsor Allocations</label>
                                                    </li>
                                                    <li>
                                                        <input type="radio" class="check" id="square-radio-5" asp-for="FinanceReport" value="@FinanceReports.SummarizedSponsorshipAllocations" data-radio="iradio_square-red">
                                                        <label for="square-radio-5">Summarized Sponsorship Allocation</label>
                                                    </li>
                                                    <li>
                                                        <input type="radio" class="check" id="square-radio-6" asp-for="FinanceReport" value="@FinanceReports.FeesInvoicedPerSession" data-radio="iradio_square-red">
                                                        <label for="square-radio-6">Fees Invoiced per Session</label>
                                                    </li>
                                                </ul>
                                            </div>
                                            @*Imprest*@
                                            <div class="gray-box col-sm-4">
                                                <div class="gray-box-caption">
                                                    <label style="">IMPREST WARRANTS REPORTS</label>
                                                </div>
                                                <ul class="icheck-list" id="imprest">

                                                    <li>
                                                        <input type="radio" class="check" id="square-radio-7" asp-for="FinanceReport" value="@FinanceReports.ImprestSurrender" data-radio="iradio_square-red">
                                                        <label for="square-radio-7">Imprest Surrender</label>
                                                    </li>
                                                    <li>
                                                        <input type="radio" class="check" id="square-radio-8" asp-for="FinanceReport" value="@FinanceReports.UnSurrenseredImprest" data-radio="iradio_square-red">
                                                        <label for="square-radio-8">Un-Surrendered Imprest</label>
                                                    </li>
                                                    <li>
                                                        <input type="radio" class="check" id="square-radio-9" asp-for="FinanceReport" value="@FinanceReports.PendingImprest" data-radio="iradio_square-red">
                                                        <label for="square-radio-9">Pending Imprest</label>
                                                    </li>
                                                    <li>
                                                        <input type="radio" class="check" id="square-radio-10" asp-for="FinanceReport" value="@FinanceReports.UnderspentImprest" data-radio="iradio_square-red">
                                                        <label for="square-radio-10">Underspent Imprest</label>
                                                    </li>

                                                    <li>
                                                        <input type="radio" class="check" id="square-radio-11" asp-for="FinanceReport" value="@FinanceReports.ImprestBalance" data-radio="iradio_square-red">
                                                        <label for="square-radio-11">Imprest Balance &amp; Statements</label>
                                                    </li>
                                                </ul>
                                            </div>

                                        </div>
                                        @*Row 1*@
                                        <div class="input-group">
                                            @*Petty Cash*@
                                            <div class="gray-box col-sm-4">
                                                <div class="gray-box-caption">
                                                    <label style="">PETTY-CASH REPORTS</label>
                                                </div>
                                                <ul class="icheck-list" id="pc">

                                                    <li>
                                                        <input type="radio" class="check" id="square-radio-12" asp-for="FinanceReport" value="@FinanceReports.PettyCash" data-radio="iradio_square-red">
                                                        <label for="square-radio-12">Petty Cash</label>
                                                    </li>
                                                    <li>
                                                        <input type="radio" class="check" id="square-radio-13" asp-for="FinanceReport" value="@FinanceReports.PendingPettyCash" data-radio="iradio_square-red">
                                                        <label for="square-radio-13">Pending Petty-Cash</label>
                                                    </li>

                                                </ul>
                                            </div>
                                            @*Payments*@
                                            <div class="gray-box col-sm-4">
                                                <div class="gray-box-caption" id="payments">
                                                    <label style="">PAYMENTS REPORTS</label>
                                                </div>
                                                <ul class="icheck-list">
                                                    <li>
                                                        <input type="radio" class="check" id="square-radio-14" asp-for="FinanceReport" value="@FinanceReports.DetailedPayments" data-radio="iradio_square-red">
                                                        <label for="square-radio-14">Detailed Payments</label>
                                                    </li>
                                                    <li>
                                                        <input type="radio" class="check" id="square-radio-15" asp-for="FinanceReport" value="@FinanceReports.SummarizedPayments" data-radio="iradio_square-red">
                                                        <label for="square-radio-15">Summarized Payments</label>
                                                    </li>
                                                </ul>
                                            </div>
                                            @*Vouchers*@
                                            <div class="gray-box col-sm-4">
                                                <div class="gray-box-caption">
                                                    <label style="">VOUCHER REPORTS</label>
                                                </div>
                                                <ul class="icheck-list" id="vouchers">
                                                    <li>
                                                        <input type="radio" class="check" id="square-radio-16" asp-for="FinanceReport" value="@FinanceReports.PaymentVouchers" data-radio="iradio_square-red">
                                                        <label for="square-radio-16">Payment Vouchers</label>
                                                    </li>
                                                    <li>
                                                        <input type="radio" class="check" id="square-radio-17" asp-for="FinanceReport" value="@FinanceReports.UnpostedPaymentVouchers" data-radio="iradio_square-red">
                                                        <label for="square-radio-17">Unposted Payment Vouchers</label>
                                                    </li>
                                                    <li>
                                                        <input type="radio" class="check" id="square-radio-18" asp-for="FinanceReport" value="@FinanceReports.CashPaymentVouchers" data-radio="iradio_square-red">
                                                        <label for="square-radio-18">Cash Payment Vouchers</label>
                                                    </li>
                                                </ul>
                                            </div>

                                        </div>
                                        @*Row 2*@
                                        <div class="input-group">
                                            @*Cashier*@
                                            <div class="gray-box col-sm-4">
                                                <div class="gray-box-caption">
                                                    <label style="">CASHIER REPORTS</label>
                                                </div>
                                                <ul class="icheck-list" id="cashier">
                                                    <li>
                                                        <input type="radio" class="check" id="square-radio-19" asp-for="FinanceReport" value="@FinanceReports.CashierBalance" data-radio="iradio_square-red">
                                                        <label for="square-radio-19">Cashier Balance</label>
                                                    </li>
                                                    <li>
                                                        <input type="radio" class="check" id="square-radio-20" asp-for="FinanceReport" value="@FinanceReports.UnbankedCash" cdata-radio="iradio_square-red">
                                                        <label for="square-radio-20">Unbanked Cash</label>
                                                    </li>
                                                </ul>
                                            </div>
                                            @*Customer*@
                                            <div class="gray-box col-sm-4">
                                                <div class="gray-box-caption">
                                                    <label style="">CUSTOMER REPORTS</label>
                                                </div>
                                                <ul class="icheck-list" id="customers">
                                                    <li>
                                                        <input type="radio" class="check" id="square-radio-21" asp-for="FinanceReport" value="@FinanceReports.CustomerInvoices" data-radio="iradio_square-red">
                                                        <label for="square-radio-21">Customer Invoices</label>
                                                    </li>
                                                    <li>
                                                        <input type="radio" class="check" id="square-radio-22" asp-for="FinanceReport" value="@FinanceReports.CustomerBalances" data-radio="iradio_square-red">
                                                        <label for="square-radio-22">Customer Balances &amp; Statements</label>
                                                    </li>
                                                </ul>
                                            </div>
                                            @*Supplier*@
                                            <div class="gray-box col-sm-4">
                                                <div class="gray-box-caption">
                                                    <label style="">SUPPLIER REPORTS</label>
                                                </div>
                                                <ul class="icheck-list" id="suppliers">
                                                    <li>
                                                        <input type="radio" class="check" id="square-radio-23" asp-for="FinanceReport" value="@FinanceReports.SupplierStatement" data-radio="iradio_square-red">
                                                        <label for="square-radio-23">Supplier Statements</label>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- Step 2 -->
                        <h6>Report Details</h6>
                        <section>
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Specify applicable reporting parameters;</h4>
                                    <h6 class="card-subtitle"></h6>
                                    <div>
                                        <br />

                                        <label style="font-weight:bold">Period :</label>
                                        <div class="gray-box">
                                            <div class="row">
                                                <div class="form-group col-sm-12">
                                                    <div class="input-group">
                                                        <div class="input-group">
                                                            <div class="input-group-addon"><i class="ti-settings"></i></div>
                                                            @Html.DropDownListFor(l => l.Comparator, ComparatorList, "-- Comparator --", new { @class = "custom-select form-control" })
                                                            <div class="input-group-addon"><i class="ti">Starting On :</i></div>
                                                            <input type="date" class="form-control" asp-for="Begin" value="@DateTime.Now.ToString("yyyy-MM-dd")" placeholder="Starting On :" title="Starting On :">
                                                            <div class="input-group-addon"><i class="ti">AND</i></div>
                                                            <input type="date" class="form-control" asp-for="End" value="@DateTime.Now.ToString("yyyy-MM-dd")" placeholder="Ending On :" title="Ending On :">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div>
                                        <div id="stud-info" style="display:none">
                                            <label style="font-weight:bold">Student Filters:</label>
                                            <div class="row gray-box">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label for="wLocation1">Student No. :</label>
                                                        @Html.DropDownListFor(l => l.RegNo, StudentsList, "-- Select Student --", new { @class = "custom-select form-control", @style = "width:100%" })
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="wLocation1">Class Code :</label>
                                                        @Html.DropDownListFor(l => l.ClassCode, ClassCodeList, "-- Class Code --", new { @class = "custom-select form-control", @style = "width:100%" })
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="wLocation1">Student Stay :</label>
                                                        @Html.DropDownListFor(l => l.StudentDomnicile, DomicileList, "-- Student Stay --", new { @class = "custom-select form-control", @style = "width:100%" })
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="wLocation1">Study Mode :</label>
                                                        @Html.DropDownListFor(l => l.StudyMode, StudyModeList, "-- Study Mode --", new { @class = "custom-select form-control", @style = "width:100%" })
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="wLocation1">Student Type :</label>
                                                        @Html.DropDownListFor(l => l.StudyType, StudyTypeList, "-- Student Type --", new { @class = "custom-select form-control", @style = "width:100%" })
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">

                                                    <div class="form-group">
                                                        <label for="wLocation1">Programme :</label>
                                                        @Html.DropDownListFor(l => l.Programme, ProgrammeList, "-- Select Programme --", new { @class = "custom-select form-control", @style = "width:100%" })
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="wLocation1">School/Faculty :</label>
                                                        @Html.DropDownListFor(l => l.School, SchoolList, "-- Select School --", new { @class = "custom-select form-control", @style = "width:100%" })
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="wLocation1">Finance Aid :</label>
                                                        @Html.DropDownListFor(l => l.FinancialAid, AIDList, "-- Select AID --", new { @class = "custom-select form-control", @style = "width:100%" })
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="wLocation1">Sponsorship :</label>
                                                        @Html.DropDownListFor(l => l.Sponsorship, SponsorList, "-- Select Sponsorship --", new { @class = "custom-select form-control", @style = "width:100%" })
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="wLocation1">Session :</label>
                                                        @Html.DropDownListFor(l => l.Session, SessionList, "-- Select Session --", new { @class = "custom-select form-control", @style = "width:100%" })
                                                    </div>
                                                </div>
                                            </div>
                                            @*<hr />
                <div class="form-group">
                    <label>SUMMARY</label>
                    <div class="input-group">
                        <textarea id="class-info" rows="12" style="width:100%;font-size:11px;font-weight:bold;min-height:100px;background:#eee" readonly></textarea>
                    </div>
                </div>*@
                                        </div>
                                    </div>
                                    <br />
                                    <div>
                                        <div id="staff-info" style="display:none">
                                            <label style="font-weight:bold">Staff Filters:</label>
                                            <div class="row gray-box">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label for="wLocation1">Staff No. :</label>
                                                        @Html.DropDownListFor(l => l.Staff, StaffList, "-- Staff No. --", new { @class = "custom-select form-control", @style = "width:100%" })
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="wLocation1">Staff Type :</label>
                                                        @Html.DropDownListFor(l => l.StaffType, EmpTypeList, "-- Employment Type --", new { @class = "custom-select form-control", @style = "width:100%" })
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="wLocation1">Job Title. :</label>
                                                        @Html.DropDownListFor(l => l.JobTitle, JobsList, "-- Staff Job Title --", new { @class = "custom-select form-control", @style = "width:100%" })
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label for="wLocation1">Location :</label>
                                                        @Html.DropDownListFor(l => l.StaffLocation, LocationList, "-- Select Location --", new { @class = "custom-select form-control", @style = "width:100%" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div>
                                        <div id="cust-info" style="display:none">
                                            <label style="font-weight:bold">Customer Filters :</label>
                                            <div class="row gray-box">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label for="wLocation1">Cust. REF. :</label>
                                                        @Html.DropDownListFor(l => l.CustomerRef, CustomerList, "-- Select Customer --", new { @class = "custom-select form-control", @style = "width:100%" })
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label for="wLocation1">Cust. Type :</label>
                                                        @Html.DropDownListFor(l => l.CustomerType, CustomerTypeList, "-- Customer Type --", new { @class = "custom-select form-control", @style = "width:100%" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div>
                                        <div id="sup-info" style="display:none">
                                            <label style="font-weight:bold">Supplier Filters:</label>
                                            <div class="row gray-box">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label for="wLocation1">Sup. REF. :</label>
                                                        @Html.DropDownListFor(l => l.SupplierRef, SupplierList, "-- Select Supplier --", new { @class = "custom-select form-control", @style = "width:100%" })
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label for="wLocation1">Payee REF. :</label>
                                                        @Html.DropDownListFor(l => l.PayeeRef, PayeeList, "-- Select Payee --", new { @class = "custom-select form-control", @style = "width:100%" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- Step 3 -->
                        <h6>General Ledger Details.</h6>
                        <section>
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Specify General Ledger related filters to be applied;</h4>
                                    <h6 class="card-subtitle"></h6>
                                    <div class="row gray-box">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="wLocation1">Campus :</label>
                                                @Html.DropDownListFor(l => l.Campus, CampusList, "-- Select Campus --", new { @class = "custom-select form-control", @style = "width:100%" })
                                            </div>
                                            <div class="form-group">
                                                <label for="wintType1">Department :</label>
                                                @Html.DropDownListFor(l => l.Dept, DeptList, "-- Department --", new { @class = "custom-select form-control", @style = "width:100%" })
                                            </div>
                                            <div class="form-group">
                                                <label for="wLocation1">Fiscal Year :</label>
                                                @Html.DropDownListFor(l => l.FiscalYear, YearsList, "-- Fiscal Year --", new { @class = "custom-select form-control", @style = "width:100%" })
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="wintType1">Ledger :</label>
                                                @Html.DropDownListFor(l => l.Ledger,LedgerList, "-- Select Ledger --", new { @class = "custom-select form-control", @style = "width:100%" })
                                            </div>
                                            <div class="form-group">
                                                <label for="wLocation1">Project :</label>
                                                @Html.DropDownListFor(l => l.Project, ProjectList, "-- Select Project --", new { @class = "custom-select form-control", @style = "width:100%" })
                                            </div>
                                            <div class="form-group">
                                                <label for="wLocation1">GL Account :</label>
                                                @Html.DropDownListFor(l => l.GLAccount, AccountList, "-- GL Account --", new { @class = "custom-select form-control", @style = "width:100%" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row gray-box">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="wLocation1">Payment Account :</label>
                                                @Html.DropDownListFor(l => l.PaymentAccount, PayModeList, "-- Pay Mode --", new { @class = "custom-select form-control", @style = "width:100%" })
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="wintType1">Currency :</label>
                                                @Html.DropDownListFor(l => l.Currency, CurrencyList, "-- Select Currency --", new { @class = "custom-select form-control", @style = "width:100%" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- Step 4 -->
                        <h6>MISC. Details</h6>
                        <section>
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Specify miscellaneous detail;</h4>
                                    <h6 class="card-subtitle"></h6>
                                    <div class="row gray-box">
                                        <div class="col-md-6">
                                            @*<div class="form-group">
                        <label for="behName1">Behaviour :</label>
                        <input type="text" class="form-control" id="behName1">
                    </div>
                    <div class="form-group">
                        <label for="participants1">Confidance</label>
                        <input type="text" class="form-control" id="participants1">
                    </div>*@
                                            <div class="form-group">
                                                <label for="participants1">Personnel(Creator)</label>
                                                @Html.DropDownListFor(l => l.CPersonnel, CPersonnelList, "-- Select Personnel --", new { @class = "custom-select form-control", @style = "width:100%" })
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="participants1">Personnel(Approver)</label>
                                                @Html.DropDownListFor(l => l.APersonnel, APersonnelList, "-- Select Personnel --", new { @class = "custom-select form-control", @style = "width:100%" })
                                            </div>
                                        </div>
                                    </div>


                                    <br />
                                    <label style="text-decoration:underline">Report Options :</label>
                                    <div class="form-group">
                                        <div class="c-inputs-stacked">
                                            <label class="inline custom-control custom-checkbox block">
                                                <input type="checkbox" class="custom-control-input" asp-for="IncludeOld"> <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description ml-0">Include Old</span>
                                            </label>
                                            <label class="inline custom-control custom-checkbox block">
                                                <input type="checkbox" class="custom-control-input" asp-for="IncludeZeroBalances"> <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description ml-0">Include Payee with 0(zero) balance</span>
                                            </label>
                                            <label class="inline custom-control custom-checkbox block" asp-for="StoreDebtorsBalances">
                                                <input type="checkbox" class="custom-control-input"> <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description ml-0">Store Debtors Balances</span>
                                            </label>
                                        </div>
                                    </div>
                                    <hr />
                                    <label style="text-decoration:underline">Export Options :</label>

                                    <div class="form-group">
                                        <div class="c-inputs-stacked">
                                            <label class="inline custom-control custom-checkbox block">
                                                <input type="radio" class="custom-control-input" id="export-1" asp-for="Export" value="@MimeType.xls">
                                                <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description ml-0">As Excel (.xls)</span>
                                            </label>
                                            <label class="inline custom-control custom-checkbox block">
                                                <input type="radio" class="custom-control-input" id="export-2" asp-for="Export" value="@MimeType.xlsx">
                                                <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description ml-0">As Excel (.xlsx)</span>
                                            </label>
                                            <label class="inline custom-control custom-checkbox block">
                                                <input type="radio" class="custom-control-input" id="export-3" asp-for="Export" value="@MimeType.cvs">
                                                <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description ml-0">As Excel (.cvs)</span>
                                            </label>
                                            <label class="inline custom-control custom-checkbox block">
                                                <input type="radio" class="custom-control-input" id="export-4" asp-for="Export" value="@MimeType.pdf">
                                                <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description ml-0">As PDF (.pdf)</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@* Code in the scripts section below gets added at the bottom of the HTML body element, below other scripts. This
    section can be used to enter custom scripts specific to this page. *@
@section scripts
    {

    <script src="~/lib/plugins/wizard/jquery.steps.min.js"></script>
    <script src="~/lib/plugins/wizard/jquery.validate.min.js"></script>
    <!-- Sweet-Alert  -->
    <script src="~/lib/plugins/sweetalert/sweetalert.min.js"></script>
    @*<script src="~/lib/plugins/wizard/steps.js"></script>*@

    <!-- ============================================================== -->
    <!-- icheck -->
    <script src="~/lib/plugins/icheck/icheck.min.js"></script>
    <script src="~/lib/plugins/icheck/icheck.init.js"></script>
    <script src="~/lib/plugins/switchery/dist/switchery.min.js"></script>
    <script src="~/lib/plugins/select2/dist/js/select2.full.min.js" type="text/javascript"></script>
    <script src="~/lib/plugins/bootstrap-select/bootstrap-select.min.js" type="text/javascript"></script>
    <script src="~/lib/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
    <script src="~/lib/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/lib/plugins/multiselect/js/jquery.multi-select.js"></script>

    <script type="text/javascript">
        $(function () {
            $(".preloader").fadeOut();
        });
        // For select 2
        $(".select2").select2();
        $('.selectpicker').selectpicker();
    </script>
            @*Steppy*@
            <script>
                var form = $(".validation-wizard").show();

                $(".validation-wizard").steps({
                    headerTag: "h6"
                    , bodyTag: "section"
                    , transitionEffect: "fade"
                    , titleTemplate: '<span class="step">#index#</span> #title#'
                    , labels: {
                        finish: "Process Report"
                    }
                    , saveState: true
                    , onStepChanging: function (event, currentIndex, newIndex) {
                        console && console.log('Nav to ' + newIndex)
                        jQuery.post('/reports', { typ: newIndex }, function (data) {
                            if (data != 0) {
                                validatedStepOne = true;
                                $('#wizard').steps('next');
                            }
                            else {
                                console && console.log('ERROR, unexpected value');
                            }
                        });
                        return currentIndex > newIndex ||  (currentIndex < newIndex && (form.find(".body:eq(" + newIndex + ") label.error").remove(), form.find(".body:eq(" + newIndex + ") .error").removeClass("error")), form.validate().settings.ignore = ":disabled,:hidden", form.valid())
                    },
                    onStepChanged: function (event, currentIndex, priorIndex) {
                        if (currentIndex == 1) {
                            var ul = jQuery(jQuery('input[name="FinanceReport"]:checked')).closest('ul');
                            if (currentIndex === 1 && jQuery(ul).prop('id') === 'student') {
                                //form.steps("next");
                                jQuery('#stud-info').show()
                            } else if (currentIndex === 1 && jQuery(ul).prop('id') === 'customers') {
                                jQuery('#cust-info').show()
                            } else if (currentIndex === 1 && jQuery(ul).prop('id') === 'suppliers') {
                                jQuery('#sup-info').show()
                            } else if (currentIndex === 1 && jQuery(ul).prop('id') !== 'general') {
                                jQuery('#staff-info').show()
                            }
                        }
                    }
                    , onFinishing: function (event, currentIndex) {
                        return form.validate().settings.ignore = ":disabled", form.valid()
                    }
                    , onFinished: function (event, currentIndex) {
                        swal({
                                title: "Process Basic Report",
                                text: "Your report will be prepared and a download\preview link generated back.\n Please specify the file name to be returned.",
                                type: "input",
                                showCancelButton: true,
                                closeOnConfirm: false,
                                showLoaderOnConfirm: true,
                                inputPlaceholder: "Enter file name"
                            }, function (inputValue) {
                                if (inputValue === false) return false;
                                if (inputValue === "") {
                                    swal.showInputError("You need to enter a file name,");
                                    return false
                                }
                                setTimeout(function () {
                                    swal("Report Generated!",
                                        "Report writen to : '" +'@Url.AbsoluteAction("Reports","Finance")'+"repo/" + inputValue + "." +
                                        jQuery(jQuery('input[name="export"]:checked')).val() + "'", "success");
                                }, 2000);
                            });
                        
                    }
                }), $(".validation-wizard").validate({
                    ignore: "input[type=hidden]"
                    , errorClass: "text-danger"
                    , successClass: "text-success"
                    , highlight: function (element, errorClass) {
                        $(element).removeClass(errorClass)
                    }
                    , unhighlight: function (element, errorClass) {
                        $(element).removeClass(errorClass)
                    }
                    , errorPlacement: function (error, element) {
                        error.insertAfter(element)
                    }
                    , rules: {
                        email: {
                            email: !0
                        }
                    }
                })
            </script>
}
