﻿@using Microsoft.EntityFrameworkCore;

@inject IOptionsSnapshot<AppSettings> AppSettings
@inject ApplicationDbContext db
@{
    // title - The title of the page which appears in the browser window title. Aim for the title to be less than 70
    //         characters. The site name appears at the end for better SEO.
    ViewBag.Title = "Create Petty-Cash Payment Voucher";
    // Description - Used by search engines. Aim for more than 160 characters.
    ViewBag.Description = "Create a new Pettycash Payment Voucher";

    //
    var BaseCurrency = db.FCurrencies.Single(k => k.IsBase);
    //
    var InvoiceList = new List<SelectListItem>();

    //
    var LedgerList = new List<SelectListItem>();
    foreach (var f in db.FLedgers.ToList())
    {

        LedgerList.Add(new SelectListItem() { Text = f.Name, Value = f.Id + "" });
    }
    //
    var TaxList = new List<SelectListItem>();
    foreach (var f in db.FTaxes.ToList())//All child account
    {

        TaxList.Add(new SelectListItem() { Text = f.Name, Value = f.Id + "" });
    }
    //DeptList.Add(new SelectListItem() { Text = "None", Value = "0", Selected = true });
    //
    var APAccountList = new List<SelectListItem>();
    if (AppSettings.Value.Accounts.APCreditorAccs != null)
    {
        foreach (var f in AppSettings.Value.Accounts.APCreditorAccs)//All child account
        {
            var name = "Not Available";
            if (string.IsNullOrEmpty(f.Name))
            {
                name = db.FinanceAccounts.SingleOrDefault(k => k.Id == f.AccId)?.Name;
            }
            else
            {
                name = f.Name;
            }
            APAccountList.Add(new SelectListItem() { Text = name, Value = f.AccId + "" });
        }

    }

    //
    var StaffList = new List<SelectListItem>();
    foreach (var f in db.HrStaff.Include(k => k.PettyCashReqs).Where(l => l.PettyCashReqs.Count > 0).ToList())//All child account
    {

        StaffList.Add(new SelectListItem() { Text = f.FullName, Value = f.Id + "" });
    }
    //
    var CashierList = new List<SelectListItem>();
    foreach (var f in db.FCashierOffices.ToList())//All child account
    {

        CashierList.Add(new SelectListItem() { Text = f.Name, Value = f.Id + "" });
    }
    //
    var SponsorList = new List<SelectListItem>();
    foreach (var f in db.FSponsors.ToList())//All child account
    {

        SponsorList.Add(new SelectListItem() { Text = f.Name, Value = f.Id + "" });
    }
    SponsorList.Add(new SelectListItem() { Text = "None", Value = "0", Selected = true });
}
@model AddPaymentVoucherViewModel
@* Code in the head section below gets added at the bottom of the HTML head element. This section can be used to enter
    custom meta tags specific to this page. *@
@section head
    {
    @* Author - (Optional) Used by search engines. The author of the page. *@
    <meta name="author" content="ABNO Softwares Int.">
    @* Add Twitter Card social meta tags so we can customize what happens when our page is shared on Twitter. There are
        several different Twitter Card types we could add, a different one is added on each page as an example.
        These helpers make it very easy to add the meta tags. For best performance, see what tags are generated and
        hand-code them yourself instead of using these helpers. *@
    <twitter-card-summary-large-image username="@@ABNO">
        @* Add Open Graph social meta tags so we can customize what happens when our page is shared on Facebook, Google+,
            Pintrest and other social media websites. There are dozens of Open Graph types, a different one is added on
            each page as an example. These helpers make it very easy to add the meta tags. For best performance, see what
            tags are generated and hand-code them yourself instead of using these helpers. *@
        <open-graph-website site-name="@AppSettings.Value.SiteTitle"
                            title="@ViewBag.Title"
                            main-image="@(new OpenGraphImage(
                            Url.AbsoluteContent("~/img/icons/open-graph-1200x630.png"),
                            ContentType.Png,
                            1200,
                            630))"
                            determiner="Blank">
            @* referrer - Controls what is sent in the HTTP referrer header when a client navigates to an external site. *@
            <meta asp-referrer="OriginWhenCrossOrigin">

            <!-- page CSS -->
            <link href="~/lib/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
            <link href="~/lib/plugins/select2/dist/css/select2.min.css" rel="stylesheet" type="text/css" />
            <link href="~/lib/plugins/switchery/dist/switchery.min.css" rel="stylesheet" />
            <link href="~/lib/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
            <link href="~/lib/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.css" rel="stylesheet" />
            <link href="~/lib/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
            <link href="~/lib/plugins/multiselect/css/multi-select.css" rel="stylesheet" type="text/css" />
            <style>
                .gray-box {
                    border: solid thin #ccc;
                    border-radius: 4px 2px;
                    margin: 3px;
                    padding: 4px
                }

                div#staff-info > ul {
                    margin-left: 0;
                    padding-left: 0
                }

                    div#staff-info > ul > li {
                        width: 100%;
                        min-height: 70px;
                        font-weight: bold;
                        border: solid thin #ccc;
                        font-size: 11px;
                        list-style: none;
                    }
            </style>
}
<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">@ViewBag.Title</h3>
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Finance</a></li>
                <li class="breadcrumb-item">Petty-Cash Vouchers</li>
            </ol>
        </div>

    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="card col-sm-11">
            <div class="card-body">
                <h6 class="card-subtitle">Create a new Pettycash payment voucher</h6>
                <form asp-route="@FinanceControllerRoute.GetAddPettyCashPVoucher" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form p-t-20" role="form">
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    @Html.HiddenFor(l => l.PCRequestIds)
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label asp-for="VoucherNo"></label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-key"></i></div>
                                <input asp-for="VoucherNo" class="form-control" placeholder="~ Select A Ledger To Load ~" value="" readonly>
                            </div>
                            <span asp-validation-for="PayableTo" class="text-danger"></span>
                        </div>
                        <div class="form-group col-sm-6" id="">
                            <label asp-for="Ledger" class=""></label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-anchor"></i></div>
                                @Html.DropDownListFor(p => p.Ledger, LedgerList, "-- Select Ledger --", new { @class = "select2 form-control custom-select", style = "width: 100%; height:48px !important;" })
                            </div>
                            <span asp-validation-for="Ledger" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="gray-box">
                                <div class="form-group" id="parent-wrapper">
                                    <label asp-for="Cashier" class=""></label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="ti-anchor"></i></div>
                                        @Html.DropDownListFor(p => p.Cashier, CashierList, "-- Select Cashier Office --", new { @class = "select2 form-control custom-select", style = "width: 100%; height:48px !important;" })
                                    </div>
                                    <span asp-validation-for="Cashier" class="text-danger"></span>
                                </div>
                                <div class="accs-wrapper">
                                    <label style="font-weight:bold;font-size:11px;text-decoration:underline">Cashier Office Info.</label>
                                    <div style="min-height:100px;font-weight:bold;font-size:11px;">
                                        <textarea id="off-info" readonly style="width:100%;height:150px;background:#eee;font-weight:bold"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="gray-box">
                                <div class="form-group" id="">
                                    <label asp-for="PVStaff" class=""></label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="ti-anchor"></i></div>
                                        @if (Model.PCRequests.Count > 0)
                                        {
                                            <select id="PVStaff" name="PVStaff" style="width: 100%" class="select2 m-b-10 select2-multiple" multiple="multiple" data-placeholder="Select Staff Account(s)">
                                                @foreach (var x in Model.PCRequests.Select(l => l.StaffId).Distinct())
                                                {
                                                    <option value="x" selected> @db.HrStaff.Single(k => k.Id == x).FullName </option>
                                                }
                                            </select>
                                        }
                                        else
                                        {
                                            @Html.DropDownListFor(p => p.PVStaff, StaffList, "-- Select Staff --", new { @style = "width: 100%", @class = "select2 m-b-10 select2-multiple", multiple = "multiple", data_placeholder = "Select Staff Account(s)" })
                                        }
                                    </div>
                                    <span asp-validation-for="PVStaff" class="text-danger"></span>
                                </div>
                                <div class="accs-wrapper">
                                    <label style="font-weight:bold;font-size:11px;text-decoration:underline">Staff Info(s).</label>
                                    <div id="staff-info">
                                        <ul class="row" style="background:#eee;min-height:100px;"></ul>
                                    </div>
                                </div>
                            </div>

                            @*<div class="form-group" id="project-wrapper">
                                    <label asp-for="Description" class=""></label>
                                    <div class="input-group">
                                        <textarea asp-for="Description" rows="3" placeholder="Voucher description.." style="width:100%;"></textarea>
                                    </div>
                                    <span asp-validation-for="Project" class="text-danger"></span>
                                </div>*@
                        </div>
                    </div>

                    <hr />
                    <div class="">
                        <label>Available Staff Petty Cash Requests : </label>
                        <div class="form-group gray-box">
                            <div class="">
                                <table class="table table-striped table-bordered" id="editable-datatable" style="min-height:100px">
                                    <thead>
                                        <tr>
                                            <th style="font-weight:bold">#</th>
                                            <th style="font-weight:bold">REF.</th>
                                            <th style="font-weight:bold">DESC.</th>
                                            <th style="font-weight:bold">Date Created</th>
                                            <th style="font-weight:bold">Net Amount</th>
                                            <th style="font-weight:bold">Project</th>
                                            <th style="font-weight:bold">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody id="invs-wrap">
                                        @**@
                                        @if (Model.PCRequests.Count > 0)
                                        {
                                            foreach (var pc in Model.PCRequests)
                                            {
                                                <tr>
                                                    <td>
                                                        <div class="form-check bd-example-indeterminate">
                                                            <label class="custom-control custom-checkbox">
                                                                <input type="checkbox" class="custom-control-input" name="pcs" value="@pc.Id">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description"></span>
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td>PC@(pc.Ref.ToString("0000"))</td>
                                                    <td><p style="white-space:pre-line;max-height:80px;overflow-y:scroll">@(pc.Description ?? "Not Available")</p></td>
                                                    <td>@pc.DateCreated.ToString("dd MMM yyyy")</td>
                                                    <td>@pc.Payments.First().CurrencyUsed.Alias @((await Utils.CalculatePayableAmount(pc.Payments.ToList())).ToString("#,##0"))</td>
                                                    <td>@(pc.Project?.Name ?? "Not Available")</td>
                                                    <td>Unpaid</td>
                                                </tr>

                                            }

                                        }
                                        else
                                        {
                                            <tr>
                                                <td colspan="8" style="text-align:center">No Entries found...</td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                    <br />
                    <div id="reg-wrapper">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group" id="">
                                    <label asp-for="Mode" class=""></label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="ti-anchor"></i></div>
                                        <select name="Mode" id="Mode" class="select2 form-control custom-select" style="width: 100%; height:48px !important;">
                                            <option value="0">-- Select Ledger Mode -- </option>
                                        </select>
                                    </div>
                                    <span asp-validation-for="Mode" class="text-danger"></span>
                                </div>
                                <div class="form-group" id="project-wrapper">
                                    <label asp-for="Project" class=""></label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="ti-anchor"></i></div>
                                        <select name="Project" id="Project" class="select2 form-control custom-select" style="width: 100%; height:48px !important;">
                                            <option value="0">-- Select Project -- </option>
                                        </select>
                                    </div>
                                    <span asp-validation-for="Project" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group col-sm-6">
                                <div class="form-group">
                                    <label asp-for="Description"></label>
                                    <div class="input-group">
                                        <textarea asp-for="Description" class="form-control" placeholder="Description.." value="" rows="4"></textarea>
                                    </div>
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label asp-for="CheckNo"></label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="ti-key"></i></div>
                                    <input asp-for="CheckNo" class="form-control" placeholder="Payment Cheque Number..">
                                </div>
                                <span asp-validation-for="CheckNo" class="text-danger"></span>
                            </div>
                            <div class="form-group col-sm-6">
                                <label>Total Amount</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="">@BaseCurrency.Alias</i></div>
                                    <input name="NetAmount" id="NetAmount" class="form-control" placeholder="Net Amount .. " value="0.0" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="col-md-offset-5 col-md-10">
                        <button type="submit" class="btn btn-info waves-effect waves-ripple m-r-10">Submit</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

@* Code in the scripts section below gets added at the bottom of the HTML body element, below other scripts. This
    section can be used to enter custom scripts specific to this page. *@
@section scripts
    {
    <!-- jQuery peity -->
    <script src="/lib/plugins/peity/jquery.peity.min.js"></script>
    <script src="/lib/plugins/peity/jquery.peity.init.js"></script>
    <!-- This page plugins -->
    <!-- ============================================================== -->
    <script src="~/lib/plugins/switchery/dist/switchery.min.js"></script>
    <script src="~/lib/plugins/select2/dist/js/select2.full.min.js" type="text/javascript"></script>
    <script src="~/lib/plugins/bootstrap-select/bootstrap-select.min.js" type="text/javascript"></script>
    <script src="~/lib/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
    <script src="~/lib/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/lib/plugins/multiselect/js/jquery.multi-select.js"></script>
    <script>
        jQuery(document).ready(function () {
            // Switchery
            var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));
            $('.js-switch').each(function () {
                new Switchery($(this)[0], $(this).data());
            });
            // For select 2
            $(".select2").select2();
            $('.selectpicker').selectpicker();

        });
    </script>
    <!-- ============================================================== -->
    <!-- Style switcher -->
    <!-- ============================================================== -->
    <script src="~/lib/plugins/styleswitcher/jQuery.style.switcher.js"></script>
    <!-- Editable -->
    <script src="~/lib/plugins/jquery-datatables-editable/jquery.dataTables.js"></script>
    <script src="~/lib/plugins/datatables/dataTables.bootstrap.js"></script>
    <script src="~/lib/plugins/tiny-editable/mindmup-editabletable.js"></script>
    <script src="~/lib/plugins/tiny-editable/numeric-input-example.js"></script>
    <script>
        jQuery(document).ready(function () {
            //jQuery('#editable-datatable').DataTable();
        });
    </script>
    <script>
        jQuery('#Cashier').on('change', function () {
            var oid = jQuery(this).val();
            oid && jQuery.getJSON('/fcinfo?oid=' + oid, function (res) {
                console && console.log(res), res.s === "1" && (data = JSON.parse(res.data), jQuery('#off-info').val('Name : ' + data.name + '\n REF. : #' + (('0000' + data.ref).slice(-5)) + '\n Created : ' + data.dc + '\n Loc. : ' + data.loc))
            })
        }),
            jQuery('#PVStaff').on('change', function () {
                var sids = jQuery(this).val();
                ul = jQuery('#staff-info').find('ul'), ul.empty(), tbl = jQuery('#invs-wrap'), tbl.empty(),
                    sids.length > 0 && jQuery.each(sids, function (index, sid) {
                        jQuery.getJSON('/stprof?sid=' + sid, function (res) {
                            console && console.log(res), res.s === "1" && (data = JSON.parse(res.data),
                                b = '<li class="col-sm-6" id="" style=""><span>Name : </span><span style="font-size:10px">' +
                                data.name + '</span><br /><span>Emp No. : </span><span style="font-size:10px">' +
                                data.eno + '</span><br /><span>Title : </span><span style="font-size:10px">' +
                                data.jtitle + '</span><br /><span>Sect. : </span><span style="font-size:10px">' +
                                data.sect + '</span><br /><span>Loc. : </span><span style="font-size:10px">' +
                                data.loc + '</span><br /></li>',
                                jQuery(ul).append(b))
                        })
                    }) && jQuery.each(sids, function (index, sid) {
                        jQuery.getJSON('/staffpc?typ=0&sid=' + sid, function (res) {
                            console && console.log(res), res.s === "1" && (data = JSON.parse(res.data), data.length > 0 ? (jQuery.each(data, function (i, obj) {
                                var amt = 0.0;
                                jQuery.each(obj.pcpys, function (m, n) {
                                    amt += Number(n.amt.replace(',', ''))
                                })
                                var b = '<tr><td><div class="form-check bd-example-indeterminate"><label class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input pc-chks" name="pcs" id="pcs" value="' + obj.id + '" data-amt="' + amt + '">';

                                b = b + '<span class="custom-control-indicator"></span><span class="custom-control-description"></span></label></div></td><td>' + obj.ref + '</td><td><p style="white-space:pre-line;max-height:80px;overflow-y:scroll">' + (obj.desc ? obj.desc : 'Not Available') + '</p></td><td>' + obj.cdate + '</td><td>' + amt + '</td><td>' + (obj.pname ? obj.pname : 'Not Available') + '</td> <td>Unpaid</td></tr>',
                                    tbl.append(b)
                            }), jQuery('#editable-datatable').DataTable()) : (tbl.append('<td colspan="8" style="text-align:center">No Entries found...</td>')), calcTotal())

                        })
                    })
            }),
            jQuery('#Ledger').on('change', function () {
                var id = jQuery(this).val()
                id && JQuery.getJSON('/getvoucherno?lid=' + id, function (res) {
                    console && console.log(res),
                        res.s === '1' && (data = JSON.parse(res.data), console && console.log(data.vp), jQuery('#VoucherNo').val(data.vp))
                }) && (jQuery('#Mode').empty(), jQuery('#Mode').append('<option value="0">-- Select Ledger Mode -- </option>'), jQuery.each(NITA.FLedgers, function (i, lgr) {
                    lgr.id === id && jQuery.each(lgr.pmodes, function (j, mode) {
                        mode.typ !== "cash" && jQuery('#Mode').append(jQuery('<option>', { value: mode.id, text: mode.name }))
                    })
                }))
            }),
            //
            jQuery('body').on('change', '.pc-chks', function () {
                if (jQuery(this).is(':checked')) {
                    calcTotal()
                }
            }),
            calcTotal = function () {
                var total = 0.0;
                jQuery.each(jQuery('.pc-chks'), function (k, item) {
                    if (jQuery(item).is(':checked')) {
                        var j = JQuery(item).data('amt');
                        total += Number(j)
                    }
                }), jQuery('#NetAmount').val(total.toLocaleString(undefined, { maximumFractionDigits: 2 }))
            }
    </script>
    <script type="text/javascript">
        $(function () {
            $(".preloader").fadeOut();
        });

    </script>
}
