﻿@using Microsoft.EntityFrameworkCore;

@inject IOptionsSnapshot<AppSettings> AppSettings
@inject ApplicationDbContext db
@{
    // title - The title of the page which appears in the browser window title. Aim for the title to be less than 70
    //         characters. The site name appears at the end for better SEO.
    ViewBag.Title = "Create Regular Payment Voucher";
    // Description - Used by search engines. Aim for more than 160 characters.
    ViewBag.Description = "Create a new Regular Payment Voucher";

    //
    var BaseCurrency = db.FCurrencies.Single(k => k.IsBase);
    //
    var InvoiceList = new List<SelectListItem>();

    //
    var LedgerList = new List<SelectListItem>();
    foreach (var f in db.FLedgers.ToList())
    {

        LedgerList.Add(new SelectListItem() { Text = f.Name, Value = f.Id + "" });
    }
    //
    var DeptList = new List<SelectListItem>();
    foreach (var f in db.HrDepartments.ToList())//All child account
    {

        DeptList.Add(new SelectListItem() { Text = f.Name, Value = f.Id + "" });
    }
    //DeptList.Add(new SelectListItem() { Text = "None", Value = "0", Selected = true });
    //
    var APAccountList = new List<SelectListItem>();
    if(AppSettings.Value.Accounts.APCreditorAccs != null)
    {
        foreach (var f in AppSettings.Value.Accounts.APCreditorAccs)//All child account
        {
            var name = "Not Available";
            if (string.IsNullOrEmpty(f.Name))
            {
                name = db.FinanceAccounts.SingleOrDefault(k=>k.Id == f.AccId)?.Name;
            }
            else
            {
                name = f.Name;
            }
            APAccountList.Add(new SelectListItem() { Text = name, Value = f.AccId + "" });
        }

    }

    //
    var SupplierList = new List<SelectListItem>();
    foreach (var f in db.FSuppliers.ToList())//All child account
    {

        SupplierList.Add(new SelectListItem() { Text = f.Name, Value = f.Id + "" });
    }
    //
    var SponsorList = new List<SelectListItem>();
    foreach (var f in db.FSponsors.ToList())//All child account
    {

        SponsorList.Add(new SelectListItem() { Text = f.Name, Value = f.Id + "" });
    }
    SponsorList.Add(new SelectListItem() { Text = "None", Value = "0", Selected = true });
}
@model AddPaymentVoucherViewModel
@* Code in the head section below gets added at the bottom of the HTML head element. This section can be used to enter
    custom meta tags specific to this page. *@
@section head
    {
    @* Author - (Optional) Used by search engines. The author of the page. *@
    <meta name="author" content="ABNO Softwares Int.">
    @* Add Twitter Card social meta tags so we can customize what happens when our page is shared on Twitter. There are
        several different Twitter Card types we could add, a different one is added on each page as an example.
        These helpers make it very easy to add the meta tags. For best performance, see what tags are generated and
        hand-code them yourself instead of using these helpers. *@
    <twitter-card-summary-large-image username="@@ABNO">
        @* Add Open Graph social meta tags so we can customize what happens when our page is shared on Facebook, Google+,
            Pintrest and other social media websites. There are dozens of Open Graph types, a different one is added on
            each page as an example. These helpers make it very easy to add the meta tags. For best performance, see what
            tags are generated and hand-code them yourself instead of using these helpers. *@
        <open-graph-website site-name="@AppSettings.Value.SiteTitle"
                            title="@ViewBag.Title"
                            main-image="@(new OpenGraphImage(
                            Url.AbsoluteContent("~/img/icons/open-graph-1200x630.png"),
                            ContentType.Png,
                            1200,
                            630))"
                            determiner="Blank">
            @* referrer - Controls what is sent in the HTTP referrer header when a client navigates to an external site. *@
            <meta asp-referrer="OriginWhenCrossOrigin">

            <!-- page CSS -->
            <link href="~/lib/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
            <link href="~/lib/plugins/select2/dist/css/select2.min.css" rel="stylesheet" type="text/css" />
            <link href="~/lib/plugins/switchery/dist/switchery.min.css" rel="stylesheet" />
            <link href="~/lib/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
            <link href="~/lib/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.css" rel="stylesheet" />
            <link href="~/lib/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
            <link href="~/lib/plugins/multiselect/css/multi-select.css" rel="stylesheet" type="text/css" />
            <style>
                .gray-box {
                    border: solid thin #ccc;
                    border-radius: 4px 2px;
                    margin: 3px;
                    padding: 4px
                }
            </style>
}
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-themecolor">@ViewBag.Title</h3>
                    </div>
                    <div class="col-md-7 align-self-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Finance</a></li>
                            <li class="breadcrumb-item">Payment Vouchers</li>
                            <li class="breadcrumb-item active">Regular Vouchers</li>
                        </ol>
                    </div>

                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="card col-sm-11">
                        <div class="card-body">
                            <h6 class="card-subtitle">Create a new regular payment voucher</h6>
                            <form asp-route="@FinanceControllerRoute.GetAddRegularPVoucher" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form p-t-20" role="form">
                                <hr />
                                <div asp-validation-summary="All" class="text-danger"></div>
                                @Html.HiddenFor(l => l.InvoiceIds)
                                @Html.HiddenFor(l => l.ImprestIds)
                                @Html.HiddenFor(l => l.ClaimIds)
                                <div class="form-group">
                                    <label asp-for="VoucherNo"></label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="ti-key"></i></div>
                                        <input asp-for="VoucherNo" class="form-control" placeholder="~ Select A Ledger To Load ~" value="PV@(Model.VoucherNo)" readonly>
                                    </div>
                                    <span asp-validation-for="PayableTo" class="text-danger"></span>
                                </div>
                                <div class="form-group" id="">
                                    <label asp-for="Ledger" class=""></label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="ti-anchor"></i></div>
                                        @Html.DropDownListFor(p => p.Ledger, LedgerList, "-- Select Ledger --", new { @class = "select2 form-control custom-select", style = "width: 100%; height:48px !important;" })
                                    </div>
                                    <span asp-validation-for="Ledger" class="text-danger"></span>
                                </div>
                                <div class="form-group" id="project-wrapper">
                                    <label asp-for="Project" class=""></label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="ti-anchor"></i></div>
                                        <select name="Project" id="Project" class="select2 form-control custom-select" style="width: 100%; height:48px !important;">
                                            <option value="0">-- Select Project -- </option>
                                        </select>
                                    </div>
                                    <span asp-validation-for="Project" class="text-danger"></span>
                                </div>

                                <div class="gray-box">
                                    <!-- Nav tabs -->
                                    <ul class="nav nav-tabs customtab" role="tablist">
                                        <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#home2" role="tab"><span class="hidden-sm-up"><i class="ti-home"></i></span> <span class="hidden-xs-down">Registered Supplier Info </span></a> </li>
                                        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile2" role="tab"><span class="hidden-sm-up"><i class="ti-user"></i></span> <span class="hidden-xs-down">Un-Registered Supplier Info </span></a> </li>
                                    </ul>
                                    <!-- Tab panes -->
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="home2" role="tabpanel">

                                            <div class="form-group" id="parent-wrapper">
                                                <label asp-for="Supplier" class=""></label>
                                                <div class="input-group">
                                                    <div class="input-group-addon"><i class="ti-anchor"></i></div>
                                                    @Html.DropDownListFor(p => p.Supplier, SupplierList, "-- Select Supplier --", new { @class = "select2 form-control custom-select", style = "width: 100%; height:48px !important;" })
                                                </div>
                                                <span asp-validation-for="Supplier" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Invoices"></label>
                                                <div class="input-group">
                                                    <div class="input-group-addon"><i class="ti-anchor"></i></div>
                                                    <select id="Invoices" name="Invoices" style="width: 100%" class="select2 m-b-10 select2-multiple" multiple="multiple" data-placeholder="Select Invoice(s)">
                                                        <option value="0">-- Select Invoice(s) -- </option>
                                                    </select>


                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane  p-20" id="profile2" role="tabpanel">
                                            <div class="form-group">
                                                <label asp-for="PayeeName"></label>
                                                <div class="input-group">
                                                    <div class="input-group-addon"><i class="ti-key"></i></div>
                                                    <input asp-for="PayeeName" class="form-control" placeholder="Payee Name..">
                                                </div>
                                                <span asp-validation-for="PayeeName" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="PayableTo"></label>
                                                <div class="input-group">
                                                    <div class="input-group-addon"><i class="ti-key"></i></div>
                                                    <input asp-for="PayableTo" class="form-control" placeholder="Payable To..">
                                                </div>
                                                <span asp-validation-for="PayableTo" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Sponsor"></label>
                                                <div class="input-group">
                                                    <div class="input-group-addon"><i class="ti-key"></i></div>
                                                    @Html.DropDownListFor(p => p.Sponsor, SponsorList, "-- Select Sponsor --", new { @class = "select2 form-control custom-select", style = "width: 100%; height:48px !important;" })
                                                </div>
                                                <span asp-validation-for="Sponsor" class="text-danger"></span>
                                            </div>
                                            <hr />
                                            <div class="row">
                                                <div class="form-group col-sm-4 col-lg-4 col-md-4">
                                                    <label>Invoice Amount</label>
                                                    <div class="input-group">
                                                        <div class="input-group-addon"><i class="">@BaseCurrency.Alias</i></div>
                                                        <input asp-for="GrossAmount" class="form-control" placeholder="Invoice Amount.." value="0.0">
                                                    </div>
                                                    <span asp-validation-for="GrossAmount" class="text-danger"></span>
                                                </div>
                                                <div class="form-group col-sm-4 col-lg-4 col-md-4">
                                                    <label>Invoice Discount</label>
                                                    <div class="input-group">
                                                        <div class="input-group-addon"><i class="">@BaseCurrency.Alias</i></div>
                                                        <input asp-for="Discount" class="form-control" placeholder="Invoice Discount(%).." value="0.0">
                                                    </div>
                                                    <span asp-validation-for="Discount" class="text-danger"></span>
                                                </div>
                                                <div class="form-group col-sm-4">
                                                    <label asp-for="MgmtAmount"></label>
                                                    <div class="input-group">
                                                        <div class="input-group-addon"><i class="">@BaseCurrency.Alias</i></div>
                                                        <input asp-for="MgmtAmount" class="form-control" placeholder="Management/Agent Fee.." value="0.0">
                                                    </div>
                                                    <span asp-validation-for="MgmtAmount" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <hr />
                                            <div class="accs-wrapper gray-box">
                                                <div class="row">
                                                    <div class="form-group col-sm-6">
                                                        <label asp-for="GLAccount"></label>
                                                        <div class="input-group">
                                                            <div class="input-group-addon"><i class="ti-anchor"></i></div>
                                                            @*@Html.DropDownListFor(p => p.Account, AccountList, "-- Select Account --", new { @class = "form-control" })*@
                                                            <select class="select2 form-control custom-select" id="GLAccount" name="GLAccount" style="width: 100%; height:48px !important;">
                                                                <option value="0"> -- Select GL Account -- </option>
                                                                @foreach (var parent in db.FinanceAccounts.Include(k => k.Children).Where(l => l.Parent == null).ToList())
                                    {
                                        @*<optgroup label="@parent.Name">
                    @foreach (var child in parent.Children)
                    {
                        <option value="@child.Id">↪ @child.Name</option>
                    }
                </optgroup>*@
                                        <optgroup label="🏠 @parent.Type Accounts" style="font-weight:bold">

                                            <optgroup label="    ⤵  @parent.Name">

                                                @foreach (var child in parent.Children)
                    {
                            <option value="@child.Id">    ↪ @child.Name</option>
}
                                            </optgroup>
                                        </optgroup>

        }

                                                            </select>
                                                        </div>
                                                        <span asp-validation-for="GLAccount" class="text-danger"></span>
                                                    </div>
                                                    <div class="form-group col-sm-6">
                                                        <label asp-for="Dept"></label>
                                                        <div class="input-group">
                                                            <div class="input-group-addon"><i class="ti-anchor"></i></div>
                                                            @Html.DropDownListFor(p => p.Dept, DeptList, "-- Select Department --", new { @class = "select2 form-control custom-select", @style = "width: 100%; height:48px !important;" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-sm-6" id="" style="">
                                                        <label class="">Taxes:</label>
                                                        <select id="taxes" name="taxes" style="width: 100%" class="select2 m-b-10 select2-multiple" multiple="multiple" data-placeholder="Select Taxes" disabled>
                                                            @foreach (var t in db.FTaxes.ToList())
                                {
                                    <option value="@t.Id"> @t.Name </option>}
                                                        </select>
                                                    </div>
                                                    <div class="form-group col-sm-6">
                                                        <label asp-for="APAccount"></label>
                                                        <div class="input-group">
                                                            <div class="input-group-addon"><i class="ti-anchor"></i></div>
                                                            @*@Html.DropDownListFor(p => p.Account, AccountList, "-- Select Account --", new { @class = "form-control" })*@
                                                            <select class="select2 form-control custom-select" id="APAccount" name="APAccount" style="width: 100%; height:48px !important;">
                                                                <option value="0"> -- Select Creditors Account -- </option>
                                                                <optgroup label="🏠 A/P (Creditors)  Accounts" style="font-weight:bold">

                                                                    @foreach (var child in APAccountList)
                                        {
                                            <option value="@child.Value">    ↪ @child.Text</option>
            }
                                                                </optgroup>

                                                            </select>
                                                        </div>
                                                        <span asp-validation-for="APAccount" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                                <div id="reg-wrapper">
                                    <br />
                                    <div class="row">
                                        <div class="form-group col-sm-8">
                                            <label asp-for="GrossAmount"></label>
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="">@BaseCurrency.Alias</i></div>
                                                <input name="Sup-Gross" id="Sup-Gross" class="form-control" placeholder="Gross Amount" value="0.0" readonly>
                                            </div>
                                        </div>
                                        <div class="form-group  col-sm-4">
                                            <label asp-for="Discount"></label>
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="">@BaseCurrency.Alias</i></div>
                                                <input name="Sup-Discount" id="Sup-Discount" class="form-control" placeholder="Discount(%).." value="0.0" readonly>
                                            </div>
                                        </div>
                                    </div>
                                    <label>Taxes/Deductions</label>
                                    <div class="row gray-box accs-wrapper">
                                        <div class="form-group col-sm-6">
                                            <label>Taxes</label>
                                            <ul id="p-taxes">
                                                <li style="text-align:center;list-style:none;font-style:italic" class="empty">No Applicable Taxes..</li>
                                            </ul>
                                        </div>
                                        <div class="form-group  col-sm-6">
                                            <label>Deductions</label>
                                            <ul class="p-deds">
                                                <li style="text-align:center;list-style:none;font-style:italic" class="empty">No Applicable Deductions..</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="form-group col-sm-4">
                                            <label>Total Deductions/Taxes</label>
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="">@BaseCurrency.Alias</i></div>
                                                <input name="TaxAmount" id="TaxAmount" class="form-control" placeholder="Tax Amount .. " value="0.0" readonly>
                                            </div>
                                        </div>
                                        <div class="form-group  col-sm-4">
                                            <label>Fee Amount</label>
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="">@BaseCurrency.Alias</i></div>
                                                <input name="FeeAmount" id="FeeAmount" class="form-control" placeholder="Fee Amount .. " value="0.0" readonly>
                                            </div>
                                        </div>
                                        <div class="form-group  col-sm-4">
                                            <label>Net Amount</label>
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="">@BaseCurrency.Alias</i></div>
                                                <input name="NetAmount" id="NetAmount" class="form-control" placeholder="Net Amount .. " value="0.0" readonly>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="CheckNo"></label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="ti-key"></i></div>
                                        <input asp-for="CheckNo" class="form-control" placeholder="Payment Cheque Number..">
                                    </div>
                                    <span asp-validation-for="CheckNo" class="text-danger"></span>
                                </div>
                                <hr />
                                <div class="col-md-offset-5 col-md-10">
                                    <button type="submit" class="btn btn-info waves-effect waves-ripple m-r-10">Submit</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>

@* Code in the scripts section below gets added at the bottom of the HTML body element, below other scripts. This
    section can be used to enter custom scripts specific to this page. *@
@section scripts
    {
    <!-- jQuery peity -->
    <script src="/lib/plugins/peity/jquery.peity.min.js"></script>
    <script src="/lib/plugins/peity/jquery.peity.init.js"></script>
    <!-- This page plugins -->
    <!-- ============================================================== -->
    <script src="~/lib/plugins/switchery/dist/switchery.min.js"></script>
    <script src="~/lib/plugins/select2/dist/js/select2.full.min.js" type="text/javascript"></script>
    <script src="~/lib/plugins/bootstrap-select/bootstrap-select.min.js" type="text/javascript"></script>
    <script src="~/lib/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
    <script src="~/lib/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/lib/plugins/multiselect/js/jquery.multi-select.js"></script>
    <script>
        jQuery(document).ready(function () {
            // Switchery
            var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));
            $('.js-switch').each(function () {
                new Switchery($(this)[0], $(this).data());
            });
            // For select 2
            $(".select2").select2();
            $('.selectpicker').selectpicker();
           
        });
    </script>
    <!-- ============================================================== -->
    <!-- Style switcher -->
    <!-- ============================================================== -->
    <script src="~/lib/plugins/styleswitcher/jQuery.style.switcher.js"></script>
    <!-- jQuery peity -->
    <script>
        typeof (NITA) === "undefined" && (NITA = {}, NITA.Invoices = []),
            jQuery.getJSON("/alltxs", function (res) {
                console && console.log(JSON.stringify(res));
                res.s === "1" && (NITA.Taxes = res.data)
            }),
            jQuery('#Supplier').on('change', function () {
                jQuery.getJSON("/sinvoices?sid=" + this.value, function (res) {
                    console && console.log(JSON.stringify(res))
                    var data = JSON.parse(res.data);
                    res.s === "1" && (jQuery('#Invoices').empty(), NITA.Invoices = [],
                        jQuery("#Invoices").append('<option value="0"> -- Select Invoice(s) -- </option>'),
                        jQuery.each(data, function (index, item) {
                            console && console.log("Invoice = "+JSON.stringify(item))
                            //
                            var amt = parseInt(item.amt);//.toFixed(2);
                            NITA.Invoices.push(item),
                                jQuery('#Invoices').append(jQuery('<option>', {
                                    value: item.id,
                                    text: "VIN" + ("0000" + item.ref).slice(-5)
                                }));
                        }))

                    //
                })
            }),

            //
            jQuery("#Invoices").change(function () {
                var g = jQuery(this).val(), gross = 0.0, tax = 0.0,dis = 0.0;

                jQuery.each(g, function (i, j) {
                    jQuery.each(NITA.Invoices, function (index, item) {
                        console && console.log("Found " + NITA.Invoices.length + ", Invoice selected " + item.id + ", val = " + item.ref)
                        if (item.id === j) {
                            console && console.log("Matched for " + item.ref)
                            jQuery('#p-taxes').empty() &&jQuery.each(item.pps, function (n,m) { 
                                gross += Number(m.amt);
                                tax += Number(m.tax);
                                dis += Number(m.dis);
                                m.taxes.length > 0 && jQuery.each(m.taxes, function (j, h) { 
                                    jQuery('#p-taxes').append('<li style="list-style:disc;">'+h+'</li>')
                                })
                            }),
                                //Update UI
                                jQuery('#p-taxes').find('li').length == 0 && jQuery('#p-taxes').append('<li style="text-align:center;list-style:none;font-style:italic" class="empty">No Applicable Taxes..</li>')
                        }
                    })
                }), console && console.log("Gross = " + gross), jQuery("#Sup-Discount").val(dis.toLocaleString(undefined, { maximumFractionDigits: 2 })),
                    jQuery("#Sup-Gross").val(gross.toLocaleString(undefined, { maximumFractionDigits: 2 })),
                    jQuery("#TaxAmount").val(tax.toLocaleString(undefined, { maximumFractionDigits: 2 })),
                    jQuery("#NetAmount").val((gross - (tax + dis)).toLocaleString(undefined, { maximumFractionDigits: 2 }))
            })
        //
        jQuery('#taxes').change(function () {
            calcNetAmount(), c = jQuery(this).val(), c.length > 0 ? ((jQuery('#p-taxes').find('li.empty').length > 0 && jQuery('#p-taxes').empty()), jQuery.each(c, function (w, x) {
                jQuery.each(JSON.parse(NITA.Taxes), function (index, item) { 
                    if (x === item.id) {
                        jQuery('#p-taxes').append('<li style="list-style:disc;">' + item.name +'</li>')
                    }
                })
            })) : (jQuery('#p-taxes').empty(), jQuery('#p-taxes').append('<li style="text-align:center;list-style:none;font-style:italic" class="empty">No Applicable Taxes..</li>'))

        })
        //
        jQuery('#GrossAmount').on('keyup', function () {
            calcNetAmount(),checkBudget()           
        })
        jQuery('#GLAccount').on('change', function () {
            checkBudget()
        })
        jQuery('#Dept').on('change', function () {
            checkBudget()
        })
        jQuery('#GrossAmount').on('keyup', function () {
            calcNetAmount(), checkBudget()

        })
        jQuery('#Discount').on('change', function () {
            jQuery('#Sup-Discount').val(this.value), calcNetAmount()
        })
        jQuery('#Sup-Discount').on('keyup', function () {
            calcNetAmount()
        }),
            checkBudget = function () {
            var amt = jQuery('#GrossAmount').val(), did = jQuery('#Dept').val(), aid = jQuery('#GLAccount').val(), dis = jQuery('#Discount').val();
            did && aid && amt && jQuery.getJSON('/deptbudget?aid=' + aid + '&did=' + did, function (res) {
                console && console.log('Received Dept Budget = ' + JSON.stringify(res))
                var data = JSON.parse(res.data);
                res.s === "1" && (x = jQuery('#GrossAmount').val(), Number(data.bamt) > 0 ? ((Number(data.rem) - Number(x)) < 0 ? (alert('There is no sufficient funds in the selected department to fund this payment.'), jQuery('#GrossAmount').val('0.0'), calcNetAmount()) : (console && console.log('Budget exists..'), calcNetAmount())) : (console && console.log("Selected GL Account does not have a budget allocation")))
            })
            },
        calcNetAmount = function () {
            console && console.log('Calc Net Amount...')
            //Tax
            var tax = 0.0, gross = jQuery('#GrossAmount').val(), disc = jQuery('#Discount').val(), g = jQuery('#taxes').val(), mgnt = jQuery('#MgmtAmount').val();
            //
            console && console.log('Gross = ' + gross + ", Disc. = " + disc + ", taxes = " + g+', mgmnt = '+mgnt);
            //
            jQuery.each(g, function (i, j) {
                jQuery.each(JSON.parse(NITA.Taxes), function (o, p) {
                    if (p.id === j) {
                        var d = (Number(gross - disc) * Number(parseFloat(p.rate) / 100));
                        //roundings
                        switch (p.rtyp) {
                            case '2'://down
                                d = Math.floor(d);
                                break;
                            case '1'://up
                                d = Math.ceil(d);
                                break;
                            default:
                                //
                                d = Number(parseFloat(d).toFixed(2));
                                break;
                        }
                        tax += d;
                    }
                })
            }),
                //jQuery("#NetAmount").val((gross - (tax + dis)).toLocaleString(undefined, { maximumFractionDigits: 2 })
                jQuery('#Sup-Gross').val(gross).toLocaleString(undefined, { maximumFractionDigits: 2 }),
                jQuery('#TaxAmount').val(tax).toLocaleString(undefined, { maximumFractionDigits: 2 }),
                jQuery('#NetAmount').val(gross - (tax + disc)).toLocaleString(undefined, { maximumFractionDigits: 2 })
        }
    </script>
    <script type="text/javascript">
        $(function () {
            $(".preloader").fadeOut();
        });

    </script>
}
