﻿@using Microsoft.EntityFrameworkCore;

@inject IOptionsSnapshot<AppSettings> AppSettings
@inject ApplicationDbContext db
@{
    // title - The title of the page which appears in the browser window title. Aim for the title to be less than 70
    //         characters. The site name appears at the end for better SEO.
    ViewBag.Title = "Create Invoice";
    // Description - Used by search engines. Aim for more than 160 characters.
    ViewBag.Description = "Create a new invoice";


    //
    var LedgerList = new List<SelectListItem>();

    foreach (var f in db.FLedgers.ToList())
    {

        LedgerList.Add(new SelectListItem() { Text = "" + f.Name, Value = f.Id + "" });
    }
    //
    var AccountList = new List<SelectListItem>();

    foreach (var f in db.FinanceAccounts.Include(j => j.Parent).Where(l => l.Parent != null).ToList())//Children only
    {

        AccountList.Add(new SelectListItem() { Text = "" + f.Name, Value = f.Id + "" });
    }

    //
    var SupplierList = new List<SelectListItem>();

    foreach (var f in db.FSuppliers.ToList())
    {

        SupplierList.Add(new SelectListItem() { Text = "" + f.Name, Value = f.Id + "" });
    }

    var BaseCurrency = db.FCurrencies.Single(p => p.IsBase);
}
@model AddInvoiceViewModel
@* Code in the head section below gets added at the bottom of the HTML head element. This section can be used to enter
    custom meta tags specific to this page. *@
@section head
    {
    @* Author - (Optional) Used by search engines. The author of the page. *@
    <meta name="author" content="ABNO Softwares Int.">
    @* Add Twitter Card social meta tags so we can customize what happens when our page is shared on Twitter. There are
        several different Twitter Card types we could add, a different one is added on each page as an example.
        These helpers make it very easy to add the meta tags. For best performance, see what tags are generated and
        hand-code them yourself instead of using these helpers. *@
    <twitter-card-summary-large-image username="@@ABNO">
        @* Add Open Graph social meta tags so we can customize what happens when our page is shared on Facebook, Google+,
            Pintrest and other social media websites. There are dozens of Open Graph types, a different one is added on
            each page as an example. These helpers make it very easy to add the meta tags. For best performance, see what
            tags are generated and hand-code them yourself instead of using these helpers. *@
        <open-graph-website site-name="@AppSettings.Value.SiteTitle"
                            title="@ViewBag.Title"
                            main-image="@(new OpenGraphImage(
                            Url.AbsoluteContent("~/img/icons/open-graph-1200x630.png"),
                            ContentType.Png,
                            1200,
                            630))"
                            determiner="Blank">
            @* referrer - Controls what is sent in the HTTP referrer header when a client navigates to an external site. *@
            <meta asp-referrer="OriginWhenCrossOrigin">
            <!-- page CSS -->
            <link href="~/lib/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
            <link href="~/lib/plugins/select2/dist/css/select2.min.css" rel="stylesheet" type="text/css" />
            <link href="~/lib/plugins/switchery/dist/switchery.min.css" rel="stylesheet" />
            <link href="~/lib/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
            <link href="~/lib/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.css" rel="stylesheet" />
            <link href="~/lib/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
            <link href="~/lib/plugins/multiselect/css/multi-select.css" rel="stylesheet" type="text/css" />
            <style>
                .gray-box {
                    border: solid thin #ccc;
                    border-radius: 4px 2px;
                    margin: 3px;
                    padding: 4px
                }
            </style>
        }
        <div class="container-fluid">

            <div class="col-lg-11">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">@ViewBag.Title</h4>
                        <h6 class="card-subtitle">Create a new invoice</h6>
                        <form asp-route="@FinanceControllerRoute.GetAddInvoice" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form p-t-20" role="form" id="invoice-form">
                            <hr />
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <label>Doc. No.</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="ti-key"></i></div>
                                    <input id="DocNo" name="DocNo" class="form-control" value="VIN@(Utils.GetInvoiceDocNo(db).ToString("0000"))" readonly>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="OrderNo"></label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="ti-key"></i></div>
                                    <input asp-for="OrderNo" class="form-control" placeholder="Procurement Order Number">
                                </div>
                                <span asp-validation-for="OrderNo" class="text-danger"></span>
                            </div>
                            <div class="form-group" id="parent-wrapper">
                                <label asp-for="Supplier" class=""></label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="ti-anchor"></i></div>
                                    @Html.DropDownListFor(p => p.Supplier, SupplierList, "-- Select Supplier --", new { @class = "select2 form-control custom-select", style = "width: 100%; height:48px !important;" })
                                </div>
                                <span asp-validation-for="Supplier" class="text-danger"></span>
                            </div>
                            <div class="form-group" id="parent-wrapper">
                                <label asp-for="Ledger" class=""></label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="ti-anchor"></i></div>
                                    @Html.DropDownListFor(p => p.Ledger, LedgerList, "-- Select Ledger --", new { @class = "select2 form-control custom-select", style = "width: 100%; height:48px !important;" })
                                </div>
                                <span asp-validation-for="Ledger" class="text-danger"></span>
                            </div>

                            <div class="row">
                                <div class="form-group col-sm-12" id="inv-wrapper">
                                    <label asp-for="InvoiceDate"></label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="ti-calendar"></i></div>
                                        <input asp-for="InvoiceDate" class="form-control" placeholder="Invoice Date.." value="@DateTime.Now.ToString("yyyy-MM-dd")" type="date">
                                    </div>
                                    <span asp-validation-for="InvoiceDate" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-6" id="due-wrapper" style="display:none">
                                    <label asp-for="BillDate"></label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="ti-calendar"></i></div>
                                        <input asp-for="BillDate" class="form-control" placeholder="Billing Date.." value="@DateTime.Now.ToString("yyyy-MM-dd")" type="date">
                                    </div>
                                    <span asp-validation-for="BillDate" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Term" class=""></label>
                                <div class="icheck-list gray-box">

                                    <span style="padding:5px">
                                        <input type="radio" class="check" id="square-radio-1" name="Term" data-radio="iradio_square-red" value="@((int)InvoiceTerm.Due_In_30_Days)">
                                        <label for="square-radio-1">Due in 30 days</label>
                                    </span>
                                    <span style="padding:5px">
                                        <input type="radio" class="check" id="square-radio-2" name="Term" data-radio="iradio_square-red" value="@((int)InvoiceTerm.Due_In_45_Days)">
                                        <label for="square-radio-2">Due in 45 days</label>
                                    </span>
                                    <span style="padding:5px">
                                        <input type="radio" class="check" id="square-radio-3" name="Term" data-radio="iradio_square-red" value="@((int)InvoiceTerm.Due_In_60_Days)">
                                        <label for="square-radio-3">Due in 60 days</label>
                                    </span>
                                    <span style="padding:5px">
                                        <input type="radio" class="check" id="square-radio-4" name="Term" data-radio="iradio_square-red" value="@((int)InvoiceTerm.Due_At_The_End_Of_Month)">
                                        <label for="square-radio-4">Due at the end of the month</label>
                                    </span>
                                    <span style="padding:5px">
                                        <input type="radio" class="check" id="square-radio-5" name="Term" data-radio="iradio_square-red" value="@((int)InvoiceTerm.Due_On_Day_Of_Next_Month)">
                                        <label for="square-radio-5">Due on day of next month</label>
                                    </span>
                                    <span style="padding:5px">
                                        <input type="radio" class="check" id="square-radio-6" name="Term" data-radio="iradio_square-red" value="@((int)InvoiceTerm.Due_On_Receipt)" checked>
                                        <label for="square-radio-6">Due on day of next month</label>
                                    </span>
                                    <span style="padding:5px">
                                        <input type="radio" class="check" id="square-radio-7" name="Term" data-radio="iradio_square-red" value="@((int)InvoiceTerm.Custom)">
                                        <label for="square-radio-7">Set Custom Date...</label>
                                    </span>
                                </div>
                            </div>
                            <hr />
                            <div class="form-group">
                                <label asp-for="Payables"></label>
                                <div class="form-group gray-box">
                                    <div class="accs-wrapper">

                                        <ul style="" class="ar-new" id="invoice-payables">
                                            <li style="">
                                                <p class="" id="hld" style="text-align:center;line-height:100px">
                                                    No New Entries...
                                                </p>
                                            </li>
                                        </ul>
                                        @Html.HiddenFor(l => l.Payables)
                                    </div>
                                    <hr />
                                    <p style="text-align:center"><input type="button" class="btn btn-success" id="add-entry" style="height:26px;padding:4px" value="Add New Row" data-toggle="tooltip" data-original-title="Append a new entry" /></p>

                                </div>
                            </div>
                            <div class="form-group" id="parent-wrapper">
                                <label asp-for="Project" class=""></label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="ti-anchor"></i></div>
                                    <select name="Project" id="Project" class="form-control">
                                        <option value="0">-- Select Project -- </option>
                                    </select>
                                </div>
                                <span asp-validation-for="Project" class="text-danger"></span>
                            </div>
                            @*<div class="form-group">
                            <label asp-for="DueDate"></label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-key"></i></div>
                                <input asp-for="DueDate" class="form-control" placeholder="Due Date" type="date">
                                <span asp-validation-for="DueDate" class="text-danger"></span>
                            </div>
                        </div>*@
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label>Invoice Amount</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="">@(BaseCurrency.Alias ?? BaseCurrency.Code)</i></div>
                                        <input id="inv-t-amt" class="form-control" placeholder="Gross Amount.." value="0.0" readonly>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label>Total Discount</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="">@(BaseCurrency.Alias ?? BaseCurrency.Code)</i></div>
                                        <input id="tt-dis" class="form-control" placeholder="Invoice Discount" value="0.0" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label>Net Amount</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="">@(BaseCurrency.Alias ?? BaseCurrency.Code)</i></div>
                                        <input id="inv-net" class="form-control" placeholder="New Invoice Amount.." value="0.0" readonly>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label>Total Tax</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="">@(BaseCurrency.Alias ?? BaseCurrency.Code)</i></div>
                                        <input id="inv-tax" class="form-control" placeholder="Total Taxes..." value="0.0" readonly>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="col-md-offset-5 col-md-10">
                                <button type="button" class="btn btn-info waves-effect waves-ripple m-r-10" id="submit-inv">Submit</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

        </div>

        @* Code in the scripts section below gets added at the bottom of the HTML body element, below other scripts. This
    section can be used to enter custom scripts specific to this page. *@
        @section scripts
        {
        <!-- jQuery peity -->
        <script src="/lib/plugins/peity/jquery.peity.min.js"></script>
        <script src="/lib/plugins/peity/jquery.peity.init.js"></script>
        <script src="~/lib/plugins/switchery/dist/switchery.min.js"></script>
        <script src="~/lib/plugins/select2/dist/js/select2.full.min.js" type="text/javascript"></script>
        <script src="~/lib/plugins/bootstrap-select/bootstrap-select.min.js" type="text/javascript"></script>
        <script src="~/lib/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
        <script src="~/lib/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="~/lib/plugins/multiselect/js/jquery.multi-select.js"></script>
        <script>
    typeof (NITA.FAPAccounts) === "undefined" && (NITA.FAPAccounts = []),
        @{
            var ap = AppSettings.Value.Accounts.APCreditorAccs;
            if(ap != null && ap.Count > 0)
            {
                var h = "[";
                foreach (var d in ap)
                {
                    var name = "Not Available";
                    if (string.IsNullOrEmpty(d.Name))
                    {
                        var acc = db.FinanceAccounts.SingleOrDefault(k=>k.Id == d.AccId);
                        name = acc.Name;
                    }
                    h += "{\"id\":\""+d.AccId+"\",\"name\":\""+name+"\",\"def\":\""+(d.IsDefault ?"1":"0")+"\"},";
                }
                h = h.TrimEnd(',');
                h += "]";
            <text>x = '@Html.Raw(h)', NITA.FAPAccounts = JSON.parse(x)</text>
            }
        }
        </script>
        <script>
            jQuery(document).ready(function () {
                // Switchery
                var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));
                $('.js-switch').each(function () {
                    new Switchery($(this)[0], $(this).data());
                });
                // For select 2
                $(".select2").select2();
                $('.selectpicker').selectpicker();

                // For multiselect
                $('#pre-selected-options').multiSelect();
                $('#optgroup').multiSelect({
                    selectableOptgroup: true
                });
                $('#public-methods').multiSelect();
                $('#select-all').click(function () {
                    $('#public-methods').multiSelect('select_all');
                    return false;
                });
                $('#deselect-all').click(function () {
                    $('#public-methods').multiSelect('deselect_all');
                    return false;
                });
                $('#refresh').on('click', function () {
                    $('#public-methods').multiSelect('refresh');
                    return false;
                });
                jQuery('input.check').on('change',function () {
                    var id = jQuery(this).prop('id');
                        (id === 'square-radio-7') && jQuery(this).is(':checked') ?
                        (jQuery('#inv-wrapper').removeClass('col-sm-12') && jQuery('#inv-wrapper').addClass('col-sm-6'), jQuery('#due-wrapper').show()) :
                            (jQuery('#inv-wrapper').removeClass('col-sm-6') && jQuery('#inv-wrapper').addClass('col-sm-12'), jQuery('#due-wrapper').hide())
                })
            });
        </script>
        <script>
            jQuery('#Account').on('change', function () {
                jQuery.getJSON("/projs?aid=" + this.value, function (res) {
                    res.s === "1" && ($('#Projects').empty(), jQuery("#Projects").append('<option value="0"> -- Select Project -- </option>'), jQuery.each(res.data, function (index, item) {

                        $('#Projects').append($('<option>', {
                            value: item.val,
                            text: item.txt
                        }));
                    }))
                })
            })

        </script>
        <script type="text/javascript">
            $(function () {
                $(".preloader").fadeOut();
            });
        </script>

        <script>
            //Invoices
            typeof (NITA.Departments) === "undefined" && (NITA.Departments = []), typeof (NITA.Taxes) === "undefined" && (NITA.Taxes = []),
                jQuery.getJSON('/hrdepts', function (res) {
                    console && console.log(res)
                    typeof (res.s) !== "undefined" && res.s === "1" && (NITA.Departments = JSON.parse(res.data));
                }),
                jQuery.getJSON('/alltxs', function (res) {
                    console && console.log(res)
                    typeof (res.s) !== "undefined" && res.s === "1" && (NITA.Taxes = JSON.parse(res.data));
                }),
                //ar
                jQuery('#add-entry').click(function () {
                    //
                    var b = '<li style="margin-top:5px;margin-left:5px" id="" ><div class="row acc-row-cont"><div class="form-group col-sm-4" title="Entry GL Account">';
                    b += '<label style="font-weight:bold;font-size:10px;margin:0;">GL Account</label><select class="select2 form-control custom-select inv-acc"  style="width:100%" data-placeholder="-- Select A GL Account --">', wrapper = jQuery('#invoice-payables'),
                        wrapper.children("li").children('p').length > 0 && (wrapper.empty()),
                        jQuery.each(NITA.FAccounts, function (index, item) {
                            item.typ !== "Income" && (b += '<optgroup label="🏠 ' + item.typ + ' Accounts" style="font-weight:bold"><optgroup label="⤵  ' + item.name + '">',
                                jQuery.each(item.childs, function (i, child) {
                                    b += '<option value="' + child.id + '">    ↪ ' + child.name + '</option>'
                                }), b += '</optgroup></optgroup>')
                        }),
                        b += '</select></div><div class="form-group col-sm-4" data-toggle="tooltip"  data-original-title="Select An Department" title="Entry Department">',
                        b += '<label style="font-weight:bold;font-size:10px;margin:0;">Department</label>',
                        b += '<label style="font-weight:bold;font-size:10px;margin:0;display:none" class="flag pull-right" title="This Department is missing a budget allocation for selected account.."><i class="fa fa-exclamation-circle" style="font-size:16px;color:#ff6400"></i></label>',
                        b+='<select class="select2 form-control custom-select inv-dept" style="width:100%" data-placeholder="-- Select A Department --">';
                    jQuery.each(NITA.Departments, function (index, item) {
                        b += '<option value="' + item.id + '">' + item.name + '</option>';
                    })
                    b += '</select></div>',
                        b += '<div class="form-group" style="width:28%"><label style="font-weight:bold;font-size:10px;margin:0;">Gross Amount</label><div class="input-group" data-toggle="tooltip"  data-original-title="Enter amount for this GL Account">',
                        b += '<div class="input-group-addon" style="height:28px"><i class="">' + NITA.BaseCurrency.alias + '</i></div>',
                        b += '<input name="inv-amt" class="form-control inv-amt" placeholder="Amount" value="0.0" style="height:28px" title="Entry Amount"></div></div>',

                        b += '<button class="bnt btn-sm btn-danger btn-rounded btn-rm-inv" type="button" data-toggle="tooltip" style="padding:2px;margin:2px;height:22px" data-original-title="Remove Entry" title="Remove Entry"><i class="ti-close"></i></button></div>',
                        b += '<div class="row"  style="border-top:solid thin #ccc;margin-top:4px;"><label class="col-md-2" style="font-weight:bold;font-size:10px;margin:0;">Applicable Taxes : </label><div class="form-group col-md-10" style="border-left:solid thin #ccc;margin-bottom:2px;margin-top:2px">',
                        jQuery.each(NITA.Taxes, function (index, item) {
                            b += '<div class="input-group col-sm-3"><div class="form-check bd-example-indeterminate"><label class="custom-control custom-checkbox">',
                                b += '<input type="checkbox" class="custom-control-input tax-chks" name="taxes" value="" data-id="' + item.id + '"><span class="custom-control-indicator"></span><span class="custom-control-description">' + item.name + '</span>',
                                b += '</label></div></div>';
                        }),
                        b += '</div></div>',
                        b += '<div class="row" style="border-top:solid thin #ccc">',
                        b += '<div class="form-group col-sm-3"><label style="font-weight:bold;font-size:10px;margin:0;">Discount</label><div class="input-group" data-toggle="tooltip"  data-original-title="Enter amount for this GL Account">',
                        b += '<div class="input-group-addon" style="height:28px;"><i class="">' + NITA.BaseCurrency.alias + '</i></div>',
                        b += '<input name="inv-amt" class="form-control inv-dis" placeholder="Discount" value="0.0" style="height:28px" title="Entry Discount"></div></div>',
                        b += '<div class="col-sm-9"><label style="font-weight:bold;font-size:10px;margin:0;">A/P (Creditors) Account</label><div class="input-group" title="Accounts Payable(Creditors) Account">',
                        b += '<select class="select2 form-control custom-select ap-acc"  style="width:100%" data-placeholder="-- Select A GL Account --">', wrapper = jQuery('#invoice-payables'),
                        wrapper.children("li").children('p').length > 0 && (wrapper.empty())
                    jQuery.each(NITA.FAPAccounts, function (index, item) {
                        b += '<optgroup label="⤵  Account Payable(Creditors)">',
                            b += '<option value="' + item.id + '">    ↪ ' + item.name + '</option>'
                        b += '</optgroup>'
                    }),
                        b += '</select></div></div></div>',
                        b += '</div></li>',
                        //jQuery('#ar-accs').empty(),
                        wrapper.append(b), $(".select2").select2();
                }), jQuery('body').on('click', '.btn-rm-inv', function () {
                    jQuery(this).closest("li").remove(), updateNet(),
                        jQuery('#invoice-payables').children('li').length == 0 && (jQuery('#invoice-payables').append('<li><p class="" id="hld" style="text-align:center;line-height:100px">No Entries....</p></li>'))
                }),
                jQuery('body').on('keyup', '.inv-amt', function () {
                    checkBudget(this);
                }),
                jQuery('body').on('change', '.inv-acc', function () {
                    checkBudget(this);
                }),
                jQuery('body').on('change', '.inv-dept', function () {
                    checkBudget(this);
                }),
                jQuery('body').on('keyup', '.inv-dis', function () {
                    updateNet();
                }),
                jQuery('body').on('change', '.tax-chks', function () {
                    updateNet();
                }),
                jQuery('body').on('click', '#submit-inv', function () {
                    var impaccs = [];
                    jQuery('#invoice-payables').children("li").children('p').length == 0 && (jQuery.each(jQuery('#invoice-payables').children('li'), function (i, o) {
                        var g = jQuery(o).find("select.inv-acc").val(), h = jQuery(o).find("select.inv-dept").val(), amt = jQuery(o).find('input.inv-amt').val(), dis = jQuery(o).find('input.inv-dis').val(), ap = jQuery(o).find('select.ap-acc').val();
                        typeof (g) !== "undefined" && (Number(g) > 0 && (taxes = [], jQuery.each(jQuery(o).find("input.tax-chks"), function (y, z) {
                            jQuery(z).is(':checked') && taxes.push(jQuery(z).data('id'))
                        }), impaccs.push({ 'AccId': g, 'Dept': h, 'GrossAmount': amt, 'Discount': dis, 'Taxes': taxes, 'ApAcc': ap })))
                    })), console && console.log('Payables = ' + JSON.stringify(impaccs)), jQuery('#Payables').val(JSON.stringify(impaccs)), jQuery('#invoice-form').submit()
                }),
                checkBudget = function (e) {
                var li = jQuery(e).closest('li'), aid = jQuery(li).find('select.inv-acc').val(), did = jQuery(li).find('select.inv-dept').val(), ap = jQuery(li).find('select.ap-acc').val(), obj = li.find('input.inv-amt'), flag = li.find('label.flag');
                aid && jQuery.each(NITA.FAccounts, function (j, par) {
                    jQuery.each(par.childs, function (i, child) {
                        child.id === aid && child.bitem && jQuery.getJSON('/deptbudget?aid=' + aid + '&did=' + did, function (res) {
                            console && console.log('Received Dept Budget = ' + JSON.stringify(res))
                            var data = JSON.parse(res.data);
                            res.s === "1" && (updateNet(), amt = jQuery('#inv-t-amt').val(), Number(data.bamt) > 0 ? ((Number(data.rem) - Number(amt)) < 0 ? (alert('There is no sufficient funds in the selected department to fund this payment.'), jQuery(obj).val('0.0'), updateNet(), flag.hide()) : (flag.hide(), console && console.log('Budget exists..'), updateNet())) : (child.bitem === "1" && flag.show(),console && console.log("Selected GL Account does not have a budget allocation")))
                        })
                    })
                })

                },
                updateNet = function () {
                    var tt = 0.0, tax = 0.0, tdis = 0.0;
                    jQuery.each(jQuery('#invoice-payables').children('li'), function (i, o) {
                        var ui = jQuery(o).find("input.tax-chks"), dis = jQuery(o).find("input.inv-dis").val();
                        if (ui.is(":checked")) {
                            var amt = jQuery(o).find("input.inv-amt").val(), dis = jQuery(o).find("input.inv-dis").val(), tid = ui.data('id');
                            for (var d in NITA.Taxes) {
                                var e = NITA.Taxes[d]
                                if (e.id == tid) {
                                    var d = (Number(amt - dis) * Number(parseFloat(e.rate) / 100));
                                    //roundings
                                    switch (e.rtyp) {
                                        case '2'://down
                                            d = Math.floor(d);
                                            break;
                                        case '1'://up
                                            d = Math.ceil(d);
                                            break;
                                        default:
                                            //
                                            d = Number(parseFloat(d).toFixed(2));
                                            break;
                                    }
                                    tax += d;
                                }
                            }
                        }
                        tdis += Number(dis);
                        tt += Number(jQuery(o).find('input.inv-amt').val());
                    }), x = Number(tt - tdis - tax),
                        jQuery('#inv-t-amt').val(tt.toFixed(2)), jQuery('#inv-net').val(x.toFixed(2)), jQuery('#inv-tax').val(tax.toFixed(2)), jQuery('#tt-dis').val(tdis.toFixed(2))
                };
        </script>
        }
