﻿@inject IOptionsSnapshot<AppSettings> AppSettings

@using Microsoft.EntityFrameworkCore;

@inject ApplicationDbContext db
@{
    // title - The title of the page which appears in the browser window title. Aim for the title to be less than 70
    //         characters. The site name appears at the end for better SEO.
    ViewBag.Title = "Finance Payments Registry";
    // Description - Used by search engines. Aim for more than 160 characters.
    ViewBag.Description = "All Payments";


    var BaseCurrency = db.FCurrencies.Single(l => l.IsBase);
}

@* Code in the head section below gets added at the bottom of the HTML head element. This section can be used to enter
    custom meta tags specific to this page. *@
@section head
    {
    @* Author - (Optional) Used by search engines. The author of the page. *@
    <meta name="author" content="ABNO Softwares Int.">
    @* Add Twitter Card social meta tags so we can customize what happens when our page is shared on Twitter. There are
        several different Twitter Card types we could add, a different one is added on each page as an example.
        These helpers make it very easy to add the meta tags. For best performance, see what tags are generated and
        hand-code them yourself instead of using these helpers. *@
    <twitter-card-summary-large-image username="@@ABNO">
        @* Add Open Graph social meta tags so we can customize what happens when our page is shared on Facebook, Google+,
            Pintrest and other social media websites. There are dozens of Open Graph types, a different one is added on
            each page as an example. These helpers make it very easy to add the meta tags. For best performance, see what
            tags are generated and hand-code them yourself instead of using these helpers. *@
        <open-graph-website site-name="@AppSettings.Value.SiteTitle"
                            title="@ViewBag.Title"
                            main-image="@(new OpenGraphImage(
                                Url.AbsoluteContent(" ~/img/icons/open-graph-1200x630.png"),
        ContentType.Png,
        1200,
        630))"
                            determiner="Blank">
            @* referrer - Controls what is sent in the HTTP referrer header when a client navigates to an external site. *@
            <meta asp-referrer="OriginWhenCrossOrigin">

            <!-- Footable CSS -->
            <link href="~/lib/plugins/footable/css/footable.core.css" rel="stylesheet">
            <link href="~/lib/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
            <!-- Custom CSS -->
            <link href="~/lib/css/style.css" rel="stylesheet">
            <!-- page css -->
            <link href="~/lib/css/pages/footable-page.css" rel="stylesheet">
            <!-- You can change the theme colors from here -->
            <link href="~/lib/css/colors/default-dark.css" id="theme" rel="stylesheet">

            @if (ViewData["Message"] != null)
            {
                <script>
            /**/
            var msg = '@ViewData["Message"]'
            /**/
                </script>
            }
}
<div class="container-fluid">

    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">@ViewBag.Title</h3>
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Finance</a></li>
                <li class="breadcrumb-item">General Ledger</li>
                <li class="breadcrumb-item active">All Payments</li>
            </ol>
        </div>
        <div>
            <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-12">
            <!-- Column -->
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">An overview of all payments</h6>
                    <div class="gray-box">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs customtab" role="tablist">
                            <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#pv" role="tab"><span class="hidden-sm-up"><i class="ti-home"></i></span> <span class="hidden-xs-down">Voucher Payments </span></a> </li>
                            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#iw" role="tab"><span class="hidden-sm-up"><i class="fa"></i></span> <span class="hidden-xs-down">Imprest Warrant Payments </span></a> </li>
                            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#pc" role="tab"><span class="hidden-sm-up"><i class="ti-user"></i></span> <span class="hidden-xs-down">Petty-Cash Payments </span></a> </li>
                            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#ec" role="tab"><span class="hidden-sm-up"><i class="ti-user"></i></span> <span class="hidden-xs-down">Expense Claim Payments </span></a> </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content" style="overflow-x:auto">
                            <div class="tab-pane active p-20" id="pv" role="tabpanel">
                                @{
                                    //
                                    var VoucherList = db.FPaymentVouchers.Include(l => l.Ledger).ThenInclude(l => l.PVoucherPrefixes).Include(k => k.Supplier).Include(o => o.PaymentAccount)
                                    .Include(k => k.Payments).ThenInclude(k => k.CurrencyUsed).Include(l => l.Personnel).Include(l => l.PostingPersonnel)
                                    .Include(l => l.Personnel).Include(k => k.Payments).ThenInclude(k => k.ExpenseClaim).ThenInclude(l => l.Staff)
                                    .Include(k => k.Payments).ThenInclude(k => k.ImprestWarrant).ThenInclude(l => l.Staff).ToList();

                                }
                                <h5 class="card-subtitle pull-left" style="font-weight:bold">PAYMENT VOUCHERS</h5>

                                @if (VoucherList.Count > 0)
                                {
                                    <button class="btn btn-info waves-effect export-pvs pull-right" data-toggle="tooltip" data-id="" data-original-title="Export As Speedsheet"> <i class="fa fa-file-excel-o"> Export Vouchers (.xlsx)</i></button>
                                }
                                <div class="clearfix"></div>
                                <table class="table table-striped table-bordered" id="pv-editable-datatable">
                                    <thead>
                                        <tr>
                                            <th style="font-weight:bold">Doc. No.</th>
                                            <th style="font-weight:bold">Supplier/Payee(s) Ref.</th>
                                            <th style="font-weight:bold">Supplier/Payee(s) Name</th>
                                            <th style="font-weight:bold">Type </th>
                                            <th style="font-weight:bold">Ledger</th>
                                            <th style="font-weight:bold">Payment Account</th>
                                            <th style="font-weight:bold">Cheque No.</th>
                                            <th style="font-weight:bold">Amount</th>
                                            <th style="font-weight:bold">Voucher Date</th>
                                            <th style="font-weight:bold">Created By</th>
                                            <th style="font-weight:bold">Status</th>
                                            <th style="font-weight:bold">Date Posted</th>
                                            <th style="font-weight:bold">Posted By</th>
                                            <th style="font-weight:bold"> Actions </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (VoucherList.Count > 0)
                                        {
                                            foreach (var pv in VoucherList)
                                            {
                                                <tr class="@if (pv.Status == PVStatus.Cancelled) {<text>label-danger</text> } else if (pv.Status == PVStatus.Pending) {<text> label-warning </text> }else{<text> </text>} ">
                                                    <td>@(pv.Ledger.PVoucherPrefixes.FirstOrDefault()?.Code ?? "PV")@pv.VoucherNo</td>
                                                    <td>
                                                        @if (pv.Type == PVType.Regular)
                                                        {
                                                            <span>@pv.Supplier.Name ~ SUP@(pv.Supplier.RefNo.ToString("0000"))</span>
                                                        }
                                                        else if (pv.Type == PVType.ExpenseClaim)
                                                        {
                                                            <ul style="padding-left:2px">
                                                                @foreach (var staff in pv.Payments.Select(k => k.ExpenseClaim.Staff).Distinct())
                                                                {
                                                                    <li style="list-style:none"> <i class="fa fa-dot-circle-o"></i> @staff.EmplNo</li>
                                                                }
                                                            </ul>
                                                        }
                                                        else if (pv.Type == PVType.Imprest)
                                                        {
                                                            <ul style="padding-left:2px">
                                                                @foreach (var staff in pv.Payments.Select(k => k.ImprestWarrant.Staff).Distinct())
                                                                {
                                                                    <li style="list-style:none"><i class="fa fa-dot-circle-o"></i> @staff.EmplNo</li>
                                                                }
                                                            </ul>
                                                        }
                                                    </td>
                                                    <td>
                                                        @if (pv.Type == PVType.Regular)
                                                        {
                                                            <span>- @(pv.Supplier?.Name ?? pv.Payments.FirstOrDefault()?.PayeeName)</span>
                                                        }
                                                        else if (pv.Type == PVType.ExpenseClaim)
                                                        {
                                                            <ul style="padding-left:2px">
                                                                @foreach (var staff in pv.Payments.Select(k => k.ExpenseClaim.Staff).Distinct())
                                                                {
                                                                    <li style="list-style:none"><i class="fa fa-dot-circle-o"></i> @staff.FullName</li>
                                                                }
                                                            </ul>
                                                        }
                                                        else if (pv.Type == PVType.Imprest)
                                                        {
                                                            <ul style="padding-left:2px">
                                                                @foreach (var staff in pv.Payments.Select(k => k.ImprestWarrant.Staff).Distinct())
                                                                {
                                                                    <li style="list-style:none"><i class="fa fa-dot-circle-o"></i> @staff.FullName</li>
                                                                }
                                                            </ul>
                                                        }
                                                    </td>
                                                    <td>@pv.Type voucher</td>
                                                    <td>@pv.Ledger.Name</td>
                                                    <td>@(pv.PaymentAccount?.Name ?? "Not Available")</td>
                                                    <td>@(pv.CheckNo ?? "Not Available")</td>
                                                    <td>@pv.Payments.First().CurrencyUsed.Alias @((await Utils.CalculatePayableAmount(pv.Payments.ToList())).ToString("#,##0"))</td>
                                                    <td>@pv.VoucherDate.ToString("dd MMM yyyy")</td>
                                                    <td>@pv.Personnel.FullName</td>
                                                    <td>@pv.Status</td>
                                                    <td>@(pv.PayDate?.ToString("dd MMM yyyy") ?? "Not Available")</td>
                                                    <td>@(pv.PostingPersonnel?.FullName ?? "Not Available")</td>
                                                    <td>
                                                        @if (pv.Status == PVStatus.Pending)
                                                        {
                                                            <a href="@Url.RouteUrl(FinanceControllerRoute.GetUpdateRegularPVoucher, new { pid = pv.Id })" data-toggle="tooltip" data-original-title="Update"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                                            <a href="@Url.RouteUrl(FinanceControllerRoute.GetPostPaymentVoucher, new { pid = pv.Id })" data-toggle="tooltip" data-original-title="Post this Voucher"> <i class="fa fa-send text-inverse m-r-10"></i> </a>

                                                            <a href="javascript:void(0)" data-toggle="tooltip" class="suspend-ledger" data-id="@pv.Id" data-original-title="Delete"> <i class="fa fa-close text-danger"></i> </a>
                                                        }
                                                        else if (pv.Status == PVStatus.Posted)
                                                        {
                                                            <a href="@Url.RouteUrl(FinanceControllerRoute.GetPreviewPVoucher, new { pid = pv.Id })" data-toggle="tooltip" data-original-title="Preview and Print"> <i class="fa fa-eye text-inverse m-r-10"></i> </a>
                                                        }
                                                        else
                                                        {

                                                        }
                                                    </td>
                                                </tr>
                                            }

                                        }
                                        else
                                        {
                                            <tr>
                                                <td colspan="14" style="text-align:center">No Vouchers found..</td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th style="font-weight:bold">Doc. No.</th>
                                            <th style="font-weight:bold">Supplier/Payee Ref./Staff No</th>
                                            <th style="font-weight:bold">Supplier/Payee Name/Staff No</th>
                                            <th style="font-weight:bold">Type</th>
                                            <th style="font-weight:bold">Ledger</th>
                                            <th style="font-weight:bold">Payment Account</th>
                                            <th style="font-weight:bold">Cheque No.</th>
                                            <th style="font-weight:bold">Amount</th>
                                            <th style="font-weight:bold">Voucher Date</th>
                                            <th style="font-weight:bold">Created By</th>
                                            <th style="font-weight:bold">Status</th>
                                            <th style="font-weight:bold">Date Posted</th>
                                            <th style="font-weight:bold">Posted By</th>
                                            <th style="font-weight:bold"> Actions </th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="tab-pane p-20" id="iw" role="tabpanel">
                                @{
                                    var WarrantList = db.FImprestWarrants.Include(l => l.Ledger).ThenInclude(l => l.PVoucherPrefixes).Include(l => l.Disbursement).ThenInclude(l => l.Personnel).Include(l => l.Disbursement).ThenInclude(l => l.Surrender).ThenInclude(l => l.Personnel)
                                    .Include(l => l.Staff).Include(l => l.Payments).ThenInclude(l => l.CurrencyUsed).Include(l => l.Payments).ThenInclude(l => l.Voucher).ThenInclude(l => l.PostingPersonnel).ToList();
                                }
                                <h5 class="card-subtitle pull-left" style="font-weight:bold">IMPREST WARRANT PAYMENTS</h5>
                                @if (WarrantList.Count > 0)
                                {
                                    <button class="btn btn-info waves-effect export-pvs pull-right" data-toggle="tooltip" data-id="" data-original-title="Export As Speedsheet"> <i class="fa fa-file-excel-o"> Export Vouchers (.xlsx)</i></button>
                                }
                                <div class="clearfix"></div>
                                <table class="table table-striped table-bordered" id="iw-editable-datatable">
                                    <thead>
                                        <tr>
                                            <th style="font-weight:bold">Doc. No.</th>
                                            <th style="font-weight:bold">Order No.</th>
                                            <th style="font-weight:bold">Staff No.</th>
                                            <th style="font-weight:bold">Staff Name</th>
                                            <th style="font-weight:bold">Ledger</th>
                                            <th style="font-weight:bold">Payment Account</th>
                                            <th style="font-weight:bold">Cheque No.</th>
                                            <th style="font-weight:bold">Amount</th>
                                            <th style="font-weight:bold">Imprest Date</th>
                                            <th style="font-weight:bold">Created By</th>
                                            <th style="font-weight:bold">Disbursed ? </th>
                                            <th style="font-weight:bold">Date Disbursed</th>
                                            <th style="font-weight:bold">Disbursed By</th>
                                            <th style="font-weight:bold">Surrendered ? </th>
                                            <th style="font-weight:bold">Date Surrendered</th>
                                            <th style="font-weight:bold"> Actions </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (WarrantList.Count > 0)
                                        {
                                            foreach (var iw in WarrantList)
                                            {
                                                <tr class="@if (iw.Status == EntityStatus.Cancelled) {<text>label-danger</text> } else if (iw.Status == EntityStatus.Pending) {<text> label-warning </text> } else {<text> </text>} ">

                                                    <td>IW@(iw.Ref.ToString("0000"))</td>
                                                    <td>@iw.OrderNo</td>
                                                    <td>@iw.Staff.EmplNo</td>
                                                    <td>@iw.Staff.FullName</td>
                                                    <td>@iw.Ledger.Name</td>
                                                    <td>@("Not Available")</td>
                                                    <td>@("Not Available")</td>
                                                    <td>@iw.Payments.First().CurrencyUsed.Alias @((await Utils.CalculatePayableAmount(iw.Payments.ToList())).ToString("#,##0"))</td>
                                                    <td>@iw.CreateDate.ToString("dd MMM yyyy")</td>
                                                    <td>@iw.Personnel.FullName</td>
                                                    <td>@Html.Raw(iw.Disbursement != null ? "<span class=\"label label-table label-success\">✓</span>" : "<span class=\"label label-table label-danger\">X</span>")</td>
                                                    <td>@(iw.Disbursement?.DateCreated.ToString("dd MMM yyyy") ?? "Not Available")</td>
                                                    <td>@(iw.Payments.Any(l => l.Voucher != null) ? iw.Payments.First(l => l.Voucher != null && l.Voucher.PostingPersonnel != null).Voucher.PostingPersonnel.FullName : iw.Disbursement != null ? iw.Disbursement.Personnel.FullName : "Not Available")</td>
                                                    <td>@Html.Raw(iw.Disbursement?.Surrender != null ? "<span class=\"label label-table label-success\">✓</span>" : "<span class=\"label label-table label-danger\">X</span>")</td>
                                                    <td>@(iw.Disbursement?.Surrender?.DateSurrendered.ToString("dd MMM yyyy") ?? "Not Available")</td>
                                                    <td>
                                                        @if (iw.Disbursement != null && iw.Disbursement.Surrender == null)
                                                        {<a href="@Url.RouteUrl(FinanceControllerRoute.GetAddImprestSurrender, new { iid = iw.Id })" data-toggle="tooltip" data-original-title="Surrender this Imprest"> <i class="fa fa-send-o text-inverse m-r-10"></i> </a>}
                                                        else if (iw.Disbursement == null && !iw.Payments.Any(l => l.Voucher != null))
                                                        {<a href="@Url.RouteUrl(FinanceControllerRoute.GetAddImprestDisbursement, new { iid = iw.Id })" data-toggle="tooltip" data-original-title="Disburse this Imprest"> <i class="fa fa-send-o text-inverse m-r-10"></i> </a>
                                                            <a href="javascript:void(0)" data-toggle="tooltip" class="suspend-ledger" data-id="@iw.Id" data-original-title="Suspend Imprest"> <i class="fa fa-close text-danger"></i> </a>
                                                        }
                                                        else
                                                        { <a href="javascript:void(0)" data-toggle="tooltip" data-original-title="Preview Payment"> <i class="fa fa-eye text-inverse m-r-10"></i> </a>}
                                                    </td>

                                                </tr>
                                            }

                                        }
                                        else
                                        {
                                            <tr>
                                                <td colspan="14" style="text-align:center">No Imprest Warrants found..</td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th style="font-weight:bold">Doc. No.</th>
                                            <th style="font-weight:bold">Order No.</th>
                                            <th style="font-weight:bold">Staff No.</th>
                                            <th style="font-weight:bold">Staff Name</th>
                                            <th style="font-weight:bold">Ledger</th>
                                            <th style="font-weight:bold">Payment Account</th>
                                            <th style="font-weight:bold">Cheque No.</th>
                                            <th style="font-weight:bold">Amount</th>
                                            <th style="font-weight:bold">Imprest Date</th>
                                            <th style="font-weight:bold">Created By</th>
                                            <th style="font-weight:bold">Disbursed ? </th>
                                            <th style="font-weight:bold">Date Disbursed</th>
                                            <th style="font-weight:bold">Disbursed By</th>
                                            <th style="font-weight:bold">Surrendered ? </th>
                                            <th style="font-weight:bold">Date Surrendered</th>
                                            <th style="font-weight:bold"> Actions </th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="tab-pane p-20" id="pc" role="tabpanel">
                                @{
                                    var PCList = db.FPettyCashReqs.Include(l => l.Payments).ThenInclude(l => l.CurrencyUsed).Include(l => l.Ledger).Include(l => l.Personnel).Include(l => l.Staff).ToList();
                                }
                                <h5 class="card-subtitle pull-left" style="font-weight:bold">PETTY-CASH PAYMENTS</h5>
                                @if (PCList.Count > 0)
                                {
                                    <button class="btn btn-info waves-effect export-pvs pull-right" data-toggle="tooltip" data-id="" data-original-title="Export As Speedsheet"> <i class="fa fa-file-excel-o"> Export Vouchers (.xlsx)</i></button>

                                }
                                <div class="clearfix"></div>
                                <table class="table table-striped table-bordered" id="pc-editable-datatable">
                                    <thead>
                                        <tr>
                                            <th style="font-weight:bold">Doc. No.</th>
                                            <th style="font-weight:bold">Staff No.</th>
                                            <th style="font-weight:bold">Staff Name</th>
                                            <th style="font-weight:bold">Ledger</th>
                                            <th style="font-weight:bold">Payment Account</th>
                                            <th style="font-weight:bold">Cheque No.</th>
                                            <th style="font-weight:bold">Amount</th>
                                            <th style="font-weight:bold">Date Created</th>
                                            <th style="font-weight:bold">Created By</th>
                                            <th style="font-weight:bold">Disbursed ? </th>
                                            <th style="font-weight:bold">Date Disbursed</th>
                                            <th style="font-weight:bold">Disbursed By</th>
                                            <th style="font-weight:bold"> Actions </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (PCList.Count > 0)
                                        {
                                            foreach (var pc in PCList)
                                            {
                                                <tr class="@if (pc.Status == EntityStatus.Cancelled) {<text>label-danger</text> } else if (pc.Status == EntityStatus.Pending) {<text> label-warning </text> } else {<text> </text>} ">

                                                    <td>PC@(pc.Ref.ToString("0000"))</td>
                                                    <td>@pc.Staff.EmplNo</td>
                                                    <td>@pc.Staff.FullName</td>
                                                    <td>@pc.Ledger.Name</td>
                                                    <td>@("Not Available")</td>
                                                    <td>@("Not Available")</td>
                                                    <td>@pc.Payments.First().CurrencyUsed.Alias @((await Utils.CalculatePayableAmount(pc.Payments.ToList())).ToString("#,##0"))</td>
                                                    <td>@pc.DateCreated.ToString("dd MMM yyyy")</td>
                                                    <td>@pc.Personnel.FullName</td>
                                                    <td>@(pc.Disbursement == null ? "NO" : "YES")</td>
                                                    <td>@(pc.Disbursement?.DateCreated.ToString("dd MMM yyyy") ?? "Not Available")</td>
                                                    <td>@(pc.Disbursement?.Personnel.FullName ?? "Not Available")</td>
                                                    <td class="text-nowrap">
                                                        <a href="@Url.RouteUrl(FinanceUtilsControllerRoute.UpdateCurrency, new { cid = pc.Id })" data-toggle="tooltip" data-original-title="Update"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                                        @if (pc.Disbursement == null)
                                                        {<a href="javascript:void(0)" data-toggle="tooltip" class="suspend-ledger" data-id="@pc.Id" data-original-title="Disburse Petty Cash"> <i class="fa fa-send text-inverse  m-r-10"></i> </a>}
                                                        <a href="javascript:void(0)" data-toggle="tooltip" class="suspend-ledger" data-id="@pc.Id" data-original-title="Suspend"> <i class="fa fa-close text-danger"></i> </a>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td colspan="14" style="text-align:center">No Petty-Cash entries found..</td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th style="font-weight:bold">Doc. No.</th>
                                            <th style="font-weight:bold">Staff No.</th>
                                            <th style="font-weight:bold">Staff Name</th>
                                            <th style="font-weight:bold">Ledger</th>
                                            <th style="font-weight:bold">Payment Account</th>
                                            <th style="font-weight:bold">Cheque No.</th>
                                            <th style="font-weight:bold">Amount</th>
                                            <th style="font-weight:bold">Date Created</th>
                                            <th style="font-weight:bold">Created By</th>
                                            <th style="font-weight:bold">Disbursed ? </th>
                                            <th style="font-weight:bold">Date Disbursed</th>
                                            <th style="font-weight:bold">Disbursed By</th>
                                            <th style="font-weight:bold"> Actions </th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="tab-pane p-20" id="ec" role="tabpanel">
                                @{
                                    var ClaimList = db.FExpenseClaims.Include(l => l.ClaimEntries).Include(l => l.Disbursement)
                                    .Include(l => l.Imprest).Include(l => l.Payments).ThenInclude(l => l.CurrencyUsed).Include(l => l.Personnel)
                                    .Include(l => l.Mileage).Include(k => k.Staff).Include(l => l.Payments).ThenInclude(l => l.Voucher).ThenInclude(l => l.PostingPersonnel).ToList();
                                }
                                <h6 class="card-subtitle pull-left" style="font-weight:bold">EXPENSE CLAIM PAYMENTS</h6>
                                @if (ClaimList.Count > 0)
                                {
                                    <button class="btn btn-info waves-effect export-pvs pull-right" data-toggle="tooltip" data-id="" data-original-title="Export As Speedsheet"> <i class="fa fa-file-excel-o"> Export Vouchers (.xlsx)</i></button>

                                }
                                <div class="clearfix"></div>
                                <table class="table table-striped table-bordered" id="ec-editable-datatable">
                                    <thead>
                                        <tr>
                                            <th style="font-weight:bold">Ref. No.</th>
                                            <th style="font-weight:bold">Staff No.</th>
                                            <th style="font-weight:bold">Staff Name</th>
                                            <th style="font-weight:bold">Ledger</th>
                                            <th style="font-weight:bold">Payment Account</th>
                                            <th style="font-weight:bold">Cheque No.</th>
                                            <th style="font-weight:bold">Amount</th>
                                            <th style="font-weight:bold">Date Created</th>
                                            <th style="font-weight:bold">Imprest Warrant</th>
                                            <th style="font-weight:bold">Created By</th>
                                            <th style="font-weight:bold">Disbursed ? </th>
                                            <th style="font-weight:bold">Date Disbursed</th>
                                            <th style="font-weight:bold">Disbursed By</th>
                                            <th style="font-weight:bold"> Actions </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (ClaimList.Count > 0)
                                        {
                                            foreach (var ec in ClaimList)
                                            {
                                                <tr class="@if (ec.Status == EntityStatus.Cancelled) {<text>label-danger</text> } else if (ec.Status == EntityStatus.Pending) {<text> label-warning </text> } else {<text> </text>} ">
                                                    <td>
                                                        EC@(ec.Ref.ToString("0000"))
                                                    </td>
                                                    <td>@ec.Staff.EmplNo</td>
                                                    <td>@ec.Staff.FullName</td>
                                                    <td>@ec.Ledger.Name</td>
                                                    <td>Not Available</td>
                                                    <td>Not Available</td>
                                                    <td>@ec.Payments.First().CurrencyUsed.Alias @((await Utils.CalculatePayableAmount(ec.Payments.ToList())).ToString("#,##0"))</td>
                                                    <td>@ec.DateCreated.ToString("dd MMM yyyy")</td>
                                                    <td>@(ec.Imprest?.Ref.ToString("0000") ?? "Not Available")</td>
                                                    <td>@ec.Personnel.FullName</td>
                                                    <td>@(ec.Payments.Any(l => l.Voucher != null) ? "YES" : ec.Disbursement != null ? "YES" : "NO")</td>
                                                    <td>@(ec.Payments.Any(l => l.Voucher != null) ? ec.Payments.First(l => l.Voucher != null).Voucher.PayDate?.ToString("dd MMM yyyy") : ec.Disbursement != null ? ec.DateCreated.ToString("dd MMM yyyy") : "Not Available")</td>
                                                    <td>@(ec.Payments.Any(l => l.Voucher != null) ? ec.Payments.First(l => l.Voucher != null && l.Voucher.PostingPersonnel != null).Voucher.PostingPersonnel?.FullName : ec.Disbursement != null ? ec.Disbursement.Personnel.FullName : "Not Available")</td>
                                                    <td class="text-nowrap">
                                                        @if (ec.Payments.Any(l => l.Voucher != null && l.Voucher.PostingPersonnel != null) || ec.Disbursement != null)
                                                        {

                                                            <a href="javascript:void(0)" data-toggle="tooltip" data-original-title="Preview"> <i class="fa fa-eye text-inverse m-r-10"></i> </a>
                                                        }
                                                        else
                                                        {
                                                            <a href="javascript:void(0)" data-toggle="tooltip" data-original-title="Update"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                                            <a href="@Url.RouteUrl(FinanceControllerRoute.GetAddExpenseDisbursement,new { cid = ec.Id})" data-toggle="tooltip" data-original-title="Disburse this Claim"> <i class="fa fa-send-o text-inverse m-r-10"></i> </a>
                                                            <a href="javascript:void(0)" data-toggle="tooltip" class="suspend-ledger" data-id="@ec.Id" data-original-title="Suspend"> <i class="fa fa-close text-danger"></i> </a>
                                                        }
                                                    </td>
                                                </tr>

                                            }

                                        }
                                        else
                                        {
                                            <tr>
                                                <td colspan="14" style="text-align:center">No Expense Claims found..</td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th style="font-weight:bold">Ref. No.</th>
                                            <th style="font-weight:bold">Staff No.</th>
                                            <th style="font-weight:bold">Staff Name</th>
                                            <th style="font-weight:bold">Ledger</th>
                                            <th style="font-weight:bold">Payment Account</th>
                                            <th style="font-weight:bold">Cheque No.</th>
                                            <th style="font-weight:bold">Amount</th>
                                            <th style="font-weight:bold">Date Created</th>
                                            <th style="font-weight:bold">Imprest Warrant</th>
                                            <th style="font-weight:bold">Created By</th>
                                            <th style="font-weight:bold">Disbursed ? </th>
                                            <th style="font-weight:bold">Date Disbursed</th>
                                            <th style="font-weight:bold">Disbursed By</th>
                                            <th style="font-weight:bold"> Actions </th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@* Code in the scripts section below gets added at the bottom of the HTML body element, below other scripts. This
    section can be used to enter custom scripts specific to this page. *@
@section scripts
    {
    <!-- Footable -->
    <script src="~/lib/plugins/footable/js/footable.all.min.js"></script>
    <script src="~/lib/plugins/bootstrap-select/bootstrap-select.min.js" type="text/javascript"></script>
    <!-- Editable -->
    <script src="~/lib/plugins/jquery-datatables-editable/jquery.dataTables.js"></script>
    <script src="~/lib/plugins/datatables/dataTables.bootstrap.js"></script>
    <script src="~/lib/plugins/tiny-editable/mindmup-editabletable.js"></script>
    <script src="~/lib/plugins/tiny-editable/numeric-input-example.js"></script>
    <script>
        jQuery(document).ready(function () {
            jQuery('#pv-editable-datatable').DataTable();
            jQuery('#iw-editable-datatable').DataTable();
            jQuery('#pc-editable-datatable').DataTable();
            jQuery('#ec-editable-datatable').DataTable();
        });
    </script>

    <script>
        jQuery('#add-inv').click(function () {
            window.location = jQuery(this).data('target');
        })
    </script>
    <script type="text/javascript">
        $(function () {
            $(".preloader").fadeOut();
        });

    </script>
}
