﻿@using Microsoft.EntityFrameworkCore;

@inject IOptionsSnapshot<AppSettings> AppSettings
@inject ApplicationDbContext db
@model PostPaymentVoucherViewModel
@{
    // title - The title of the page which appears in the browser window title. Aim for the title to be less than 70
    //         characters. The site name appears at the end for better SEO.
    ViewBag.Title = "Post " + Model.Voucher.Type + " Payment Voucher";
    // Description - Used by search engines. Aim for more than 160 characters.
    ViewBag.Description = "Pay a pending payment voucher";


    var PayTypeList = new List<SelectListItem>();

    foreach (var f in Model.Voucher.Ledger.PaymentAccounts.Select(p => p.Mode).Distinct())
    {

        PayTypeList.Add(new SelectListItem() { Text = "" + f, Value = (int)f + "" });
    }

}

@* Code in the head section below gets added at the bottom of the HTML head element. This section can be used to enter
    custom meta tags specific to this page. *@
@section head
    {
    @* Author - (Optional) Used by search engines. The author of the page. *@
    <meta name="author" content="ABNO Softwares Int.">
    @* Add Twitter Card social meta tags so we can customize what happens when our page is shared on Twitter. There are
        several different Twitter Card types we could add, a different one is added on each page as an example.
        These helpers make it very easy to add the meta tags. For best performance, see what tags are generated and
        hand-code them yourself instead of using these helpers. *@
    <twitter-card-summary-large-image username="@@ABNO">
        @* Add Open Graph social meta tags so we can customize what happens when our page is shared on Facebook, Google+,
            Pintrest and other social media websites. There are dozens of Open Graph types, a different one is added on
            each page as an example. These helpers make it very easy to add the meta tags. For best performance, see what
            tags are generated and hand-code them yourself instead of using these helpers. *@
        <open-graph-website site-name="@AppSettings.Value.SiteTitle"
                            title="@ViewBag.Title"
                            main-image="@(new OpenGraphImage(
                                Url.AbsoluteContent("~/img/icons/open-graph-1200x630.png"),
                                ContentType.Png,
                                1200,
                                630))"
                            determiner="Blank">
            @* referrer - Controls what is sent in the HTTP referrer header when a client navigates to an external site. *@
            <meta asp-referrer="OriginWhenCrossOrigin">

            <style>
                .gray-box {
                    border: solid thin #ccc;
                    border-radius: 2px 2px;
                    margin: 5px;
                    padding: 4px
                }
            </style>
}
<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">@ViewBag.Title</h3>
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Finance</a></li>
                <li class="breadcrumb-item">General Ledger</li>
                <li class="breadcrumb-item active">Voucher Posting</li>
            </ol>
        </div>

    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-lg-11">
            <div class="card">
                <div class="card-body">
                    <form asp-route="@(Model.Voucher.Type == PVType.Tax ? FinanceControllerRoute.GetPostTaxPV : FinanceControllerRoute.GetPostPaymentVoucher)" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form p-t-20" role="form">
                        <hr />
                        <h6 class="card-subtitle">Voucher Details</h6>
                        <div asp-validation-summary="All" class="text-danger"></div>
                        @Html.HiddenFor(l => l.VoucherId)

                        @if (Model.Voucher.Type == PVType.Regular || Model.Voucher.Type == PVType.Tax)
                        {
                            @*Regular Vouchers*@
                            <div class="form-group">
                                <label class="strong">Voucher No.</label>
                                <div class="input-group">
                                    <select class="form-control" readonly>
                                        <option value="@(Model.Voucher.Payments?.FirstOrDefault()?.PayeeName ?? Model.Voucher.Supplier.Name)" selected>@(Model.Voucher.Ledger.PVoucherPrefixes?.OrderBy(l => l.DateCreated).FirstOrDefault().Code)@(Model.Voucher.VoucherNo)</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">

                                    <div class="form-group">
                                        <label class="strong">Payee Name</label>
                                        <div class="input-group">
                                            <input class="form-control" type="text" value="@(Model.Voucher.Payments.FirstOrDefault()?.PayeeName ?? Model.Voucher.Supplier.Name)" readonly />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="strong">Ledger</label>
                                        <div class="input-group">
                                            <input class="form-control" type="text" value="@(Model.Voucher.Ledger?.Name ?? "Not Available")" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="strong">Created By</label>
                                        <div class="input-group">
                                            <input type="text" value="@Model.Voucher.Personnel.FullName" class="form-control" readonly>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="strong">Voucher Date</label>
                                        <div class="input-group">
                                            <input value="@(Model.Voucher.VoucherDate.ToString("dd MMMM yyyy"))" type="text" class="form-control" readonly>
                                        </div>
                                    </div>
                                    @{
                                        var jj = Model.Voucher.Payments.First().Id; var payment = db.FWallet.Include(f => f.CurrencyUsed).Single(l => l.Id == jj);}
                                    <div class="form-group">
                                        <label class="strong">Voucher Amount.</label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="">@(payment.CurrencyUsed.Alias)</i></div>
                                            <input class="form-control" type="text" value="@((Model.Voucher.Type == PVType.Regular ? await Utils.CalculatePayableAmount(Model.Voucher.Payments.ToList()) : Model.Voucher.Type == PVType.Tax ? await Utils.CalculatePayableTax(Model.Voucher.Payments.ToList()) : await Utils.CalculatePayableAmount(Model.Voucher.Payments.ToList())).ToString("#,##0"))" readonly />
                                        </div>
                                    </div>
                                    @if (Model.Voucher.TaxPaid != null && Model.Voucher.Type == PVType.Tax)
                                    {
                                        <div class="form-group">
                                            <label class="strong">Taxe(s) Included:</label>
                                            <ul class="" style="border:solid thin #ccc;border-radius:2px 2px 2px;min-height:50px">
                                                <li style="margin-left:15px">@Model.Voucher.TaxPaid.Name</li>
                                            </ul>
                                        </div>

                                    }
                                    else if (Model.Voucher.Payments.Count > 0)
                                    {

                                        var items = new List<FPayment>();
                                        foreach (var p in Model.Voucher.Payments)
                                        {
                                            if (!items.Any(k => k.Id == p.Invoice.Id))
                                            {
                                                items.Add(p);
                                            }
                                        }
                                        <div class="form-group">
                                            <label class="strong">Invoice(s) Included:</label>
                                            <ul class="" style="border:solid thin #ccc;border-radius:2px 2px 2px;min-height:50px">
                                                @foreach (var p in items)
                                                {
                                                    <li style="margin-left:15px">INV@(p.Invoice.DocNo) ~ @p.CurrencyUsed.Alias @((await Utils.ComputeAmountPayable(p)).ToString("#,##0"))</li>

                                                }
                                            </ul>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                        else if (Model.Voucher.Type == PVType.ExpenseClaim)
                        {
                            <div class="form-group">
                                <label class="strong">Voucher No.</label>
                                <div class="input-group">
                                    <select class="form-control" readonly>
                                        <option value="@Model.Voucher.VoucherNo" selected>@(Model.Voucher.Ledger.PVoucherPrefixes?.OrderBy(l => l.DateCreated).FirstOrDefault().Code)@(Model.Voucher.VoucherNo)</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">

                                    <div class="form-group">
                                        <label class="strong">Payee Name</label>
                                        <div class="input-group">
                                            <input class="form-control" type="text" value="@Model.Voucher.Payments.First().ExpenseClaim.Staff.FullName" readonly />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="strong">Ledger</label>
                                        <div class="input-group">
                                            <input class="form-control" type="text" value="@(Model.Voucher.Ledger?.Name ?? "Not Available")" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="strong">Created By</label>
                                        <div class="input-group">
                                            <input type="text" value="@Model.Voucher.Personnel.FullName" class="form-control" readonly>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="strong">Voucher Date</label>
                                        <div class="input-group">
                                            <input value="@(Model.Voucher.VoucherDate.ToString("dd MMMM yyyy"))" type="text" class="form-control" readonly>
                                        </div>
                                    </div>
                                    @{
                                        var jj = Model.Voucher.Payments.First().Id; var payment = db.FWallet.Include(f => f.CurrencyUsed).Single(l => l.Id == jj);}
                                    <div class="form-group">
                                        <label class="strong">Voucher Amount.</label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="">@(payment.CurrencyUsed.Alias)</i></div>
                                            <input class="form-control" type="text" value="@((Model.Voucher.Type == PVType.Regular ? await Utils.CalculatePayableAmount(Model.Voucher.Payments.ToList()) : Model.Voucher.Type == PVType.Tax ? await Utils.CalculatePayableTax(Model.Voucher.Payments.ToList()) : await Utils.CalculatePayableAmount(Model.Voucher.Payments.ToList())).ToString("#,##0"))" readonly />
                                        </div>
                                    </div>
                                    @if (Model.Voucher.TaxPaid != null && Model.Voucher.Type == PVType.Tax)
                                    {
                                        <div class="form-group">
                                            <label class="strong">Taxe(s) Included:</label>
                                            <ul class="" style="border:solid thin #ccc;border-radius:2px 2px 2px;min-height:50px">
                                                <li style="margin-left:15px">@Model.Voucher.TaxPaid.Name</li>
                                            </ul>
                                        </div>

                                    }
                                    else if (Model.Voucher.Payments.Count > 0)
                                    {

                                        var items = new List<FPayment>();
                                        foreach (var p in Model.Voucher.Payments)
                                        {
                                            if (!items.Any(k => k.Id == p.Invoice.Id))
                                            {
                                                items.Add(p);
                                            }
                                        }
                                        <div class="form-group">
                                            <label class="strong">Expense Claim(s) Included:</label>
                                            <ul class="" style="border:solid thin #ccc;border-radius:2px 2px 2px;min-height:50px">
                                                @foreach (var p in items)
                                                {
                                                    <li style="margin-left:15px">@p.CurrencyUsed.Alias @((await Utils.ComputeAmountPayable(p)).ToString("#,##0")) for <a href="#">@p.ExpenseClaim.Staff.FullName</a></li>

                                                }
                                            </ul>
                                        </div>
                                    }
                                </div>
                            </div>

                        }
                        else if (Model.Voucher.Type == PVType.Imprest)
                        {
                            <div class="form-group">
                                <label class="strong">Voucher No.</label>
                                <div class="input-group">
                                    <select class="form-control" readonly>
                                        <option value="@Model.Voucher.VoucherNo" selected>@(Model.Voucher.Ledger.PVoucherPrefixes?.OrderBy(l => l.DateCreated).FirstOrDefault().Code)@(Model.Voucher.VoucherNo)</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">

                                    <div class="form-group">
                                        <label class="strong">Payee Name</label>
                                        <div class="input-group">
                                            <input class="form-control" type="text" value="@Model.Voucher.Payments.First().ImprestWarrant.Staff.FullName" readonly />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="strong">Ledger</label>
                                        <div class="input-group">
                                            <input class="form-control" type="text" value="@(Model.Voucher.Ledger?.Name ?? "Not Available")" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="strong">Created By</label>
                                        <div class="input-group">
                                            <input type="text" value="@Model.Voucher.Personnel.FullName" class="form-control" readonly>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="strong">Voucher Date</label>
                                        <div class="input-group">
                                            <input value="@(Model.Voucher.VoucherDate.ToString("dd MMMM yyyy"))" type="text" class="form-control" readonly>
                                        </div>
                                    </div>
                                    @{
                                        var jj = Model.Voucher.Payments.First().Id; var payment = db.FWallet.Include(f => f.CurrencyUsed).Single(l => l.Id == jj);}
                                    <div class="form-group">
                                        <label class="strong">Voucher Amount.</label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="">@(payment.CurrencyUsed.Alias)</i></div>
                                            <input class="form-control" type="text" value="@((Model.Voucher.Type == PVType.Regular ? await Utils.CalculatePayableAmount(Model.Voucher.Payments.ToList()) : Model.Voucher.Type == PVType.Tax ? await Utils.CalculatePayableTax(Model.Voucher.Payments.ToList()) : await Utils.CalculatePayableAmount(Model.Voucher.Payments.ToList())).ToString("#,##0"))" readonly />
                                        </div>
                                    </div>
                                    @if (Model.Voucher.TaxPaid != null && Model.Voucher.Type == PVType.Tax)
                                    {
                                        <div class="form-group">
                                            <label class="strong">Taxe(s) Included:</label>
                                            <ul class="" style="border:solid thin #ccc;border-radius:2px 2px 2px;min-height:50px">
                                                <li style="margin-left:15px">@Model.Voucher.TaxPaid.Name</li>
                                            </ul>
                                        </div>

                                    }
                                    else if (Model.Voucher.Payments.Count > 0 )
                                    {


                                        var items = new List<FPayment>();
                                        if (Model.Voucher.Type == PVType.ExpenseClaim) {
                                            foreach (var p in Model.Voucher.Payments)
                                            {
                                                if (!items.Any(k => k.Id == p.ExpenseClaim.Id))
                                                {
                                                    items.Add(p);
                                                }
                                            }
                                            
                                        <div class="form-group">
                                            <label class="strong">Imprest Warrant(s) Included:</label>
                                            <ul class="" style="border:solid thin #ccc;border-radius:2px 2px 2px;min-height:50px">
                                                @foreach (var p in items)
                                                {
                                                    <li style="margin-left:15px">@p.CurrencyUsed.Alias @((await Utils.ComputeAmountPayable(p)).ToString("#,##0")) for <a href="#">@p.ImprestWarrant.Staff.FullName</a></li>
                                                }
                                            </ul>
                                        </div>
                                        } else if(Model.Voucher.Type == PVType.Imprest)
                                        {
                                            foreach (var p in Model.Voucher.Payments)
                                            {
                                                if (!items.Any(k => k.Id == p.ImprestWarrant.Id))
                                                {
                                                    items.Add(p);
                                                }
                                            }

                                        <div class="form-group">
                                            <label class="strong">Expense Claim(s) Included:</label>
                                            <ul class="" style="border:solid thin #ccc;border-radius:2px 2px 2px;min-height:50px">
                                                @foreach (var p in items)
                                                {
                                                    <li style="margin-left:15px">@p.CurrencyUsed.Alias @((await Utils.ComputeAmountPayable(p)).ToString("#,##0")) for <a href="#">@p.ImprestWarrant.Staff.FullName</a></li>

                                                }
                                            </ul>
                                        </div>
                                        }
                                    }
                                </div>
                            </div>
                        }
                        <hr />
                        <div class="row">
                            <div class="form-group col-sm-2">
                                <label class="">Pay Mode</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="ti-anchor"></i></div>
                                    @Html.DropDownList("PayType", PayTypeList, "-- Select Type --", new { @class = "form-control" })
                                </div>
                                <span asp-validation-for="BankMode" class="text-danger"></span>
                            </div>
                            <div class="form-group col-sm-4">
                                <label asp-for="BankMode" class=""></label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="ti-anchor"></i></div>
                                    <select asp-for="BankMode" class="form-control">
                                        <option value="">-- Select Pay Account --</option>
                                    </select>
                                </div>
                                <span asp-validation-for="BankMode" class="text-danger"></span>
                            </div>
                            <div class="form-group col-sm-4">
                                <label asp-for="CheckNo"></label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="ti-user"></i></div>
                                    <input class="form-control" asp-for="CheckNo" placeholder="Cheque Number..." value="@Model.Voucher.CheckNo">
                                </div>
                                <span asp-validation-for="CheckNo" class="text-danger"></span>
                            </div>

                            <div class="form-group col-sm-2">
                                <div class="checkbox checkbox-success" style="margin:4px">
                                    @*<input asp-for="IsBudgetItem" type="checkbox">*@
                                    <label asp-for="PayEFT"> </label>
                                    <div class="switch">
                                        <label>
                                            No
                                            <input asp-for="PayEFT" type="checkbox" checked><span class="lever"></span>Yes
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="col-md-offset-5 col-md-10">
                            <button type="submit" class="btn btn-info waves-effect waves-ripple m-r-10">Post Voucher</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

@* Code in the scripts section below gets added at the bottom of the HTML body element, below other scripts. This
    section can be used to enter custom scripts specific to this page. *@
@section scripts
    {
    <!-- jQuery peity -->
    <script src="/lib/plugins/peity/jquery.peity.min.js"></script>
    <script src="/lib/plugins/peity/jquery.peity.init.js"></script>
    <!-- jQuery peity -->
    <script type="text/javascript">
        $(function () {
            $(".preloader").fadeOut();
        });
    </script>
    <script>
                jQuery('#PayType').change(function () {
                    var pid = jQuery(this).val(), txt = jQuery(this).find("option:selected").text();
                    jQuery('#BankMode').empty(), jQuery('#BankMode').append('<option value="">-- Select Pay Account --</option>'), pid && jQuery.each(NITA.FLedgers, function (i, lgr) {
                        jQuery.each(lgr.pmodes, function (j, mode) {
                            mode.typ === txt.toLowerCase() && jQuery('#BankMode').append(jQuery('<option>', { value: mode.id, text: mode.name }))
                        })
                    })
                 }),
                jQuery('#BankMode').change(function () {
                    var eft = jQuery('#PayEFT'), mid = jQuery(this).val(),txt = jQuery(this).text();
                    jQuery.each(NITA.FLedgers, function (i, lgr) {
                        jQuery.each(lgr.pmodes, function (j, mode) {
                            mode.id === mid && JQuery(eft).prop('disabled', mode.eft);
                        })
                    })
                })
    </script>
}
