﻿@using Microsoft.EntityFrameworkCore;

@inject IOptionsSnapshot<AppSettings> AppSettings
@inject ApplicationDbContext db
@{
    // title - The title of the page which appears in the browser window title. Aim for the title to be less than 70
    //         characters. The site name appears at the end for better SEO.
    ViewBag.Title = "Preview Payment Voucher";
    // Description - Used by search engines. Aim for more than 160 characters.
    ViewBag.Description = "Create a new Finance Account";



}
@model PostPaymentVoucherViewModel
@* Code in the head section below gets added at the bottom of the HTML head element. This section can be used to enter
    custom meta tags specific to this page. *@
@section head
    {
    @* Author - (Optional) Used by search engines. The author of the page. *@
    <meta name="author" content="ABNO Softwares Int.">
    @* Add Twitter Card social meta tags so we can customize what happens when our page is shared on Twitter. There are
        several different Twitter Card types we could add, a different one is added on each page as an example.
        These helpers make it very easy to add the meta tags. For best performance, see what tags are generated and
        hand-code them yourself instead of using these helpers. *@
    <twitter-card-summary-large-image username="@@ABNO">
        @* Add Open Graph social meta tags so we can customize what happens when our page is shared on Facebook, Google+,
            Pintrest and other social media websites. There are dozens of Open Graph types, a different one is added on
            each page as an example. These helpers make it very easy to add the meta tags. For best performance, see what
            tags are generated and hand-code them yourself instead of using these helpers. *@
        <open-graph-website site-name="@AppSettings.Value.SiteTitle"
                            title="@ViewBag.Title"
                            main-image="@(new OpenGraphImage(
                                    Url.AbsoluteContent("~/img/icons/open-graph-1200x630.png"),
                                    ContentType.Png,
                                    1200,
                                    630))"
                            determiner="Blank">
            @* referrer - Controls what is sent in the HTTP referrer header when a client navigates to an external site. *@
            <meta asp-referrer="OriginWhenCrossOrigin">


}
<div class="container-fluid">

    <div class="row">
        <div class="col-md-11">
            <div class="card card-body">
                <div id="printableArea" class="printableArea" style="color:#222;@(Model.Voucher.PaymentAccount == null ? "background:url(/img/watermarks/provisional.png) center no-repeat" :"background:url(/img/watermarks/original.png) center no-repeat")">
                    @Html.Partial("_PrintHeader")
                    <p class="text-center font-bold" style="font-size:16px"><b>@Model.Voucher.Type.ToString().ToUpper() PAYMENT VOUCHER</b></p>
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-md-12" style="border-top:solid 2px #666;padding:0;margin:0">
                            <div class="pull-left" style="">
                                <p style="font-size:13px;font-weight:bold;margin-top:0;margin-bottom:0">
                                    PAYEE(s) :  &nbsp;
                                    @{
                                        var payees = new List<string>();
                                        if (Model.Voucher.Type == PVType.ExpenseClaim || Model.Voucher.Type == PVType.Imprest)
                                        {
                                            <ol style="font-size:12px;margin-top:0;padding-bottom:0">
                                                @if (Model.Voucher.Payments.First().ExpenseClaim != null)
                                                {
                                                    foreach (var staff in Model.Voucher.Payments.Select(l => l.ExpenseClaim.Staff).Distinct())
                                                    {
                                                        payees.Add(staff.FullName);
                                                        <li style="">@staff.FullName</li>
                                                    }
                                                }
                                                else
                                                {
                                                    foreach (var staff in Model.Voucher.Payments.Select(l => l.ImprestWarrant.Staff).Distinct())
                                                    {
                                                        payees.Add(staff.FullName);
                                                        <li style="">@staff.FullName</li>
                                                    }
                                                }
                                            </ol>
                                        }
                                        else
                                        {
                                            payees.Add("" + (Model.Voucher.Supplier.Name ?? Model.Voucher.Payments.First().PayeeName));
                                            <text>@(Model.Voucher.Supplier.Name ?? Model.Voucher.Payments.First().PayeeName)</text>
                                        }
                                    }
                                </p>
                            </div><div class="pull-right text-right">
                                <span style="font-size:14px">VOUCHER NO. &nbsp;<span class="font-bold">@(Model.Voucher.Ledger?.PVoucherPrefixes?.FirstOrDefault()?.Code ?? "#") @(Model.Voucher.VoucherNo)</span></span>
                                <p class="m-t-5" style="font-size:11px"><b>Voucher Date :</b> <i class="fa fa-calendar"></i> @Model.Voucher.VoucherDate.ToString("dd MMM yyyy")</p>
                                @*<p><b>Due Date :</b> <i class="fa fa-calendar"></i> 25th Jan 2017</p>*@
                            </div>
                        </div>
                        <div class="col-md-12" style="margin:0;padding:0">
                            <div class="pull-left" style="margin:0;padding:0">
                                <p style="font-size:14px">LEDGER :  &nbsp;<span style="font-weight:bold">@Model.Voucher.Ledger.Name.ToUpper()</span></p>
                            </div>
                            <div class="pull-right text-right" style="margin:0;padding:0">
                                <p style="font-size:14px">PROJECT :  &nbsp;<span style="font-weight:bold">&lt;NOT AVAILABLE&gt;</span></p>
                            </div>
                        </div>
                        <div class="col-md-12" style="font-size:11px">
                            <div class="table-responsive" style="clear: both;">
                                <table class="table table-hover" style="border:solid thin #888;margin:0;padding:0">
                                    <thead>
                                        <tr>
                                            <th class="text-center" style="font-size:11px;font-weight:bold;padding-left:5px;padding-top:2px;padding-bottom:0">#</th>
                                            <th style="font-size:11px;font-weight:bold;padding-left:5px;padding-top:2px;padding-bottom:0">DESCRIPTION</th>
                                            <th class="text-right" style="font-size:11px;font-weight:bold;padding-left:5px;padding-top:2px;padding-bottom:0">AMOUNT (@Model.Voucher.Payments.First().CurrencyUsed.Alias)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-center" style="padding-left:5px;padding-top:2px;padding-bottom:0">1</td>
                                            <td style="border-bottom:dotted thin #555;font-size:11px;padding-left:5px;padding-top:2px;padding-bottom:0">@(Model.Voucher.Description ?? "< Not Available >")</td>
                                            <td class="text-right" style="border-bottom:dotted thin #555;font-size:11px;padding-left:8px;padding-top:4px;padding-bottom:0">@Model.NetAmount.ToString("#,##0")</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="m-b-5 text-left" style="border-bottom:double thin  #666;border-top:solid thin #666;font-size:14px;padding:3px">
                                <i>AMOUNT IN WORDS : </i><span class="font-bold">@(Utils.DecimalToWords(Convert.ToDecimal(Model.NetAmount)).ToUpper()) ONLY</span>
                            </div>
                            <div class="table-responsive">
                                @*<span style="font-size:11px;margin-bottom:-25px;border:solid thin red">GL Accounts</span>*@
                                <table class="table table-hover" style="font-size:11px;border:dotted thin #555;">
                                    <thead class="font-bold" style="">
                                        <tr>
                                            <th class="text-center" style="border-bottom:dotted thin #555;font-size:11px;font-weight:bold;padding-left:5px;padding-top:2px;padding-bottom:0">VOTE HEAD (GL ACCOUNT)</th>
                                            <th style="border-bottom:dotted thin #555;font-size:11px;font-weight:bold;padding-left:5px;padding-top:2px;padding-bottom:0">DEPARTMENT</th>
                                            <th style="border-bottom:dotted thin #555;font-size:11px;font-weight:bold;padding-left:5px;padding-top:2px;padding-bottom:0">LPO/LSO NO.</th>
                                            <th class="text-right" style="border-bottom:dotted thin #888;font-weight:bold;padding-left:5px;padding-top:2px;padding-bottom:0">AMOUNT (@Model.Voucher.Payments.First().CurrencyUsed.Alias)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            @foreach (var p in Model.Voucher.Payments)
                                            {
                                                var payment = db.FWallet.Include(k => k.GLAccount).Include(l => l.Department).Single(i => i.Id == p.Id);
                                                <td class="text-center" style="padding-left:5px;padding-top:2px;padding-bottom:0">@payment.GLAccount.Name</td>
                                                <td style="padding-left:5px;padding-top:2px;padding-bottom:0">@payment.Department.Name</td>
                                                <td style="padding-left:5px;padding-top:2px;padding-bottom:0">Not Available</td>
                                                <td class="text-right" style="padding-left:5px;padding-top:2px;padding-bottom:0">@payment.GrossAmount.ToString("#,##0")</td>

                                            }

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-12" style="padding-top:0">
                            <div class="pull-right text-right">
                                <p style="font-size:14px;margin-bottom:2px"><i>Sub - Total amount :</i> <span style="font-weight:bold">@Model.Voucher.Payments.First().CurrencyUsed.Alias @((Model.NetAmount + Model.NetTax).ToString("#,##0"))</span></p>
                                <p style="font-size:12px;margin-bottom:0;"><i>Total Tax : </i><span style="font-weight:bold">@Model.Voucher.Payments.First().CurrencyUsed.Alias  @Model.NetTax.ToString("#,##0")</span> </p>
                                <hr style="margin-top:2px;margin-bottom:0">
                                <p style=""><b style="font-size:14px;font-weight:bold">Total :</b> @Model.Voucher.Payments.First().CurrencyUsed.Alias  @Model.NetAmount.ToString("#,##0")</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        @if (Model.Voucher.PaymentAccount != null)
                        {
                            <ul class="col-md-12" id="auth">
                                <li style="list-style:none;width:50%;float:left" class="pull-left">
                                    <p style="display:inline;font-size:11px">Prepared by : &nbsp;<span></span><div class="" style="display:inline-block;border-bottom:dotted thin #444;width:240px;min-width:150px">@(Model.Voucher.Personnel.FullName)</div></p>
                                </li>
                                <li style="list-style:none;width:23%;" class="pull-left">
                                    <p style="display:inline;font-size:11px">Cheque No. : &nbsp;<span></span><div class="" style="border-bottom:dotted thin #444;width:100px;min-width:100%"></div></p>
                                </li>
                                <li style="list-style:none;width:24%;" class="pull-left">
                                    <p style="display:inline;font-size:11px">Signature : &nbsp;<span></span><div class="" style="border-bottom:dotted thin #444;width:150px;min-width:100%"></div></p>

                                </li>
                                <li style="list-style:none;width:100%;line-height:14px;margin:0" class="pull-left">
                                    <p style="display:inline;font-size:11px;margin:0;padding:0">Authority Reference No :  &nbsp;<span></span><div class="" style="border-bottom:dotted thin #444;min-width:100%"></div></p>
                                </li>
                            </ul>
                        }
                        else
                        {
                            <div class="clearfix"></div>
                            <div class="gray-box text-center" style="width:100%">
                                <span><i class="fa fa-warning text-warning"></i>&nbsp; This voucher has not been processed.</span>
                            </div>
                        }


                        <div style="border-top:solid thin #555;width:100%">
                            <div style="width:45%;display:inline-block" class="pull-left">
                                <p style="font-weight:bold;text-align:center;font-size:14px;margin-bottom:0">EXAMINATION</p>
                                <ul class="col-md-12" id="auth" style="margin:0;padding:0">
                                    <li style="list-style:none;width:100%" class="pull-left">
                                        <p style="display:inline;font-size:11px">Examined By : &nbsp;<span></span><div class="" style="display:inline-block;border-bottom:dotted thin #444;min-width:80%"></div></p>
                                    </li>
                                    <li style="list-style:none;width:100%;line-height:14px;margin:0" class="pull-left">
                                        <p style="display:inline;font-size:11px;margin:0;padding:0">Date :  &nbsp;<span></span><div class="" style="border-bottom:dotted thin #444;min-width:100%"></div></p>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                                <div>
                                    <p style="font-weight:bold;text-align:center;font-size:14px;border-top:solid 2px #888;">VBC CERIFICATE</p>
                                    <p style="font-size:12px;">
                                        I certify that expenditure has been entered in this Vote Book and that adequate funds to cover it are available againist the chargeable item as shown here below:
                                        <div class="m-l-10" style="font-size:12px">
                                            <table>
                                                <tbody style="font-size:12px">
                                                    <tr>
                                                        <td>
                                                            Approved Estimates/Allocation
                                                        </td>
                                                        <td>
                                                            @(Model.Voucher.Payments.First().CurrencyUsed.Alias):&nbsp;<span>..............</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Less Total expenditure plus commitments
                                                        </td>
                                                        <td>
                                                            &nbsp;@(Model.Voucher.Payments.First().CurrencyUsed.Alias): <span>....................</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Balance
                                                        </td>
                                                        <td>
                                                            @(Model.Voucher.Payments.First().CurrencyUsed.Alias):&nbsp;<span>......................</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Less: This Entry - Voucher
                                                        </td>
                                                        <td>
                                                            @(Model.Voucher.Payments.First().CurrencyUsed.Alias) :&nbsp; <span style="border-bottom:dotted thin #888" class="p-l-20 p-r-20"><span style="font-weight:bold"> @Model.NetAmount.ToString("#,##0")</span></span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Balance
                                                        </td>
                                                        <td>
                                                            @(Model.Voucher.Payments.First().CurrencyUsed.Alias):&nbsp;<span>.....................</span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </p>
                                    <div style="list-style:none;width:40%;" class="pull-left m-l-10 m-r-10">
                                        <p style="display:inline;font-size:11px">Sign : &nbsp;<span></span><div class="" style="border-bottom:dotted thin #444;width:100px;min-width:100%"></div></p>
                                    </div>
                                    <div style="list-style:none;width:40%;" class="pull-left m-l-10 m-r-10">
                                        <p style="display:inline;font-size:11px">Date : &nbsp;<span></span><div class="" style="border-bottom:dotted thin #444;width:150px;min-width:100%"></div></p>

                                    </div>
                                </div>
                            </div>
                            <div style="border-left:solid 2px #555;width:55%;display:inline-block;" class="pull-left">
                                <p style="font-weight:bold;text-align:center;font-size:14px;margin-bottom:0">INTERNAL AUDIT</p>
                                <ul class="col-md-12" id="auth">
                                    <li style="list-style:none;width:100%;float:left" class="pull-left">
                                        <p style="display:inline;font-size:11px">Audited By : &nbsp;<span></span><div class="" style="display:inline-block;border-bottom:dotted thin #444;min-width:80%"></div></p>
                                    </li>
                                    <li style="list-style:none;width:100%;line-height:14px;margin:0" class="pull-left">
                                        <p style="display:inline;font-size:11px;margin:0;padding:0">Date :  &nbsp;<span></span><div class="" style="border-bottom:dotted thin #444;min-width:100%"></div></p>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                                <div>
                                    <div style="border-top:solid 2px #888;text-align:center;font-weight:bold;font-size:14px" class="">
                                        AIE HOLDER CERTIFICATE
                                    </div>
                                    <div style="font-size:12px;padding-left:2px">
                                        I certify that expenditure has been incurred  for the authorized purposes and should be changed to the item(s) as shown above.
                                        <div style="border-top:dotted thin #888;text-align:center;font-weight:bold;font-size:14px" class="m-l-5 m-r-5">
                                            Designation of AIE Holder
                                        </div>
                                        <div style="list-style:none;width:40%;" class="pull-left m-l-10 m-r-10">
                                            <p style="display:inline;font-size:11px">
                                                Sign : &nbsp;<span></span><div class="" style="border-bottom:dotted thin #444;width:100px;min-width:100%"></div>
                                            </p>
                                        </div>
                                        <div style="list-style:none;width:40%;" class="pull-left m-l-10 m-r-10">
                                            <p style="display:inline;font-size:11px">Date : &nbsp;<span></span><div class="" style="border-bottom:dotted thin #444;width:150px;min-width:100%"></div></p>

                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div>
                                    <div style="border-top:solid 2px #888;text-align:center;font-weight:bold;font-size:14px" class="">
                                        AUTHORIZATION
                                    </div>
                                    <div style="font-size:12px;padding-left:2px">
                                        I certify that the rate/price charged is/are according to regulation/contract, fair and reasonable that the expenditure has been incurred on proper authority and should be charged as above.
                                        Where appropriate, a certificate leaf has been completed. I here by AUTHORIZE payment of the amount shown above without any alteration.
                                        <div class="clearfix"></div>
                                        <div style="list-style:none;width:40%;margin-top:2px" class="pull-left m-l-10 m-r-10">
                                            <p style="display:inline;font-size:11px">
                                                Sign : &nbsp;<span></span><div class="" style="border-bottom:dotted thin #444;width:100px;min-width:100%"></div>
                                            </p>
                                        </div>
                                        <div style="list-style:none;width:40%;margin-top:2px" class="pull-left m-l-10 m-r-10">
                                            <p style="display:inline;font-size:11px">Date : &nbsp;<span></span><div class="" style="border-bottom:dotted thin #444;width:150px;min-width:100%"></div></p>

                                        </div>
                                        <div class="clearfix"></div>
                                        <p style="width:100%;font-weight:bold;font-size:12px;font-style:italic;text-align:center;padding:0;margin:0">
                                            Accounting officer/District Accountant
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @{ Html.RenderPartial("_PrintChequePartial", new PrintChequeModel() { Id = Model.Voucher.Id, PayeeName = payees.Count > 0 ? String.Join(",", payees) : payees.First(), Payments = Model.Voucher.Payments.ToList() });}
            </div>

            <hr>
            <div class="col-xlg-pull-8" style="margin-bottom:15px">
                <button class="btn btn-outline-secondary waves-effect mr-auto print-cheque" data-toggle="tooltip" data-id="@Model.Voucher.Id" data-original-title="Print Cheque"> <i class="fa fa-print m-r-10"> Print Cheque</i></button>
                <button id="print" class="btn btn-outline-info" type="button"> <span><i class="fa fa-print"></i> Print Voucher</span> </button>
                @if (Model.Voucher.PaymentAccount == null)
                {

                    <button class="btn btn-info pull-right" type="button" id="post-pv" data-target="@Url.RouteUrl(FinanceControllerRoute.GetPostPaymentVoucher,new { pid= Model.Voucher.Id})"> Post Voucher </button>
                }
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End PAge Content -->

</div>

@* Code in the scripts section below gets added at the bottom of the HTML body element, below other scripts. This
    section can be used to enter custom scripts specific to this page. *@
@section scripts
    {
    <style>
        @@media print {
            @@page {
                margin: 0;
            }

            body {
                margin: 1.6cm;
            }

                body:before {
                    content: url('/img/watermarks/provisional.png') !important
                }
        }
    </style>
    <!-- jQuery peity -->
    <script src="~/lib/plugins/peity/jquery.peity.min.js"></script>
    <script src="~/lib/plugins/peity/jquery.peity.init.js"></script>
    <!-- jQuery peity -->

    <script src="~/lib/js/jquery.PrintArea.js" type="text/JavaScript"></script>

    <script>
        jQuery(document).ready(function () {
            jQuery("#print").click(function () {
                var mode = 'iframe'; //popup
                var close = mode == "popup";
                var options = {
                    mode: mode,
                    popClose: close,
                    popHt: 500,   // popup window height
                    popWd: 400,  // popup window width
                };
                jQuery("div.printableArea").printArea(options);
            }),
                jQuery(".print-cheque").click(function () {
                    var printableArea = jQuery('div.print-cheque');
                    var mode = 'iframe'; //popup
                    var close = mode == "popup";
                    var options = {
                        popTitle: 'Print Cheque',
                        mode: mode,
                        popClose: close,
                        popHt: 500,   // popup window height
                        popWd: 400  // popup window width
                    };
                    jQuery(printableArea).printArea(options);
                });;
        });
        jQuery('#post-pv').click(function () {
            window.location = jQuery(this).data('target');
        })
    </script>
}
