﻿@inject IOptionsSnapshot<AppSettings> AppSettings
@{
    // title - The title of the page which appears in the browser window title. Aim for the title to be less than 70
    //         characters. The site name appears at the end for better SEO.
    ViewBag.Title = "Finance Reports";
    // Description - Used by search engines. Aim for more than 160 characters.
    ViewBag.Description = "A professional ASP.NET Core project template for building secure, fast, robust and adaptable web applications or sites. It provides the minimum amount of code required on top of the default ASP.NET Core project template provided by Microsoft.";
}

@* Code in the head section below gets added at the bottom of the HTML head element. This section can be used to enter
    custom meta tags specific to this page. *@
@section head
{
    @* Author - (Optional) Used by search engines. The author of the page. *@
    <meta name="author" content="ABNO Softwares Int.">
    @* Add Twitter Card social meta tags so we can customize what happens when our page is shared on Twitter. There are
        several different Twitter Card types we could add, a different one is added on each page as an example.
        These helpers make it very easy to add the meta tags. For best performance, see what tags are generated and
        hand-code them yourself instead of using these helpers. *@
    <twitter-card-summary-large-image username="@@ABNO">
        @* Add Open Graph social meta tags so we can customize what happens when our page is shared on Facebook, Google+,
            Pintrest and other social media websites. There are dozens of Open Graph types, a different one is added on
            each page as an example. These helpers make it very easy to add the meta tags. For best performance, see what
            tags are generated and hand-code them yourself instead of using these helpers. *@
        <open-graph-website site-name="@AppSettings.Value.SiteTitle"
                            title="@ViewBag.Title"
                            main-image="@(new OpenGraphImage(
                            Url.AbsoluteContent("~/img/icons/open-graph-1200x630.png"),
                            ContentType.Png,
                            1200,
                            630))"
                            determiner="Blank">
            @* referrer - Controls what is sent in the HTTP referrer header when a client navigates to an external site. *@
            <meta asp-referrer="OriginWhenCrossOrigin">

        }
        <section class="container">
            <h2>@ViewBag.Title</h2>
        </section>

        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-themecolor">Dashboard</h3>
                </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Finance</a></li>
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- Subscribe -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex">
                                <h4 class="card-title"><span class="lstick"></span>Website Visit</h4>
                                <ul class="list-inline m-b-0 ml-auto">
                                    <li>
                                        <h6 class="text-muted text-success"><i class="fa fa-circle font-10 m-r-10 "></i>Site A view</h6>
                                    </li>
                                    <li>
                                        <h6 class="text-muted text-info"><i class="fa fa-circle font-10 m-r-10"></i>Site B view</h6>
                                    </li>
                                </ul>
                            </div>
                            <div class="text-center m-t-30">
                                <div class="btn-group " role="group" aria-label="Basic example">
                                    <button type="button" class="btn btn-sm btn-secondary">PAGEVIEWS</button>
                                    <button type="button" class="btn btn-sm btn-secondary">REFERRALS</button>
                                </div>
                            </div>
                            <div class="website-visitor p-relative m-t-30" style="height:355px; width:100%;"></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Sales overview chart -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex">
                                <div>
                                    <h3 class="card-title m-b-5"><span class="lstick"></span>Sales Overview </h3>
                                </div>
                                <div class="ml-auto">
                                    <select class="custom-select b-0">
                                        <option selected="">January 2017</option>
                                        <option value="1">February 2017</option>
                                        <option value="2">March 2017</option>
                                        <option value="3">April 2017</option>
                                    </select>
                                </div>
                            </div>
                            <div id="sales-overview2" class="p-relative" style="height:360px;"></div>
                            <div class="stats-bar">
                                <div class="row text-center">
                                    <div class="col-lg-4 col-md-4">
                                        <div class="p-20">
                                            <h6 class="m-b-0">Total Sales</h6>
                                            <h3 class="m-b-0">$10,345</h3>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <div class="p-20">
                                            <h6 class="m-b-0">This Month</h6>
                                            <h3 class="m-b-0">$7,589</h3>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <div class="p-20">
                                            <h6 class="m-b-0">This Week</h6>
                                            <h3 class="m-b-0">$1,476</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex">
                                <div>
                                    <h3 class="card-title m-b-5"><span class="lstick"></span>Sales Overview </h3>
                                </div>
                                <div class="ml-auto">
                                    <select class="custom-select b-0">
                                        <option selected="">January 2017</option>
                                        <option value="1">February 2017</option>
                                        <option value="2">March 2017</option>
                                        <option value="3">April 2017</option>
                                    </select>
                                </div>
                            </div>
                            <div id="ct-sales3-chart" class="p-relative" style="height:360px;"></div>
                            <div class="stats-bar">
                                <div class="row text-center">
                                    <div class="col-lg-4 col-md-4">
                                        <div class="p-20">
                                            <h6 class="m-b-0">Total Sales</h6>
                                            <h3 class="m-b-0">$10,345</h3>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <div class="p-20">
                                            <h6 class="m-b-0">This Month</h6>
                                            <h3 class="m-b-0">$7,589</h3>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <div class="p-20">
                                            <h6 class="m-b-0">This Week</h6>
                                            <h3 class="m-b-0">$1,476</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* Code in the scripts section below gets added at the bottom of the HTML body element, below other scripts. This
    section can be used to enter custom scripts specific to this page. *@
        @section scripts
        {
        <!-- ============================================================== -->
        <!-- This page plugins -->
        <!-- ============================================================== -->
        <!--sparkline JavaScript -->
        <script src="~/lib/plugins/sparkline/jquery.sparkline.min.js"></script>
        <!--morris JavaScript -->
        <script src="~/lib/plugins/chartist-js/dist/chartist.min.js"></script>
        <script src="~/lib/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js"></script>
        <!--c3 JavaScript -->
        <script src="~/lib/plugins/d3/d3.min.js"></script>
        <script src="~/lib/plugins/c3-master/c3.min.js"></script>
        <!-- Chart JS -->
        <script src="~/lib/js/dashboard3.js"></script>

        <!-- This page plugins -->
        <!-- ============================================================== -->
        <!-- Vector map JavaScript -->
        <script src="~/lib/plugins/vectormap/jquery-jvectormap-2.0.2.min.js"></script>
        <script src="~/lib/plugins/vectormap/jquery-jvectormap-world-mill-en.js"></script>
        <!--sparkline JavaScript -->
        <script src="~/lib/plugins/sparkline/jquery.sparkline.min.js"></script>
        <!--morris JavaScript -->
        <script src="~/lib/plugins/chartist-js/dist/chartist.min.js"></script>
        <script src="~/lib/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js"></script>
        <!-- Chart JS -->
        <script src="~/lib/js/dashboard4.js"></script>

        <script type="text/javascript">
            $(function () {
                $(".preloader").fadeOut();
            });

        </script>
        }
