﻿@inject IOptionsSnapshot<AppSettings> AppSettings
@inject IHostingEnvironment hostingEnvironment

@using Microsoft.EntityFrameworkCore;
@using Newtonsoft.Json;
@using Newtonsoft.Json.Linq;
@using System.IO

@inject ApplicationDbContext db
@{
    // title - The title of the page which appears in the browser window title. Aim for the title to be less than 70
    //         characters. The site name appears at the end for better SEO.
    ViewBag.Title = "Finance Settings";
    // Description - Used by search engines. Aim for more than 160 characters.
    ViewBag.Description = "Global finance Settings";


    var BaseCurrency = db.FCurrencies.Single(l => l.IsBase);
    var appSettings = AppSettings.Value;
    //
    if (appSettings.Accounts == null || appSettings.Accounts.PrePaymentRA == null)
    {
        var path = System.IO.Path.Combine(hostingEnvironment.ContentRootPath, $"config.{this.hostingEnvironment.EnvironmentName}.json");

        var cont = await System.IO.File.ReadAllTextAsync(path);
        //
        var doc = JToken.Parse(cont);
        //
        appSettings = JsonConvert.DeserializeObject<AppSettings>((doc["AppSettings"]).ToString());

    }
}

@* Code in the head section below gets added at the bottom of the HTML head element. This section can be used to enter
    custom meta tags specific to this page. *@
@section head
    {
    @* Author - (Optional) Used by search engines. The author of the page. *@
    <meta name="author" content="ABNO Softwares Int.">
    @* Add Twitter Card social meta tags so we can customize what happens when our page is shared on Twitter. There are
        several different Twitter Card types we could add, a different one is added on each page as an example.
        These helpers make it very easy to add the meta tags. For best performance, see what tags are generated and
        hand-code them yourself instead of using these helpers. *@
    <twitter-card-summary-large-image username="@@ABNO">
        @* Add Open Graph social meta tags so we can customize what happens when our page is shared on Facebook, Google+,
            Pintrest and other social media websites. There are dozens of Open Graph types, a different one is added on
            each page as an example. These helpers make it very easy to add the meta tags. For best performance, see what
            tags are generated and hand-code them yourself instead of using these helpers. *@
        <open-graph-website site-name="@appSettings.SiteTitle"
                            title="@ViewBag.Title"
                            main-image="@(new OpenGraphImage(
                                Url.AbsoluteContent("~/img/icons/open-graph-1200x630.png"),
                                ContentType.Png,
                                1200,
                                630))"
                            determiner="Blank">
            @* referrer - Controls what is sent in the HTTP referrer header when a client navigates to an external site. *@
            <meta asp-referrer="OriginWhenCrossOrigin">

            <!-- Footable CSS -->
            <link href="~/lib/plugins/footable/css/footable.core.css" rel="stylesheet">
            <link href="~/lib/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
            <!-- Custom CSS -->
            <link href="~/lib/css/style.css" rel="stylesheet">
            <!-- page css -->
            <!-- page css -->
            <link href="~/lib/css/pages/tab-page.css" rel="stylesheet">
            <link href="~/lib/css/pages/footable-page.css" rel="stylesheet">
            <!-- You can change the theme colors from here -->
            <link href="~/lib/css/colors/default-dark.css" id="theme" rel="stylesheet">

            @if (ViewData["Message"] != null)
            {
                <script>
                 var msg = '@ViewData["Message"]'
                </script>
            }
}
<div class="container-fluid">

    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">@ViewBag.Title</h3>
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Finance</a></li>
                <li class="breadcrumb-item">Settings</li>
            </ol>
        </div>
        <div>
            <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-12">
            <!-- Column -->
            <div class="card">
                <div class="card-body">
                    <button type="button" class="btn btn-info btn-rounded pull-right update" id="" data-toggle="tooltip" data-original-title="Update Settings" data-target="@Url.RouteUrl(FinanceControllerRoute.GetUpdateSettings, new { })">Update Settings</button>
                    <div class="clearfix"></div>
                    @*<h4 class="card-title">Row Toggler</h4>*@
                    <h6 class="card-subtitle">Global finance settings</h6>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="basic-tab" data-toggle="tab" href="#basic" role="tab" aria-controls="basic" aria-expanded="true">
                                <span class="hidden-sm-up">
                                    <i class="ti-home"></i>
                                </span>
                                <span class="hidden-xs-down">Basic Config.</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pvs-tab" data-toggle="tab" href="#pvs" role="tab" aria-controls="pvs" aria-expanded="false">
                                <span class="hidden-sm-up">
                                    <i class="ti-home"></i>
                                </span>
                                <span class="hidden-xs-down">Payment Vouchers</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="tax-pvs-tab" data-toggle="tab" href="#tax-pvs" role="tab" aria-controls="tax-pvs" aria-expanded="false">
                                <span class="hidden-sm-up">
                                    <i class="ti-home"></i>
                                </span>
                                <span class="hidden-xs-down">PC/Cheque Schedule</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="iws-tab" data-toggle="tab" href="#iws" role="tab" aria-controls="iws" aria-expanded="false">
                                <span class="hidden-sm-up">
                                    <i class="ti-home"></i>
                                </span>
                                <span class="hidden-xs-down">Imprest Warrants</span>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                <span class="hidden-sm-up"><i class="ti-email"></i></span> <span class="hidden-xs-down">More...</span>
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" id="cust-invs-tab" href="cust-invs" role="tab" data-toggle="tab" aria-controls="cust-invs">Customer Invoices</a>
                                <a class="dropdown-item" id="pro-forma-invs-tab" href="#pro-forma-invs" role="tab" data-toggle="tab" aria-controls="pro-forma-invs">Pro-Forma Invoices</a>
                                <a class="dropdown-item" id="debit-memos-tab" href="#debit-memos" role="tab" data-toggle="tab" aria-controls="debit-memos">Debit Memos</a>
                                <a class="dropdown-item" id="credit-memos-tab" href="#credit-memos" role="tab" data-toggle="tab" aria-controls="credit-memos">Credit Memos</a>
                                <a class="dropdown-item" id="receipt-fee-stmnt-tab" href="#receipt-fee-stmnt" role="tab" data-toggle="tab" aria-controls="receipt-fee-stmnt">Receipt &amp; Fees Statements</a>
                                <a class="dropdown-item" id="iws-tab" href="#iws" role="tab" data-toggle="tab" aria-controls="iws">Misc. Config</a>
                            </div>
                        </li>
                    </ul>

                    <div class="tab-content tabcontent-border p-20" id="myTabContent">
                        @*Basic*@
                        <div role="tabpanel" class="tab-pane fade show active" id="basic" aria-labelledby="basic-tab">
                            <label><strong>Prepayment Settings</strong></label>
                            <div class="gray-box">
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <label>Pre-Payment Cutomer Account</label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="ti-key"></i></div>
                                            @{ FinanceAccount acc = null;
                                                if (appSettings.Accounts != null && appSettings.Accounts.PrePaymentCA != null)
                                                {
                                                    try
                                                    {
                                                        var id = int.Parse(appSettings.Accounts.PrePaymentCA);

                                                        acc = db.FinanceAccounts.SingleOrDefault(l => l.Id == id);
                                                    }
                                                    catch { }
                                                }
                                            }
                                            <input type="text" readonly class="form-control" value="@(acc?.Name??"No Specified")" />
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label>Prepayment Receipt Alias</label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="ti-key"></i></div>
                                            <input class="form-control" placeholder="" value="@(appSettings.Accounts?.PrePaymentRA ?? "Not Specified")" readonly>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <label><strong>Primary Defined Accounts</strong></label>
                            <div class="gray-box">
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>Bad Debt GL Account</label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="ti-key"></i></div>
                                            @{
                                                if (appSettings.Accounts != null && appSettings.Accounts.BadDebtAcc != null)
                                                {
                                                    try
                                                    {
                                                        var id = int.Parse(appSettings.Accounts.BadDebtAcc);

                                                        acc = db.FinanceAccounts.SingleOrDefault(l => l.Id == id);
                                                    }
                                                    catch { }
                                                }
                                            }
                                            <input type="text" readonly class="form-control" value="@(acc?.Name??"No Specified")" />
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Accumulated Funds GL Account</label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="ti-key"></i></div>
                                            @{
                                                if (appSettings.Accounts != null && appSettings.Accounts.AccumFund != null)
                                                {
                                                    try
                                                    {
                                                        var id = int.Parse(appSettings.Accounts.AccumFund);

                                                        acc = db.FinanceAccounts.SingleOrDefault(l => l.Id == id);
                                                    }
                                                    catch { }
                                                }
                                            }
                                            <input type="text" readonly class="form-control" value="@(acc?.Name??"No Specified")" />
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>Depreciation GL Account</label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="ti-key"></i></div>
                                            @{
                                                if (appSettings.Accounts != null && appSettings.Accounts.DeprAcc != null)
                                                {
                                                    try
                                                    {
                                                        var id = int.Parse(appSettings.Accounts.DeprAcc);

                                                        acc = db.FinanceAccounts.SingleOrDefault(l => l.Id == id);
                                                    }
                                                    catch { }
                                                }
                                            }
                                            <input type="text" readonly class="form-control" value="@(acc?.Name??"No Specified")" />
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Capital Grants GL Account</label>
                                        <div class="input-group">
                                            @{
                                                if (appSettings.Accounts != null && appSettings.Accounts.CGAcc != null)
                                                {
                                                    try
                                                    {
                                                        var id = int.Parse(appSettings.Accounts.CGAcc);

                                                        acc = db.FinanceAccounts.SingleOrDefault(l => l.Id == id);
                                                    }
                                                    catch { }
                                                }
                                            }
                                            <input type="text" readonly class="form-control" value="@(acc?.Name??"No Specified")" />
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="form-group">
                                    <label>Openning Balance GL Account</label>
                                    <div class="input-group">
                                        @{
                                            if (appSettings.Accounts != null && appSettings.Accounts.OBAcc != null)
                                            {
                                                try
                                                {
                                                    var id = int.Parse(appSettings.Accounts.OBAcc);

                                                    acc = db.FinanceAccounts.SingleOrDefault(l => l.Id == id);
                                                }
                                                catch { }
                                            }
                                        }
                                        <input type="text" readonly class="form-control" value="@(acc?.Name??"No Specified")" />
                                    </div>
                                </div>
                            </div>
                            <br />
                            <label>Default Debit/Credit Accounts</label>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label>Account Receivable(DEBTORS) GL Accounts</label>
                                    <div class="form-group gray-box">
                                        <div class="accs-wrapper">

                                            <ul style="" class="ar-new" id="ar-accs">
                                                @if (appSettings.Accounts?.ARDebtorAccs.Count > 0)
                                                {
                                                    @foreach (var d in appSettings.Accounts?.ARDebtorAccs)
                                                    {
                                                        try
                                                        {
                                                            acc = db.FinanceAccounts?.SingleOrDefault(k => k.Id == d.AccId);
                                                            if (acc != null)
                                                            {
                                                                <li style="margin-top:5px" id="">
                                                                    <div class="row acc-row-cont">
                                                                        <div class="input-group col-sm-8">
                                                                            <input class="form-group" value="@acc.Name" style="height:38px" placeholder="GL Account Name..." readonly />
                                                                        </div>
                                                                        <div class="input-group col-sm-3">
                                                                            <div class="form-check bd-example-indeterminate">
                                                                                <label class="custom-control custom-checkbox">
                                                                                    @if (d.IsDefault)
                                                                                    {
                                                                                        <input type="checkbox" class="custom-control-input ar-chks" name="ar-accs" value="" disabled checked>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <input type="checkbox" class="custom-control-input ar-chks" name="ar-accs" value="" disabled>
                                                                                    }
                                                                                    <span class="custom-control-indicator"></span>
                                                                                    <span class="custom-control-description">Default</span>
                                                                                </label>
                                                                            </div>
                                                                        </div><button class="bnt btn-sm btn-danger btn-rounded btn-rm-ar" type="button" data-toggle="tooltip" style="padding:2px;margin:2px;height:22px" data-original-title="Remove Entry"><i class="ti-close"></i></button>
                                                                    </div>
                                                                </li>

                                                            }
                                                        }
                                                        catch { }


                                                    }
                                                    <hr />

                                                }
                                                else
                                                {

                                                    <li style="">
                                                        <p class="" id="hld" style="text-align:center;line-height:100px">
                                                            No New Entries...
                                                        </p>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                        <hr />
                                        <p style="text-align:center"><input type="button" class="btn btn-success" id="add-ar" style="height:26px;padding:4px" value="Add New Row" data-toggle="tooltip" data-original-title="Append a new entry" /></p>

                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label>Account Payables(Creditors) GL Accounts</label>
                                    <div class="form-group gray-box">
                                        <div class="accs-wrapper">

                                            <ul style="" class="ap-new" id="ap-accs">
                                                @if (appSettings.Accounts?.APCreditorAccs.Count > 0)
                                                {
                                                    @foreach (var d in appSettings.Accounts?.APCreditorAccs)
                                                    {
                                                        try
                                                        {
                                                            acc = db.FinanceAccounts?.SingleOrDefault(k => k.Id == d.AccId);
                                                            if (acc != null)
                                                            {
                                                                <li style="margin-top:5px" id="">
                                                                    <div class="row acc-row-cont">
                                                                        <div class="input-group col-sm-8">
                                                                            <input class="form-control" value="@acc.Name" placeholder="GL Account Name..." style="height:38px" readonly />
                                                                        </div>
                                                                        <div class="input-group col-sm-3">
                                                                            <div class="form-check bd-example-indeterminate">
                                                                                <label class="custom-control custom-checkbox">
                                                                                    @if (d.IsDefault)
                                                                                    {
                                                                                        <input type="checkbox" class="custom-control-input ap-chks" name="ar-accs" value="" checked title="Update" readonly>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <input type="checkbox" class="custom-control-input ap-chks" name="ar-accs" value="" title="Update">
                                                                                    }
                                                                                    <span class="custom-control-indicator"></span>
                                                                                    <span class="custom-control-description">Default</span>
                                                                                </label>
                                                                            </div>
                                                                        </div><button class="bnt btn-sm btn-danger btn-rounded btn-rm-ar" type="button" data-toggle="tooltip" style="padding:2px;margin:2px;height:22px" data-original-title="Remove Entry"><i class="ti-close"></i></button>
                                                                    </div>
                                                                </li>

                                                            }
                                                        }
                                                        catch { }


                                                    }
                                                    <hr />
                                                }
                                                else
                                                {

                                                    <li style="">
                                                        <p class="" id="hld" style="text-align:center;line-height:100px">
                                                            No New Entries...
                                                        </p>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                        <hr />
                                        <p style="text-align:center"><input type="button" class="btn btn-warning" id="add-ap" style="height:26px;padding:4px" value="Add New Row" data-toggle="tooltip" data-original-title="Append a new entry" /></p>

                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row gray-box">
                                <div class="form-group col-md-6">

                                    <div class="checkbox checkbox-success" style="margin:4px">
                                        @*<input asp-for="IsBudgetItem" type="checkbox">*@
                                        <label> Enable Receipt Printing</label>
                                        <div class="switch">
                                            <label>
                                                No
                                                @if (appSettings.Accounts != null && appSettings.Accounts.ReceiptPrinting)
                                                {
                                                    <input type="checkbox" checked title="" disabled><span class="lever"></span>

                                                }
                                                else
                                                {
                                                    <input type="checkbox" title="Update" disabled><span class="lever"></span>
                                                }
                                                Yes
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <div class="checkbox checkbox-success" style="margin:4px">
                                        @*<input asp-for="IsClosed" type="checkbox">*@
                                        <label> Post Completed Payments</label>
                                        <div class="switch">
                                            <label>
                                                No
                                                @if (appSettings.Accounts != null && appSettings.Accounts.PostCompletedPayments)
                                                {
                                                    <input type="checkbox" checked disabled><span class="lever"></span>
                                                }
                                                else
                                                {
                                                    <input type="checkbox" disabled><span class="lever"></span>
                                                } Yes
                                            </label>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="tab-pane fade" id="cust-invs" role="tabpanel" aria-labelledby="pro-forma-invs-tab">
                            <p>Customer invoices</p>
                        </div>
                        <div class="tab-pane fade" id="pro-forma-invs" role="tabpanel" aria-labelledby="pro-forma-invs-tab">
                            <p>Pro-forma invoices</p>
                        </div>
                        <div class="tab-pane fade" id="credit-memos" role="tabpanel" aria-labelledby="credit-memo-tab">
                            <p>Credit Memos</p>
                        </div>
                        <div class="tab-pane fade" id="debit-memos" role="tabpanel" aria-labelledby="debit-memo-tab">
                            <p>Debit Memos</p>
                        </div>
                        <div class="tab-pane fade" id="receipt-fee-stmnt" role="tabpanel" aria-labelledby="credit-memo-tab">
                            <p>Receipt &amp; Fees Statements</p>
                        </div>
                        <div class="tab-pane fade" id="pvs" role="tabpanel" aria-labelledby="pvs-tab">
                            <p>Payment Vouchers</p>
                        </div>
                        <div class="tab-pane fade" id="tax-pvs" role="tabpanel" aria-labelledby="tax-pvs-tab">
                            <p>Tax Payment Vouchers/Cheque Scheduling footers</p>
                        </div>
                        <div class="tab-pane fade" id="iws" role="tabpanel" aria-labelledby="iws-tab">
                            <p>Imprest Warrants</p>
                        </div>
                        <div class="tab-pane fade" id="tax-pvs" role="tabpanel" aria-labelledby="misc-tab">
                            <p>Misc. Configurations</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@* Code in the scripts section below gets added at the bottom of the HTML body element, below other scripts. This
    section can be used to enter custom scripts specific to this page. *@
@section scripts
    {
    <!-- Footable -->
    <script src="~/lib/plugins/footable/js/footable.all.min.js"></script>
    <script src="~/lib/plugins/bootstrap-select/bootstrap-select.min.js" type="text/javascript"></script>
    <!-- Editable -->
    <script src="~/lib/plugins/jquery-datatables-editable/jquery.dataTables.js"></script>
    <script src="~/lib/plugins/datatables/dataTables.bootstrap.js"></script>
    <script src="~/lib/plugins/tiny-editable/mindmup-editabletable.js"></script>
    <script src="~/lib/plugins/tiny-editable/numeric-input-example.js"></script>
    <script>
        jQuery('#mainTable').editableTableWidget().numericInputExample().find('td:first').focus();
        jQuery('#editable-datatable').editableTableWidget().numericInputExample().find('td:first').focus();
        jQuery(document).ready(function () {
            jQuery('#editable-datatable').DataTable();
        });
    </script>

    <script>
        jQuery('.update').click(function () {
            window.location = jQuery(this).data('target');
        })
    </script>
    <script type="text/javascript">
        $(function () {
            $(".preloader").fadeOut();
        });

    </script>
}
