﻿@inject IOptionsSnapshot<AppSettings> AppSettings
@{
    // title - The title of the page which appears in the browser window title. Aim for the title to be less than 70
    //         characters. The site name appears at the end for better SEO.
    ViewBag.Title = "Student Fee Summary";
    // Description - Used by search engines. Aim for more than 160 characters.
    ViewBag.Description = "A professional ASP.NET Core project template for building secure, fast, robust and adaptable web applications or sites. It provides the minimum amount of code on top of the default ASP.NET Core project template provided by Microsoft.";

    var ComparatorList = new List<SelectListItem>();

    ComparatorList.Add(new SelectListItem() { Text = "All", Value = "" + Comparator.ALL, Selected = true });
    ComparatorList.Add(new SelectListItem() { Text = "Equal To (=)", Value = "" + Comparator.EQUALTO });
    ComparatorList.Add(new SelectListItem() { Text = "Less Than (<)", Value = "" + Comparator.LESSTHAN });
    ComparatorList.Add(new SelectListItem() { Text = "Geater Than (>)", Value = "" + Comparator.GREATERTHAN });
    ComparatorList.Add(new SelectListItem() { Text = "Between (>|<)", Value = "" + Comparator.BETWEEN });

    //
    var CampusList = new List<SelectListItem>();
    //Class Code
    var ClassCodeList = new List<SelectListItem>();
    //
    var ProgrammeList = new List<SelectListItem>();
    //
    var SchoolList = new List<SelectListItem>();
    //StudyMode
    var StudyModeList = new List<SelectListItem>();
    //StudyType
    var StudyTypeList = new List<SelectListItem>();
}
@model StudentFeeSummaryViewModel
@* Code in the head section below gets added at the bottom of the HTML head element. This section can be used to enter
    custom meta tags specific to this page. *@
@section head
    {
    @* Author - (Optional) Used by search engines. The author of the page. *@
    <meta name="author" content="ABNO Softwares Int.">
    @* Add Twitter Card social meta tags so we can customize what happens when our page is shared on Twitter. There are
        several different Twitter Card types we could add, a different one is added on each page as an example.
        These helpers make it very easy to add the meta tags. For best performance, see what tags are generated and
        hand-code them yourself instead of using these helpers. *@
    <twitter-card-summary-large-image username="@@ABNO">
        @* Add Open Graph social meta tags so we can customize what happens when our page is shared on Facebook, Google+,
            Pintrest and other social media websites. There are dozens of Open Graph types, a different one is added on
            each page as an example. These helpers make it very easy to add the meta tags. For best performance, see what
            tags are generated and hand-code them yourself instead of using these helpers. *@
        <open-graph-website site-name="@AppSettings.Value.SiteTitle"
                            title="@ViewBag.Title"
                            main-image="@(new OpenGraphImage(
                            Url.AbsoluteContent("~/img/icons/open-graph-1200x630.png"),
                            ContentType.Png,
                            1200,
                            630))"
                            determiner="Blank">
            @* referrer - Controls what is sent in the HTTP referrer header when a client navigates to an external site. *@
            <meta asp-referrer="OriginWhenCrossOrigin">
            <!-- page CSS -->
            <link href="~/lib/plugins/wizard/steps.css" rel="stylesheet">
            <link href="~/lib/plugins/icheck/skins/all.css" rel="stylesheet">
            <!--alerts CSS -->
            <link href="~/lib/plugins/sweetalert/sweetalert.css" rel="stylesheet" type="text/css">
            <link href="~/lib/css/pages/form-icheck.css" rel="stylesheet">


            <link href="~/lib/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
            <link href="~/lib/plugins/select2/dist/css/select2.min.css" rel="stylesheet" type="text/css" />
            <link href="~/lib/plugins/switchery/dist/switchery.min.css" rel="stylesheet" />
            <link href="~/lib/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
            <link href="~/lib/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.css" rel="stylesheet" />
            <link href="~/lib/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
            <link href="~/lib/plugins/multiselect/css/multi-select.css" rel="stylesheet" type="text/css" />
}

<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Budget Status</h3>
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Finance</a></li>
                <li class="breadcrumb-item">Reports</li>
                <li class="breadcrumb-item active">Budget Status</li>
            </ol>
        </div>
    </div>
    <!-- Validation wizard -->
    <div class="row" id="validation">
        <div class="col-12">
            <div class="card wizard-content">
                <div class="card-body">
                    <h4 class="card-title">Budget Status Generation wizard</h4>
                    <h6 class="card-subtitle">A configuration wizard to help you prepare your budget status report.</h6>
                    <form asp-action="@Url.RouteUrl(FinanceControllerRoute.GetBudgetReports)" class="validation-wizard wizard-circle" method="post">
                        <!-- Step 1 -->
                        <h6>Budget Status Filters</h6>
                        <section>
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Select the report you wish to prepare</h4>
                                    <h6 class="card-subtitle"></h6>

                                    <div class="skin skin-square">
                                        <div>
                                            <div class="gray-box">
                                                <div class="row">
                                                    <div class="form-group col-sm-12">
                                                        <label style="font-weight:bold">Period :</label>
                                                        <div class="input-group">
                                                            <div class="input-group-addon"><i class="ti">Starting On :</i></div>
                                                            <input type="date" class="form-control" asp-for="Begin" value="@DateTime.Now.ToString("yyyy-MM-dd")" placeholder="Starting On :" title="Starting On :">
                                                            <div class="input-group-addon"><i class="ti">AND</i></div>
                                                            <input type="date" class="form-control" asp-for="End" value="@DateTime.Now.ToString("yyyy-MM-dd")" placeholder="Ending On :" title="Ending On :">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="gray-box">
                                            <label style="font-weight:bold">Other Filters</label>
                                            <div class="row ">
                                                <div class="col-md-6">

                                                    <div class="form-group">
                                                        <label for="wLocation1">Study Mode :</label>
                                                        @Html.DropDownListFor(l => l.StudyMode, StudyModeList, "-- Study Mode --", new { @class = "custom-select form-control", @style = "width:100%" })
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="wLocation1">Study Type :</label>
                                                        @Html.DropDownListFor(l => l.StudyType, StudyTypeList, "-- Study Type --", new { @class = "custom-select form-control", @style = "width:100%" })
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="wintType1">Department :</label>
                                                        @Html.DropDownListFor(l => l.ClassCode, ClassCodeList, "-- Class Code --", new { @class = "custom-select form-control", @style = "width:100%" })
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="wLocation1">Campus :</label>
                                                        @Html.DropDownListFor(l => l.Campus, CampusList, "-- Study Mode --", new { @class = "custom-select form-control", @style = "width:100%" })
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="wLocation1">School/Faculty :</label>
                                                        @Html.DropDownListFor(l => l.School, SchoolList, "-- School/Faculty --", new { @class = "custom-select form-control", @style = "width:100%" })
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="wintType1">Programme :</label>
                                                        @Html.DropDownListFor(l => l.ClassCode, ProgrammeList, "-- Select Programme --", new { @class = "custom-select form-control", @style = "width:100%" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- Step 2 -->
                        <h6>Budget Status Report (Tabular)</h6>
                        <section>
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Generated Results in Tabular View</h4>
                                    <h6 class="card-subtitle"></h6>
                                    <div id="res-wrapper-tabular" class="row gray-box">

                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- Step 3 -->
                        <h6>Busdget Status Report (Graph).</h6>
                        <section>
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Generated result in Graphical View</h4>
                                    <h6 class="card-subtitle"></h6>

                                    <div id="res-wrapper-chart" class="row gray-box">
                                    </div>
                                </div>
                            </div>
                        </section>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@* Code in the scripts section below gets added at the bottom of the HTML body element, below other scripts. This
    section can be used to enter custom scripts specific to this page. *@
@section scripts
    {

    <script src="~/lib/plugins/wizard/jquery.steps.min.js"></script>
    <script src="~/lib/plugins/wizard/jquery.validate.min.js"></script>
    <!-- Sweet-Alert  -->
    <script src="~/lib/plugins/sweetalert/sweetalert.min.js"></script>
    @*<script src="~/lib/plugins/wizard/steps.js"></script>*@

    <!-- ============================================================== -->
    <!-- icheck -->
    <script src="~/lib/plugins/icheck/icheck.min.js"></script>
    <script src="~/lib/plugins/icheck/icheck.init.js"></script>
    <script src="~/lib/plugins/switchery/dist/switchery.min.js"></script>
    <script src="~/lib/plugins/select2/dist/js/select2.full.min.js" type="text/javascript"></script>
    <script src="~/lib/plugins/bootstrap-select/bootstrap-select.min.js" type="text/javascript"></script>
    <script src="~/lib/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
    <script src="~/lib/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/lib/plugins/multiselect/js/jquery.multi-select.js"></script>

    <script type="text/javascript">
        $(function () {
            $(".preloader").fadeOut();
        });
        // For select 2
        $(".select2").select2();
        $('.selectpicker').selectpicker();
    </script>
    @*Steppy*@
    <script>
                var form = $(".validation-wizard").show();

                var wizard = $(".validation-wizard").steps({
                    headerTag: "h6"
                    , bodyTag: "section"
                    , transitionEffect: "fade"
                    , titleTemplate: '<span class="step">#index#</span> #title#'
                    , labels: {
                        finish: "Export",
                        next: "Generate Report"
                    }
                    , saveState : true
                    , onStepChanging: function (event, currentIndex, newIndex) {
                        console && console.log('Nav to ' + newIndex)
                        if (newIndex == 1) {
                            var formData = form.serialize();
                            form.valid() && jQuery.ajax({
                                method: 'POST',
                                async: false,
                                //url: form.attr('action'),
                                url: '/reports',
                                data: formData
                            }).done(function (data) {
                                console && consloe.log(data);
                                if (data !== "undefined") {
                                    //prepare next view()

                                    //nav
                                    return true;
                                } else {
                                    console && console.log('ERROR, unexpected value');
                                }
                            }).fail(function (jqXHR, ex) {
                                swal("Failed!", "Report could not be generated\n" + ex, "error");
                                console && console.log('ERROR, unexpected value');
                                //wizard.steps('next'); 
                            });
                            return false;
                        }
                        //return currentIndex > newIndex ||  (currentIndex < newIndex && (form.find(".body:eq(" + newIndex + ") label.error").remove(), form.find(".body:eq(" + newIndex + ") .error").removeClass("error")), form.validate().settings.ignore = ":disabled,:hidden", form.valid())
                        return false;
                    },
                    onStepChanged: function (event, currentIndex, priorIndex) {
                        //
                        if (currentIndex == 1 || currentIndex == 1) {
                            $('a[href$="next"]').text('Export');

                        } else {
                            $('a[href$="next"]').text('Generate Report');
                        }
                    }
                    , onFinishing: function (event, currentIndex) {
                        return form.validate().settings.ignore = ":disabled", form.valid()
                    }
                    , onFinished: function (event, currentIndex) {
                        swal({
                            title: "Export Budgetary Report",
                            text: "Your report will be prepared and a download\preview link generated back.\n Please specify the file name to be returned.",
                            type: "input",
                            showCancelButton: true,
                            closeOnConfirm: false,
                            showLoaderOnConfirm: true,
                            inputPlaceholder: "Enter file name"
                        }, function (inputValue) {
                            if (inputValue === false) return false;
                            if (inputValue === "") {
                                swal.showInputError("You need to enter a file name,");
                                return false
                            }
                            setTimeout(function () {
                                swal("Report Generated!",
                                    "Report writen to : '" + '@Url.AbsoluteAction("Reports","Finance")' + "repo/" + inputValue + "." +
                                    jQuery(jQuery('input[name="export"]:checked')).val() + "'", "success");
                            }, 2000);
                        });

                    }
                });
                wizard.validate({
                    ignore: "input[type=hidden]"
                    , errorClass: "text-danger"
                    , successClass: "text-success"
                    , highlight: function (element, errorClass) {
                        $(element).removeClass(errorClass)
                    }
                    , unhighlight: function (element, errorClass) {
                        $(element).removeClass(errorClass)
                    }
                    , errorPlacement: function (error, element) {
                        error.insertAfter(element)
                    }
                    , rules: {
                        email: {
                            email: !0
                        }
                    }
                })
    </script>
}
