﻿@inject IOptionsSnapshot<AppSettings> AppSettings

@using Microsoft.EntityFrameworkCore;

@inject ApplicationDbContext db
@{
    // title - The title of the page which appears in the browser window title. Aim for the title to be less than 70
    //         characters. The site name appears at the end for better SEO.
    ViewBag.Title = "Unposted Payments";
    // Description - Used by search engines. Aim for more than 160 characters.
    ViewBag.Description = "Pending/Unpaid Payments";


    var BaseCurrency = db.FCurrencies.Single(l => l.IsBase);
}
@model PostAllPaymentsViewModel
@* Code in the head section below gets added at the bottom of the HTML head element. This section can be used to enter
    custom meta tags specific to this page. *@
@section head
    {
    @* Author - (Optional) Used by search engines. The author of the page. *@
    <meta name="author" content="ABNO Softwares Int.">
    @* Add Twitter Card social meta tags so we can customize what happens when our page is shared on Twitter. There are
        several different Twitter Card types we could add, a different one is added on each page as an example.
        These helpers make it very easy to add the meta tags. For best performance, see what tags are generated and
        hand-code them yourself instead of using these helpers. *@
    <twitter-card-summary-large-image username="@@ABNO">
        @* Add Open Graph social meta tags so we can customize what happens when our page is shared on Facebook, Google+,
            Pintrest and other social media websites. There are dozens of Open Graph types, a different one is added on
            each page as an example. These helpers make it very easy to add the meta tags. For best performance, see what
            tags are generated and hand-code them yourself instead of using these helpers. *@
        <open-graph-website site-name="@AppSettings.Value.SiteTitle"
                            title="@ViewBag.Title"
                            main-image="@(new OpenGraphImage(
                                    Url.AbsoluteContent(" ~/img/icons/open-graph-1200x630.png"),
        ContentType.Png,
        1200,
        630))"
                            determiner="Blank">
            @* referrer - Controls what is sent in the HTTP referrer header when a client navigates to an external site. *@
            <meta asp-referrer="OriginWhenCrossOrigin">

            <link href="~/lib/plugins/tablesaw-master/dist/tablesaw.css" rel="stylesheet">
            <link href="~/lib/plugins/tablesaw-master/dist/tablesaw-3.0.4.css" rel="stylesheet">

            <script src="~/lib/plugins/tablesaw-master/dist/tablesaw-3.0.6.js"></script>
            <script src="~/lib/plugins/tablesaw-master/dist/tablesaw-init-3.0.6.js"></script>
            @if (ViewData["Message"] != null)
            {
                <script>
            /**/
            /**/
            var msg = '@ViewData["Message"]'
            /**/
            /**/
                </script>
            }
            <style>
                .parent-element {
                    @@include tablesaw-stack( 50em );
                }
            </style>
}
<div class="container-fluid">

    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">@ViewBag.Title</h3>
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Finance</a></li>
                <li class="breadcrumb-item">General Ledger</li>
                <li class="breadcrumb-item active">Unposted Payments</li>
            </ol>
        </div>
        <div>
            <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-12">
            <!-- Column -->
            <div class="card">
                <div class="card-body">
                    <form asp-route="@FinanceControllerRoute.GetPostAllPayments" method="POST" class="form p-t-20" role="form" id="post-pys-form">

                        <div class="pull-right">
                            <button type="button" class="btn btn-success btn-rounded post-selected" data-toggle="tooltip" data-original-title="Post selected Payments" data-target="">Post Selected</button>
                            <button type="button" class="btn btn-info btn-rounded post-all" data-toggle="tooltip" data-original-title="Post all pending payments" data-target="">Post All</button>
                        </div>
                        <div class="clearfix"></div>
                        <h6 class="card-title">An overview of all payments</h6>
                        <hr />
                        <div asp-validation-summary="All" class="text-danger"></div>
                        @Html.HiddenFor(l => l.PostAll)
                        <table class="tablesaw table-bordered table-hover table" data-tablesaw-mode="swipe" data-tablesaw-sortable data-tablesaw-sortable-switch data-tablesaw-minimap data-tablesaw-mode-switch>
                            <thead>
                                <tr>
                                    <th scope="col" data-tablesaw-priority="persist" style="font-weight:bold">
                                        <div class="form-check bd-example-indeterminate">
                                            <label class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" name="all" value="" data-tablesaw-checkall>
                                                <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description"> Check All</span>
                                            </label>
                                        </div>
                                    </th>
                                    <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="0" style="font-weight:bold">Doc. No.</th>
                                    <th scope="col" data-tablesaw-sortable-col data-tablesaw-sortable-default-col data-tablesaw-priority="1" style="font-weight:bold">Supplier/Payee(s) Ref.</th>
                                    <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="2" style="font-weight:bold">Supplier/Payee(s) Name</th>
                                    <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="3" style="font-weight:bold">Type </th>
                                    <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4" style="font-weight:bold">Ledger</th>
                                    <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="5" style="font-weight:bold">Payment Account</th>
                                    <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="6" style="font-weight:bold">Cheque No.</th>
                                    <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="7" style="font-weight:bold">Amount</th>
                                    <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="8" style="font-weight:bold">Voucher Date</th>
                                    <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="9" style="font-weight:bold">Created By</th>
                                    <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="10" style="font-weight:bold">Status</th>
                                    <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="11" style="font-weight:bold">Date Posted</th>
                                    <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="12" style="font-weight:bold">Posted By</th>
                                    <th scope="col" style="font-weight:bold"> Actions </th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int rows = 0;
                                    //Vouchers
                                    var VoucherList = db.FPaymentVouchers.Include(l => l.Ledger).ThenInclude(l => l.PVoucherPrefixes).Include(k => k.Supplier).Include(o => o.PaymentAccount)
                                    .Include(k => k.Payments).ThenInclude(k => k.CurrencyUsed).Include(l => l.Personnel).Include(l => l.PostingPersonnel)
                                    .Include(l => l.Personnel).Include(k => k.Payments).ThenInclude(k => k.ExpenseClaim).ThenInclude(l => l.Staff)
                                    .Include(k => k.Payments).ThenInclude(k => k.ImprestWarrant).ThenInclude(l => l.Staff).Where(l => l.Status == PVStatus.Pending).ToList();

                                    foreach (var pv in VoucherList)
                                    {
                                        <tr class="label-warning">
                                            <td>
                                                <div class="form-check bd-example-indeterminate">
                                                    <label class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" name="pvs" value="@pv.Id">
                                                        <span class="custom-control-indicator"></span>
                                                        <span class="custom-control-description"> Check All</span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>@(pv.Ledger.PVoucherPrefixes.FirstOrDefault()?.Code ?? "PV")@pv.VoucherNo</td>
                                            <td>
                                                @if (pv.Type == PVType.Regular)
                                                {
                                                if (pv.Supplier != null) {
                                                        <span>@pv.Supplier.Name</span>
                                                 } else { <span>@(pv.Payments.FirstOrDefault()?.PayeeName ?? "Not Available")</span>
    }
    }
    else if (pv.Type == PVType.ExpenseClaim)
    {
    <ul style="padding-left:2px">
        @foreach (var staff in pv.Payments.Select(k => k.ExpenseClaim.Staff).Distinct())
        {
            <li style="list-style:none"> <i class="fa fa-dot-circle-o"></i> @staff.EmplNo</li>
        }
    </ul>
    }
    else if (pv.Type == PVType.Imprest)
    {
    <ul style="padding-left:2px">
        @foreach (var staff in pv.Payments.Select(k => k.ImprestWarrant.Staff).Distinct())
        {
            <li style="list-style:none"><i class="fa fa-dot-circle-o"></i> @staff.EmplNo</li>
        }
    </ul>
    }
</td>
                                            <td>
                                                @if (pv.Type == PVType.Regular)
                                                {
                                                    <span>- @(pv.Supplier?.Name ?? pv.Payments.FirstOrDefault()?.PayeeName)</span>
                                                }
                                                else if (pv.Type == PVType.ExpenseClaim)
                                                {
                                                    <ul style="padding-left:2px">
                                                        @foreach (var staff in pv.Payments.Select(k => k.ExpenseClaim.Staff).Distinct())
                                                        {
                                                            <li style="list-style:none"><i class="fa fa-dot-circle-o"></i> @staff.FullName</li>
                                                        }
                                                    </ul>
                                                }
                                                else if (pv.Type == PVType.Imprest)
                                                {
                                                    <ul style="padding-left:2px">
                                                        @foreach (var staff in pv.Payments.Select(k => k.ImprestWarrant.Staff).Distinct())
                                                        {
                                                            <li style="list-style:none"><i class="fa fa-dot-circle-o"></i> @staff.FullName</li>
                                                        }
                                                    </ul>
                                                }
                                            </td>
                                            <td>@pv.Type voucher</td>
                                            <td>@pv.Ledger.Name</td>
                                            <td>@(pv.PaymentAccount?.Name ?? "Not Available")</td>
                                            <td>@(pv.CheckNo ?? "Not Available")</td>
                                            <td>@pv.Payments.First().CurrencyUsed.Alias @((await Utils.CalculatePayableAmount(pv.Payments.ToList())).ToString("#,##0"))</td>
                                            <td>@pv.VoucherDate.ToString("dd MMM yyyy")</td>
                                            <td>@pv.Personnel.FullName</td>
                                            <td>@pv.Status</td>
                                            <td>@(pv.PayDate?.ToString("dd MMM yyyy") ?? "Not Available")</td>
                                            <td>@(pv.PostingPersonnel?.FullName ?? "Not Available")</td>
                                            <td>
                                                @if (pv.Status == PVStatus.Pending)
                                                {
                                                    <a href="@Url.RouteUrl(FinanceControllerRoute.GetUpdateRegularPVoucher, new { pid = pv.Id })" data-toggle="tooltip" data-original-title="Update"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                                    <a href="@Url.RouteUrl(FinanceControllerRoute.GetPostPaymentVoucher, new { pid = pv.Id })" data-toggle="tooltip" data-original-title="Post this Voucher"> <i class="fa fa-send text-inverse m-r-10"></i> </a>

                                                    <a href="javascript:void(0)" data-toggle="tooltip" class="suspend-ledger" data-id="@pv.Id" data-original-title="Delete"> <i class="fa fa-close text-danger"></i> </a>
                                                }
                                                else if (pv.Status == PVStatus.Posted)
                                                {
                                                    <a href="@Url.RouteUrl(FinanceControllerRoute.GetPreviewPVoucher, new { pid = pv.Id })" data-toggle="tooltip" data-original-title="Preview and Print"> <i class="fa fa-eye text-inverse m-r-10"></i> </a>
                                                }
                                                else
                                                {

                                                }
                                            </td>
                                        </tr>
                                        rows++;
                                    }
                                }

                                @{
                                    //Imprest
                                    var WarrantList = db.FImprestWarrants.Include(l => l.Ledger).ThenInclude(l => l.PVoucherPrefixes).Include(l => l.Disbursement).ThenInclude(l => l.Personnel).Include(l => l.Disbursement).ThenInclude(l => l.Surrender).ThenInclude(l => l.Personnel)
                                    .Include(l => l.Staff).Include(l => l.Payments).ThenInclude(l => l.CurrencyUsed).Include(l => l.Payments).ThenInclude(l => l.Voucher).ThenInclude(l => l.PostingPersonnel).Where(i => i.Disbursement == null && !i.Payments.Any(l => l.Voucher != null)).ToList();

                                    foreach (var iw in WarrantList)
                                    {
                                        <tr class="label-warning">
                                            <td>
                                                <div class="form-check bd-example-indeterminate">
                                                    <label class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" name="iws" value="@iw.Id">
                                                        <span class="custom-control-indicator"></span>
                                                        <span class="custom-control-description"> Select</span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>@(iw.Ledger.PVoucherPrefixes.FirstOrDefault()?.Code ?? "IW")@(iw.Ref.ToString("0000"))</td>
                                            <td>
                                                <ul style="padding-left:2px">
                                                    @foreach (var staff in iw.Payments.Select(k => k.ImprestWarrant.Staff).Distinct())
                                                    {
                                                        <li style="list-style:none"> <i class="fa fa-dot-circle-o"></i> @staff.EmplNo</li>
                                                    }
                                                </ul>
                                            </td>
                                            <td>
                                                <ul style="padding-left:2px">
                                                    @foreach (var staff in iw.Payments.Select(k => k.ImprestWarrant.Staff).Distinct())
                                                    {
                                                        <li style="list-style:none"><i class="fa fa-dot-circle-o"></i> @staff.FullName</li>
                                                    }
                                                </ul>
                                            </td>
                                            <td>Imprest Warrant</td>
                                            <td>@iw.Ledger.Name</td>
                                            <td>Not Available</td>
                                            <td>Not Available</td>
                                            <td>@iw.Payments.First().CurrencyUsed.Alias @((await Utils.CalculatePayableAmount(iw.Payments.ToList())).ToString("#,##0"))</td>
                                            <td>@iw.CreateDate.ToString("dd MMM yyyy")</td>
                                            <td>@iw.Personnel.FullName</td>
                                            <td>@iw.Status</td>
                                            <td>@(iw.Disbursement?.DateCreated.ToString("dd MMM yyyy") ?? "Not Available")</td>
                                            <td>@(iw.Disbursement?.Personnel.FullName ?? "Not Available")</td>
                                            <td>
                                                @if (iw.Disbursement == null)
                                                {
                                                    <a href="@Url.RouteUrl(FinanceControllerRoute.GetUpdateRegularPVoucher, new { pid = iw.Id })" data-toggle="tooltip" data-original-title="Update"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                                    <a href="@Url.RouteUrl(FinanceControllerRoute.GetPostPaymentVoucher, new { pid = iw.Id })" data-toggle="tooltip" data-original-title="Post this Voucher"> <i class="fa fa-send text-inverse m-r-10"></i> </a>

                                                    <a href="javascript:void(0)" data-toggle="tooltip" class="suspend-ledger" data-id="@iw.Id" data-original-title="Delete"> <i class="fa fa-close text-danger"></i> </a>
                                                }
                                                else
                                                {
                                                    <a href="@Url.RouteUrl(FinanceControllerRoute.GetPreviewPVoucher, new { pid = iw.Id })" data-toggle="tooltip" data-original-title="Preview and Print"> <i class="fa fa-eye text-inverse m-r-10"></i> </a>
                                                }
                                            </td>
                                        </tr>
                                        rows++;
                                    }
                                }


                                @{
                                    //Petty-Cahs
                                    var PCList = db.FPettyCashReqs.Include(l => l.Payments).ThenInclude(l => l.CurrencyUsed).Include(l => l.Ledger).Include(l => l.Personnel).Include(l => l.Staff).ToList();

                                    foreach (var pc in PCList)
                                    {
                                        <tr class="label-warning">
                                            <td>
                                                <div class="form-check bd-example-indeterminate">
                                                    <label class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" name="pcs" value="@pc.Id">
                                                        <span class="custom-control-indicator"></span>
                                                        <span class="custom-control-description"> Select</span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>PC@(pc.Ref.ToString("0000"))</td>
                                            <td>
                                                <ul style="padding-left:2px">
                                                    @foreach (var staff in pc.Payments.Select(k => k.PettyCashReq.Staff).Distinct())
                                                    {
                                                        <li style="list-style:none"> <i class="fa fa-dot-circle-o"></i> @staff.EmplNo</li>
                                                    }
                                                </ul>
                                            </td>
                                            <td>
                                                <ul style="padding-left:2px">
                                                    @foreach (var staff in pc.Payments.Select(k => k.PettyCashReq.Staff).Distinct())
                                                    {
                                                        <li style="list-style:none"><i class="fa fa-dot-circle-o"></i> @staff.FullName</li>
                                                    }
                                                </ul>
                                            </td>
                                            <td>Petty-Cash</td>
                                            <td>@pc.Ledger.Name</td>
                                            <td>Not Available</td>
                                            <td>Not Available</td>
                                            <td>@pc.Payments.First().CurrencyUsed.Alias @((await Utils.CalculatePayableAmount(pc.Payments.ToList())).ToString("#,##0"))</td>
                                            <td>@pc.DateCreated.ToString("dd MMM yyyy")</td>
                                            <td>@pc.Personnel.FullName</td>
                                            <td>@pc.Status</td>
                                            <td>@(pc.Disbursement?.DateCreated.ToString("dd MMM yyyy") ?? "Not Available")</td>
                                            <td>@(pc.Disbursement?.Personnel.FullName ?? "Not Available")</td>
                                            <td>
                                                @if (pc.Disbursement == null)
                                                {
                                                    <a href="@Url.RouteUrl(FinanceControllerRoute.GetUpdateRegularPVoucher, new { pid = pc.Id })" data-toggle="tooltip" data-original-title="Update"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                                    <a href="@Url.RouteUrl(FinanceControllerRoute.GetPostPaymentVoucher, new { pid = pc.Id })" data-toggle="tooltip" data-original-title="Post this Voucher"> <i class="fa fa-send text-inverse m-r-10"></i> </a>

                                                    <a href="javascript:void(0)" data-toggle="tooltip" class="suspend-ledger" data-id="@pc.Id" data-original-title="Delete"> <i class="fa fa-close text-danger"></i> </a>
                                                }
                                                else
                                                {
                                                    <a href="@Url.RouteUrl(FinanceControllerRoute.GetPreviewPVoucher, new { pid = pc.Id })" data-toggle="tooltip" data-original-title="Preview and Print"> <i class="fa fa-eye text-inverse m-r-10"></i> </a>
                                                }
                                            </td>
                                        </tr>
                                        rows++;
                                    }
                                }

                                @{
                                    //Claims
                                    var ClaimList = db.FExpenseClaims.Include(l => l.ClaimEntries).Include(l => l.Disbursement)
                                    .Include(l => l.Imprest).Include(l => l.Payments).ThenInclude(l => l.CurrencyUsed).Include(l => l.Personnel)
                                    .Include(l => l.Mileage).Include(k => k.Staff).Include(l => l.Payments).ThenInclude(l => l.Voucher).ThenInclude(l => l.PostingPersonnel).ToList();

                                    foreach (var ec in ClaimList)
                                    {
                                        <tr class="label-warning">
                                            <td>
                                                <div class="form-check bd-example-indeterminate">
                                                    <label class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" name="ecs" value="@ec.Id">
                                                        <span class="custom-control-indicator"></span>
                                                        <span class="custom-control-description"> Select</span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>EC@(ec.Ref.ToString("0000"))</td>
                                            <td>
                                                <ul style="padding-left:2px">
                                                    @foreach (var staff in ec.Payments.Select(k => k.ImprestWarrant.Staff).Distinct())
                                                    {
                                                        <li style="list-style:none"> <i class="fa fa-dot-circle-o"></i> @staff.EmplNo</li>
                                                    }
                                                </ul>
                                            </td>
                                            <td>
                                                <ul style="padding-left:2px">
                                                    @foreach (var staff in ec.Payments.Select(k => k.ImprestWarrant.Staff).Distinct())
                                                    {
                                                        <li style="list-style:none"><i class="fa fa-dot-circle-o"></i> @staff.FullName</li>
                                                    }
                                                </ul>
                                            </td>
                                            <td>Petty-Cash</td>
                                            <td>@ec.Ledger.Name</td>
                                            <td>Not Available</td>
                                            <td>Not Available</td>
                                            <td>@ec.Payments.First().CurrencyUsed.Alias @((await Utils.CalculatePayableAmount(ec.Payments.ToList())).ToString("#,##0"))</td>
                                            <td>@ec.DateCreated.ToString("dd MMM yyyy")</td>
                                            <td>@ec.Personnel.FullName</td>
                                            <td>@ec.Status</td>
                                            <td>@(ec.DateCreated.ToString("dd MMM yyyy") ?? "Not Available")</td>
                                            <td>@(ec.Disbursement?.Personnel.FullName ?? "Not Available")</td>
                                            <td>
                                                @if (ec.Disbursement == null)
                                                {
                                                    <a href="@Url.RouteUrl(FinanceControllerRoute.GetUpdateRegularPVoucher, new { pid = ec.Id })" data-toggle="tooltip" data-original-title="Update"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                                    <a href="@Url.RouteUrl(FinanceControllerRoute.GetPostPaymentVoucher, new { pid = ec.Id })" data-toggle="tooltip" data-original-title="Post this Voucher"> <i class="fa fa-send text-inverse m-r-10"></i> </a>

                                                    <a href="javascript:void(0)" data-toggle="tooltip" class="suspend-ledger" data-id="@ec.Id" data-original-title="Delete"> <i class="fa fa-close text-danger"></i> </a>
                                                }
                                                else
                                                {
                                                    <a href="@Url.RouteUrl(FinanceControllerRoute.GetPreviewPVoucher, new { pid = ec.Id })" data-toggle="tooltip" data-original-title="Preview and Print"> <i class="fa fa-eye text-inverse m-r-10"></i> </a>
                                                }
                                            </td>
                                        </tr>
                                        rows++;
                                    }
                                }

                                @if (rows == 0)
                                {
                                    <tr>
                                        <td colspan="15" style="text-align:center">No payment entries found..</td>
                                    </tr>

                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th scope="col" style="font-weight:bold">
                                        <div class="form-check bd-example-indeterminate">
                                            <label class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" name="actions" value="" data-tablesaw-checkall>
                                                <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description"> Check All</span>
                                            </label>
                                        </div>
                                    </th>
                                    <th style="font-weight:bold">Doc. No.</th>
                                    <th style="font-weight:bold">Supplier/Payee Ref./Staff No</th>
                                    <th style="font-weight:bold">Supplier/Payee Name/Staff No</th>
                                    <th style="font-weight:bold">Type</th>
                                    <th style="font-weight:bold">Ledger</th>
                                    <th style="font-weight:bold">Payment Account</th>
                                    <th style="font-weight:bold">Cheque No.</th>
                                    <th style="font-weight:bold">Amount</th>
                                    <th style="font-weight:bold">Voucher Date</th>
                                    <th style="font-weight:bold">Created By</th>
                                    <th style="font-weight:bold">Status</th>
                                    <th style="font-weight:bold">Date Posted</th>
                                    <th style="font-weight:bold">Posted By</th>
                                    <th style="font-weight:bold"> Actions </th>
                                </tr>
                            </tfoot>
                        </table>
                        <hr />
                        <div class="pull-right">
                            <button type="button" class="btn btn-success btn-rounded post-selected" data-toggle="tooltip" data-original-title="Post selected Payments" data-target="">Post Selected</button>
                            <button type="button" class="btn btn-info btn-rounded post-all" data-toggle="tooltip" data-original-title="Post all pending payments" data-target="">Post All</button>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@* Code in the scripts section below gets added at the bottom of the HTML body element, below other scripts. This
    section can be used to enter custom scripts specific to this page. *@
@section scripts
    {

    <script type="text/javascript">
        $(function () {
            $(".preloader").fadeOut();
        });

    </script>
    <!-- -->

    <script>
        jQuery('.post-all').click(function () {
            if (confirm('You are about to post all pending payments.\n Click OK to confirm...')) {
                jQuery('#PostAll').val(true),
                    jQuery('#post-pys-form').submit()
            }
        }),
            jQuery('.post-selected').click(function () {
                (jQuery('.ecs').is(':checked') || jQuery('.iws').is(':checked') || jQuery('.pvs').is(':checked') || jQuery('.pcs').is(':checked')) ?
                    jQuery('#post-all-pys').submit() : (alert('Select a payment and try again...'))
            })
    </script>
}
