﻿@inject IOptionsSnapshot<AppSettings> AppSettings

@using Microsoft.EntityFrameworkCore;

@inject ApplicationDbContext db
@{
    // title - The title of the page which appears in the browser window title. Aim for the title to be less than 70
    //         characters. The site name appears at the end for better SEO.
    ViewBag.Title = "Update Finance Settings";
    // Description - Used by search engines. Aim for more than 160 characters.
    ViewBag.Description = "";
}

@model UpdateFinanceSettingsViewModel
@* Code in the head section below gets added at the bottom of the HTML head element. This section can be used to enter
    custom meta tags specific to this page. *@
@section head
    {
    @* Author - (Optional) Used by search engines. The author of the page. *@
    <meta name="author" content="ABNO Softwares Int.">
    @* Add Twitter Card social meta tags so we can customize what happens when our page is shared on Twitter. There are
        several different Twitter Card types we could add, a different one is added on each page as an example.
        These helpers make it very easy to add the meta tags. For best performance, see what tags are generated and
        hand-code them yourself instead of using these helpers. *@
    <twitter-card-summary-large-image username="@@ABNO">
        @* Add Open Graph social meta tags so we can customize what happens when our page is shared on Facebook, Google+,
            Pintrest and other social media websites. There are dozens of Open Graph types, a different one is added on
            each page as an example. These helpers make it very easy to add the meta tags. For best performance, see what
            tags are generated and hand-code them yourself instead of using these helpers. *@
        <open-graph-website site-name="@AppSettings.Value.SiteTitle"
                            title="@ViewBag.Title"
                            main-image="@(new OpenGraphImage(
                            Url.AbsoluteContent(" ~/img/icons/open-graph-1200x630.png"),
        ContentType.Png,
        1200,
        630))"
                            determiner="Blank">
            @* referrer - Controls what is sent in the HTTP referrer header when a client navigates to an external site. *@
            <meta asp-referrer="OriginWhenCrossOrigin">

            <!-- page CSS -->
            <link href="~/lib/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
            <link href="~/lib/plugins/select2/dist/css/select2.min.css" rel="stylesheet" type="text/css" />
            <link href="~/lib/plugins/switchery/dist/switchery.min.css" rel="stylesheet" />
            <link href="~/lib/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
            <link href="~/lib/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.css" rel="stylesheet" />
            <link href="~/lib/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
            <link href="~/lib/plugins/multiselect/css/multi-select.css" rel="stylesheet" type="text/css" />
            <link href="~/lib/css/pages/tab-page.css" rel="stylesheet">
}
<div class="container-fluid">

    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">@ViewBag.Title</h4>
                <h6 class="card-subtitle">Update finance global settings</h6>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="basic-tab" data-toggle="tab" href="#basic" role="tab" aria-controls="basic" aria-expanded="true">
                            <span class="hidden-sm-up">
                                <i class="ti-home"></i>
                            </span>
                            <span class="hidden-xs-down">Basic Config.</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pvs-tab" data-toggle="tab" href="#pvs" role="tab" aria-controls="pvs" aria-expanded="false">
                            <span class="hidden-sm-up">
                                <i class="ti-home"></i>
                            </span>
                            <span class="hidden-xs-down">Payment Vouchers</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tax-pvs-tab" data-toggle="tab" href="#tax-pvs" role="tab" aria-controls="tax-pvs" aria-expanded="false">
                            <span class="hidden-sm-up">
                                <i class="ti-home"></i>
                            </span>
                            <span class="hidden-xs-down">PC/Cheque Schedule</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="iws-tab" data-toggle="tab" href="#iws" role="tab" aria-controls="iws" aria-expanded="false">
                            <span class="hidden-sm-up">
                                <i class="ti-home"></i>
                            </span>
                            <span class="hidden-xs-down">Imprest Warrants</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="hidden-sm-up"><i class="ti-email"></i></span> <span class="hidden-xs-down">More...</span>
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" id="cust-invs-tab" href="cust-invs" role="tab" data-toggle="tab" aria-controls="cust-invs">Customer Invoices</a>
                            <a class="dropdown-item" id="pro-forma-invs-tab" href="#pro-forma-invs" role="tab" data-toggle="tab" aria-controls="pro-forma-invs">Pro-Forma Invoices</a>
                            <a class="dropdown-item" id="debit-memos-tab" href="#debit-memos" role="tab" data-toggle="tab" aria-controls="debit-memos">Debit Memos</a>
                            <a class="dropdown-item" id="credit-memos-tab" href="#credit-memos" role="tab" data-toggle="tab" aria-controls="credit-memos">Credit Memos</a>
                            <a class="dropdown-item" id="receipt-fee-stmnt-tab" href="#receipt-fee-stmnt" role="tab" data-toggle="tab" aria-controls="receipt-fee-stmnt">Receipt &amp; Fees Statements</a>
                            <a class="dropdown-item" id="iws-tab" href="#iws" role="tab" data-toggle="tab" aria-controls="iws">Misc. Config</a>
                        </div>
                    </li>
                </ul>

                <div class="tab-content tabcontent-border p-20" id="myTabContent">
                    @*Basic*@
                    <div role="tabpanel" class="tab-pane fade show active" id="basic" aria-labelledby="basic-tab">
                        <form asp-route="@FinanceControllerRoute.GetUpdateSettings" asp-route-returnurl="@ViewData[" ReturnUrl"]" method="post" class="form p-t-20" role="form" id="settings-form">
                            <hr />
                            <div asp-validation-summary="All" class="text-danger"></div>

                            <label><strong>Prepayment Settings</strong></label>
                            <div class="gray-box">
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <label asp-for="PrePaymentCutomerAccount"></label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="ti-key"></i></div>
                                            <select class="select2 form-control custom-select" style="width:100%" id="PrePaymentCutomerAccount" name="PrePaymentCutomerAccount" data-placeholder="-- Select Account --">
                                                @foreach (var parent in db.FinanceAccounts.Include(k => k.Children).Where(l => l.Parent == null).OrderBy(l => l.Type).ToList())
                                {
                                    <optgroup label="🏠 @parent.Type Accounts" style="font-weight:bold">

                                        <optgroup label="⤵  @parent.Name">

                                            @foreach (var child in parent.Children)
                            {
                                if (AppSettings.Value.Accounts != null && AppSettings.Value.Accounts.PrePaymentCA != null && child.Id == int.Parse(AppSettings.Value.Accounts.PrePaymentCA))
                                {

                                    <option value="@child.Id" selected>    ↪ @child.Name</option>
                }
                else
                {

                    <option value="@child.Id">    ↪ @child.Name</option>
}
}
                                        </optgroup>
                                    </optgroup>

                }
                                            </select>
                                        </div>
                                        <span asp-validation-for="PrePaymentCutomerAccount" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label asp-for="PrePaymentReceiptAlias"></label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="ti-key"></i></div>
                                            <input asp-for="PrePaymentReceiptAlias" class="form-control" placeholder="" value="@AppSettings.Value.Accounts?.PrePaymentRA">
                                        </div>
                                        <span asp-validation-for="PrePaymentReceiptAlias" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <label><strong>Primary Defined Accounts</strong></label>
                            <div class="gray-box">
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label asp-for="BadDebtAccount"></label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="ti-key"></i></div>
                                            <select class="select2 form-control custom-select" style="width:100%" id="BadDebtAccount" name="BadDebtAccount" data-placeholder="-- Select Account --">
                                                @foreach (var parent in db.FinanceAccounts?.Include(k => k.Children).Where(l => l.Parent == null).OrderBy(l => l.Type).ToList())
                                {
                                    <optgroup label="🏠 @parent.Type Accounts" style="font-weight:bold">

                                        <optgroup label="⤵  @parent.Name">

                                            @foreach (var child in parent.Children)
                            {
                                if (AppSettings.Value.Accounts != null && AppSettings.Value.Accounts.BadDebtAcc != null && child.Id == int.Parse(AppSettings.Value.Accounts?.BadDebtAcc))
                                {
                                    <option value="@child.Id" selected>    ↪ @child.Name</option>
                }
                else
                {
                    <option value="@child.Id">    ↪ @child.Name</option>
}
}
                                        </optgroup>
                                    </optgroup>

                }
                                            </select>
                                        </div>
                                        <span asp-validation-for="BadDebtAccount" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label asp-for="AccumulatedFund"></label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="ti-key"></i></div>
                                            <select class="select2 form-control custom-select" style="width:100%" id="AccumulatedFund" name="AccumulatedFund" data-placeholder="-- Select Account --">
                                                @foreach (var parent in db.FinanceAccounts?.Include(k => k.Children).Where(l => l.Parent == null).OrderBy(l => l.Type).ToList())
                                {
                                    <optgroup label="🏠 @parent.Type Accounts" style="font-weight:bold">

                                        <optgroup label="⤵  @parent.Name">

                                            @foreach (var child in parent.Children)
                            {
                                if (AppSettings.Value.Accounts != null && AppSettings.Value.Accounts.AccumFund != null && child.Id == int.Parse(AppSettings.Value.Accounts?.AccumFund))
                                {
                                    <option value="@child.Id" selected>    ↪ @child.Name</option>
                }
                else
                {
                    <option value="@child.Id">    ↪ @child.Name</option>
}
}
                                        </optgroup>
                                    </optgroup>

                }
                                            </select>
                                            <span asp-validation-for="AccumulatedFund" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label asp-for="DepreciationAccount"></label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="ti-key"></i></div>
                                            <select class="select2 form-control custom-select" style="width:100%" id="DepreciationAccount" name="DepreciationAccount" data-placeholder="-- Select Account --">
                                                @foreach (var parent in db.FinanceAccounts?.Include(k => k.Children).Where(l => l.Parent == null).OrderBy(l => l.Type).ToList())
                                {
                                    <optgroup label="🏠 @parent.Type Accounts" style="font-weight:bold">

                                        <optgroup label="⤵  @parent.Name">

                                            @foreach (var child in parent.Children)
                            {
                                if (AppSettings.Value.Accounts != null && AppSettings.Value.Accounts.DeprAcc != null && child.Id == int.Parse(AppSettings.Value.Accounts?.DeprAcc))
                                {
                                    <option value="@child.Id" selected>    ↪ @child.Name</option>
                }
                else
                {
                    <option value="@child.Id">    ↪ @child.Name</option>

}
}
                                        </optgroup>
                                    </optgroup>

                }
                                            </select>
                                        </div>

                                        <span asp-validation-for="DepreciationAccount" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label asp-for="CapitalGrantsAccount"></label>
                                        <div class="input-group">
                                            <select class="select2 form-control custom-select" style="width:100%" id="CapitalGrantsAccount" name="CapitalGrantsAccount" data-placeholder="-- Select Account --">
                                                @foreach (var parent in db.FinanceAccounts?.Include(k => k.Children).Where(l => l.Parent == null).OrderBy(l => l.Type).ToList())
                                {
                                    <optgroup label="🏠 @parent.Type Accounts" style="font-weight:bold">

                                        <optgroup label="⤵  @parent.Name">

                                            @foreach (var child in parent.Children)
                            {
                                if (AppSettings.Value.Accounts != null && AppSettings.Value.Accounts.CGAcc != null && child.Id == int.Parse(AppSettings.Value.Accounts?.CGAcc))
                                {
                                    <option value="@child.Id" selected>    ↪ @child.Name</option>
                }
                else
                {

                    <option value="@child.Id">    ↪ @child.Name</option>
}
}
                                        </optgroup>
                                    </optgroup>

                }
                                            </select>
                                        </div>
                                        <span asp-validation-for="CapitalGrantsAccount" class="text-danger"></span>
                                    </div>
                                </div>
                                <hr />
                                <div class="form-group">
                                    <label asp-for="OpeningBalanceAccount"></label>
                                    <div class="input-group">
                                        <select class="select2 form-control custom-select" style="width:100%" id="OpeningBalanceAccount" name="OpeningBalanceAccount" data-placeholder="-- Select Account --">
                                            @foreach (var parent in db.FinanceAccounts?.Include(k => k.Children).Where(l => l.Parent == null).OrderBy(l => l.Type).ToList())
                            {
                                <optgroup label="🏠 @parent.Type Accounts" style="font-weight:bold">

                                    <optgroup label="⤵  @parent.Name">

                                        @foreach (var child in parent.Children)
                        {
                            if (AppSettings.Value.Accounts != null && AppSettings.Value.Accounts.OBAcc != null && child.Id == int.Parse(AppSettings.Value.Accounts?.OBAcc))
                            {
                                <option value="@child.Id" selected>    ↪ @child.Name</option>
            }
            else
            {
                <option value="@child.Id">    ↪ @child.Name</option>

}
}
                                    </optgroup>
                                </optgroup>

            }
                                        </select>
                                    </div>
                                    <span asp-validation-for="OpeningBalanceAccount" class="text-danger"></span>
                                </div>
                            </div>
                            <br />
                            <label>Default Debit/Credit Accounts</label>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label asp-for="ARDebtors"></label>
                                    <div class="form-group gray-box">
                                        <div class="accs-wrapper">

                                            <ul style="" class="ar-new" id="ar-accs">
                                                @if (AppSettings.Value.Accounts?.ARDebtorAccs.Count > 0)
                                {
                                    @foreach (var d in AppSettings.Value.Accounts?.ARDebtorAccs)
                    {
                        try
                        {
                            var acc = db.FinanceAccounts?.SingleOrDefault(k => k.Id == d.AccId);
                            if (acc != null)
                            {
                                <li style="margin-top:5px" id="">
                                    <div class="row acc-row-cont">
                                        <div class="input-group col-sm-8">
                                            <input class="form-group" value="@acc.Name" style="height:38px" placeholder="GL Account Name..." readonly />
                                        </div>
                                        <div class="input-group col-sm-3">
                                            <div class="form-check bd-example-indeterminate">
                                                <label class="custom-control custom-checkbox">
                                                    @if (d.IsDefault)
                                    {
                                        <input type="checkbox" class="custom-control-input ar-chks" name="ar-accs" value="" checked>
                    }
                    else
                    {
                        <input type="checkbox" class="custom-control-input ar-chks" name="ar-accs" value="">
    }
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-description">Default</span>
                                                </label>
                                            </div>
                                        </div><button class="bnt btn-sm btn-danger btn-rounded btn-rm-ar" type="button" data-toggle="tooltip" style="padding:2px;margin:2px;height:22px" data-original-title="Remove Entry"><i class="ti-close"></i></button>
                                    </div>
                                </li>

            }
        }
        catch { }


    }
                                    <hr />

                }
                else
                {

                    <li style="">
                        <p class="" id="hld" style="text-align:center;line-height:100px">
                            No New Entries...
                        </p>
                    </li>
}
                                            </ul>
                                            @Html.HiddenFor(l => l.ARDebtors)
                                        </div>
                                        <hr />
                                        <p style="text-align:center"><input type="button" class="btn btn-success" id="add-ar" style="height:26px;padding:4px" value="Add New Row" data-toggle="tooltip" data-original-title="Append a new entry" /></p>

                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label asp-for="APCreditors"></label>
                                    <div class="form-group gray-box">
                                        <div class="accs-wrapper">

                                            <ul style="" class="ap-new" id="ap-accs">
                                                @if (AppSettings.Value.Accounts?.APCreditorAccs.Count > 0)
                                {
                                    @foreach (var d in AppSettings.Value.Accounts?.APCreditorAccs)
                    {
                        try
                        {
                            var acc = db.FinanceAccounts?.SingleOrDefault(k => k.Id == d.AccId);
                            if (acc != null)
                            {
                                <li style="margin-top:5px" id="">
                                    <div class="row acc-row-cont">
                                        <div class="input-group col-sm-8">
                                            <input class="form-control" value="@acc.Name" placeholder="GL Account Name..." style="height:38px" readonly />
                                        </div>
                                        <div class="input-group col-sm-3">
                                            <div class="form-check bd-example-indeterminate">
                                                <label class="custom-control custom-checkbox">
                                                    @if (d.IsDefault)
                                    {
                                        <input type="checkbox" class="custom-control-input ap-chks" name="ar-accs" value="" checked title="Update">
                    }
                    else
                    {
                        <input type="checkbox" class="custom-control-input ap-chks" name="ar-accs" value="" title="Update">
    }
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-description">Default</span>
                                                </label>
                                            </div>
                                        </div><button class="bnt btn-sm btn-danger btn-rounded btn-rm-ar" type="button" data-toggle="tooltip" style="padding:2px;margin:2px;height:22px" data-original-title="Remove Entry"><i class="ti-close"></i></button>
                                    </div>
                                </li>

            }
        }
        catch { }


    }
                                    <hr />
                }
                else
                {

                    <li style="">
                        <p class="" id="hld" style="text-align:center;line-height:100px">
                            No New Entries...
                        </p>
                    </li>
}
                                            </ul>
                                            @Html.HiddenFor(l => l.APCreditors)
                                        </div>
                                        <hr />
                                        <p style="text-align:center"><input type="button" class="btn btn-warning" id="add-ap" style="height:26px;padding:4px" value="Add New Row" data-toggle="tooltip" data-original-title="Append a new entry" /></p>

                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row gray-box">
                                <div class="form-group col-md-6">

                                    <div class="checkbox checkbox-success" style="margin:4px">
                                        @*<input asp-for="IsBudgetItem" type="checkbox">*@
                                        <label asp-for="EnableReceiptPrinting"> </label>
                                        <div class="switch">
                                            <label>
                                                No
                                                @if (AppSettings.Value.Accounts != null && AppSettings.Value.Accounts.ReceiptPrinting)
                                {
                                    <input asp-for="EnableReceiptPrinting" type="checkbox" checked title="Update"><span class="lever"></span>

                }
                else
                {
                    <input asp-for="EnableReceiptPrinting" type="checkbox" title="Update"><span class="lever"></span>
}
                                                Yes
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <div class="checkbox checkbox-success" style="margin:4px">
                                        @*<input asp-for="IsClosed" type="checkbox">*@
                                        <label asp-for="PostCompletedPayments"> </label>
                                        <div class="switch">
                                            <label>
                                                No
                                                @if (AppSettings.Value.Accounts != null && AppSettings.Value.Accounts.PostCompletedPayments)
                                {
                                    <input asp-for="PostCompletedPayments" type="checkbox" checked><span class="lever"></span>
                }
                else
                {
                    <input asp-for="PostCompletedPayments" type="checkbox"><span class="lever"></span>
} Yes
                                            </label>
                                        </div>
                                    </div>
                                </div>


                            </div>


                            <hr />



                            <div class="col-md-offset-5 col-md-10">
                                <button type="button" class="btn btn-info waves-effect waves-ripple m-r-10" id="save-settings">Save Basic Settings</button>
                            </div>
                        </form>
                    </div>

                    <div class="tab-pane fade" id="cust-invs" role="tabpanel" aria-labelledby="pro-forma-invs-tab">
                        <form>
                            <p>Customer invoices</p>
                            <hr />
                            <div class="col-md-offset-5 col-md-10">
                                <button type="button" class="btn btn-info waves-effect waves-ripple m-r-10" id="save-settings">Save Invoice Settings</button>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="pro-forma-invs" role="tabpanel" aria-labelledby="pro-forma-invs-tab">
                        <form>
                            <p>Pro-forma invoices</p>
                            <hr />
                            <div class="col-md-offset-5 col-md-10">
                                <button type="button" class="btn btn-info waves-effect waves-ripple m-r-10" id="save-settings">Save Pro-FOrma Invoice Settings</button>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="credit-memos" role="tabpanel" aria-labelledby="credit-memo-tab">
                        <form>
                            <p>Credit Memos</p>
                            <hr />
                            <div class="col-md-offset-5 col-md-10">
                                <button type="button" class="btn btn-info waves-effect waves-ripple m-r-10" id="save-settings">Save Credit Memos Settings</button>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="debit-memos" role="tabpanel" aria-labelledby="debit-memo-tab">
                        <form>
                            <p>Debit Memos</p>
                            <hr />
                            <div class="col-md-offset-5 col-md-10">
                                <button type="button" class="btn btn-info waves-effect waves-ripple m-r-10" id="save-settings">Save Debit Memo Settings</button>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="receipt-fee-stmnt" role="tabpanel" aria-labelledby="credit-memo-tab">
                        <form>
                            <p>Receipt &amp; Fees Statements</p>
                            <hr />
                            <div class="col-md-offset-5 col-md-10">
                                <button type="button" class="btn btn-info waves-effect waves-ripple m-r-10" id="save-settings">Save Settings</button>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="pvs" role="tabpanel" aria-labelledby="pvs-tab">
                        <form>
                            <p>Payment Vouchers</p>
                            <hr />
                            <div class="col-md-offset-5 col-md-10">
                                <button type="button" class="btn btn-info waves-effect waves-ripple m-r-10" id="save-settings">Save Voucher Settings</button>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="tax-pvs" role="tabpanel" aria-labelledby="tax-pvs-tab">
                        <form>
                            <p>Tax Payment Vouchers/Cheque Scheduling footers</p>
                            <hr />
                            <div class="col-md-offset-5 col-md-10">
                                <button type="button" class="btn btn-info waves-effect waves-ripple m-r-10" id="save-settings">Submit</button>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="iws" role="tabpanel" aria-labelledby="iws-tab">
                        <form>
                            <p>Imprest Warrants</p>
                            <hr />
                            <div class="col-md-offset-5 col-md-10">
                                <button type="button" class="btn btn-info waves-effect waves-ripple m-r-10" id="save-settings">Save Imprest Settings</button>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="tax-pvs" role="tabpanel" aria-labelledby="misc-tab">
                        <form>
                        <p>Misc. Configurations</p>
                         <hr />
                        <div class="col-md-offset-5 col-md-10">
                            <button type="button" class="btn btn-info waves-effect waves-ripple m-r-10" id="save-settings">Save Settings</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@* Code in the scripts section below gets added at the bottom of the HTML body element, below other scripts. This
    section can be used to enter custom scripts specific to this page. *@
@section scripts
    {
    <!-- jQuery peity -->
    <script src="/lib/plugins/peity/jquery.peity.min.js"></script>
    <script src="/lib/plugins/peity/jquery.peity.init.js"></script>
    <!-- jQuery peity -->
    <script type="text/javascript">
        $(function () {
            $(".preloader").fadeOut();
        });

    </script>
    <!--This page plugins -- >
    <!-- ============================================================== -->
    <script src="~/lib/plugins/switchery/dist/switchery.min.js"></script>
    <script src="~/lib/plugins/select2/dist/js/select2.full.min.js" type="text/javascript"></script>
    <script src="~/lib/plugins/bootstrap-select/bootstrap-select.min.js" type="text/javascript"></script>
    <script src="~/lib/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
    <script src="~/lib/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/lib/plugins/multiselect/js/jquery.multi-select.js"></script>

    <script>
        // For select 2
        $(".select2").select2();
        $('.selectpicker').selectpicker();
    </script>

}
