﻿@inject IOptionsSnapshot<AppSettings> AppSettings

@using Microsoft.EntityFrameworkCore;

@inject ApplicationDbContext db
@{
    // title - The title of the page which appears in the browser window title. Aim for the title to be less than 70
    //         characters. The site name appears at the end for better SEO.
    ViewBag.Title = "All Division";
    // Description - Used by search engines. Aim for more than 160 characters.
    ViewBag.Description = "An overview of NITA divisions";

    //
    var DivisionList = db.HrDivisions.Include(l=>l.Section).ThenInclude(k=>k.Department).ToList();

}

@* Code in the head section below gets added at the bottom of the HTML head element. This section can be used to enter
    custom meta tags specific to this page. *@
@section head
    {
    @* Author - (Optional) Used by search engines. The author of the page. *@
    <meta name="author" content="ABNO Softwares Int.">
    @* Add Twitter Card social meta tags so we can customize what happens when our page is shared on Twitter. There are
        several different Twitter Card types we could add, a different one is added on each page as an example.
        These helpers make it very easy to add the meta tags. For best performance, see what tags are generated and
        hand-code them yourself instead of using these helpers. *@
    <twitter-card-summary-large-image username="@@ABNO">
        @* Add Open Graph social meta tags so we can customize what happens when our page is shared on Facebook, Google+,
            Pintrest and other social media websites. There are dozens of Open Graph types, a different one is added on
            each page as an example. These helpers make it very easy to add the meta tags. For best performance, see what
            tags are generated and hand-code them yourself instead of using these helpers. *@
        <open-graph-website site-name="@AppSettings.Value.SiteTitle"
                            title="@ViewBag.Title"
                            main-image="@(new OpenGraphImage(
                            Url.AbsoluteContent("~/img/icons/open-graph-1200x630.png"),
                            ContentType.Png,
                            1200,
                            630))"
                            determiner="Blank">
            @* referrer - Controls what is sent in the HTTP referrer header when a client navigates to an external site. *@
            <meta asp-referrer="OriginWhenCrossOrigin">

            <!-- Footable CSS -->
            <link href="~/lib/plugins/footable/css/footable.core.css" rel="stylesheet">
            <link href="~/lib/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
            <!-- Custom CSS -->
            <link href="~/lib/css/style.css" rel="stylesheet">
            <!-- page css -->
            <link href="~/lib/css/pages/footable-page.css" rel="stylesheet">
            <!-- You can change the theme colors from here -->
            <link href="~/lib/css/colors/default-dark.css" id="theme" rel="stylesheet">

            @if (ViewData["Message"] != null)
    {
        <script>
                 var msg = '@ViewData["Message"]'
        </script>
}
        }
        <div class="container-fluid">

            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-themecolor">@ViewBag.Title</h3>
                </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">System Settings</a></li>
                        <li class="breadcrumb-item">All Divisions</li>
                    </ol>
                </div>
                <div>
                    <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-12">
                    <!-- Column -->
                    <div class="card">
                        <div class="card-body">
                            <div class="pull-right">
                                <div class="pull-right">
                                    <button type="button" class="btn btn-success btn-rounded " id="add-div" data-toggle="tooltip" data-original-title="Create A new Division" data-target="@Url.RouteUrl(SettingsControllerRoute.GetAddDivision,new {})">Add New Division</button>
                                </div>                               
                                <div class="clearfix"></div>
                                @*<button type="button" class="btn btn-danger btn-rounded" id="add-branch" data-toggle="tooltip" data-original-title="Add an new bank branch" data-target="@Url.RouteUrl(FinanceUtilsControllerRoute.GetAddBankBranch,new {})">Add New Bank Branch</button>*@
                            </div>
                            <div class="clear"></div>
                            @*<h4 class="card-title">Row Toggler</h4>*@
                            <h6 class="card-subtitle">An overview of NITA divisions</h6>


                            <table class="table table-striped table-bordered" id="editable-datatable">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Section</th>
                                        <th>Department</th>
                                        <th>Date Added</th>
                                        <th>Status</th>
                                        <th> Actions </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (DivisionList.Count > 0)
            {
                foreach (var bk in DivisionList)
                {
                        <tr>
                            <td>@bk.Name</td>
                            <td>@bk.Section.Name</td>
                            <td>@bk.Section.Department.Name</td>
                            <td>@bk.DateCreated.ToString("dd MMM yyyy")</td>
                            <td><span class="label label-table label-success">Active</span></td>
                            <td class="text-nowrap">
                                <a href="@Url.RouteUrl(SettingsControllerRoute.GetUpdateDivision,new { bid=bk.Id})" data-toggle="tooltip" data-original-title="Update"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                <a href="javascript:void(0)" data-toggle="tooltip" class="suspend-ledger" data-id="@bk.Id" data-original-title="Suspend"> <i class="fa fa-close text-danger"></i> </a>
                            </td>
                        </tr>

}
}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Name</th>
                                        <th>Section</th>
                                        <th>Department</th>
                                        <th>Date Added</th>
                                        <th>Status</th>
                                        <th> Actions </th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @* Code in the scripts section below gets added at the bottom of the HTML body element, below other scripts. This
    section can be used to enter custom scripts specific to this page. *@
        @section scripts
        {
        <!-- Footable -->
        <script src="~/lib/plugins/footable/js/footable.all.min.js"></script>
        <script src="~/lib/plugins/bootstrap-select/bootstrap-select.min.js" type="text/javascript"></script>
        <!-- Editable -->
        <script src="~/lib/plugins/jquery-datatables-editable/jquery.dataTables.js"></script>
        <script src="~/lib/plugins/datatables/dataTables.bootstrap.js"></script>
        <script src="~/lib/plugins/tiny-editable/mindmup-editabletable.js"></script>
        <script src="~/lib/plugins/tiny-editable/numeric-input-example.js"></script>
        <script>
                                   jQuery(document).ready(function() {
                                        jQuery('#editable-datatable').DataTable();
                                    });
        </script>
        <script>
                    jQuery('#add-bank').click(function () {
                        window.location = jQuery(this).data('target');
                                   })
                    jQuery('#add-branch').click(function () {
                        window.location = jQuery(this).data('target');
                    })
        </script>
        <script type="text/javascript">
                    $(function() {
                        $(".preloader").fadeOut();
                    });

        </script>
        }
