﻿<!-- Favicon icon -->
<link rel="icon" type="image/png" sizes="16x16" href="~/lib/images/favicon.png">
<!-- Bootstrap Core CSS -->
<link href="~/lib/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<!-- Custom CSS -->
<link href="~/lib/css/style.css" rel="stylesheet">
<!-- You can change the theme colors from here -->
<link href="~/lib/css/colors/default-dark.css" id="theme" rel="stylesheet">

<div class="row"><div class="col-md-12 card"><h2>Budget Periods Management</h2></div></div>
<div class="row">
    <div class="col-md-11" style="text-align: right">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever=""><i class="fa fa-plus">Add Period</i></button>
        @*<button type="button" class="btn btn-primary" id="addTp"><i class="fa fa-plus"></i> Add Contract</button>*@
    </div>
    <div class="col-md-1"></div>
</div>
@if (@ViewBag.Error != 0 && @ViewBag.Error != null)
{
    <div class="row">
        <div class="col-md-6">
            <div class="alert alert-danger">
                <strong>Error!</strong> @ViewBag.DateMessage
            </div>
        </div>
        <div class="col-md-6"></div>
    </div>
}
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped table-bordered" id="editable-datatable">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Period Name</th>
                            <th>Period From</th>
                            <th>Period To</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    @if (@ViewBag.Periods != null)
                    {
                        <tbody>
                            @foreach (var period in @ViewBag.Periods)
                            {
                                <tr>
                                    <td>@period.Id</td>
                                    <td>@period.PeriodName</td>
                                    <td>@period.PeriodFrom.ToString("dd MMM yyyy")</td>
                                    <td>@period.PeriodTo.ToString("dd MMM yyyy")</td>
                                    <td>
                                        <button class="btn btn-warning btn-sharp-corners btn-xs edit" id=@period.Id name=@period.Id data-toggle="tooltip" title="Edit Cycle"><i class="fa fa-edit"></i></button>
                                        <a class="btn btn-danger btn-sharp-corners btn-xs delete" href="@Url.Action("DeletePeriod","Budget",new{id=@period.Id})" id=@period.Id name=@period.Id data-toggle="tooltip" title="Delete Cycle"><i class="fa fa-times"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    }
                    else
                    {
                        <tbody>
                            <tr><td><h6>There are no Periods</h6></td></tr>
                        </tbody>

                    }
                </table>
            </div>
        </div>
    </div>
</div>
<!--training provider modal-->
<!-- Modal -->
<div class="modal fade" id="exampleModal" role="dialog" style="overflow-y: scroll; max-height:85%;  margin-top: 50px; margin-bottom:50px;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel1">Create a Budget Period</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <form asp-controller="Budget" asp-action="SavePeriod" class="form p-t-20" method="post" role="form">
                <div class="modal-body">
                    <input type="hidden" id="PeriodId" name="PeriodId" value="0">
                    <div class="form-group">
                        <label for="PeriodName" class="control-label">Period Name:</label>
                        <input type="text" class="form-control" id="PeriodName" name="PeriodName" placeholder="Enter Period Name">
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label for="StartDate" class="control-label">Period Start Date:</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="recipient-name" class="control-label">Day:</label>
                                <select class="form-control" id="Day" name="Day" data-placeholder="--Day--">
                                    @for (int i = 1; i <= 30; i++)
                                    {
                                        if (i < 10)
                                        {
                                            <option value=@i>@i</option>
                                        }
                                        else
                                        {
                                            <option value=@i>@i</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="recipient-name" class="control-label">Month:</label>
                                <select class="form-control" id="Month" name="Month" data-placeholder="--Month--">
                                    @for (int i = 1; i <= 12; i++)
                                    {
                                        <option value=@i>@i</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="recipient-name" class="control-label">Year:</label>
                                <select class="form-control" id="Year" name="Year" data-placeholder="--Year--">
                                    @for (int i = 2017; i <= 2050; i++)
                                    {
                                        <option value=@i>@i</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <label for="EndDate" class="control-label">Period End Date:</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="recipient-name" class="control-label">Day:</label>
                                <select class="form-control" id="Day1" name="Day1" data-placeholder="--Day--">
                                    @for (int i = 1; i <= 30; i++)
                                    {
                                        <option value=@i>@i</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="recipient-name" class="control-label">Month:</label>
                                <select class="form-control" id="Month1" name="Month1" data-placeholder="--Month--">
                                    @for (int i = 1; i <= 12; i++)
                                    {
                                        <option value=@i>@i</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="recipient-name" class="control-label">Year:</label>
                                <select class="form-control" id="Year1" name="Year1" data-placeholder="--Year--">
                                    @for (int i = 2017; i <= 2050; i++)
                                    {
                                        <option value=@i>@i</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="yearId" class="control-label">Fiscal Year</label>
                                <select for="YearId" name="YearId" id="YearId" class="form-control" data-placeholder="Choose a Fiscal Year">
                                    @foreach (var year in @ViewBag.FYears)
                                    {
                                        <option value=@year.Id>@year.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts
    {

    <script>
        $(document).ready(function () {
            $(".edit").click(function () {
                //alert("WE should be working");

            $.ajax({
                type: 'GET',
                url: '@Url.Action("EditPeriod", "Budget")',
                dataType: 'json',
                data: {
                    id: this.id
                },
                success: function (data) {
                    //alert("meeh");
                    $('#exampleModal').modal('show');
                    console.log(data);
                    $('#PeriodId').val(data.id);
                    $('#PeriodName').val(data.name);
                    $('#YearId').val(data.yearId).change();
                    $('#Day').val(data.day).change();
                    $('#Month').val(data.month).change();
                    $('#Year').val(data.year).change();
                    $('#Day1').val(data.day1).change();
                    $('#Month1').val(data.month1).change();
                    $('#Year1').val(data.year1).change();
                },
                error: function (data) {
                    alert("There was problems there");
                }
                });
            });
        });
    </script>

    <script src="~/lib/plugins/bootstrap/js/bootstrap.min.js"></script>
    @*<script src="~/lib/plugins/jquery/jquery.min.js"></script>*@
    <script src="~/lib/plugins/bootstrap/js/popper.min.js"></script>
    <!-- Footable -->
    <script src="~/lib/plugins/footable/js/footable.all.min.js"></script>
    <script src="~/lib/plugins/bootstrap-select/bootstrap-select.min.js" type="text/javascript"></script>
    <!--FooTable init-->
    <script src="~/lib/js/footable-init.js"></script>
    <!-- Editable -->
    <script src="~/lib/plugins/jquery-datatables-editable/jquery.dataTables.js"></script>
    <script src="~/lib/plugins/datatables/dataTables.bootstrap.js"></script>
    <script src="~/lib/plugins/tiny-editable/mindmup-editabletable.js"></script>
    <script src="~/lib/plugins/tiny-editable/numeric-input-example.js"></script>
    <script>
        jQuery('#mainTable').editableTableWidget().numericInputExample().find('td:first').focus();
        jQuery('#editable-datatable').editableTableWidget().numericInputExample().find('td:first').focus();
        jQuery(document).ready(function () {
            jQuery('#editable-datatable').DataTable();
        });
    </script>
    <script>
        jQuery('#add-yr').click(function () {
            window.location = jQuery(this).data('target');
        });
        jQuery('#add-q-yr').click(function () {
            window.location = jQuery(this).data('target');
        });
    </script>
    <script type="text/javascript">
        $(function () {
            $(".preloader").fadeOut();
        });

    </script>
}