﻿@model Nita.ViewModels.BudgetViewModels.BudgetItem;
<!-- Favicon icon -->
<link rel="icon" type="image/png" sizes="16x16" href="~/lib/images/favicon.png">
<!-- Bootstrap Core CSS -->
<link href="~/lib/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<!-- Custom CSS -->
<link href="~/lib/css/style.css" rel="stylesheet">
<!-- You can change the theme colors from here -->
<link href="~/lib/css/colors/default-dark.css" id="theme" rel="stylesheet">
<link href="~/lib/plugins/wizard/steps.css" rel="stylesheet">
<!--alerts CSS -->
<link href="~/lib/plugins/sweetalert/sweetalert.css" rel="stylesheet" type="text/css">
<!-- Bootstrap responsive table CSS -->
<link href="~/lib/plugins/tablesaw-master/dist/tablesaw.css" rel="stylesheet">
<!-- Bootstrap responsive table CSS -->
<link href="~/lib/plugins/tablesaw-master/dist/tablesaw.css" rel="stylesheet">

<div class="row"><div class="col-md-12 card"><h2>Budget Management</h2></div></div>
<div class="row">
    <div class="col-md-11" style="text-align: right">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever=""><i class="fa fa-plus">Add Budget Item</i></button>
    </div>
    <div class="col-md-1"></div>
</div>
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Budget Items</h4>
        <h6 class="card-subtitle">Department Budget Items</h6>
        <form asp-controller="Budget" asp-action="Index" class="form p-t-20" method="get" role="form">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">Select Fiscal Year </label>
                        <select class="form-control" id="cycleId" name="cycleId">
                            <option value="0">All</option>
                            @foreach (var years in @ViewBag.FYears)
                            {
                                if (@years.Id == @ViewBag.yId)
                                {
                                    <option value=@years.Id selected="selected">@years.Name</option>
                                }
                                else
                                {
                                    <option value=@years.Id>@years.Name</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Select  Department </label>
                        <select class="form-control" id="deptId" name="deptId">
                            <option value="0">All</option>
                            @foreach (var dept in @ViewBag.Departments)
                            {
                                if (@dept.Id == @ViewBag.dId)
                                {
                                    <option value=@dept.Id selected="selected">@dept.Name</option>
                                }
                                else
                                {
                                    <option value=@dept.Id>@dept.Name</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Search </label><br />
                        <button type="submit" class="btn btn-primary" id="addTp"><i class="fa fa-search"></i> Search</button>
                    </div>
                </div>

            </div>
        </form>
        <div class="row">
            <div class="col-md-12">
            <span class="alert alert-dark">@ViewBag.Message</span>
                <table class="table table-striped table-bordered" id="editable-datatable">
                    <thead>
                    <tr>
                        <th>No.</th>
                        <th>Account</th>
                        <th>Amount</th>
                        <th>Enforced</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var vote in @ViewBag.VoteHeads)
                    {
                        <tr>
                            <td>@vote.Number</td>
                            <td>@vote.AccName</td>
                            <td>@vote.Amount</td>
                            <td>
                                @if (@vote.Enforced)
                                {
                                    <input type="checkbox" id="basic_checkbox_1" checked="checked" disabled="disabled"/>
                                    <label for="basic_checkbox_1"></label>
                                }
                                else
                                {
                                    <input type="checkbox" id="basic_checkbox_1" disabled="disabled"/>
                                    <label for="basic_checkbox_1"></label>
                                }
                            </td>
                            <td>
                                <button class="btn btn-warning btn-sharp-corners btn-xs edit_btns"
                                        onclick="Test(@vote.Number)"
                                        id=@vote.Number name=@vote.Number data-toggle="tooltip" title="Edit Budget">
                                    <i class="fa fa-edit"></i>
                                </button>
                                <a class="btn btn-danger btn-sharp-corners btn-xs delete_btn"
                                   href="@Url.Action("Delete", "Budget", new {id = @vote.Number})" id=@vote.Number name=@vote.Number data-toggle="tooltip" title="Delete Budget"><i class="fa fa-times"></i></a>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
               </div>
        </div>
    </div>
</div>
<!--training provider modal-->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" style="overflow-y: scroll; max-height:85%;  margin-top: 50px; margin-bottom:50px;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel1">Create a Budget Item</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <form asp-controller="Budget" asp-action="Create" method="post">
                <div class="modal-body">

                    <div class="form-group" id="period_section">
                        <label asp-for="PeriodId" class="control-label">Select Budget Period:</label>
                        <select class="form-control" asp-for="PeriodId" data-placeholder="Cycle">
                            @foreach (var period in @ViewBag.Periods)
                            {
                                <option value=@period.Id>@period.PeriodName</option>
                            }
                        </select>
                    </div>
                    <div class="form-group" id="cycle_section" style="display: none">
                        <label asp-for="CycleId" class="control-label">Select Budget Cycle:</label>
                        <select class="form-control" asp-for="CycleId" data-placeholder="Cycle">
                            @foreach (var cycle in @ViewBag.Cycles)
                            {
                                <option value=@cycle.Id>@cycle.CycleName</option>
                            }
                        </select>
                    </div>
                    <div class="form-group" style="text-align: center">
                        <input type="checkbox" id="basic_checkbox_2" />
                        <label for="basic_checkbox_2">I want to use cycles </label>
                    </div>
                    <div class="form-group" hidden="hidden">
                        <input type="text" class="form-control" asp-for="Id" hidden="hidden">
                    </div>
                    <div class="form-group">
                        <label asp-for="AccountId" class="control-label">Select GL Account</label>
                        <select class="form-control" data-placeholder="0" asp-for="AccountId">
                            @foreach (var account in @ViewBag.Accounts)
                            {
                                <option value=@account.Id>@account.Name</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="DeptId" class="control-label">Select Department</label>
                        <select class="form-control" data-placeholder="0" asp-for="DeptId">
                            @foreach (var dept in @ViewBag.Departments)
                            {
                                <option value=@dept.Id>@dept.Name</option>
                            }
                        </select>
                    </div>

                    <div class="form-group">
                        <label asp-for="Amount" class="control-label">Amount:</label>
                        <input type="text" class="form-control" asp-for="Amount">
                    </div>
                    <div class="form-group" style="text-align: center">
                        <input type="checkbox" asp-for="Enforce" checked value="true" />
                        <label asp-for="Enforce">Enforce Cycle/Budget Period</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts
    {
    <script src="~/lib/plugins/bootstrap/js/bootstrap.min.js"></script>
    @*<script src="~/lib/plugins/jquery/jquery.min.js"></script>*@
    <script src="~/lib/plugins/bootstrap/js/popper.min.js"></script>
    <script>

        function Test(id) {

            //alert(id);
            $.ajax({
                type: 'GET',
                url: '@Url.Action("Edit", "Budget")',
                dataType: 'json',
                data: {
                    id: id
                },
                success: function (data) {
                    //alert("meeh");
                    $('#exampleModal').modal('show');
                    console.log(data);
                    $('#PeriodId').val(data.periodId).change();
                    $('#CycleId').val(data.cycleId).change();
                    $('#AccountId').val(data.accId).change();
                    $('#DeptId').val(data.deptId).change();
                    $('#Amount').val(data.amount);
                    $('#Enforce').val(data.enforced);
                    $('#Id').val(data.id);
                },
                error: function (data) {
                    alert("There was problems there");
                }
            });
        }
        $(document).ready(function () {
            $("#CycleId").val("0");
            $('#myTable').DataTable();
            $(".edit_btn").click(function () {
                //alert("WE should be working");

                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("Edit", "Budget")',
                    dataType: 'json',
                    data: {
                        id: this.id
                    },
                    success: function (data) {
                        //alert("meeh");
                        // $('#exampleModal').modal('show');
                        console.log(data);
                        //$('#PeriodId').val(data.cid);
                        //$('#CycleId').val(data.name);
                        //$('#Id').val(data.capacity);
                        // $('#AccountId').val(data.day);
                        //$('#DeptId').val(data.month);
                        //$('#Amount').val(data.year);
                        //$('#Enforce').val(data.day1);
                    },
                    error: function (data) {
                        alert("There was problems there");
                    }
                });

            });



            $(document).ready(function() {
                var table = $('#example').DataTable({
                    "columnDefs": [
                        {
                            "visible": false,
                            "targets": 2
                        }
                    ],
                    "order": [
                        [2, 'asc']
                    ],
                    "displayLength": 25,
                    "drawCallback": function(settings) {
                        var api = this.api();
                        var rows = api.rows({
                            page: 'current'
                        }).nodes();
                        var last = null;
                        api.column(2,
                            {
                                page: 'current'
                            }).data().each(function(group, i) {
                            if (last !== group) {
                                $(rows).eq(i).before('<tr class="group"><td colspan="5">' + group + '</td></tr>');
                                last = group;
                            }
                        });
                    }
                });
                // Order by the grouping
                $('#example tbody').on('click',
                    'tr.group',
                    function() {
                        var currentOrder = table.order()[0];
                        if (currentOrder[0] === 2 && currentOrder[1] === 'asc') {
                            table.order([2, 'desc']).draw();
                        } else {
                            table.order([2, 'asc']).draw();
                        }
                    });
            });
        });
        $("#basic_checkbox_2").change(function() {
            if (this.checked) {
                $("#period_section").hide();
                $("#cycle_section").show();
                $("#PeriodId").val("0");
            } else {
                $("#CycleId").val("0");
                $("#period_section").show();
                $("#cycle_section").hide();
            }
        });

        $("#Enforce").change(function () {
            if (this.checked) {
                $("#Enforce").val("true");
            } else {
                $("#Enforce").val("false");
            }
        });

        $('#example23').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    </script>
    <!-- Footable -->
    <script src="~/lib/plugins/footable/js/footable.all.min.js"></script>
    <script src="~/lib/plugins/bootstrap-select/bootstrap-select.min.js" type="text/javascript"></script>
    <!--FooTable init-->
    <script src="~/lib/js/footable-init.js"></script>
    <!-- Editable -->
    <script src="~/lib/plugins/jquery-datatables-editable/jquery.dataTables.js"></script>
    <script src="~/lib/plugins/datatables/dataTables.bootstrap.js"></script>
    <script src="~/lib/plugins/tiny-editable/mindmup-editabletable.js"></script>
    <script src="~/lib/plugins/tiny-editable/numeric-input-example.js"></script>
    <script>
        jQuery('#mainTable').editableTableWidget().numericInputExample().find('td:first').focus();
        jQuery('#editable-datatable').editableTableWidget().numericInputExample().find('td:first').focus();
        jQuery(document).ready(function () {
            jQuery('#editable-datatable').DataTable();
        });
    </script>
    <script>
        jQuery('#add-yr').click(function () {
            window.location = jQuery(this).data('target');
        });
        jQuery('#add-q-yr').click(function () {
            window.location = jQuery(this).data('target');
        });
    </script>
    <script type="text/javascript">
        $(function () {
            $(".preloader").fadeOut();
        });

    </script>
}
