﻿@model Nita.ViewModels.BudgetViewModels.BudgetItem;
<!-- Favicon icon -->
<link rel="icon" type="image/png" sizes="16x16" href="~/lib/images/favicon.png">
<!-- Bootstrap Core CSS -->
<link href="~/lib/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<!-- Custom CSS -->
<link href="~/lib/css/style.css" rel="stylesheet">
<!-- You can change the theme colors from here -->
<link href="~/lib/css/colors/default-dark.css" id="theme" rel="stylesheet">
<link href="~/lib/plugins/wizard/steps.css" rel="stylesheet">
<!--alerts CSS -->
<link href="~/lib/plugins/sweetalert/sweetalert.css" rel="stylesheet" type="text/css">
<!-- Bootstrap responsive table CSS -->
<link href="~/lib/plugins/tablesaw-master/dist/tablesaw.css" rel="stylesheet">
<!-- Bootstrap responsive table CSS -->
<link href="~/lib/plugins/tablesaw-master/dist/tablesaw.css" rel="stylesheet">

<div class="row"><div class="col-md-12 card"><h2>Main Budget</h2></div></div>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Main Budget</h4>
        <h6 class="card-subtitle">Main Budget Items</h6>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-8">
                <form asp-controller="Budget" asp-action="MainBudget" class="form p-t-20" method="get" role="form">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">Select Fiscal Year </label>
                                <select class="form-control" id="yId" name="yId">
                                    <option value="0">All</option>
                                    @foreach (var years in @ViewBag.FYears)
                                    {
                                        if (@years.Id == @ViewBag.fyId)
                                        {
                                            <option value=@years.Id selected="selected">@years.Name</option>
                                        }
                                        else
                                        {
                                            <option value=@years.Id>@years.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Generate  </label><br/>
                                <button type="submit" class="btn btn-primary" id="addTp"><i class="fa fa-cogs"></i> Generate</button>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
        
        <div class="table-responsive m-t-40">
            <span class="alert alert-dark">@ViewBag.Message</span>
            <table id="myTable" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>No.</th>
                    <th>Account Name</th>
                    <th>Amount</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var items in @ViewBag.MainBudgetItems)
                {
                    <tr>
                        <td>@items.Id</td>
                        <td>@items.Name</td>
                        <td>@items.Amount</td>
                    </tr>
                }
                    <tr><td></td><td style="text-align: right">Total:</td><td><span class="badge-pill"> @ViewBag.Total </span></td></tr>
                </tbody>
            </table>
                
        </div>
    </div>
</div>


@section Scripts
    {
    <script src="~/lib/plugins/bootstrap/js/bootstrap.min.js"></script>
    @*<script src="~/lib/plugins/jquery/jquery.min.js"></script>*@
    <script src="~/lib/plugins/bootstrap/js/popper.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
            $(document).ready(function () {
                var table = $('#example').DataTable({
                    "columnDefs": [{
                        "visible": false,
                        "targets": 2
                    }],
                    "order": [
                        [2, 'asc']
                    ],
                    "displayLength": 25,
                    "drawCallback": function (settings) {
                        var api = this.api();
                        var rows = api.rows({
                            page: 'current'
                        }).nodes();
                        var last = null;
                        api.column(2, {
                            page: 'current'
                        }).data().each(function (group, i) {
                            if (last !== group) {
                                $(rows).eq(i).before('<tr class="group"><td colspan="5">' + group + '</td></tr>');
                                last = group;
                            }
                        });
                    }
                });
                // Order by the grouping
                $('#example tbody').on('click', 'tr.group', function () {
                    var currentOrder = table.order()[0];
                    if (currentOrder[0] === 2 && currentOrder[1] === 'asc') {
                        table.order([2, 'desc']).draw();
                    } else {
                        table.order([2, 'asc']).draw();
                    }
                });
            });
        });
        $('#example23').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    </script>
}
