﻿@using Microsoft.EntityFrameworkCore;

@inject IOptionsSnapshot<AppSettings> AppSettings
@inject ApplicationDbContext db
@{
    // title - The title of the page which appears in the browser window title. Aim for the title to be less than 70
    //         characters. The site name appears at the end for better SEO.
    ViewBag.Title = "Add Payroll Pay Account";
    // Description - Used by search engines. Aim for more than 160 characters.
    ViewBag.Description = "Create a new pay account";


    //
    var GLAccountList = new List<SelectListItem>();

    foreach(var f in db.FinanceAccounts.Where(k=>k.Parent!=null && k.Type == FAccountType.Expense).ToList())
    {

        GLAccountList.Add(new SelectListItem() { Text = "" + f.Name, Value = f.Id + "" });
    }
    //
    var ECAccountList = new List<SelectListItem>();

    foreach (var f in db.FinanceAccounts.Where(k => k.Parent != null && k.Type == FAccountType.Expense).ToList())
    {

        ECAccountList.Add(new SelectListItem() { Text = "" + f.Name, Value = f.Id + "" });
    }
    //
    var ITaxFieldList = new List<SelectListItem>();

}
@model AddPayAccountViewModel
@* Code in the head section below gets added at the bottom of the HTML head element. This section can be used to enter
    custom meta tags specific to this page. *@
@section head
    {
    @* Author - (Optional) Used by search engines. The author of the page. *@
    <meta name="author" content="ABNO Softwares Int.">
    @* Add Twitter Card social meta tags so we can customize what happens when our page is shared on Twitter. There are
        several different Twitter Card types we could add, a different one is added on each page as an example.
        These helpers make it very easy to add the meta tags. For best performance, see what tags are generated and
        hand-code them yourself instead of using these helpers. *@
    <twitter-card-summary-large-image username="@@ABNO">
        @* Add Open Graph social meta tags so we can customize what happens when our page is shared on Facebook, Google+,
            Pintrest and other social media websites. There are dozens of Open Graph types, a different one is added on
            each page as an example. These helpers make it very easy to add the meta tags. For best performance, see what
            tags are generated and hand-code them yourself instead of using these helpers. *@
        <open-graph-website site-name="@AppSettings.Value.SiteTitle"
                            title="@ViewBag.Title"
                            main-image="@(new OpenGraphImage(
                            Url.AbsoluteContent("~/img/icons/open-graph-1200x630.png"),
                            ContentType.Png,
                            1200,
                            630))"
                            determiner="Blank">
            @* referrer - Controls what is sent in the HTTP referrer header when a client navigates to an external site. *@
            <meta asp-referrer="OriginWhenCrossOrigin">

            <!-- page CSS -->
            <link href="~/lib/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
            <link href="~/lib/plugins/select2/dist/css/select2.min.css" rel="stylesheet" type="text/css" />
            <link href="~/lib/plugins/switchery/dist/switchery.min.css" rel="stylesheet" />
            <link href="~/lib/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
            <link href="~/lib/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.css" rel="stylesheet" />
            <link href="~/lib/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
            <link href="~/lib/plugins/multiselect/css/multi-select.css" rel="stylesheet" type="text/css" />

            <style>
                .gray-box {
                    border: solid thin #ccc;
                    border-radius: 2px 2px;
                    margin: 5px;
                    padding: 4px
                }
            </style>
        }
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-themecolor">@ViewBag.Title</h3>
                </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Payroll</a></li>
                        <li class="breadcrumb-item">Add Pay Account</li>
                    </ol>
                </div>
                <div>
                    <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <div class="row">

                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">@ViewBag.Title</h4>
                            <h6 class="card-subtitle">Create a new payroll pay account</h6>
                            <form asp-route="@PayrollUtilsControllerRoute.GetAddPayAccount" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form p-t-20" role="form">
                                <hr />
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="Code"></label>
                                    <div class="input-group">
                                        <input asp-for="Code" class="form-control" placeholder="Pay Account Description...">
                                    </div>
                                    <span asp-validation-for="Code" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Description"></label>
                                    <div class="input-group">
                                        <textarea asp-for="Description" class="form-control" placeholder="Pay Account Code..."></textarea>
                                    </div>
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="IsRegular"> </label>
                                    <div class="form-group" style="margin-left:20px">
                                        <div class="switch">
                                            <label>
                                                NO
                                                <input type="checkbox" asp-for="IsRegular" checked><span class="lever"></span>YES
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" id="parent-wrapper">
                                    <label asp-for="PayType" class=""></label>
                                    <div class="icheck-list gray-box">

                                        <span style="padding:5px">
                                            <input type="radio" class="check" id="square-radio-1" name="PayType" data-radio="iradio_square-red" value="@((int)PayType.Deduction)">
                                            <label for="square-radio-1">@PayType.Deduction</label>
                                        </span>
                                        <span style="padding:5px">
                                            <input type="radio" class="check" id="square-radio-2" name="PayType" data-radio="iradio_square-red" value="@((int)PayType.Earning)">
                                            <label for="square-radio-2">@PayType.Earning</label>
                                        </span>
                                        <div id="bv-wrapper" style="display:inline">
                                            <span style="padding:5px">
                                                <input type="radio" class="check" id="square-radio-3" name="PayType" data-radio="iradio_square-red" value="@((int)PayType.Loan)">
                                                <label for="square-radio-3">@PayType.Loan</label>
                                            </span>
                                            <span style="padding:5px">
                                                <input type="radio" class="check" id="square-radio-4" name="PayType" data-radio="iradio_square-red" value="@((int)PayType.Pension)">
                                                <label for="square-radio-4">@PayType.Pension</label>
                                            </span>
                                            <span style="padding:5px">
                                                <input type="radio" class="check" id="square-radio-5" name="PayType" data-radio="iradio_square-red" value="@((int)PayType.Union)">
                                                <label for="square-radio-5">@PayType.Union</label>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="form-group">
                                    <label class="">Applicable Deductions</label>
                                    <div class="row gray-box">
                                        <div class="col-md-4">
                                            <div class="form-check bd-example-indeterminate">
                                                <label class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" name="Deductions" id="ded-paye" value="@((int)DeductionType.PAYE)">
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-description">P.A.Y.E</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-check bd-example-indeterminate">
                                                <label class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" name="Deductions" value="@((int)DeductionType.NHIF)">
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-description">NHIF</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-check bd-example-indeterminate">
                                                <label class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" name="Deductions" value="@((int)DeductionType.AllowableDeduction)">
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-description">Allowable Deduction</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" id="pt-wrapper" style="display:none">
                                    <label asp-for="PayeThreshold"></label>
                                    <div class="input-group">
                                        <input asp-for="PayeThreshold" class="form-control" placeholder="PAYE Threshold..." data-toggle="" value="0.0">
                                    </div>
                                    <span asp-validation-for="PayeThreshold" class="text-danger"></span>
                                </div>
                                <div class="form-group" id="parent-wrapper">
                                    <label asp-for="Account" class=""></label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="ti-anchor"></i></div>
                                        @Html.DropDownListFor(p => p.Account, GLAccountList, "-- Select GL Account --", new { @class = "select2 form-control custom-select", @style = "width: 100%; height:36px;" })
                                    </div>
                                    <span asp-validation-for="Account" class="text-danger"></span>
                                </div>
                                <div class="form-group" id="cc-wrapper">
                                    <label asp-for="ContributionAccount" class=""></label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="ti-anchor"></i></div>
                                        @Html.DropDownListFor(p => p.ContributionAccount, ECAccountList, "-- Select GL Account --", new { @class = "select2 form-control custom-select", @style = "width: 100%; height:36px;" })
                                    </div>
                                    <span asp-validation-for="ContributionAccount" class="text-danger"></span>
                                </div>
                                <div class="form-group" id="itax-wrapper" style="display:none">
                                    <label asp-for="ITaxField" class=""></label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="ti-anchor"></i></div>
                                        @Html.DropDownListFor(p => p.ITaxField, ITaxFieldList, "-- Select Field --", new { @class = "select2 form-control custom-select", @style = "width: 100%; height:36px;" })
                                    </div>
                                    <span asp-validation-for="ITaxField" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="IsActive"> </label>
                                    <div class="form-group" style="margin-left:20px">
                                        <div class="switch">
                                            <label>
                                                NO
                                                <input type="checkbox" asp-for="IsActive"><span class="lever"></span>YES
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="col-md-offset-5 col-md-10">
                                    <button type="submit" class="btn btn-info waves-effect waves-ripple m-r-10">Submit</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>

        </div>

        @* Code in the scripts section below gets added at the bottom of the HTML body element, below other scripts. This
    section can be used to enter custom scripts specific to this page. *@
        @section scripts
        {
        <!-- jQuery peity -->
        <script src="~/lib/plugins/peity/jquery.peity.min.js"></script>
        <script src="~/lib/plugins/peity/jquery.peity.init.js"></script>
        <!-- jQuery peity -->

        <script type="text/javascript">
            $(function () {
                $(".preloader").fadeOut();
            });

        </script>
        <!-- This page plugins -->
        <!-- ============================================================== -->
        <script src="~/lib/plugins/switchery/dist/switchery.min.js"></script>
        <script src="~/lib/plugins/select2/dist/js/select2.full.min.js" type="text/javascript"></script>
        <script src="~/lib/plugins/bootstrap-select/bootstrap-select.min.js" type="text/javascript"></script>
        <script src="~/lib/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
        <script src="~/lib/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="~/lib/plugins/multiselect/js/jquery.multi-select.js"></script>

        <script>
            // For select 2
            $(".select2").select2();
            $('.selectpicker').selectpicker();
        </script>

            <script>
                jQuery('#ded-paye').change(function () { 
                    if (jQuery(this).is(':checked')) {
                        jQuery('#itax-wrapper').show();
                    } else {
                        jQuery('#itax-wrapper').hide();
                    }
                })

                jQuery('#IsRegular').change(function () {
                    if (jQuery(this).is(':checked')) {
                        jQuery('#bv-wrapper').show();
                        jQuery('#cc-wrapper').show();
                        jQuery('#pt-wrapper').hide();
                    } else {
                        jQuery('#bv-wrapper').hide();
                        jQuery('#cc-wrapper').hide();
                        jQuery('#pt-wrapper').show();
                    }

                })
            </script>
        }
