﻿@inject IOptionsSnapshot<AppSettings> AppSettings
@using Microsoft.EntityFrameworkCore;

@inject ApplicationDbContext db
@{
    // title - The title of the page which appears in the browser window title. Aim for the title to be less than 70
    //         characters. The site name appears at the end for better SEO.
    ViewBag.Title = "All Job Groups";
    // Description - Used by search engines. Aim for more than 160 characters.
    ViewBag.Description = "";
    //
    var GroupList = db.PJobGroups.Include(l=>l.RenumerationSchemes).Include(l=>l.Currency).ToList();

    var BaseCurrency = db.FCurrencies.Single(k => k.IsBase);
}

@* Code in the head section below gets added at the bottom of the HTML head element. This section can be used to enter
    custom meta tags specific to this page. *@
@section head
    {
    @* Author - (Optional) Used by search engines. The author of the page. *@
    <meta name="author" content="ABNO Softwares Int.">
    @* Add Twitter Card social meta tags so we can customize what happens when our page is shared on Twitter. There are
        several different Twitter Card types we could add, a different one is added on each page as an example.
        These helpers make it very easy to add the meta tags. For best performance, see what tags are generated and
        hand-code them yourself instead of using these helpers. *@
    <twitter-card-summary-large-image username="@@ABNO">
        @* Add Open Graph social meta tags so we can customize what happens when our page is shared on Facebook, Google+,
            Pintrest and other social media websites. There are dozens of Open Graph types, a different one is added on
            each page as an example. These helpers make it very easy to add the meta tags. For best performance, see what
            tags are generated and hand-code them yourself instead of using these helpers. *@
        <open-graph-website site-name="@AppSettings.Value.SiteTitle"
                            title="@ViewBag.Title"
                            main-image="@(new OpenGraphImage(
                            Url.AbsoluteContent("~/img/icons/open-graph-1200x630.png"),
                            ContentType.Png,
                            1200,
                            630))"
                            determiner="Blank">
            @* referrer - Controls what is sent in the HTTP referrer header when a client navigates to an external site. *@
            <meta asp-referrer="OriginWhenCrossOrigin">

            @if (ViewData["Message"] != null)
    {
        <script>
            var msg = "@ViewData["Message"]"
        </script>

}
            <!-- Footable CSS -->
            <link href="~/lib/plugins/footable/css/footable.core.css" rel="stylesheet">
            <link href="~/lib/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
            <!-- Custom CSS -->
            <link href="~/lib/css/style.css" rel="stylesheet">
            <!-- page css -->
            <link href="~/lib/css/pages/footable-page.css" rel="stylesheet">
            <!-- You can change the theme colors from here -->
            <link href="~/lib/css/colors/default-dark.css" id="theme" rel="stylesheet">

        }
        <section class="container-fluid">

            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-themecolor">@ViewBag.Title</h3>
                </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Human Resource</a></li>
                        <li class="breadcrumb-item active">All Job Groups</li>
                    </ol>
                </div>
                <div>
                    <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            @*<h4 class="card-title">@ViewBag.Title</h4>*@
                            <div class="pull-right">
                                <button type="button" class="btn btn-info btn-rounded pull-right" id="add-staff" data-toggle="tooltip" data-original-title="Create A new Job Group" data-target="@Url.RouteUrl(PayrollUtilsControllerRoute.GetAddJobGroup)">Create New Job Group</button>
                                <div class="clearfix"></div>
                                @*<button type="button" class="btn btn-danger btn-rounded" id="add-branch" data-toggle="tooltip" data-original-title="Add an new bank branch" data-target="@Url.RouteUrl(FinanceUtilsControllerRoute.GetAddBankBranch,new {})">Add New Bank Branch</button>*@
                            </div>
                            <div class="clear"></div>
                            <h6 class="card-subtitle">An overview of @AppSettings.Value.SiteShortTitle Job Groups</h6>
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered" id="editable-datatable">
                                    <thead>
                                        <tr>
                                            <th>Code</th>
                                            <th>Name</th>
                                            <th>Rank</th>
                                            <th>Min. Pay</th>
                                            <th>Max. Pay</th>
                                            <th>Increments</th>
                                            <th>Date Created</th>
                                            <th>Renum. Schemes</th>
                                            <th>Effective From</th>
                                            <th>Ends On</th>
                                            <th>Status</th>
                                            <th>Admin Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                    if (GroupList.Count > 0)
                    {
                        foreach (var grp in GroupList)
                        {
                                        <tr>
                                            <td>@(grp.Code ?? "<Not Set>")</td>
                                            <td>@(grp.Name ?? "<Not Set>")</td>
                                            <td>@(grp.Rank > 0 ? grp.Rank + "" : "<Not Available>")</td>
                                            <td>@grp.Currency?.Alias @grp.MinPay.ToString("#,##0")</td>
                                            <td>@grp.Currency?.Alias @grp.MaxPay.ToString("#,##0")</td>
                                            <td>@grp.Currency?.Alias @grp.Increment.ToString("#,##0")</td>
                                            <td>@grp.DateCreated.ToString("dd MMM yyyy")</td>
                                            <td>@grp.RenumerationSchemes.Count Schemes(s)</td>
                                            <td>@grp.StartDate.ToString("dd MMM yyyy")</td>
                                            <td>@grp.EndDate.ToString("dd MMM yyyy")</td>
                                            <td>
                                                @if (grp.Status == EntityStatus.Active)
        {<span class="label label-success">Active</span> }
else
{ <span class="label label-danger">In-Active</span>}
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-toggle="tooltip" data-original-title="Preview" data-id="@grp.Id"><i class="fa fa-eye" aria-hidden="true"></i></button>
                                                <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-toggle="tooltip" data-original-title="Edit" data-id="@grp.Id"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                                                <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-toggle="tooltip" data-original-title="Delete" data-id="@grp.Id"><i class="fa fa-close text-danger" aria-hidden="true"></i></button>
                                            </td>
                                        </tr>

}
}
                                        }

                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Code</th>
                                            <th>Name</th>
                                            <th>Rank</th>
                                            <th>Min. Pay</th>
                                            <th>Max. Pay</th>
                                            <th>Increments</th>
                                            <th>Date Created</th>
                                            <th>Renum. Schemes</th>
                                            <th>Effective From</th>
                                            <th>Ends On</th>
                                            <th>Status</th>
                                            <th>Admin Actions</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        @* Code in the scripts section below gets added at the bottom of the HTML body element, below other scripts. This
    section can be used to enter custom scripts specific to this page. *@
        @section scripts
        {
        <!-- Footable -->
        <script src="~/lib/plugins/footable/js/footable.all.min.js"></script>
        <script src="~/lib/plugins/bootstrap-select/bootstrap-select.min.js" type="text/javascript"></script>
        <!-- Editable -->
        <script src="~/lib/plugins/jquery-datatables-editable/jquery.dataTables.js"></script>
        <script src="~/lib/plugins/datatables/dataTables.bootstrap.js"></script>
        <script src="~/lib/plugins/tiny-editable/mindmup-editabletable.js"></script>
        <script src="~/lib/plugins/tiny-editable/numeric-input-example.js"></script>
        <script>
            jQuery(document).ready(function () {
                jQuery('#editable-datatable').DataTable();
            });
        </script>
        <script>

            jQuery('#add-staff').click(function () {
                window.location = jQuery(this).data('target');
            })
        </script>
        }
