﻿@inject IOptionsSnapshot<AppSettings> AppSettings

@using Microsoft.EntityFrameworkCore;

@inject ApplicationDbContext db
@{
    // title - The title of the page which appears in the browser window title. Aim for the title to be less than 70
    //         characters. The site name appears at the end for better SEO.
    ViewBag.Title = "All processing Irregular Earnings";
    // Description - Used by search engines. Aim for more than 160 characters.
    ViewBag.Description = "";

    //
    var EarningList = db.PIrrEarnings.Include(p => p.Trainer).Include(j => j.Trainee).Include(l => l.Project).Include(k => k.Payment).ThenInclude(k => k.CurrencyUsed).Include(k => k.Payment).ThenInclude(k => k.GLAccount).ToList();
    //
    var ProjectsList = new List<SelectListItem>();

    foreach (var f in db.PIrrPaymentProjects.ToList())
    {

        ProjectsList.Add(new SelectListItem() { Text = "" + f.Name, Value = f.Id + "" });
    }
}
@model ProcessIrregularPaymentViewModel
@* Code in the head section below gets added at the bottom of the HTML head element. This section can be used to enter
    custom meta tags specific to this page. *@
@section head
    {
    @* Author - (Optional) Used by search engines. The author of the page. *@
    <meta name="author" content="ABNO Softwares Int.">
    @* Add Twitter Card social meta tags so we can customize what happens when our page is shared on Twitter. There are
        several different Twitter Card types we could add, a different one is added on each page as an example.
        These helpers make it very easy to add the meta tags. For best performance, see what tags are generated and
        hand-code them yourself instead of using these helpers. *@
    <twitter-card-summary-large-image username="@@ABNO">
        @* Add Open Graph social meta tags so we can customize what happens when our page is shared on Facebook, Google+,
            Pintrest and other social media websites. There are dozens of Open Graph types, a different one is added on
            each page as an example. These helpers make it very easy to add the meta tags. For best performance, see what
            tags are generated and hand-code them yourself instead of using these helpers. *@
        <open-graph-website site-name="@AppSettings.Value.SiteTitle"
                            title="@ViewBag.Title"
                            main-image="@(new OpenGraphImage(
                            Url.AbsoluteContent("~/img/icons/open-graph-1200x630.png"),
                            ContentType.Png,
                            1200,
                            630))"
                            determiner="Blank">
            @* referrer - Controls what is sent in the HTTP referrer header when a client navigates to an external site. *@
            <meta asp-referrer="OriginWhenCrossOrigin">

            <!-- Footable CSS -->
            <link href="~/lib/plugins/footable/css/footable.core.css" rel="stylesheet">
            <link href="~/lib/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
            <!-- Custom CSS -->
            <link href="~/lib/css/style.css" rel="stylesheet">
            <!-- page css -->
            <link href="~/lib/css/pages/footable-page.css" rel="stylesheet">
            <!-- You can change the theme colors from here -->
            <link href="~/lib/css/colors/default-dark.css" id="theme" rel="stylesheet">

            <!-- page CSS -->
            <link href="~/lib/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
            <link href="~/lib/plugins/select2/dist/css/select2.min.css" rel="stylesheet" type="text/css" />
            <link href="~/lib/plugins/switchery/dist/switchery.min.css" rel="stylesheet" />
            <link href="~/lib/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
            <link href="~/lib/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.css" rel="stylesheet" />
            <link href="~/lib/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
            <link href="~/lib/plugins/multiselect/css/multi-select.css" rel="stylesheet" type="text/css" />

            @if (ViewData["Message"] != null)
    {
        <script>
                 var msg = '@ViewData["Message"]'
        </script>
}
        }
        <div class="container-fluid">

            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-themecolor">@ViewBag.Title</h3>
                </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Payroll</a></li>
                        <li class="breadcrumb-item">All Irregular Payment Earning</li>
                    </ol>
                </div>
                <div>
                    <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-12">
                    <!-- Column -->
                    <div class="card">
                        <div class="card-body">
                            @*<h4 class="card-title">Row Toggler</h4>*@
                            <h6 class="card-subtitle">An overview of all pending beneficiary Earning</h6>
                            <hr />
                            <form asp-route="@PayrollControllerRoute.GetProcessIrregularPayment" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form p-t-20" role="form" id="earnings-form">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div>
                                    <div class="pull-right dataTables_filter" style="display:inline-block">
                                        @Html.DropDownListFor(p => p.ProjectId, ProjectsList, "-- Filter by Irregular Payment Project --", new { @class = "select2 form-control custom-select", @style = "width: 100%; height:36px;display:inline", aria_controls = "editable-datatable" })
                                     </div>
                                    @if (EarningList.Count > 0)
                            {
                                @*<button type="button" class="btn btn-info waves-effect waves-ripple pull-right process-er" data-toggle="tooltip" data-original-title="Process selected earnings" data-target="@Url.RouteUrl(PayrollControllerRoute.GetProcessIrregularPayment,new {})">Process Selected Earning(s)</button>*@

                                <div class="demo-checkbox pull-left m-l-15" style="">
                                    <input type="checkbox" id="select-all" class="filled-in chk-col-light-blue select-all" />
                                    <label for="select-all" style="">Sellect All Pending</label>
                                </div>
                                @*<div class="demo-checkbox pull-left m-l-20" style="">
                                <input type="checkbox" id="select-all-p" class="filled-in chk-col-light-blue select-all-p" disabled />
                                <label for="select-all-p" style="">Sellect All Processed</label>
                            </div>*@
                    }

                                </div>
                                <div class="clearfix"></div>
                                <table class="table table-striped table-bordered" id="editable-datatable">
                                    <thead>
                                        <tr>
                                            <th class="text-center" style="">
                                                #
                                            </th>
                                            <th>Beneficiary Name</th>
                                            <th>Payment Period</th>
                                            <th>Amaount Payable</th>
                                            <th>GL Account</th>
                                            <th>Status</th>
                                            <th> Actions </th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @if (EarningList.Count > 0)
                                {
                                    foreach (var p in EarningList)
                                    {
                                        <tr>
                                            <td class="text-center">
                                                @if (!p.Payment.PaymentAccounts.Any())
                                        {
                                            <div class="demo-checkbox" style="width:32px;height:32px;">
                                                <input type="checkbox" id="er-@p.Id" class="filled-in chk-col-light-blue er-chks" name="earnings" value="@p.Id" />
                                                <label for="er-@p.Id" style="font-size:9px"></label>
                                            </div>

                                }
                                else
                                {
                                    <div class="demo-checkbox" style="width:32px;height:32px;">
                                        <input type="checkbox" id="p-@p.Id" class="filled-in chk-col-light-blue p-chks" name="processed" value="@p.Id" disabled />
                                        <label for="p-@p.Id" style="font-size:9px"></label>
                                    </div>

                        }
                                            </td>
                                            <td>@(p.Trainee?.FullName ?? p.Trainer?.FullName)</td>
                                            <td>@p.Project.Name</td>
                                            <td>@p.Payment.CurrencyUsed.Alias @p.Payment.GrossAmount.ToString("#,##0")</td>
                                            <td>@p.Payment.GLAccount.Name</td>
                                            <td>
                                                @if (!p.Payment.PaymentAccounts.Any())
                                        {<span class="label label-table label-warning">Pending</span>}
                                else
                                { <span class="label label-table label-success">Processed</span>}
                                            </td>
                                            <td class="text-nowrap">
                                                <a href="@Url.RouteUrl(PayrollControllerRoute.GetUpdateIrregularEarning,new { eid=p.Id})" data-toggle="tooltip" data-original-title="Update"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                                <a href="javascript:void(0)" data-toggle="tooltip" class="suspend-earning" data-id="@p.Id" data-original-title="Suspend"> <i class="fa fa-close text-danger"></i> </a>
                                            </td>
                                        </tr>

                            }
                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th class="text-center">
                                                #
                                            </th>
                                            <th>Beneficiary Name</th>
                                            <th>Payment Period</th>
                                            <th>Amaount Payable</th>
                                            <th>GL Account</th>
                                            <th>Status</th>
                                            <th> Actions </th>
                                        </tr>
                                    </tfoot>
                                </table>
                                <div>
                                    <hr />
                                    <div class="pull-right" style="margin-left:3px">
                                        <button type="button" class="btn btn-outline-info waves-effect waves-ripple" id="create-er" data-toggle="tooltip" data-original-title="Create a new Irregular Earning entry" data-target="@Url.RouteUrl(PayrollControllerRoute.GetAddIrregularEarning,new {})">Create New Irregular Earning</button>
                                    </div>
                                    @if (EarningList.Count > 0)
                            {
                                <button type="button" class="btn btn-info waves-effect waves-ripple pull-right" id="process-er" data-toggle="tooltip" data-original-title="Process selected earnings" data-target="@Url.RouteUrl(PayrollControllerRoute.GetProcessIrregularPayment,new {})">Process Selected Earning(s)</button>


                    }

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @* Code in the scripts section below gets added at the bottom of the HTML body element, below other scripts. This
    section can be used to enter custom scripts specific to this page. *@
        @section scripts
        {
        <!-- Footable -->
        <script src="~/lib/plugins/footable/js/footable.all.min.js"></script>
        <script src="~/lib/plugins/bootstrap-select/bootstrap-select.min.js" type="text/javascript"></script>
        <!-- ============================================================== -->
        <script src="~/lib/plugins/switchery/dist/switchery.min.js"></script>
        <script src="~/lib/plugins/select2/dist/js/select2.full.min.js" type="text/javascript"></script>
        <script src="~/lib/plugins/bootstrap-select/bootstrap-select.min.js" type="text/javascript"></script>
        <script src="~/lib/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
        <script src="~/lib/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="~/lib/plugins/multiselect/js/jquery.multi-select.js"></script>

        <script>
            // For select 2
            $(".select2").select2();
            $('.selectpicker').selectpicker();
        </script>
        <!-- Editable -->
        <script src="~/lib/plugins/jquery-datatables-editable/jquery.dataTables.js"></script>
        <script src="~/lib/plugins/datatables/dataTables.bootstrap.js"></script>
        <script src="~/lib/plugins/tiny-editable/mindmup-editabletable.js"></script>
        <script src="~/lib/plugins/tiny-editable/numeric-input-example.js"></script>
        <script>
            jQuery(document).ready(function () {
                jQuery('#editable-datatable').DataTable();
            });
        </script>
        <script>
            jQuery(document).ready(function () {

                typeof (msg) !== "undefined" && (jQuery.toast({
                    heading: 'Information',
                    text: '' + msg,
                    icon: 'info',
                    loader: true,        // Change it to false to disable loader
                    loaderBg: '#9EC600'  // To change the background
                }))
            })
        </script>
        <script>
            jQuery('body').on('change', '.select-all', function () {
                if (jQuery(this).is(':checked')) {
                    jQuery('.er-chks').prop('checked', true)
                }
            }), jQuery('body').on('change', '.select-all-p', function () {
                if (jQuery(this).is(':checked')) {
                    jQuery('.p-chks').prop('checked', true)
                }
            }), jQuery('body').on('change', '.er-chks', function () {
                var all = true;
                jQuery.each(jQuery('.er-chks'), function (i, obj) {
                    if (!jQuery(obj).is(':checked')) {
                        all = false;
                    }
                }), all ? jQuery('.select-all').prop('checked', true) : jQuery('.select-all').prop('checked', false)
            }),
                jQuery('body').on('change', '.p-chks', function () {
                    var all = true;
                    jQuery.each(jQuery('.p-chks'), function (i, obj) {
                        if (!jQuery(obj).is(':checked')) {
                            all = false;
                        }
                    }), all ? jQuery('.select-all-p').prop('checked', true) : jQuery('.select-all-p').prop('checked', false)
                }),
                jQuery('#process-er').click(function () {
                    var g = false;
                    jQuery.each(jQuery('.er-chks'), function (i, obj) {
                        if (jQuery(obj).is(':checked')) {
                            g = true;
                        }
                    }), g ? jQuery('#earnings-form').submit() : alert('No entries have been selected.')
                }), jQuery('#create-er').click(function () {
                    window.location = jQuery(this).data('target');
                })
        </script>
        <script type="text/javascript">
            $(function () {
                $(".preloader").fadeOut();
            });

        </script>
        }
