﻿@using Microsoft.EntityFrameworkCore;

@inject IOptionsSnapshot<AppSettings> AppSettings
@inject ApplicationDbContext db
@{
    // title - The title of the page which appears in the browser window title. Aim for the title to be less than 70
    //         characters. The site name appears at the end for better SEO.
    ViewBag.Title = "Create Irregular Payment Profile";
    // Description - Used by search engines. Aim for more than 160 characters.
    ViewBag.Description = "Create a new Irregular Payment Profile";

    var BaseCurrency = db.FCurrencies.Single(l => l.IsBase);

    //
    var TraineeList = new List<SelectListItem>();

    foreach(var f in db.Trainees.ToList())
    {

        TraineeList.Add(new SelectListItem() { Text = "" + f.FullName, Value = f.Id + "" });
    }
    //
    var TrainerList = new List<SelectListItem>();

    foreach (var f in db.Trainers.Where(l=>l.Type == TrainerType.MasterCraftman).ToList())
    {

        TrainerList.Add(new SelectListItem() { Text = "" + f.FullName, Value = f.Id + "" });
    }
}
@model AddIrregularPaymentProfileViewModel
@* Code in the head section below gets added at the bottom of the HTML head element. This section can be used to enter
    custom meta tags specific to this page. *@
@section head
    {
    @* Author - (Optional) Used by search engines. The author of the page. *@
    <meta name="author" content="ABNO Softwares Int.">
    @* Add Twitter Card social meta tags so we can customize what happens when our page is shared on Twitter. There are
        several different Twitter Card types we could add, a different one is added on each page as an example.
        These helpers make it very easy to add the meta tags. For best performance, see what tags are generated and
        hand-code them yourself instead of using these helpers. *@
    <twitter-card-summary-large-image username="@@ABNO">
        @* Add Open Graph social meta tags so we can customize what happens when our page is shared on Facebook, Google+,
            Pintrest and other social media websites. There are dozens of Open Graph types, a different one is added on
            each page as an example. These helpers make it very easy to add the meta tags. For best performance, see what
            tags are generated and hand-code them yourself instead of using these helpers. *@
        <open-graph-website site-name="@AppSettings.Value.SiteTitle"
                            title="@ViewBag.Title"
                            main-image="@(new OpenGraphImage(
                            Url.AbsoluteContent("~/img/icons/open-graph-1200x630.png"),
                            ContentType.Png,
                            1200,
                            630))"
                            determiner="Blank">
            @* referrer - Controls what is sent in the HTTP referrer header when a client navigates to an external site. *@
            <meta asp-referrer="OriginWhenCrossOrigin">

            <!-- page CSS -->
            <link href="~/lib/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
            <link href="~/lib/plugins/select2/dist/css/select2.min.css" rel="stylesheet" type="text/css" />
            <link href="~/lib/plugins/switchery/dist/switchery.min.css" rel="stylesheet" />
            <link href="~/lib/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
            <link href="~/lib/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.css" rel="stylesheet" />
            <link href="~/lib/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
            <link href="~/lib/plugins/multiselect/css/multi-select.css" rel="stylesheet" type="text/css" />
        }
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-themecolor">@ViewBag.Title</h3>
                </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Payroll</a></li>
                        <li class="breadcrumb-item">Create Irregular Payment Profile</li>
                    </ol>
                </div>
                <div>
                    <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->

            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">@ViewBag.Title</h4>
                            <h6 class="card-subtitle">Create a new irregular payment profiles</h6>
                            <form asp-route="@PayrollControllerRoute.GetAddIrregularPaymentProfile" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form p-t-20" role="form">
                                <hr />
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div>
                                    <div class="gray-box">
                                       
                                        <!-- Nav tabs -->
                                        <ul class="nav nav-tabs customtab" role="tablist">
                                            <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#home2" role="tab"><span class="hidden-sm-up"><i class="ti-home"></i></span> <span class="hidden-xs-down">A Beneficiary Profile </span></a> </li>
                                            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile2" role="tab"><span class="hidden-sm-up"><i class="ti-user"></i></span> <span class="hidden-xs-down">A Master Craftman Profile </span></a> </li>
                                           
                                        </ul>
                                        <!-- Tab panes -->
                                        <div class="tab-content">
                                            <div class="tab-pane p-20 active" id="home2" role="tabpanel">
                                                <div class="form-group" id="parent-wrapper">
                                                    <div class="input-group">
                                                        <div class="input-group-addon"><i class="ti-anchor"></i></div>
                                                        @Html.DropDownListFor(p => p.TraineeId, TraineeList, "-- Select Beneficiary --", new { @class = "select2 form-control custom-select", @style = "width: 100%; height:36px;" })
                                                    </div>
                                                    <span asp-validation-for="TraineeId" class="text-danger"></span>
                                                </div>
                                                <hr />
                                                @*Selected MC's Details*@
                                                <h3>Selected Beneficiary's Info.</h3>
                                                <br />
                                                <div class="row">
                                                    <div class="form-group col-sm-6">
                                                        <label>Full Name.</label>
                                                        <div class="input-group">
                                                            <div class="input-group-addon"><i class="ti-key"></i></div>
                                                            <input class="form-control" id="ben-name" placeholder="Not Loaded." value="" readonly>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-sm-6">
                                                        <label>Program/Trade Area.</label>
                                                        <div class="input-group">
                                                            <div class="input-group-addon"><i class="ti-key"></i></div>
                                                            <input class="form-control" id="ben-prog" placeholder="Not Loaded." value="" readonly>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-sm-6">
                                                        <label>Location</label>
                                                        <div class="input-group">
                                                            <div class="input-group-addon"><i class="ti-key"></i></div>
                                                            <input class="form-control" id="ben-loc" placeholder="Not Loaded." value="" readonly>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-sm-6">
                                                        <label>Training Inst./MC Assigned</label>
                                                        <div class="input-group">
                                                            <div class="input-group-addon"><i class="ti-key"></i></div>
                                                            <input class="form-control" id="ben-trainer" placeholder="Not Loaded." value="" readonly>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-sm-6">
                                                        <label>Join Date</label>
                                                        <div class="input-group">
                                                            <div class="input-group-addon"><i class="ti-key"></i></div>
                                                            <input class="form-control" id="ben-jd" placeholder="Not Loaded." value="@DateTime.Now.ToString("yyyy-MM-dd")" type="date" readonly>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-sm-6">
                                                        <label>Current Cycle</label>
                                                        <div class="input-group">
                                                            <div class="input-group-addon"><i class="ti-key"></i></div>
                                                            <input class="form-control" id="ben-cc" placeholder="Not Loaded." value="" readonly>
                                                        </div>
                                                    </div>
                                                </div>
                                                @* --- ---*@
                                            </div>


                                            <div class="tab-pane p-20" id="profile2" role="tabpanel">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <div class="input-group-addon"><i class="ti-anchor"></i></div>
                                                        @Html.DropDownListFor(p => p.TrainerId, TrainerList, "-- Select A Master Craftman --", new { @class = "select2 form-control custom-select", @style = "width: 100%; height:36px;" })
                                                    </div>
                                                    <span asp-validation-for="TrainerId" class="text-danger"></span>
                                                </div>
                                                <hr />
                                                @*Selected MC's Details*@
                                                <h3>Selected MC's Info.</h3>
                                                <br />
                                                <div class="row">
                                                    <div class="form-group col-sm-6">
                                                        <label>Full Name.</label>
                                                        <div class="input-group">
                                                            <div class="input-group-addon"><i class="ti-key"></i></div>
                                                            <input class="form-control" id="mc-name" placeholder="Not Loaded." value="" readonly>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-sm-6">
                                                        <label>Enterprise Name.</label>
                                                        <div class="input-group">
                                                            <div class="input-group-addon"><i class="ti-key"></i></div>
                                                            <input class="form-control" id="mc-ent" placeholder="Not Loaded." value="" readonly>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-sm-6">
                                                        <label>Location</label>
                                                        <div class="input-group">
                                                            <div class="input-group-addon"><i class="ti-key"></i></div>
                                                            <input class="form-control" id="mc-loc" placeholder="Not Loaded." value="" readonly>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-sm-6">
                                                        <label>Assigned Beneficiaries</label>
                                                        <div class="input-group">
                                                            <div class="input-group-addon"><i class="ti-key"></i></div>
                                                            <input class="form-control" id="mc-bef" placeholder="Not Loaded." value="" readonly>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-sm-6">
                                                        <label>Join Date</label>
                                                        <div class="input-group">
                                                            <div class="input-group-addon"><i class="ti-key"></i></div>
                                                            <input class="form-control" id="mc-jd" placeholder="Not Loaded." value="@DateTime.Now.ToString("yyyy-MM-dd")" type="date" readonly>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-sm-6">
                                                        <label>Active Trade Area(s)</label>
                                                        <div class="input-group">
                                                            <div class="input-group-addon"><i class="ti-key"></i></div>
                                                            <input class="form-control" id="mc-ta" placeholder="Not Loaded." value="" readonly>
                                                        </div>
                                                    </div>
                                                </div>
                                                @* --- ---*@
                                            </div>

                                        </div>


                                    </div>
                                </div>
                                <br />
                                <div class="form-group" id="parent-wrapper">
                                    <label asp-for="OtherIncome" class=""></label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="">@BaseCurrency.Alias</i></div>
                                        <input asp-for="OtherIncome" class="form-control" placeholder="" value="0.0">
                                    </div>
                                    <span asp-validation-for="OtherIncome" class="text-danger"></span>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label asp-for="StartDate" class=""></label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="ti-anchor"></i></div>
                                            <input asp-for="StartDate" class="form-control" placeholder="" value="@DateTime.Now.ToString("yyyy-MM-dd")" type="date">
                                        </div>
                                        <span asp-validation-for="StartDate" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label asp-for="EndDate" class=""></label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="ti-anchor"></i></div>
                                            <input asp-for="EndDate" class="form-control" placeholder="" value="@DateTime.Now.AddYears(1).ToString("yyyy-MM-dd")" type="date">
                                        </div>
                                        <span asp-validation-for="EndDate" class="text-danger"></span>
                                    </div>

                                </div>
                                <div class="form-group gray-box">
                                    <label asp-for="PayMode" class=""></label>
                                    <div class="icheck-list gray-box">

                                        <span style="padding:5px">
                                            <input type="radio" class="check" id="square-radio-1" name="PayType" data-radio="iradio_square-red" value="@((int)PayMode.Cash)">
                                            <label for="square-radio-1">@PayMode.Cash</label>
                                        </span>
                                        <span style="padding:5px">
                                            <input type="radio" class="check" id="square-radio-2" name="PayType" data-radio="iradio_square-red" value="@((int)PayMode.Cheque)">
                                            <label for="square-radio-2">@PayMode.Cheque</label>
                                        </span>
                                        <span style="padding:5px">
                                            <input type="radio" class="check" checked id="square-radio-3" name="PayType" data-radio="iradio_square-red" value="@((int)PayMode.EFT)">
                                            <label for="square-radio-3">@PayMode.EFT</label>
                                        </span>
                                        <span style="padding:5px">
                                            <input type="radio" class="check" id="square-radio-4" name="PayType" data-radio="iradio_square-red" value="@((int)PayMode.FOSA)">
                                            <label for="square-radio-4">@PayMode.FOSA</label>
                                        </span>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label asp-for="ExemptTax"> </label>
                                        <div class="form-group" style="margin-left:20px">
                                            <div class="switch">
                                                <label>
                                                    NO
                                                    <input type="checkbox" asp-for="ExemptTax" checked><span class="lever"></span>YES
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label asp-for="ApplyPayeRelief"> </label>
                                        <div class="form-group" style="margin-left:20px">
                                            <div class="switch">
                                                <label>
                                                    NO
                                                    <input type="checkbox" asp-for="ApplyPayeRelief"><span class="lever"></span>YES
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="col-md-offset-5 col-md-10">
                                    <button type="submit" class="btn btn-info waves-effect waves-ripple m-r-10">Submit</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>

        </div>

        @* Code in the scripts section below gets added at the bottom of the HTML body element, below other scripts. This
    section can be used to enter custom scripts specific to this page. *@
        @section scripts
        {
        <!-- jQuery peity -->
        <script src="/lib/plugins/peity/jquery.peity.min.js"></script>
        <script src="/lib/plugins/peity/jquery.peity.init.js"></script>

        <!-- This page plugins -->
        <!-- ============================================================== -->
        <script src="~/lib/plugins/switchery/dist/switchery.min.js"></script>
        <script src="~/lib/plugins/select2/dist/js/select2.full.min.js" type="text/javascript"></script>
        <script src="~/lib/plugins/bootstrap-select/bootstrap-select.min.js" type="text/javascript"></script>
        <script src="~/lib/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
        <script src="~/lib/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="~/lib/plugins/multiselect/js/jquery.multi-select.js"></script>

        <script>
            // For select 2
            $(".select2").select2();
            $('.selectpicker').selectpicker();
        </script>

        <script type="text/javascript">
            $(function () {
                $(".preloader").fadeOut();
            });
        </script>


        <script>
            jQuery('#TraineeId').on('change', function () {
                jQuery.getJSON("/trprof?tid=" + this.value, function (res) {
                    console && console.log(JSON.stringify(res))
                    var data = JSON.parse(res.data);
                    res.s === "1" && (jQuery('#ben-name').val(data.name), jQuery('#ben-prog').val(data.prog),
                        jQuery('#ben-loc').val(data.loc), jQuery('#ben-trainer').val(data.trainer),
                        jQuery('#ben-jd').val(data.jd), jQuery('#ben-cc').val(data.cc)),
                        //Reset selection
                        JQuery('#TrainerId').val('')

                    //
                })
            });
                jQuery('#TrainerId').on('change', function () {
                    jQuery.getJSON("/mcprof?mid=" + this.value, function (res) {
                        console && console.log(JSON.stringify(res))
                        var data = JSON.parse(res.data);
                        res.s === "1" && (jQuery('#mc-name').val(data.name), jQuery('#mc-ent').val(data.ent),
                            jQuery('#mc-loc').val(data.loc), jQuery('#mc-bef').val(data.bef),
                            jQuery('#mc-jd').val(data.jd), jQuery('#mc-ta').val(data.cc)),
                            //Reset selection
                            JQuery('#TraineeId').val('')

                        //
                    })
                });
        </script>
        }
