﻿@using Microsoft.EntityFrameworkCore;

@inject IOptionsSnapshot<AppSettings> AppSettings
@inject ApplicationDbContext db
@{
    // title - The title of the page which appears in the browser window title. Aim for the title to be less than 70
    //         characters. The site name appears at the end for better SEO.
    ViewBag.Title = "Create Irregular Payment Voucher";
    // Description - Used by search engines. Aim for more than 160 characters.
    ViewBag.Description = "Create a new Irregular Payment Voucher";

    //
    var BaseCurrency = db.FCurrencies.Single(k => k.IsBase);
    //
    var InvoiceList = new List<SelectListItem>();

    //
    var LedgerList = new List<SelectListItem>();
    foreach (var f in db.FLedgers.ToList())
    {

        LedgerList.Add(new SelectListItem() { Text = f.Name, Value = f.Id + "" });
    }
    ////
    //var AccountList = new List<SelectListItem>();
    //foreach (var f in db.FinanceAccounts.Include(k => k.Parent).Where(k => k.Parent != null).ToList())//All child account
    //{

    //    AccountList.Add(new SelectListItem() { Text = f.Name, Value = f.Id + "" });
    //}
    //AccountList.Add(new SelectListItem() { Text = "None", Value = "0", Selected = true });
    //
    var SupplierList = new List<SelectListItem>();
    foreach (var f in db.FSuppliers.ToList())//All child account
    {

        SupplierList.Add(new SelectListItem() { Text = f.Name, Value = f.Id + "" });
    }
    //
    var SponsorList = new List<SelectListItem>();
    foreach (var f in db.FSponsors.ToList())//All child account
    {

        SponsorList.Add(new SelectListItem() { Text = f.Name, Value = f.Id + "" });
    }
    SponsorList.Add(new SelectListItem() { Text = "None", Value = "0", Selected = true });

    var grossAmt = 0.0;var tax = 0.0; var discount = 0.0;var ded = 0.0;

    foreach(var er in Model.UnpaidEarnings)
    {
        grossAmt +=  er.Payment.GrossAmount;
        discount += er.Payment.Discount;
        //
        foreach (var t in er.Payment.Taxes)
        {
            tax += Utils.ApplyTax(er.Payment.GrossAmount, t);
        }
        //
        foreach (var d in er.PayAccount.Deductions)
        {
            if(d.Type == DeductionType.PAYE)
            {
                ded += Utils.ApplyPAYE(db,er.Payment.GrossAmount);
            }else if (d.Type == DeductionType.NHIF)
            {

                ded += Utils.ApplyNHIF(db, er.Payment.GrossAmount);
            }else if (d.Type == DeductionType.AllowableDeduction) {

                ded += Utils.ApplyAllowableDeduction(db, er.Payment.GrossAmount);
            }
        }
    }
}
@model AddIrregularPVViewModel
@* Code in the head section below gets added at the bottom of the HTML head element. This section can be used to enter
    custom meta tags specific to this page. *@
@section head
    {
    @* Author - (Optional) Used by search engines. The author of the page. *@
    <meta name="author" content="ABNO Softwares Int.">
    @* Add Twitter Card social meta tags so we can customize what happens when our page is shared on Twitter. There are
        several different Twitter Card types we could add, a different one is added on each page as an example.
        These helpers make it very easy to add the meta tags. For best performance, see what tags are generated and
        hand-code them yourself instead of using these helpers. *@
    <twitter-card-summary-large-image username="@@ABNO">
        @* Add Open Graph social meta tags so we can customize what happens when our page is shared on Facebook, Google+,
            Pintrest and other social media websites. There are dozens of Open Graph types, a different one is added on
            each page as an example. These helpers make it very easy to add the meta tags. For best performance, see what
            tags are generated and hand-code them yourself instead of using these helpers. *@
        <open-graph-website site-name="@AppSettings.Value.SiteTitle"
                            title="@ViewBag.Title"
                            main-image="@(new OpenGraphImage(
                            Url.AbsoluteContent("~/img/icons/open-graph-1200x630.png"),
                            ContentType.Png,
                            1200,
                            630))"
                            determiner="Blank">
            @* referrer - Controls what is sent in the HTTP referrer header when a client navigates to an external site. *@
            <meta asp-referrer="OriginWhenCrossOrigin">

            <!-- page CSS -->
            <link href="~/lib/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
            <link href="~/lib/plugins/select2/dist/css/select2.min.css" rel="stylesheet" type="text/css" />
            <link href="~/lib/plugins/switchery/dist/switchery.min.css" rel="stylesheet" />
            <link href="~/lib/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
            <link href="~/lib/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.css" rel="stylesheet" />
            <link href="~/lib/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
            <link href="~/lib/plugins/multiselect/css/multi-select.css" rel="stylesheet" type="text/css" />
            <style>
                .gray-box {
                    border: solid thin #ccc;
                    border-radius: 4px 2px;
                    margin: 3px;
                    padding: 4px
                }
            </style>
}
<div class="container-fluid">

    <div class="card">
        <div class="card-body">
            <h3 class="card-title">@ViewBag.Title</h3>
            <h6 class="card-subtitle">Create a new irregular payment voucher</h6>
            <form asp-route="@PayrollControllerRoute.GetAddIrregularPaymentVoucher" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form p-t-20" role="form">
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="VoucherNo"></label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="ti-key"></i></div>
                        <input asp-for="VoucherNo" class="form-control" placeholder="~ Select A Ledger To Load ~" value="PV@(Model.VoucherNo)" readonly>
                    </div>
                    <span asp-validation-for="VoucherNo" class="text-danger"></span>
                </div>
                <div class="form-group" id="">
                    <label asp-for="Ledger" class=""></label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="ti-anchor"></i></div>
                        @Html.DropDownListFor(p => p.Ledger, LedgerList, "-- Select Ledger --", new { @class = "form-control" })
                    </div>
                    <span asp-validation-for="Ledger" class="text-danger"></span>
                </div>

                <label>Voucher Payables</label>
                <div class="gray-box">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs customtab" role="tablist">
                        <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#home2" role="tab"><span class="hidden-sm-up"><i class="ti-home"></i></span> <span class="hidden-xs-down">Payment Details </span></a> </li>
                        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile2" role="tab"><span class="hidden-sm-up"><i class="ti-user"></i></span> <span class="hidden-xs-down">Summary </span></a> </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content" style="min-height:160px;overflow-y:auto">
                        <div class="tab-pane active" id="home2" role="tabpanel">

                            <div>
                                <label>An Overview of the payments attached in this voucher</label>
                                <table class="table table-striped table-bordered" id="editable-datatable">
                                    <thead>
                                        <tr>
                                            <th>Payee Name</th>
                                            <th>Project</th>
                                            <th>Amount</th>
                                            <th>Pay Type</th>
                                            <th>Payee Type</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @if (Model.UnpaidEarnings.Count > 0)
            {
                foreach (var er in Model.UnpaidEarnings)
                {
                            <tr>
                                <td>@(er.Trainee?.FullName ?? er.Trainer?.FullName)</td>
                                <td>@er.Project.Name</td>
                                <td>@er.Payment.CurrencyUsed.Alias @er.Payment.GrossAmount.ToString("#,##0")</td>
                                <td>@er.PayAccount.PayType</td>
                                <td>@(er.Trainee != null?"NITA Beneficiary": er.Trainer != null ?"Master Craftman":"Not Specified")</td>
                            </tr>

}
}
                                    </tbody>
                                    @*<tfoot>
                                        <tr>
                                            <th>Payee Name</th>
                                            <th>Project</th>
                                            <th>Amount</th>
                                            <th>Pay Type</th>
                                            <th>Pay Type Acc. No</th>
                                        </tr>
                                    </tfoot>*@
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane  p-20" id="profile2" role="tabpanel">
                            <label>An overview of enclosed financial transactions </label>
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs customtab" role="tablist">
                                <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#h2" role="tab"><span class="hidden-sm-up"><i class="ti-home"></i></span> <span class="hidden-xs-down">Affected Projects Summary </span></a> </li>
                                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#p2" role="tab"><span class="hidden-sm-up"><i class="ti-user"></i></span> <span class="hidden-xs-down">Affected GL Accounts Summary </span></a> </li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content" style="min-height:160px;overflow-y:auto">
                                <div class="tab-pane active" id="h2" role="tabpanel">
                                    @*<label>Overview of included payment periods</label>*@

                                    <table class="table table-striped table-bordered" id="editable-datatable">
                                        <thead>
                                            <tr>
                                                <th>Project Name</th>
                                                <th>Project Decription</th>
                                                <th>Effective On</th>
                                                <th>End On</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @if (Model.UnpaidEarnings.Count > 0)
                    {
                        foreach (var er in Model.UnpaidEarnings)
                        {
                            <tr>
                                <td>@er.Project.Name</td>
                                <td>@er.Project.Description</td>
                                <td>@er.Project.EffectiveDate.ToString("dd MMM yyyy")</td>
                                <td>@er.Project.EndDate.ToString("dd MMM yyyy")</td>
                            </tr>

}
}
                                        </tbody>
                                        @*<tfoot>
                                            <tr>
                                                <th>Project Name</th>
                                                <th>Project Decription</th>
                                                <th>Effective On</th>
                                                <th>End On</th>
                                            </tr>
                                        </tfoot>*@
                                    </table>
                                </div>
                                <div class="tab-pane  p-20" id="p2" role="tabpanel">
                                    @*<label>Overview of affected general ledger accounts</label>*@
                                    <table class="table table-striped table-bordered" id="editable-datatable">
                                        <thead>
                                            <tr>
                                                <th>Account Name</th>
                                                <th>Account Type</th>
                                                <th>Pay Account</th>
                                                <th>Amount Charged</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @if (Model.UnpaidEarnings.Count > 0)
                    {
                        foreach (var er in Model.UnpaidEarnings)
                        {
                            <tr>
                                <td>@er.Payment.GLAccount.Name</td>
                                <td>@er.Payment.GLAccount.Type</td>
                                <td>@er.PayAccount.Code</td>
                                <td>@er.Payment.CurrencyUsed.Alias @er.Payment.GrossAmount.ToString("#,##0")</td>
                            </tr>

}
}
                                        </tbody>
                                        @*<tfoot>
                                            <tr>
                                                <th>Account Name</th>
                                                <th>Account Type</th>
                                                <th>Pay Account</th>
                                                <th>Amount Charged</th>
                                            </tr>
                                        </tfoot>*@
                                    </table>

                                </div>

                            </div>
                        </div>

                    </div>
                </div>
                <div id="reg-wrapper">
                    <hr />
                    <label>Taxes/Deductions</label>
                    <div class="row gray-box accs-wrapper">
                        <div class="form-group col-sm-6">
                            <label style="font-weight:bold">Taxes</label>
                            <ul id="p-taxes" class="gray-box">
                                <li style="text-align:center;list-style:none">No Applicable Taxes..</li>
                            </ul>
                        </div>
                        <div class="form-group  col-sm-6">
                            <label style="font-weight:bold;">Deductions</label>
                            <ul class="gray-box" id="p-deds">
                                @{
                    if (Model.UnpaidEarnings.Count > 0)
                    {
                        var list = new List<PayrollDeduction>();
                        foreach (var c in Model.UnpaidEarnings)
                        {
                            list.AddRange(c.PayAccount.Deductions);
                        }

                        if (list.Count > 0)
                        {
                            foreach (var x in list.Distinct())
                            {
                                <li style="list-style:disc">@x.Name (@list.Where(l => l.Name == x.Name) entries)</li>
            }

        }
        else
        {
                <li style="text-align:center;list-style:none">No Applicable Deductions..</li>
}
}
else
{
                <li style="text-align:center;list-style:none">No Applicable Deductions..</li>

}
                                }
                            </ul>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <label>Tax Amount</label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="">@BaseCurrency.Alias</i></div>
                                <input name="TaxAmount" id="TaxAmount" class="form-control" placeholder="Tax Amount" value="@tax.ToString("#,##0")" readonly>
                            </div>
                        </div>
                        <div class="form-group  col-sm-4">
                            <label>Deductions</label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="">@BaseCurrency.Alias</i></div>
                                <input name="Deductions" id="Deductions" class="form-control" placeholder="Deductions.." value="@ded.ToString("#,##0")" readonly>
                            </div>
                        </div>

                        <div class="form-group  col-sm-4">
                            <label>Fee Amount</label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="">@BaseCurrency.Alias</i></div>
                                <input name="FeeAmount" id="FeeAmount" class="form-control" placeholder="Fee Amount.." value="0.0" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <label asp-for="GrossAmount"></label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="">@BaseCurrency.Alias</i></div>
                                <input name="v-gross" id="v-gross" class="form-control" placeholder="Gross Amount.." value="@grossAmt.ToString("#,##0")" readonly>
                            </div>
                        </div>
                        <div class="form-group  col-sm-4">
                            <label asp-for="Discount"></label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="">@BaseCurrency.Alias</i></div>
                                <input name="Sup-Discount" id="Sup-Discount" class="form-control" placeholder="Discount(%).." value="@discount.ToString("#,##0")" readonly>
                            </div>
                        </div>
                        <div class="form-group  col-sm-4">
                            <label>Net Amount</label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="">@BaseCurrency.Alias</i></div>
                                <input name="NetAmount" id="NetAmount" class="form-control" placeholder="Net Amount.." value="@(((grossAmt-discount)-tax).ToString("#,##0"))" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="form-group">
                    <label asp-for="CheckNo"></label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="ti-key"></i></div>
                        <input asp-for="CheckNo" class="form-control" placeholder="Payment Cheque Number..">
                    </div>
                    <span asp-validation-for="CheckNo" class="text-danger"></span>
                </div>*@
                <hr />
                <div class="col-md-offset-5 col-md-10">
                    <button type="submit" class="btn btn-info waves-effect waves-ripple m-r-10">Submit</button>
                </div>
            </form>

        </div>
    </div>

</div>

@* Code in the scripts section below gets added at the bottom of the HTML body element, below other scripts. This
    section can be used to enter custom scripts specific to this page. *@
@section scripts
    {
    <!-- jQuery peity -->
    <script src="/lib/plugins/peity/jquery.peity.min.js"></script>
    <script src="/lib/plugins/peity/jquery.peity.init.js"></script>
    <!-- This page plugins -->
    <!-- ============================================================== -->
    <script src="~/lib/plugins/switchery/dist/switchery.min.js"></script>
    <script src="~/lib/plugins/select2/dist/js/select2.full.min.js" type="text/javascript"></script>
    <script src="~/lib/plugins/bootstrap-select/bootstrap-select.min.js" type="text/javascript"></script>
    <script src="~/lib/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
    <script src="~/lib/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/lib/plugins/multiselect/js/jquery.multi-select.js"></script>
    <script>
        jQuery(document).ready(function () {
            // Switchery
            var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));
            $('.js-switch').each(function () {
                new Switchery($(this)[0], $(this).data());
            });
            // For select 2
            $(".select2").select2();
            $('.selectpicker').selectpicker();
            //Bootstrap-TouchSpin
            $(".vertical-spin").TouchSpin({
                verticalbuttons: true,
                verticalupclass: 'ti-plus',
                verticaldownclass: 'ti-minus'
            });
            var vspinTrue = $(".vertical-spin").TouchSpin({
                verticalbuttons: true
            });
            if (vspinTrue) {
                $('.vertical-spin').prev('.bootstrap-touchspin-prefix').remove();
            }
            $("input[name='tch1']").TouchSpin({
                min: 0,
                max: 100,
                step: 0.1,
                decimals: 2,
                boostat: 5,
                maxboostedstep: 10,
                postfix: '%'
            });
            $("input[name='tch2']").TouchSpin({
                min: -1000000000,
                max: 1000000000,
                stepinterval: 50,
                maxboostedstep: 10000000,
                prefix: '$'
            });
            $("input[name='tch3']").TouchSpin();
            $("input[name='tch3_22']").TouchSpin({
                initval: 40
            });
            $("input[name='tch5']").TouchSpin({
                prefix: "pre",
                postfix: "post"
            });
            // For multiselect
            $('#pre-selected-options').multiSelect();
            $('#optgroup').multiSelect({
                selectableOptgroup: true
            });
            $('#public-methods').multiSelect();
            $('#select-all').click(function () {
                $('#public-methods').multiSelect('select_all');
                return false;
            });
            $('#deselect-all').click(function () {
                $('#public-methods').multiSelect('deselect_all');
                return false;
            });
            $('#refresh').on('click', function () {
                $('#public-methods').multiSelect('refresh');
                return false;
            });
            $('#add-option').on('click', function () {
                $('#public-methods').multiSelect('addOption', {
                    value: 42,
                    text: 'test 42',
                    index: 0
                });
                return false;
            });
            $(".ajax").select2({
                ajax: {
                    url: "https://api.github.com/search/repositories",
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        return {
                            q: params.term, // search term
                            page: params.page
                        };
                    },
                    processResults: function (data, params) {
                        // parse the results into the format expected by Select2
                        // since we are using custom formatting functions we do not need to
                        // alter the remote JSON data, except to indicate that infinite
                        // scrolling can be used
                        params.page = params.page || 1;
                        return {
                            results: data.items,
                            pagination: {
                                more: (params.page * 30) < data.total_count
                            }
                        };
                    },
                    cache: true
                },
                escapeMarkup: function (markup) {
                    return markup;
                }, // let our custom formatter work
                minimumInputLength: 1,
                templateResult: formatRepo, // omitted for brevity, see the source of this page
                templateSelection: formatRepoSelection // omitted for brevity, see the source of this page
            });
        });
    </script>
    <!-- ============================================================== -->
    <!-- Style switcher -->
    <!-- ============================================================== -->
    <script src="~/lib/plugins/styleswitcher/jQuery.style.switcher.js"></script>
    <!-- jQuery peity -->
    <script>
        typeof (NITA) === "undefined" && (NITA = {}, NITA.Invoices = []),
            jQuery.getJSON("/alltxs", function (res) {
                console && console.log(JSON.stringify(res));
                res.s === "1" && (NITA.Taxes = res.data)
            }),
            jQuery('#Supplier').on('change', function () {
                jQuery.getJSON("/sinvoices?sid=" + this.value, function (res) {
                    console && console.log(JSON.stringify(res))
                    var data = JSON.parse(res.data);
                    res.s === "1" && (jQuery('#Invoices').empty(), NITA.Invoices = [],
                        jQuery("#Invoices").append('<option value="0"> -- Select Invoice(s) -- </option>'),
                        jQuery.each(data, function (index, item) {
                            console && console.log("Invoice = "+JSON.stringify(item))
                            //
                            var amt = parseInt(item.amt);//.toFixed(2);
                            NITA.Invoices.push(item),
                                jQuery('#Invoices').append(jQuery('<option>', {
                                    value: item.id,
                                    text: "VIN" + ("0000" + item.ref).slice(5)
                                }));
                        }))

                    //
                })
            }),

            //
            jQuery("#Invoices").change(function () {
                var g = jQuery(this).val(), gross = 0.0, tax = 0.0;

                jQuery.each(g, function (i, j) {
                    jQuery.each(NITA.Invoices, function (index, item) {
                        console && console.log("Found " + NITA.Invoices.length + ", Invoice selected " + item.id + ", val = " + item.ref)
                        if (item.id === j) {
                            console && console.log("Matched for " + item.ref)
                            jQuery.each(item.pps, function (n,m) { 
                                gross += Number(m.amt);
                                tax += Number(m.tax);
                            })
                        }
                    });
                })
                console && console.log("Gross = " + gross)
                //gross = parseFloat(gross + "").toFixed(2);
                jQuery("#Sup-Gross").val(gross.toLocaleString(undefined, { maximumFractionDigits: 2 }))
                jQuery("#TaxAmount").val(tax.toLocaleString(undefined, { maximumFractionDigits: 2 }))
                jQuery("#NetAmount").val((gross - tax).toLocaleString(undefined, { maximumFractionDigits: 2 }))
            })
        //
        jQuery('#taxes').change(function () {
            calcNetAmount()
        })
        //
        jQuery('#GrossAmount').on('keyup', function () {
            calcNetAmount()
        })
        jQuery('#Discount').on('keyup', function () {
            calcNetAmount()
        })
        calcNetAmount = function () {
            console && console.log('Calc Net Amount...')
            //Tax
            var tax = 0.0, gross = jQuery('#GrossAmount').val(), disc = jQuery('#Discount').val(), g = jQuery('#taxes').val();
            //
            console && console.log('Gross = ' + gross + ", Disc. = " + disc + ", taxes = " + g);
            //
            jQuery.each(g, function (i, j) {
                jQuery.each(JSON.parse(NITA.Taxes), function (o, p) {
                    if (p.id === j) {
                        var d = (Number(gross - disc) * Number(parseFloat(p.rate) / 100));
                        //roundings
                        switch (p.rtyp) {
                            case '2'://down
                                d = Math.floor(d);
                                break;
                            case '1'://up
                                d = Math.ceil(d);
                                break;
                            default:
                                //
                                d = Number(parseFloat(d).toFixed(2));
                                break;
                        }
                        tax += d;
                    }
                })
            }),
                //
                jQuery('#TaxAmnt').val(tax),
                jQuery('#NetAmnt').val(gross - tax)
        }
    </script>
    <script type="text/javascript">
        $(function () {
            $(".preloader").fadeOut();
        });

    </script>
}
