﻿@using Microsoft.EntityFrameworkCore;

@inject IOptionsSnapshot<AppSettings> AppSettings
@inject ApplicationDbContext db
@{
    // title - The title of the page which appears in the browser window title. Aim for the title to be less than 70
    //         characters. The site name appears at the end for better SEO.
    ViewBag.Title = "Add Irregular Project Earning";
    // Description - Used by search engines. Aim for more than 160 characters.
    ViewBag.Description = "Create a new Irregular Project Earning";

    var BaseCurrency = db.FCurrencies.Single(p => p.IsBase);

    //
    var ProjectsList = new List<SelectListItem>();

    foreach (var f in db.PIrrPaymentProjects.ToList())
    {

        ProjectsList.Add(new SelectListItem() { Text = "" + f.Name, Value = f.Id + "" });
    }
    //
    var AccountsList = new List<SelectListItem>();

    foreach (var f in db.PPayAccounts.Include(l => l.Account).Where(l => l.AccountType == PayAccountType.Irregular).ToList())
    {

        AccountsList.Add(new SelectListItem() { Text = "" + f.Code, Value = f.Id + "" });
    }

    //
    var TraineeList = new List<SelectListItem>();

    foreach (var f in db.Trainees.ToList())
    {

        TraineeList.Add(new SelectListItem() { Text = "" + f.FullName, Value = f.Id + "" });
    }

    //
    var TrainerList = new List<SelectListItem>();

    foreach (var f in db.Trainers.ToList())
    {

        TrainerList.Add(new SelectListItem() { Text = "" + f.FullName, Value = f.Id + "" });
    }

    //
    var DurationUnitList = new List<SelectListItem>();

    DurationUnitList.Add(new SelectListItem() { Text = "" + DurationUnit.Day + "(s)", Value = "" + (int)DurationUnit.Day });
    DurationUnitList.Add(new SelectListItem() { Text = "" + DurationUnit.Month + "(s)", Value = "" + (int)DurationUnit.Month });
    DurationUnitList.Add(new SelectListItem() { Text = "" + DurationUnit.Week + "(s)", Value = "" + (int)DurationUnit.Week });
    DurationUnitList.Add(new SelectListItem() { Text = "" + DurationUnit.Year + "(s)", Value = "" + (int)DurationUnit.Year });


    //
    var DeptList = new List<SelectListItem>();

    foreach (var f in db.HrDepartments.ToList())
    {

        DeptList.Add(new SelectListItem() { Text = "" + f.Name, Value = f.Id + "" });
    }
}
@model AddIrregularEarningViewModel
@* Code in the head section below gets added at the bottom of the HTML head element. This section can be used to enter
    custom meta tags specific to this page. *@
@section head
    {
    @* Author - (Optional) Used by search engines. The author of the page. *@
    <meta name="author" content="ABNO Softwares Int.">
    @* Add Twitter Card social meta tags so we can customize what happens when our page is shared on Twitter. There are
        several different Twitter Card types we could add, a different one is added on each page as an example.
        These helpers make it very easy to add the meta tags. For best performance, see what tags are generated and
        hand-code them yourself instead of using these helpers. *@
    <twitter-card-summary-large-image username="@@ABNO">
        @* Add Open Graph social meta tags so we can customize what happens when our page is shared on Facebook, Google+,
            Pintrest and other social media websites. There are dozens of Open Graph types, a different one is added on
            each page as an example. These helpers make it very easy to add the meta tags. For best performance, see what
            tags are generated and hand-code them yourself instead of using these helpers. *@
        <open-graph-website site-name="@AppSettings.Value.SiteTitle"
                            title="@ViewBag.Title"
                            main-image="@(new OpenGraphImage(
                            Url.AbsoluteContent("~/img/icons/open-graph-1200x630.png"),
                            ContentType.Png,
                            1200,
                            630))"
                            determiner="Blank">
            @* referrer - Controls what is sent in the HTTP referrer header when a client navigates to an external site. *@
            <meta asp-referrer="OriginWhenCrossOrigin">

            <!-- page CSS -->
            <link href="~/lib/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
            <link href="~/lib/plugins/select2/dist/css/select2.min.css" rel="stylesheet" type="text/css" />
            <link href="~/lib/plugins/switchery/dist/switchery.min.css" rel="stylesheet" />
            <link href="~/lib/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
            <link href="~/lib/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.css" rel="stylesheet" />
            <link href="~/lib/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
            <link href="~/lib/plugins/multiselect/css/multi-select.css" rel="stylesheet" type="text/css" />
}
<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">@ViewBag.Title</h3>
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Payroll</a></li>
                <li class="breadcrumb-item">Create Irregular Project Earning</li>
            </ol>
        </div>
        <div>
            <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->

    <div class="row">
        <div class="col-lg-10">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">@ViewBag.Title</h4>
                    <h6 class="card-subtitle">Create a new irregular project earning scheme</h6>
                    <form asp-route="@PayrollControllerRoute.GetAddIrregularEarning" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form p-t-20" role="form">
                        <hr />
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group" id="parent-wrapper">
                            <label asp-for="ProjectId" class=""></label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-anchor"></i></div>
                                @Html.DropDownListFor(p => p.ProjectId, ProjectsList, "-- Select Irregular Payment Project --", new { @class = "select2 form-control custom-select", @style = "width: 100%; height:36px;" })
                                <span asp-validation-for="ProjectId" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-6 col-sm-12">
                                <label asp-for="AccountId" class=""></label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="ti-anchor"></i></div>
                                    @Html.DropDownListFor(p => p.AccountId, AccountsList, "-- Select Pay Account --", new { @class = "select2 form-control custom-select", @style = "width: 100%; height:36px;" })
                                    <span asp-validation-for="AccountId" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group col-md-6 col-sm-12" id="parent-wrapper">
                                <label asp-for="Dept" class=""></label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="ti-anchor"></i></div>
                                    @Html.DropDownListFor(p => p.Dept, DeptList, "-- Select Department --", new { @class = "select2 form-control custom-select", @style = "width: 100%; height:36px;" })
                                </div>
                                <span asp-validation-for="Dept" class="text-danger"></span>
                            </div>
                        </div>
                        <div>
                            <div class="gray-box">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs customtab" role="tablist">
                                    <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#home2" role="tab"><span class="hidden-sm-up"><i class="ti-home"></i></span> <span class="hidden-xs-down">Target A Beneficiary </span></a> </li>
                                    <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile2" role="tab"><span class="hidden-sm-up"><i class="ti-user"></i></span> <span class="hidden-xs-down">Target A Master Craftman </span></a> </li>
                                </ul>
                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div class="tab-pane p-20 active" id="home2" role="tabpanel">
                                        <div class="form-group">
                                            <label>Payable Amount</label>
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="">@(BaseCurrency.Alias ?? BaseCurrency.Code)</i></div>
                                                <input id="ben-amt" class="form-control" placeholder="Amount Payable" value="0.0" readonly>
                                            </div>
                                        </div>
                                        <div class="form-group" id="parent-wrapper">
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="ti-anchor"></i></div>
                                                @Html.DropDownListFor(p => p.TraineeId, TraineeList, "-- Select Beneficiary --", new { @class = "select2 form-control custom-select", @style = "width: 100%; height:36px;" })
                                                <span asp-validation-for="TraineeId" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <hr />
                                        @*Selected MC's Details*@
                                        <h3>Selected Beneficiary's Info.</h3>
                                        <br />
                                        <div class="row">
                                            <div class="form-group col-sm-6">
                                                <label>Full Name.</label>
                                                <div class="input-group">
                                                    <div class="input-group-addon"><i class="ti-key"></i></div>
                                                    <input class="form-control" id="ben-name" placeholder="Not Loaded." value="" readonly>
                                                </div>
                                            </div>
                                            <div class="form-group col-sm-6">
                                                <label>Program/Active Trade Area.</label>
                                                <div class="input-group">
                                                    <div class="input-group-addon"><i class="ti-key"></i></div>
                                                    <input class="form-control" id="ben-prog" placeholder="Not Loaded." value="" readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-sm-6">
                                                <label>Location</label>
                                                <div class="input-group">
                                                    <div class="input-group-addon"><i class="ti-key"></i></div>
                                                    <input class="form-control" id="ben-loc" placeholder="Not Loaded." value="" readonly>
                                                </div>
                                            </div>
                                            <div class="form-group col-sm-6">
                                                <label>Training Inst./MC Assigned</label>
                                                <div class="input-group">
                                                    <div class="input-group-addon"><i class="ti-key"></i></div>
                                                    <input class="form-control" id="ben-trainer" placeholder="Not Loaded." value="" readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-sm-6">
                                                <label>Date Created</label>
                                                <div class="input-group">
                                                    <div class="input-group-addon"><i class="ti-key"></i></div>
                                                    <input class="form-control" id="ben-jd" placeholder="Not Loaded." value="@DateTime.Now.ToString("yyyy-MM-dd")" type="date" readonly>
                                                </div>
                                            </div>
                                            <div class="form-group col-sm-6">
                                                <label>Current Cycle</label>
                                                <div class="input-group">
                                                    <div class="input-group-addon"><i class="ti-key"></i></div>
                                                    <input class="form-control" id="ben-cc" placeholder="Not Loaded." value="" readonly>
                                                </div>
                                            </div>
                                        </div>
                                        @* --- ---*@
                                    </div>


                                    <div class="tab-pane p-20" id="profile2" role="tabpanel">
                                        <div class="form-group">
                                            <label>Payable Amount</label>
                                            <div class="row">
                                                <div class="input-group">
                                                    <div class="input-group-addon"><i class="">@(BaseCurrency.Alias ?? BaseCurrency.Code)</i></div>
                                                    <input id="mc-amt" class="form-control" placeholder="Amount Payable" value="0.0" readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="ti-anchor"></i></div>
                                                @Html.DropDownListFor(p => p.TrainerId, TrainerList, "-- Select A Master Craftman --", new { @class = "select2 form-control custom-select", @style = "width: 100%; height:36px;" })
                                                <span asp-validation-for="TrainerId" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <hr />
                                        @*Selected MC's Details*@
                                        <h3>Selected MC's Info.</h3>
                                        <br />
                                        <div class="row">
                                            <div class="form-group col-sm-6">
                                                <label>Full Name.</label>
                                                <div class="input-group">
                                                    <div class="input-group-addon"><i class="ti-key"></i></div>
                                                    <input class="form-control" id="mc-name" placeholder="Not Loaded." value="" readonly>
                                                </div>
                                            </div>
                                            <div class="form-group col-sm-6">
                                                <label>Enterprise Name.</label>
                                                <div class="input-group">
                                                    <div class="input-group-addon"><i class="ti-key"></i></div>
                                                    <input class="form-control" id="mc-ent" placeholder="Not Loaded." value="" readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-sm-6">
                                                <label>Location</label>
                                                <div class="input-group">
                                                    <div class="input-group-addon"><i class="ti-key"></i></div>
                                                    <input class="form-control" id="mc-loc" placeholder="Not Loaded." value="" readonly>
                                                </div>
                                            </div>
                                            <div class="form-group col-sm-6">
                                                <label>Assigned Beneficiaries</label>
                                                <div class="input-group">
                                                    <div class="input-group-addon"><i class="ti-key"></i></div>
                                                    <input class="form-control" id="mc-bef" placeholder="Not Loaded." value="" readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-sm-6">
                                                <label>Create Date</label>
                                                <div class="input-group">
                                                    <div class="input-group-addon"><i class="ti-key"></i></div>
                                                    <input class="form-control" id="mc-jd" placeholder="Not Loaded." value="@DateTime.Now.ToString("yyyy-MM-dd")" type="date" readonly>
                                                </div>
                                            </div>
                                            <div class="form-group col-sm-6">
                                                <label>Active Trade Area(s)</label>
                                                <div class="input-group">
                                                    <div class="input-group-addon"><i class="ti-key"></i></div>
                                                    <input class="form-control" id="mc-ta" placeholder="Not Loaded." value="" readonly>
                                                </div>
                                            </div>
                                        </div>
                                        @* --- ---*@
                                    </div>

                                </div>


                            </div>
                        </div>
                        <br />
                        <div class="form-group col-sm-6">
                            <label asp-for="IsConsultancy"> </label>
                            <div class="form-group" style="margin-left:20px">
                                <div class="switch">
                                    <label>
                                        NO
                                        <input type="checkbox" asp-for="IsConsultancy"><span class="lever"></span>YES
                                    </label>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="col-md-offset-5 col-md-10">
                            <button type="submit" class="btn btn-info waves-effect waves-ripple m-r-10">Submit</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

</div>

@* Code in the scripts section below gets added at the bottom of the HTML body element, below other scripts. This
    section can be used to enter custom scripts specific to this page. *@
@section scripts
    {
    <!-- jQuery peity -->
    <script src="/lib/plugins/peity/jquery.peity.min.js"></script>
    <script src="/lib/plugins/peity/jquery.peity.init.js"></script>
    <!-- This page plugins -->
    <!-- ============================================================== -->
    <script src="~/lib/plugins/switchery/dist/switchery.min.js"></script>
    <script src="~/lib/plugins/select2/dist/js/select2.full.min.js" type="text/javascript"></script>
    <script src="~/lib/plugins/bootstrap-select/bootstrap-select.min.js" type="text/javascript"></script>
    <script src="~/lib/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
    <script src="~/lib/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/lib/plugins/multiselect/js/jquery.multi-select.js"></script>

    <script>
        // For select 2
        $(".select2").select2();
        $('.selectpicker').selectpicker();
    </script>

    <script type="text/javascript">
        $(function () {
            $(".preloader").fadeOut();
        });

    </script>

    <script>
        typeof (NITA.PayAccounts) === "undefined" && (NITA.PayAccounts = []),
            jQuery.getJSON('/paccs', function (res) {
                console && console.log(res)
                typeof (res.s) !== "undefined" && res.s === "1" && (NITA.PayAccounts = JSON.parse(res.data));
            }),
        jQuery('#ProjectId').on('change', function () {
            jQuery.getJSON("/projear?pid=" + this.value, function (res) {
                console && console.log(JSON.stringify(res))
                var data = JSON.parse(res.data);
                res.s === "1" && (jQuery('#ben-amt').val(data.amt), jQuery('#mc-amt').val(data.amt), checkBudget())
                //
            })
        }),
            jQuery('#Dept').on('change', function () {
                checkBudget()
            }),
            jQuery('#AccountId').on('change', function () {
                checkBudget()
            }),
            jQuery('#TraineeId').on('change', function () {
                jQuery.getJSON("/trprof?tid=" + this.value, function (res) {
                    console && console.log(JSON.stringify(res))
                    var data = JSON.parse(res.data);
                    res.s === "1" && (jQuery('#ben-name').val(data.name), jQuery('#ben-prog').val(data.prog),
                        jQuery('#ben-loc').val(data.loc), jQuery('#ben-trainer').val(data.trainer),
                        jQuery('#ben-jd').val(data.jd), jQuery('#ben-cc').val(data.cc))
                })
            }),
            jQuery('#TrainerId').on('change', function () {
                jQuery.getJSON("/mcprof?mid=" + this.value, function (res) {
                    console && console.log(JSON.stringify(res))
                    var data = JSON.parse(res.data);
                    res.s === "1" && (jQuery('#mc-name').val(data.name), jQuery('#mc-ent').val(data.ent),
                        jQuery('#mc-loc').val(data.loc), jQuery('#mc-bef').val(data.bef),
                        jQuery('#mc-jd').val(data.jd), jQuery('#mc-ta').val(data.cc))
                })
            }),
            checkBudget = function () {
            var aid = jQuery('#AccountId').val(), proj = jQuery('#ProjectId').val(), dept = jQuery('#Dept').val(), amt = jQuery('#ben-amt').val();
            aid && amt && dept && jQuery.each(NITA.PayAccounts, function (index, pacc) {
                jQuery.each(par.childs, function (i, pacc) {
                    alert('Found Pay Account ' + JSON.stringify(pacc))
                    aid === pacc.id && pacc.bitem === "1" && alert('Load Budget for GL Account '+pacc.name) && jQuery.getJSON("/deptbudget?did=" + dept + '&aid = ' + pacc.aid + '&pid=' + proj, function (res) {

                        alert('Received Budget = ' + JSON.stringify(res))
                        console && console.log(JSON.stringify(res))
                        var data = JSON.parse(res.data);
                        res.s === "1" && Number(data.bamt) > 0 ? ((Number(data.rem) < Number(amt)) && alert('There is no sufficient funds in the selected department to fund this earning.')) : (console && console.log("Selected GL Account does not have a budget allocation"),alert('No budget allocation has been made for this GL Account.'))
                        
                        //
                    })
                 })                
            })
                

            }
    </script>
}
