﻿@using Microsoft.EntityFrameworkCore;

@inject IOptionsSnapshot<AppSettings> AppSettings
@inject ApplicationDbContext db
@{
    // title - The title of the page which appears in the browser window title. Aim for the title to be less than 70
    //         characters. The site name appears at the end for better SEO.
    ViewBag.Title = "Add Irregular Payment Period";
    // Description - Used by search engines. Aim for more than 160 characters.
    ViewBag.Description = "Create a new Irregular Payment Period";

    var BaseCurrency = db.FCurrencies.Single(p => p.IsBase);
    //
    var CurrencyList = new List<SelectListItem>();

    foreach(var f in db.FCurrencies.ToList())
    {

        CurrencyList.Add(new SelectListItem() { Text = "" + f.Name, Value = f.Id + "" });
    }

    //
    var DurationUnitList = new List<SelectListItem>();

    DurationUnitList.Add(new SelectListItem() { Text = "" + DurationUnit.Day+"(s)", Value = "" + (int)DurationUnit.Day });
    DurationUnitList.Add(new SelectListItem() { Text = "" + DurationUnit.Month + "(s)", Value = "" + (int)DurationUnit.Month });
    DurationUnitList.Add(new SelectListItem() { Text = "" + DurationUnit.Week + "(s)", Value = "" + (int)DurationUnit.Week });
    DurationUnitList.Add(new SelectListItem() { Text = "" + DurationUnit.Year + "(s)", Value = "" + (int)DurationUnit.Year });
}
@model AddIrregularPaymentProjectViewModel
@* Code in the head section below gets added at the bottom of the HTML head element. This section can be used to enter
    custom meta tags specific to this page. *@
@section head
    {
    @* Author - (Optional) Used by search engines. The author of the page. *@
    <meta name="author" content="ABNO Softwares Int.">
    @* Add Twitter Card social meta tags so we can customize what happens when our page is shared on Twitter. There are
        several different Twitter Card types we could add, a different one is added on each page as an example.
        These helpers make it very easy to add the meta tags. For best performance, see what tags are generated and
        hand-code them yourself instead of using these helpers. *@
    <twitter-card-summary-large-image username="@@ABNO">
        @* Add Open Graph social meta tags so we can customize what happens when our page is shared on Facebook, Google+,
            Pintrest and other social media websites. There are dozens of Open Graph types, a different one is added on
            each page as an example. These helpers make it very easy to add the meta tags. For best performance, see what
            tags are generated and hand-code them yourself instead of using these helpers. *@
        <open-graph-website site-name="@AppSettings.Value.SiteTitle"
                            title="@ViewBag.Title"
                            main-image="@(new OpenGraphImage(
                            Url.AbsoluteContent("~/img/icons/open-graph-1200x630.png"),
                            ContentType.Png,
                            1200,
                            630))"
                            determiner="Blank">
            @* referrer - Controls what is sent in the HTTP referrer header when a client navigates to an external site. *@
            <meta asp-referrer="OriginWhenCrossOrigin">

            <!-- page CSS -->
            <link href="~/lib/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
            <link href="~/lib/plugins/select2/dist/css/select2.min.css" rel="stylesheet" type="text/css" />
            <link href="~/lib/plugins/switchery/dist/switchery.min.css" rel="stylesheet" />
            <link href="~/lib/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
            <link href="~/lib/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.css" rel="stylesheet" />
            <link href="~/lib/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
            <link href="~/lib/plugins/multiselect/css/multi-select.css" rel="stylesheet" type="text/css" />
        }
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-themecolor">@ViewBag.Title</h3>
                    </div>
                    <div class="col-md-7 align-self-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Payroll</a></li>
                            <li class="breadcrumb-item">Create Irregular Payment Period</li>
                        </ol>
                    </div>
                    <div>
                        <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->

                <div class="row">
                    <div class="col-lg-10">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">@ViewBag.Title</h4>
                                <h6 class="card-subtitle">Create a new irregular payment period</h6>
                                <form asp-route="@PayrollControllerRoute.GetAddIrregularPaymentProject" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form p-t-20" role="form">
                                    <hr />
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                    <div class="form-group">
                                        <label asp-for="Name"></label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="ti-key"></i></div>
                                            <input asp-for="Name" class="form-control" placeholder="Payment Period Name..">
                                        </div>
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Description"></label>
                                        <div class="input-group">
                                            <textarea asp-for="Description" class="form-control" placeholder="Period Decription.."></textarea>
                                        </div>
                                        <span asp-validation-for="Description" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Rate"></label>
                                        <div class="row">
                                            <div class="input-group col-md-3">
                                                <div class="input-group-addon"><i class="">@(BaseCurrency.Alias ?? BaseCurrency.Code)</i></div>
                                                <input asp-for="Rate" class="form-control" placeholder="Rate..E.G 100" value="0.0">
                                            </div>
                                            <div class="input-group col-md-3">
                                                <div class="input-group-addon"><i class="">for</i></div>
                                                <input asp-for="Duration" class="form-control" placeholder="Duration.." value="1">
                                            </div>
                                            <div class="input-group col-md-3">
                                                <div class="input-group-addon"><i class="ti-alarm-clock"></i></div>
                                                @Html.DropDownListFor(p => p.DurationUnit, DurationUnitList, "-- Select Unit --", new { @class = "form-control", @style = "width: 100%;" })
                                            </div>
                                            <div class="input-group col-md-3">
                                                <div class="input-group-addon"><i class="">=</i></div>
                                                <input id="amt-payable" class="form-control" placeholder="Calculated total amount..." value="0.0" readonly>
                                            </div>
                                            <div class="col-md-12" style="text-align:center;font-size:11px;margin-top:5px"><b>NOTE : </b> The total payble amount is derived as <code>Rate</code> <span class="fa fa-close">&nbsp;</span> <code>Duration</code> = <code>Total</code> E.G <code>$100 x 2 (Weeks) = $200</code></div>
                                        </div>
                                        <span asp-validation-for="Rate" class="text-danger"></span>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <label asp-for="EffectiveDate"></label>
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="ti-key"></i></div>
                                                <input asp-for="EffectiveDate" class="form-control" placeholder="" value="@DateTime.Now.ToString("yyyy-MM-dd")" type="date">
                                            </div>
                                            <span asp-validation-for="EndDate" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label asp-for="EndDate"></label>
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="ti-key"></i></div>
                                                <input asp-for="EndDate" class="form-control" placeholder="" value="@DateTime.Now.AddDays(1).ToString("yyyy-MM-dd")" type="date">
                                            </div>
                                            <span asp-validation-for="EndDate" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label asp-for="CloseDate"></label>
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="ti-key"></i></div>
                                                <input asp-for="CloseDate" class="form-control" placeholder="" value="@DateTime.Now.AddMonths(2).ToString("yyyy-MM-dd")" type="date">
                                            </div>
                                            <span asp-validation-for="CloseDate" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="form-group col-sm-6">
                                        <label asp-for="Taxable"> </label>
                                        <div class="form-group" style="margin-left:20px">
                                            <div class="switch">
                                                <label>
                                                    NO
                                                    <input type="checkbox" asp-for="Taxable"><span class="lever"></span>YES
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="col-md-offset-5 col-md-10">
                                        <button type="submit" class="btn btn-info waves-effect waves-ripple m-r-10">Submit</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

        @* Code in the scripts section below gets added at the bottom of the HTML body element, below other scripts. This
    section can be used to enter custom scripts specific to this page. *@
        @section scripts
        {
        <!-- jQuery peity -->
        <script src="/lib/plugins/peity/jquery.peity.min.js"></script>
        <script src="/lib/plugins/peity/jquery.peity.init.js"></script>
        <!-- jQuery peity -->

        <script type="text/javascript">
            $(function () {
                $(".preloader").fadeOut();
            });

        </script>
        <!-- This page plugins -->
        <!-- ============================================================== -->
        <script src="~/lib/plugins/switchery/dist/switchery.min.js"></script>
        <script src="~/lib/plugins/select2/dist/js/select2.full.min.js" type="text/javascript"></script>
        <script src="~/lib/plugins/bootstrap-select/bootstrap-select.min.js" type="text/javascript"></script>
        <script src="~/lib/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
        <script src="~/lib/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="~/lib/plugins/multiselect/js/jquery.multi-select.js"></script>

            <script>
                // For select 2
                $(".select2").select2();
                $('.selectpicker').selectpicker();
            </script>

            <script>
                jQuery('#Duration').keyup(function () {
                    var tt = Number(jQuery('#Rate').val() * Number(jQuery('#Duration').val()))
                    jQuery('#amt-payable').val(tt)
                })
                jQuery('#Rate').keyup(function () {
                    var tt = parseFloat(jQuery('#Rate').val()) * parseFloat(jQuery('#Duration').val())
                    jQuery('#amt-payable').val(tt)
                })
            </script>
        }
