﻿@using Microsoft.EntityFrameworkCore;

@inject IOptionsSnapshot<AppSettings> AppSettings
@inject ApplicationDbContext db
@{
    // title - The title of the page which appears in the browser window title. Aim for the title to be less than 70
    //         characters. The site name appears at the end for better SEO.
    ViewBag.Title = "Process Irregular Payments";
    // Description - Used by search engines. Aim for more than 160 characters.
    ViewBag.Description = "Process a new Irregular Earning";


    //
    var ProjectList = new List<SelectListItem>();

    foreach (var f in db.PIrrPaymentProjects.Where(k=>k.EndDate.CompareTo(DateTime.Now)<=0).ToList())
    {

        ProjectList.Add(new SelectListItem() { Text = "" + f.Name, Value = f.Id + "" });
    }

    var BaseCurrency = db.FCurrencies.Single(p => p.IsBase);
}
@model ProcessIrregularPaymentViewModel
@* Code in the head section below gets added at the bottom of the HTML head element. This section can be used to enter
    custom meta tags specific to this page. *@
@section head
    {
    @* Author - (Optional) Used by search engines. The author of the page. *@
    <meta name="author" content="ABNO Softwares Int.">
    @* Add Twitter Card social meta tags so we can customize what happens when our page is shared on Twitter. There are
        several different Twitter Card types we could add, a different one is added on each page as an example.
        These helpers make it very easy to add the meta tags. For best performance, see what tags are generated and
        hand-code them yourself instead of using these helpers. *@
    <twitter-card-summary-large-image username="@@ABNO">
        @* Add Open Graph social meta tags so we can customize what happens when our page is shared on Facebook, Google+,
            Pintrest and other social media websites. There are dozens of Open Graph types, a different one is added on
            each page as an example. These helpers make it very easy to add the meta tags. For best performance, see what
            tags are generated and hand-code them yourself instead of using these helpers. *@
        <open-graph-website site-name="@AppSettings.Value.SiteTitle"
                            title="@ViewBag.Title"
                            main-image="@(new OpenGraphImage(
                            Url.AbsoluteContent("~/img/icons/open-graph-1200x630.png"),
                            ContentType.Png,
                            1200,
                            630))"
                            determiner="Blank">
            @* referrer - Controls what is sent in the HTTP referrer header when a client navigates to an external site. *@
            <meta asp-referrer="OriginWhenCrossOrigin">

            <!-- Footable CSS -->
            <link href="~/lib/plugins/footable/css/footable.core.css" rel="stylesheet">
            <link href="~/lib/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
            <!-- Custom CSS -->
            <link href="~/lib/css/style.css" rel="stylesheet">
            <!-- page css -->
            <link href="~/lib/css/pages/footable-page.css" rel="stylesheet">
            <!-- You can change the theme colors from here -->
            <link href="~/lib/css/colors/default-dark.css" id="theme" rel="stylesheet">
}
<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">@ViewBag.Title</h3>
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Payroll</a></li>
                <li class="breadcrumb-item">Process Irregular Earning</li>
            </ol>
        </div>
        <div>
            <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Unpaid Beneficiary Earnigs</h4>
                    @*<h6 class="card-subtitle">Process a new Irregular Payment</h6>*@
                    <form asp-route="@PayrollControllerRoute.GetProcessIrregularPayment" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form p-t-20" role="form" id="earning-form">
                        <hr />
                        @*<h6 class="card-subtitle">Earnigs Details</h6>*@
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="ProjectId" class=""></label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-anchor"></i></div>
                                @if (Model.PendingEarnings.Count == 0)
            {
                    @Html.DropDownListFor(p => p.ProjectId, ProjectList, "-- Select A Project --", new { @class = "select2 form-control custom-select", @style = "width: 100%; height:36px;" })
}
else
{
                    <input type="text" class="form-control" placeholder="Project" value="@Model.PendingEarnings.First().Project.Name" readonly />
                    <input asp-for="ProjectId" type="hidden" class="form-control" placeholder="Project" value="@Model.PendingEarnings.First().ProjectId" readonly />
}
                            </div>
                            <span asp-validation-for="ProjectId" class="text-danger"></span>
                        </div>
                        @*<div class="form-group col-md-6 col-sm-12" id="parent-wrapper">
            <label class="">Account Pay Type</label>
            <div class="input-group">
                <div class="input-group-addon"><i class="ti-anchor"></i></div>
                <input id="p-typ" class="form-control" placeholder=" -- Pay Type -- " value="@Model.PayAccount?.Id" readonly>
            </div>
        </div>*@
                        <div class="card">
                            <div class="card-body">
                                @*<h4 class="card-title">Row Toggler</h4>*@
                                <h6 class="card-subtitle">An overview of all pending beneficiary Earning</h6>
                                <button type="button" class="btn btn-info waves-effect waves-ripple pull-right post-er" data-toggle="tooltip" data-original-title="Prepare a payment voucher for the selected earnings" data-target="@Url.RouteUrl(PayrollControllerRoute.GetAddIrregularEarning,new {})">Pay Selected Earning(s)</button>
                                <div class="demo-checkbox pull-left m-l-15" style="">
                                    <input type="checkbox" id="select-all" class="filled-in chk-col-light-blue select-all" />
                                    <label for="select-all" style="">Sellect All</label>
                                </div>
                                <div class="clearfix"></div>
                                <table class="table table-striped table-bordered" id="editable-datatable">
                                    <thead>
                                        <tr>
                                            <th class="text-center" style="">
                                                #
                                            </th>
                                            <th>Beneficiary Name</th>
                                            <th>Payment Period</th>
                                            <th>Amaount Payable</th>
                                            <th>GL Account</th>
                                            <th>Status</th>
                                            <th> Actions </th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @if (Model.PendingEarnings != null)
                    {
                        if (Model.PendingEarnings.Count > 0)
                        {
                            var found = 0;
                            foreach (var p in Model.PendingEarnings)
                            {
                                        <tr>
                                            <td class="text-center">
                                                <div class="demo-checkbox" style="width:32px;height:32px;">
                                                    <input type="checkbox" id="er-@p.Id" class="filled-in chk-col-light-blue er-chks" name="earnings" value="@p.Id" />
                                                    <label for="er-@p.Id" style="font-size:9px"></label>
                                                </div>
                                            </td>
                                            <td>@(p.Trainee?.FullName ?? p.Trainer?.FullName)</td>
                                            <td>@p.Project.Name</td>
                                            <td>@p.Payment.CurrencyUsed?.Alias @Utils.CalculatePayableAmount(p.Payment).ToString("#,##0")</td>
                                            <td>@p.Payment.GLAccount.Name</td>
                                            <td><span class="label label-table label-warning">Pending</span></td>
                                            <td class="text-nowrap">
                                                <a href="javascript:void(0)" data-toggle="tooltip" data-original-title="Process Earning"> <i class="fa fa-eye text-inverse m-r-10"></i> </a>
                                            </td>
                                        </tr>

        }
        if (found == 0)
        {
                    <tr>
                        <td colspan="7" style="text-align:center">Selected Project does not have unpaid Earnings...</td>
                    </tr>

}
}
else
{
                    <tr>
                        <td colspan="7" style="text-align:center">Selected Pay Account does not have any Earnings...</td>
                    </tr>
}

}
else
{
                    <tr>
                        <td colspan="7" style="text-align:center">No Pay Account selected...</td>
                    </tr>

}
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th class="text-center">
                                                #
                                            </th>
                                            <th>Beneficiary Name</th>
                                            <th>Payment Period</th>
                                            <th>Amaount Payable</th>
                                            <th>GL Account</th>
                                            <th>Status</th>
                                            <th> Actions </th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <hr />
                        <div class="pull-right">
                            <button type="button" class="btn btn-info waves-effect waves-ripple m-r-10 post-er" data-toggle="tooltip" data-original-title="Prepare a payment voucher for the selected earnings">Pay Selected Earning(s)</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

</div>

@* Code in the scripts section below gets added at the bottom of the HTML body element, below other scripts. This
    section can be used to enter custom scripts specific to this page. *@
@section scripts
    {
    <!-- jQuery peity -->
    <script src="/lib/plugins/peity/jquery.peity.min.js"></script>
    <script src="/lib/plugins/peity/jquery.peity.init.js"></script>
    <!-- jQuery peity -->

    <script type="text/javascript">
        $(function () {
            $(".preloader").fadeOut();
        });

    </script>
    <script>
        jQuery('body').on('change', '.select-all', function () {
            if (jQuery(this).is(':checked')) {
                jQuery('.er-chks').prop('checked', true)
            }
        }), jQuery('body').on('change', '.er-chks', function () {
            var all = true;
            jQuery.each(jQuery('.er-chks'), function (i, obj) {
                if (!jQuery(obj).is(':checked')) {
                    alert('Checked ' + all)
                    all = false;
                }
            }), all ? jQuery('.select-all').prop('checked', true) : jQuery('.select-all').prop('checked', false);
        }),
            jQuery('.post-er').click(function () {
                jQuery('#earning-form').submit();
            })
    </script>
    <!-- This page plugins -->
    <!-- ============================================================== -->
    <!-- Editable -->
    <script src="~/lib/plugins/jquery-datatables-editable/jquery.dataTables.js"></script>
    <script src="~/lib/plugins/datatables/dataTables.bootstrap.js"></script>
    <script src="~/lib/plugins/tiny-editable/mindmup-editabletable.js"></script>
    <script src="~/lib/plugins/tiny-editable/numeric-input-example.js"></script>
    <script>
        jQuery(document).ready(function () {
            jQuery('#editable-datatable').DataTable();
        });
    </script>
}
