/*@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';*/
@import url(/lib/plugins/bootstrap/css/bootstrap.min.css);
@font-face {
  font-family: Century Gothic;
  src: url("/fonts/Century Gothic.ttf"); }

@font-face {
  font-family: 'Century Gothic';
  font-weight: bold;
  src: url("/fonts/GOTHICB.ttf"); }

@font-face {
  font-family: 'Century Gothic';
  font-style: italic;
  src: url("/fonts/GOTHICI.ttf"); }

@font-face {
  font-family: 'Century Gothic';
  font-weight: bold;
  font-style: italic;
  src: url("/fonts/GOTHICBI.ttf"); }

body {
  font-family: 'Century Gothic', 'Arial Narrow', Arial, sans-serif !important; }

.strong {
  font-weight: bold; }

.body-content {
  padding-left: 15px;
  padding-right: 15px; }

.gray-box {
  border: solid thin #ccc;
  padding: 4px;
  margin: 4px;
  border-radius: 2px 3px; }

textarea {
  resize: vertical; }

.gray-box {
  border: solid thin #ccc;
  border-radius: 4px 2px;
  margin: 3px;
  padding: 4px; }

.ap-new, .ar-new {
  min-height: 160px; }

.accs-wrapper {
  background: #eee;
  padding: 2px;
  overflow-y: auto; }

.accs-wrapper > ul {
  margin-left: 0px;
  padding-left: 0; }

.accs-wrapper > ul > li {
  list-style: none;
  margin-top: 5px;
  border-radius: 4px 2px;
  border-bottom: solid thin #ccc;
  border-top: solid thin #ccc;
  box-shadow: 2px 0 2px #808080; }

.accs-wrapper > li :hover {
  font-weight: bold; }

.acc-row-cont {
  margin-top: 5px; }

/*# sourceMappingURL=site.css.map */
