﻿<div id="addProductToInvoice" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header btn-danger ">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-white">Products </h4>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="">


                        <div class="row">
                            <div class="col-sm-12 col-xs-12">
                                <div>
                                    Total Products Added : {{products.invoiceProducts.length}}
                                    | Amount : {{products.invoiceTotal.totalAmount.toLocaleString('en')}}.
                                    | Discount : {{products.invoiceTotal.totalDiscount.toLocaleString('en')}}
                                </div>
                                <form name="traineePlacement">
                                    <div class="form-group">

                                        <label for="CategoryID">Search Product<i ng-show="products.HTTPStatus" class="fa fa-spin fa-spinner"></i></label>
                                        <input type="text" class="form-control btn-sharp-corners" id="name"
                                               ng-model="products.searchProductInvoice"
                                               ng-change="products.getAllProducts(products.searchProductInvoice)"
                                               placeholder="Search Product">


                                        <table class="table" ng-init="products.showTradeAreas=false;selectedProvider=''">
                                            <tr>
                                                <td>Name</td>
                                                <td>QTY</td>
                                                <td>Discount</td>
                                                <td>Price</td>
                                                <td>VAT</td>
                                                <td>Total</td>
                                            </tr>

                                            <tr ng-repeat="product in products.productsList">
                                                <td>
                                                    {{product.productName}} ({{product.code}})
                                                </td>
                                                <td ng-init="product.quantity=1">
                                                    <input style="width: 100%" type="number" ng-model="product.quantity" placeholder="quantity"/>
                                                </td>
                                                <td ng-init="product.discount=0">
                                                    <input style="width: 100%" ng-disabled="!product.discountStatus"
                                                           type="number" ng-model="product.discount" placeholder="Discount"/>
                                                </td>
                                                <td >
                                                    <input style="width: 100%" type="number" ng-model="product.sellPrice" placeholder="Price"/>
                                                </td>
                                                <td ng-init="product.VAT = product.fTaxes">
                                                    {{product.fTaxes.name}} | {{product.fTaxes.rate}} %
                                                    <select ng-hide="true" style="width: 100%" class="form-control" ng-model="product.fTaxesId" placeholder="VAT">
                                                        <option selected disabled="">----</option>
                                                        <option ng-selected="product.fTaxesId==tax.id"
                                                                ng-repeat="tax in products.taxes" value="{{tax.id}}">
                                                            {{tax.name}}
                                                        </option>
                                                    </select>
                                                </td>
                                                <td>
                                                    {{((product.sellPrice*product.quantity)-product.discount).toLocaleString('en')}}
                                                </td>
                                                <td>
                                                    <button class="btn btn-sm btn-sharp-corners btn-info"
                                                            ng-click="products.saveInvoiceProduct(product)">
                                                        Add {{product.code}}
                                                    </button>

                                                </td>
                                            </tr>

                                        </table>

                                    </div>



                                    <button type="button" data-dismiss="modal"
                                            class="btn btn-info btn-sharp-corners">
                                        Close
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>