﻿<div id="addCustomer" class="modal fade" role="dialog"  data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header btn-primary">
                <button type="button" class="close" ng-click="products.CustomerFormData={}"
                        data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-white">Add Customer</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="">
                        <h3 class="box-title m-b-0">Add Customer</h3>

                        <div class="row">
                            <div class="col-sm-12 col-xs-12">
                                <form name="ProductForm"
                                      ng-submit="products.saveCustomer(products.CustomerFormData)">


                                    <div class=" row ">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="ProductName">Customer Name<b class="text-danger">*</b></label>
                                                <input type="text" class="form-control btn-sharp-corners" id="ProductName"
                                                       ng-model="products.CustomerFormData.CustomerName" required=""
                                                       placeholder="Customer Name">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="ProductDescription">Customer Code<b class="text-danger">*</b></label>
                                                <input type="text" class="form-control btn-sharp-corners" id="ProductDescription"
                                                       ng-model="products.CustomerFormData.CustomerCode" required=""
                                                       placeholder="Customer Unique Code">
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" row ">
                                        <div class="col-md-6">
                                            <div class="form-group" ng-init="products.getCustomerTypes()">
                                                <label for="ProductDescription">Customer Type<b class="text-danger">*</b></label>
                                                <select type="text" class="form-control btn-sharp-corners" id="ProductDescription"
                                                        ng-model="products.CustomerFormData.FCustomerTypeId" required=""
                                                        placeholder="Enter Trade Area Description">
                                                    <option selected="" disabled=""> --Select Customer Type-- </option>
                                                    <option value="{{type.id}}" ng-selected="type.id==products.CustomerFormData.FCustomerTypeId"
                                                            ng-repeat="type in products.CustomerTypesList">
                                                        {{type.name}}({{type.code}})
                                                    </option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="ProductDescription">Customer Email<b class="text-danger">*</b></label>
                                                <input type="email" class="form-control btn-sharp-corners" id="MarkUp"
                                                       ng-model="products.CustomerFormData.CustomerEmail" required=""
                                                       placeholder="Customer Email">
                                            </div>
                                        </div>
                                    </div>

                                    <div class=" row ">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="ProductDescription">Customer Mobile<b class="text-danger">*</b></label>
                                                <input type="tel" class="form-control btn-sharp-corners" id="ProductDescription"
                                                       ng-model="products.CustomerFormData.CustomerMobile" required=""
                                                       placeholder="Customer Mobile Number">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="ProductDescription">Customer Address<b class="text-danger">*</b></label>
                                                <input type="test" class="form-control btn-sharp-corners" id="ProductDescription"
                                                       ng-model="products.CustomerFormData.CustomerAddress" required=""
                                                       placeholder="Customer Address">
                                            </div>
                                        </div>

                                    </div>
                                    <div class=" row " ng-init="products.getAllCurrencies()">
                                        
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="ProductDescription">Trading Currency<b class="text-danger">*</b></label>
                                                <select class="form-control btn-sharp-corners" id="ProductDescription"
                                                        ng-model="products.CustomerFormData.FCurrencyId" required=""
                                                        placeholder="Trading currency">
                                                    <option selected disabled="">--Select Currency--</option>
                                                    <option value="{{currency.id}}" ng-repeat="currency in products.currencies">{{currency.name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="ProductDescription">Customer Reg Number<b class="text-danger">*</b></label>
                                                <input type="text" class="form-control btn-sharp-corners" id="ProductDescription"
                                                       ng-model="products.CustomerFormData.RegNo" required=""
                                                       placeholder="Customer Registration number">
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" row ">

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="ProductDescription">Customer Status<b class="text-danger">*</b></label>
                                               
                                                <div class="switch">
                                                    <label>
                                                        <input type="checkbox" ng-model="products.CustomerFormData.ActiveStatus" checked>
                                                        <span class="lever switch-col-light-green"></span>
                                                        <c ng-show="products.CustomerFormData.ActiveStatus">Active</c>
                                                        <c ng-show="!products.CustomerFormData.ActiveStatus">Inactive</c>
                                                    </label>
                                                </div>

                                            </div>
                                        </div>
                                       
                                    </div>
                                    
                                    

                                    <button type="submit" ng-disabled="ProductForm.$invalid" 
                                            class="btn btn-info btn-sharp-corners waves-effect waves-light m-r-10">
                                        Submit
                                    </button>
                                    

                                    <button type="button" class="btn btn-default btn-sharp-corners"
                                            ng-click="products.CustomerFormData={}"
                                            data-dismiss="modal">Cancel</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>