﻿<div>
    <div class="row">
        <div class="col-12">
            <div class="card btn-sharp-corners">

                <div class="">
                    <div class="card-body">
                        <h4 class="card-title">
                            Create Receipt
                        </h4>
                        <div class="text-right col-md-12">
                            <div class="text-right col-md-12">
                                Date : <b>16/15/2018</b>
                            </div>
                        </div>
                        <div class="col-md-12 ">
                            <form name="invoice">
                                <div class=" row ">
                                    <div class="col-md-6">
                                        <div class="form-group" ng-init="products.getAllCurrencies()">
                                            <label for="ProductName">Customer Reg No.<b class="text-danger">*</b></label>

                                            <div class="input-group">

                                                <input ng-model="products.currentCustomerCode" for="PassportNo"
                                                       ng-click="products.showCustomerModal()"
                                                       class="form-control btn-sharp-corners" id="PassportNo" placeholder="Customer Code" required>
                                                <a href="" class="input-group-addon btn-sharp-corners"
                                                   data-toggle="modal" data-target="#receiptCustomers">
                                                    <i class="fa fa-ellipsis-h"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="ProductName">Date Due<b class="text-danger">*</b></label>
                                            <input type="date" class="form-control btn-sharp-corners" id="ProductName"
                                                   ng-model="products.ReceiptFormData.DateDue" required=""
                                                   placeholder="Product Name">
                                        </div>
                                    </div>

                                </div>

                            </form>
                        </div>
                        <div class="col-md-12  bottom-bordered"></div>
                        <div class="table-responsive">

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Reference No. </th>
                                        <th>Amount</th>
                                        <th>Items</th>
                                        <th>Date Due</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="invoice in products.currentCustomerInvoices">
                                        <td>{{$index+1}}</td>
                                        <td>
                                            {{invoice.cI.invoiceNo}}
                                        </td>
                                        <td>
                                            {{invoice.totalAmount.toLocaleString('en')}}
                                        </td>
                                        <td>
                                            {{invoice.invoiceProducts.length}}
                                        </td>
                                        <td>
                                            {{invoice.cI.dateDue}}
                                        </td>

                                        @*                                        *@
                                        @*                                <tr>*@
                                        @*                                    <td colspan="4">*@
                                        @*                                        <p ng-repeat="product in invoice.invoiceProducts">*@
                                        @*                                            {{product.product.productName}}*@
                                        @*                                            {{product.quantity}}*@
                                        @*                                            {{product.productSellPrice}}*@
                                        @*                                        </p>*@
                                        @*                                    </td>*@
                                        @*                                    </tr>*@
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="4"></td>
                                        <td>
                                            Total Amount : {{products.invoiceTotal.totalAmount.toLocaleString('en')}}<br />
                                            Total VAT : {{products.invoiceTotal.totalTaxes.toLocaleString('en')}}<br />
                                            Total Discount : {{products.invoiceTotal.totalDiscount.toLocaleString('en')}}<br />
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>

                        <form name="invoice">
                            <div class=" row ">
                                <div class="col-md-12">
                                    <div class="form-group" ng-init="products.getGlAccounts()">
                                        <label for="ProductName">GL Account<b class="text-danger">*</b></label>

                                        <select type="text" class="form-control btn-sharp-corners" id="ProductName"
                                                ng-change="products.getPaymentAccounts(products.ReceiptFormData.glAccountId)"
                                                ng-model="products.ReceiptFormData.FinanceLedgerId" required="">
                                            <option disabled="">--Select GL Account--</option>
                                            <option value="{{glAccount.id}}" 
                                                    ng-repeat="glAccount in products.glAccounts">
                                                {{glAccount.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="ProductName">Select Pay Account<b class="text-danger">*</b></label>
                                        <select type="" class="form-control btn-sharp-corners" id="ProductName"
                                                ng-model="products.ReceiptFormData.glAccountPayAccount" required=""
                                                placeholder="Product Name">
                                            <option value="{{account.id}}" ng-repeat="account in products.glAccountPayAccounts">{{account.name}}</option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                            <div class=" row " ng-init="products.getInvoiceTerms()">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="ProductName">Payment Method<b class="text-danger">*</b></label>
                                        <select class="form-control btn-sharp-corners"
                                                ng-model="products.ReceiptFormData.PayMethod" required="">
                                            <option></option>

                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="ProductName">Reference Number<b class="text-danger">*</b></label>
                                        <input class="form-control btn-sharp-corners"
                                                ng-model="products.ReceiptFormData.TransactionNumber" required="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="ProductName">Description<b class="text-danger"></b></label>
                                        <textarea ng-model="products.ReceiptFormData.Terms" value="All payments should be done through cash"
                                                  class="form-control col-md-12 btn-sharp-corners" placeholder="Please type the term and conditions">

                                   </textarea>
                                    </div>
                                </div>
                            </div>
                            <div style="padding-top: 12px;">
                                
                                <button class="btn btn-default btn-sharp-corners"
                                        ng-click="products.currentPage='receipts'">
                                   Go Back
                                </button>
                                <button class="btn btn-info btn-sharp-corners"
                                        ng-disabled="products.invoiceProducts.length==0 || invoice.$invalid"
                                        ng-click="products.saveInvoiceProducts(products.ReceiptFormData)">
                                    Save
                                </button>
                            </div>
                        </form>

                    </div>

                </div>
            </div>

        </div>
    </div>

</div>