﻿<div id="addProduct" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header btn-primary">
                <button type="button" class="close" ng-click="products.ProductFormData={}"
                        data-dismiss="modal">
                    &times;
                </button>
                <h4 class="modal-title">Add Product</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="">
                        <h3 class="box-title m-b-0">Add Product</h3>

                        <div class="row">
                            <div class="col-sm-12 col-xs-12">
                                <form name="ProductForm"
                                      ng-submit="products.saveProduct(products.ProductFormData)">


                                    <div class=" row ">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="ProductName">Product Name<b class="text-danger">*</b></label>
                                                <input type="text" class="form-control btn-sharp-corners" id="ProductName"
                                                       ng-model="products.ProductFormData.ProductName" required=""
                                                       placeholder="Product Name">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="ProductDescription">Product Code<b class="text-danger">*</b></label>
                                                <input type="text" class="form-control btn-sharp-corners" id="ProductDescription"
                                                       ng-model="products.ProductFormData.Code" required=""
                                                       placeholder="Enter unique Product Code">
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" row ">
                                        <div class="col-md-6">
                                            <div class="form-group" ng-init="products.getFProductCategories()">
                                                <label for="ProductDescription">Product Category<b class="text-danger">*</b></label>
                                                <select type="text" class="form-control btn-sharp-corners" id="ProductDescription"
                                                        ng-model="products.ProductFormData.FProductCategoryId" required=""
                                                        placeholder="Enter Trade Area Description">
                                                    <option selected="" disabled=""> --Select Product Category-- </option>
                                                    <option value="{{category.id}}" ng-selected="category.id==products.ProductFormData.FProductCategoryId"
                                                            ng-repeat="category in products.fProductCategories">
                                                        {{category.name}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="ProductDescription">Mark Up(%)<b class="text-danger">*</b></label>
                                                <input type="number" class="form-control btn-sharp-corners" id="MarkUp"
                                                       ng-model="products.ProductFormData.MarkUp" required=""
                                                       placeholder="Enter selling price">
                                            </div>
                                        </div>
                                    </div>

                                    <div class=" row ">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="ProductDescription">Cost Price<b class="text-danger">*</b></label>
                                                <input type="number" class="form-control btn-sharp-corners" id="ProductDescription"
                                                       ng-model="products.ProductFormData.CostPrice" required=""
                                                       placeholder="Enter cost price">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="ProductDescription">Sell Price<b class="text-danger">*</b></label>
                                                <input type="number" class="form-control btn-sharp-corners" id="ProductDescription"
                                                       ng-model="products.ProductFormData.SellPrice" required=""
                                                       placeholder="Enter selling price">
                                            </div>
                                        </div>

                                    </div>
                                    <div class=" row ">

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="FTaxesId">VAT(If any)<b class="text-danger">*</b></label>

                                                <select class="form-control btn-sharp-corners" id="FTaxesId"
                                                        ng-model="products.ProductFormData.FTaxesId" required=""
                                                        placeholder="Enter Trade Area Description">
                                                    <option selected disabled="">--Select Tax--</option>
                                                    <option value="{{tax.id}}" ng-repeat="tax in products.taxes">{{tax.name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="ProductDescription">Is Product Discountable<b class="text-danger">*</b></label>

                                                <div class="switch">
                                                    <label>
                                                        <input type="checkbox" ng-model="products.ProductFormData.DiscountStatus" checked>
                                                        <span class="lever switch-col-light-green"></span>
                                                        <c ng-show="products.ProductFormData.DiscountStatus">Yes</c>
                                                        <c ng-show="!products.ProductFormData.DiscountStatus">No</c>
                                                    </label>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                    <button type="submit" ng-disabled="ProductForm.$invalid"
                                            class="btn btn-info btn-sharp-corners waves-effect waves-light m-r-10">
                                        Submit
                                    </button>


                                    <button type="button" class="btn btn-default btn-sharp-corners"
                                            ng-click="products.ProductFormData={}"
                                            data-dismiss="modal">
                                        Cancel
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>