﻿<div ng-if="products.currentPage=='createCustomerInvoice'">
    <div class="row">
        <div class="col-12">
            <div class="card btn-sharp-corners">

                <div class="">
                    <div class="card-body">
                        <h4 class="card-title">
                            Customer Invoice
                        </h4>
                        <div class="text-right col-md-12">
                            <div class="text-right col-md-12">
                                Date : <b>16/15/2018</b>
                            </div>
                        </div>
                        <div class="col-md-12 row">
                            <div class="col-md-6 text-capitalize no-padding-sides">
                                <h3 class="bottom-bordered">Details</h3>
                                <b>{{products.currentInvoiceCustomer.customerName}}</b><br/>
                                <b>{{products.currentInvoiceCustomer.customerAddress}},</b><br/>
                                <b>{{products.currentInvoiceCustomer.customerMobile}},</b><br/>
                                <b>{{products.currentInvoiceCustomer.customerEmail}}</b><br/>
                            </div>
                            <div class="col-md-6 text-right  text-capitalize  no-padding-sides">
                                <h3 class="bottom-bordered">Registration</h3>
                                <b>Customer Code : {{products.currentInvoiceCustomer.customerCode}}</b><br/>
                                <b>Reg NO : {{products.currentInvoiceCustomer.regNo}}</b><br/><br/>

                                <b>Invoice NO : ABD/12/18</b><br/>

                            </div>
                        </div>
                        <div class="col-md-12  bottom-bordered"></div>
                        <div class=" col-md-12">
                            <a href="" class="pull-right"
                               data-toggle="modal" data-target="#addProductToInvoice">
                                <i class="fa fa-plus"></i> Add Products
                            </a>
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Product Name </th>
                                    <th>Price</th>
                                    <th>Quantity</th>

                                    <th>Discount</th>
                                    <th>VAT</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="product in products.invoiceProducts">
                                    <td>{{$index+1}}</td>
                                    <td>
                                        {{product.productName}}
                                    </td>
                                    <td>
                                        {{product.sellPrice.toLocaleString('en')}}
                                    </td>
                                    <td>
                                        {{product.quantity}}
                                    </td>
                                    <td>
                                        {{product.discount.toLocaleString('en')}}
                                    </td>
                                    <td>
                                        {{product.VAT.name}}|{{product.VAT.rate}}%
                                    </td>
                                    <td>
                                        {{((product.sellPrice*product.quantity)-product.discount).toLocaleString('en')}}
                                    </td>
                                    <td>
                                        <a href="" ng-click="products.removeItems(product.id)">Remove</a>
                                    </td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="7"></td>
                                    <td>
                                        Total Amount : {{products.invoiceTotal.totalAmount.toLocaleString('en')}}<br />
                                        Total VAT : {{products.invoiceTotal.totalTaxes.toLocaleString('en')}}<br />
                                        Total Discount : {{products.invoiceTotal.totalDiscount.toLocaleString('en')}}<br />
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="bottom-bordered">
                            <h4>Terms</h4>

                        </div>
                        <form name="invoice" >
                            <div class=" row ">
                                <div class="col-md-6">
                                    <div class="form-group" ng-init="products.getAllCurrencies()">
                                        <label for="ProductName">Select Currency<b class="text-danger">*</b></label>
                                       
                                        <select type="text" class="form-control btn-sharp-corners" id="ProductName"
                                                ng-model="products.InvoiceFormData.FCurrencyId" required="">
                                            <option disabled="">--Select Currency--</option>
                                            <option value="{{currency.id}}"
                                                    ng-selected="products.currentInvoiceCustomer.fCurrencyId==currency.id"
                                                    ng-repeat="currency in products.currencies">
                                                {{currency.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="ProductName">Date Due<b class="text-danger">*</b></label>
                                        <input type="date" class="form-control btn-sharp-corners" id="ProductName"
                                               ng-model="products.InvoiceFormData.DateDue" required=""
                                               placeholder="Product Name">
                                    </div>
                                </div>

                            </div>
                            <div class=" row " ng-init="products.getInvoiceTerms()">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="ProductName">Recurrency<b class="text-danger">*</b></label>
                                        <select class="form-control btn-sharp-corners"
                                                ng-model="products.InvoiceFormData.Recurrency" required="">
                                            <option value="{{products.invoiceTerms.due_On_Receipt}}">due On Receipt</option>
                                            <option value="{{products.invoiceTerms.due_At_The_End_Of_Month}}">due At The End Of Month</option>
                                            <option value="{{products.invoiceTerms.due_In_30_Days}}">due In 30 Days</option>
                                            <option value="{{products.invoiceTerms.due_In_60_Days}}">due In 60 Days</option>
                                            <option value="{{products.invoiceTerms.due_On_Day_Of_Next_Month}}">due On Day Of Next Month</option>
                                           
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea ng-model="products.InvoiceFormData.Terms" value="All payments should be done through cash"
                                                  class="form-control col-md-12 btn-sharp-corners" placeholder="Please type the term and conditions">

                                   </textarea>
                                    </div>
                                </div>
                            </div>
                            <div style="padding-top: 12px;">
                                <button class="btn btn-default btn-sharp-corners"
                                        ng-click="products.currentPage='invoices'">
                                    Go To Invoices
                                </button>
                                <button class="btn btn-default btn-sharp-corners"
                                        ng-click="products.currentPage='customers'">
                                    Go To Customers
                                </button>
                                <button class="btn btn-info btn-sharp-corners" 
                                        ng-disabled="products.invoiceProducts.length==0 || invoice.$invalid"
                                        ng-click="products.saveInvoiceProducts(products.InvoiceFormData)">
                                    Save
                                </button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <div>
        @Html.Partial("_AddProductToInvoice");
    </div>
</div>