﻿<div ng-if="products.currentPage=='customers'">
    <div class="row">
        <div class="col-12">
            <div class="col-md-12 text-right btn-md no-padding-sides ">
                <button type="button" class="btn btn-info btn-sharp-corners sm-padding"
                        data-toggle="modal" data-target="#addCustomer">
                    Add Customer
                </button>
            </div>

            <div class="card btn-sharp-corners">

                <div class="">
                    <div class="card-body">
                        <h4 class="card-title">
                            Customers <i ng-show="products.HTTPStatus" class="fa fa-spin fa-spinner"></i>
                            <i>
                                <small class="extra-info">{{products.CustomersList.length}} records</small>
                            </i>
                        </h4>
                        @*                            <h6 class="card-subtitle">Add class <code>.table</code></h6>*@
                        <input class="form-control btn-sharp-corners btn-sharp-corners"
                               ng-change="products.getAllCustomers(products.searchCustomer)"
                               ng-model="products.searchCustomer"
                               placeholder="Search Customer" />
                        <div class="table-responsive" ng-init="products.getAllCustomers()">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Customer Category</th>
                                    <th>Customer Code</th>
                                    <th>Customer Name</th>

                                    <th>Customer Email</th>
                                    <th>Customer Phone</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="customer in products.CustomersList| filter : products.searchCustomer"
                                    ng-hide="customer.deleted==0"
                                    ng-init="customer.deleted=1">
                                    <td>{{$index+1}}</td>
                                    <td>

                                        <a href="">{{customer.fCustomerType.name}}</a>
                                    </td>
                                    <td>
                                        {{customer.customerCode}}
                                        <div ng-show="customer.activeStatus">(active)</div>
                                        <div ng-show="!customer.activeStatus">(Inactive)</div>
                                    </td>
                                    <td>{{customer.customerName}}</td>
                                    <td>{{customer.customerEmail}}</td>
                                    <td>{{customer.customerMobile}}</td>
                                    <td>

                                        <button class="btn btn-info btn-sharp-corners btn-xs"
                                                ng-click="products.fillCustomerEditInfo(customer)">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                        <button class="btn btn-danger btn-sharp-corners btn-xs"
                                                ng-click="products.deleteCustomer(customer)">
                                            <i class="fa fa-remove"></i>
                                        </button>
                                        <button ng-click="customer.activeStatus=!customer.activeStatus"
                                                class="btn btn-default btn-sharp-corners btn-xs">
                                            <i class="fa fa-unlock" ng-show="customer.activeStatus"></i>
                                            <i class="fa fa-lock" ng-show="!customer.activeStatus"></i>
                                        </button>
                                        <button class="btn btn-default btn-sharp-corners btn-xs"
                                                ng-click="products.pickCustomerForInvoice(customer);
                                                    products.currentPage='createCustomerInvoice'">
                                            invoice
                                        </button>


                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div>
        @Html.Partial("_AddCustomer")
    </div>

   
</div>
