﻿<div ng-if="products.currentPage=='invoices'">
    <div class="row">
        <div class="col-12">
            <div class="col-md-12 text-right btn-md no-padding-sides ">
                <button type="button" class="btn btn-info btn-sharp-corners sm-padding"
                        data-toggle="modal" data-target="#showCustomers">
                    Create Invoice
                </button>
            </div>

            <div class="card btn-sharp-corners">

                <div class="">
                    <div class="card-body">
                        <h4 class="card-title">
                            Invoices <i ng-show="products.HTTPStatus" class="fa fa-spin fa-spinner"></i>
                            <i>
                                <small class="extra-info">{{products.customerInvoicesList.length}} records</small>
                            </i>
                        </h4>
                        @*                            <h6 class="card-subtitle">Add class <code>.table</code></h6>*@
                        <input class="form-control btn-sharp-corners btn-sharp-corners"
                               ng-change="products.getAllCustomerInvoices(products.searchInvoices)"
                               ng-model="products.searchInvoices"
                               placeholder="Search Invoice" />
                        <div class="table-responsive" ng-init="products.getAllCustomerInvoices()">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Invoice Number </th>
                                    <th>Customer Name</th>
                                    <th>Customer Code</th>
                                    <th>Quantity</th>
                                    <th>Total Amount</th>
                                    <th>Total Paid</th>
                                    <th>Status</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="invoice in products.customerInvoicesList"
                                    ng-hide="invoice.deleted==0"
                                    ng-init="invoice.deleted=1">
                                    <td>{{$index+1}}</td>
                                    <td>
                                        <a href="">{{invoice.cI.invoiceNo}}</a>
                                    </td>

                                    <td>{{invoice.cI.customer.customerName}}</td>
                                    <td>{{invoice.cI.customer.customerCode}}</td>
                                    <td>
                                        <a href="" data-toggle="modal" data-target="#invoiceProducts"
                                           ng-click="products.currentInvoiceInfo(invoice)">{{invoice.cI.customerInvoiceProducts.length}} items</a>
                                    </td>
                                    <td>
                                        <a href="" ng-click="products.currentPage='viewInvoice';products.currentInvoiceInfo(invoice)">View Invoice</a>
                                    </td>
                                    <td>{{invoice.cI.totalPaid}}</td>
                                    <td>

                                        <button class="btn btn-info btn-sharp-corners btn-xs"
                                                ng-click="products.fillCustomerEditInfo(customer)">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                        <button class="btn btn-danger btn-sharp-corners btn-xs"
                                                ng-disabled="true"
                                                ng-click="products.deleteCustomer(customer)">
                                            <i class="fa fa-remove"></i>
                                        </button>
                                      
                                        <button class="btn btn-default btn-sharp-corners btn-xs"
                                                ng-click="products.pickCustomerForInvoice(customer);
                                                    products.currentPage='createCustomerInvoice'">
                                            Receipt
                                        </button>


                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div>
        @Html.Partial("_ShowCustomers")
    </div>
    <div>
        @Html.Partial("_InvoiceProducts")
    </div>

 
</div>
