﻿<div id="invoiceProducts" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header btn-danger ">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-white">Products {{products.currentInvoice.cI.invoiceNo}}</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="">


                        <div class="row">
                            <div class="col-sm-12 col-xs-12">
                                <div>
                                    Total Products Added : {{products.currentInvoice.cI.customerInvoiceProducts.length}}<i ng-show="products.HTTPStatus" class="fa fa-spin fa-spinner"></i>
@*                                    | Amount : {{products.currentInvoice.totalAmount}}*@

                                </div>
                              
                                    <div class="form-group">

                                        <input type="text" class="form-control btn-sharp-corners" id="name"
                                               ng-model="products.searchProductInvoice"
                                              
                                               placeholder="Search Product">


                                        <table class="table" >
                                            <tr>
                                                <td>Name</td>
                                                <td>QTY</td>
                                                <td>Discount</td>
                                                <td>Price</td>
                                                <td>VAT</td>
                                                <td>Total</td>
                                            </tr>

                                            <tr ng-repeat="product in products.currentInvoice.cI.customerInvoiceProducts">
                                                <td>
                                                    {{product.product.productName}} ({{product.product.code}})
                                                </td>
                                                <td>
                                                    {{product.quantity}}
                                                </td>
                                                <td>
                                                    {{product.discount}}
                                                </td>
                                                <td>
                                                    {{product.productSellPrice}}
                                                </td>
                                                <td>
                                                   
                                                </td>
                                                <td>
                                                    {{(product.productSellPrice*product.quantity)-product.discount}}
                                                </td>
                                                <td>
                                                    <button class="btn btn-sm btn-sharp-corners btn-danger"
                                                            ng-click="products.removeProductFromSavedInvoice(product)">
                                                        Remove {{product.code}}
                                                    </button>

                                                </td>
                                            </tr>

                                        </table>

                                    </div>



                                    <button type="button" data-dismiss="modal"
                                            class="btn btn-info btn-sharp-corners">
                                        Close
                                    </button>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>