﻿<div ng-if="products.currentPage=='receipts'">
<<<<<<< HEAD
    <div class="row" ng-init="products.receiptPage='receipts'">
        <+div class="col-12" >
=======
    <div class="row" ng-init="products.receiptPage='receipts'" ng-show="products.receiptPage=='receipts'" >
        <div class="col-12" >
>>>>>>> bb29540261fcc55104fe6c2e3fa6114c425a9380
            <div class="col-md-12 text-right btn-md no-padding-sides ">
                <button type="button" class="btn btn-info btn-sharp-corners sm-padding"
                        ng-click="products.receiptPage='addReceipt'"  >
                    Make Receipt
                </button>
            </div>

            <div class="card btn-sharp-corners">

                <div class="">
                    <div class="card-body">
                        <h4 class="card-title">
                            Receipts <i ng-show="products.HTTPStatus" class="fa fa-spin fa-spinner"></i>
                            <i>
                                <small class="extra-info">{{products.customerInvoicesList.length}} records</small>
                            </i>
                        </h4>
                        @*                            <h6 class="card-subtitle">Add class <code>.table</code></h6>*@
                        <input class="form-control btn-sharp-corners btn-sharp-corners"
                               ng-change="products.getAllInvoicePayments(products.searchInvoicePayments)"
                               ng-model="products.searchInvoicePayments"
<<<<<<< HEAD
                               placeholder="Search Invoice" />
=======
                               placeholder="Search Receipts" />
>>>>>>> bb29540261fcc55104fe6c2e3fa6114c425a9380
                        <div class="table-responsive" ng-init="products.getAllInvoicePayments()">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Receipt Number </th>
                                        <th>Customer Name</th>
                                        <th>Invoice Number</th>
                                        <th>Amount</th>
                                        <th>Date</th>
                                        <th>Status</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="invoice in products.invoicesPayments"
                                        ng-hide="invoice.deleted==0"
                                        ng-init="invoice.deleted=1">
                                        <td>{{$index+1}}</td>
                                        <td>
                                            <a href="">{{invoice.cI.invoiceNo}}</a>
                                        </td>

                                        <td>{{invoice.cI.customer.customerName}}</td>
                                        <td>{{invoice.cI.customer.customerCode}}</td>
                                        <td>
                                            <a href="" data-toggle="modal" data-target="#invoiceProducts"
                                               ng-click="products.currentInvoiceInfo(invoice)">{{invoice.cI.customerInvoiceProducts.length}}items</a>
                                        </td>
                                        <td>
                                            <a href="" ng-click="products.currentPage='viewInvoice';products.currentInvoiceInfo(invoice)">View Invoice</a>
                                        </td>
                                        <td>{{invoice.cI.totalPaid}}</td>
                                        <td>

                                            <button class="btn btn-info btn-sharp-corners btn-xs"
                                                    ng-click="products.fillCustomerEditInfo(customer)">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                            <button class="btn btn-danger btn-sharp-corners btn-xs"
                                                    ng-disabled="true"
                                                    ng-click="products.deleteCustomer(customer)">
                                                <i class="fa fa-remove"></i>
                                            </button>
<<<<<<< HEAD

                                            <button class="btn btn-default btn-sharp-corners btn-xs"
                                                    ng-click="products.pickCustomerForInvoice(customer);
                                                    products.currentPage='createCustomerInvoice'">
                                                Receipt
                                            </button>

=======

                                            <button class="btn btn-default btn-sharp-corners btn-xs"
                                                    ng-click="products.pickCustomerForInvoice(customer);
                                                    products.currentPage='createCustomerInvoice'">
                                                Receipt
                                            </button>

>>>>>>> bb29540261fcc55104fe6c2e3fa6114c425a9380

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

<<<<<<< HEAD
        </+div>
    </div>
    
=======
        </div>
    </div>
    
    <div ng-show="products.receiptPage=='addReceipt'">
        <div>
            @Html.Partial("_AddReceipt")
        </div>
        <div>
            @Html.Partial("_ShowReceiptCustomers");
        </div>
    </div>
>>>>>>> bb29540261fcc55104fe6c2e3fa6114c425a9380
</div>
