﻿<div id="receiptCustomers" class="modal fade" role="dialog"  data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header btn-primary">
                <button type="button" class="close" ng-click="products.ProductFormData={}"
                        data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Pick Customer</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="">
                        <h3 class="box-title m-b-0">Pick Customer</h3>

                        <div class="row">
                            <div class="col-sm-12 col-xs-12">
                                <input class="form-control btn-sharp-corners btn-sharp-corners"
                                       ng-change="products.getAllCustomers(products.searchCustomer)"
                                       ng-model="products.searchCustomer"
                                       placeholder="Search Customer" />
                                <div class="table-responsive" ng-init="products.getAllCustomers()">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Customer Category</th>
                                                <th>Customer Code</th>
                                                <th>Customer Name</th>

                                               
                                                <th>Customer Phone</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="customer in products.CustomersList|limitTo:10"
                                                ng-hide="customer.deleted==0" ng-dblclick="products.pickCustomerForReceipt(customer)"
                                                ng-init="customer.deleted=1">
                                                <td>{{$index+1}}</td>
                                                <td>

                                                    <a href="">{{customer.fCustomerType.name}}</a>
                                                </td>
                                                <td>
                                                    {{customer.customerCode}}
                                                    <div ng-show="customer.activeStatus">(active)</div>
                                                    <div ng-show="!customer.activeStatus">(Inactive)</div>
                                                </td>
                                                <td>{{customer.customerName}}</td>
                                                <td>{{customer.customerMobile}}</td>
                                                <td>

                                                    
                                                    <button class="btn btn-default btn-sharp-corners btn-xs"  data-dismiss="modal"
                                                            ng-click="products.pickCustomerForReceipt(customer)">
                                                       Make Receipts
                                                    </button>


                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>