﻿<div ng-if="products.currentPage=='viewInvoice'">
    <div class="row">
        <div class="col-12">
            <div class="card btn-sharp-corners">

                <div class="">
                    <div class="card-body printableArea" id="printInvoiceHtml" style="position: relative; min-height: 800px;">
                        <div>
                            @Html.Partial("_PrintHeader")
                        </div>
                        <h4 class="card-title text-center bottom-bordered" style="border-bottom: 2px solid black;">
                            <strong>
                                <b>Customer Invoice</b>
                            </strong>
                        </h4>
                        <div class="text-right col-md-12">

                        </div>
                        <div class="col-md-12 row">
                            <div class="pull-right text-capitalize no-padding-sides text-left" style="width: 50%;">
                                <strong>
                                    <b>{{products.currentInvoice.cI.customer.customerName}}</b>
                                </strong><br/>
                                {{products.currentInvoice.cI.customer.customerCode}}<br/>
                                {{products.currentInvoice.cI.customer.customerAddress}}<br/>
                                {{products.currentInvoice.cI.customer.customerEmail}},<br/>
                                {{products.currentInvoice.cI.customer.customerMobile}}<br/>
                            </div>
                            <div class="pull-right text-capitalize text-right no-padding-sides" style="width: 50%;">

                                @*                                <b>Customer Code : {{products.currentInvoiceCustomer.customerCode}}</b><br/>*@
                                @*                                <b>Reg NO : {{products.currentInvoiceCustomer.regNo}}</b><br/><br/>*@

                                <strong>
                                    <b>Invoice NO :{{products.currentInvoice.cI.invoiceNo}}</b>
                                </strong><br/>
                                <strong>
                                    <b>ACC. BALANCE :</b>
                                </strong> {{products.currentInvoice.cI.paidAmount}}<br/>
                                <strong>
                                    <b>Terms :</b>
                                </strong> {{products.currentInvoice.cI.recurrency}}<br/>
                                <b>Due Date :</b> {{products.currentInvoice.cI.dateDue}}<br/>

                            </div>
                        </div>
                        <div class="col-md-12  bottom-bordered"></div>

                        <div class="table-responsive">
                            <table class="table-condensed col-md-12">
                                <thead>
                                <tr class="" style="border: 1px solid black;">
                                    <th>#</th>
                                    <th>Product Name </th>
                                    <th>Unit Price</th>
                                    <th>Quantity</th>

                                    <th>Discount</th>
                                    <th>VAT</th>
                                    <th>Total</th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr style="margin-bottom: 6px !important; margin-top: 6px !important; border-bottom: 1px solid black;"

                                    ng-repeat="product in products.currentInvoice.cI.customerInvoiceProducts">
                                    <td>{{$index+1}}</td>
                                    <td>
                                        {{product.product.productName}}
                                    </td>
                                    <td>
                                        {{product.productSellPrice.toLocaleString('en')}}
                                    </td>
                                    <td>
                                        {{product.quantity}}
                                    </td>
                                    <td>
                                        {{product.discount.toLocaleString('en')}}
                                    </td>
                                    <td>
                                        {{product.financeTax.name}}|{{product.financeTax.rate}}%
                                    </td>
                                    <td>
                                        {{((product.productSellPrice*product.quantity)-product.discount).toLocaleString('en')}}
                                    </td>

                                </tr>
                                </tbody>
                                <tfoot>
                                <tr style="border-top: 2px solid black;">
                                    <td colspan="6"></td>
                                    <td style="border-bottom: 2px solid black;" ng-init="products.returnSumCurrentSum(products.currentInvoice.cI.customerInvoiceProducts)">
                                        Total Amount : {{products.invoiceTotal.totalAmount.toLocaleString('en')}}<br/>
                                        Total VAT : {{products.invoiceTotal.totalTaxes.toLocaleString('en')}}<br/>
                                        Total Discount : {{products.invoiceTotal.totalDiscount.toLocaleString('en')}}<br/>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="bottom-bordered " style="position: absolute; bottom: 0; right: 0; left: 0;">
                            <div style="border: 1px solid black; padding: 5px; ">
<<<<<<< HEAD
                                <h4>Other Descriptions</h4>
=======
                                <h6>Other Descriptions</h6>
>>>>>>> bb29540261fcc55104fe6c2e3fa6114c425a9380
                                <p class="">
                                    {{products.currentInvoice.cI.terms}}
                                </p>
                            </div>
                        </div>


                    </div>
                    <div class="col-md-12" style="padding-top: 12px; padding-bottom: 12px;">
                        <button class="btn btn-default btn-sharp-corners"
                                ng-click="products.currentPage='invoices'">
                            Go To Invoices
                        </button>
                        <button class="btn btn-default btn-sharp-corners"
                                ng-click="products.currentPage='customers'">
                            Go To Customers
                        </button>
                        <button class="btn btn-info btn-sharp-corners pull-right"
                                ng-click="products.printHtmlArea('printInvoiceHtml')"
                                id="print">
                            <i class="fa fa-print"></i> Print
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script>
        jQuery(document).ready(function() {
            jQuery("#print").click(function() {
                alert('yes')
                var mode = 'iframe'; //popup
                var close = mode == "popup";
                var options = {
                    mode: mode,
                    popClose: close,
                    popHt: 500, // popup window height
                    popWd: 400, // popup window width
                };
                jQuery("div.printableArea").printArea(options);
            });
        });
    </script>
</div>