﻿<link href="~/lib/css/custome-css/custome-css.css" rel="stylesheet"/>
<script src="~/CurriculumJs/angular.js"></script>
<script src="~/CurriculumJs/angular-route.js"></script>
<script src="~/CurriculumJs/AngularController/products.js"></script>

<script src="~/CurriculumJs/izitoast/iziToast.min.js"></script>
<link href="~/lib/css/iziToast.css" rel="stylesheet"/>
<script src="~/CurriculumJs/Services/services.js"></script>


<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div ng-app="App" ng-cloak="">

    <div class="container-fluid" ng-controller="ProductsController">
        <div class="row page-titles col-md-12 bottom-bordered"
             ng-init="products.getCourseCategories()">


            <div class="col-md-5 align-self-center">
                <h3 class="text-themecolor">Receivables Products</h3>
            </div>
            <div class="col-md-7 text-right" style="padding-right: 0px" ng-init="productsshowAddCategory=false">


                <div class="btn-group ml-auto m-t-10" ng-init="menuLabel='Products Menu'">
                    <a href="JavaScript:void(0)" class="btn-sharp-corners btn btn-primary dropdown-toggle" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        {{menuLabel}}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" x-placement="top-end" style="position: absolute; transform: translate3d(-184px, -197px, 0px); top: 0px; left: 0px; will-change: transform;">
                        <a class="dropdown-item" ng-click="products.currentPage='products';menuLabel='Products'" href="javascript:void(0)">
                            Products
                        </a>
                        <a class="dropdown-item" ng-click="products.currentPage='customers';menuLabel='Customers'" href="javascript:void(0)">Customers</a>
                        <a class="dropdown-item" ng-click="products.currentPage='invoices';menuLabel='Invoices'" href="javascript:void(0)">Invoices</a>
                        <a class="dropdown-item" ng-click="products.currentPage='receipts';menuLabel='Receipts'" href="javascript:void(0)">Receipts</a>
                    </div>
                </div>

            </div>
            <div class="">
                <button class="right-side-toggle waves-effect waves-light btn-inverse
                        btn btn-circle btn-sm pull-right m-l-10">
                    <i class="ti-settings text-white"></i>
                </button>
            </div>
        </div>
        <div ng-show="products.currentPage=='products'">
            <div class="row">
                <div class="col-12">
                    <div class="col-md-12 text-right btn-md no-padding-sides ">
                        <button type="button" class="btn btn-info btn-sharp-corners sm-padding"
                                data-toggle="modal" data-target="#addProduct">
                            Add product
                        </button>
                    </div>

                    <div class="card btn-sharp-corners">

                        <div class="">
                            <div class="card-body">
                                <h4 class="card-title">
                                    Products <i ng-show="products.HTTPStatus" class="fa fa-spin fa-spinner"></i>
                                    <i>
                                        <small class="extra-info">{{products.productsList.length}} records</small>
                                    </i>
                                </h4>
                                @*                            <h6 class="card-subtitle">Add class <code>.table</code></h6>*@
                                <input class="form-control btn-sharp-corners btn-sharp-corners"
                                       ng-change="products.getAllProducts(products.searchProduct)"
                                       ng-model="products.searchProduct"
                                       placeholder="Search Product"/>
                                <div class="table-responsive" ng-init="products.getAllProducts()">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Product Category</th>
                                            <th>Product Code</th>
                                            <th>Product Name</th>

                                            <th>Cost Price</th>
                                            <th>Sell Price</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="product in products.productsList| filter : products.searchProduct"
                                            ng-hide="product.deleted==0"
                                            ng-init="product.deleted=1">
                                            <td>{{$index+1}}</td>
                                            <td>

                                                <a href="">{{product.fProductCategory.name}}</a>
                                            </td>
                                            <td>{{product.code}}</td>
                                            <td>{{product.productName}}</td>
                                            <td>{{product.sellPrice}}</td>
                                            <td>{{product.costPrice}}</td>
                                            <td>

                                                <button class="btn btn-info btn-sharp-corners btn-xs"
                                                        ng-click="products.fillProductEditInfo(product)">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                                <button class="btn btn-danger btn-sharp-corners btn-xs"
                                                        ng-click="products.deleteProduct(product)">
                                                    <i class="fa fa-remove"></i>
                                                </button>
                                                <button class="btn btn-default btn-sharp-corners btn-xs">
                                                    <i class="fa fa-unlock"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


        </div>


        <div >

            @Html.Partial("_AddProduct")
        </div>
        <div ng-show="products.currentPage=='customers'">

            @Html.Partial("_customers")
        </div>
        <div ng-show="products.currentPage=='invoices'">

            @Html.Partial("_invoices")
        </div>
        <div ng-show="products.currentPage=='receipts'">

            @Html.Partial("_receipts")
        </div>
        <div>
            @Html.Partial("_CreateCustomerInvoice")
        </div>
        <div>
            @Html.Partial("_ViewInvoice")
        </div>
    </div>

</div>
<script src="~/js/jquery.js"></script>
<script src="~/lib/js/jquery.PrintArea.js" type="text/JavaScript"></script>

