﻿@model LoginWith2faViewModel
@{
    ViewData["Title"] = "Two-factor authentication";
}

<h2>@ViewData["Title"]</h2>
<hr />
<p>Your login is protected with an authenticator app. Enter your authenticator code below.</p>
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-route-returnUrl="@ViewData["ReturnUrl"]">
            <input asp-for="RememberMe" type="hidden" />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TwoFactorCode"></label>
                <input asp-for="TwoFactorCode" class="form-control" autocomplete="off" />
                <span asp-validation-for="TwoFactorCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="RememberMachine">
                        <input asp-for="RememberMachine" />
                        @Html.DisplayNameFor(m => m.RememberMachine)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">Log in</button>
            </div>
        </form>
    </div>
</div>
<p>
    Don't have access to your authenticator device? You can
    <a asp-action="LoginWithRecoveryCode" asp-route-returnUrl="@ViewData["ReturnUrl"]">log in with a recovery code</a>.
</p>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

<hr />
<label>Payables</label>
<div>
    <div class="form-group gray-box">
        <div class="accs-wrapper">
            <ul style="" class="ar-new" id="imprest-payables">
                <li style="margin-top:5px" id="">
                    <div class="row acc-row-cont">
                        <div class="input-group col-sm-4" data-toggle="tooltip" data-original-title="Select An Asset GL Account">
                            <select class="select2 form-control custom-select imprest-acc" data-placeholder="-- Select An Asset GL Account --">
                                <optgroup label="🏠 Asset Accounts" style="font-weight:bold">
                                    <optgroup label="⤵  Test Label">
                                        <option value="">    ↪ Test Value</option>
                                    </optgroup>
                                </optgroup>
                            </select>
                        </div>
                        <div class="input-group col-sm-4" data-toggle="tooltip" data-original-title="Select An Department">
                            <select class="select2 form-control custom-select imprest-dept" data-placeholder="-- Select A Department --">
                                <option value="">  Test Department</option>
                            </select>
                        </div>
                        <div class="input-group col-sm-3">
                            <div class="input-group" data-toggle="tooltip" data-original-title="Enter amount for this GL Account">
                                <div class="input-group-addon" style="height:28px"><i class="">@*@BaseCurrency.Alias*@</i></div>
                                <input name="imprest-amt" id="imprest-amt" class="form-control" placeholder="Amount" value="0.0" style="height:28px">
                            </div>
                        </div>
                        <div class="input-group col-sm-3">
                            <select class="select2 form-control custom-select ar-acc" data-placeholder="-- Payee --">
                                <option value=""> Test Staff</option>
                            </select>
                        </div>
                        <div class="input-group col-sm-3">
                            <div class="form-check bd-example-indeterminate">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input ar-chks" name="ar-accs" value="" checked>
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Default</span>
                                </label>
                            </div>
                        </div>
                        <button class="bnt btn-sm btn-danger btn-rounded btn-rm-imprest" type="button" data-toggle="tooltip" style="padding:2px;margin:2px;height:22px" data-original-title="Remove Entry"><i class="ti-close"></i></button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>