@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@using Microsoft.AspNetCore.Identity;
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager
@inject IHostingEnvironment hostingEnvironment

@{
    ViewData["Title"] = "Log in";

    Layout = "_LayoutAccount";
}

<section id="wrapper" class="row login-register login-sidebar" style="background-image:url(/img/background/login-register.jpg);">
    <div class="login-box card">
        <div class="card-body">
            <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal form-material" id="loginform">
                <a href="javascript:void(0)" class="text-center db" style="padding:15px">
                    <img src="~/img/nita-logo.jpg" alt="Home" height="96" />
                    <br />
                    @*<img src="/img/logo-text.png" alt="Home" />*@
                </a>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group m-t-40">
                    <div class="col-xs-12">
                        <input asp-for="Email" value="@(hostingEnvironment.IsDevelopment()?"example@nita.co.ke":"")" class="form-control" placeholder="Email.." style="margin-bottom:8px" />
                    </div>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input asp-for="Password" value="@(hostingEnvironment.IsDevelopment()?"Admin@123":"")" class="form-control" placeholder="Password..." style="margin-bottom:8px" />
                    </div>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <div class="checkbox checkbox-primary pull-left p-t-0">
                            <input id="checkbox-signup" type="checkbox" class="filled-in chk-col-light-blue">
                            <label asp-for="RememberMe"> Remember me </label>
                        </div>
                        <a href="javascript:void(0)" id="to-recover" class="text-dark pull-right"><i class="fa fa-lock m-r-5"></i> Forgot pwd?</a>
                    </div>
                </div>
                <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <button class="btn btn-info btn-lg btn-block text-uppercase btn-rounded" type="submit">Log In</button>
                    </div>
                </div>
                @*<div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 m-t-10 text-center">
                            <div class="social"><a href="javascript:void(0)" class="btn  btn-facebook" data-toggle="tooltip" title="Login with Facebook"> <i aria-hidden="true" class="fa fa-facebook"></i> </a> <a href="javascript:void(0)" class="btn btn-googleplus" data-toggle="tooltip" title="Login with Google"> <i aria-hidden="true" class="fa fa-google-plus"></i> </a> </div>
                        </div>
                    </div>
                    <div class="form-group m-b-0">
                        <div class="col-sm-12 text-center">
                            Don't have an account? <a href="pages-register2.html" class="text-primary m-l-5"><b>Sign Up</b></a>
                        </div>
                    </div>*@
            </form>
            <form class="form-horizontal" id="recoverform" asp-controller="Account" asp-action="ForgotPassword">
                <a href="javascript:void(0)" class="text-center db" style="padding:15px">
                    <img src="~/img/nita-logo.jpg" alt="Home" height="96" />
                    <br />
                    @*<img src="/img/logo-text.png" alt="Home" />*@
                </a>
                <div class="form-group ">
                    <div class="col-xs-12">
                        <h3>Recover Password</h3>
                        <p class="text-muted">Enter your Email and instructions will be sent to you! </p>
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-xs-12">
                        <input class="form-control" type="text" required="" placeholder="Email">
                    </div>
                </div>
                <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <button class="btn btn-primary btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Reset</button>
                    </div>
                </div>
                <div class="form-group m-b-0">
                    <div class="col-sm-12 text-center">
                        Already have an account? <a href="javascript:void(0)" id="to-login" class="text-primary m-l-5"><b>Login</b></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script type="text/javascript">
        jQuery(function () {
            jQuery(".preloader").fadeOut();
        });
        jQuery(function () {
            jQuery('[data-toggle="tooltip"]').tooltip()
        });
        // ==============================================================
        // Login and Recover Password
        // ==============================================================
        jQuery('#to-recover').on("click", function () {
            jQuery("#loginform").slideUp();
            jQuery("#recoverform").fadeIn();
        });
        jQuery('#to-login').on("click", function () {
            jQuery("#loginform").slideDown();
            jQuery("#recoverform").fadeOut();
        });
    </script>
}
