﻿@using Microsoft.EntityFrameworkCore;

@inject IOptionsSnapshot<AppSettings> AppSettings
@inject ApplicationDbContext db
@{
    var UserName = User.Identity.Name;

    var usr = db.Users.Include(l => l.StaffProfile).Include(k => k.AdminProfile).Single(p => p.UserName == UserName);
    if (usr.AccountType == AccountType.NitaAdmin)
    {
        UserName = usr.AdminProfile.FullName;
    }
    else if (usr.AccountType == AccountType.NitaStaff)
    {
        UserName = usr.StaffProfile.FullName;
    }
    else
    {
        UserName = "????????????";
    }
}

<!-- Sidebar scroll-->
<div class="scroll-sidebar"  style="">
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
        <ul id="sidebarnav">
            <li>
                <a class=" waves-effect waves-dark" href="/" aria-expanded="false">
                    <i class="fa fa-graduation-cap"></i> <span class="hide-menu">Dashboard </span>
                </a>
            </li>
            <li class="nav-devider"></li>
            @*<li class="nav-small-cap">Menu</li>*@
            <li>
                <a class=" waves-effect waves-dark" href="@Url.Action("Index", "Cycles")" aria-expanded="false">
                    <i class="fa fa-recycle"></i> <span class="hide-menu">Cycles Management</span>
                </a>
            </li>
            <li>
                <a class=" waves-effect waves-dark" href="@Url.Action("AllStaff", "Staff")" aria-expanded="false">
                    <i class="fa fa-users"></i> <span class="hide-menu">Staff Management</span>
                </a>
            </li>
            <li>
                <a class=" waves-effect waves-dark" href="/curriculum/index" aria-expanded="false">
                    <i class="fa fa-book"></i> <span class="hide-menu">Trade Area </span>
                </a>
            </li>
            <li>
                <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                    <i class="fa fa-pencil"></i><span class="hide-menu">Beneficiaries</span>
                </a>
                <ul aria-expanded="false" class="collapse">
                    <li>
                        <a href="@Url.Action("Index", "Beneficiary")">Beneficiaries</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Academics")">Academics</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Graduations", "Beneficiary")">Graduation</a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                    <i class="fa fa-building-o"></i><span class="hide-menu">Providers</span>
                </a>
                <ul aria-expanded="false" class="collapse">
                    <li>
                        <a class="waves-effect waves-dark" href="@Url.Action("Index", "Providers")" aria-expanded="false">
                            <i class="fa fa-institution"></i> <span class="hide-menu">Institutions </span>
                        </a>
                    </li>
                    <li>
                        <a class="waves-effect waves-dark" href="@Url.Action("IndexMc", "Providers")" aria-expanded="false">
                            <i class="fa fa-wrench"></i> <span class="hide-menu">Master Craftsmen </span>
                        </a>
                    </li>
                    <li>
                        <a class=" waves-effect waves-dark" href="@Url.Action("Index", "Contracts")" aria-expanded="false">
                            <i class="fa fa-file-text"></i> <span class="hide-menu">Contracts </span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                    <i class="fa fa-tasks"></i><span class="hide-menu">Budget</span>
                </a>
                <ul aria-expanded="false" class="collapse">
                    <li>
                        <a class="waves-effect waves-dark" href="@Url.Action("BudgetPeriod", "Budget")" aria-expanded="false">
                            <i class="fa fa-clock-o"></i> <span class="hide-menu">Budget Periods</span>
                        </a>
                    </li>
                    <li>
                        <a class="waves-effect waves-dark" href="@Url.Action("Index", "Budget")" aria-expanded="false">
                            <i class="fa fa-usd"></i> <span class="hide-menu">Department Budget </span>
                        </a>
                    </li>
                    <li>
                        <a class="waves-effect waves-dark" href="@Url.Action("MainBudget", "Budget")" aria-expanded="false">
                            <i class="fa fa-address-book-o"></i> <span class="hide-menu">Main Budget </span>
                        </a>
                    </li>
                </ul>
            </li>
            @{ Html.RenderPartial("_HrMenus"); }
            @{ Html.RenderPartial("_PayrollMenus"); }
            @{ Html.RenderPartial("_FinanceMenus"); }
            @{ Html.RenderPartial("_SettingsMenus"); }
        </ul>
    </nav>
    <!-- End Sidebar navigation -->

</div>
<!-- End Sidebar scroll-->