﻿@*Bourne Koloh*@
<li>
    <a class="has-arrow waves-effect waves-dark" href="@Url.RouteUrl(FinanceControllerRoute.GetIndex)" aria-expanded="false">
        <i class="fa fa-money"></i> <span class="hide-menu">Finance </span>
    </a>
    <ul aria-expanded="false" class="collapse">
        <li>
            <a class="waves-effect waves-dark" href="@Url.RouteUrl(FinanceControllerRoute.GetIndex)">
                Dashboard
            </a>
        </li>
        <li>
            <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                Student Finance
            </a>
            <ul>
                <li>
                    <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                        <i class="fa"></i> <span class="hide-menu">Invoices </span>
                    </a>
                    <ul>
                        <li>
                            <a class="waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                                <i class="fa"></i> <span class="hide-menu">All Invoices </span>
                            </a>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                                <i class="fa"></i> <span class="hide-menu">Invoice Adjustments</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                        <i class="fa"></i> <span class="hide-menu">Sponsorship </span>
                    </a>
                    <ul>
                        <li>
                            <a class="waves-effect waves-dark" href="javascript:void(0)">
                                <i class="fa"></i> <span class="hide-menu">Allocations </span>
                            </a>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" href="javascript:void(0)">
                                <i class="fa"></i> <span class="hide-menu">Setup</span>
                            </a>
                        </li>
                    </ul>

                </li>
                <li>
                    <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                        <i class="fa"></i> <span class="hide-menu">Deposit Refund </span>
                    </a>
                    <ul>
                        <li>
                            <a class="waves-effect waves-dark" href="javascript:void(0)">
                                <i class="fa"></i> <span class="hide-menu">All Entries </span>
                            </a>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" href="javascript:void(0)">
                                <i class="fa"></i> <span class="hide-menu">Setup</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                        <i class="fa"></i> <span class="hide-menu">Fee Setup </span>
                    </a>
                    <ul>
                        <li>
                            <a class="waves-effect waves-dark" href="javascript:void(0)">
                                <i class="fa"></i> <span class="hide-menu">Per Class </span>
                            </a>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" href="javascript:void(0)">
                                <i class="fa"></i> <span class="hide-menu">Per Program</span>
                            </a>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" href="javascript:void(0)">
                                <i class="fa"></i> <span class="hide-menu">Per Unit</span>
                            </a>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" href="javascript:void(0)">
                                <i class="fa"></i> <span class="hide-menu">Per Hostel Room</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                General Ledger
            </a>
            <ul aria-expanded="false" class="collapse">
                <li>
                    <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                        <i class="fa"></i> <span class="hide-menu">Voucher Posting </span>
                    </a>
                    <ul aria-expanded="false" class="collapse">
                        <li>
                            <a class="waves-effect waves-dark" href="@Url.RouteUrl(FinanceControllerRoute.GetAllPostedRegularPVs,new {returnurl = Url.Action()+"" })" aria-expanded="false">
                                <i class="fa"></i> <span class="hide-menu">Regular Vouchers</span>
                            </a>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" href="@Url.RouteUrl(FinanceControllerRoute.GetAllPostedTaxPVs,new {returnurl = Url.Action()+"" })" aria-expanded="false">
                                <i class="fa"></i> <span class="hide-menu">Tax Vouchers</span>
                            </a>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" href="@Url.RouteUrl(FinanceControllerRoute.GetAllPostedRegularPVs,new { typ = (int)PVType.ExpenseClaim,returnurl = Url.Action()+""})" aria-expanded="false">
                                <i class="fa"></i> <span class="hide-menu">Expense Claim Vouchers</span>
                            </a>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" href="@Url.RouteUrl(FinanceControllerRoute.GetAllPostedRegularPVs,new { typ = (int)PVType.Imprest,returnurl = Url.Action()+""})" aria-expanded="false">
                                <i class="fa"></i> <span class="hide-menu">Imprest Vouchers</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                        <i class="fa"></i> <span class="hide-menu">Payments Overview</span>
                    </a>
                    <ul aria-expanded="false" class="collapse">
                        <li>
                            <a class="waves-effect waves-dark" href="@Url.RouteUrl(FinanceControllerRoute.GetPaymentsRegistry)" aria-expanded="false">
                                <i class="fa"></i> <span class="hide-menu">Registry</span>
                            </a>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" href="@Url.RouteUrl(FinanceControllerRoute.GetUnpostedPayments)" aria-expanded="false">
                                <i class="fa"></i> <span class="hide-menu">Unpaid Payments</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                        <i class="fa"></i> <span class="hide-menu">Journals</span>
                    </a>
                    <ul aria-expanded="false" class="collapse">
                        <li>
                            <a class="waves-effect waves-dark" href="@Url.RouteUrl(FinanceControllerRoute.GetAllPayableJournals)" aria-expanded="false">
                                <i class="fa"></i> <span class="hide-menu">Payables Entries</span>
                            </a>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" href="@Url.RouteUrl(FinanceControllerRoute.GetAllPayrollJournals)" aria-expanded="false">
                                <i class="fa"></i> <span class="hide-menu">Payroll Entries</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">Payables</a>

            <ul aria-expanded="false" class="collapse">
                <li>
                    <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)">Payment Vouchers</a>
                    <ul aria-expanded="false" class="collapse">
                        <li>
                            <a href="@Url.RouteUrl(FinanceControllerRoute.GetAllRegularPVouchers)">Regular Vouchers</a>
                        </li>
                        <li>
                            <a href="@Url.RouteUrl(FinanceControllerRoute.GetAllPettyCashPVouchers)">Petty-Cash Vouchers</a>
                        </li>
                        <li>
                            <a href="@Url.RouteUrl(FinanceControllerRoute.GetAllExpenseClaimPVouchers)">Expense Claim Vouchers</a>
                        </li>
                        <li>
                            <a href="@Url.RouteUrl(FinanceControllerRoute.GetAllTaxPVouchers)">Tax Vouchers</a>
                        </li>
                        <li>
                            <a href="@Url.RouteUrl(FinanceControllerRoute.GetAllImprestPVouchers)">Imprest Vouchers</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)">Supplier Invoices</a>
                    <ul aria-expanded="false" class="collapse">
                        <li>
                            <a class="waves-effect waves-dark" href="@Url.RouteUrl(FinanceControllerRoute.GetAllInvoices)" aria-expanded="false">
                                <i class="fa"></i> <span class="hide-menu">All Invoices</span>
                            </a>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" href="@Url.RouteUrl(FinanceControllerRoute.GetAllInvoiceWaivers)" aria-expanded="false">
                                <i class="fa"></i> <span class="hide-menu">Invoice Waivers</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)">Staff Imprest</a>
                    <ul aria-expanded="false" class="collapse">
                        <li>
                            <a href="javascript:void(0)">Online Requests</a>
                        </li>
                        <li>
                            <a href="@Url.RouteUrl(FinanceControllerRoute.GetAllImprestWarrants)">All Warrants</a>
                        </li>
                        <li>
                            <a href="@Url.RouteUrl(FinanceControllerRoute.GetAllImprestDisbursements)">Disbursements</a>
                        </li>
                        <li>
                            <a href="@Url.RouteUrl(FinanceControllerRoute.GetAllImprestSurrenders)">Surrenders</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)">Expense Claims</a>
                    <ul aria-expanded="false" class="collapse">
                        <li>
                            <a href="@Url.RouteUrl(FinanceControllerRoute.GetAllExpenseClaims)">All Claims</a>
                        </li>
                        <li>
                            <a href="@Url.RouteUrl(FinanceControllerRoute.GetAllExpenseDisbursements)">Disbursements</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)">Staff Petty Cash</a>
                    <ul aria-expanded="false" class="collapse">
                        <li>
                            <a href="@Url.RouteUrl(FinanceControllerRoute.GetAllPettycashItems)">All Entries</a>
                        </li>
                        <li>
                            <a href="@Url.RouteUrl(FinanceControllerRoute.GetAllPettycashDisbursements)">Disbursements</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>

        <li>
            <a href="@Url.RouteUrl(FinanceControllerRoute.GetAllSuppliers)">Suppliers/Vendor</a>
        </li>
        @*Cash and Bank Mngmt.*@
        <li>
            <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                Cash &amp; Banking
            </a>
            <ul aria-expanded="false" class="collapse">
                <li>
                    <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                        Bank Management
                    </a>
                    <ul aria-expanded="false" class="collapse">
                        <li>
                            <a class="waves-effect waves-dark" href="javascript:void(0)">
                                <i class="fa"></i> <span class="">Banking Schedules</span>
                            </a>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" href="javascript:void(0)">
                                <i class="fa"></i> <span class="">Banking Posting</span>
                            </a>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" href="javascript:void(0)">
                                <i class="fa"></i> <span class="">Reconcilliations</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                        Cancellations
                    </a>
                    <ul aria-expanded="false" class="collapse">
                        <li>
                            <a class="waves-effect waves-dark" href="javascript:void(0)">
                                <i class="fa"></i> <span class="">Payment</span>
                            </a>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" href="javascript:void(0)">
                                <i class="fa"></i> <span class="">Receipt Canc.</span>
                            </a>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" href="javascript:void(0)">
                                <i class="fa"></i> <span class="">Sponsorship</span>
                            </a>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" href="javascript:void(0)">
                                <i class="fa"></i> <span class="">Cheque</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                        <i class="fa"></i> <span class="">Cheques </span>
                    </a>
                    <ul aria-expanded="false" class="collapse">
                        <li>
                            <a class="waves-effect waves-dark" href="javascript:void(0)">
                                <i class="fa"></i> <span class="">Payment Schedules</span>
                            </a>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" href="javascript:void(0)">
                                <i class="fa"></i> <span class="">Registry</span>
                            </a>
                        </li>

                        <li>
                            <a class="waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                                <i class="fa"></i> <span class="">Collections</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        @*Receivable*@
        <li>
            <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                Receivables
            </a>
            <ul aria-expanded="false" class="collapse">
                <li>
                    <a class="waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                        <i class="fa"></i> <span class="">Receive Payments</span>
                    </a>
                </li>
                <li>
                    <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                        Invoices
                    </a>
                    <ul aria-expanded="false" class="collapse">
                        <li>
                            <a class="waves-effect waves-dark" href="javascript:void(0)">
                                <i class="fa"></i> <span class="">Customer Invoices</span>
                            </a>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" href="javascript:void(0)">
                                <i class="fa"></i> <span class="">Pro-forma Invoices</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                        Memos
                    </a>
                    <ul aria-expanded="false" class="collapse">
                        <li>
                            <a class="waves-effect waves-dark" href="javascript:void(0)">
                                <i class="fa"></i> <span class="">Debit Memos</span>
                            </a>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" href="javascript:void(0)">
                                <i class="fa"></i> <span class="">Credit Memos</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                        <i class="fa"></i> <span class="">Products </span>
                    </a>
                    <ul aria-expanded="false" class="collapse">
                        <li>
                            <a class="waves-effect waves-dark" href="@Url.Action("Index", "Receviables")">
                                <i class="fa"></i> <span class="">All Products</span>
                            </a>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" href="javascript:void(0)">
                                <i class="fa"></i> <span class="">Prices</span>
                            </a>
                        </li>
                        <li>
                            <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                                <i class="fa"></i> <span class="">Stock </span>
                            </a>
                            <ul aria-expanded="false" class="collapse">
                                <li>
                                    <a class="waves-effect waves-dark" href="javascript:void(0)">
                                        <i class="fa"></i> <span class="">Stock Levels</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="waves-effect waves-dark" href="javascript:void(0)">
                                        <i class="fa"></i> <span class="">Adjustments</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                        <i class="fa"></i> <span class="">Tax Withheld</span>
                    </a>
                </li>
                <li>
                    <a class="waves-effect waves-dark" href="@Url.Action("Customers", "Receviables")" aria-expanded="false">
                        <i class="fa"></i> <span class="">Customers</span>
                    </a>
                </li>
            </ul>
        </li>
        @*Budget*@
        <li>
            <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                Budget Control
            </a>
            <ul aria-expanded="false" class="collapse">
                <li>
                    <a class="waves-effect waves-dark" href="@Url.Action("BudgetPeriod", "Budget")" aria-expanded="false">
                        <i class="fa"></i> <span class="">Budget Periods</span>
                    </a>
                </li>
                <li>
                    <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                        <i class="fa"></i> <span class="">Department Budgets </span>
                    </a>
                    <ul aria-expanded="false" class="collapse">
                        <li>
                            <a class="waves-effect waves-dark" href="@Url.Action("Index", "Budget")">
                                <i class="fa"></i> <span class="">All Budgets</span>
                            </a>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" href="javascript:void(0)">
                                <i class="fa"></i> <span class="">Adjustments</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="waves-effect waves-dark" href="@Url.Action("MainBudget", "Budget")" aria-expanded="false">
                        <i class="fa"></i> <span class="">Main Budget </span>
                    </a>
                </li>
                <li>
                    <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                        <i class="fa"></i> <span class="">Project Budgets </span>
                    </a>
                    <ul aria-expanded="false" class="collapse">
                        <li>
                            <a class="waves-effect waves-dark" href="javascript:void(0)">
                                <i class="fa"></i> <span class="">All Budgets</span>
                            </a>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" href="javascript:void(0)">
                                <i class="fa"></i> <span class="">Setups</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        @*Reports*@
        <li>
            <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                Reports
            </a>
            <ul aria-expanded="false" class="collapse">
                <li>
                    <a class="waves-effect waves-dark" href="@Url.RouteUrl(FinanceControllerRoute.GetReports)" aria-expanded="false">
                        <i class="fa"></i> <span class="">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a class="waves-effect waves-dark" href="@Url.RouteUrl(FinanceControllerRoute.GetBasicReports)">
                        <i class="fa"></i> <span class="">Basic Reports</span>
                    </a>
                </li>
                <li>
                    <a class="waves-effect waves-dark" href="@Url.RouteUrl(FinanceControllerRoute.GetBudgetReports)">
                        <i class="fa"></i> <span class="">Budget Reports</span>
                    </a>
                </li>
                <li>
                    <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                        <i class="fa"></i> <span class="">Finance Statements</span>
                    </a>
                    <ul aria-expanded="false" class="collapse">

                        <li>
                            <a class="waves-effect waves-dark" href="@Url.RouteUrl(FinanceControllerRoute.GetFinanceStatements)">
                                <i class="fa"></i> <span class="">Gen. Statements</span>
                            </a>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" href="@Url.RouteUrl(FinanceControllerRoute.GetQuartelyFinanceStatements)">
                                <i class="fa"></i> <span class="">Quarterly Statements</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="waves-effect waves-dark" href="@Url.RouteUrl(FinanceControllerRoute.GetBudgetStatus)">
                        <i class="fa"></i> <span class="">Budget Status</span>
                    </a>
                </li>
                <li>
                    <a class="waves-effect waves-dark" href="@Url.RouteUrl(FinanceControllerRoute.GetStudentFeesSummary)">
                        <i class="fa"></i> <span class="">Student Fee Summary</span>
                    </a>
                </li>
            </ul>
        </li>
        @*Utilities*@
        <li>
            <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)">Utilities</a>

            <ul aria-expanded="false" class="collapse">
                <li>
                    <a href="@Url.RouteUrl(FinanceUtilsControllerRoute.GetAllCurrencies)">Currencies</a>
                </li>
                <li>
                    <a href="@Url.RouteUrl(FinanceUtilsControllerRoute.GetAllFinanceTaxes)">Taxes</a>
                </li>
                <li>
                    <a href="@Url.RouteUrl(FinanceUtilsControllerRoute.GetAllFiscalYears)">Fiscal Years</a>
                </li>
                <li>
                    <a href="@Url.RouteUrl(FinanceUtilsControllerRoute.GetAllLedgers)">Ledgers</a>
                </li>
                <li>
                    <a href="@Url.RouteUrl(FinanceUtilsControllerRoute.GetAllVendorTypes)">Vendor Types</a>
                </li>
                <li>
                    <a href="@Url.RouteUrl(FinanceUtilsControllerRoute.GetAllPaymentAccounts)">Payment Modes</a>
                </li>
                <li>
                    <a href="@Url.RouteUrl(FinanceUtilsControllerRoute.GetAllVoucherPrefixes)">Voucher Prefixes</a>
                </li>
                <li>
                    <a href="@Url.RouteUrl(FinanceUtilsControllerRoute.GetAllAccounts)">GL Accounts</a>
                </li>
                <li>
                    <a href="@Url.RouteUrl(FinanceUtilsControllerRoute.GetAllBanks)">Banks</a>
                </li>
                <li>
                    <a href="@Url.RouteUrl(FinanceUtilsControllerRoute.GetAddProject)">Projects</a>
                </li>
                <li>
                    <a href="@Url.RouteUrl(FinanceUtilsControllerRoute.GetAllProductCategories)">Product Categories</a>
                </li>
                <li>
                    <a href="@Url.RouteUrl(FinanceUtilsControllerRoute.GetAllCustomerTypes)">Customer Types</a>
                </li>
            </ul>
        </li>
        <li>
            <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                <i class="fa"></i><span class="">Settings</span>
            </a>
            <ul aria-expanded="false" class="collapse">
                <li>
                    <a class="waves-effect waves-dark" href="@Url.RouteUrl(FinanceControllerRoute.GetSettings)" aria-expanded="false">
                        <i class="fa"></i> <span class="">General</span>
                    </a>
                </li>
                <li>
                    <a class="waves-effect waves-dark" href="@Url.RouteUrl(FinanceControllerRoute.GetAllPCCashierOffices)" aria-expanded="false">
                        <i class="fa"></i> <span class="">Cashiers</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</li>
