
@inject IOptionsSnapshot<AppSettings> AppSettings


<footer class="footer"> 
    <img src="~/img/nita-logo.jpg" height="48" class="img-circle" /> &copy; @DateTime.Now.Year - @AppSettings.Value.SiteTitle
    <div style="display:inline;float:right;line-height:22px;font-family:'Trebuchet MS'"><span>Powered By:</span> <a href="http://tri-globe.com/">Triglobe Soft Solutions</a>
        </div> 
</footer>