﻿@*Bourne Koloh*@
<li>
    <a class="has-arrow waves-effect waves-dark" href="javascript:void()" aria-expanded="false">
        <i class="fa fa-users"></i> <span class="hide-menu">Human Resource </span>
    </a>
    <ul aria-expanded="false" class="collapse">
        <li>
            <a href="@Url.RouteUrl(StaffControllerRoute.GetIndex)">Overview</a>
        </li>
        <li>
            <a href="@Url.RouteUrl(StaffControllerRoute.GetAllStaff)">All Staff</a>
        </li>
        <li>
            <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)">Settings</a>
        </li>
        <li>
            <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)">Utilities</a>

            <ul aria-expanded="false" class="collapse">
                <li>
                    <a href="@Url.RouteUrl(StaffUtilsControllerRoute.GetAllJobCatalogues)">Job Catalogues</a>
                </li>
                <li>
                    <a href="@Url.RouteUrl(StaffUtilsControllerRoute.GetAllEmploymentTypes)">Employment Types</a>
                </li>
                <li>
                    <a href="@Url.RouteUrl(StaffUtilsControllerRoute.GetAllJobCategories)">Job Categories</a>
                </li>
            </ul>
        </li>
    </ul>
</li>
