﻿@inject IOptionsSnapshot<AppSettings> AppSettings
@inject IHostingEnvironment HostingEnvironment
<!DOCTYPE html>
@* lang - The language of the page. *@
<html lang="en">
<head asp-open-graph-prefix="true">
    @* The order of the tags in the head is important for best performance and compatibility. *@
    @* charset - The character encoding of the document. *@
    <meta charset="utf-8">
    @* viewport - Set the scale on mobile devices (For more info see https://developer.mozilla.org/en/docs/Mozilla/Mobile/Viewport_meta_tag). *@
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @* title - The title of the page which appears in the browser window title. Aim for the title to be less than 70
        characters. The site name appears at the end for better SEO. *@
    <title>@ViewBag.Title - @AppSettings.Value.SiteTitle</title>


    @* Icons & Platform Specific Settings (See http://rehansaeed.com/internet-favicon-madness/ for detailed
        information). The order of these icons is very important. *@

    @* Apple Icons - See https://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariHTMLRef/Introduction.html#//apple_ref/doc/uid/30001261-SW1 *@
    @* apple-touch-icon-57x57.png - Android Stock Browser and non-Retina iPhone and iPod Touch *@
    <link rel="apple-touch-icon" sizes="57x57" href="~/img/icons/apple-touch-icon-57x57.png">
    @* apple-touch-icon-60x60.png - Same as apple-touch-icon-57x57.png, for non-retina iPhone with iOS7. *@
    <link rel="apple-touch-icon" sizes="60x60" href="~/img/icons/apple-touch-icon-60x60.png">
    @* apple-touch-icon-72x72.png - iPad mini and the first- and second-generation iPad (1× display) on iOS ≤ 6 *@
    <link rel="apple-touch-icon" sizes="72x72" href="~/img/icons/apple-touch-icon-72x72.png">
    @* apple-touch-icon-76x76.png - iPad mini and the first- and second-generation iPad (1× display) on iOS ≥ 7 *@
    <link rel="apple-touch-icon" sizes="76x76" href="~/img/icons/apple-touch-icon-76x76.png">
    @* apple-touch-icon-114x114.png - iPhone (with 2× display) iOS ≤ 6 *@
    <link rel="apple-touch-icon" sizes="114x114" href="~/img/icons/apple-touch-icon-114x114.png">
    @* apple-touch-icon-120x120.png - iPhone (with 2× and 3 display) iOS ≥ 7 *@
    <link rel="apple-touch-icon" sizes="120x120" href="~/img/icons/apple-touch-icon-120x120.png">
    @* apple-touch-icon-144x144.png - iPad (with 2× display) iOS ≤ 6 *@
    <link rel="apple-touch-icon" sizes="144x144" href="~/img/icons/apple-touch-icon-144x144.png">
    @* apple-touch-icon-152x152.png - iPad 3+ (with 2× display) iOS ≥ 7 *@
    <link rel="apple-touch-icon" sizes="152x152" href="~/img/icons/apple-touch-icon-152x152.png">
    @* apple-touch-icon-180x180.png - iPad and iPad mini (with 2× display) iOS ≥ 8 *@
    <link rel="apple-touch-icon" sizes="180x180" href="~/img/icons/apple-touch-icon-180x180.png">

    @* favicon-32x32.png - For Safari on Mac OS. *@
    <link rel="icon" type="image/png" href="~/img/icons/favicon-32x32.png" sizes="32x32">
    @* favicon-192x192.png - For Android Chrome M36 to M38 this icon is used. M39+ uses the manifest.json file specified below. *@
    <link rel="icon" type="image/png" href="~/img/icons/favicon-192x192.png" sizes="192x192">
    @* favicon-16x16.png - The classic favicon, displayed in the tabs. *@
    <link rel="icon" type="image/png" href="~/img/icons/favicon-16x16.png" sizes="16x16">

    @* apple-mobile-web-app-title - The name of the application if pinned to the IOS start screen. *@
    <meta name="apple-mobile-web-app-title" content="@AppSettings.Value.SiteShortTitle">
    @* apple-mobile-web-app-capable - Hide the browsers user interface on IOS, when the app is run in 'stand-alone'
        mode. Any links to other pages that are clicked whilst your app is in stand-alone mode will launch the full
        Safari browser. *@
    <meta name="apple-mobile-web-app-capable" content="yes">
    @* apple-mobile-web-app-status-bar-style - default/black/black-translucent Styles the IOS status bar. Using
        black-translucent makes it transparent and overlays it on top of your site, so make sure you have enough margin. *@
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    @* Apple Startup Images - These splash screen images are only shown if apple-mobile-web-app-capable is set to true.
        See https://gist.github.com/tfausak/2222823 *@
    @* apple-touch-startup-image-1536x2008.png - iOS 6 & 7 iPad (retina, portrait) *@
    <link rel="apple-touch-startup-image" href="~/img/icons/apple-touch-startup-image-1536x2008.png" media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)">
    @* apple-touch-startup-image-1496x2048.png - iOS 6 & 7 iPad (retina, landscape) *@
    <link rel="apple-touch-startup-image" href="~/img/icons/apple-touch-startup-image-1496x2048.png" media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)">
    @* apple-touch-startup-image-768x1004.png - iOS 6 iPad (portrait) *@
    <link rel="apple-touch-startup-image" href="~/img/icons/apple-touch-startup-image-768x1004.png" media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 1)">
    @* apple-touch-startup-image-748x1024.png - iOS 6 iPad (landscape) *@
    <link rel="apple-touch-startup-image" href="~/img/icons/apple-touch-startup-image-748x1024.png" media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 1)">
    @* apple-touch-startup-image-640x1096.png - iOS 6 & 7 iPhone 5 *@
    <link rel="apple-touch-startup-image" href="~/img/icons/apple-touch-startup-image-640x1096.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)">
    @* apple-touch-startup-image-640x920.png - iOS 6 & 7 iPhone (retina) *@
    <link rel="apple-touch-startup-image" href="~/img/icons/apple-touch-startup-image-640x920.png" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)">
    @* apple-touch-startup-image-320x460.png - iOS 6 iPhone *@
    <link rel="apple-touch-startup-image" href="~/img/icons/apple-touch-startup-image-320x460.png" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 1)">

    @* Android/Chrome *@
    @* manifest-json - The location of the browser configuration file. It contains locations of icon files, name of the
        application and default device screen orientation. Note that the name field is mandatory.
        See https://developer.chrome.com/multidevice/android/installtohomescreen. *@
    <link rel="manifest" href="@Url.RouteUrl(HomeControllerRoute.GetManifestJson).TrimEnd('/')">
    @* theme-color - The colour of the toolbar in Chrome M39+
        See http://updates.html5rocks.com/2014/11/Support-for-theme-color-in-Chrome-39-for-Android *@
    <meta name="theme-color" content="#1E1E1E">
    @* mobile-web-app-capable - Run Android/Chrome version M31 to M38 in stand-alone mode, hiding the browser chrome. *@
    <meta name="mobile-web-app-capable" content="yes">

    @* Windows 7 Taskbar - This depends on your site, so no code here. See http://www.buildmypinnedsite.com/windows7 *@

    @* Windows 8.1/10 IE11/Edge - See http://www.buildmypinnedsite.com *@
    @* msapplication-config - The location of the browser configuration file. This is not required if the
        browserconfig.xml file is at the root of the site (Which it is). *@
    @* <meta name="msapplication-config" content="@Url.RouteUrl(HomeControllerRoute.GetBrowserConfigXml).TrimEnd('/')"> *@


    @* Move site.css to a content delivery network (CDN) for better performance. *@
    @*<link asp-append-version="true" rel="stylesheet" href="~/css/site.css" />*@
    <meta name="x-font-awesome-stylesheet-fallback-test" class="fa">
    <environment names="@EnvironmentName.Development">
        <link asp-append-version="true" rel="stylesheet" href="~/css/font-awesome.css" />
    </environment>
    <environment names="@EnvironmentName.Staging,@EnvironmentName.Production">
        <link rel="stylesheet" href="@ContentDeliveryNetwork.MaxCdn.FontAwesomeUrl"
              asp-subresource-integrity-href="~/css/font-awesome.css" />
    </environment>


    @* Description - Used by search engines. Aim for more than 160 characters. *@
    <meta name="description" content="@ViewBag.Description">


    @* Canonical - The URL of the current page. Stops case differences and http/https being treated as different URL's
        by search engines. The settings in this project should make this redundant, unless you are mixing HTTP and
        HTTPS or you have multiple URL's to the same resource which you should avoid.
        (See http://googlewebmastercentral.blogspot.co.uk/2009/02/specify-your-canonical.html). *@
    @*<link rel="canonical" href="">*@


    @* Atom 1.0 Feed - Link to the. This enables the 'Subscribe to this page' button in FireFox. *@
    <link href="@Url.RouteUrl(HomeControllerRoute.GetFeed)" rel="alternate" title="@AppSettings.Value.SiteTitle Feed" type="application/atom+xml">


    @* OpenSearch - (See http://www.hanselman.com/blog/CommentView.aspx?guid=50cc95b1-c043-451f-9bc2-696dc564766d and http://www.opensearch.org) *@
    <link href="@Url.RouteUrl(HomeControllerRoute.GetOpenSearchXml).TrimEnd('/')" rel="search" title="NITA Search" type="application/opensearchdescription+xml">


    @* You can use the head section to render additional meta tags. *@
    @RenderSection("head", required: false)
</head>
<body>
    @* Skip to main content link for people who use screen readers. sr-only makes this only visible to screen readers.
        See http://a11yproject.com/posts/skip-nav-links/. *@
    <a href="#main" class="sr-only sr-only-focusable">Skip to main content</a>
    @* nav - The main navigation for the site. *@
    
    @* div id="main" - The main container for the page. Change this to the HTML5 main tag when it gains more browser support. *@
    <div id="main" class="container body-content" role="main">
        <!--[if lt IE 8]>
            <div class="alert alert-warning" role="alert">
                <p>You are using an outdated browser. Please <a class="alert-link" href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
            </div>
        <![endif]-->
        @RenderBody()

        <footer role="contentinfo" style="position:absolute;right:20px;bottom:15px">
            <p>&copy; @DateTime.Now.Year - @AppSettings.Value.SiteTitle</p>
        </footer>
    </div>

    <div style="position:absolute;top:15px;right:20px">
        <img src="~/img/abnlogo.png" />
    </div>

    <environment names="@EnvironmentName.Development">
        <script asp-append-version="true" src="~//lib/js/jquery.js"></script>
        <script asp-append-version="true" src="~//lib/js/jquery-validate.js"></script>
        <script asp-append-version="true" src="~//lib/js/jquery-validate-unobtrusive.js"></script>
        <script asp-append-version="true" src="~//lib/js/bootstrap.js"></script>
        <script asp-append-version="true" src="~//lib/js/site.js"></script>
    </environment>
    <environment names="@EnvironmentName.Staging,@EnvironmentName.Production">
        @* crossorigin - Enable reporting of errors from third party scripts.
            See https://raygun.com/blog/2015/05/fixing-script-errors/
           asp-subresource-integrity-src - Ensures the CDN resource has not been tampered with.
            See http://rehansaeed.com/subresource-integrity-taghelper-using-asp-net-core *@
        <script crossorigin="anonymous"
                src="@ContentDeliveryNetwork.Google.JQueryUrl"
                asp-subresource-integrity-src="~//lib/js/jquery.js"></script>
        <script crossorigin="anonymous"
                src="@ContentDeliveryNetwork.Microsoft.JQueryValidateUrl"
                asp-subresource-integrity-src="~//lib/js/jquery-validate.js"></script>
        <script crossorigin="anonymous"
                src="@ContentDeliveryNetwork.Microsoft.JQueryValidateUnobtrusiveUrl"></script>
        <script crossorigin="anonymous"
                src="@ContentDeliveryNetwork.Microsoft.BootstrapUrl"
                asp-subresource-integrity-src="~//lib/js/bootstrap.js"></script>
        @* Move site.js to a content delivery network (CDN) for better performance. *@
        <script asp-append-version="true" src="~//lib/js/site.js"></script>
    </environment>
    @RenderSection("scripts", required: false)
</body>
</html>