﻿@inject IOptionsSnapshot<AppSettings> AppSettings
@inject IHostingEnvironment HostingEnvironment
<!DOCTYPE html>
@* lang - The language of the page. *@
<html lang="en">
<head asp-open-graph-prefix="true">
    @* The order of the tags in the head is important for best performance and compatibility. *@
    @* charset - The character encoding of the document. *@
    <meta charset="utf-8">
    @* viewport - Set the scale on mobile devices (For more info see https://developer.mozilla.org/en/docs/Mozilla/Mobile/Viewport_meta_tag). *@
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @* title - The title of the page which appears in the browser window title. Aim for the title to be less than 70
        characters. The site name appears at the end for better SEO. *@
    <title>
        @if (ViewBag.Title != null)
        {
            @ViewBag.Title<text> - @AppSettings.Value.SiteTitle</text>
        }
        else
        {
            <text>@AppSettings.Value.SiteTitle</text>
        }
    </title>


    @* Icons & Platform Specific Settings (See http://rehansaeed.com/internet-favicon-madness/ for detailed
        information). The order of these icons is very important. *@

    @* Apple Icons - See https://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariHTMLRef/Introduction.html#//apple_ref/doc/uid/30001261-SW1 *@
    @* apple-touch-icon-57x57.png - Android Stock Browser and non-Retina iPhone and iPod Touch *@
    <link rel="apple-touch-icon" sizes="57x57" href="~/img/icons/apple-touch-icon-57x57.png">
    @* apple-touch-icon-60x60.png - Same as apple-touch-icon-57x57.png, for non-retina iPhone with iOS7. *@
    <link rel="apple-touch-icon" sizes="60x60" href="~/img/icons/apple-touch-icon-60x60.png">
    @* apple-touch-icon-72x72.png - iPad mini and the first- and second-generation iPad (1× display) on iOS ≤ 6 *@
    <link rel="apple-touch-icon" sizes="72x72" href="~/img/icons/apple-touch-icon-72x72.png">
    @* apple-touch-icon-76x76.png - iPad mini and the first- and second-generation iPad (1× display) on iOS ≥ 7 *@
    <link rel="apple-touch-icon" sizes="76x76" href="~/img/icons/apple-touch-icon-76x76.png">
    @* apple-touch-icon-114x114.png - iPhone (with 2× display) iOS ≤ 6 *@
    <link rel="apple-touch-icon" sizes="114x114" href="~/img/icons/apple-touch-icon-114x114.png">
    @* apple-touch-icon-120x120.png - iPhone (with 2× and 3 display) iOS ≥ 7 *@
    <link rel="apple-touch-icon" sizes="120x120" href="~/img/icons/apple-touch-icon-120x120.png">
    @* apple-touch-icon-144x144.png - iPad (with 2× display) iOS ≤ 6 *@
    <link rel="apple-touch-icon" sizes="144x144" href="~/img/icons/apple-touch-icon-144x144.png">
    @* apple-touch-icon-152x152.png - iPad 3+ (with 2× display) iOS ≥ 7 *@
    <link rel="apple-touch-icon" sizes="152x152" href="~/img/icons/apple-touch-icon-152x152.png">
    @* apple-touch-icon-180x180.png - iPad and iPad mini (with 2× display) iOS ≥ 8 *@
    <link rel="apple-touch-icon" sizes="180x180" href="~/img/icons/apple-touch-icon-180x180.png">

    @* favicon-32x32.png - For Safari on Mac OS. *@
    <link rel="icon" type="image/png" href="~/img/icons/favicon-32x32.png" sizes="32x32">
    @* favicon-192x192.png - For Android Chrome M36 to M38 this icon is used. M39+ uses the manifest.json file specified below. *@
    <link rel="icon" type="image/png" href="~/img/icons/favicon-192x192.png" sizes="192x192">
    @* favicon-16x16.png - The classic favicon, displayed in the tabs. *@
    <link rel="icon" type="image/png" href="~/img/icons/favicon-16x16.png" sizes="16x16">

    @* apple-mobile-web-app-title - The name of the application if pinned to the IOS start screen. *@
    <meta name="apple-mobile-web-app-title" content="@AppSettings.Value.SiteShortTitle">
    @* apple-mobile-web-app-capable - Hide the browsers user interface on IOS, when the app is run in 'stand-alone'
        mode. Any links to other pages that are clicked whilst your app is in stand-alone mode will launch the full
        Safari browser. *@
    <meta name="apple-mobile-web-app-capable" content="yes">
    @* apple-mobile-web-app-status-bar-style - default/black/black-translucent Styles the IOS status bar. Using
        black-translucent makes it transparent and overlays it on top of your site, so make sure you have enough margin. *@
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    @* Apple Startup Images - These splash screen images are only shown if apple-mobile-web-app-capable is set to true.
        See https://gist.github.com/tfausak/2222823 *@
    @* apple-touch-startup-image-1536x2008.png - iOS 6 & 7 iPad (retina, portrait) *@
    <link rel="apple-touch-startup-image" href="~/img/icons/apple-touch-startup-image-1536x2008.png" media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)">
    @* apple-touch-startup-image-1496x2048.png - iOS 6 & 7 iPad (retina, landscape) *@
    <link rel="apple-touch-startup-image" href="~/img/icons/apple-touch-startup-image-1496x2048.png" media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)">
    @* apple-touch-startup-image-768x1004.png - iOS 6 iPad (portrait) *@
    <link rel="apple-touch-startup-image" href="~/img/icons/apple-touch-startup-image-768x1004.png" media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 1)">
    @* apple-touch-startup-image-748x1024.png - iOS 6 iPad (landscape) *@
    <link rel="apple-touch-startup-image" href="~/img/icons/apple-touch-startup-image-748x1024.png" media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 1)">
    @* apple-touch-startup-image-640x1096.png - iOS 6 & 7 iPhone 5 *@
    <link rel="apple-touch-startup-image" href="~/img/icons/apple-touch-startup-image-640x1096.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)">
    @* apple-touch-startup-image-640x920.png - iOS 6 & 7 iPhone (retina) *@
    <link rel="apple-touch-startup-image" href="~/img/icons/apple-touch-startup-image-640x920.png" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)">
    @* apple-touch-startup-image-320x460.png - iOS 6 iPhone *@
    <link rel="apple-touch-startup-image" href="~/img/icons/apple-touch-startup-image-320x460.png" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 1)">

    @* Android/Chrome *@
    @* manifest-json - The location of the browser configuration file. It contains locations of icon files, name of the
        application and default device screen orientation. Note that the name field is mandatory.
        See https://developer.chrome.com/multidevice/android/installtohomescreen. *@
    <link rel="manifest" href="@Url.RouteUrl(HomeControllerRoute.GetManifestJson).TrimEnd('/')">
    @* theme-color - The colour of the toolbar in Chrome M39+
        See http://updates.html5rocks.com/2014/11/Support-for-theme-color-in-Chrome-39-for-Android *@
    <meta name="theme-color" content="#1E1E1E">
    @* mobile-web-app-capable - Run Android/Chrome version M31 to M38 in stand-alone mode, hiding the browser chrome. *@
    <meta name="mobile-web-app-capable" content="yes">

    @* Windows 7 Taskbar - This depends on your site, so no code here. See http://www.buildmypinnedsite.com/windows7 *@

    @* Windows 8.1/10 IE11/Edge - See http://www.buildmypinnedsite.com *@
    @* msapplication-config - The location of the browser configuration file. This is not required if the
        browserconfig.xml file is at the root of the site (Which it is). *@
    @* <meta name="msapplication-config" content="@Url.RouteUrl(HomeControllerRoute.GetBrowserConfigXml).TrimEnd('/')"> *@


    @* Move site.css to a content delivery network (CDN) for better performance. *@
    <link asp-append-version="true" rel="stylesheet" href="~/css/site.css" />
    <meta name="x-font-awesome-stylesheet-fallback-test" class="fa">
    <environment names="@EnvironmentName.Development">
        <link asp-append-version="true" rel="stylesheet" href="~/css/font-awesome.css" />
    </environment>
    <environment names="@EnvironmentName.Staging,@EnvironmentName.Production">
        <link rel="stylesheet" href="@ContentDeliveryNetwork.MaxCdn.FontAwesomeUrl"
              asp-subresource-integrity-href="~/css/font-awesome.css" />
    </environment>

    <!-- Bootstrap Core CSS -->
    @*<link href="~/lib/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true">*@

    <!--Toaster Popup message CSS -->
    <link href="~/lib/plugins/toast-master/css/jquery.toast.css" rel="stylesheet" asp-append-version="true">
    <!-- Custom CSS -->
    <link href="~/lib/css/style.css" rel="stylesheet" asp-append-version="true">
    <link href="~/lib/plugins/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet" asp-append-version="true">
    <!-- This page CSS -->
    <!-- chartist CSS -->
    <link href="~/lib/plugins/chartist-js/dist/chartist.min.css" rel="stylesheet" asp-append-version="true">
    <link href="~/lib/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css" rel="stylesheet" asp-append-version="true">
    <!--c3 CSS -->
    <link href="~/lib/plugins/c3-master/c3.min.css" rel="stylesheet" asp-append-version="true">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
     <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>

     <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>


    <![endif]-->
    @* Description - Used by search engines. Aim for more than 160 characters. *@
    <meta name="description" content="@ViewBag.Description">


    @* Canonical - The URL of the current page. Stops case differences and http/https being treated as different URL's
        by search engines. The settings in this project should make this redundant, unless you are mixing HTTP and
        HTTPS or you have multiple URL's to the same resource which you should avoid.
        (See http://googlewebmastercentral.blogspot.co.uk/2009/02/specify-your-canonical.html). *@
    @*<link rel="canonical" href="">*@


    @* Atom 1.0 Feed - Link to the. This enables the 'Subscribe to this page' button in FireFox. *@
    <link href="@Url.RouteUrl(HomeControllerRoute.GetFeed)" rel="alternate" title="@AppSettings.Value.SiteTitle Feed" type="application/atom+xml">


    @* OpenSearch - (See http://www.hanselman.com/blog/CommentView.aspx?guid=50cc95b1-c043-451f-9bc2-696dc564766d and http://www.opensearch.org) *@
    <link href="@Url.RouteUrl(HomeControllerRoute.GetOpenSearchXml).TrimEnd('/')" rel="search" title="NITA Search" type="application/opensearchdescription+xml">


    <!-- Dashboard 1 Page CSS -->
    <link href="~/lib/css/pages/dashboard4.css" rel="stylesheet" asp-append-version="true">
    <!-- You can change the theme colors from here -->
    @*<link href="~/lib/css/colors/default-dark.css" id="theme" rel="stylesheet" asp-append-version="true">*@

    @* You can use the head section to render additional meta tags. *@
    @RenderSection("head", required: false)


    <!-- Custom CSS -->
    <link href="~/lib/css/style.css" rel="stylesheet" asp-append-version="true">

    @{ 
        //primary color
        var pred = AppSettings.Value.Theme.PrimaryColor.Red;
        var pgreen = AppSettings.Value.Theme.PrimaryColor.Green;
        var pblue = AppSettings.Value.Theme.PrimaryColor.Blue;

        //accent color
        var ared = AppSettings.Value.Theme.AccentColor.Red;
        var agreen = AppSettings.Value.Theme.AccentColor.Green;
        var ablue = AppSettings.Value.Theme.AccentColor.Blue;
    }
    <style>
        /********************
            Top Header
        ******************/
        header.topbar > .top-navbar {
            background: linear-gradient( to bottom right, rgba(@pred,@pgreen,@pblue, 1.0), rgba(@pred,@pgreen,@pblue, 0.86), rgba(@pred,@pgreen,@pblue, 0.56));
        }
        /*******************
        sidebar navigation
        ******************/
        .scroll-sidebar {
            height: calc(100% - 0px);
            /*height: calc(100% - 70px);*/
            background: linear-gradient( to bottom right, rgba(@pred,@pgreen,@pblue,1.0), rgba(@pred,@pgreen,@pblue, 0.86), rgba(@pred,@pgreen,@pblue, 0.56), rgba(@pred,@pgreen,@pblue, 0.36) );
            padding-right: 2px;
            overflow-y: auto !important;
        }

        .sidebar-nav ul li.nav-devider {
            height: 1px;
            /*background: rgba(120, 130, 140, 0.13);*/
            background: rgba(255, 255, 255, 0.15);
            display: block;
            margin: 15px 0;
        }

        .sidebar-nav {
            background: transparent;
            padding: 15px 0 0 0px;
        }

            .sidebar-nav ul li a {
                color: #FFF;
                padding: 8px 35px 8px 15px;
                display: block;
                font-size: 14px;
                font-weight: 400;
            }

            .sidebar-nav > ul > li > a i {
                width: 31px;
                font-size: 24px;
                display: inline-block;
                vertical-align: middle;
                color: #FFF;
            }

            .sidebar-nav .has-arrow::after {
                border-color: #FFF;
            }

            .sidebar-nav > ul > li.active > a {
                /*color: #398bf7;*/
                color: #fff;
                font-weight: 500;
                text-shadow: 2px 2px rgba(@ared,@agreen,@ablue, 1.0);/*text accent color*/
            }

                .sidebar-nav > ul > li.active > a i {
                    /*color: #398bf7;*/
                    color: #fff;
                    text-shadow: 2px 2px rgba(@ared,@agreen,@ablue, 1.0);
                }

            .sidebar-nav ul li a.active, .sidebar-nav ul li a:hover {
                font-weight: 500;
                /*color: #263238;*/
                color: #fff;
                text-shadow: 2px 2px rgba(@ared,@agreen,@ablue, 1.0);
            }

        @@media (min-width: 768px) {
            .mini-sidebar .sidebar-nav #sidebarnav li {
                position: relative;
            }

            .mini-sidebar .sidebar-nav #sidebarnav > li > ul {
                position: absolute;
                left: 70px;
                top: 46px;
                width: 220px;
                padding-bottom: 10px;
                z-index: 1001;
                background: rgba(99, 101, 104, 0.28);
                display: none;
                padding-left: 1px;
            }

            .mini-sidebar .user-profile .profile-img {
                width: 45px;
            }

                .mini-sidebar .user-profile .profile-img .setpos {
                    top: -35px;
                }

            .mini-sidebar.fix-sidebar .left-sidebar {
                position: fixed;
            }

            .mini-sidebar .sidebar-nav #sidebarnav > li:hover > ul {
                height: auto !important;
                overflow: auto;
            }

                .mini-sidebar .sidebar-nav #sidebarnav > li:hover > ul,
                .mini-sidebar .sidebar-nav #sidebarnav > li:hover > ul.collapse {
                    display: block;
                }

            .mini-sidebar .sidebar-nav #sidebarnav > li > a.has-arrow:after {
                display: none;
            }

            .mini-sidebar .left-sidebar {
                width: 70px;
            }

            .mini-sidebar .sidebar-nav #sidebarnav .user-profile > a {
                padding: 12px 20px;
            }

            .mini-sidebar .scroll-sidebar {
                padding-bottom: 0px;
                position: absolute;
            }

            .mini-sidebar .hide-menu,
            .mini-sidebar .nav-small-cap,
            .mini-sidebar .sidebar-footer,
            .mini-sidebar .user-profile .profile-text,
            .mini-sidebar > .label {
                display: none;
            }

            .mini-sidebar .nav-devider {
                width: 70px;
            }

            .mini-sidebar .sidebar-nav {
                background: rgba(99, 101, 104, 0.28);
            }

                .mini-sidebar .sidebar-nav #sidebarnav > li > a {
                    padding: 12px 24px;
                    width: 70px;
                }

                .mini-sidebar .sidebar-nav #sidebarnav > li:hover > a {
                    width: 290px;
                    background: rgba(99, 101, 104, 0.28);
                }

                    .mini-sidebar .sidebar-nav #sidebarnav > li:hover > a .hide-menu {
                        display: inline;
                    }

                    .mini-sidebar .sidebar-nav #sidebarnav > li:hover > a .label {
                        display: none;
                    }
        }
        /*Bootstrap Modals*/
        .modal-title-wrapper {
            color: #fff;
            /*background-color: #4d90fe;*/
            background: linear-gradient( to bottom right, rgb(@pred, @pgreen, @pblue), rgba(@pred, @pgreen, @pblue, 0.86), rgba(@pred, @pgreen, @pblue, 0.56));
        }

            .modal-title-wrapper > h4, .modal-title-wrapper > button {
                color: #fff;
                font-size: 26px !important;
                font-weight: 500;
                padding: 6px 12px;
            }

        .gray-box-caption {
            margin-top: -18px;
        }
            .gray-box-caption > label {
                font-size: 11px;
                font-weight: bold;
                background: #fff;
                padding-right: 5px;
                padding-left: 5px
            }
    </style>
</head>
<body style="font-family: 'Century Gothic' !important">
    @* Skip to main content link for people who use screen readers. sr-only makes this only visible to screen readers.
        See http://a11yproject.com/posts/skip-nav-links/. *@
    <a href="#main" class="sr-only sr-only-focusable">Skip to main content</a>
    @* nav - The main navigation for the site. *@

    @* div id="main" - The main container for the page. Change this to the HTML5 main tag when it gains more browser support. *@
    <div id="main" class="" role="main">
        <div id="main-wrapper" style="">
            @*Header...*@
            @await Html.PartialAsync("_HeaderPartial")
            @*Aside...*@
            <aside class="left-sidebar" style="">
                @await Html.PartialAsync("_AsidePartial")
            </aside>
            <!--[if lt IE 8]>
                <div class="alert alert-warning" role="alert">
                    <p>You are using an outdated browser. Please <a class="alert-link" href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
                </div>
            <![endif]-->
            <div class="page-wrapper" style="">
                @*Body Content*@
                @RenderBody()
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- footer -->
                <!-- ============================================================== -->
                @Html.Partial("_FooterPartial")
                <div class="clearfix"></div>
                <!-- ============================================================== -->
                <!-- End footer -->
                <!-- ============================================================== -->
            </div>
        </div>

    </div>
    <environment names="@EnvironmentName.Development,@EnvironmentName.Production">
        <script asp-append-version="true" src="~/js/jquery.js"></script>
        <script asp-append-version="true" src="~/js/jquery-validate.js"></script>
        <script asp-append-version="true" src="~/js/jquery-validate-unobtrusive.js"></script>
        <script asp-append-version="true" src="~/js/bootstrap.js"></script>
        <script asp-append-version="true" src="~/js/site.js"></script>
    </environment>
    <environment names="@EnvironmentName.Staging">
        @* crossorigin - Enable reporting of errors from third party scripts.
             See https://raygun.com/blog/2015/05/fixing-script-errors/
            asp-subresource-integrity-src - Ensures the CDN resource has not been tampered with.
             See http://rehansaeed.com/subresource-integrity-taghelper-using-asp-net-core *@
        <script crossorigin="anonymous"
                src="@ContentDeliveryNetwork.Google.JQueryUrl"
                asp-subresource-integrity-src="~/lib/js/jquery.js"></script>
        <script crossorigin="anonymous"
                src="@ContentDeliveryNetwork.Microsoft.JQueryValidateUrl"
                asp-subresource-integrity-src="~/lib/js/jquery-validate.js"></script>
        <script crossorigin="anonymous"
                src="@ContentDeliveryNetwork.Microsoft.JQueryValidateUnobtrusiveUrl"></script>
        <script crossorigin="anonymous"
                src="@ContentDeliveryNetwork.Microsoft.BootstrapUrl"
                asp-subresource-integrity-src="~/lib/js/bootstrap.js"></script>
        @* Move site.js to a content delivery network (CDN) for better performance. *@
        <script asp-append-version="true" src="~/lib/js/site.js"></script>
    </environment>

    <script src="~/lib/plugins/bootstrap/js/popper.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="~/lib/js/perfect-scrollbar.jquery.min.js"></script>
    <!--Wave Effects -->
    <script src="~/lib/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="~/lib/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="~/lib/js/custom.min.js"></script>
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
    <!--sparkline JavaScript -->
    <script src="~/lib/plugins/sparkline/jquery.sparkline.min.js"></script>
    <!--morris JavaScript -->
    <script src="~/lib/plugins/chartist-js/dist/chartist.min.js"></script>
    <script src="~/lib/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js"></script>
    <!--c3 JavaScript -->
    <script src="~/lib/plugins/d3/d3.min.js"></script>
    <script src="~/lib/plugins/c3-master/c3.min.js"></script>
    <!-- Popup message jquery -->
    <script src="~/lib/plugins/toast-master/js/jquery.toast.js"></script>
    <!-- Chart JS -->
    @*<script src="~/lib/js/dashboard1.js"></script>*@
    <!-- ============================================================== -->
    <!-- Style switcher -->
    <!-- ============================================================== -->
    <script src="~/lib/plugins/styleswitcher/jQuery.style.switcher.js"></script>
    <!-- wysuhtml5 Plugin JavaScript -->
    <script src="~/lib/plugins/tinymce/tinymce.min.js"></script>


    @RenderSection("scripts", required: false)

    <script>
        jQuery(document).ready(function () {

            if ($(".mce-min").length > 0) {
                tinymce.init({
                    selector: "textarea.mce-min",
                    theme: "modern",
                    height: 150,
                    plugins: [
                        "advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker",
                        "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
                        "save table contextmenu directionality emoticons template paste textcolor"
                    ],
                    toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | l      ink image | print preview media fullpage | forecolor backcolor emoticons",

                });
            }
        });
        jQuery(document).ready(function () {

            typeof (msg) !== "undefined" && (jQuery.toast({
                heading: 'Information',
                text: '' + msg,
                icon: 'info',
                loader: true,        // Change it to false to disable loader
                loaderBg: '#9EC600'  // To change the background
            }))
        })
        JQuery(function () {
            (window.innerWidth > 0 ? window.innerWidth : this.screen.width) < 1170 ? ($("body").addClass("mini-sidebar"),
                $(".navbar-brand span").hide(), $(".sidebartoggler i").addClass("ti-menu")) : ($("body").removeClass("mini-sidebar"),
                    $(".navbar-brand span").show());
            var height = (window.innerHeight > 0 ? window.innerHeight : this.screen.height) - 1;
            //(height -= 0) < 1 && (height = 1), height > 0 && $(".page-wrapper").css("min-height", height + "px");
            (height -= 0) < 1 && (height = 1), height > 0 && (height = (height * 70 / 100), $.each($(".modal-body"), function (i, obj) {
                jQuery(obj).css("min-height", height + "px");
            }));
        });
    </script>
</body>
</html>