﻿@*Bourne Koloh*@
<li>
    <a class="has-arrow waves-effect waves-dark" href="@Url.RouteUrl(PayrollControllerRoute.GetIndex)" aria-expanded="false">
        <i class="fa fa-google-wallet"></i> <span class="hide-menu">Payroll </span>
    </a>
    <ul aria-expanded="false" class="collapse">
        <li>
            <a href="@Url.RouteUrl(PayrollControllerRoute.GetIndex)">Dashboard</a>
        </li>
        <li>
            <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)">Process Payments</a>
            <ul aria-expanded="false" class="collapse">
                <li>
                    <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)">Regular Payments</a>
                    <ul aria-expanded="false" class="collapse">
                        <li>
                            <a href="javascript:void(0)">Salary Processing</a>
                        </li>                       
                    </ul>
                </li>
                <li>
                    <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)">Irregular Payments</a>
                    <ul aria-expanded="false" class="collapse">
                        <li>
                            <a href="@Url.RouteUrl(PayrollControllerRoute.GetAllIrregularPaymentVouchers)">Vouchers</a>
                        </li>
                        <li>
                            <a href="@Url.RouteUrl(PayrollControllerRoute.GetAllProcessedIrregularPayments)">Processing</a>
                        </li>
                        <li>
                            <a href="@Url.RouteUrl(PayrollControllerRoute.GetAllIrregularEarnings)">Earnings</a>
                        </li>

                        <li>
                            <a href="@Url.RouteUrl(PayrollControllerRoute.GetAllIrregularPaymentProjects)">Periods</a>
                        </li>

                        <li>
                            <a href="@Url.RouteUrl(PayrollControllerRoute.GetAllIrregularPaymentProfiles)">Payment Profiles</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        @*<li>
            <a href="javascript:void(0)">Earning &amp; Deductions</a>
        </li>*@
        <li>
            <a class="waves-effect waves-dark" href="@Url.RouteUrl(PayrollControllerRoute.GetSettings)">Settings</a>            
        </li>
        <li>
            <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)">Utilities</a>

            <ul aria-expanded="false" class="collapse">
                <li>
                    <a href="@Url.RouteUrl(PayrollUtilsControllerRoute.GetAllPayAccounts)">Pay Accounts</a>
                </li>

                <li>
                    <a href="@Url.RouteUrl(PayrollUtilsControllerRoute.GetAllSalaryPeriods)">Salary Periods</a>
                </li>
                <li>
                    <a href="@Url.RouteUrl(PayrollUtilsControllerRoute.GetAllPayeRates)">P.A.Y.E Rates</a>
                </li>
                <li>
                    <a href="@Url.RouteUrl(PayrollUtilsControllerRoute.GetAllNhifRates)">NHIF Rates</a>
                </li>

                <li>
                    <a href="@Url.RouteUrl(PayrollUtilsControllerRoute.GetAllJobGroups)">Job Groups</a>
                </li>
                <li>
                    <a href="@Url.RouteUrl(PayrollUtilsControllerRoute.GetAllRenumSchemes)">Renum. Schemes</a>
                </li>
            </ul>
        </li>
    </ul>
</li>
