﻿@inject IOptionsSnapshot<AppSettings> AppSettings
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="text-center">
    <img src="~/img/nita-logo.jpg" height="48" />
    <p class="text-center font-bold" style="font-size:20px"><b>@AppSettings.Value.SiteTitle.ToUpper()</b> <span></span></p>
    <p class="text-center font-bold" style="font-size:12px">@Html.Raw(AppSettings.Value.Address)</p>
</div>
