﻿@*Bourne Koloh*@
<li>
    <a class="has-arrow waves-effect waves-dark" href="javascript:void()" aria-expanded="false">
        <i class="fa fa-gears"></i> <span class="hide-menu">Settings </span>
    </a>
    <ul aria-expanded="false" class="collapse">
        <li>
            <a class="waves-effect waves-dark" href="@Url.RouteUrl(SettingsControllerRoute.GetIndex)">
                Overview
            </a>
        </li>
        <li>
            <a class="waves-effect waves-dark" href="@Url.RouteUrl(SettingsControllerRoute.GetAllLocations)">Locations</a>
        </li>
        <li>
            <a class="waves-effect waves-dark" href="@Url.RouteUrl(SettingsControllerRoute.GetAllDepartments)">Departments</a>
        </li>
        <li>
            <a class="waves-effect waves-dark" href="@Url.RouteUrl(SettingsControllerRoute.GetAllSections)">Sections</a>
        </li>
        <li>
            <a class="waves-effect waves-dark" href="@Url.RouteUrl(SettingsControllerRoute.GetAllDivisions)">Divisions</a>
        </li>
    </ul>
</li>
