﻿@using Microsoft.EntityFrameworkCore;

@inject IOptionsSnapshot<AppSettings> AppSettings
@inject ApplicationDbContext db
@{
    // title - The title of the page which appears in the browser window title. Aim for the title to be less than 70
    //         characters. The site name appears at the end for better SEO.
    ViewBag.Title = "Add Staff";
    // Description - Used by search engines. Aim for more than 160 characters.
    ViewBag.Description = "Create a new Staff User";

    //
    var GenderList = new List<SelectListItem>();

    GenderList.Add(new SelectListItem() { Text = Gender.Male + "", Value = ((int)Gender.Male) + "" });
    GenderList.Add(new SelectListItem() { Text = Gender.Female + "", Value = ((int)Gender.Female) + "" });
    GenderList.Add(new SelectListItem() { Text = Gender.Others + "", Value = ((int)Gender.Others) + "" });
    //
    var SectionsList = new List<SelectListItem>();

    foreach(var sect in db.HrSections){
        SectionsList.Add(new SelectListItem() { Text=sect.Name,Value=sect.Id+""});
    }

    //
    var DisabilityList = new List<SelectListItem>();
    DisabilityList.Add(new SelectListItem() { Text = "" + Disability.NONE, Value = "" + (int)Disability.NONE });
    DisabilityList.Add(new SelectListItem() { Text=""+Disability.Communication,Value=""+(int)Disability.Communication});
    DisabilityList.Add(new SelectListItem() { Text = "" + Disability.Earing, Value = "" + (int)Disability.Earing });
    DisabilityList.Add(new SelectListItem() { Text = "" + Disability.Intellectual, Value = "" + (int)Disability.Intellectual });
    DisabilityList.Add(new SelectListItem() { Text = "" + Disability.Learning, Value = "" + (int)Disability.Learning });
    DisabilityList.Add(new SelectListItem() { Text = "" + Disability.MentalHealth, Value = "" + (int)Disability.MentalHealth });
    DisabilityList.Add(new SelectListItem() { Text = "" + Disability.Physical, Value = "" + (int)Disability.Physical });
    DisabilityList.Add(new SelectListItem() { Text = "" + Disability.Medical, Value = "" + (int)Disability.Medical });
    DisabilityList.Add(new SelectListItem() { Text = "" + Disability.Vision, Value = "" + (int)Disability.Vision });
    DisabilityList.Add(new SelectListItem() { Text = "" + Disability.Others, Value = "" + (int)Disability.Others });

    //
    var MaritalList = new List<SelectListItem>();

    MaritalList.Add(new SelectListItem() {Text=""+MaritalStatus.Single, Value=""+(int)MaritalStatus.Single });
    MaritalList.Add(new SelectListItem() { Text = "" + MaritalStatus.Married, Value = "" + (int)MaritalStatus.Married });
    MaritalList.Add(new SelectListItem() { Text = "" + MaritalStatus.Diforced, Value = "" + (int)MaritalStatus.Diforced });
    MaritalList.Add(new SelectListItem() { Text = "" + MaritalStatus.Windowed, Value = "" + (int)MaritalStatus.Windowed });
    MaritalList.Add(new SelectListItem() { Text = "" + MaritalStatus.Enganged, Value = "" + (int)MaritalStatus.Enganged});
    MaritalList.Add(new SelectListItem() { Text = "" + MaritalStatus.Unspecified, Value = "" + (int)MaritalStatus.Unspecified });
    //
    var ReligionList = new List<SelectListItem>();
    ReligionList.Add(new SelectListItem() { Text = "" + Religion.Christian, Value = "" + (int)Religion.Christian });
    ReligionList.Add(new SelectListItem() { Text = "" + Religion.Muslim, Value = "" + (int)Religion.Muslim });
    ReligionList.Add(new SelectListItem() { Text = "" + Religion.Hindu, Value = "" + (int)Religion.Hindu });
    ReligionList.Add(new SelectListItem() { Text = "" + Religion.Other, Value = "" + (int)Religion.Other });

    //
    var TitleList = new List<SelectListItem>();
    TitleList.Add(new SelectListItem() { Text = "" + Title.Mr, Value = "" + (int)Title.Mr });
    TitleList.Add(new SelectListItem() { Text = "" + Title.Mrs, Value = "" + (int)Title.Mrs });
    TitleList.Add(new SelectListItem() { Text = "" + Title.Miss, Value = "" + (int)Title.Miss });
    TitleList.Add(new SelectListItem() { Text = "" + Title.Rev, Value = "" + (int)Title.Rev });
    TitleList.Add(new SelectListItem() { Text = "" + Title.Sr, Value = "" + (int)Title.Sr });
    TitleList.Add(new SelectListItem() { Text = "" + Title.Other, Value = "" + (int)Title.Other });
    //
    var CountyList = new List<SelectListItem>();

    foreach(var c in db.Counties)
    {
        CountyList.Add(new SelectListItem() { Text = c.Name, Value = c.Id + "" });

    }

    //
    var EmpCategoryList = new List<SelectListItem>();

    foreach(var ec in db.HrEmployeeCategories)
    {
        EmpCategoryList.Add(new SelectListItem() { Text = ec.Name, Value = ec.Id + "" });

    }

    //
    var JobTitleList = new List<SelectListItem>();

    foreach (var jc in db.HrJobCatalogues)
    {
        JobTitleList.Add(new SelectListItem() { Text = jc.Name, Value = jc.Id + "" });

    }

    //
    var DesignationList = new List<SelectListItem>();

    foreach (var jc in db.HrDesignations.ToList())
    {
        DesignationList.Add(new SelectListItem() { Text = jc.Name, Value = jc.Id + "" });

    }

    //
    var LocationList = new List<SelectListItem>();

    foreach (var jc in db.Locations.ToList())
    {
        LocationList.Add(new SelectListItem() { Text = jc.Name, Value = jc.Id + "" });

    }

    //May vary with department
    var SupervisorList = new List<SelectListItem>();
    SupervisorList.Add(new SelectListItem() { Text = "NONE", Value = "0" });
    //
    foreach (var ec in db.HrStaff.Include(g=>g.Section).Include(j=>j.Designation).Where(p=>p.Designation.IsSupervisor).ToList())
    {
        SupervisorList.Add(new SelectListItem() { Text = ec.FullName+ "("+ec.Section.Name+")", Value = ec.Id + "" });

    }

    //
    var BankList = new List<SelectListItem>();

    foreach (var jc in db.PBanks)
    {
        BankList.Add(new SelectListItem() { Text = jc.Name, Value = jc.Id + "" });

    }
    //
    var BranchList = new List<SelectListItem>();


}
@model AddStaffViewModel
@* Code in the head section below gets added at the bottom of the HTML head element. This section can be used to enter
    custom meta tags specific to this page. *@
@section head
    {
    @* Author - (Optional) Used by search engines. The author of the page. *@
    <meta name="author" content="ABNO Softwares Int.">
    @* Add Twitter Card social meta tags so we can customize what happens when our page is shared on Twitter. There are
        several different Twitter Card types we could add, a different one is added on each page as an example.
        These helpers make it very easy to add the meta tags. For best performance, see what tags are generated and
        hand-code them yourself instead of using these helpers. *@
    <twitter-card-summary-large-image username="@@ABNO">
        @* Add Open Graph social meta tags so we can customize what happens when our page is shared on Facebook, Google+,
            Pintrest and other social media websites. There are dozens of Open Graph types, a different one is added on
            each page as an example. These helpers make it very easy to add the meta tags. For best performance, see what
            tags are generated and hand-code them yourself instead of using these helpers. *@
        <open-graph-website site-name="@AppSettings.Value.SiteTitle"
                            title="@ViewBag.Title"
                            main-image="@(new OpenGraphImage(
                            Url.AbsoluteContent("~/img/icons/open-graph-1200x630.png"),
                            ContentType.Png,
                            1200,
                            630))"
                            determiner="Blank">
            @* referrer - Controls what is sent in the HTTP referrer header when a client navigates to an external site. *@
            <meta asp-referrer="OriginWhenCrossOrigin">
            <!-- page CSS -->
            <link href="~/lib/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
            <link href="~/lib/plugins/select2/dist/css/select2.min.css" rel="stylesheet" type="text/css" />
            <link href="~/lib/plugins/switchery/dist/switchery.min.css" rel="stylesheet" />
            <link href="~/lib/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
            <link href="~/lib/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.css" rel="stylesheet" />
            <link href="~/lib/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
            <link href="~/lib/plugins/multiselect/css/multi-select.css" rel="stylesheet" type="text/css" />
            <style>
                .gray-box {
                    /*border: solid thin #ccc;
                    border-radius: 2px 2px;*/
                    margin: 5px;
                    padding: 4px
                }
            </style>
        }
        <div class="container-fluid">
            <form asp-controller="Staff" asp-action="AddStaff" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">

                <div class="row">

                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body p-b-0">
                                <h3 class="card-title">@ViewBag.Title</h3>
                                <h6 class="card-subtitle">Create a new staff account</h6>
                            </div>

                            <div asp-validation-summary="All" class="text-danger"></div>
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs customtab" role="tablist">
                                <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#home2" role="tab"><span class="hidden-sm-up"><i class="ti-home"></i></span> <span class="hidden-xs-down">Basic Info <code>(Required)</code></span></a> </li>
                                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile2" role="tab"><span class="hidden-sm-up"><i class="ti-user"></i></span> <span class="hidden-xs-down">Personal Info <code>(Required)</code></span></a> </li>
                                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#messages2" role="tab"><span class="hidden-sm-up"><i class="ti-email"></i></span> <span class="hidden-xs-down">Hire Info <code>(Required)</code></span></a> </li>
                                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#banking3" role="tab"><span class="hidden-sm-up"><i class="ti-email"></i></span> <span class="hidden-xs-down">Banking Details <code>(Required)</code></span></a> </li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane active" id="home2" role="tabpanel">
                                    <div class="row gray-box">
                                        @*Employee Info*@
                                        <div class="col-sm-6">
                                            <h3>EMPLOYEE INfO.</h3>
                                            <hr />
                                            <div class="form-group">
                                                <label asp-for="FullName" class="col-md-4 control-label"></label>
                                                <div class="col-md-10">
                                                    <input asp-for="FullName" class="form-control" />
                                                    <span asp-validation-for="FullName" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Title" class="col-md-4 control-label"></label>
                                                <div class="col-md-10">
                                                    @Html.DropDownListFor(p => p.Title, TitleList, "-- Select --", new { @class = "select2 form-control custom-select", @style = "width: 100%; height:36px;" })
                                                    <span asp-validation-for="Title" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Dob" class="col-md-4 control-label"></label>
                                                <div class="col-md-10">
                                                    <input asp-for="Dob" class="form-control" value="@DateTime.Now.AddYears(-18).ToString("yyyy-MM-dd")" type="date" />
                                                    <span asp-validation-for="Dob" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Gender" class="col-md-4 control-label"></label>
                                                <div class="col-md-10">
                                                    @Html.DropDownListFor(p => p.Gender, GenderList, "-- Select Gender --", new { @class = "select2 form-control custom-select", @style = "width: 100%; height:36px;" })
                                                    <span asp-validation-for="Gender" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label asp-for="NationalId" class="col-md-4 control-label"></label>
                                                <div class="col-md-10">
                                                    <input asp-for="NationalId" class="form-control" />
                                                    <span asp-validation-for="NationalId" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label asp-for="Disability" class="col-md-4 control-label"></label>
                                                <div class="col-md-10">
                                                    @Html.DropDownListFor(p => p.Disability, DisabilityList, "-- Select Disability --", new { @class = "select2 form-control custom-select", @style = "width: 100%; height:36px;" })
                                                    <span asp-validation-for="Disability" class="text-danger"></span>
                                                </div>
                                            </div>

                                            @*<div class="form-group">
                                            <div class="col-md-offset-2 col-md-10">
                                                <div class="checkbox">
                                                    <label asp-for="RememberMe">
                                                        <input asp-for="RememberMe" />
                                                        @Html.DisplayNameFor(m => m.RememberMe)
                                                    </label>
                                                </div>
                                            </div>
                                        </div>*@
                                        </div>

                                        @*Personal Info*@
                                        <div class="col-sm-6">
                                            <h3>PERSONAL INFO.</h3>
                                            <hr />
                                            <div class="form-group">
                                                <label asp-for="KraPIN" class="col-md-4 control-label"></label>
                                                <div class="col-md-10">
                                                    <input asp-for="KraPIN" class="form-control" />
                                                    <span asp-validation-for="KraPIN" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="NHIF" class="col-md-4 control-label"></label>
                                                <div class="col-md-10">
                                                    <input asp-for="NHIF" class="form-control" />
                                                    <span asp-validation-for="NHIF" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="NSSF" class="col-md-4 control-label"></label>
                                                <div class="col-md-10">
                                                    <input asp-for="NSSF" class="form-control" />
                                                    <span asp-validation-for="NSSF" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Spouse" class="col-md-4 control-label"></label>
                                                <div class="col-md-10">
                                                    <input asp-for="Spouse" class="form-control" />
                                                    <span asp-validation-for="Spouse" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="MaritalStatus" class="col-md-4 control-label"></label>
                                                <div class="col-md-10">
                                                    @Html.DropDownListFor(p => p.MaritalStatus, MaritalList, "-- Select --", new { @class = "select2 form-control custom-select", @style = "width: 100%; height:36px;" })
                                                    <span asp-validation-for="MaritalStatus" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="ReligionId" class="col-md-4 control-label"></label>
                                                <div class="col-md-10">
                                                    @Html.DropDownListFor(p => p.ReligionId, ReligionList, "-- Select --", new { @class = "select2 form-control custom-select", @style = "width: 100%; height:36px;" })
                                                    <span asp-validation-for="ReligionId" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane  p-20" id="profile2" role="tabpanel">

                                    <div class="row gray-box">
                                        @*Imigration*@
                                        <div class="col-sm-6 color-bordered-table">
                                            <h3>IMIGRATION INFO.</h3>
                                            <hr />
                                            <div class="form-group">
                                                <label asp-for="VisaNo" class="col-md-4 control-label"></label>
                                                <div class="col-md-10">
                                                    <input asp-for="VisaNo" class="form-control" />
                                                    <span asp-validation-for="VisaNo" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="VisaExpirery" class="col-md-4 control-label"></label>
                                                <div class="col-md-10">
                                                    <input asp-for="VisaExpirery" class="form-control" value="@DateTime.Now.AddYears(5).ToString("yyyy-MM-dd")" type="date" />
                                                    <span asp-validation-for="VisaExpirery" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="PassportNo" class="col-md-4 control-label"></label>
                                                <div class="col-md-10">
                                                    <input asp-for="PassportNo" class="form-control" />
                                                    <span asp-validation-for="PassportNo" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="PassportExpirery" class="col-md-4 control-label"></label>
                                                <div class="col-md-10">
                                                    <input asp-for="PassportExpirery" class="form-control" value="@DateTime.Now.AddDays(30).ToString("yyyy-MM-dd")" type="date" />
                                                    <span asp-validation-for="PassportExpirery" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Citizenship" class="col-md-4 control-label"></label>
                                                <div class="col-md-10">
                                                    <input asp-for="Citizenship" class="form-control" />
                                                    <span asp-validation-for="Citizenship" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        @*Driver Info.*@
                                        <div class="col-sm-6">
                                            <h3>DRIVING INFO.</h3>
                                            <div class="form-group">
                                                <label asp-for="LicNo" class="col-md-4 control-label"></label>
                                                <div class="col-md-10">
                                                    <input asp-for="LicNo" class="form-control" />
                                                    <span asp-validation-for="LicNo" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="LicClass" class="col-md-4 control-label"></label>
                                                <div class="col-md-10">
                                                    <input asp-for="LicClass" class="form-control" />
                                                    <span asp-validation-for="LicClass" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="LicExpirery" class="col-md-4 control-label"></label>
                                                <div class="col-md-10">
                                                    <input asp-for="LicExpirery" class="form-control" value="@DateTime.Now.AddDays(60).ToString("yyyy-MM-dd")" type="date" />
                                                    <span asp-validation-for="LicExpirery" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="tab-pane p-20" id="messages2" role="tabpanel">

                                    <div class="row gray-box">
                                        @*CONTACT INFO.*@
                                        <div class="col-sm-6">
                                            <h3>CONTACT INFO.</h3>
                                            <div class="form-group">
                                                <label asp-for="Address" class="col-md-4 control-label"></label>
                                                <div class="col-md-10">
                                                    <textarea asp-for="Address" class="form-control"></textarea>
                                                    <span asp-validation-for="Address" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="PostalCode" class="col-md-4 control-label"></label>
                                                <div class="col-md-10">
                                                    <input asp-for="PostalCode" class="form-control" />
                                                    <span asp-validation-for="PostalCode" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="City" class="col-md-4 control-label"></label>
                                                <div class="col-md-10">
                                                    <input asp-for="City" class="form-control" />
                                                    <span asp-validation-for="City" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="County" class="col-md-4 control-label"></label>
                                                <div class="col-md-10">
                                                    @Html.DropDownListFor(p => p.County, CountyList, "-- Select County --", new { @class = "select2 form-control custom-select", @style = "width: 100%; height:36px;" })
                                                    <span asp-validation-for="County" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Street" class="col-md-4 control-label"></label>
                                                <div class="col-md-10">
                                                    <input asp-for="Street" class="form-control" />
                                                    <span asp-validation-for="Street" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="HouseNo" class="col-md-4 control-label"></label>
                                                <div class="col-md-10">
                                                    <input asp-for="HouseNo" class="form-control" />
                                                    <span asp-validation-for="HouseNo" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <hr />
                                            <div class="form-group">
                                                <label asp-for="PhoneNumber" class="col-md-4 control-label"></label>
                                                <div class="col-md-10">
                                                    <input asp-for="PhoneNumber" class="form-control" />
                                                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="PersonalEmail" class="col-md-4 control-label"></label>
                                                <div class="col-md-10">
                                                    <input asp-for="PersonalEmail" class="form-control" />
                                                    <span asp-validation-for="PersonalEmail" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="WorkEmail" class="col-md-4 control-label"></label>
                                                <div class="col-md-10">
                                                    <input asp-for="WorkEmail" class="form-control" />
                                                    <span asp-validation-for="WorkEmail" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        @*Hire Info.*@
                                        <div class="col-sm-6">
                                            <h3>HIRE INFO.</h3>
                                            <hr />
                                            <div class="form-group">
                                                <label asp-for="EmployeeNumber" class="col-md-4 control-label"></label>
                                                <div class="col-md-10">
                                                    <input asp-for="EmployeeNumber" class="form-control" />
                                                    <span asp-validation-for="EmployeeNumber" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="SectionId" class="col-md-4 control-label"></label>
                                                <div class="col-md-10">
                                                    @Html.DropDownListFor(p => p.SectionId, SectionsList, "-- Select Section --", new { @class = "select2 form-control custom-select", @style = "width: 100%; height:36px;" })
                                                    <span asp-validation-for="SectionId" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="JobTitle" class="col-md-4 control-label"></label>
                                                <div class="col-md-10">
                                                    @Html.DropDownListFor(p => p.JobTitle, JobTitleList, "-- Job Title --", new { @class = "select2 form-control custom-select", @style = "width: 100%; height:36px;" })
                                                    <span asp-validation-for="JobTitle" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="EmployeeCategory" class="col-md-5 control-label"></label>
                                                <div class="col-md-10">
                                                    @Html.DropDownListFor(p => p.EmployeeCategory, EmpCategoryList, "-- Employee Category --", new { @class = "select2 form-control custom-select", @style = "width: 100%; height:36px;" })
                                                    <span asp-validation-for="EmployeeCategory" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label asp-for="Designation" class="col-md-4 control-label"></label>
                                                <div class="col-md-10">
                                                    @Html.DropDownListFor(p => p.Designation, DesignationList, "-- Select --", new { @class = "select2 form-control custom-select", @style = "width: 100%; height:36px;" })
                                                    <span asp-validation-for="Designation" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Location" class="col-md-4 control-label"></label>
                                                <div class="col-md-10">
                                                    @Html.DropDownListFor(p => p.Location, LocationList, "-- Select Location --", new { @class = "select2 form-control custom-select", @style = "width: 100%; height:36px;" })
                                                    <span asp-validation-for="Location" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="AppointmentDate" class="col-md-5 control-label"></label>
                                                <div class="col-md-10">
                                                    <input asp-for="AppointmentDate" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" type="date" />
                                                    <span asp-validation-for="AppointmentDate" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="HireDate" class="col-md-4 control-label"></label>
                                                <div class="col-md-10">
                                                    <input asp-for="HireDate" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" type="date" />
                                                    <span asp-validation-for="HireDate" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Supervisor" class="col-md-4 control-label"></label>
                                                <div class="col-md-10">
                                                    @Html.DropDownListFor(p => p.Supervisor, SupervisorList, "-- Select Supervisor --", new { @class = "select2 form-control custom-select", @style = "width: 100%; height:36px;" })
                                                    <span asp-validation-for="Supervisor" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane p-20" id="banking3" role="tabpanel">

                                    <h3>BANKING DETAILS.</h3>
                                    <hr />

                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Bank</label>
                                        <div class="col-md-10">
                                            @Html.DropDownList("Bank", BankList, "-- Select Bank --", new { @class = "select2 form-control custom-select", @style = "width: 100%; height:36px;" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="BankBranchId" class="col-md-4 control-label"></label>
                                        <div class="col-md-10">
                                            @Html.DropDownListFor(p => p.BankBranchId, BranchList, "-- Select Branch --", new { @class = "select2 form-control custom-select", @style = "width: 100%; height:36px;" })
                                            <span asp-validation-for="BankBranchId" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="BankAccName" class="col-md-5 control-label"></label>
                                        <div class="col-md-10">
                                            <input asp-for="BankAccName" class="form-control" />
                                            <span asp-validation-for="BankAccName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="BankAccNo" class="col-md-4 control-label"></label>
                                        <div class="col-md-10">
                                            <input asp-for="BankAccNo" class="form-control" />
                                            <span asp-validation-for="BankAccNo" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="form-group">
                    <div class="col-md-offset-5 col-md-10">
                        <button type="submit" class="btn btn-info">Submit</button>
                    </div>
                </div>
            </form>
        </div>

        @* Code in the scripts section below gets added at the bottom of the HTML body element, below other scripts. This
    section can be used to enter custom scripts specific to this page. *@
        @section scripts
        {
        <script type="text/javascript">
            $(function () {
                $(".preloader").fadeOut();
            });

        </script>
        <!-- This page plugins -->
        <!-- ============================================================== -->
        <script src="~/lib/plugins/switchery/dist/switchery.min.js"></script>
        <script src="~/lib/plugins/select2/dist/js/select2.full.min.js" type="text/javascript"></script>
        <script src="~/lib/plugins/bootstrap-select/bootstrap-select.min.js" type="text/javascript"></script>
        <script src="~/lib/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
        <script src="~/lib/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="~/lib/plugins/multiselect/js/jquery.multi-select.js"></script>

        <script>
            // For select 2
            $(".select2").select2();
            $('.selectpicker').selectpicker();
        </script>
        <script>
            jQuery('#Bank').change(function () {
                var bank = jQuery('#Bank option:selected').val();
                jQuery.getJSON('/bbranches?bid=' + bank, function (res) {
                    console && console.log(JSON.stringify(res))
                    var data = JSON.parse(res.data);
                    res.s === "1" && (jQuery('#BankBranchId').empty(),
                        jQuery("#BankBranchId").append('<option value="0"> -- Select Branch -- </option>'),
                        jQuery.each(data, function (index, item) {
                            //
                            jQuery('#BankBranchId').append(jQuery('<option>', {
                                value: item.val,
                                text: item.txt + ' Branch'
                            }));
                        }))

                })
            });
        </script>
        }
