﻿@inject IOptionsSnapshot<AppSettings> AppSettings
@{
    // title - The title of the page which appears in the browser window title. Aim for the title to be less than 70
    //         characters. The site name appears at the end for better SEO.
    ViewBag.Title = "Update Staff";
    // Description - Used by search engines. Aim for more than 160 characters.
    ViewBag.Description = "Update a staff profile.";
}

@* Code in the head section below gets added at the bottom of the HTML head element. This section can be used to enter
    custom meta tags specific to this page. *@
@section head
{
    @* Author - (Optional) Used by search engines. The author of the page. *@
    <meta name="author" content="ABNO Softwares Int.">
    @* Add Twitter Card social meta tags so we can customize what happens when our page is shared on Twitter. There are
        several different Twitter Card types we could add, a different one is added on each page as an example.
        These helpers make it very easy to add the meta tags. For best performance, see what tags are generated and
        hand-code them yourself instead of using these helpers. *@
    <twitter-card-summary-large-image username="@@ABNO">
        @* Add Open Graph social meta tags so we can customize what happens when our page is shared on Facebook, Google+,
            Pintrest and other social media websites. There are dozens of Open Graph types, a different one is added on
            each page as an example. These helpers make it very easy to add the meta tags. For best performance, see what
            tags are generated and hand-code them yourself instead of using these helpers. *@
        <open-graph-website site-name="@AppSettings.Value.SiteTitle"
                            title="@ViewBag.Title"
                            main-image="@(new OpenGraphImage(
                            Url.AbsoluteContent("~/img/icons/open-graph-1200x630.png"),
                            ContentType.Png,
                            1200,
                            630))"
                            determiner="Blank">
            @* referrer - Controls what is sent in the HTTP referrer header when a client navigates to an external site. *@
            <meta asp-referrer="OriginWhenCrossOrigin">

           
}
            <style>
                html, body, body-content {
                    height: 100% !important;
                }

                .description {
                    padding: 30px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 25%;
                    z-index: 999;
                    
                }
                
            </style>

            <div class='description' style="font-size:16px">
                <h1 style="text-transform:uppercase">Unisol Portal<br />(STAFF PERSPECTIVE)</h1>
                <hr>
               
                <hr style="margin-top:400px">
                <p class='author' style="color:#fff;font-size:12px">
                    Made with
                    <i class='fa fa-heart' style="color:maroon"></i>
                    by Abno Softwares Int.
                </p>
            </div>
            <link asp-append-version="true" rel="stylesheet" href="/lib/css/ss.css" />



            <section class="wrapper opening hide-UI view-2D zoom-large data-close controls-close">
                @*<div id="navbar">
                <a id="toggle-data" href="#data"><i class="icon-data"></i>Data</a>
                <h1>3D Solar System<br><span>by <a href="https://twitter.com/JulianGarnier" target="_blank">@@JulianGarnier</a></span></h1>
                <a id="toggle-controls" href="#controls"><i class="icon-controls"></i>Controls</a>
            </div>*@
                <div id="data">
                    <a class="sun" title="sun" href="#sunspeed">Sun</a>
                    <a class="mercury" title="mercury" href="#mercuryspeed">Mercury</a>
                    <a class="venus" title="venus" href="#venusspeed">Venus</a>
                    <a class="earth active" title="earth" href="#earthspeed">Earth</a>
                    <a class="mars" title="mars" href="#marsspeed">Mars</a>
                    <a class="jupiter" title="jupiter" href="#jupiterspeed">Jupiter</a>
                    <a class="saturn" title="saturn" href="#saturnspeed">Saturn</a>
                    <a class="uranus" title="uranus" href="#uranusspeed">Uranus</a>
                    <a class="neptune" title="neptune" href="#neptunespeed">Neptune</a>
                </div>
                <div id="controls" style="">
                    <label class="set-view">
                        <input type="checkbox">
                    </label>
                    <label class="set-zoom">
                        <input type="checkbox">
                    </label>
                    <label>
                        <input type="radio" class="set-speed" name="scale" checked>
                        <span>Speed</span>
                    </label>
                    <label>
                        <input type="radio" class="set-size" name="scale">
                        <span>Size</span>
                    </label>
                    <label>
                        <input type="radio" class="set-distance" name="scale">
                        <span>Distance</span>
                    </label>
                </div>
                <div id="universe" class="scale-stretched">
                    <div id="galaxy">
                        <div id="solar-system" class="earth">
                            <div id="mercury" class="orbit">
                                <div class="pos">
                                    <div class="planet">
                                        <dl class="infos">
                                            <dt>Mercury</dt>
                                            <dd><span></span></dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                            <div id="venus" class="orbit">
                                <div class="pos">
                                    <div class="planet">
                                        <dl class="infos">
                                            <dt>Venus</dt>
                                            <dd><span></span></dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                            <div id="earth" class="orbit">
                                <div class="pos">
                                    <div class="orbit">
                                        <div class="pos">
                                            <div class="moon"></div>
                                        </div>
                                    </div>
                                    <div class="planet">
                                        <dl class="infos">
                                            <dt>Earth</dt>
                                            <dd><span></span></dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                            <div id="mars" class="orbit">
                                <div class="pos">
                                    <div class="planet">
                                        <dl class="infos">
                                            <dt>Mars</dt>
                                            <dd><span></span></dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                            <div id="jupiter" class="orbit">
                                <div class="pos">
                                    <div class="planet">
                                        <dl class="infos">
                                            <dt>Jupiter</dt>
                                            <dd><span></span></dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                            <div id="saturn" class="orbit">
                                <div class="pos">
                                    <div class="planet">
                                        <div class="ring"></div>
                                        <dl class="infos">
                                            <dt>Saturn</dt>
                                            <dd><span></span></dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                            <div id="uranus" class="orbit">
                                <div class="pos">
                                    <div class="planet">
                                        <dl class="infos">
                                            <dt>Uranus</dt>
                                            <dd><span></span></dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                            <div id="neptune" class="orbit">
                                <div class="pos">
                                    <div class="planet">
                                        <dl class="infos">
                                            <dt>Neptune</dt>
                                            <dd><span></span></dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                            <div id="sun">
                                <dl class="infos">
                                    <dt>Sun</dt>
                                    <dd><span></span></dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


@* Code in the scripts section below gets added at the bottom of the HTML body element, below other scripts. This
    section can be used to enter custom scripts specific to this page. *@
@section scripts
{
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
            <script>
                "use strict";
                "object" != typeof window.CP && (window.CP = {}), window.CP.PenTimer = {
                    programNoLongerBeingMonitored: !1, timeOfFirstCallToShouldStopLoop: 0, _loopExits: {}, _loopTimers: {}, START_MONITORING_AFTER: 2e3, STOP_ALL_MONITORING_TIMEOUT: 5e3, MAX_TIME_IN_LOOP_WO_EXIT: 2200, exitedLoop: function (o) {
                        this._loopExits[o] = !0
                    }, shouldStopLoop: function (o) {
                        if (this.programKilledSoStopMonitoring) return !0;
                        if (this.programNoLongerBeingMonitored) return !1;
                        if (this._loopExits[o]) return !1; var t = this._getTime();
                        if (0 === this.timeOfFirstCallToShouldStopLoop) return this.timeOfFirstCallToShouldStopLoop = t, !1;
                        var i = t - this.timeOfFirstCallToShouldStopLoop; if (i < this.START_MONITORING_AFTER) return !1;
                        if (i > this.STOP_ALL_MONITORING_TIMEOUT) return this.programNoLongerBeingMonitored = !0, !1;
                        try { this._checkOnInfiniteLoop(o, t) } catch (o) {
                            return this._sendErrorMessageToEditor(), this.programKilledSoStopMonitoring = !0, !0
                        } return !1
                    }, _sendErrorMessageToEditor: function () {
                        try {
                            if (this._shouldPostMessage()) {
                                var o = { action: "infinite-loop", line: this._findAroundLineNumber() };
                                parent.postMessage(JSON.stringify(o), "*")
                            } else this._throwAnErrorToStopPen()
                        } catch (o) { this._throwAnErrorToStopPen() }
                    }, _shouldPostMessage: function () {
                        return document.location.href.match(/boomerang/)
                    }, _throwAnErrorToStopPen: function () {
                        throw "We found an infinite loop in your Pen. We've stopped the Pen from running. Please correct it or contact support@codepen.io."
                    }, _findAroundLineNumber: function () {
                        var o = new Error, t = 0;
                        if (o.stack) { var i = o.stack.match(/boomerang\S+:(\d+):\d+/); i && (t = i[1]) } return t
                    }, _checkOnInfiniteLoop: function (o, t) {
                        if (!this._loopTimers[o]) return this._loopTimers[o] = t, !1; var i = t - this._loopTimers[o];
                        if (i > this.MAX_TIME_IN_LOOP_WO_EXIT)
                            throw "Infinite Loop found on loop: " + o
                    }, _getTime: function () { return +new Date }
                }, window.CP.shouldStopExecution = function (o) {
                    var t = window.CP.PenTimer.shouldStopLoop(o);
                    return t === !0 && console.warn("[CodePen]: An infinite loop (or a loop taking too long) was detected, so we stopped its execution. Sorry!"), t
                }, window.CP.exitedLoop = function (o) {
                    window.CP.PenTimer.exitedLoop(o)
                };
            </script>
            <script src="/lib//lib/js/prefixfree.js"></script>
            }