﻿<div id="assignEmployee" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header btn-danger ">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-white"> Assign ({{academics.currentTrainee.fullName}}) To Employer</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="">
                        <h3 class="box-title m-b-0">Available Employers</h3>

                        <div class="row">
                            <div class="col-sm-12 col-xs-12">
                                
                                    <div class="form-group">

                                        <table class="table">
                                            <tr>
                                                <td>Employer Name</td>
                                                <td></td>
                                            </tr>
                                            <tr ng-repeat="employers in academics.trainerEmployers" ng-init="employers.showForm=false">
                                                <td>{{employers.name}}(supervisor)</td>
                                                <td ng-init="employers.assigned=false">
                                                    <a href="" class="btn btn-primary btn-xs btn-sharp-corners"
                                                       ng-hide="employers.showForm"
                                                       ng-click="employers.showForm=true">
                                                        Select Employer
                                                    </a>

                                                    <div ng-show="employers.showForm">
                                                        <form name="employerDetails"  ng-submit="academics.assignTraineeToEmployer(employers,employerSupervisor) ">
                                                            <div style="padding-bottom: 10px !important;">
                                                                <input placeholder="Contact person" ng-model="employerSupervisor.ContactPerson"
                                                                       required class="form-control  btn-sharp-corners"/>
                                                            </div>
                                                            <div style="padding-bottom: 10px !important;">
                                                                <input placeholder="Contact person Mobile" ng-model="employerSupervisor.ContactPersonMobile"
                                                                       required class="form-control  btn-sharp-corners"/>
                                                            </div>
                                                            <div style="padding-bottom: 10px !important;">
                                                                <input placeholder="Contact person Email" type="email"
                                                                       ng-model="employerSupervisor.ContactPersonEmail"
                                                                       required class="form-control  btn-sharp-corners"/>
                                                            </div>

                                                            <button class="btn btn-sm btn-sharp-corners btn-info"
                                                                    ng-disabled="employerDetails.$invalid" type="submit"
                                                                   >
                                                                Assign {{academics.currentTrainee.fullName}} To {{employers.name}}
                                                            </button>
                                                        </form>
                                                        <a href="" class="btn btn-primary btn-xs btn-sharp-corners"
                                                           ng-show="employers.showForm"
                                                           ng-click="employers.showForm=false">
                                                            Close Assignment
                                                        </a>
                                                    </div>

                                                </td>
                                            </tr>

                                        </table>

                                    </div>
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>