﻿<div class="row">
    <div class="col-12">
        <ul class="nav nav-tabs customtab" role="tablist" ng-init="academics.currentInternshipPage='assignEmployer'">
            <li class="nav-item" ng-init="pDetails='active'">
                <a class="nav-link {{pDetails}}" href="" ng-click="academics.currentInternshipPage='assignEmployer'">
                    <span class="hidden-sm-up">
                        <i class="ti-home"></i>
                    </span>
                    <span class="hidden-xs-down">
                        Internship Placement
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{PlacementDetails}}" href="" ng-click="academics.currentInternshipPage='internshipScore'">
                    <span class="hidden-sm-up">
                        <i class="ti-user"></i>
                    </span>
                    <span class="hidden-xs-down">
                        Intership Scoring
                    </span>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link {{AttDetails}}" href="" ng-click="academics.currentInternshipPage='EndInternship'">
                    <span class="hidden-sm-up">
                        <i class="ti-email"></i>
                    </span>
                    <span class="hidden-xs-down">
                        End Internship Session
                    </span>
                </a>
            </li>
        </ul>
        <div class="card btn-sharp-corners" ng-show="academics.currentInternshipPage=='assignEmployer'">
            <div>
                <div class="row">
                    <div class="col-12">

                        <div class="">

                            <div class="">
                                <div class="card-body">
                                    <h4 class="card-title">
                                        Assign Beneficiaries To Employers
                                        <i>
                                            <small class="extra-info">{{academics.traineesCompressedList.length}} records</small>
                                        </i>
                                    </h4>

                                    <form name="search">
                                        <div class=" row" style="padding-bottom: 10px">

                                            <div class="pull-right col-md-2">
                                                <select class="form-control btn-sharp-corners" ng-change="trainee.getCountyProviders({countyId:academics.searchTraineeAttendance.countyId},true)"
                                                        ng-model="academics.searchTraineeAttendance.countyId">
                                                    <option selected disabled="">--COUNTY--</option>
                                                    <option value="{{county.id}}" ng-repeat="county in trainee.counties">{{county.name}}</option>
                                                </select>
                                            </div>

                                            <div class="pull-right col-md-2" ng-model="academics.searchTraineeAttendance.district">
                                                <input class="form-control btn-sharp-corners" placeholder="Sub-county" />
                                            </div>
                                            <div class="pull-right col-md-3" ng-init="trainee.currentCourses={}">
                                                <select class="form-control btn-sharp-corners"
                                                        ng-change="trainee.currentSelectedCourses(academics.searchTraineeAttendance.trainerId)"
                                                        ng-model="academics.searchTraineeAttendance.trainerId">

                                                    <option selected disabled="">--Select Provider--</option>
                                                    <option value="{{provider.provider.id}}"
                                                            ng-repeat="provider in trainee.providersCountyList">
                                                        {{provider.provider.fullName}}
                                                    </option>
                                                </select>

                                            </div>

                                            <div class="pull-right col-md-3" ng-model="academics.searchTraineeAttendance.tradeAreaId">

                                                <select class="form-control btn-sharp-corners" placeholder="Trade Area">
                                                    <option selected disabled="">--Select Trade area--</option>
                                                    <option value="{{course.tradeAreaId}}" ng-repeat="course in trainee.providersCurrentCoursesList">{{course.name}}</option>
                                                </select>
                                            </div>

                                            <div class=" col-md-2">
                                                <button class="btn btn-primary form-control btn-sharp-corners"
                                                        ng-click="academics.getSearchTraineeAttendance(academics.searchTraineeAttendance)">
                                                    <i class="fa fa-search"></i> Search
                                                </button>
                                            </div>

                                        </div>
                                    </form>

                                    <div>

                                        <input class="form-control btn-sharp-corners btn-sharp-corners" ng-model="academics.searchTraineeAttendanceFilter"
                                               placeholder="Search Trainee" />
                                    </div>
                                    <div class="table-responsive col-md-12">

                                        <table class="table">
                                            <thead>
                                                <tr>

                                                    <th>#</th>
                                                    <th>Beneficiary</th>
                                                    <th>ID/Passport No.</th>

                                                    <th>County</th>
                                                    <th>Report</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="traineeList in academics.traineesCompressedList| filter : academics.searchTraineeAttendanceFilter">

                                                    <td>{{$index+1}}</td>
                                                    <td>{{traineeList.beneficiary.fullName}}</td>
                                                    <td>{{traineeList.beneficiary.passportNo}}</td>
                                                    <td>
                                                        <a href="">{{traineeList.beneficiary.name}}</a>
                                                    </td>
                                                    <td>
                                                        <div ng-show="!traineeList.alreadyReported.reportStage">
                                                            <i class="text-danger"> Not Eligible</i>
                                                        </div>

                                                        <div ng-show="traineeList.alreadyReported.internshipStage"
                                                             ng-click="academics.getEmployerDetails(traineeList.beneficiary)"
                                                             data-toggle="modal" data-target="#viewEmployer">
                                                            <a href="">View Employer Details</a>
                                                        </div>
                                                        <div ng-show="traineeList.alreadyReported.reportStage&&!traineeList.alreadyReported.internshipStage">
                                                            <small>{{traineeList.alreadyReported.reportStageDate}}</small>
                                                            <button ng-click="academics.getProviderEmployers(traineeList)" class="btn btn-sharp-corners btn-xs btn-info"
                                                                    data-toggle="modal" data-target="#assignEmployee">
                                                                <i class="fa fa-user"></i> Assign Employeee
                                                            </button>
                                                        </div>
                                                    </td>
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                        </table>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <div>
            @Html.Partial("_BenToEmployer")
        </div>
        <div>
            @Html.Partial("_InternshipScoring")
        </div>
        <div>
            @Html.Partial("_PlacementDetails")
        </div>
    </div>
</div>