﻿<div class="card btn-sharp-corners" ng-show="academics.currentInternshipPage=='internshipScore'">
    <div>
        <div class="row">
            <div class="col-12">

                <div class="">

                    <div class="">
                        <div class="card-body">
                            <h4 class="card-title">
                                Beneficiaries Internship Marks Entry
                                <i>
                                    <small class="extra-info">{{trainee.traineesCompressedList.length}} records</small>
                                </i>
                            </h4>

                            <form name="search">
                                <div class=" row" style="padding-bottom: 10px">

                                    <div class="pull-right col-md-2">
                                        <select class="form-control btn-sharp-corners" ng-change="trainee.getCountyProviders({countyId:academics.searchTraineeAttendance.countyId},true)"
                                                ng-model="academics.searchTraineeAttendance.countyId">
                                            <option selected disabled="">--COUNTY--</option>
                                            <option value="{{county.id}}" ng-repeat="county in trainee.counties">{{county.name}}</option>
                                        </select>
                                    </div>

                                    <div class="pull-right col-md-2" ng-model="academics.searchTraineeAttendance.district">
                                        <input class="form-control btn-sharp-corners" placeholder="Sub-county"/>
                                    </div>
                                    <div class="pull-right col-md-3" ng-init="trainee.currentCourses={}">
                                        <select class="form-control btn-sharp-corners"
                                                ng-change="trainee.currentSelectedCourses(academics.searchTraineeAttendance.trainerId)"
                                                ng-model="academics.searchTraineeAttendance.trainerId">

                                            <option selected disabled="">--Select Provider--</option>
                                            <option value="{{provider.provider.id}}"
                                                    ng-repeat="provider in trainee.providersCountyList">
                                                {{provider.provider.fullName}}
                                            </option>
                                        </select>

                                    </div>

                                    <div class="pull-right col-md-3" ng-model="academics.searchTraineeAttendance.tradeAreaId">

                                        <select class="form-control btn-sharp-corners" placeholder="Trade Area">
                                            <option selected disabled="">--Select Trade area--</option>
                                            <option value="{{course.tradeAreaId}}" ng-repeat="course in trainee.providersCurrentCoursesList">{{course.name}}</option>
                                        </select>
                                    </div>

                                    <div class=" col-md-2">
                                        <button class="btn btn-primary form-control btn-sharp-corners"
                                                ng-click="academics.getTraineesForScoring(academics.searchTraineeAttendance)">
                                            <i class="fa fa-search"></i> Search
                                        </button>
                                    </div>

                                </div>
                            </form>

                            <div>

                                <input class="form-control btn-sharp-corners btn-sharp-corners" ng-model="academics.searchTraineeAttendanceFilter"
                                       placeholder="Search Trainee"/>
                            </div>
                            <div class="" style="padding-top: 10px !important;">
                                <form name="saveScores">
                                    <div class="row">


                                        <div class="col-md-3">
                                            <input class="form-control btn-sharp-corners" required=""
                                                   placeholder="Convert Marks out of() " ng-model="trainee.attendanceForm.NumberOfType">

                                        </div>
                                        <div class="col-md-3">
                                            <button ng-disabled="attendance.$invalid" type="submit"
                                                    ng-click="trainee.saveAttendance(trainee.attendanceForm,trainee.traineesCompressedList)"
                                                    class="btn form-control btn-sharp-corners btn-info">
                                                Save Scores
                                            </button>
                                        </div>

                                    </div>
                                </form>
                            </div>
                            <div class="table-responsive col-md-12">

                                <table class="table">
                                    <thead>
                                    <tr>

                                        <th>#</th>
                                        <th>Beneficiary</th>
                                        <th>ID/Passport No.</th>

                                        <th>Trade Area</th>
                                        <th>action</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="traineeList in academics.traineesInternshipList| filter : academics.searchTraineeAttendanceFilter">

                                        <td>{{$index+1}}</td>
                                        <td>{{traineeList.fullName}}</td>
                                        <td>{{traineeList.passportNo}}</td>
                                        <td>
                                            <a href="">{{traineeList.traineeTradeArea.tradeArea.name}}</a>
                                        </td>
                                        <td>
                                            <div ng-show="!traineeList.beneficiaryStage.reportStage">
                                                <i class="text-danger"> Not Eligible</i>
                                            </div>

                                            <div ng-show="traineeList.beneficiaryStage.internshipStage">
                                                <input placeholder="marks" ng-model="traineeList.internshipScore.score"/>
                                            </div>

                                        </td>
                                        <td></td>
                                    </tr>
                                    </tbody>
                                </table>


                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>