﻿<div id="viewEmployer" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header btn-danger ">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-white">Employer Details for {{academics.currentTrainee.fullName}}</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="">


                        <div class="row">
                            <div class="col-sm-12 col-xs-12">

                                Employer Name : {{academics.traineeEmployer.name}} |
                                Industry : {{academics.traineeEmployer.industry}}<br>
                                Contact Person : {{academics.traineeEmployer.contactPerson}} |
                                Contact Mobile : {{academics.traineeEmployer.contactPersonMobile}}
                                | Contact Email : {{academics.traineeEmployer.contactPersonEmail}}<br />
                                Date Assigned : {{academics.traineeEmployer.dateCreated}}<br>
                                <button class="btn pull-right btn-xs btn-danger btn-sharp-corners">
                                    Remove Employer
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>