﻿<link href="~/lib/css/custome-css/custome-css.css" rel="stylesheet"/>
<script src="~/CurriculumJs/angular.js"></script>
<script src="~/CurriculumJs/angular-route.js"></script>
<script src="~/CurriculumJs/AngularController/trainees.js"></script>
<script src="~/CurriculumJs/AngularController/academics.js"></script>

<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div ng-app="TraineesApp" ng-cloak="" ng-controller="TraineesController">

<div class="container-fluid" ng-controller="AcademicsController">
<div class="row page-titles col-md-12 bottom-bordered">


    <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">Academics </h3>
    </div>
    <div class="col-md-7 text-right" style="padding-right: 0px" ng-init="academics.showAddCategory=false">


        <div class="btn-group ml-auto m-t-10" ng-init="menu='Academics Menu'">
            <a href="JavaScript:void(0)" class="btn-sharp-corners btn btn-primary dropdown-toggle"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{menu}}
            </a>
            <div class="dropdown-menu dropdown-menu-right" x-placement="top-end"
                 style="position: absolute; transform: translate3d(-184px, -197px, 0px); top: 0px; left: 0px; will-change: transform;">
                <a class="dropdown-item" ng-click="academics.currentPage='training';menu='Training(Continous)'" href="javascript:void(0)">
                    Training(Continous)
                </a>
                <a class="dropdown-item" ng-click="academics.currentPage='internship';menu='Internship'" href="javascript:void(0)">
                    Internship
                </a>
                <a class="dropdown-item" ng-click="academics.currentPage='assessment';menu='Assessment'" href="javascript:void(0)">
                    Assesment
                </a>
            </div>
        </div>

    </div>
    <div class="">
        <button class="right-side-toggle waves-effect waves-light btn-inverse
                        btn btn-circle btn-sm pull-right m-l-10">
            <i class="ti-settings text-white"></i>
        </button>
    </div>
</div>


<div ng-show="academics.currentPage=='training'">
    <div class="row">
        <div class="col-12">
            <div class="col-md-12 text-right btn-md no-padding-sides">
                <button type="button" class="btn btn-info btn-sharp-corners"
                        ng-click="trainee.currentPage='addTrainee'" style="padding-bottom: 10px;">
                    Academic Cycle Settings
                </button>
                <button type="button" class="btn btn-info btn-sharp-corners"
                        ng-click="trainee.currentPage='addTrainee'" style="padding-bottom: 10px;">
                    Trainings
                </button>

            </div>
            <div class="clearfix">&nbsp;</div>
            <div class="card btn-sharp-corners">

                <div class="">
                    <div class="card-body">
                        <h4 class="card-title">
                            Beneficiaries Reporting
                            <i>
                                <small class="extra-info">{{academics.traineesCompressedList.length}} records</small>
                            </i>
                        </h4>

                        <form name="search">
                            <div class=" row" style="padding-bottom: 10px">

                                <div class="pull-right col-md-2">
                                    <select class="form-control btn-sharp-corners"
                                            ng-change="academics.clearTraineesCompressedList();trainee.getCountyProviders({countyId:academics.searchTraineeAttendance.countyId},true)
                                           "
                                            ng-model="academics.searchTraineeAttendance.countyId">
                                        <option selected disabled="">--COUNTY--</option>
                                        <option value="{{county.id}}" ng-repeat="county in trainee.counties">{{county.name}}</option>
                                    </select>
                                </div>

                                <div class="pull-right col-md-2" ng-model="academics.searchTraineeAttendance.district">
                                    <input class="form-control btn-sharp-corners" placeholder="Sub-county"/>
                                </div>
                                <div class="pull-right col-md-3" ng-init="trainee.currentCourses={}">
                                    <select class="form-control btn-sharp-corners"
                                            ng-change="trainee.currentSelectedCourses(academics.searchTraineeAttendance.trainerId)"
                                            ng-model="academics.searchTraineeAttendance.trainerId">

                                        <option selected disabled="">--Select Provider--</option>
                                        <option value="{{provider.provider.id}}"
                                                ng-repeat="provider in trainee.providersCountyList">
                                            {{provider.provider.fullName}}
                                        </option>
                                    </select>

                                </div>

                                <div class="pull-right col-md-3" ng-model="academics.searchTraineeAttendance.tradeAreaId">

                                    <select class="form-control btn-sharp-corners" placeholder="Trade Area">
                                        <option selected disabled="">--Select Trade area--</option>
                                        <option value="{{course.tradeAreaId}}" ng-repeat="course in trainee.providersCurrentCoursesList">{{course.name}}</option>
                                    </select>
                                </div>

                                <div class=" col-md-2">
                                    <button class="btn btn-primary form-control btn-sharp-corners"
                                            ng-click="academics.getSearchTraineeReporting(academics.searchTraineeAttendance)">
                                        <i class="fa fa-search"></i> Search
                                    </button>
                                </div>

                            </div>
                        </form>

                        <div>

                            <input class="form-control btn-sharp-corners btn-sharp-corners" ng-model="academics.searchTraineeAttendanceFilter"
                                   placeholder="Search Trainee"/>
                        </div>
                        <div class="table-responsive col-md-12">

                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Select</th>
                                    <th>#</th>
                                    <th>Beneficiary</th>
                                    <th>ID/Passport No.</th>

                                    <th>County</th>
                                    
                                    
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="traineeList in academics.traineesReportingList| filter : academics.searchTraineeAttendanceFilter">
                                    <td>
                                        <label class="custom-control custom-checkbox" ng-show="!traineeList.alreadyReported.reportStage">
                                            <input type="checkbox" class="custom-control-input"
                                                   ng-model="traineeList.checkedStatus"
                                                   ng-click="academics.addCheckedTraine(traineeList.beneficiary.id,beneficiary.checkedStatus)">
                                            <span class="custom-control-indicator"></span>
                                        </label>
                                    </td>
                                    <td>{{$index+1}}</td>
                                    <td>{{traineeList.beneficiary.fullName}}</td>
                                    <td>{{traineeList.beneficiary.passportNo}}</td>
                                    <td>
                                        <a href="">{{traineeList.beneficiary.name}}</a>
                                    </td>
@*                                    <td>*@
@*                                        <div ng-show="!traineeList.alreadyReported.reportStage">*@
@*                                            <input class=""/>*@
@*                                            <button class="btn btn-primary btn-sm btn-info col-md-2" ng-disabled="traineeList.checkedStatus">*@
@**@
@*                                                Report*@
@*                                            </button>*@
@*                                        </div>*@
@*                                        <div ng-show="traineeList.alreadyReported.reportStage">*@
@*                                            Reported On {{traineeList.alreadyReported.reportStageDate}}*@
@*                                        </div>*@
@*                                    </td>*@
                                    
                                </tr>
                                </tbody>
                            </table>
                            <form name="reportTrainee" novalidate="">
                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="dateReported">Date reported</label>
                                            <div class="input-group">
                                                <div class="input-group-addon btn-sharp-corners">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                <input ng-model="dateReported" for="dateReported" type="date"
                                                       class="form-control btn-md btn-sharp-corners" id="dateReported" placeholder="Date Reported" required>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="FullName">&nbsp;</label>
                                            <div class="input-group">
                                                <button class="btn btn-md btn-sharp-corners btn-default"
                                                        ng-click="academics.saveReporting(dateReported)">
                                                    Report {{academics.selectedAcademics.length}} Selected
                                                </button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
<div ng-show="academics.currentPage=='assessment'">

    Beneficiary Assessment
    @Html.Partial("_Assessment")
</div>


<div ng-show="academics.currentPage=='internship'">
    
    @Html.Partial("_Internship")
</div>


</div>
</div>