﻿@using Nita.ViewModels.ContractViewModels;
<!-- Favicon icon -->
<link rel="icon" type="image/png" sizes="16x16" href="~/lib/images/favicon.png">
<!-- Bootstrap Core CSS -->
<link href="~/lib/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<!-- Custom CSS -->
<link href="~/lib/css/style.css" rel="stylesheet">
<!-- You can change the theme colors from here -->
<link href="~/lib/css/colors/default-dark.css" id="theme" rel="stylesheet">

<div class="row"><div class="col-md-12 card"><h2>Contract Trade Areas</h2></div></div>
<div class="row">
    @if (ViewBag.TerminatedCotract)
    {
        <div class="col-md-6" style="text-align: right">
            <button type="button" class="btn btn-primary disabled" data-toggle="modal" data-target="#exampleModal" data-whatever=""><i class="fa fa-plus">Add Trade Area</i></button>
            @*<button type="button" class="btn btn-primary" id="addTp"><i class="fa fa-plus"></i> Add Contract</button>*@
        </div>}
    else
    {
        <div class="col-md-6" style="text-align: right">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever=""><i class="fa fa-plus">Add Trade Area</i></button>
            @*<button type="button" class="btn btn-primary" id="addTp"><i class="fa fa-plus"></i> Add Contract</button>*@
        </div>
    }
    <div class="col-md-6"></div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
            <div class="table-responsive">
                <table class="table color-table primary-table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Trade Area Name</th>
                        </tr>
                    </thead>
                    @if (@ViewBag.TradeAreaList != null)
                    {
                        <tbody>
                            @foreach (var area in @ViewBag.TradeAreaList)
                            {
                                <tr>
                                    <td>@area.Id</td>
                                    <td>@area.Name</td>
                                </tr>
                            }
                        </tbody>
                    }
                    else
                    {
                        <tbody>
                            <tr><td><h6>There are no Trade Areas for this contract</h6></td></tr>
                        </tbody>

                    }
                </table>
            </div>
                </div>
            <div class="col-md-6"></div>
        </div>
    </div>
</div>
<!--training provider modal-->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" style="overflow-y: scroll; max-height:85%;  margin-top: 50px; margin-bottom:50px;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel1">Create a new contract</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

            </div>

            <div class="modal-body">
                    <label class="control-label">Select Trade Area(s):</label><br>
                    @foreach (var tradeArea in ViewBag.TradeAreas)
                    {
                      
                          <div class="row">
                              <div class="col-md-10">
                                    <span>@tradeArea.Name</span>
                              </div>
                              <div class="col-md-2"><a href="@Url.Action("SaveTradeArea","Contracts",new {id=tradeArea.Id, contractId=ViewBag.Id})"><i class="fa fa-plus">Add</i></a></div>
                          </div> 
                          <hr>
                    }
            </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    @*<button type="submit" class="btn btn-primary" id="btnSave">Save</button>*@
                </div>
        </div>
    </div>
</div>


@section Scripts
    {
<script>
        @*@*$(document).ready(function () {
            var tradeAreaIds = [1, 4, 5];
            $(".checkbx").change(function () {
                //alert(this.id)
                //tradeAreaIds.push(this.id);
                if (document.getElementById(this.id).checked) {
                    //alert(this.id)
                    tradeAreaIds.push(this.id);
                } else {
                    alert("Meeh");
                    tradeAreaIds.splice($.inArray(this.id, tradeAreaIds), 1);
                }
            });
            $("#btnSave").click(function () {
                    alert(tradeAreaIds);
                //var theIds = tradeAreaIds;
                $.ajax({
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                traditional: true,
                url: '@Url.Action("SaveTradeAreas", "Contracts")',
                data: { ids: tradeAreaIds }
                }).done(function () {

                    });
                });
             });*@
</script>
    <script src="~/lib/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/plugins/jquery/jquery.min.js"></script>
    <script src="~/lib/plugins/bootstrap/js/popper.min.js"></script>
}
