﻿@using Nita.ViewModels.ContractViewModels;
@model ContractModel;
<!-- Favicon icon -->
<link rel="icon" type="image/png" sizes="16x16" href="~/lib/images/favicon.png">
<!-- Bootstrap Core CSS -->
<link href="~/lib/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<!-- Custom CSS -->
<link href="~/lib/css/style.css" rel="stylesheet">
<!-- You can change the theme colors from here -->
<link href="~/lib/css/colors/default-dark.css" id="theme" rel="stylesheet">

<div class="row"><div class="col-md-12 card"><h2>Contracts Management</h2></div></div>
<div class="card">
    <div class="card-body">
            <!-- Validation wizard -->
           
                    <div class="card wizard-content">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-6">
                            <h4 class="card-title">Contract General Information</h4>
                            <form asp-controller="Contracts" asp-action="SaveData" method="post" class="validation-wizard wizard-circle">
                                <!-- Step 1 -->
                                <h6>Step 1</h6>
                                <section>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label asp-for="CycleId" class="control-label">Select Contract Cycle:</label>
                                                <select class="form-control" asp-for="CycleId" data-placeholder="Cycle">
                                                    @foreach (var cycle in @ViewBag.Cycles)
                                                    {
                                                    <option value=@cycle.Id>@cycle.CycleName</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="row" hidden="hidden">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                            <div class="form-group">
                                                <label asp-for="ContractName" class="control-label">Contract Name:</label>
                                                <input type="text" class="form-control" asp-for="ContractName" value ="ContNita">
                                            </div>
                                            </div>
                                        </div>
                                        </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label asp-for="ContractNo" class="control-label">Contract Number:</label>
                                                <input type="text" class="form-control" asp-for="ContractNo">
                                            </div>
                                        </div>
                                        </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label asp-for="TrainerId" class="control-label">Select Training Provider:</label>
                                                <select class="form-control" data-placeholder="0" asp-for="TrainerId">
                                                    @foreach (var trainer in @ViewBag.Trainers)
                                                    {
                                                <option value=@trainer.Id>@trainer.FullName</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group" hidden="hidden">
                                                <label for="recipient-name" class="control-label">Termination Status:</label>
                                                <select class="form-control" asp-for="TerminationStatus" hidden="hidden" data-placeholder="Choose a Type of Provider">
                                                    <option value="false">False</option>
                                                </select>
                                            </div>
                                        </div>
                                        </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group" hidden="hidden">
                                                <label asp-for="ContractStatus" class="control-label">Assignment Status:</label>
                                                <select class="form-control" asp-for="ContractStatus" data-placeholder="Status" hidden="hidden">
                                                    <option value="Assigned">Assigned</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12" style="text-align:right">
                                            <button type="submit" class="btn btn-primary">Next<i class="fa glyphicon-fast-forward"></i></button>
                                        </div>
                                    </div>
                                </section>
                            </form>
                        </div>
                                </div>
                        <div class="col-md-3"></div>
                        </div>
                        </div>
                    </div>
</div>