﻿@using Nita.ViewModels.ContractViewModels;
@model TradeAreaSave;
<!-- Favicon icon -->
<link rel="icon" type="image/png" sizes="16x16" href="~/lib/images/favicon.png">
<!-- Bootstrap Core CSS -->
<link href="~/lib/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<!-- Custom CSS -->
<link href="~/lib/css/style.css" rel="stylesheet">
<!-- You can change the theme colors from here -->
<link href="~/lib/css/colors/default-dark.css" id="theme" rel="stylesheet">
<div class="row"><div class="col-md-12 card"><h2>Contract Trade Areas Assignment</h2></div></div>
<div class="card">
    <div class="card-body">
        <h6>Step 2</h6>
        <div class="row">
            <div class="col-md-7">
                <div class="card-body">
                    <label class="control-label">Select Trade Area(s):</label><br><hr>
                    @foreach (var tradeAreaC in ViewBag.TradeAreas)
                    {
                <form asp-controller="Contracts" asp-action="AddTradeArea" method="post">
                    <div class="row">
                        <div class="col-md-4">
                            <span>@tradeAreaC.Name</span>
                        </div>
                        <input type="number" id="ContractId" value=@ViewBag.Id name="ContractId" hidden="hidden">
                        <input type="number" id="TradeAreaId" value=@tradeAreaC.Id name="TradeAreaId" hidden="hidden">
                        <div class="col-md-4"><input type="number" class="form-control" id="Capacity" name="Capacity" placeholder="Enter Capacity" required></div>
                        <div class="col-md-4"><button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-plus">Add</i></button></div>
                    </div>
                    <hr>
                </form>
                }
                </div>
            </div>
            <div class="col-md-5">      
                <div class="card-body">
                    <label class="control-label">Selected Trade Area(s):</label><br><hr>
                    <div class="table-responsive">
                        <table class="table color-table primary-table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Trade Area Name</th>
                                    <th>Capacity</th>
                                    <th><i class="fa fa-bolt"></i></th>
                                </tr>
                            </thead>
                            @if (@ViewBag.TradeAreaList != null)
                    {
                    <tbody>
                        @foreach (var area in @ViewBag.TradeAreaList)
                            {
                            <tr>
                                <td>@area.Id</td>
                                <td>@area.Name</td>
                                <td>@area.Capacity</td>
                                <td><a href="@Url.Action("removeTradeArea","Contracts",new {Id =area.TradeContractId, contractId = ViewBag.Id})" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></a></td>
                            </tr>
                            }
                    </tbody>
                            }
                            else
                            {
                        <tbody>
                            <tr><td><h6>There are no Trade Areas for this contract</h6></td></tr>
                        </tbody>

                            }
                        </table>
                    </div>
                </div>
            </div>
    </div>
            <div class="row" >
                <div class="col-md-12" style="text-align:right;">
                    <a href="@Url.Action("LeadTrainer","Contracts",new{id=ViewBag.Id})" class="btn btn-primary">Save and Add Lead Trainers</a>
                </div>
            </div>
        </div>

    </div>


    @section Scripts
        {
        <script>
        </script>
        <script src="~/lib/plugins/bootstrap/js/bootstrap.min.js"></script>
        <script src="~/lib/plugins/jquery/jquery.min.js"></script>
        <script src="~/lib/plugins/bootstrap/js/popper.min.js"></script>
    }
