﻿@using Nita.ViewModels.ContractViewModels;
@model ContractModel;
<!-- Favicon icon -->
<link rel="icon" type="image/png" sizes="16x16" href="~/lib/images/favicon.png">
@*<!-- Bootstrap Core CSS -->
<link href="~/lib/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<!-- Custom CSS -->
<link href="~/lib/css/style.css" rel="stylesheet">
<!-- You can change the theme colors from here -->
<link href="~/lib/css/colors/default-dark.css" id="theme" rel="stylesheet">
<link href="~/lib/plugins/wizard/steps.css" rel="stylesheet">
<!--alerts CSS -->
<link href="~/lib/plugins/sweetalert/sweetalert.css" rel="stylesheet" type="text/css">*@
<!-- Bootstrap responsive table CSS -->
<!-- Footable CSS -->
<link href="~/lib/plugins/footable/css/footable.core.css" rel="stylesheet">
<link href="~/lib/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
<!-- Custom CSS -->
<link href="~/lib/css/style.css" rel="stylesheet">
<!-- page css -->
<link href="~/lib/css/pages/footable-page.css" rel="stylesheet">
<!-- You can change the theme colors from here -->
<link href="~/lib/css/colors/default-dark.css" id="theme" rel="stylesheet">
<link href="~/lib/plugins/tablesaw-master/dist/tablesaw.css" rel="stylesheet">
<div class="row"><div class="col-md-12 card"><h2>Contracts Management</h2></div></div>
<div class="row">
    <div class="col-md-11" style="text-align: right">
        @*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever=""><i class="fa fa-plus">Add Contract</i></button>*@
        <a href="@Url.Action("Create","Contracts")" class="btn btn-primary"><i class="fa fa-plus">Create Contract</i></a>
        @*<button type="button" class="btn btn-primary" id="addTp"><i class="fa fa-plus"></i> Add Contract</button>*@
    </div>
    <div class="col-md-1"></div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped table-bordered" id="editable-datatable">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Contract Number</th>
                        <th>Contact Status</th>
                        <th>Termination Status</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    @if (@ViewBag.Contracts != null)
                    {
                        <tbody>
                        @foreach (var contract in @ViewBag.Contracts)
                        {
                            <tr>
                                <td>@contract.Id</td>
                                <td>@contract.ContractNumber</td>
                                <td>@contract.ContractStatus</td>
                                <td>@contract.Terminated</td>
                                <td>
                                    @if (contract.Terminated)
                                    {
                                        <a href="#" class="btn btn-warning btn-sharp-corners btn-xs disabled" data-toggle="tooltip" title="Edit Contract"><i class="fa fa-edit"></i></a>
                                    }
                                    else
                                    {
                                        <a href="#" class="btn btn-warning btn-sharp-corners btn-xs" data-toggle="tooltip" title="Edit Contract"><i class="fa fa-edit"></i></a>
                                    }
                                    <a href="@Url.Action("CreateNext", "Contracts", new {id = contract.Id})" class="btn btn-primary btn-sharp-corners btn-xs" data-toggle="tooltip" title="View Contract Trade Areas"><i class="fa fa-eye"></i></a>
                                    @if (contract.Terminated)
                                    {
                                        <a href="#" class="btn btn-info btn-sharp-corners btn-xs disabled" data-toggle="tooltip" title="The Contract is Terminated"><i class="fa fa-ban"></i></a>
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("TerminateContract", "Contracts", new {id = contract.Id})" class="btn btn-danger btn-sharp-corners btn-xs" data-toggle="tooltip" title="Terminate Contract"><i class="fa fa-times"></i></a>
                                    }
                                </td>
                            </tr>
                        }
                        </tbody>
                    }
                    else
                    {
                        <tbody>
                        <tr><td><h6>There are no contracts</h6></td></tr>
                        </tbody>

                    }
                </table>
            </div>
            </div>
    </div>
</div>
<!--training provider modal-->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" style="overflow-y: scroll; max-height:85%;  margin-top: 50px; margin-bottom:50px;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel1">Create a new contract</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <form asp-controller="Contracts" asp-action="SaveData" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label asp-for="CycleId" class="control-label">Select Contract Cycle:</label>
                        <select class="form-control" asp-for="CycleId" data-placeholder="Cycle">
                            @foreach (var cycle in @ViewBag.Cycles)
                            {
                                <option value=@cycle.Id>@cycle.CycleName</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="ContractName" class="control-label">Contract Name:</label>
                        <input type="text" class="form-control" asp-for="ContractName">
                    </div>
                    <div class="form-group">
                        <label asp-for="ContractNo" class="control-label">Contract Number:</label>
                        <input type="text" class="form-control" asp-for="ContractNo">
                    </div>
                    <div class="form-group">
                        <label asp-for="TrainerId" class="control-label">Select Training Provider:</label>
                        <select class="form-control" data-placeholder="0" asp-for="TrainerId">
                            @foreach (var trainer in @ViewBag.Trainers)
                            {
                                <option value=@trainer.Id>@trainer.FullName</option>
                            }
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Termination Status:</label>
                        <select class="form-control" asp-for="TerminationStatus" data-placeholder="Choose a Type of Provider">
                            <option value="true">True</option>
                            <option value="false">False</option>
                        </select>
                    </div>
                    <div class="form-group" hidden="hidden">
                        <label asp-for="ContractStatus" class="control-label">Assignment Status:</label>
                        <select class="form-control" asp-for="ContractStatus" data-placeholder="Status" hidden="hidden">
                            <option value="Assigned">Assigned</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts
    {
    <script>
                    //$(document).ready(function () {
                    //    $(".checkbx").change(function () {
                    //        alert(this.id)
                    //        if (document.getElementById(this.id).checked) {
                    //            this.val(true);
                    //        } else {
                    //            this.val(false);
                    //        }
                    //    });
                    //        });
    </script>
    <script src="~/lib/plugins/bootstrap/js/bootstrap.min.js"></script>
    @*<script src="~/lib/plugins/jquery/jquery.min.js"></script>*@
    <script src="~/lib/plugins/bootstrap/js/popper.min.js"></script>
    <!-- Footable -->
    <script src="~/lib/plugins/footable/js/footable.all.min.js"></script>
    <script src="~/lib/plugins/bootstrap-select/bootstrap-select.min.js" type="text/javascript"></script>
    <!--FooTable init-->
    <script src="~/lib/js/footable-init.js"></script>
    <!-- Editable -->
    <script src="~/lib/plugins/jquery-datatables-editable/jquery.dataTables.js"></script>
    <script src="~/lib/plugins/datatables/dataTables.bootstrap.js"></script>
    <script src="~/lib/plugins/tiny-editable/mindmup-editabletable.js"></script>
    <script src="~/lib/plugins/tiny-editable/numeric-input-example.js"></script>
    <script>
        jQuery('#mainTable').editableTableWidget().numericInputExample().find('td:first').focus();
        jQuery('#editable-datatable').editableTableWidget().numericInputExample().find('td:first').focus();
        jQuery(document).ready(function() {
            jQuery('#editable-datatable').DataTable();
        });
    </script>
    <script>
        jQuery('#add-yr').click(function () {
            window.location = jQuery(this).data('target');
        })
        jQuery('#add-q-yr').click(function () {
            window.location = jQuery(this).data('target');
        })
    </script>
    <script type="text/javascript">
        $(function () {
            $(".preloader").fadeOut();
        });

    </script>
}