﻿@using Nita.ViewModels.ContractViewModels;
<!-- Favicon icon -->
<link rel="icon" type="image/png" sizes="16x16" href="~/lib/images/favicon.png">
<!-- Bootstrap Core CSS -->
<link href="~/lib/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<!-- Custom CSS -->
<link href="~/lib/css/style.css" rel="stylesheet">
<!-- You can change the theme colors from here -->
<link href="~/lib/css/colors/default-dark.css" id="theme" rel="stylesheet">
<div class="row"><div class="col-md-12 card"><h2>Lead Trainers</h2></div></div>
<div class="card">
    <div class="card-body">
        <h4>Step 4</h4>
        <div class="row">
            <div class="col-md-6">
                <div class="card-body">
                    <label class="control-label">Lead Trainers Registration:</label><br><hr>
                    @foreach (var tradeAreaC in ViewBag.TradeAreas)
                    {
                        <form asp-controller="Contracts" asp-action="AddTradeArea" method="post">
                            <input type="text" hidden="hidden" value="@tradeAreaC.Id">
                    <div class="row">
                        <div class="col-md-4">
                            <span>@tradeAreaC.Name</span>
                        </div> 
                        <div class="col-md-8">
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-4"><input type="text"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-4"><input type="text"></div>
                                </div>
                                </div>
                            </div>
                        </div>
                                <div class="row">
                                <div class="col-md-4"><button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-plus">Add</i></button></div>
                            </div>
                            <hr>
                        </form>
                }
                </div>
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <label class="control-label">Added Trainers(s):</label><br><hr>
                    <div class="table-responsive">
                        <table class="table color-table primary-table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Trainer Name</th>
                                    <th>Trade Area</th>
                                    <th><i class="fa fa-bolt"></i></th>
                                </tr>
                            </thead>
                            @if (@ViewBag.LeadTrainers != null)
                            {
                                <tbody>
                                    @foreach (var employer in @ViewBag.LeadTrainers)
                                    {
                                        <tr>
                                            <td>@employer.Id</td>
                                            <td>@employer.Name</td>
                                            <td>@employer.Area</td>
                                            <td><a href="@Url.Action("removeEmployer","Providers",new {contractId = ViewBag.Id})" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></a></td>
                                        </tr>
                                    }
                                </tbody>
                            }
                            else
                            {
                                <tbody>
                                    <tr><td><h6>There are no trainers</h6></td></tr>
                                </tbody>

                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="text-align:right;">
                <a href="@Url.Action("Index","Providers")" class="btn btn-primary">Finish</a>
            </div>
        </div>
    </div>

</div>


@section Scripts
    {
    <script>
    </script>
    <script src="~/lib/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/plugins/jquery/jquery.min.js"></script>
    <script src="~/lib/plugins/bootstrap/js/popper.min.js"></script>
}
