﻿
<div id="addCourseUnit" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header btn-primary text-warning">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Unit</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="">
                        <h3 class="box-title m-b-0">Add Unit</h3>

                        <div class="row">
                            <div class="col-sm-12 col-xs-12">
                                <form name="CourseExam"
                                      ng-submit="curriculum.saveCourse(curriculum.examFormData)">
                                    <div class="form-group">
                                        <label for="CategoryID">Course Code</label>
                                        <input type="text" class="form-control " readonly="" id="name"
                                               ng-model="curriculum.examFormData.PhaseId"
                                               placeholder="P001">

                                    </div>
                                    <div class="form-group">
                                        <label for="CategoryID">Unit Name</label>
                                        <input type="text" class="form-control "  id="name"
                                               ng-model="curriculum.examFormData.PhaseId"
                                               placeholder="Unit Name">

                                    </div>
                                   
                                    <div class="form-check">
                                        <label class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Optional Unit</span>
                                        </label>
                                    </div>

                                    <button type="submit"
                                            class="btn btn-info waves-effect waves-light m-r-10">
                                        Submit
                                    </button>
                                    <button type="button" data-dismiss="modal"
                                            class="btn btn-default btn-sharp-corners">
                                        Cancel
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
