﻿
<div id="addCourseExam" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header btn-primary " >
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="text-white" style="">Add Course Exam : {{curriculum.currentCurriculum.name}}</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="">
                        <h3 class="box-title m-b-0">Add Course Exam</h3>

                        <div class="row">
                            <div class="col-sm-12 col-xs-12" ng-init="curriculum.getCycles()">
                                <form name="ExamForm"
                                      ng-submit="curriculum.saveCourseExam(curriculum.examFormData)">
                                    <div class="form-group">
                                        <label for="CycleId">Cycle Name</label>
                                        <select type="text" class="form-control btn-sharp-corners"  id="CycleId"
                                                ng-model="curriculum.examFormData.CycleId" value="1"
                                                placeholder="P001">
                                            <option>--Select Cycle--</option>
                                            <option ng-repeat="cycle in curriculum.cycles" value="{{cycle.id}}">{{cycle.cycleName}}</option>
                                        </select>

                                    </div>
                                    <div class="form-group">
                                        <label for="examName">Exam Name</label>
                                        <input type="text" class="form-control btn-sharp-corners"  id="examName"
                                               ng-model="curriculum.examFormData.Name" required=""
                                               placeholder="Exam Name">

                                    </div>


                                    <div class="form-group">
                                        <label for="name">Maximum Score</label>
                                        <input type="Number" class="form-control btn-sharp-corners" id="name"
                                               ng-model="curriculum.examFormData.TotalScore" required=""
                                               placeholder="Total Score">
                                    </div>
                                   
                                    <div class="form-check">
                                        <label class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input btn-sharp-corners" ng-model="curriculum.examFormData.ExamIsDoneAcross">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Exam is taken across all courses</span>
                                        </label>
                                    </div>

                                    <button type="submit" ng-disabled="ExamForm.$invalid"
                                            class="btn btn-info waves-effect waves-light m-r-10 btn-sharp-corners">
                                        Submit
                                    </button>
                                    <button type="button" data-dismiss="modal"
                                            class="btn btn-default btn-sharp-corners">
                                        Cancel
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
