﻿<div>
    <div class="row" ng-init="curriculum.showAddCourse=false">
        <div class="col-12" ng-init="curriculum.getCourses()">
            <div class="col-md-12 text-right btn-md no-padding-sides">
                <button type="button" class="btn btn-info btn-sharp-corners"
                        data-toggle="modal" data-target="#addCourse">
                    Add Trade Area
                </button>
            </div>
            <div class="card btn-sharp-corners">

                <div class="">
                    <div class="card-body">
                        <h4 class="card-title">
                            Trade Areas
                            <i>
                                <small class="extra-info">{{curriculum.coursesList.length}} records</small>
                            </i>
                        </h4>
                        <input class="form-control btn-sharp-corners" ng-model="curriculum.searchCourses"
                               placeholder="Search Course"/>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Category Name</th>
                                        <th>Trade Area</th>

                                        <th>Providers</th>
                                        <th>Exam Status</th>
                                        <th>Total Exams</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="course in curriculum.coursesList | filter: curriculum.searchCourses"
                                    ng-hide="course.deleted==0"
                                    ng-init="course.deleted=1">
                                    <td>{{$index+1}}</td>
                                    <td>{{course.categoryName}}</td>
                                    <td>{{course.name}}</td>
                                    <td>
                                        <a href="#">22</a>
                                    </td>
                                    <td >
                                        <b ng-show="course.totalExams==0">No</b>
                                        <b ng-show="course.totalExams>0">Yes</b>
                                    </td>
                                    <td><a href="#" data-toggle="modal" data-target="#ViewExams">{{course.totalExams}}</a></td>
                                    <td>
                                        <button class="btn btn-info btn-sharp-corners btn-xs"
                                                data-toggle="modal" data-target="#addCourse"
                                                ng-click="curriculum.fillCourseFormData(course)">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                        <button class="btn btn-danger btn-sharp-corners btn-xs"
                                                ng-click="course.deleted=0">
                                            <i class="fa fa-remove"></i>
                                        </button>
                                        <button class="btn btn-default btn-sharp-corners btn-xs">
                                            <i class="fa fa-unlock"></i>
                                        </button>


                                        <button class="btn btn-info btn-sharp-corners btn-xs"
                                                ng-click="curriculum.currentCurriculum=course"
                                                data-toggle="modal" data-target="#addCourseExam">
                                            Exam
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div id="addCourse" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header btn-primary text-warning">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add Trade Area</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12">
                        <div class="">
                            <h3 class="box-title m-b-0">Add Trade Area</h3>

                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <form name="CourseForm"
                                          ng-submit="curriculum.saveCourse(curriculum.CourseFormData)">
                                        <div class="form-group">
                                            <label for="CategoryID">Trade Area Category</label>
                                            <select class="form-control" id="CategoryID"
                                                    ng-model="curriculum.CourseFormData.CategoryID"
                                                    placeholder="Category">
                                                <option ng-repeat="category in curriculum.curriculumList"
                                                        value="{{category.id}}">
                                                    {{category.categoryName}}
                                                </option>
                                            </select>

                                        </div>
                                        <div class="form-group">
                                            <label for="name">Trade Area Description</label>
                                            <input type="text" class="form-control" id="name"
                                                   ng-model="curriculum.CourseFormData.Name"
                                                   placeholder="Enter Trade Area Description">
                                        </div>


                                        <button type="submit"
                                                class="btn btn-info waves-effect waves-light m-r-10">
                                            Submit
                                        </button>
                                        <button type="button" data-dismiss="modal"
                                                class="btn btn-default btn-sharp-corners">
                                            Cancel
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div>

        @Html.Partial("_AddExamCourse")
    </div>
    <div>

        @Html.Partial("_AddCourseUnit")
    </div>
</div>