﻿<div id="ViewExams" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header btn-primary ">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="text-white" style="">Exams : {{curriculum.currentCurriculum.name}}</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="">
                        <h3 class="box-title m-b-0"> Course Exam</h3>

                        <div class="row">
                            <input class="form-control btn-sharp-corners" ng-model="curriculum.searchCourses"
                                   placeholder="Search Course"/>
                            <table class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Category Name</th>
                                    <th>Trade Area</th>

                                    <th>Providers</th>
                                    <th>Exam Status</th>
                                    <th>Total Exams</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="course in curriculum.coursesList | filter: curriculum.searchCourses"
                                    ng-hide="course.deleted==0"
                                    ng-init="course.deleted=1">
                                    <td>{{$index+1}}</td>
                                    <td>{{course.categoryName}}</td>
                                    <td>{{course.name}}</td>
                                    <td>
                                        <a href="#">22</a>
                                    </td>
                                    <td>
                                        <b ng-show="course.totalExams==0">No</b>
                                        <b ng-show="course.totalExams>0">Yes</b>
                                    </td>
                                    <td>
                                        <a href="#" data-toggle="modal" data-target="#viewExams">{{course.totalExams}}</a>
                                    </td>
                                    <td>
                                        <button class="btn btn-info btn-sharp-corners btn-xs"
                                                data-toggle="modal" data-target="#addCourse"
                                                ng-click="curriculum.fillCourseFormData(course)">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                        <button class="btn btn-danger btn-sharp-corners btn-xs"
                                                ng-click="course.deleted=0">
                                            <i class="fa fa-remove"></i>
                                        </button>
                                        <button class="btn btn-default btn-sharp-corners btn-xs">
                                            <i class="fa fa-unlock"></i>
                                        </button>


                                        <button class="btn btn-info btn-sharp-corners btn-xs"
                                                ng-click="curriculum.currentCurriculum=course"
                                                data-toggle="modal" data-target="#addCourseExam">
                                            Exam
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>