﻿
@{
    ViewData["Title"] = "AddTradeArea";
}

<h2>AddTradeArea</h2>


<div class="" id="myModal" role="" ng-show="curriculum.showAddCategory">
    <div class="">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Category</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="card card-body">
                        <h3 class="box-title m-b-0">Add Course Categories</h3>
                        
                        <div class="row">
                            <div class="col-sm-12 col-xs-12">
                                <form name="CategoryForm" 
                                      ng-submit="curriculum.saveCategory(curriculum.CategoryFormData)">
                                    <div class="form-group">
                                        <label for="CategoryName">Category  Name</label>
                                        <input type="text" class="form-control" id="CategoryName" 
                                               ng-model="curriculum.CategoryFormData.CategoryName"
                                               placeholder="Category Name">
                                    </div>
                                    <div class="form-group">
                                        <label for="CategoryDescription">Category Description</label>
                                        <input type="text" class="form-control" id="CategoryDescription"
                                               ng-model="curriculum.CategoryFormData.CategoryDescription"
                                               placeholder="Enter email">
                                    </div>
                                    
                                    
                                    <button type="submit"
                                            class="btn btn-success waves-effect waves-light m-r-10">
                                        Submit
                                    </button>
                                    <button type="button" ng-click="curriculum.showAddCategory=false"
                                            class="btn btn-inverse waves-effect waves-light">Cancel
                                        </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

