﻿<link href="~/lib/css/custome-css/custome-css.css" rel="stylesheet"/>
<script src="~/CurriculumJs/angular.js"></script>
<script src="~/CurriculumJs/angular-route.js"></script>
<script src="~/CurriculumJs/AngularController/app.js"></script>


<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div ng-app="CurriculumApp" ng-cloak="">

    <div class="container-fluid" ng-controller="CurriculumController">
        <div class="row page-titles col-md-12 bottom-bordered"
             ng-init="curriculum.getCourseCategories()">


            <div class="col-md-5 align-self-center">
                <h3 class="text-themecolor">Trade(s) Area Management</h3>
            </div>
            <div class="col-md-7 text-right" style="padding-right: 0px" ng-init="curriculum.showAddCategory=false">


                <div class="btn-group ml-auto m-t-10">
                    <a href="JavaScript:void(0)" class="btn-sharp-corners btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Areas Menu</a>
                    <div class="dropdown-menu dropdown-menu-right" x-placement="top-end" style="position: absolute; transform: translate3d(-184px, -197px, 0px); top: 0px; left: 0px; will-change: transform;">
                        <a class="dropdown-item" ng-click="curriculum.currentPage='course'" href="javascript:void(0)">Trade Areas</a>
                        <a class="dropdown-item" ng-click="curriculum.currentPage='category'" href="javascript:void(0)">Trade Categories</a>
                    </div>
                </div>

            </div>
            <div class="">
                <button class="right-side-toggle waves-effect waves-light btn-inverse
                        btn btn-circle btn-sm pull-right m-l-10">
                    <i class="ti-settings text-white"></i>
                </button>
            </div>
        </div>
        <div ng-show="curriculum.currentPage=='category'">
            <div class="row">
                <div class="col-12">
                    <div class="col-md-12 text-right btn-md no-padding-sides">
                        <button type="button" class="btn btn-info btn-sharp-corners"
                                data-toggle="modal" data-target="#addCategory">
                            Add Category
                        </button>
                    </div>
                    <div class="card btn-sharp-corners">

                        <div class="">
                            <div class="card-body">
                                <h4 class="card-title">
                                    Trade Area Categories
                                    <i>
                                        <small class="extra-info">{{curriculum.curriculumList.length}} records</small>
                                    </i>
                                </h4>
                                @*                            <h6 class="card-subtitle">Add class <code>.table</code></h6>*@
                                <input class="form-control btn-sharp-corners btn-sharp-corners" ng-model="curriculum.searchCategory"
                                       placeholder="Search Course"/>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Trade Area Category Name</th>
                                            <th>Trade Area Category Desc</th>

                                            <th>Providers</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="categories in curriculum.curriculumList| filter : curriculum.searchCategory"
                                            ng-hide="categories.deleted==0"
                                            ng-init="categories.deleted=1">
                                            <td>{{$index+1}}</td>
                                            <td>{{categories.categoryName}}</td>
                                            <td>{{categories.categoryDescription}}</td>
                                            <td>
                                                <a href="">22</a>
                                            </td>
                                            <td>

                                                <button class="btn btn-info btn-sharp-corners btn-xs"
                                                        data-toggle="modal" data-target="#addCategory"
                                                        ng-click="curriculum.CategoryFormData=categories">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                                <button class="btn btn-danger btn-sharp-corners btn-xs"
                                                        ng-click="categories.deleted=0">
                                                    <i class="fa fa-remove"></i>
                                                </button>
                                                <button class="btn btn-default btn-sharp-corners btn-xs">
                                                    <i class="fa fa-unlock"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


            <div id="addCategory" class="modal fade" role="dialog">
                <div class="modal-dialog modal-lg">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header btn-primary">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Add Trade Area Category</h4>
                        </div>
                        <div class="modal-body">
                            <div class="col-md-12">
                                <div class="">
                                    <h3 class="box-title m-b-0">Add Trade Area Categories</h3>

                                    <div class="row">
                                        <div class="col-sm-12 col-xs-12">
                                            <form name="CategoryForm" 
                                                  ng-submit="curriculum.saveCategory(curriculum.CategoryFormData)">
                                                <div class="form-group">
                                                    <label for="CategoryName">Category Name<b class="text-danger">*</b></label>
                                                    <input type="text" class="form-control btn-sharp-corners" id="CategoryName"
                                                           ng-model="curriculum.CategoryFormData.CategoryName" required=""
                                                           placeholder="Category Name">
                                                </div>
                                                <div class="form-group">
                                                    <label for="CategoryDescription">Trade Area Category Description<b class="text-danger">*</b></label>
                                                    <input type="text" class="form-control btn-sharp-corners" id="CategoryDescription"
                                                           ng-model="curriculum.CategoryFormData.CategoryDescription" required=""
                                                           placeholder="Enter Trade Area Description">
                                                </div>


                                                <button type="submit" ng-disabled="CategoryForm.$invalid"
                                                        class="btn btn-info btn-sharp-corners waves-effect waves-light m-r-10">
                                                    Submit
                                                </button>


                                                <button type="button" class="btn btn-default btn-sharp-corners" data-dismiss="modal">Cancel</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>


        </div>


        <div ng-show="curriculum.currentPage=='course'">

            @Html.Partial("_Course")
        </div>
    </div>

</div>