﻿<link href="~/lib/css/custome-css/custome-css.css" rel="stylesheet"/>
<script src="~/CurriculumJs/angular.js"></script>
<script src="~/CurriculumJs/angular-route.js"></script>
<script src="~/CurriculumJs/AngularController/trainees.js"></script>


<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div ng-app="TraineesApp" ng-cloak="">

    <div class="container-fluid" ng-controller="TraineesController">
        <div class="row page-titles col-md-12 bottom-bordered"
             ng-init="trainee.getCourseCategories()">


            <div class="col-md-5 align-self-center">
                <h3 class="text-themecolor">Trainees </h3>
            </div>
            <div class="col-md-7 text-right" style="padding-right: 0px" ng-init="trainee.showAddCategory=false">


                <div class="btn-group ml-auto m-t-10">
                    <a href="JavaScript:void(0)" class="btn-sharp-corners btn btn-primary dropdown-toggle"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Trainees Menu</a>
                    <div class="dropdown-menu dropdown-menu-right" x-placement="top-end"
                         style="position: absolute; transform: translate3d(-184px, -197px, 0px); top: 0px; left: 0px; will-change: transform;">
                        <a class="dropdown-item" ng-click="trainee.currentPage='currentStudents'" href="javascript:void(0)">Current Trainees</a>
                        <a class="dropdown-item" ng-click="trainee.currentPage='formerTrainees'" href="javascript:void(0)">Former Trainees</a>
                    </div>
                </div>

            </div>
            <div class="">
                <button class="right-side-toggle waves-effect waves-light btn-inverse
                        btn btn-circle btn-sm pull-right m-l-10">
                    <i class="ti-settings text-white"></i>
                </button>
            </div>
        </div>
        <div ng-show="trainee.currentPage=='currentStudents'">
            <div class="row">
                <div class="col-12">
                    <div class="col-md-12 text-right btn-md no-padding-sides">
                        <button type="button" class="btn btn-info btn-sharp-corners"
                                ng-click="trainee.currentPage='addTrainee'">
                            Add Trainee
                        </button>
                    </div>
                    <div class="card btn-sharp-corners">

                        <div class="">
                            <div class="card-body">
                                <h4 class="card-title">
                                    Trainees
                                    <i>
                                        <small class="extra-info">{{trainee.curriculumList.length}} records</small>
                                    </i>
                                </h4>
                                @*                            <h6 class="card-subtitle">Add class <code>.table</code></h6>*@
                                <input class="form-control btn-sharp-corners btn-sharp-corners" ng-model="trainee.searchCategory"
                                       placeholder="Search Trainee" />
                                <div class="table-responsive" ng-init="trainee.getTrainees()">
                                    <div class="clearfix">&nbsp;</div>
                                    <ul class="list-unstyled">

                                        <li ng-repeat="beneficiary in trainee.traineesList|filter :trainee.searchCategory" 
                                            ng-init="beneficiary.deleted=1" ng-show="beneficiary.deleted==1">

                                            <div class="" ng-init="beneficiary.showMore=false">
                                                <h2 class="bottom-bordered">{{$index+1}}. {{beneficiary.beneficiary.fullName}} <small><i>{{beneficiary.passportNo}}</i></small></h2>
                                                <div>

                                                    <label class="col-md-2"><b>Status</b></label> Placed<br />
                                                    <label class="col-md-2"><b>Trade Area</b></label> Metal Work<br />
                                                    <label class="col-md-2"><b>Date Created</b></label>{{beneficiary.beneficiary.dateOfBirth}}<br />
                                                </div>
                                                <div class="col-md-12" ng-show="beneficiary.showMore==true">
                                                    <h2 class="bottom-bordered">Address</h2>
                                                    <label class="col-md-2"><b>City</b></label>{{beneficiary.userAddress.city}} <br />
                                                    <label class="col-md-2"><b>District</b></label>{{beneficiary.userAddress.district}} <br />
                                                    <label class="col-md-2"><b>County</b></label>{{beneficiary.userAddress.county.name}} <br />
                                                    <label class="col-md-2"><b>Physical Address</b></label>{{beneficiary.userAddress.pAddress}} <br />
                                                    <label class="col-md-2"><b>Home Telephone</b></label>{{beneficiary.userAddress.homeTel}} <br />
                                                </div>

                                                <div class="col-md-12" ng-show="beneficiary.showMore==true">
                                                    <h2 class="bottom-bordered">Training Information</h2>
                                                    <label class="col-md-2"><b>Trade Area</b></label> <br />
                                                    <label class="col-md-2"><b>Provider/MC</b></label><br />
                                                    <label class="col-md-2"><b>Date Enroller</b></label><br />

                                                </div>
                                                <div class="text-right">
                                                    <button ng-click="beneficiary.showMore=!beneficiary.showMore" class="btn btn-sm btn btn-sharp-corners btn-info">
                                                        <i class=" fa fa-chevron-circle-down" ng-show="!beneficiary.showMore">More..</i>
                                                        <i class="fa fa-chevron-circle-up" ng-if="beneficiary.showMore">Hide.</i>
                                                    </button>
                                                    <button class="btn btn-sm btn btn-sharp-corners btn-dark"><i class=""></i> Edit</button>
                                                    <button class="btn btn-sm btn btn-sharp-corners btn-success"><i class=""></i> Approve</button>
                                                    <button class="btn btn-sm btn btn-sharp-corners btn-danger" ng-click="beneficiary.deleted=0;trainee.deleteTrainee(beneficiary.beneficiary.id)">
                                                        <i class=""></i> Delete
                                                    </button>
                                                    <button class="btn btn-sm btn btn-sharp-corners btn-primary"
                                                            ng-click="trainee.selectTrainee(beneficiary.beneficiary)"
                                                            data-toggle="modal" data-target="#placement">
                                                        <i class=""></i> Place
                                                    </button>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>





        </div>


        <div ng-show="trainee.currentPage=='addTrainee'">

            @Html.Partial("_AddTrainee")
        </div>

        <div>

            @Html.Partial("_PlacementForm")
        </div>
    </div>

</div>