﻿<div>
<div class="row">
<div class="col-12">

<div class="card btn-sharp-corners" ng-init="trainee.currentForm='firstForm'">

<div class="">
<div class="card-body">
<h4 class="card-title bottom-bordered">
    Add Beneficiary
</h4>

<div class="">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs customtab" role="tablist">
        <li class="nav-item" ng-init="pDetails='active'">
            <a class="nav-link {{pDetails}}">
                <span class="hidden-sm-up">
                    <i class="ti-home"></i>
                </span>
                <span class="hidden-xs-down">
                    Personal Details
                    <i class="fa fa-check-circle text-success" ng-show="trainee.userProfileSuccess"></i>
                    <i class="fa fa-remove text-danger" ng-show="!trainee.userProfileSuccess"></i>
                </span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{aDetails}}">
                <span class="hidden-sm-up">
                    <i class="ti-user"></i>
                </span>
                <span class="hidden-xs-down">
                    Address Details
                    <i class="fa fa-check-circle text-success" ng-show="trainee.userAddressSuccess"></i>
                    <i class="fa fa-remove text-danger" ng-show="!trainee.userAddressSuccess"></i>
                </span>
            </a>
        </li>
        <li class="nav-item ">
            <a class="nav-link {{bDetails}}">
                <span class="hidden-sm-up">
                    <i class="ti-email"></i>
                </span>
                <span class="hidden-xs-down">
                    Bank Details
                    <i class="fa fa-check-circle text-success" ng-show="trainee.userBankSuccess"></i>
                    <i class="fa fa-remove text-danger" ng-show="!trainee.userBankSuccess"></i>
                </span>
            </a>
        </li>
    </ul>

</div>


<!------Form for traineee--->
<div class="" ng-show="true">
<br/>
<form name="trainers" method="post" role="form">
<div ng-show="trainee.currentForm=='firstForm'">
    <div class="row">


        <div class="col-md-6">
            <div class="form-group">
                <label for="AdminNo">Admission Number <b class="text-danger">*</b></label>
                <div class="input-group">
                    <div class="input-group-addon btn-sharp-corners">
                        <i class="fa fa-building"></i>
                    </div>
                    <input ng-model="trainee.traineeFormData.AdminNo" for="AdminNo" required=""
                           class="form-control btn-sharp-corners" id="AdminNo" placeholder="Admission Number" required>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label for="TrainerType" class="control-label">Gender <b class="text-danger">*</b> </label>
                <select for="TrainerType" ng-model="trainee.traineeFormData.Gender" required=""
                        class="form-control btn-sharp-corners " data-placeholder="Choose gender">
                    <option value="" disabled="" selected="">--Select gender--</option>
                    <option value="1">Male</option>
                    <option value="2">Female</option>
                    <option value="3">Other</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="StreetRoad">Id NO/Passport NO. <b class="text-danger">*</b></label>
                <div class="input-group">
                    <div class="input-group-addon btn-sharp-corners">
                        <i class="fa fa-road"></i>
                    </div>
                    <input ng-model="trainee.traineeFormData.PassportNo" for="PassportNo"
                           class="form-control btn-sharp-corners" id="PassportNo" placeholder="Passport No./Id No." required>
                </div>
            </div>
        </div>


        <div class="col-md-6">
            <div class="form-group">
                <label for="FullName">Full Names <b class="text-danger">*</b></label>
                <div class="input-group">
                    <div class="input-group-addon btn-sharp-corners">
                        <i class="ti-user"></i>
                    </div>
                    <input ng-model="trainee.traineeFormData.Fullname" for="FullName" class="form-control btn-sharp-corners" placeholder="Enter Beneficiary Name" required>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="docimile">Domicile</label>
                <div class="input-group">
                    <div class="input-group-addon btn-sharp-corners">
                        <i class="fa fa-map-marker"></i>
                    </div>
                    <input ng-model="trainee.traineeFormData.docimile" for="docimile"
                           class="form-control btn-sharp-corners" id="docimile" placeholder="Enter docimile" required>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="DOB" class="control-label">DOB <b class="text-danger">*</b></label>
                <input for="DOB" type="date" ng-model="trainee.traineeFormData.DOB" class="form-control btn-sharp-corners"
                       data-placeholder="Choose a DOB">
                </input>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="Disability">Any Disability <b class="text-danger">*</b></label>
                <div class="input-group">
                    <div class="input-group-addon btn-sharp-corners">
                        <i class="fa fa-id-card"></i>
                    </div>
                    <select ng-model="trainee.traineeFormData.Disability" for="Disability" class="form-control btn-sharp-corners"
                            id="Disability" placeholder="Disability" required>
                        <option>--Select Disability--</option>
                        <option>Yes</option>
                        <option>No</option>
                    </select>
                </div>
            </div>
        </div>


        <div class="col-md-6">
            <div class="form-group">
                <label for="Marital">Marital Status  <b class="text-danger">*</b></label>
                <div class="input-group">
                    <div class="input-group-addon btn-sharp-corners">
                        <i class="fa fa-certificate"></i>
                    </div>
                    <select ng-model="trainee.traineeFormData.Marital" for="Marital" class="form-control btn-sharp-corners"
                            id="Marital" placeholder="Choose Marital" required>
                        <option value="" disabled="" selected="">--Select Status--</option>
                        <option value="72">Single</option>
                        <option value="56">Married</option>
                        <option value="65">Divorced</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="Disability">Email Address<b class="text-danger">*</b></label>
                <div class="input-group">
                    <div class="input-group-addon btn-sharp-corners">
                        <i class="fa fa-id-card"></i>
                    </div>
                    <input ng-model="trainee.traineeFormData.Email" type="email" for="Email" class="form-control btn-sharp-corners"
                           id="Email" placeholder="Email" required>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group" ng-init="trainee.getCycles()">
                <label for="cycle">Cycle<b class="text-danger">*</b></label>
                <div class="input-group">
                    <div class="input-group-addon btn-sharp-corners">
                        <i class="fa fa-id-card"></i>
                    </div>
                    <select ng-model="trainee.traineeFormData.CycleId"  for="cycle" class="form-control btn-sharp-corners"
                            id="Email" placeholder="Cycle" required>
                        <option value="{{cycle.id}}" ng-repeat="cycle in trainee.cycles">{{cycle.cycleName}}</option>
                    </select>
                </div>
            </div>
        </div>

    </div>

</div>
<!--------------------------------------------------------------------------------
----------------------Address information-------------------------------------
--------------------------------------------------------------------------------->
<div ng-show="trainee.currentForm=='address'">


    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="CountyId">County  <b class="text-danger">*</b></label>
                <div class="input-group">
                    <div class="input-group-addon btn-sharp-corners">
                        <i class="fa fa-envelope"></i>
                    </div>
                    <select ng-model="trainee.traineeFormData.CountyId" class="form-control btn-sharp-corners">
                        <option selected="" disabled="">---SELECT COUNTY-</option>
                        <option value="{{county.id}}" ng-repeat="county in trainee.counties">{{county.name}}</option>
                    </select>

                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label for="District">Sub-County  <b class="text-danger">*</b></label>
                <div class="input-group">
                    <div class="input-group-addon btn-sharp-corners">
                        <i class="fa fa-envelope"></i>
                    </div>
                    <input ng-model="trainee.traineeFormData.District" for="District"
                           class="form-control btn-sharp-corners" id="District" placeholder="Enter Sub-county" required>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-md-6">
            <div class="form-group">
                <label for="HomeTel">Telephone Number  <b class="text-danger">*</b></label>
                <div class="input-group">
                    <div class="input-group-addon btn-sharp-corners">
                        <i class="ti-lock"></i>
                    </div>
                    <input ng-model="trainee.traineeFormData.HomeTel" for="HomeTel" class="form-control btn-sharp-corners"
                           id="HomeTel" placeholder="Mobile Number" required>
                </div>
            </div>
        </div>


        <div class="col-md-6">
            <div class="form-group">
                <label for="PostalCode">Postal Address  <b class="text-danger">*</b></label>
                <div class="input-group">
                    <div class="input-group-addon btn-sharp-corners">
                        <i class="ti-lock"></i>
                    </div>
                    <input ng-model="trainee.traineeFormData.PostalCode" for="PostalAddress"
                           class="form-control btn-sharp-corners" id="PostalCode" placeholder="Enter Postal Address" required>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-md-6">
            <div class="form-group">
                <label for="City">Nearest Town  <b class="text-danger">*</b></label>
                <div class="input-group">
                    <div class="input-group-addon btn-sharp-corners">
                        <i class="ti-lock"></i>
                    </div>
                    <input ng-model="trainee.traineeFormData.City" for="City" class="form-control btn-sharp-corners"
                           id="City" placeholder="Enter Nearest Town" required>
                </div>
            </div>
        </div>


        <div class="col-md-6">
            <div class="form-group">
                <label for="PAddress">Physical Address  <b class="text-danger">*</b></label>
                <div class="input-group">
                    <div class="input-group-addon btn-sharp-corners">
                        <i class="ti-lock"></i>
                    </div>
                    <input ng-model="trainee.traineeFormData.PAddress" for="PAddress"
                           class="form-control btn-sharp-corners" id="PAddress" placeholder="Enter Physical Address" required>
                </div>
            </div>
        </div>
    </div>
</div>
<!--------------------------------------------------------------------------------
----------------------End-------------------------------------
--------------------------------------------------------------------------------->
<!--------------------------------------------------------------------------------
----------------------bank account information-------------------------------------
--------------------------------------------------------------------------------->
<div ng-show="trainee.currentForm=='bankAccount'">
    
    <div class="row">

        <div class="col-md-6" ng-init="trainee.getBanks()">
            <div class="form-group">
                <label for="AccountName">Select Bank Name <b class="text-danger">*</b></label>
                <div class="input-group">
                    <div class="input-group-addon btn-sharp-corners">
                        <i class="fa fa-envelope"></i>
                    </div>
                    <select ng-model="trainee.traineeFormData.Bank" for="Bank" ng-change="trainee.getBankBranches(trainee.traineeFormData.Bank)"
                            class="form-control btn-sharp-corners" id="Bank" placeholder="Enter Bank" required>
                        <option>--Select Bank--</option>
                        <option value="{{bank.id}}" ng-repeat="bank in trainee.banks">{{bank.name}}({{bank.code}})</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="District">Bank Branch  <b class="text-danger">*</b></label>
                <div class="input-group">
                    <div class="input-group-addon btn-sharp-corners">
                        <i class="fa fa-envelope"></i>
                    </div>
                    
                    <select ng-model="trainee.traineeFormData.BankBranch" for="District"
                            class="form-control btn-sharp-corners" id="BankBranch" placeholder="Enter BankBranch" required>
                        <option selected="" disabled="">--Select Branch--</option>
                        <option ng-repeat="branch in trainee.bankBranches" value="{{branch.id}}">
                            {{branch.name}}
                            ({{branch.code}})
                        </option>
                    </select>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
@*        <div class="col-md-6">*@
@*            <div class="form-group">*@
@*                <label for="AccountName">Branch Code Name  <b class="text-danger">*</b></label>*@
@*                <div class="input-group">*@
@*                    <div class="input-group-addon btn-sharp-corners">*@
@*                        <i class="fa fa-envelope"></i>*@
@*                    </div>*@
@*                    <input ng-model="trainee.traineeFormData.BankBranch" for="Bank" disabled=""*@
@*                           class="form-control btn-sharp-corners" id="Bank" placeholder="Enter Bank" required>*@
@*                </div>*@
@*            </div>*@
@*        </div>*@
        <div class="col-md-6">
            <div class="form-group">
                <label for="District">Account Number</label>
                <div class="input-group">
                    <div class="input-group-addon btn-sharp-corners">
                        <i class="fa fa-envelope"></i>
                    </div>
                    <input ng-model="trainee.traineeFormData.AccountNumber" for="District"
                           class="form-control btn-sharp-corners" id="AccountNumber" placeholder="Enter Account Number" required>
                </div>
            </div>
        </div>


    </div>

 


</div>

<div class="row">
    <div class="col-md-6">
        <button type="button" ng-click="trainee.currentForm='address';aDetails='active';pDetails='';bDetails=''" ng-show="trainee.currentForm=='firstForm'"
                class="btn btn-success btn-sharp-corners waves-effect waves-light m-r-10">
            Next >>
        </button>
        <button type="button" ng-click="trainee.currentForm='firstForm';pDetails='active';aDetails='';bDetails=''" ng-show="trainee.currentForm=='address'"
                class="btn btn-success btn-sharp-corners waves-effect waves-light m-r-10">
            << Previous
        </button>
        <button type="button" ng-click="trainee.currentForm='bankAccount';bDetails='active';aDetails='';pDetails=''" ng-show="trainee.currentForm=='address'"
                class="btn btn-success btn-sharp-corners waves-effect waves-light m-r-10">
            Next >>
        </button>


        <button type="button" ng-click="trainee.currentForm='address';aDetails='active';pDetails='';bDetails=''" ng-show="trainee.currentForm=='bankAccount'"
                class="btn btn-success btn-sharp-corners waves-effect waves-light m-r-10">
            << Previous
        </button>

        <button type="button" ng-click="trainee.saveTrainee(trainee.traineeFormData)" 
                ng-disable="trainers.$invalid"
                ng-show="trainee.currentForm=='bankAccount'"
                class="btn btn-primary btn-sharp-corners waves-effect waves-light m-r-10">
            Submit
        </button>


        <button type="button" class="btn btn-inverse btn-sharp-corners waves-effect waves-light">Cancel</button>
    </div>
</div>
</form>
</div>
</div>
</div>
</div>

</div>
</div>


</div>