﻿<div class="row">
    <div class="col-12">
        <br/>
        <div class="card btn-sharp-corners">

            <div class="">
                <div class="card-body">
                    <h4 class="card-title">
                        Attendance
                        <i>
                            <small class="extra-info">{{trainee.traineesList.length}} records</small>
                        </i>
                    </h4>
                    <form name="search">
                        <div class=" row" style="padding-bottom: 10px">

                            <div class="pull-right col-md-2">
                                <select class="form-control btn-sharp-corners" ng-change="trainee.getCountyProviders({countyId:trainee.searchTraineeAttendance.countyId},true)"
                                        ng-model="trainee.searchTraineeAttendance.countyId">
                                    <option selected disabled="">---SELECT COUNTY-</option>
                                    <option value="{{county.id}}" ng-repeat="county in trainee.counties">{{county.name}}</option>
                                </select>
                            </div>

                            <div class="pull-right col-md-2" ng-model="trainee.searchTraineeAttendance.district">
                                <input class="form-control btn-sharp-corners" placeholder="Sub-county" />
                            </div>
                            <div class="pull-right col-md-3" ng-init="trainee.currentCourses={}">
                                <select class="form-control btn-sharp-corners"
                                        ng-change="trainee.currentSelectedCourses(trainee.searchTraineeAttendance.trainerId)"
                                        ng-model="trainee.searchTraineeAttendance.trainerId">

                                    <option selected disabled="">--Select Provider--</option>
                                    <option value="{{provider.provider.id}}"
                                            ng-repeat="provider in trainee.providersCountyList">
                                        {{provider.provider.fullName}}
                                    </option>
                                </select>

                            </div>

                            <div class="pull-right col-md-3" ng-model="trainee.searchTraineeAttendance.tradeAreaId">

                                <select class="form-control btn-sharp-corners" placeholder="Trade Area">
                                    <option selected disabled="">--Select Trade area--</option>
                                    <option value="{{course.tradeAreaId}}" ng-repeat="course in trainee.providersCurrentCoursesList">{{course.name}}</option>
                                </select>
                            </div>

                            <div class=" col-md-2">
                                <button class="btn btn-primary form-control btn-sharp-corners"
                                        ng-click="trainee.getSearchTraineeAttendance(trainee.searchTraineeAttendance)">
                                    Get Trainees
                                </button>
                            </div>

                        </div>
                    </form>
                    <div>

                        <input class="form-control btn-sharp-corners btn-sharp-corners" ng-model="trainee.searchTraineeAttendanceFilter"
                               placeholder="Search Trainee" />
                    </div>

                </div>
                <br />
                <form name="attendance" class="col-md-12">
                <div class="row">

                    <div class="col-md-3">
                        <select class="form-control btn-sharp-corners" required=""
                                ng-model="trainee.attendanceForm.type">
                            <option value="1">Day</option>
                            <option value="5">Week</option>
                            <option value="30">Month</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <input class="form-control btn-sharp-corners" required=""
                               placeholder="Day/Week/Month Number " ng-model="trainee.attendanceForm.NumberOfType">
                        
                    </div>
                    <div class="col-md-3">
                        <button ng-disabled="attendance.$invalid" ng-click="trainee.saveAttendance(trainee.attendanceForm,trainee.traineesCompressedList)"
                                class="btn form-control btn-sharp-corners btn-info">
                            Save Attendance
                        </button>
                    </div>
               
                </div>
                </form>
                <div class="table-responsive col-md-12">
                    <table class="table">
                        <thead>
                        <tr>

                            <th>#</th>
                            <th>Beneficiary</th>
                            <th>ID/Passport No.</th>

                            <th>County</th>
                            <th>Days Attended/Maximum ({{trainee.attendanceForm.type}}) Days</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="traineeList in trainee.traineesCompressedList| filter : trainee.searchTraineeAttendanceFilter">

                            <td>{{$index+1}}</td>
                            <td>{{traineeList.beneficiary.fullName}}</td>
                            <td>{{traineeList.beneficiary.passportNo}}</td>
                            <td>
                                <a href="">{{traineeList.beneficiary.name}}</a>
                            </td>
                            <td>
                                <input type="number" ng-model="traineeList.attendance" ng-disabled="!trainee.attendanceForm.type>0"
                                      
                                       class="form-control btn-sharp-corners col-md-6" placeholder="total days"/>
                                <i class="text-danger" ng-show="traineeList.attendance>trainee.attendanceForm.type">
                                    Days attended should be less that {{trainee.attendanceForm.type}}
                                </i> 
                            </td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div>
        @Html.Partial("_PlacementMultiple")
    </div>
</div>