﻿<div id="placement" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header btn-danger ">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-white">{{trainee.currentPlacementType}} Beneficiary-({{trainee.currentTrainee.fullName}})</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="">
                        <h3 class="box-title m-b-0">{{trainee.currentPlacementType}} Beneficiary</h3>

                        <div class="row">
                            <div class="col-sm-12 col-xs-12">
                                <form name="traineePlacement">
                                    <div class="form-group">
                                        <div ng-if="trainee.currentPlacementType=='Transfer'">
                                            <label for="CategoryID">Reason for transfer</label>
                                            <textarea class="form-control btn-sharp-corners" id="reason"
                                                  ng-model="traine"
                                                  placeholder="Reason for transfer"></textarea>
                                        </div>
                                        <label for="CategoryID">Select Provider({{trainee.currentTrainee.county}})</label>
                                        <input type="text" class="form-control btn-sharp-corners" id="name"
                                               ng-model="trainee.searchProvider"
                                               ng-change="trainee.getProviders(trainee.searchProvider);trainee.traineeTradeArea.tradeAreaId=null"
                                               placeholder="Search Provider">


                                        <table class="table" ng-repeat="providers in trainee.providersList"
                                               ng-init="trainee.showTradeAreas=false" ng-init="selectedProvider=''">

                                            <tr>
                                                <td>{{providers.provider.fullName}}</td>
                                                <td>
                                                    <button class="btn btn-sm btn-sharp-corners btn-info"
                                                            ng-click="trainee.showTradeAreas=true;
                                                            trainee.traineeTradeArea.trainerId=providers.provider.id;
                                                            selectedProvider=providers.provider.fullName">
                                                        {{trainee.currentPlacementType}} {{trainee.currentTrainee.fullName}} To {{providers.provider.fullName}}
                                                    </button>

                                                </td>
                                            </tr>
                                            <tr colspan="2">
                                                <td colspan="2">
                                                    <div class="form-group" ng-if="trainee.showTradeAreas">
                                                        <label for="CategoryID">Select Trade Area</label>

                                                        <select class="form-control btn-sharp-corners" required="" ng-model="trainee.traineeTradeArea.tradeAreaId">
                                                            <option>---SELECT TRADE AREA---</option>
                                                            <option ng-repeat="tradeArea in  providers.courses" value="{{tradeArea.tradeAreaId}}">
                                                                {{tradeArea.name}}
                                                            </option>
                                                        </select>

                                                    </div>
                                                </td>
                                            </tr>
                                        </table>

                                    </div>


                                    <button type="submit" ng-click="trainee.saveTradeArea(trainee.traineeTradeArea)"
                                            ng-disabled="traineePlacement.$invalid || !trainee.traineeTradeArea.tradeAreaId>0"
                                            class="btn btn-info btn-sharp-corners">
                                        Submit
                                    </button>
                                    <button type="button" data-dismiss="modal"
                                            class="btn btn-default btn-sharp-corners">
                                        Cancel
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>