﻿<div id="placementMultiple" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header btn-danger ">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-white">Place Beneficiaries in {{trainee.currentPickedProvider.provider.name}} County - ({{trainee.currentPickedProvider.provider.fullName}})</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="">
                        

                        <div class="row">
                            <div class="col-sm-12 col-xs-12">
                                <form name="CourseExam">
                                    <div class="form-group" ng-init="trainee.selectedCourse=''">
                                        <label for="CategoryID">Search Trade Area</label>
                                        <input type="text" class="form-control btn-sharp-corners" id="name"
                                               ng-model="trainee.searchCourse"
                                               placeholder="Search Trade Area">

                                        <table class="table" ng-init="trainee.showTradeAreas=false">

                                            <tr ng-repeat="courses in trainee.currentPickedProvider.courses">
                                                
                                                <td>{{courses.name}}</td>
                                                <td>
                                                    <button class="btn btn-sm btn-sharp-corners btn-info"
                                                            ng-click="trainee.showTradeAreas=true;
                                                            trainee.traineeTradeArea.tradeAreaId=courses.tradeAreaId;
                                                            trainee.selectedCourse=courses.name">
                                                        Place Beneficiaries in {{courses.name}}
                                                    </button>
                                                </td>
                                            </tr>
                                        </table>
                                        <div ng-show="trainee.showTradeAreas">
                                            <h4>Beneficiaries - {{trainee.selectedCourse}}</h4>
                                            <table class="table-condensed table-striped col-md-12">
                                                <tr ng-repeat="beneficiary in trainee.traineesList" 
                                                    style="margin-bottom: 3px!important;">
                                                    <td>
                                                        <label class="custom-control custom-checkbox" 
                                                               ng-hide="beneficiary.beneficiary.placedStatus"
                                                               >
                                                            <input type="checkbox" class="custom-control-input"
                                                                   ng-model="beneficiary.checkedStatus"
                                                                   ng-click="trainee.addCheckedTraine(beneficiary.beneficiary.id,beneficiary.checkedStatus)">
                                                            <span class="custom-control-indicator"></span>
                                                        </label>
                                                    </td>
                                                    <td>{{$index+1}}</td>
                                                    <td>{{beneficiary.beneficiary.passportNo}}</td>
                                                    <td>{{beneficiary.beneficiary.fullName}}</td>
                                                    <td>
                                                        <b ng-show="beneficiary.beneficiary.placedStatus">Placed</b>
                                                        <b ng-show="!beneficiary.beneficiary.placedStatus">Un-Placed</b>
                                                    </td>
                                                    <td>

                                                        <a href="" ng-hide="beneficiary.beneficiary.placedStatus"
                                                           class="btn btn-xs"><i class="fa fa-user"></i>place</a>

                                                        <a href="" 
                                                           ng-show="beneficiary.beneficiary.placedStatus"
                                                           ng-click="trainee.showTransferForm(beneficiary)"
                                                           class="btn btn-xs"><i class="fa fa-user"></i>Transfer</a>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>


                                    <button type="submit" ng-click="trainee.saveMultipleTraineesToTrainer(trainee.traineesList)"
                                            ng-show="trainee.showTradeAreas"
                                            class="btn btn-info btn-sharp-corners">
                                        Place {{trainee.selectedTrainees.length}} Trainee(s)
                                    </button>
                                    <button type="button" data-dismiss="modal"
                                            class="btn btn-default btn-sharp-corners">
                                        Cancel
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>