﻿<div class="row">
    <div class="col-12">
        <br />
        <div class="card btn-sharp-corners">

            <div class="">
                <div class="card-body">
                    <h4 class="card-title">
                        Placement Of Beneficiaries
                        <i>
                            <small class="extra-info">{{trainee.providersList.length}} records</small>
                        </i>
                    </h4>
                    <form name="search">
                        <div class=" row" style="padding-bottom: 10px">

                            <div class="pull-right col-md-3">
                                <select class="form-control btn-sharp-corners" ng-model="trainee.searchProvider.countyId">
                                    <option selected="" disabled="">---Select County--</option>
                                    <option value="{{county.id}}" ng-repeat="county in trainee.counties">{{county.name}}</option>
                                </select>
                            </div>
                            <div class="pull-right col-md-3">
                                <input class="form-control btn-sharp-corners" ng-model="trainee.searchProvider.district"
                                       placeholder="sub county" />
                            </div>

                            <div class="pull-right col-md-3">
                                <select class="form-control btn-sharp-corners" ng-model="trainee.searchProvider.type">
                                    <option selected="" value="445">Training Institution</option>
                                    <option value="75">Master craftmen</option>
                                </select>
                            </div>

                            <div class=" col-md-2">
                                <button class="btn btn-primary form-control btn-sharp-corners"
                                        ng-click="trainee.getCountyProviders(trainee.searchProvider)">
                                    Get Providers
                                </button>
                            </div>

                        </div>
                    </form>

                    <input class="form-control btn-sharp-corners btn-sharp-corners" ng-model="trainee.searchFilterProvider"
                           placeholder="Search Provider" />
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>

                                    <th>#</th>
                                    <th>Provider Name</th>
                                    <th>Telephone</th>

                                    <th>City</th>
                                    <th>Status</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="provider in trainee.providersList| filter : trainee.searchFilterProvider">

                                    <td>{{$index+1}}</td>
                                    <td>

                                        <a href="" data-toggle="modal" data-target="#viewTrainees" 
                                        ng-click="trainee.getProviderWithTrainees(provider)"
                                           >
                                            {{provider.provider.fullName}}
                                        </a>
                                    </td>
                                    <td>{{provider.provider.telephone}}</td>
                                    <td>
                                        <a href="">{{provider.providers.city}}</a>
                                    </td>
                                    <td>
                                        <a href="" data-toggle="modal" data-target="#placementMultiple"
                                           ng-click="trainee.pickProvider(provider)">Place Beneficiaries</a>
                                    </td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div>
            @Html.Partial("_PlacementMultiple")
        </div>

        <div>
            @Html.Partial("_ViewTrainee")
        </div>
    </div>
</div>