﻿<div id="viewTrainees" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header btn-danger ">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-white"> {{trainee.currentPickedProvider.provider.name}} County
                    Beneficiaries Trade Areas-({{trainee.currentPickedProvider.provider.fullName}})</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="">
@*                        <h3 class="box-title m-b-0"> County Beneficiaries Trade Areas</h3>*@

                        <div class="row">
                            <div class="col-sm-12 col-xs-12">
                                <table class="table">
                                    <tr>
                                        <td>#</td>
                                        <td>Beneficiary</td>
                                        <td>Trade Area</td>
                                        
                                        <td></td>
                                    </tr>
                                    <tr ng-repeat="data in trainee.providerTrainees">
                                        <td>{{$index+1}}</td>
                                        <td>{{data.trainee.fullName}}</td>
                                        <td>{{data.name}}</td>

                                        <td><button class="btn btn-danger btn-sm btn-sharp-corners"><i class="fa fa-remove"></i></button></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>