﻿<link href="~/lib/css/custome-css/custome-css.css" rel="stylesheet"/>
<script src="~/CurriculumJs/angular.js"></script>
<script src="~/CurriculumJs/angular-route.js"></script>
<script src="~/CurriculumJs/AngularController/trainees.js"></script>


<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div ng-app="TraineesApp" ng-cloak="">

<div class="container-fluid" ng-controller="TraineesController">
<div class="row page-titles col-md-12 bottom-bordered"
     ng-init="trainee.getCourseCategories()">


    <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">Beneficiaries </h3>
    </div>
    <div class="col-md-7 text-right" style="padding-right: 0px" ng-init="trainee.showAddCategory=false">


        <div class="btn-group ml-auto m-t-10">
            <a href="JavaScript:void(0)" class="btn-sharp-corners btn btn-primary dropdown-toggle"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Beneficiaries Menu
            </a>
            <div class="dropdown-menu dropdown-menu-right" x-placement="top-end"
                 style="position: absolute; transform: translate3d(-184px, -197px, 0px); top: 0px; left: 0px; will-change: transform;">
                <a class="dropdown-item" ng-click="trainee.currentPage='currentStudents'" href="javascript:void(0)">Current Beneficiaries</a>
                <a class="dropdown-item" ng-click="trainee.currentPage='formerTrainees'" href="javascript:void(0)">Former Beneficiaries</a>
            </div>
        </div>

    </div>
    <div class="">
        <button class="right-side-toggle waves-effect waves-light btn-inverse
                        btn btn-circle btn-sm pull-right m-l-10">
            <i class="ti-settings text-white"></i>
        </button>
    </div>
</div>
<ul class="nav nav-tabs customtab" role="tablist">
    <li class="nav-item" ng-init="pDetails='active'">
        <a class="nav-link {{pDetails}}" href="" ng-click="trainee.currentPage='currentStudents'">
            <span class="hidden-sm-up">
                <i class="ti-home"></i>
            </span>
            <span class="hidden-xs-down">
                Beneficiaries
            </span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{PlacementDetails}}" href="" ng-click="trainee.currentPage='traineePlacement'">
            <span class="hidden-sm-up">
                <i class="ti-user"></i>
            </span>
            <span class="hidden-xs-down">
                Placement

            </span>
        </a>
    </li>
    <li class="nav-item ">
        <a class="nav-link {{AttDetails}}" href="" ng-click="trainee.currentPage='attendance'">
            <span class="hidden-sm-up">
                <i class="ti-email"></i>
            </span>
            <span class="hidden-xs-down">
                Attendance

            </span>
        </a>
    </li>
</ul>


<div ng-show="trainee.currentPage=='currentStudents'">
    <div class="row">
        <div class="col-12">
            <div class="col-md-12 text-right btn-md no-padding-sides">
                <button type="button" class="btn btn-info btn-sharp-corners"
                        ng-click="trainee.currentPage='addTrainee'" style="padding-bottom: 10px;">
                    Add Beneficiary
                </button>
            </div>
            <div class="card btn-sharp-corners">

                <div class="">
                    <div class="card-body">
                        <h4 class="card-title">
                            Beneficiaries
                            <i>
                                <small class="extra-info">{{trainee.curriculumList.length}} records</small>
                            </i>
                        </h4>
                        <form name="search">
                            <div class=" row" style="padding-bottom: 10px">

                                <div class="pull-right col-md-3">
                                    <select class="form-control btn-sharp-corners" ng-model="trainee.searchTrainee.countyId">
                                        <option selected="" disabled="">---SELECT COUNTY-</option>
                                        <option value="{{county.id}}" ng-repeat="county in trainee.counties">{{county.name}}</option>
                                    </select>
                                </div>
                                <div class="pull-right col-md-3">
                                    <input class="form-control btn-sharp-corners" ng-model="trainee.searchTrainee.district"
                                           placeholder="district" />
                                </div>

                                <div class="pull-right col-md-3" ng-model="trainee.searchTrainee.passportNo">
                                    <input class="form-control btn-sharp-corners" placeholder="Passport No" />
                                </div>

                                <div class=" col-md-2">
                                    <button class="btn btn-primary form-control btn-sharp-corners"
                                            ng-click="trainee.getSearchTrainee(trainee.searchTrainee)">
                                        Get Beneficiary
                                    </button>
                                </div>

                            </div>
                        </form>


                        @*                            <h6 class="card-subtitle">Add class <code>.table</code></h6>*@
                        <input class="form-control btn-sharp-corners btn-sharp-corners" ng-model="trainee.searchCategory"
                               placeholder="Search Beneficiaries"/>
                        <div class="table-responsive" ng-init="trainee.getTrainees()">
                            <div class="clearfix">&nbsp;</div>
                            <ul class="list-unstyled">

                                <li ng-repeat="beneficiary in trainee.traineesList|filter :trainee.searchCategory"
                                    ng-init="beneficiary.deleted=1" ng-show="beneficiary.deleted==1">

                                    <div class="" ng-init="beneficiary.showMore=false">
                                        <h2 class="bottom-bordered">
                                            {{$index+1}}. {{beneficiary.beneficiary.fullName}}
                                            <small>
                                                <i>{{beneficiary.beneficiary.passportNo}}</i>
                                            </small>
                                        </h2>
                                        <div>

                                            <label class="col-md-2">
                                                <b>Status</b>
                                            </label>
                                            <b ng-show="beneficiary.beneficiary.placedStatus">Placed</b>
                                            <b ng-show="!beneficiary.beneficiary.placedStatus">Un-Placed</b>
                                            <br />

                                            <label class="col-md-2">
                                                <b>Date Created</b>
                                            </label>{{beneficiary.beneficiary.dateOfBirth}}<br />
                                            <div ng-show="beneficiary.beneficiary.placedStatus">
                                                <label class="col-md-5">
                                                    <b><a href="">Click to view Placement Details</a></b>
                                                </label><br />
                                            </div>
                                        </div>
                                        <div class="col-md-12" ng-show="beneficiary.showMore==true">
                                            <h2 class="bottom-bordered">Address</h2>
                                            <label class="col-md-2">
                                                <b>City</b>
                                            </label>{{beneficiary.userAddress.city}} <br/>
                                            <label class="col-md-2">
                                                <b>District</b>
                                            </label>{{beneficiary.userAddress.district}} <br/>
                                            <label class="col-md-2">
                                                <b>County</b>
                                            </label>{{beneficiary.county}} <br/>
                                            <label class="col-md-2">
                                                <b>Physical Address</b>
                                            </label>{{beneficiary.userAddress.pAddress}} <br/>
                                            <label class="col-md-2">
                                                <b>Home Telephone</b>
                                            </label>{{beneficiary.userAddress.homeTel}} <br/>
                                        </div>

                                        <div class="col-md-12" ng-show="beneficiary.showMore==true && beneficiary.beneficiary.placedStatus">
                                            <h2 class="bottom-bordered">Training Information</h2>
                                            <label class="col-md-2">
                                                <b>Trade Area</b>
                                            </label> <br/>
                                            <label class="col-md-2">
                                                <b>Provider/MC</b>
                                            </label><br/>
                                            <label class="col-md-2">
                                                <b>Date Enrolled</b>
                                            </label><br/>

                                        </div>
                                        <div class="text-right">
                                            <button ng-click="beneficiary.showMore=!beneficiary.showMore" class="btn btn-sm btn btn-sharp-corners btn-info">
                                                <i class=" fa fa-chevron-circle-down" ng-show="!beneficiary.showMore">More..</i>
                                                <i class="fa fa-chevron-circle-up" ng-if="beneficiary.showMore">Hide.</i>
                                            </button>
                                            <button class="btn btn-sm btn btn-sharp-corners btn-dark" ng-click="trainee.currentPage='addTrainee'">

                                                <i class="">

                                                </i> Edit
                                            </button>
                                            <button class="btn btn-sm btn btn-sharp-corners btn-success"
                                                    ng-hide="beneficiary.beneficiary.approvedStatus"
                                                    ng-click="trainee.approveTrainee(beneficiary)">
                                                <i class=""></i> Approve
                                            </button>


                                            <button class="btn btn-sm btn btn-sharp-corners btn-danger" ng-click="beneficiary.deleted=0;trainee.deleteTrainee(beneficiary.beneficiary.id)">
                                                <i class=""></i> Delete
                                            </button>
                                            <button class="btn btn-sm btn btn-sharp-corners btn-primary"
                                                    ng-show="!beneficiary.beneficiary.placedStatus"
                                                    ng-click="trainee.selectTrainee(beneficiary);trainee.currentPlacementType = 'Placement'"
                                                    data-toggle="modal" data-target="#placement">
                                                <i class=""></i> Place
                                            </button>

                                            <button class="btn btn-sm btn btn-sharp-corners btn-primary"
                                                    ng-show="beneficiary.beneficiary.placedStatus"
                                                    ng-click="trainee.showTransferForm(beneficiary)"
                                                   >
                                                <i class=""></i> Transfer
                                            </button>

                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


</div>

<div ng-show="trainee.currentPage=='traineePlacement'">
    @Html.Partial("_TraineePlacement")
</div>


<div ng-show="trainee.currentPage=='addTrainee'">
    <br/>
    @Html.Partial("_AddTrainee")
</div>
<div ng-show="trainee.currentPage=='attendance'">
    <br/>
    @Html.Partial("_Attendance")
</div>


<div>

    @Html.Partial("_PlacementForm")
</div>
</div>

</div>